Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

docs: 2.6.0 changelog
  CHANGELOG.md
Due: prettier --write

docs: 2.6.0 changelog (#3060)
  CHANGELOG.md
Due: prettier --write

refactor(core-database-postgres): only handle vendorField towards the DB
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database-postgres/src/repositories/repository.ts
  packages/core-database-postgres/src/repositories/transactions.ts
Due: yarn lint, prettier --write

refactor: make use of more @arkecosystem/utils methods
  __tests__/unit/core-kernel/bootstrap/service-providers/boot-service-providers.test.ts
  __tests__/unit/core-kernel/services/config/watcher.test.ts
  __tests__/unit/core-kernel/services/log/drivers/pino.test.ts
  __tests__/unit/core-kernel/services/queue/drivers/memory.test.ts
  __tests__/unit/core-kernel/utils/httpie.test.ts
  packages/core-api/src/plugins/pagination/ext.ts
  packages/core-blockchain/package.json
  packages/core-blockchain/src/blockchain.ts
  packages/core-database/package.json
  packages/core-database/src/repositories/utils/sort-entries.ts
  packages/core-forger/package.json
  packages/core-forger/src/client.ts
  packages/core-kernel/package.json
  packages/core-kernel/src/utils/httpie.ts
  packages/core-kernel/src/utils/index.ts
  packages/core-p2p/package.json
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/socket-server/payload-processor.ts
  packages/core-p2p/src/utils/socket.ts
  packages/core-test-framework/src/helpers/rest-client.ts
  packages/core-webhooks/src/listener.ts
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

fix(crypto): strengthen schema validation checks
  __tests__/unit/crypto/blocks/factory.test.ts
  packages/crypto/src/blocks/block.ts
  packages/crypto/src/validation/index.ts
Due: yarn lint, prettier --write

chore(core-database-postgres): convert BYTEA to/from string (#3058)
  packages/core-database-postgres/src/models/transaction.ts
Due: yarn lint, prettier --write

fix(crypto): strengthen schema validation checks (#3062)
  __tests__/unit/crypto/blocks/factory.test.ts
  packages/crypto/src/blocks/block.ts
  packages/crypto/src/validation/index.ts
Due: yarn lint, prettier --write

misc: devnet aip11 milestone
  packages/crypto/src/networks/devnet/milestones.json
Due: prettier --write

misc: devnet minimumVersion milestone
  packages/crypto/src/networks/devnet/milestones.json
Due: prettier --write

misc: include 2.6 in minimumVersion
  packages/core-p2p/src/defaults.ts
Due: yarn lint, prettier --write

chore(core): load core-p2p earlier (#3051)
  __tests__/integration/core-transaction-pool/__support__/setup.ts
  __tests__/utils/config/testnet/plugins.js
  __tests__/utils/config/unitnet/plugins.js
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/plugins.js
Due: yarn lint, prettier --write

fix(deps): update dependency execa to v3
  packages/core/package.json
  yarn.lock
Due: prettier --write

misc(crypto): add devnet milestones (#3064)
  packages/core-p2p/src/defaults.ts
  packages/crypto/src/networks/devnet/milestones.json
Due: yarn lint, prettier --write

fix(deps): update dependency @hapi/wreck to v16
  packages/core-http-utils/package.json
  yarn.lock
Due: prettier --write

release: 2.6.0-next.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.6.0-next.0 (#3065)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore(core-exchange-json-rpc): bump @arkecosystem/exchange-json-rpc to 1.0.6
  packages/core-exchange-json-rpc/package.json
  yarn.lock
Due: prettier --write

fix: activate AIP11 at height 2 on testnet to avoid genesis collision
  packages/core-database/src/database-service.ts
  packages/crypto/src/networks/testnet/milestones.json
Due: yarn lint, prettier --write

chore(core-kernel): remove remote configuration driver
  __tests__/unit/core-kernel/services/config/drivers/remote.test.ts
  packages/core-kernel/src/services/config/drivers/index.ts
  packages/core-kernel/src/services/config/drivers/remote.ts
  packages/core-kernel/src/services/config/manager.ts
Due: yarn lint, prettier --write

chore(core-exchange-json-rpc): bump @arkecosystem/exchange-json-rpc to 1.0.6 (#3066)
  packages/core-exchange-json-rpc/package.json
  yarn.lock
Due: prettier --write

chore(crypto): updat milestone height
  packages/crypto/src/networks/devnet/milestones.json
Due: prettier --write

chore(crypto): updat milestone height (#3067)
  packages/crypto/src/networks/devnet/milestones.json
Due: prettier --write

chore(core): add core-magistrate-transactions as dependency
  packages/core/package.json
Due: prettier --write

release: 2.6.0-next.1
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix: raise `getCommonBlocks` rate limit
  packages/core-p2p/src/peer-processor.ts
  packages/core-p2p/src/utils/build-rate-limiter.ts
Due: yarn lint, prettier --write

fix(core-http-utils): use the request origin to avoid 404s
  packages/core-http-utils/src/plugins/trailing-slash.ts
Due: yarn lint, prettier --write

fix(core-p2p): raise `getCommonBlocks` rate limit (#3069)
  packages/core-p2p/src/peer-processor.ts
  packages/core-p2p/src/utils/build-rate-limiter.ts
Due: yarn lint, prettier --write

chore(core-http-utils): update @hapi/wreck dependency
  packages/core-http-utils/package.json
  yarn.lock
Due: prettier --write

chore: use node 12 as default version
  .github/workflows/benchmark.yml
  .github/workflows/functional.yml
  .github/workflows/test.yml
  .nvmrc
  install.sh
  vagrant/bootstrap.sh
Due: none

chore: use node 12 as default version (#3072)
  .github/workflows/benchmark.yml
  .github/workflows/functional.yml
  .github/workflows/test.yml
  .nvmrc
  install.sh
  vagrant/bootstrap.sh
Due: none

refactor(core-http-utils): early exit if there is no trailing slash
  packages/core-http-utils/src/plugins/trailing-slash.ts
Due: yarn lint, prettier --write

test(core-http-utils): add integration test for trailing slash plugin
  __tests__/integration/core-http-utils/src/plugins/trailing-slash.test.ts
Due: yarn lint, prettier --write

fix(core-api): add missing offset handling to /api/peers
  packages/core-api/src/handlers/peers/controller.ts
Due: yarn lint, prettier --write

chore(crypto): 2.6 prereleases after milestone
  packages/crypto/src/networks/devnet/milestones.json
Due: prettier --write

refactor(core-api): sort peers by height, latency, port
  __tests__/integration/core-api/handlers/peers.test.ts
  packages/core-api/src/handlers/peers/controller.ts
Due: yarn lint, prettier --write

wip
  packages/core-http-utils/src/plugins/trailing-slash.ts
Due: yarn lint, prettier --write

refactor: use spread operator to not mess with storage
  packages/core-api/src/handlers/peers/controller.ts
Due: yarn lint, prettier --write

Update controller.ts
  packages/core-api/src/handlers/peers/controller.ts
Due: yarn lint, prettier --write

chore(crypto): 2.6 prereleases after milestone (#3077)
  packages/crypto/src/networks/devnet/milestones.json
Due: prettier --write

fix(core-http-utils): use the request origin to avoid 404s (#3071)
  __tests__/integration/core-http-utils/src/plugins/trailing-slash.test.ts
  packages/core-http-utils/package.json
  packages/core-http-utils/src/plugins/trailing-slash.ts
  yarn.lock
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
