Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

deps: update packages (#4794)
  package.json
  packages/core-api/package.json
  packages/core-cli/package.json
  packages/core-kernel/package.json
  packages/core-p2p/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

refactor: update `install.sh` (#4797)
  install.sh
Due: none

fix(core-api): add `address` into transactionQueryLevelOptions (#4790)
  packages/core-api/src/resources-new/transaction.ts
Due: yarn lint, prettier --write

deps: upgrade `typescript` to 4.1.6 (#4793)
  __tests__/unit/core-forger/mocks/nes.ts
  __tests__/unit/core-kernel/services/schedule/block-job.test.ts
  __tests__/unit/core-kernel/utils/lock.test.ts
  __tests__/unit/core-p2p/hapi-nes/client.test.ts
  __tests__/unit/core-p2p/hapi-nes/socket.test.ts
  __tests__/unit/core-p2p/network-monitor.test.ts
  __tests__/unit/core-snapshots/workers/actions/test-worker-action.test.ts
  __tests__/unit/core-snapshots/workers/actions/worker-action.test.ts
  __tests__/unit/core-snapshots/workers/read-processor.test.ts
  __tests__/unit/core-snapshots/workers/worker-thread.test.ts
  __tests__/unit/core-snapshots/workers/worker-wrapper.test.ts
  __tests__/unit/core-state/block-state.test.ts
  __tests__/unit/core-state/round-state.test.ts
  __tests__/unit/core/commands/core-run.test.ts
  __tests__/unit/core/commands/forger-run.test.ts
  __tests__/unit/core/commands/relay-run.test.ts
  __tests__/unit/core/commands/snapshot-dump.test.ts
  __tests__/unit/core/commands/snapshot-restore.test.ts
  __tests__/unit/core/commands/snapshot-rollback.test.ts
  __tests__/unit/core/commands/snapshot-truncate.test.ts
  __tests__/unit/core/commands/snapshot-verify.test.ts
  package.json
  packages/core-cli/src/commands/command.ts
  packages/core-cli/src/services/source-providers/abstract-source.ts
  packages/core-kernel/src/providers/service-provider.ts
  packages/core-kernel/src/services/triggers/action.ts
  packages/core-kernel/src/types/index.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-p2p/src/hapi-nes/client.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/socket-server/plugins/await-block.ts
  packages/core-snapshots/src/database-service.ts
  packages/core-snapshots/src/workers/actions/abstract-worker-action.ts
  packages/core-snapshots/src/workers/actions/test-worker-action.ts
  packages/core-snapshots/src/workers/worker-wrapper.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core/src/commands/network-generate.ts
  yarn.lock
Due: yarn lint, prettier --write

deps: update `lerna` to 7.1.4 (#4792)
  .github/workflows/lint.yml
  lerna.json
  package.json
  packages/core-cli/src/input/parser.ts
  tsconfig.json
  yarn.lock
Due: yarn lint, prettier --write

Fix script
  scripts/version.sh
Due: none

release. 3.8.2
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.8.2 (#4800)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  scripts/version.sh
Due: prettier --write

Install node-gyp
  docker/production/Dockerfile
Due: none

fix: docker build (#4803)
  docker/production/Dockerfile
Due: none

Fast sync default
  packages/core-blockchain/src/defaults.ts
  packages/core-blockchain/src/service-provider.ts
Due: yarn lint, prettier --write

Use value
  packages/core-blockchain/src/blockchain.ts
Due: yarn lint, prettier --write

fix tests
  __tests__/unit/core-blockchain/blockchain.test.ts
Due: yarn lint, prettier --write

Support docker without gcc
  packages/core/bin/run
Due: none

feat(core-blockchain): increase block download frequency using fastSync option (#4805)
  __tests__/unit/core-blockchain/blockchain.test.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/defaults.ts
  packages/core-blockchain/src/service-provider.ts
Due: yarn lint, prettier --write

feat(core): discover libjemalloc.so without installed gcc (#4806)
  packages/core/bin/run
Due: none

Update lerna
  package.json
  yarn.lock
Due: prettier --write

Update rimraf
  package.json
  yarn.lock
Due: prettier --write

Remove uuid
  package.json
Due: prettier --write

REmove del-cli
  package.json
  yarn.lock
Due: prettier --write

Update capture-console
  package.json
  yarn.lock
Due: prettier --write

Update depcheck
  package.json
  yarn.lock
Due: prettier --write

Remove get-port
  package.json
Due: prettier --write

Remove js-yaml
  package.json
  yarn.lock
Due: prettier --write

Update moment-timezone
  package.json
  yarn.lock
Due: prettier --write

Update nock
  package.json
  yarn.lock
Due: prettier --write

Remove husky
  package.json
  yarn.lock
Due: prettier --write

Update sinon
  package.json
  yarn.lock
Due: prettier --write

Remove lint-staged
  package.json
  yarn.lock
Due: prettier --write

Update qs
  packages/core-api/package.json
  yarn.lock
Due: prettier --write

Update joi
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

Update rate-limiter-flexible
  packages/core-api/package.json
  packages/core-api/src/plugins/rate-limit.ts
  packages/core-p2p/package.json
  yarn.lock
Due: yarn lint, prettier --write

Update @types/semaphore
  packages/core-api/package.json
  yarn.lock
Due: prettier --write

Update dayjs
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-kernel/package.json
  packages/core-p2p/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

Update kleur
  packages/core-cli/package.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

Remove @types/async
  packages/core-blockchain/package.json
  yarn.lock
Due: prettier --write
