Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

fix(core-blockchain): apply block on transaction-pool after block broadcast (#4721)
  __tests__/unit/core-blockchain/process-blocks-job.test.ts
  __tests__/unit/core-blockchain/processor/handlers/accept-block-handler.test.ts
  __tests__/unit/core-blockchain/processor/handlers/revert-block-handler.test.ts
  __tests__/unit/core-transaction-pool/service.test.ts
  packages/core-blockchain/src/process-blocks-job.ts
  packages/core-blockchain/src/processor/handlers/accept-block-handler.ts
  packages/core-blockchain/src/processor/handlers/revert-block-handler.ts
  packages/core-transaction-pool/src/service.ts
Due: yarn lint, prettier --write

feat(core-transactions): implements second and multi signature memoizers (#4714)
  __tests__/unit/core-api/__support__/app.ts
  __tests__/unit/core-magistrate-transactions/__support__/app.ts
  __tests__/unit/core-transactions/handlers/__support__/app.ts
  __tests__/unit/core-transactions/handlers/handler-registry.test.ts
  __tests__/unit/core-transactions/service-provider.test.ts
  packages/core-kernel/src/contracts/index.ts
  packages/core-kernel/src/contracts/transactions/index.ts
  packages/core-kernel/src/contracts/transactions/memoizers.ts
  packages/core-kernel/src/ioc/identifiers.ts
  packages/core-transactions/__tests__/memoizers/multi-signature-verification.test.ts
  packages/core-transactions/__tests__/memoizers/second-signature-verification.test.ts
  packages/core-transactions/package.json
  packages/core-transactions/src/defaults.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/memoizers/index.ts
  packages/core-transactions/src/memoizers/multi-signature-verification.ts
  packages/core-transactions/src/memoizers/second-signature-verification.ts
  packages/core-transactions/src/service-provider.ts
Due: yarn lint, prettier --write

feat: implements mempool indexes (#4718)
  __tests__/integration/core-state/__support__/setup.ts
  __tests__/unit/core-api/__support__/app.ts
  __tests__/unit/core-magistrate-transactions/__support__/app.ts
  __tests__/unit/core-magistrate-transactions/handlers/entity.test.ts
  __tests__/unit/core-transaction-pool/mempool-index-registry.test.ts
  __tests__/unit/core-transaction-pool/mempool-index.test.ts
  __tests__/unit/core-transaction-pool/mempool.test.ts
  __tests__/unit/core-transaction-pool/sender-state.test.ts
  __tests__/unit/core-transactions/handlers/__support__/app.ts
  __tests__/unit/core-transactions/handlers/handler-registry.test.ts
  __tests__/unit/core-transactions/handlers/two/delegate-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-claim.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-refund.test.ts
  __tests__/unit/core-transactions/handlers/two/ipfs.test.ts
  __tests__/unit/core-transactions/handlers/two/multi-signature-registration.test.ts
  packages/core-kernel/src/contracts/transaction-pool/index.ts
  packages/core-kernel/src/contracts/transaction-pool/mempool-index-registry.ts
  packages/core-kernel/src/contracts/transaction-pool/mempool-index.ts
  packages/core-kernel/src/ioc/identifiers.ts
  packages/core-magistrate-transactions/src/enums.ts
  packages/core-magistrate-transactions/src/handlers/entity.ts
  packages/core-magistrate-transactions/src/service-provider.ts
  packages/core-transaction-pool/src/actions/index.ts
  packages/core-transaction-pool/src/actions/on-pool-enter.ts
  packages/core-transaction-pool/src/actions/on-pool-leave.ts
  packages/core-transaction-pool/src/mempool-index-registry.ts
  packages/core-transaction-pool/src/mempool-index.ts
  packages/core-transaction-pool/src/mempool.ts
  packages/core-transaction-pool/src/sender-state.ts
  packages/core-transaction-pool/src/service-provider.ts
  packages/core-transactions/src/enums.ts
  packages/core-transactions/src/handlers/one/delegate-registration.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/two/htlc-claim.ts
  packages/core-transactions/src/handlers/two/htlc-refund.ts
  packages/core-transactions/src/handlers/two/ipfs.ts
  packages/core-transactions/src/handlers/two/multi-signature-registration.ts
  packages/core-transactions/src/service-provider.ts
Due: yarn lint, prettier --write

feat(core-transaction-pool): apply block (#4719)
  __tests__/unit/core-blockchain/processor/handlers/accept-block-handler.test.ts
  __tests__/unit/core-magistrate-transactions/handlers/entity.test.ts
  __tests__/unit/core-transaction-pool/mempool-index.test.ts
  __tests__/unit/core-transaction-pool/mempool.test.ts
  __tests__/unit/core-transaction-pool/sender-mempool.test.ts
  __tests__/unit/core-transaction-pool/service.test.ts
  __tests__/unit/core-transactions/handlers/two/delegate-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-claim.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-refund.test.ts
  __tests__/unit/core-transactions/handlers/two/ipfs.test.ts
  __tests__/unit/core-transactions/handlers/two/multi-signature-registration.test.ts
  packages/core-blockchain/src/processor/handlers/accept-block-handler.ts
  packages/core-kernel/src/contracts/transaction-pool/mempool-index.ts
  packages/core-kernel/src/contracts/transaction-pool/mempool.ts
  packages/core-kernel/src/contracts/transaction-pool/sender-mempool.ts
  packages/core-kernel/src/contracts/transaction-pool/service.ts
  packages/core-magistrate-transactions/src/handlers/entity.ts
  packages/core-transaction-pool/src/mempool-index.ts
  packages/core-transaction-pool/src/mempool.ts
  packages/core-transaction-pool/src/sender-mempool.ts
  packages/core-transaction-pool/src/service.ts
  packages/core-transactions/src/handlers/one/delegate-registration.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/two/htlc-claim.ts
  packages/core-transactions/src/handlers/two/htlc-refund.ts
  packages/core-transactions/src/handlers/two/ipfs.ts
  packages/core-transactions/src/handlers/two/multi-signature-registration.ts
Due: yarn lint, prettier --write

refactor(core-transactions): use custom clear on memoized verifiers instead LUR cache (#4720)
  __tests__/unit/core-api/__support__/app.ts
  __tests__/unit/core-magistrate-transactions/__support__/app.ts
  __tests__/unit/core-transaction-pool/service.test.ts
  __tests__/unit/core-transactions/handlers/__support__/app.ts
  __tests__/unit/core-transactions/handlers/handler-registry.test.ts
  packages/core-kernel/src/contracts/transactions/index.ts
  packages/core-kernel/src/contracts/transactions/verification.ts
  packages/core-kernel/src/ioc/identifiers.ts
  packages/core-transaction-pool/src/service.ts
  packages/core-transactions/__tests__/memoizers/multi-signature-verification.test.ts
  packages/core-transactions/__tests__/memoizers/second-signature-verification.test.ts
  packages/core-transactions/__tests__/verification/multi-signature-verification-memoized.test.ts
  packages/core-transactions/__tests__/verification/multi-signature-verification.test.ts
  packages/core-transactions/__tests__/verification/second-signature-verification-memoized.test.ts
  packages/core-transactions/__tests__/verification/second-signature-verification.test.ts
  packages/core-transactions/package.json
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/memoizers/index.ts
  packages/core-transactions/src/memoizers/multi-signature-verification.ts
  packages/core-transactions/src/memoizers/second-signature-verification.ts
  packages/core-transactions/src/service-provider.ts
  packages/core-transactions/src/verification/cache.ts
  packages/core-transactions/src/verification/index.ts
  packages/core-transactions/src/verification/multi-signature-verification-memoized.ts
  packages/core-transactions/src/verification/multi-signature-verification.ts
  packages/core-transactions/src/verification/second-signature-verification-memoized.ts
  packages/core-transactions/src/verification/second-signature-verification.ts
Due: yarn lint, prettier --write

chore: enable `declarationMap` typescript option (#4717)
  tsconfig.json
Due: prettier --write

fix(core-webhooks): use timeout form defaults.ts for broadcast (#4710)
  __tests__/unit/core-webhooks/listener.test.ts
  packages/core-webhooks/src/listener.ts
Due: yarn lint, prettier --write

fix(core-webhooks): enable listener when webhooks are enabled (#4712)
  __tests__/unit/core-webhooks/service-provider.test.ts
  packages/core-webhooks/src/service-provider.ts
Due: yarn lint, prettier --write

release: 3.6.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.6.0 (#4725)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-database): query optimizer workaround
  packages/core-database/src/repositories/abstract-repository.ts
Due: yarn lint, prettier --write

Fix only for timestamp in transaction
  packages/core-database/src/repositories/abstract-repository.ts
Due: yarn lint, prettier --write

update @hapi/boom
  packages/core-api/package.json
  packages/core-magistrate-api/package.json
  packages/core-p2p/package.json
  packages/core-webhooks/package.json
  pnpm-lock.yaml
Due: prettier --write

Update @hapi/hapi
  __tests__/integration/package.json
  packages/core-api/package.json
  packages/core-magistrate-api/package.json
  packages/core-p2p/package.json
  packages/core-webhooks/package.json
  pnpm-lock.yaml
Due: prettier --write

Remove deprecated @types/hapi__boom
  packages/core-api/package.json
  packages/core-magistrate-api/package.json
  packages/core-webhooks/package.json
  pnpm-lock.yaml
Due: prettier --write

Update @types/hapi__hapi
  packages/core-api/__tests__/server.test.ts
  packages/core-api/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-api/src/service-provider.ts
  packages/core-p2p/package.json
  packages/core-webhooks/package.json
  pnpm-lock.yaml
Due: yarn lint, prettier --write

Update @hapi/hoek
  packages/core-api/package.json
  packages/core-p2p/package.json
  pnpm-lock.yaml
Due: prettier --write

Update @hapi/bounce
  packages/core-p2p/package.json
  pnpm-lock.yaml
Due: prettier --write

Update @hapi/teamwork
  packages/core-p2p/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(core-database): query optimizer workaround (#4726)
  packages/core-database/src/repositories/abstract-repository.ts
Due: yarn lint, prettier --write

deps: update @hapi packages (#4727)
  __tests__/integration/package.json
  packages/core-api/__tests__/server.test.ts
  packages/core-api/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-api/src/service-provider.ts
  packages/core-p2p/package.json
  packages/core-webhooks/package.json
  pnpm-lock.yaml
Due: yarn lint, prettier --write

deps: update lerna to 6.0.3
  package.json
  yarn.lock
Due: prettier --write

release: 4.0.0-next.22
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 4.0.0-next.22 (#4729)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

deps: update lerna to 6.0.3 (#4728)
  package.json
  yarn.lock
Due: prettier --write

merge: cherry-pick query optimizer workaround (#4726) (#4730)
  packages/core-database/src/repositories/abstract-repository.ts
Due: yarn lint, prettier --write

release: 3.6.1
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.6.1 (#4732)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

feat: add rc min version
  packages/core-p2p/src/defaults.ts
Due: yarn lint, prettier --write

chore: add install-rc.sh script
  install-rc.sh
Due: none

chore: add install-rc.sh script (#4733)
  install-rc.sh
Due: none

Update @arkecosystem/crypto-networks to 1.3.0
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

feat: add support for `rc` channel (#4734)
  packages/core-p2p/src/defaults.ts
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

feat: add support for `rc` channel (#4734)
  packages/core-p2p/src/defaults.ts
  packages/crypto/package.json
Due: yarn lint, prettier --write

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

add publish 4.x workflow
  .github/workflows/publish-4.x.yml
Due: none

remove publish-develop workflow
  .github/workflows/publish-develop.yml
Due: none

Remove unused workflows
  .github/workflows/devnet-sync.yml
  .github/workflows/mainnet-sync.yml
  .github/workflows/publish-master.yml
Due: none
