Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

fix(core-p2p): increase rate limit to handle bigger networks
  packages/core-p2p/src/defaults.ts
  packages/core-p2p/src/peer-verifier.ts
  yarn.lock
Due: yarn lint, prettier --write

test(core-p2p): adjust rate limits
  __tests__/integration/core-p2p/socket-server/peer.test.ts
Due: yarn lint, prettier --write

refactor(core-database-postgres): use sql to calculate fee statistics (#2692)
  packages/core-api/package.json
  packages/core-api/src/handlers/node/controller.ts
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/queries/transactions/fee-statistics.sql
  packages/core-database-postgres/src/repositories/transactions.ts
Due: yarn lint, prettier --write

fix(core-p2p): increase rate limit to handle bigger networks (#2693)
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-p2p/src/defaults.ts
  packages/core-p2p/src/peer-verifier.ts
  yarn.lock
Due: yarn lint, prettier --write

fix(install.sh): don't fail if apt-get or yum is not found
  install.sh
Due: none

fix(install.sh): use simpler way to check if the DB user exists
  install.sh
Due: none

refactor(core): start process in production env (#2689)
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

release: 2.4.1
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

release: 2.4.1 (#2695)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

test(core-database): add a missing resetAll() method to a stub
  __tests__/unit/core-database/__fixtures__/database-connection-stub.ts
Due: yarn lint, prettier --write

refactor: store IBlockData in lastDownloadedBlock
  __tests__/unit/core-blockchain/blockchain.test.ts
  __tests__/unit/core-blockchain/state-machine.test.ts
  __tests__/unit/core-blockchain/stubs/state-storage.ts
  __tests__/unit/core-state/__fixtures__/state-storage-stub.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/processor/handlers/accept-block-handler.ts
  packages/core-blockchain/src/state-machine.ts
  packages/core-interfaces/src/core-blockchain/blockchain.ts
  packages/core-interfaces/src/core-state/state-store.ts
  packages/core-p2p/src/socket-server/versions/peer.ts
  packages/core-state/src/stores/state.ts
Due: yarn lint, prettier --write

refactor(crypto): include block height in BlockSchemaError
  packages/crypto/src/blocks/block.ts
  packages/crypto/src/errors.ts
Due: yarn lint, prettier --write

fix(core-blockchain): chunk blocks by milestone
  packages/core-blockchain/src/blockchain.ts
Due: yarn lint, prettier --write

refactor(core-blockchain): cleanup import
  packages/core-blockchain/src/blockchain.ts
Due: yarn lint, prettier --write

perf(crypto): cache genesis transaction ids
  packages/crypto/src/utils/index.ts
Due: yarn lint, prettier --write

test: fix
  __tests__/unit/core-blockchain/blockchain.test.ts
  __tests__/unit/core-blockchain/stubs/state-storage.ts
Due: yarn lint, prettier --write

test: fix
  __tests__/unit/core-database/__fixtures__/state-storage-stub.ts
Due: yarn lint, prettier --write

perf(crypto): cache genesis transaction ids (#2699)
  packages/crypto/src/utils/index.ts
Due: yarn lint, prettier --write

fix(core-blockchain): take milestones into account when downloading blocks in parallel (#2700)
  __tests__/unit/core-blockchain/blockchain.test.ts
  __tests__/unit/core-blockchain/state-machine.test.ts
  __tests__/unit/core-blockchain/stubs/state-storage.ts
  __tests__/unit/core-database/__fixtures__/state-storage-stub.ts
  __tests__/unit/core-state/__fixtures__/state-storage-stub.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/processor/handlers/accept-block-handler.ts
  packages/core-blockchain/src/state-machine.ts
  packages/core-interfaces/src/core-blockchain/blockchain.ts
  packages/core-interfaces/src/core-state/state-store.ts
  packages/core-p2p/src/socket-server/versions/peer.ts
  packages/core-state/src/stores/state.ts
  packages/crypto/src/blocks/block.ts
  packages/crypto/src/errors.ts
Due: yarn lint, prettier --write

release: 2.4.12
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.4.12 (#2701)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.5.0-next.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.5.0-next.0 (#2702)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-p2p): add 2.5 to minimum versions
  packages/core-p2p/src/defaults.ts
Due: yarn lint, prettier --write

release: 2.5.0-next.1
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.5.0-next.1 (#2704)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-p2p): add 2.5 to minimum versions (#2703)
  packages/core-p2p/src/defaults.ts
Due: yarn lint, prettier --write

docs(changelog): fix formatting
  CHANGELOG.md
Due: prettier --write

chore: prepare new network config 🎉
  install.sh
  packages/core/bin/config/devnet/.env
  packages/core/bin/config/devnet/peers.json
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/mainnet/peers.json
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/.env
  packages/core/bin/config/testnet/delegates.json
  packages/core/bin/config/testnet/peers.json
  packages/core/bin/config/testnet/plugins.js
  packages/core/package.json
  packages/crypto/src/networks/devnet/exceptions.json
  packages/crypto/src/networks/devnet/genesisBlock.json
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/devnet/network.json
  packages/crypto/src/networks/mainnet/exceptions.json
  packages/crypto/src/networks/mainnet/genesisBlock.json
  packages/crypto/src/networks/mainnet/milestones.json
  packages/crypto/src/networks/mainnet/network.json
  packages/crypto/src/networks/testnet/exceptions.json
  packages/crypto/src/networks/testnet/genesisBlock.json
  packages/crypto/src/networks/testnet/milestones.json
  packages/crypto/src/networks/testnet/network.json
Due: prettier --write

refactor(core-database-postgres): remove redundant loop
  packages/core-database-postgres/src/postgres-connection.ts
Due: yarn lint, prettier --write

fix(core-database-postgres): block and transaction insert
  packages/core-database-postgres/src/postgres-connection.ts
  packages/core-database-postgres/src/repositories/repository.ts
  packages/core-interfaces/src/core-database/database-repository/repository.ts
Due: yarn lint, prettier --write

fix(core-database-postgres): dont insert when empty, update saveBlock
  packages/core-database-postgres/src/postgres-connection.ts
Due: yarn lint, prettier --write

fix: handle undefined response
  packages/core-p2p/src/peer-verifier.ts
Due: yarn lint, prettier --write

fix(core-database-postgres): batch delete
  packages/core-database-postgres/src/postgres-connection.ts
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-interfaces/src/core-database/database-repository/blocks-repository.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
Due: yarn lint, prettier --write

refactor: use destructure, limit rollback
  packages/core-database-postgres/src/postgres-connection.ts
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write
