Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

fix(core-transaction-pool): disallow multiple registrations for same delegate
  packages/core-transaction-pool/__tests__/guard.test.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/guard.ts
  packages/core-transaction-pool/src/mem.ts
Due: yarn lint, prettier --write

chore: add vagrant boxes for easier testing on different platforms
  .circleci/config.yml
  .circleci/configTemplate.json
  .circleci/rebuild-db.sh
  .dev/bootstrap.sh
  .dev/centos/6/Vagrantfile
  .dev/centos/7/Vagrantfile
  .dev/debian/8_10/Vagrantfile
  .dev/debian/9_4/Vagrantfile
  .dev/ubuntu/16_04/Vagrantfile
  .dev/ubuntu/18_04/Vagrantfile
  .gitignore
  packages/core-database-postgres/__tests__/__support__/setup.ts
  packages/core-test-utils/src/config/testnet/plugins.js
  packages/core-test-utils/src/config/unitnet/plugins.js
  packages/core/__tests__/__support__/config/plugins.js
Due: yarn lint, prettier --write

chore: move vagrant files from .dev to vagrant
  vagrant/bootstrap.sh
  vagrant/centos/6/Vagrantfile
  vagrant/centos/7/Vagrantfile
  vagrant/debian/8_10/Vagrantfile
  vagrant/debian/9_4/Vagrantfile
  vagrant/ubuntu/16_04/Vagrantfile
  vagrant/ubuntu/18_04/Vagrantfile
Due: none

chore(core): remove genesis blocks from config
  packages/core/bin/config/devnet/genesisBlock.json
  packages/core/bin/config/mainnet/genesisBlock.json
  packages/core/bin/config/testnet/genesisBlock.json
Due: prettier --write

fix(core): move the shared commands out of the commands namespace
  packages/core/src/commands/core/log.ts
  packages/core/src/commands/core/restart.ts
  packages/core/src/commands/core/start.ts
  packages/core/src/commands/core/stop.ts
  packages/core/src/commands/forger/log.ts
  packages/core/src/commands/forger/restart.ts
  packages/core/src/commands/forger/start.ts
  packages/core/src/commands/forger/stop.ts
  packages/core/src/commands/relay/log.ts
  packages/core/src/commands/relay/restart.ts
  packages/core/src/commands/relay/start.ts
  packages/core/src/commands/relay/stop.ts
  packages/core/src/shared/log.ts
  packages/core/src/shared/restart.ts
  packages/core/src/shared/start.ts
  packages/core/src/shared/stop.ts
Due: yarn lint, prettier --write

fix(core): add missing flags and fix imports
  packages/core/src/commands/command.ts
  packages/core/src/commands/config/publish.ts
  packages/core/src/commands/core/start.ts
  packages/core/src/commands/helpers.ts
  packages/core/src/commands/relay/start.ts
  packages/core/src/utils.ts
Due: yarn lint, prettier --write

fix(core): setting the bip38 and bip39 values
  packages/core/src/commands/command.ts
  packages/core/src/commands/config/forger/bip38.ts
  packages/core/src/commands/config/forger/bip39.ts
  packages/core/src/commands/config/forger/index.ts
  packages/core/src/commands/config/publish.ts
  packages/core/src/commands/config/reset.ts
  packages/core/src/commands/env/get.ts
  packages/core/src/commands/env/list.ts
  packages/core/src/commands/env/set.ts
Due: yarn lint, prettier --write

fix(core): pass correct arguments and version to container
  packages/core/src/commands/command.ts
  packages/core/src/commands/core/start.ts
  packages/core/src/commands/forger/start.ts
  packages/core/src/commands/relay/start.ts
Due: yarn lint, prettier --write

chore(core): update default .env files
  packages/core/bin/config/devnet/.env
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/testnet/.env
Due: none

fix(core): start processes via bin instead of dist
  packages/core/src/commands/command.ts
  packages/core/src/commands/core/start.ts
  packages/core/src/commands/forger/start.ts
  packages/core/src/commands/helpers.ts
  packages/core/src/commands/relay/start.ts
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

chore(core): remove old npm scripts
  packages/core/package.json
Due: prettier --write

chore(core): remove commander.js dependency
  packages/core/__tests__/__support__/app.ts
  packages/core/package.json
  yarn.lock
Due: yarn lint, prettier --write

chore(core): remove dummy tests
  .circleci/config.yml
  packages/core/__tests__/__support__/app.ts
  packages/core/__tests__/__support__/config/delegates.json
  packages/core/__tests__/__support__/config/genesisBlock.json
  packages/core/__tests__/__support__/config/peers.json
  packages/core/__tests__/__support__/config/plugins.js
  packages/core/__tests__/commands/command.test.ts
  packages/core/package.json
Due: yarn lint, prettier --write

refactor(core): drop presets for a later milestone
  .codecov.yml
  greenkeeper.json
  packages/core-container/src/container.ts
  packages/core-container/src/preset.ts
  packages/core/bin/presets/forger/.env
  packages/core/bin/presets/forger/plugins.js
  packages/core/bin/presets/full/.env
  packages/core/bin/presets/full/plugins.js
  packages/core/bin/presets/relay-api/.env
  packages/core/bin/presets/relay-api/plugins.js
  packages/core/bin/presets/relay-forger/.env
  packages/core/bin/presets/relay-forger/plugins.js
  packages/core/bin/presets/relay-minimal/.env
  packages/core/bin/presets/relay-minimal/plugins.js
  packages/core/bin/presets/relay-rpc/.env
  packages/core/bin/presets/relay-rpc/plugins.js
  packages/core/bin/presets/relay-webhooks/.env
  packages/core/bin/presets/relay-webhooks/plugins.js
  packages/core/package.json
  packages/core/src/commands/command.ts
Due: yarn lint, prettier --write

fix(core): wrong forger start command
  packages/core/src/commands/forger/start.ts
Due: yarn lint, prettier --write

refactor(core): remove redundant core suffix
  packages/core/src/commands/forger/log.ts
  packages/core/src/commands/forger/restart.ts
  packages/core/src/commands/forger/stop.ts
  packages/core/src/commands/relay/log.ts
  packages/core/src/commands/relay/restart.ts
  packages/core/src/commands/relay/stop.ts
Due: yarn lint, prettier --write

feat(core): auto detect the configured networks
  packages/core/src/commands/command.ts
  packages/core/src/commands/config/forger/bip38.ts
  packages/core/src/commands/config/forger/bip39.ts
  packages/core/src/commands/config/publish.ts
  packages/core/src/commands/config/reset.ts
  packages/core/src/commands/env/get.ts
  packages/core/src/commands/env/list.ts
  packages/core/src/commands/env/set.ts
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

fix(core): exit the process on ctrl + c
  packages/core/src/commands/command.ts
  packages/core/src/commands/config/forger/bip38.ts
  packages/core/src/commands/config/forger/bip39.ts
  packages/core/src/commands/config/forger/index.ts
  packages/core/src/commands/config/publish.ts
Due: yarn lint, prettier --write

test(core-database): add tests for getBlocksByHeight() (100% coverage)
  packages/core-database/__tests__/database-service.test.ts
  packages/core-database/src/database-service.ts
Due: yarn lint, prettier --write

fix(core): explicitly define flags for inherited commands
  packages/core/src/commands/core/log.ts
  packages/core/src/commands/core/restart.ts
  packages/core/src/commands/core/stop.ts
  packages/core/src/commands/forger/log.ts
  packages/core/src/commands/forger/restart.ts
  packages/core/src/commands/forger/stop.ts
  packages/core/src/commands/relay/log.ts
  packages/core/src/commands/relay/restart.ts
  packages/core/src/commands/relay/stop.ts
  packages/core/src/helpers/pm2.ts
  packages/core/src/shared/log.ts
  packages/core/src/shared/restart.ts
  packages/core/src/shared/stop.ts
Due: yarn lint, prettier --write

fix(core-container): only register the exit handler if the app is ready
  packages/core-container/src/container.ts
Due: yarn lint, prettier --write

feat(core): top command
  packages/core/package.json
  packages/core/src/commands/env/list.ts
  packages/core/src/commands/top.ts
  packages/core/src/helpers/pm2.ts
  yarn.lock
Due: yarn lint, prettier --write

refactor(core): pretty print the uptime
  packages/core/src/helpers/pm2.ts
Due: yarn lint, prettier --write

refactor(core): better resource formatting
  packages/core/src/helpers/pm2.ts
Due: yarn lint, prettier --write

fix(core): pm2 process names
  packages/core/src/commands/forger/start.ts
  packages/core/src/commands/relay/start.ts
Due: yarn lint, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

docs: 2.1.0 changelog (#2072)
  CHANGELOG.md
Due: prettier --write

fix(core-transaction-pool): disallow multiple registrations for same delegate (#2080)
  packages/core-transaction-pool/__tests__/guard.test.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/guard.ts
  packages/core-transaction-pool/src/mem.ts
Due: yarn lint, prettier --write

chore: do not run tests in prepublishOnly
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  scripts/release.sh
Due: prettier --write

chore: add vagrant boxes for easier testing on multiple platforms (#2079)
  .circleci/config.yml
  .circleci/configTemplate.json
  .circleci/rebuild-db.sh
  .gitignore
  packages/core-database-postgres/__tests__/__support__/setup.ts
  packages/core-test-utils/src/config/testnet/plugins.js
  packages/core-test-utils/src/config/unitnet/plugins.js
  packages/core/__tests__/__support__/config/plugins.js
  vagrant/bootstrap.sh
  vagrant/centos/6/Vagrantfile
  vagrant/centos/7/Vagrantfile
  vagrant/debian/8_10/Vagrantfile
  vagrant/debian/9_4/Vagrantfile
  vagrant/ubuntu/16_04/Vagrantfile
  vagrant/ubuntu/18_04/Vagrantfile
Due: yarn lint, prettier --write

feat: p2p with socketcluster 1st commit (WIP)
  packages/core-p2p/package.json
  packages/core-p2p/src/peer.ts
  packages/core-p2p/src/plugin.ts
  packages/core-p2p/src/socket-server/broker.ts
  packages/core-p2p/src/socket-server/index.ts
  packages/core-p2p/src/socket-server/versions/peer/index.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

chore: do not run tests in prepublishOnly (#2081)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  scripts/release.sh
Due: prettier --write

test: p2p socket cluster tests (WIP)
  packages/core-p2p/__tests__/__support__/mock-socket-server/broker.js
  packages/core-p2p/__tests__/__support__/mock-socket-server/index.js
  packages/core-p2p/__tests__/__support__/mock-socket-server/worker.js
  packages/core-p2p/__tests__/__support__/setup.ts
  packages/core-p2p/__tests__/peer.test.ts
  packages/core-p2p/__tests__/socket-server/peer.test.ts
Due: yarn lint, prettier --write

fix(core-container): register exit handlers in setUp
  packages/core-container/src/container.ts
Due: yarn lint, prettier --write

refactor(core): ask for a restart if a process already exists
  packages/core/src/helpers/pm2.ts
Due: yarn lint, prettier --write

fix(core): restart via pm2 directly
  packages/core/src/helpers/pm2.ts
Due: yarn lint, prettier --write

fix(core): filter out non-network folders
  packages/core/src/commands/command.ts
Due: yarn lint, prettier --write

fix: /node/configuration show dynamic fees
  packages/core-api/src/versions/2/node/controller.ts
Due: yarn lint, prettier --write

test: add
  packages/core-api/__tests__/v2/handlers/node.test.ts
  packages/core-api/src/versions/2/node/controller.ts
Due: yarn lint, prettier --write
