Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
}

fix: cast to array
  packages/core-transaction-pool/lib/guard.js
Due: eslint --fix, prettier --write

fix: condition
  packages/core-transaction-pool/lib/guard.js
Due: eslint --fix, prettier --write

fix(core-transaction-pool): keep transaction broadcast when pool is full (#1493)
  packages/core-transaction-pool/__tests__/guard.test.js
  packages/core-transaction-pool/lib/guard.js
Due: eslint --fix, prettier --write

refactor(core-api): implement server methods (#1492)
  packages/core-api/lib/utils/generate-cache-key.js
  packages/core-api/lib/versions/1/handlers/accounts.js
  packages/core-api/lib/versions/1/handlers/blocks.js
  packages/core-api/lib/versions/1/handlers/delegates.js
  packages/core-api/lib/versions/1/handlers/transactions.js
  packages/core-api/lib/versions/1/index.js
  packages/core-api/lib/versions/1/methods/accounts.js
  packages/core-api/lib/versions/1/methods/blocks.js
  packages/core-api/lib/versions/1/methods/delegates.js
  packages/core-api/lib/versions/1/methods/transactions.js
  packages/core-api/lib/versions/1/utils.js
  packages/core-api/lib/versions/2/handlers/blocks.js
  packages/core-api/lib/versions/2/handlers/delegates.js
  packages/core-api/lib/versions/2/handlers/transactions.js
  packages/core-api/lib/versions/2/handlers/votes.js
  packages/core-api/lib/versions/2/handlers/wallets.js
  packages/core-api/lib/versions/2/index.js
  packages/core-api/lib/versions/2/methods/blocks.js
  packages/core-api/lib/versions/2/methods/delegates.js
  packages/core-api/lib/versions/2/methods/transactions.js
  packages/core-api/lib/versions/2/methods/votes.js
  packages/core-api/lib/versions/2/methods/wallets.js
  packages/core-api/lib/versions/2/utils.js
  packages/core-api/package.json
Due: eslint --fix, prettier --write

chore: remove old and unused config
  packages/core-test-utils/config/testnet/plugins.js
  packages/core-transaction-pool-mem/lib/defaults.js
  packages/core/lib/config/devnet/plugins.js
  packages/core/lib/config/mainnet/plugins.js
  packages/core/lib/config/testnet.1/plugins.js
  packages/core/lib/config/testnet.2/plugins.js
  packages/core/lib/config/testnet.live/plugins.js
  packages/core/lib/config/testnet/plugins.js
Due: eslint --fix, prettier --write

fix(core-api): properly return boom errors if cached
  packages/core-api/lib/versions/1/utils.js
  packages/core-api/lib/versions/2/utils.js
Due: eslint --fix, prettier --write

fix(core-api): properly return boom errors if cached (#1496)
  packages/core-api/lib/versions/1/utils.js
  packages/core-api/lib/versions/2/utils.js
Due: eslint --fix, prettier --write

fix(core-api): properly return boom errors if cached (#1497)
  packages/core-api/lib/versions/1/utils.js
  packages/core-api/lib/versions/2/utils.js
Due: eslint --fix, prettier --write

fix: payload validation for v1 p2p tx endpoint
  packages/core-p2p/lib/server/versions/1/handlers.js
Due: eslint --fix, prettier --write

fix(core-p2p): payload validation for v1 p2p tx endpoint (#1498)
  packages/core-p2p/lib/server/versions/1/handlers.js
Due: eslint --fix, prettier --write

chore: remove old and unused config (#1495)
  packages/core-test-utils/config/testnet/plugins.js
  packages/core-transaction-pool-mem/lib/defaults.js
  packages/core/lib/config/devnet/plugins.js
  packages/core/lib/config/mainnet/plugins.js
  packages/core/lib/config/testnet.1/plugins.js
  packages/core/lib/config/testnet.2/plugins.js
  packages/core/lib/config/testnet.live/plugins.js
  packages/core/lib/config/testnet/plugins.js
Due: eslint --fix, prettier --write

fix: purge invalid transactions from block
  packages/core-blockchain/lib/blockchain.js
  packages/core-transaction-pool/lib/interface.js
Due: eslint --fix, prettier --write

test: coverage
  packages/core-transaction-pool-mem/__tests__/connection.test.js
  packages/core-transaction-pool/lib/interface.js
Due: eslint --fix, prettier --write

refactor: rename
  packages/core-blockchain/lib/blockchain.js
  packages/core-transaction-pool-mem/__tests__/connection.test.js
  packages/core-transaction-pool/lib/interface.js
Due: eslint --fix, prettier --write

fix(core-blockchain): remove invalid transactions from pool when receiving a bad block (#1499)
  packages/core-blockchain/lib/blockchain.js
  packages/core-transaction-pool-mem/__tests__/connection.test.js
  packages/core-transaction-pool/lib/interface.js
Due: eslint --fix, prettier --write

chore: depcheck and lint in a separate circleci job
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: update changelogs with release dates
  packages/core-api/CHANGELOG.md
  packages/core-blockchain/CHANGELOG.md
  packages/core-config/CHANGELOG.md
  packages/core-container/CHANGELOG.md
  packages/core-database-postgres/CHANGELOG.md
  packages/core-database/CHANGELOG.md
  packages/core-debugger-cli/CHANGELOG.md
  packages/core-deployer/CHANGELOG.md
  packages/core-elasticsearch/CHANGELOG.md
  packages/core-error-tracker-bugsnag/CHANGELOG.md
  packages/core-error-tracker-sentry/CHANGELOG.md
  packages/core-event-emitter/CHANGELOG.md
  packages/core-forger/CHANGELOG.md
  packages/core-graphql/CHANGELOG.md
  packages/core-http-utils/CHANGELOG.md
  packages/core-json-rpc/CHANGELOG.md
  packages/core-logger-winston/CHANGELOG.md
  packages/core-logger/CHANGELOG.md
  packages/core-p2p/CHANGELOG.md
  packages/core-snapshots-cli/CHANGELOG.md
  packages/core-snapshots/CHANGELOG.md
  packages/core-test-utils/CHANGELOG.md
  packages/core-tester-cli/CHANGELOG.md
  packages/core-transaction-pool-mem/CHANGELOG.md
  packages/core-transaction-pool/CHANGELOG.md
  packages/core-utils/CHANGELOG.md
  packages/core-vote-report/CHANGELOG.md
  packages/core-webhooks/CHANGELOG.md
  packages/core/CHANGELOG.md
Due: prettier --write

chore: update changelogs with release dates (#1500)
  packages/core-api/CHANGELOG.md
  packages/core-blockchain/CHANGELOG.md
  packages/core-config/CHANGELOG.md
  packages/core-container/CHANGELOG.md
  packages/core-database-postgres/CHANGELOG.md
  packages/core-database/CHANGELOG.md
  packages/core-debugger-cli/CHANGELOG.md
  packages/core-deployer/CHANGELOG.md
  packages/core-elasticsearch/CHANGELOG.md
  packages/core-error-tracker-bugsnag/CHANGELOG.md
  packages/core-error-tracker-sentry/CHANGELOG.md
  packages/core-event-emitter/CHANGELOG.md
  packages/core-forger/CHANGELOG.md
  packages/core-graphql/CHANGELOG.md
  packages/core-http-utils/CHANGELOG.md
  packages/core-json-rpc/CHANGELOG.md
  packages/core-logger-winston/CHANGELOG.md
  packages/core-logger/CHANGELOG.md
  packages/core-p2p/CHANGELOG.md
  packages/core-snapshots-cli/CHANGELOG.md
  packages/core-snapshots/CHANGELOG.md
  packages/core-test-utils/CHANGELOG.md
  packages/core-tester-cli/CHANGELOG.md
  packages/core-transaction-pool-mem/CHANGELOG.md
  packages/core-transaction-pool/CHANGELOG.md
  packages/core-utils/CHANGELOG.md
  packages/core-vote-report/CHANGELOG.md
  packages/core-webhooks/CHANGELOG.md
  packages/core/CHANGELOG.md
Due: prettier --write

chore: install lerna for depcheck lint
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: yarn add instead of install
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: install packages for depcheck lint in standard way
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: do not save cache for depcheck lint
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: add comment
  .circleci/generateConfig.js
Due: eslint --fix, prettier --write

chore: debug build fail - try skipping 1 test
  packages/core-blockchain/__tests__/state-machine.test.js
Due: eslint --fix, prettier --write

chore: restore real timers after using jest useFakeTimers
  packages/core-blockchain/__tests__/state-machine.test.js
Due: eslint --fix, prettier --write

build: circleci parallelism + fix random build error (#1501)
  .circleci/config.yml
  .circleci/configTemplate.json
  .circleci/generateConfig.js
  packages/core-blockchain/__tests__/state-machine.test.js
  packages/core-transaction-pool-mem/lib/mem.js
Due: eslint --fix, prettier --write

chore: use /Users/dev instead of ^ for @arkecosystem contraints
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-config/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-deployer/package.json
  packages/core-elasticsearch/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool-mem/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
Due: prettier --write

chore: constraint versions to the 0.2.* range
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-config/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-deployer/package.json
  packages/core-elasticsearch/package.json
  packages/core-elasticsearch/yarn.lock
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool-mem/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

chore: update yarn.lock
  yarn.lock
Due: none

chore: set dev deps to 0.2
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-json-rpc/package.json
  packages/core-p2p/package.json
  packages/core-transaction-pool-mem/package.json
  packages/core-transaction-pool/package.json
  packages/core-webhooks/package.json
  yarn.lock
Due: prettier --write

mock
  packages/core-http-utils/__mocks__/@arkecosystem/core-container.js
Due: eslint --fix, prettier --write

chore: update some dev dep versions
  packages/core-blockchain/package.json
  packages/core-json-rpc/package.json
  packages/core-transaction-pool-mem/package.json
  yarn.lock
Due: prettier --write

chore: use ~ instead of ^ for @ArkEcosystem contraints (#1502)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-config/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-deployer/package.json
  packages/core-elasticsearch/package.json
  packages/core-elasticsearch/yarn.lock
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool-mem/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

fix(core): enable core-api by default
  packages/core/lib/config/mainnet/plugins.js
Due: eslint --fix, prettier --write

fix(core): enable core-api by default on mainnet (#1503)
  packages/core/lib/config/mainnet/plugins.js
Due: eslint --fix, prettier --write

fix(core-p2p): add cors-headers plugin
  packages/core-p2p/lib/server/index.js
Due: eslint --fix, prettier --write

fix(core-p2p): add cors-headers plugin (#1504)
  packages/core-p2p/lib/server/index.js
Due: eslint --fix, prettier --write

chore(core): update mainnet peers
  packages/core/lib/config/mainnet/peers.json
Due: prettier --write

chore(core): bump min version to 2.0.0
  packages/core-test-utils/config/testnet/peers.json
  packages/core/lib/config/devnet/peers.json
  packages/core/lib/config/mainnet/peers.json
  packages/core/lib/config/testnet.1/peers.json
  packages/core/lib/config/testnet.2/peers.json
  packages/core/lib/config/testnet.live/peers.json
  packages/core/lib/config/testnet/peers.json
Due: prettier --write
