Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

fix: if not exists
  packages/core-database-postgres/src/migrations/20190313000000-add-asset-column-to-transactions-table.sql
Due: none

refactor: move Wallet to core-database
  packages/core-database/src/wallet.ts
  packages/crypto/src/models/index.ts
Due: yarn lint, prettier --write

refactor: update all references
  __tests__/integration/core-api/__support__/setup.ts
  __tests__/integration/core-blockchain/blockchain.test.ts
  __tests__/unit/core-database/database-service.test.ts
  __tests__/unit/core-database/repositories/delegates-business-repository.test.ts
  __tests__/unit/core-database/repositories/wallets-business-repository.test.ts
  __tests__/unit/core-database/wallet-manager.test.ts
  __tests__/unit/core-database/wallet.test.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/unit/core-transactions/handler.test.ts
  __tests__/unit/core-utils/delegate-calculator.test.ts
  __tests__/unit/crypto/transactions/__fixtures__/wallet.ts
  packages/core-database-postgres/src/integrity-verifier.ts
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-database/src/index.ts
  packages/core-database/src/wallet-manager.ts
  packages/core-database/src/wallet.ts
  packages/core-forger/src/manager.ts
  packages/core-interfaces/src/core-database/business-repository/delegates-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/wallets-business-repository.ts
  packages/core-interfaces/src/core-database/wallet-manager.ts
  packages/core-transaction-pool/src/pool-wallet-manager.ts
  packages/core-transactions/src/interfaces.ts
  packages/core-transactions/src/services/delegate-registration.ts
  packages/core-transactions/src/services/delegate-resignation.ts
  packages/core-transactions/src/services/ipfs.ts
  packages/core-transactions/src/services/multi-payment.ts
  packages/core-transactions/src/services/multi-signature.ts
  packages/core-transactions/src/services/second-signature.ts
  packages/core-transactions/src/services/timelock-transfer.ts
  packages/core-transactions/src/services/transaction.ts
  packages/core-transactions/src/services/transfer.ts
  packages/core-transactions/src/services/vote.ts
  packages/core-vote-report/src/handler.ts
  packages/crypto/src/transactions/serializers/block.ts
Due: yarn lint, prettier --write

refactor: move wallet class out of crypto (#2237)
  __tests__/integration/core-api/__support__/setup.ts
  __tests__/integration/core-blockchain/blockchain.test.ts
  __tests__/unit/core-database/database-service.test.ts
  __tests__/unit/core-database/repositories/delegates-business-repository.test.ts
  __tests__/unit/core-database/repositories/wallets-business-repository.test.ts
  __tests__/unit/core-database/wallet-manager.test.ts
  __tests__/unit/core-database/wallet.test.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/unit/core-transactions/handler.test.ts
  __tests__/unit/core-utils/delegate-calculator.test.ts
  __tests__/unit/crypto/transactions/__fixtures__/wallet.ts
  packages/core-database-postgres/src/integrity-verifier.ts
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-database/src/index.ts
  packages/core-database/src/wallet-manager.ts
  packages/core-database/src/wallet.ts
  packages/core-forger/src/manager.ts
  packages/core-interfaces/src/core-database/business-repository/delegates-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/wallets-business-repository.ts
  packages/core-interfaces/src/core-database/wallet-manager.ts
  packages/core-transaction-pool/src/pool-wallet-manager.ts
  packages/core-transactions/src/interfaces.ts
  packages/core-transactions/src/services/delegate-registration.ts
  packages/core-transactions/src/services/delegate-resignation.ts
  packages/core-transactions/src/services/ipfs.ts
  packages/core-transactions/src/services/multi-payment.ts
  packages/core-transactions/src/services/multi-signature.ts
  packages/core-transactions/src/services/second-signature.ts
  packages/core-transactions/src/services/timelock-transfer.ts
  packages/core-transactions/src/services/transaction.ts
  packages/core-transactions/src/services/transfer.ts
  packages/core-transactions/src/services/vote.ts
  packages/core-vote-report/src/handler.ts
  packages/crypto/src/models/index.ts
  packages/crypto/src/transactions/serializers/block.ts
Due: yarn lint, prettier --write

feat(core-database-postgres): transaction asset column (#2236)
  __tests__/unit/core-blockchain/mocks/database.ts
  __tests__/unit/core-database/__fixtures__/database-connection-stub.ts
  packages/core-database-postgres/src/integrity-verifier.ts
  packages/core-database-postgres/src/migrations/20190313000000-add-asset-column-to-transactions-table.sql
  packages/core-database-postgres/src/migrations/index.ts
  packages/core-database-postgres/src/models/transaction.ts
  packages/core-database-postgres/src/postgres-connection.ts
  packages/core-database-postgres/src/queries/integrity-verifier/delegates.sql
  packages/core-database-postgres/src/queries/integrity-verifier/multi-signatures.sql
  packages/core-database-postgres/src/queries/integrity-verifier/second-signatures.sql
  packages/core-database-postgres/src/queries/integrity-verifier/votes.sql
  packages/core-database/src/database-service.ts
  packages/core-interfaces/src/core-database/database-connection.ts
  packages/core-interfaces/src/core-database/database-service.ts
  packages/core-p2p/src/monitor.ts
  packages/crypto/src/transactions/deserializers/transaction.ts
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint, prettier --write

docs: less noise in the GitHub PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs: less noise in the GitHub PR template (#2238)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore(core): Disable webhooks on testnet
  packages/core/bin/config/testnet/plugins.js
Due: none

chore(core): Disable webhooks on testnet (#2239)
  packages/core/bin/config/testnet/plugins.js
Due: none

chore: add publish scripts for npm
  deprecated/core-graphql/package.json
  deprecated/core-logger-winston/package.json
  deprecated/core-snapshots-cli/package.json
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  scripts/publish/alpha.sh
  scripts/publish/beta.sh
  scripts/publish/latest.sh
  scripts/publish/rc.sh
  scripts/release.sh
Due: prettier --write

chore: add publish scripts for npm (#2240)
  deprecated/core-graphql/package.json
  deprecated/core-logger-winston/package.json
  deprecated/core-snapshots-cli/package.json
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  scripts/publish/alpha.sh
  scripts/publish/beta.sh
  scripts/publish/latest.sh
  scripts/publish/rc.sh
  scripts/release.sh
Due: prettier --write

chore: remove unused typedoc dependency
  deprecated/core-graphql/package.json
  deprecated/core-logger-winston/package.json
  deprecated/core-snapshots-cli/package.json
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  scripts/publish/alpha.sh
  yarn.lock
Due: prettier --write

chore: remove unused typedoc dependency (#2241)
  deprecated/core-graphql/package.json
  deprecated/core-logger-winston/package.json
  deprecated/core-snapshots-cli/package.json
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  scripts/publish/alpha.sh
  yarn.lock
Due: prettier --write

chore: setup linting for tests
  __tests__/integration/core-api/repositories/transactions.test.ts
  __tests__/integration/core-api/v2/handlers/transactions.test.ts
  __tests__/integration/core-forger/__fixtures__/blocks.ts
  __tests__/unit/core-blockchain/mocks/config.ts
  __tests__/unit/core-blockchain/mocks/container.ts
  __tests__/unit/core-blockchain/mocks/p2p.ts
  __tests__/unit/core-blockchain/processor/block-processor.test.ts
  __tests__/unit/core-blockchain/processor/handlers/accept-handler.test.ts
  __tests__/unit/core-blockchain/state-storage.test.ts
  __tests__/unit/core-transaction-pool/guard.test.ts
  __tests__/unit/crypto/fixtures/block.ts
  package.json
Due: yarn lint, prettier --write

chore: remove pretest and lint scripts from packages
  deprecated/core-graphql/package.json
  deprecated/core-logger-winston/package.json
  deprecated/core-snapshots-cli/package.json
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: setup linting for tests (#2242)
  __tests__/integration/core-api/repositories/transactions.test.ts
  __tests__/integration/core-api/v2/handlers/transactions.test.ts
  __tests__/integration/core-forger/__fixtures__/blocks.ts
  __tests__/unit/core-blockchain/mocks/config.ts
  __tests__/unit/core-blockchain/mocks/container.ts
  __tests__/unit/core-blockchain/mocks/p2p.ts
  __tests__/unit/core-blockchain/processor/block-processor.test.ts
  __tests__/unit/core-blockchain/processor/handlers/accept-handler.test.ts
  __tests__/unit/core-blockchain/state-storage.test.ts
  __tests__/unit/core-transaction-pool/guard.test.ts
  __tests__/unit/crypto/fixtures/block.ts
  package.json
Due: yarn lint, prettier --write

chore: add update script for dependencies
  deprecated/core-graphql/package.json
  deprecated/core-logger-winston/package.json
  deprecated/core-snapshots-cli/package.json
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  scripts/deps.sh
Due: prettier --write

chore: add update script for dependencies (#2244)
  deprecated/core-graphql/package.json
  deprecated/core-logger-winston/package.json
  deprecated/core-snapshots-cli/package.json
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  scripts/deps.sh
Due: prettier --write

chore: remove pretest and lint scripts from packages (#2243)
  deprecated/core-graphql/package.json
  deprecated/core-logger-winston/package.json
  deprecated/core-snapshots-cli/package.json
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

feat: p2p sockets - data validation
  __tests__/integration/core-p2p/mocks/core-container.ts
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-p2p/src/peer.ts
  packages/core-p2p/src/socket-server/constants.ts
  packages/core-p2p/src/socket-server/index.ts
  packages/core-p2p/src/socket-server/utils/validate.ts
  packages/core-p2p/src/socket-server/versions/internal/handlers/blocks.ts
  packages/core-p2p/src/socket-server/versions/internal/handlers/transactions.ts
  packages/core-p2p/src/socket-server/versions/internal/handlers/utils.ts
  packages/core-p2p/src/socket-server/versions/internal/schemas/transactions.ts
  packages/core-p2p/src/socket-server/versions/internal/schemas/utils.ts
  packages/core-p2p/src/socket-server/versions/peer/index.ts
  packages/core-p2p/src/socket-server/versions/peer/schema.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

chore: fix circleci config generation (packages split)
  .circleci/config.yml
  .circleci/generateConfig.js
Due: none

feat: p2p sockets WIP - adapt peer response validation to sockets
  __tests__/integration/core-p2p/peer.test.ts
  packages/core-p2p/src/peer.ts
  packages/core-p2p/src/reply-schemas.ts
Due: yarn lint, prettier --write

test: fix p2p monitor test
  __tests__/integration/core-p2p/monitor.test.ts
Due: yarn lint, prettier --write

feat: p2p sockets WIP - core-forger update chooseHost logic to sockets
  __tests__/integration/core-forger/client.test.ts
  packages/core-forger/src/client.ts
Due: yarn lint, prettier --write

fix(core-database): return array instead of joined string
  packages/core-database/src/repositories/delegates-business-repository.ts
  packages/core-database/src/repositories/utils/sort-entries.ts
Due: yarn lint, prettier --write

refactor: add CallbackFunctionVariadicVoidReturn type
  packages/core-database/src/repositories/delegates-business-repository.ts
Due: yarn lint, prettier --write

refactor: add applyOrder to wallet repository
  packages/core-database/src/repositories/wallets-business-repository.ts
Due: yarn lint, prettier --write

refactor: add sorting to wallets search
  packages/core-api/src/versions/2/wallets/schema.ts
  packages/core-database/src/repositories/delegates-business-repository.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
Due: yarn lint, prettier --write

fix: add balance to generated wallets
  __tests__/unit/core-database/repositories/wallets-business-repository.test.ts
Due: yarn lint, prettier --write

fix(tests): Reference the home directory via HOME, not ~
  __tests__/utils/helpers/container.ts
Due: yarn lint, prettier --write

fix(tests): Reference the home directory via HOME, not ~ (#2246)
  __tests__/utils/helpers/container.ts
Due: yarn lint, prettier --write

refactor: add TransactionConstructor to service
  packages/core-transactions/src/services/delegate-resignation.ts
  packages/core-transactions/src/services/ipfs.ts
  packages/core-transactions/src/services/multi-payment.ts
  packages/core-transactions/src/services/multi-signature.ts
  packages/core-transactions/src/services/second-signature.ts
  packages/core-transactions/src/services/timelock-transfer.ts
  packages/core-transactions/src/services/transaction.ts
  packages/core-transactions/src/services/transfer.ts
  packages/core-transactions/src/services/vote.ts
Due: yarn lint, prettier --write

test: add custom type tests
  __tests__/unit/core-transactions/service-registry.test.ts
Due: yarn lint, prettier --write

fix: allow verification of custom types
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint, prettier --write

refactor: update crypto
  packages/core-transactions/src/services/delegate-registration.ts
  packages/crypto/src/errors.ts
  packages/crypto/src/transactions/index.ts
  packages/crypto/src/transactions/registry.ts
  packages/crypto/src/transactions/types/index.ts
  packages/crypto/src/transactions/types/schemas.ts
  packages/crypto/src/validation/ajv-wrapper.ts
Due: yarn lint, prettier --write

refactor: registry and interface
  packages/core-transactions/src/interfaces.ts
  packages/core-transactions/src/service-registry.ts
Due: yarn lint, prettier --write

refactor: update exports
  packages/core-transactions/src/index.ts
Due: yarn lint, prettier --write

fix: compilation
  packages/core-transaction-pool/src/guard.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
