Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

Wallet vote is public key
  packages/crypto/src/validation/schemas.ts
Due: yarn lint, prettier --write

fix(crypto): walletVote schema is public key (#4663)
  packages/crypto/src/validation/schemas.ts
Due: yarn lint, prettier --write

Release: 4.0.0-next.14
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 4.0.0-next.14 (#4664)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Update package.json
  packages/core/package.json
Due: prettier --write

Remove bip 38 flag
  packages/core/src/commands/config-forger.ts
Due: yarn lint, prettier --write

fix: pnpm script arguments (#4665)
  packages/core/package.json
Due: prettier --write

fix(core): remove unused bip38 flag (#4666)
  packages/core/src/commands/config-forger.ts
Due: yarn lint, prettier --write

Dynamic buffer size calculation
  packages/crypto/src/transactions/serializer.ts
Due: yarn lint, prettier --write

Fix tests
  packages/crypto/__tests__/blocks/block.test.ts
Due: yarn lint, prettier --write

Disable fast update
  packages/core-database/src/migrations/20220606000000-disable-fastupdate-on-gin-indexes.ts
Due: yarn lint, prettier --write

Lint
  packages/crypto/src/transactions/serializer.ts
Due: yarn lint, prettier --write

Convert vendor field to bufffer
  packages/core-database/src/transaction-filter.ts
Due: yarn lint, prettier --write

Fix test
  packages/core-database/__tests__/transaction-filter.test.ts
Due: yarn lint, prettier --write

chore: update codeowners
  CODEOWNERS
Due: none

chore: update codeowners (#4673)
  CODEOWNERS
Due: none

Disable fast update (#4671)
  packages/core-database/src/migrations/20220606000000-disable-fastupdate-on-gin-indexes.ts
Due: yarn lint, prettier --write

fix(crypto): Reduce allocated buffer size for transaction serialization (#4670)
  packages/crypto/__tests__/blocks/block.test.ts
  packages/crypto/src/transactions/serializer.ts
Due: yarn lint, prettier --write

fix(core-database): convert vendorField query parameter to buffer (#4672)
  packages/core-database/__tests__/transaction-filter.test.ts
  packages/core-database/src/transaction-filter.ts
Due: yarn lint, prettier --write

release: 4.0.0-next.15
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 4.0.0-next.15 (#4674)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(crypto): Reduce allocated buffer size for transaction serialization (#4670)
  __tests__/unit/crypto/blocks/block.test.ts
  packages/crypto/src/transactions/serializer.ts
Due: yarn lint, prettier --write

fix(core-database): convert vendorField query parameter to buffer (#4672)
  __tests__/unit/core-database/transaction-filter.test.ts
  packages/core-database/src/transaction-filter.ts
Due: yarn lint, prettier --write

Yarn.lock
  yarn.lock
Due: none

Upgrade @pm2/io
  packages/core-kernel/package.json
  yarn.lock
Due: prettier --write

Upgrade protobuff
  packages/core-p2p/package.json
  yarn.lock
Due: prettier --write

Update typedoc
  package.json
  yarn.lock
Due: prettier --write

Remove cpy-cli
  package.json
  yarn.lock
Due: prettier --write

Remove moment
  package.json
  yarn.lock
Due: prettier --write

Update lerna
  package.json
  yarn.lock
Due: prettier --write

Hide execa errors
  __tests__/unit/core-cli/services/process-manager.test.ts
Due: yarn lint, prettier --write
