Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

Update peer version
  packages/core-kernel/src/contracts/p2p/peer-processor.ts
  packages/core-p2p/src/actions/validate-and-accept-peer.ts
  packages/core-p2p/src/peer-processor.ts
  packages/core-p2p/src/socket-server/controllers/internal.ts
  packages/core-p2p/src/socket-server/plugins/accept-peer.ts
Due: yarn lint, prettier --write

Fix tests
  packages/core-p2p/__tests__/actions/validate-and-accept-peer.test.ts
  packages/core-p2p/__tests__/peer-processor.test.ts
  packages/core-p2p/__tests__/socket-server/controllers/internal.test.ts
  packages/core-p2p/__tests__/socket-server/plugins/accept-peer.test.ts
Due: yarn lint, prettier --write

fix(core-p2p): update peer version on request (#4644)
  packages/core-kernel/src/contracts/p2p/peer-processor.ts
  packages/core-p2p/__tests__/actions/validate-and-accept-peer.test.ts
  packages/core-p2p/__tests__/peer-processor.test.ts
  packages/core-p2p/__tests__/socket-server/controllers/internal.test.ts
  packages/core-p2p/__tests__/socket-server/plugins/accept-peer.test.ts
  packages/core-p2p/src/actions/validate-and-accept-peer.ts
  packages/core-p2p/src/peer-processor.ts
  packages/core-p2p/src/socket-server/controllers/internal.ts
  packages/core-p2p/src/socket-server/plugins/accept-peer.ts
Due: yarn lint, prettier --write

release: 4.0.0-next.10
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 4.0.0-next.10 (#4645)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-p2p): update peer version on request (#4644)
  __tests__/unit/core-p2p/actions/validate-and-accept-peer.test.ts
  __tests__/unit/core-p2p/peer-processor.test.ts
  __tests__/unit/core-p2p/socket-server/controllers/internal.test.ts
  __tests__/unit/core-p2p/socket-server/plugins/accept-peer.test.ts
  packages/core-kernel/src/contracts/p2p/peer-processor.ts
  packages/core-p2p/src/actions/validate-and-accept-peer.ts
  packages/core-p2p/src/peer-processor.ts
  packages/core-p2p/src/socket-server/controllers/internal.ts
  packages/core-p2p/src/socket-server/plugins/accept-peer.ts
Due: yarn lint, prettier --write

fix(core-p2p): update peer version on request (#4644) (#4646)
  __tests__/unit/core-p2p/actions/validate-and-accept-peer.test.ts
  __tests__/unit/core-p2p/peer-processor.test.ts
  __tests__/unit/core-p2p/socket-server/controllers/internal.test.ts
  __tests__/unit/core-p2p/socket-server/plugins/accept-peer.test.ts
  packages/core-kernel/src/contracts/p2p/peer-processor.ts
  packages/core-p2p/src/actions/validate-and-accept-peer.ts
  packages/core-p2p/src/peer-processor.ts
  packages/core-p2p/src/socket-server/controllers/internal.ts
  packages/core-p2p/src/socket-server/plugins/accept-peer.ts
Due: yarn lint, prettier --write

Replace deprecated querystring with qs
  packages/core-api/package.json
  packages/core-api/src/plugins/pagination/ext.ts
  pnpm-lock.yaml
Due: yarn lint, prettier --write

fix(core-api): replace deprecated `querystring` with `qs` and use dot notation (#4648)
  packages/core-api/package.json
  packages/core-api/src/plugins/pagination/ext.ts
  pnpm-lock.yaml
Due: yarn lint, prettier --write

release: 4.0.0-next.11
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 4.0.0-next.11 (#4649)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Use arrayFormat comma
  packages/core-api/src/plugins/pagination/ext.ts
Due: yarn lint, prettier --write

fix(core-api): use comma separator for query array (#4650)
  packages/core-api/src/plugins/pagination/ext.ts
Due: yarn lint, prettier --write

release: 4.0.0-next.12
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 4.0.0-next.12 (#4651)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Unencoded query
  packages/core-api/src/plugins/pagination/ext.ts
Due: yarn lint, prettier --write

fix(core-api): undencoded query (#4652)
  packages/core-api/src/plugins/pagination/ext.ts
Due: yarn lint, prettier --write

release: 4.0.0-next.13
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 4.0.0-next.13 (#4653)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-api): replace deprecated `querystring` with `qs` and use dot notation (#4648)
  packages/core-api/package.json
  packages/core-api/src/plugins/pagination/ext.ts
Due: yarn lint, prettier --write

Yarn lock
  yarn.lock
Due: none

release: 3.3.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.3.0 (#4656)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Set headers to {}
  packages/core-p2p/src/peer-processor.ts
Due: yarn lint, prettier --write

fix(core-p2p): set default headers (#4657)
  packages/core-p2p/src/peer-processor.ts
Due: yarn lint, prettier --write

Split sync
  packages/core-cli/src/services/installer.ts
Due: yarn lint, prettier --write

Test installer
  __tests__/unit/core-cli/services/installer.test.ts
Due: yarn lint, prettier --write

Fix tests
  __tests__/unit/core/commands/reinstall.test.ts
  __tests__/unit/core/commands/update.test.ts
Due: yarn lint, prettier --write

reafactor(core-cli): split remove and yarn add command (#4658)
  __tests__/unit/core-cli/services/installer.test.ts
  __tests__/unit/core/commands/reinstall.test.ts
  __tests__/unit/core/commands/update.test.ts
  packages/core-cli/src/services/installer.ts
Due: yarn lint, prettier --write

release: 3.3.2
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.3.2 (#4659)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

adjust `maxBlockPayload` to fit next maxTx size
  __tests__/unit/core-test-framework/app/generators/__fixtures__/assets.ts
  __tests__/unit/core-test-framework/app/sandbox.test.ts
  packages/core-test-framework/src/app/generators/generator.ts
  packages/core-test-framework/src/app/sandbox.ts
  packages/core/src/commands/network-generate.ts
Due: yarn lint, prettier --write

Pnpm lock
  pnpm-lock.yaml
Due: none

Pnpm Fix
  package.json
Due: prettier --write

Fix tests
  packages/core-p2p/__tests__/network-monitor.test.ts
  packages/core-p2p/__tests__/rate-limiter.test.ts
  packages/core-p2p/__tests__/socket-server/controllers/blocks.test.ts
  packages/core-p2p/package.json
  packages/core-snapshots/__tests__/filesystem/filesystem.test.ts
  packages/core-snapshots/package.json
  packages/core-test-framework/__tests__/matchers/functional/entity.test.ts
  pnpm-lock.yaml
Due: yarn lint, prettier --write

Fix integration
  __tests__/integration/package.json
  pnpm-lock.yaml
Due: prettier --write

Fix functional tests
  __tests__/functional/package.json
  pnpm-lock.yaml
Due: prettier --write

deps: pnpm v7 (#4661)
  __tests__/integration/package.json
  package.json
  packages/core-p2p/__tests__/network-monitor.test.ts
  packages/core-p2p/__tests__/rate-limiter.test.ts
  packages/core-p2p/__tests__/socket-server/controllers/blocks.test.ts
  packages/core-p2p/package.json
  packages/core-snapshots/__tests__/filesystem/filesystem.test.ts
  packages/core-snapshots/package.json
  packages/core-test-framework/__tests__/matchers/functional/entity.test.ts
  pnpm-lock.yaml
Due: yarn lint, prettier --write
