Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
}

fix(core-api): return the correct total count for /api/v2/peers (#1563)
  packages/core-api/CHANGELOG.md
  packages/core-api/lib/versions/2/handlers/peers.js
Due: eslint --fix, prettier --write

fix: wrong transaction timestamp
  packages/core-transaction-pool/lib/interface.js
Due: eslint --fix, prettier --write

fix(core-transaction-pool): pass correct transaction data (#1564)
  packages/core-transaction-pool/lib/interface.js
Due: eslint --fix, prettier --write

refactor(core-config): migrate to typescript
  package.json
  packages/core-config/__tests__/loader.test.ts
  packages/core-config/jest.config.js
  packages/core-config/lib/index.js
  packages/core-config/lib/loader.js
  packages/core-config/package.json
  packages/core-config/src/index.ts
  packages/core-config/src/loader.ts
  packages/core-config/tsconfig.json
  packages/core-config/tslint.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(core-config): add prepublish script
  packages/core-config/package.json
Due: prettier --write

chore: install typescript on CircleCI
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: build typescript on CircleCI
  .circleci/config.yml
  .circleci/configTemplate.json
  package.json
Due: prettier --write

chore(core-config): add cross-env to test script
  packages/core-config/package.json
Due: prettier --write

refactor(core-config): add missing type hints
  packages/core-config/src/loader.ts
Due: none

feat(core-api): allow block display via height in v2 API
  packages/core-api/CHANGELOG.md
  packages/core-api/lib/repositories/blocks.js
Due: eslint --fix, prettier --write

fix(core-api): make sure the value we work with is a safe integer
  packages/core-api/lib/repositories/blocks.js
Due: eslint --fix, prettier --write

feat(core-api): allow block display via height in v2 API (#1626)
  packages/core-api/CHANGELOG.md
  packages/core-api/lib/repositories/blocks.js
Due: eslint --fix, prettier --write

chore: update changelogs and bump versions
  packages/core-api/CHANGELOG.md
  packages/core-api/package.json
  packages/core-transaction-pool/CHANGELOG.md
  packages/core-transaction-pool/package.json
Due: prettier --write

chore: update changelogs and bump versions (#1627)
  packages/core-api/CHANGELOG.md
  packages/core-api/package.json
  packages/core-transaction-pool/CHANGELOG.md
  packages/core-transaction-pool/package.json
Due: prettier --write

refactor(core-config): only import the functions we use
  packages/core-config/package.json
  packages/core-config/src/loader.ts
  yarn.lock
Due: prettier --write

chore(core-config): ignore @types/fs-extra for depcheck
  packages/core-config/package.json
Due: prettier --write

refactor(core-config): use node.js assert instead of ow
  packages/core-config/package.json
  packages/core-config/src/loader.ts
  yarn.lock
Due: prettier --write

chore(core-config): remove useless ts-ignore
  packages/core-config/src/loader.ts
Due: none

chore(core-config): import sort
  packages/core-config/src/loader.ts
Due: none

refactor(core-config): use node.js readdir instead of directory-tree
  packages/core-config/package.json
  packages/core-config/src/loader.ts
  yarn.lock
Due: prettier --write

chore(core-config): remove unused dependency
  packages/core-config/src/loader.ts
Due: none

chore(core-config): use a base tsconfig
  packages/core-config/tsconfig.json
  tsconfig.json
Due: prettier --write

chore(core-config): use a base tsconfig
  tsconfig.json
Due: prettier --write

chore(core-config): use a shared tslint config
  packages/core-config/package.json
  tslint.json
Due: prettier --write

chore: increasing offset for delegate registration
  packages/crypto/lib/networks/ark/devnet.json
  packages/crypto/lib/networks/ark/mainnet.json
  packages/crypto/lib/networks/ark/testnet.json
Due: prettier --write

chore: increasing offset for delegate registration (#1629)
  packages/crypto/lib/networks/ark/devnet.json
  packages/crypto/lib/networks/ark/mainnet.json
  packages/crypto/lib/networks/ark/testnet.json
Due: prettier --write

refactor(core-config): remove unused code
  packages/core-config/src/index.ts
  packages/core-config/src/loader.ts
  tsconfig.json
Due: prettier --write

Fixed issue "TypeError: values.forEach is not a function" when running core-deployer
  packages/core-deployer/lib/utils.js
Due: eslint --fix, prettier --write

refactor(core-config): remove some code that is not needed with a stricter config
  package.json
  packages/core-config/__tests__/loader.test.ts
  packages/core-config/src/index.ts
  packages/core-config/src/loader.ts
  tsconfig.json
  yarn.lock
Due: prettier --write

chore(core-config): add dist to the files of the package
  packages/core-config/package.json
Due: prettier --write

chore(core-config): setup pre scripts and typedoc
  package.json
  packages/core-config/package.json
  yarn.lock
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

fix(core-deployer): map keys based on object keys instead of values (#1630)
  packages/core-deployer/lib/utils.js
Due: eslint --fix, prettier --write

chore: remove depcheck
  .circleci/config.yml
  .circleci/configTemplate.json
  .circleci/generateConfig.js
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-config/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-deployer/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool-mem/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  scripts/update-deps.sh
  yarn.lock
Due: eslint --fix, prettier --write

chore: add back CircleCI workflows
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

perf(postgres): drop redundant and add missing index on blocks
  packages/core-database-postgres/lib/migrations/20181204100000-blocks-generator_public_key-index.sql
  packages/core-database-postgres/lib/migrations/index.js
Due: eslint --fix, prettier --write

perf(core-database-postgres): drop redundant and add missing index on blocks (#1634)
  packages/core-database-postgres/lib/migrations/20181204100000-blocks-generator_public_key-index.sql
  packages/core-database-postgres/lib/migrations/index.js
Due: eslint --fix, prettier --write

chore: setup CircleCI workflow
  .circleci/config.yml
  .circleci/configTemplate.json
  .circleci/generateConfig.js
Due: eslint --fix, prettier --write

perf(core-database-postgres): add index on transactions (timestamp)
  packages/core-database-postgres/lib/migrations/20181204200000-transactions-timestamp-index.sql
  packages/core-database-postgres/lib/migrations/index.js
Due: eslint --fix, prettier --write
