Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

test(core): use skipPrompts flag on commands
  __tests__/unit/core/commands/core-start.test.ts
  __tests__/unit/core/commands/forger-start.test.ts
Due: yarn lint, prettier --write

fix(core-api): skip transaction nonce for V1
  packages/core-api/src/resources/transaction.ts
Due: yarn lint, prettier --write

deps(core-forger): update node-forge
  packages/core-forger/package.json
  yarn.lock
Due: prettier --write

deps(core-forger): update node-forge to 1.2.1 (#4572)
  packages/core-forger/package.json
  yarn.lock
Due: prettier --write

fix(core-api): skip transaction nonce for V1 on /transactions/unconfirmed endpoint (#4571)
  packages/core-api/src/resources/transaction.ts
Due: yarn lint, prettier --write

refactor(core): implements crypto exceptions and skipPrompts flag (#4570)
  __tests__/unit/core/commands/core-start.test.ts
  __tests__/unit/core/commands/forger-start.test.ts
  __tests__/unit/core/internal/crypto.test.ts
  packages/core/src/commands/core-run.ts
  packages/core/src/commands/core-start.ts
  packages/core/src/commands/forger-run.ts
  packages/core/src/commands/forger-start.ts
  packages/core/src/exceptions/base.ts
  packages/core/src/exceptions/crypto.ts
  packages/core/src/exceptions/index.ts
  packages/core/src/index.ts
  packages/core/src/internal/crypto.ts
Due: yarn lint, prettier --write

chore(core): include joi in module aliases (#4567)
  packages/core/package.json
Due: prettier --write

release: 3.1.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.1.0 (#4573)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

deps: pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: lint
  packages/core-api/src/plugins/index.ts
  packages/crypto/src/transactions/types/two/delegate-resignation.ts
Due: yarn lint, prettier --write

test(core-api): fix log.test.ts
  packages/core-api/__tests__/plugins/log.test.ts
Due: yarn lint, prettier --write

test(crypto): fix block.test.ts
  packages/crypto/__tests__/blocks/block.test.ts
Due: yarn lint, prettier --write

deps(core-snapshot): update @arkecosystem/utils
  packages/core-snapshots/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(core-cli): implements PluginManager (#4537)
  __tests__/unit/core-cli/commands/discover-plugins.test.ts
  __tests__/unit/core-cli/services/plugin-manager.test.ts
  __tests__/unit/core-cli/services/plugins/@namespace/package2/package.json
  __tests__/unit/core-cli/services/plugins/package1/package.json
  __tests__/unit/core-cli/services/source-providers/file.test.ts
  __tests__/unit/core-cli/services/source-providers/git.test.ts
  __tests__/unit/core-cli/services/source-providers/invalid-utils-0.9.1.tgz
  __tests__/unit/core-cli/services/source-providers/missing-utils-0.9.1.tgz
  __tests__/unit/core-cli/services/source-providers/npm.test.ts
  __tests__/unit/core-cli/services/source-providers/utils-0.9.1.tgz
  __tests__/unit/core/cli.test.ts
  __tests__/unit/core/commands/plugin-install.test.ts
  __tests__/unit/core/commands/plugin-remove.test.ts
  __tests__/unit/core/commands/plugin-update.test.ts
  packages/core-cli/src/application-factory.ts
  packages/core-cli/src/commands/discover-plugins.ts
  packages/core-cli/src/commands/index.ts
  packages/core-cli/src/contracts.ts
  packages/core-cli/src/ioc/identifiers.ts
  packages/core-cli/src/services/index.ts
  packages/core-cli/src/services/plugin-manager.ts
  packages/core-cli/src/services/source-providers/abstract-source.ts
  packages/core-cli/src/services/source-providers/contracts.ts
  packages/core-cli/src/services/source-providers/errors.ts
  packages/core-cli/src/services/source-providers/file.ts
  packages/core-cli/src/services/source-providers/git.ts
  packages/core-cli/src/services/source-providers/index.ts
  packages/core-cli/src/services/source-providers/npm.ts
  packages/core/src/cli.ts
  packages/core/src/commands/plugin-install.ts
  packages/core/src/commands/plugin-remove.ts
  packages/core/src/commands/plugin-update.ts
Due: yarn lint, prettier --write

chore(core-logger-pino): close file streams on dipose (#4536)
  __tests__/unit/core-logger-pino/driver.test.ts
  __tests__/unit/core-logger-pino/service-provider.test.ts
  packages/core-kernel/src/contracts/kernel/log.ts
  packages/core-kernel/src/services/log/drivers/memory.ts
  packages/core-kernel/src/services/log/drivers/null.ts
  packages/core-logger-pino/package.json
  packages/core-logger-pino/src/driver.ts
  packages/core-logger-pino/src/service-provider.ts
  yarn.lock
Due: yarn lint, prettier --write

feat(core-logger-pino): close file streams on dipose (#4536) (#4577)
  __tests__/unit/core-logger-pino/driver.test.ts
  __tests__/unit/core-logger-pino/service-provider.test.ts
  packages/core-kernel/src/contracts/kernel/log.ts
  packages/core-kernel/src/services/log/drivers/memory.ts
  packages/core-kernel/src/services/log/drivers/null.ts
  packages/core-logger-pino/package.json
  packages/core-logger-pino/src/driver.ts
  packages/core-logger-pino/src/service-provider.ts
  yarn.lock
Due: yarn lint, prettier --write

reafactor(core-cli): implements PluginManager (#4537) (#4576)
  __tests__/unit/core-cli/commands/discover-plugins.test.ts
  __tests__/unit/core-cli/services/plugin-manager.test.ts
  __tests__/unit/core-cli/services/plugins/@namespace/package2/package.json
  __tests__/unit/core-cli/services/plugins/package1/package.json
  __tests__/unit/core-cli/services/source-providers/file.test.ts
  __tests__/unit/core-cli/services/source-providers/git.test.ts
  __tests__/unit/core-cli/services/source-providers/invalid-utils-0.9.1.tgz
  __tests__/unit/core-cli/services/source-providers/missing-utils-0.9.1.tgz
  __tests__/unit/core-cli/services/source-providers/npm.test.ts
  __tests__/unit/core-cli/services/source-providers/utils-0.9.1.tgz
  __tests__/unit/core/cli.test.ts
  __tests__/unit/core/commands/plugin-install.test.ts
  __tests__/unit/core/commands/plugin-remove.test.ts
  __tests__/unit/core/commands/plugin-update.test.ts
  packages/core-cli/src/application-factory.ts
  packages/core-cli/src/commands/discover-plugins.ts
  packages/core-cli/src/commands/index.ts
  packages/core-cli/src/contracts.ts
  packages/core-cli/src/ioc/identifiers.ts
  packages/core-cli/src/services/index.ts
  packages/core-cli/src/services/plugin-manager.ts
  packages/core-cli/src/services/source-providers/abstract-source.ts
  packages/core-cli/src/services/source-providers/contracts.ts
  packages/core-cli/src/services/source-providers/errors.ts
  packages/core-cli/src/services/source-providers/file.ts
  packages/core-cli/src/services/source-providers/git.ts
  packages/core-cli/src/services/source-providers/index.ts
  packages/core-cli/src/services/source-providers/npm.ts
  packages/core/src/cli.ts
  packages/core/src/commands/plugin-install.ts
  packages/core/src/commands/plugin-remove.ts
  packages/core/src/commands/plugin-update.ts
Due: yarn lint, prettier --write

release: 4.0.0-next.2
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 4.0.0-next.2 (#4579)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(crypto): publish
  packages/crypto/package.json
Due: prettier --write

fix(crypto): publish (#4580)
  packages/crypto/package.json
Due: prettier --write

refactor(core): export exceptions as Exceptions
  packages/core/src/index.ts
Due: yarn lint, prettier --write

release: 4.0.0-next.3
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

refactor(core): export exceptions as Exceptions (#4581)
  packages/core/src/index.ts
Due: yarn lint, prettier --write

release: 4.0.0-next.3 (#4582)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

deps(core-snapshot): include pg dependency
  packages/core-snapshots/package.json
  pnpm-lock.yaml
Due: prettier --write

deps(core): increase pm2 version
  packages/core/package.json
Due: prettier --write

deps: add pg8 and increase pm2 version (#4583)
  packages/core-snapshots/package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write

release: 4.0.0-next.4
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 4.0.0-next.4 (#4584)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Implement Passphrase interface
  packages/core-forger/src/interfaces.ts
Due: yarn lint, prettier --write

Implement AbstractPassphrase
  packages/core-forger/src/interfaces.ts
  packages/core-forger/src/passphrase/abstract-passphrase.ts
Due: yarn lint, prettier --write

Implement Bip39Passphrase
  packages/core-forger/src/passphrase/abstract-passphrase.ts
  packages/core-forger/src/passphrase/bip39-passphrase.ts
Due: yarn lint, prettier --write

Implement Bip38Passphrase
  packages/core-forger/src/passphrase/bip38-passphrase.ts
Due: yarn lint, prettier --write

Implement PassphraseFactory
  packages/core-forger/src/passphrase/passphrase-factory.ts
Due: yarn lint, prettier --write

Export PassphraseFactory
  packages/core-forger/src/passphrase/index.ts
Due: yarn lint, prettier --write

Rename passphrase to passphrases
  packages/core-forger/src/passphrases/abstract-passphrase.ts
  packages/core-forger/src/passphrases/bip38-passphrase.ts
  packages/core-forger/src/passphrases/bip39-passphrase.ts
  packages/core-forger/src/passphrases/index.ts
  packages/core-forger/src/passphrases/passphrase-factory.ts
Due: yarn lint, prettier --write

Test Bip39Passphrase
  packages/core-forger/__tests__/passphrases/bip39-passphrase.test.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
