Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

chore: update CircleCI config
  .circleci/config.yml
Due: none

fix(docker): publish and reset to emulate force behaviour
  docker/production/entrypoint.sh
Due: none

refactor(core): use reload instead of restart and update the env vars
  packages/core/src/process-manager.ts
Due: yarn lint, prettier --write

test: move core-api integration tests into integration folder
  __tests__/integration/core-api/__support__/setup.ts
  __tests__/integration/core-api/__support__/utils/generate-round.ts
  __tests__/integration/core-api/repositories/transactions.test.ts
  __tests__/integration/core-api/v1/handlers/accounts.test.ts
  __tests__/integration/core-api/v1/handlers/blocks.test.ts
  __tests__/integration/core-api/v1/handlers/delegates.test.ts
  __tests__/integration/core-api/v1/handlers/loader.test.ts
  __tests__/integration/core-api/v1/handlers/peers.test.ts
  __tests__/integration/core-api/v1/handlers/signatures.test.ts
  __tests__/integration/core-api/v1/handlers/transactions.test.ts
  __tests__/integration/core-api/v1/utils.ts
  __tests__/integration/core-api/v2/handlers/blocks.test.ts
  __tests__/integration/core-api/v2/handlers/delegates.test.ts
  __tests__/integration/core-api/v2/handlers/node.test.ts
  __tests__/integration/core-api/v2/handlers/peers.test.ts
  __tests__/integration/core-api/v2/handlers/transactions.test.ts
  __tests__/integration/core-api/v2/handlers/votes.test.ts
  __tests__/integration/core-api/v2/handlers/wallets.test.ts
  __tests__/integration/core-api/v2/utils.ts
Due: yarn lint, prettier --write

test: split up core-blockchain tests between unit/integration
  __tests__/integration/core-blockchain/__support__/setup.ts
  __tests__/integration/core-blockchain/blockchain.test.ts
  __tests__/unit/core-blockchain/blockchain.test.ts
Due: yarn lint, prettier --write

test: move core-graphql tests into integration folder
  __tests__/integration/core-graphql/__support__/setup.ts
  __tests__/integration/core-graphql/__support__/utils.ts
  __tests__/integration/core-graphql/api/address.test.ts
  __tests__/integration/core-graphql/api/block.test.ts
  __tests__/integration/core-graphql/api/blocks.test.ts
  __tests__/integration/core-graphql/api/transaction.test.ts
  __tests__/integration/core-graphql/api/transactions.test.ts
  __tests__/integration/core-graphql/api/wallet.test.ts
  __tests__/integration/core-graphql/api/wallets.test.ts
Due: yarn lint, prettier --write

test: move core-json-rpc tests into integration folder
  __tests__/integration/core-json-rpc/__support__/request.ts
  __tests__/integration/core-json-rpc/__support__/setup.ts
  __tests__/integration/core-json-rpc/blocks.test.ts
  __tests__/integration/core-json-rpc/transactions.test.ts
  __tests__/integration/core-json-rpc/wallets.test.ts
Due: yarn lint, prettier --write

test: split up core-p2p tests between unit/integration
  __tests__/integration/core-p2p/__support__/setup.ts
  __tests__/integration/core-p2p/__support__/utils.ts
  __tests__/integration/core-p2p/fixtures/block-with-transactions.json
  __tests__/integration/core-p2p/fixtures/block.json
  __tests__/integration/core-p2p/server/1.test.ts
  __tests__/integration/core-p2p/server/internal.test.ts
Due: yarn lint, prettier --write

docs: preliminary 2.2.0 changelog
  CHANGELOG.md
Due: prettier --write

fix(core): reset configuration if --network is passed
  packages/core/src/commands/config/reset.ts
Due: yarn lint, prettier --write

fix(core): reset configuration if --network is passed (#2164)
  packages/core/src/commands/config/reset.ts
Due: yarn lint, prettier --write

Update entrypoint.sh
  docker/production/entrypoint.sh
Due: none

fix(docker): remove force flag and add a forger check (#2162)
  docker/production/entrypoint.sh
Due: none

test: split up transaction-pool test between unit/integration
  __tests__/integration/core-transaction-pool/__fixtures__/transactions.ts
  __tests__/integration/core-transaction-pool/__support__/setup.ts
  __tests__/integration/core-transaction-pool/guard.test.ts
  __tests__/integration/core-transaction-pool/pool-wallet-manager.test.ts
  __tests__/unit/core-transaction-pool/guard.test.ts
Due: yarn lint, prettier --write

chore: update circleci config to run both unit and integration tests
  .circleci/config.yml
  .circleci/generateConfig.js
Due: none

refactor: move core-test-utils into __tests__/utils
  .circleci/config.yml
  __tests__/utils/src/config/index.js
  __tests__/utils/src/config/testnet/delegates.json
  __tests__/utils/src/config/testnet/genesisBlock.json
  __tests__/utils/src/config/testnet/peers.json
  __tests__/utils/src/config/testnet/plugins.js
  __tests__/utils/src/config/unitnet/delegates.json
  __tests__/utils/src/config/unitnet/genesisBlock.json
  __tests__/utils/src/config/unitnet/peers.json
  __tests__/utils/src/config/unitnet/plugins.js
  __tests__/utils/src/config/unitnet/wallets.json
  __tests__/utils/src/config/unitnet/wallets2ndSig.json
  __tests__/utils/src/fixtures/index.ts
  __tests__/utils/src/fixtures/testnet/blocks101to155.ts
  __tests__/utils/src/fixtures/testnet/blocks2to100.ts
  __tests__/utils/src/fixtures/testnet/delegates.ts
  __tests__/utils/src/fixtures/testnet/index.ts
  __tests__/utils/src/fixtures/testnet/passphrases.ts
  __tests__/utils/src/fixtures/unitnet/blocks.ts
  __tests__/utils/src/fixtures/unitnet/delegates.ts
  __tests__/utils/src/fixtures/unitnet/index.ts
  __tests__/utils/src/fixtures/unitnet/wallets.ts
  __tests__/utils/src/generators/index.ts
  __tests__/utils/src/generators/transactions/delegate.ts
  __tests__/utils/src/generators/transactions/index.ts
  __tests__/utils/src/generators/transactions/signature.ts
  __tests__/utils/src/generators/transactions/transaction.ts
  __tests__/utils/src/generators/transactions/transfer.ts
  __tests__/utils/src/generators/transactions/vote.ts
  __tests__/utils/src/generators/wallets.ts
  __tests__/utils/src/helpers/api.ts
  __tests__/utils/src/helpers/blockchain.ts
  __tests__/utils/src/helpers/container.ts
  __tests__/utils/src/helpers/index.ts
  __tests__/utils/src/index.ts
  packages/core-test-utils/.gitattributes
  packages/core-test-utils/README.md
  packages/core-test-utils/package.json
  packages/core-test-utils/tsconfig.json
Due: yarn lint, prettier --write

chore: delete core-test-utils references in config and misc
  .codecov.yml
  README.md
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-json-rpc/package.json
  packages/core-p2p/package.json
  packages/core-transaction-pool/package.json
  packages/core-webhooks/package.json
Due: prettier --write

refactor: reorganize __tests__/utils folder
  __tests__/utils/config/index.js
  __tests__/utils/config/testnet/delegates.json
  __tests__/utils/config/testnet/genesisBlock.json
  __tests__/utils/config/testnet/peers.json
  __tests__/utils/config/testnet/plugins.js
  __tests__/utils/config/unitnet/delegates.json
  __tests__/utils/config/unitnet/genesisBlock.json
  __tests__/utils/config/unitnet/peers.json
  __tests__/utils/config/unitnet/plugins.js
  __tests__/utils/config/unitnet/wallets.json
  __tests__/utils/config/unitnet/wallets2ndSig.json
  __tests__/utils/fixtures/index.ts
  __tests__/utils/fixtures/testnet/blocks101to155.ts
  __tests__/utils/fixtures/testnet/blocks2to100.ts
  __tests__/utils/fixtures/testnet/delegates.ts
  __tests__/utils/fixtures/testnet/index.ts
  __tests__/utils/fixtures/testnet/passphrases.ts
  __tests__/utils/fixtures/unitnet/blocks.ts
  __tests__/utils/fixtures/unitnet/delegates.ts
  __tests__/utils/fixtures/unitnet/index.ts
  __tests__/utils/fixtures/unitnet/wallets.ts
  __tests__/utils/generators/index.ts
  __tests__/utils/generators/transactions/delegate.ts
  __tests__/utils/generators/transactions/index.ts
  __tests__/utils/generators/transactions/signature.ts
  __tests__/utils/generators/transactions/transaction.ts
  __tests__/utils/generators/transactions/transfer.ts
  __tests__/utils/generators/transactions/vote.ts
  __tests__/utils/generators/wallets.ts
  __tests__/utils/helpers/api.ts
  __tests__/utils/helpers/blockchain.ts
  __tests__/utils/helpers/container.ts
  __tests__/utils/helpers/index.ts
  __tests__/utils/index.ts
Due: yarn lint, prettier --write

fix missing milestone in test
  packages/crypto/__tests__/models/block.test.ts
Due: yarn lint, prettier --write

refactor: remove core-test-utils tests
  __tests__/unit/core-test-utils/generators/transactions.test.ts
  __tests__/unit/core-test-utils/generators/transactions/delegate.test.ts
  __tests__/unit/core-test-utils/generators/transactions/signature.test.ts
  __tests__/unit/core-test-utils/generators/transactions/transfer.test.ts
  __tests__/unit/core-test-utils/generators/transactions/vote.test.ts
Due: yarn lint, prettier --write

feat(crypto): increase vendor field length to 255 bytes (#2159)
  packages/core-api/src/formats.ts
  packages/core-container/__tests__/__stubs__/config/milestones.json
  packages/crypto/__tests__/models/block.test.ts
  packages/crypto/__tests__/transactions/deserializers/transaction.test.ts
  packages/crypto/__tests__/validation/formats.test.ts
  packages/crypto/src/builder/transactions/transaction.ts
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/mainnet/milestones.json
  packages/crypto/src/networks/testnet/milestones.json
  packages/crypto/src/networks/unitnet/milestones.json
  packages/crypto/src/transactions/types/schemas.ts
  packages/crypto/src/utils.ts
  packages/crypto/src/validation/ajv-wrapper.ts
  packages/crypto/src/validation/formats.ts
Due: yarn lint, prettier --write

refactor: replace micromatch with the more lightweight nanomatch
  packages/core-http-utils/package.json
  packages/core-http-utils/src/plugins/whitelist.ts
  packages/core-p2p/package.json
  packages/core-p2p/src/utils/is-whitelisted.ts
  yarn.lock
Due: yarn lint, prettier --write

fix(core-http-utils): remove non-existent deps
  packages/core-http-utils/src/server/create.ts
Due: yarn lint, prettier --write

fix(core-vote-report): add vision dependency
  packages/core-api/src/versions/2/delegates/schema.ts
  packages/core-http-utils/src/server/create-secure.ts
  packages/core-http-utils/src/server/create.ts
  packages/core-vote-report/package.json
  packages/core-vote-report/src/server.ts
Due: yarn lint, prettier --write

Update create.ts
  packages/core-http-utils/src/server/create.ts
Due: yarn lint, prettier --write

Added osmose testnet network and updated docker testnet configuration.
  docker/production/devnet/docker-compose-build.yml
  docker/production/testnet/docker-compose-build.yml
  docker/production/testnet/enc.sh
  docker/production/testnet/entrypoint.sh
  docker/production/testnet/purge_all.sh
  docker/production/testnet/testnet.env
  packages/core-snapshots-cli/package.json
  packages/core/package.json
  packages/core/src/config/osmose_testnet/peers.json
  packages/core/src/config/osmose_testnet/plugins.js
  packages/crypto/src/networks/index.ts
  packages/crypto/src/networks/osmose_testnet/exceptions.json
  packages/crypto/src/networks/osmose_testnet/genesisBlock.json
  packages/crypto/src/networks/osmose_testnet/index.ts
  packages/crypto/src/networks/osmose_testnet/milestones.json
  packages/crypto/src/networks/osmose_testnet/network.json
Due: yarn lint, prettier --write

refactor(core-container): remove dead code
  packages/core-container/src/config/network.ts
Due: yarn lint, prettier --write

Update network.ts
  packages/core-container/src/config/network.ts
Due: yarn lint, prettier --write

Delete file-loader.test.ts
  packages/core-container/__tests__/config/loaders/file-loader.test.ts
Due: yarn lint, prettier --write

Added back environment variables to osmose-testnet plugins.js file. Fixed Docker "cannot connect to postgres server" issue.
  docker/production/testnet/docker-compose-build.yml
  docker/production/testnet/testnet.env
  packages/core/src/config/osmose_testnet/plugins.js
Due: none

refactor(core-container): remove dead configuration code (#2166)
  packages/core-container/__tests__/config/loaders/file-loader.test.ts
  packages/core-container/src/config/network.ts
Due: yarn lint, prettier --write

refactor: replace micromatch with nanomatch and remove heavy deps (#2165)
  packages/core-api/src/versions/2/delegates/schema.ts
  packages/core-http-utils/package.json
  packages/core-http-utils/src/plugins/whitelist.ts
  packages/core-http-utils/src/server/create-secure.ts
  packages/core-http-utils/src/server/create.ts
  packages/core-p2p/package.json
  packages/core-p2p/src/utils/is-whitelisted.ts
  packages/core-vote-report/package.json
  packages/core-vote-report/src/server.ts
  yarn.lock
Due: yarn lint, prettier --write

expose de/serializers
  packages/crypto/src/crypto/crypto.ts
  packages/crypto/src/transactions/index.ts
  packages/crypto/src/transactions/serializers/transaction.ts
Due: yarn lint, prettier --write

extend transaction benchmarks
  benchmark/index.js
  benchmark/transaction/create/0.js
  benchmark/transaction/deserialize/methods.js
  benchmark/transaction/serialize/0.js
  packages/crypto/src/transactions/serializers/block.ts
Due: yarn lint, prettier --write

extend block benchmarks
  benchmark/block/create.js
  benchmark/index.js
Due: none

yarn.lock
  yarn.lock
Due: none

refactor(core): use reload instead of restart and update the env vars (#2163)
  packages/core/src/process-manager.ts
Due: yarn lint, prettier --write
