Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

refactor(core-blockchain): call `checkNetworkHealth` less deterministically
  __tests__/unit/core-blockchain/blockchain.test.ts
  __tests__/unit/core-blockchain/mocks/p2p/network-monitor.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-interfaces/src/core-blockchain/blockchain.ts
Due: yarn lint, prettier --write

fix(core-p2p): stop processing blocks containing too many transactions
  __tests__/integration/core-p2p/mocks/core-container.ts
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-p2p/src/socket-server/errors.ts
  packages/core-p2p/src/socket-server/versions/peer.ts
Due: yarn lint, prettier --write

core-transactions: fix HTLC unlock secret format
  __tests__/e2e/tests/scenarios/scenario1/htlc-claim/1.create-lock-txs.action.js
  __tests__/e2e/tests/scenarios/scenario1/htlc-claim/3.create-claim-txs.action.js
  __tests__/e2e/tests/scenarios/scenario1/htlc-refund/1.create-lock-txs.action.js
  __tests__/e2e/tests/scenarios/scenario1/multisig-htlc-claim/4.create-lock-multisig-txs.action.js
  __tests__/e2e/tests/scenarios/scenario1/multisig-htlc-claim/5.create-claim-multisig-txs.action.js
  __tests__/e2e/tests/scenarios/scenario1/multisig-htlc-refund/4.create-lock-multisig-txs.action.js
  __tests__/functional/transaction-forging/htlc-claim.test.ts
  __tests__/integration/core-tester-cli/commands/send/htlc-claim.test.ts
  __tests__/integration/core-tester-cli/commands/send/htlc-lock.test.ts
  __tests__/integration/core-transactions/handlers/htlc-claim.test.ts
  __tests__/unit/core-state/wallets/wallet-manager-htlc.test.ts
  __tests__/unit/core-transactions/handler.test.ts
  __tests__/unit/crypto/transactions/builders/transactions/htlc-claim.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  __tests__/unit/crypto/transactions/schemas.test.ts
  packages/core-tester-cli/src/commands/send/htlc-claim.ts
  packages/core-tester-cli/src/commands/send/htlc-lock.ts
  packages/core-tester-cli/src/shared/htlc-secret.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/crypto/src/transactions/types/htlc-claim.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

refactor: ban if remote opens multiple sockets
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix(core-p2p): block payload with additional props
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix(core-p2p): block invalid opcode packets
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix(core-p2p): disconnect if event does not have a defined handler
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix(core-p2p): stop processing blocks containing too many transactions
  packages/core-p2p/src/socket-server/errors.ts
  packages/core-p2p/src/socket-server/versions/peer.ts
Due: yarn lint, prettier --write

fix(core-p2p): disconnect existing connections from the same ip
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

chore: enable github tests
  .github/workflows/functional.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @types/hapi__hapi to v19
  packages/core-http-utils/package.json
  yarn.lock
Due: prettier --write

test: business-update
  __tests__/unit/core-magistrate/handlers/business-update.test.ts
Due: yarn lint, prettier --write

refactor(core-transaction-pool): collator service
  packages/core-api/src/controllers/transactions.ts
  packages/core-forger/src/forger-service.ts
  packages/core-kernel/src/contracts/state/index.ts
  packages/core-kernel/src/contracts/state/transaction-validator.ts
  packages/core-kernel/src/contracts/transaction-pool/collator.ts
  packages/core-kernel/src/contracts/transaction-pool/connection.ts
  packages/core-kernel/src/contracts/transaction-pool/index.ts
  packages/core-kernel/src/ioc/identifiers.ts
  packages/core-p2p/src/socket-server/versions/internal.ts
  packages/core-state/src/service-provider.ts
  packages/core-state/src/transaction-validator.ts
  packages/core-transaction-pool/src/collator.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/index.ts
  packages/core-transaction-pool/src/service-provider.ts
Due: yarn lint, prettier --write

fix: typo
  __tests__/unit/core-magistrate/handlers/handlers.test.ts
Due: yarn lint, prettier --write

fix(deps): update dependency socketcluster-client to v15
  packages/core-forger/package.json
  packages/core-p2p/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency scc-broker-client to v7
  packages/core-p2p/package.json
  yarn.lock
Due: prettier --write

test: fix integration tests
  __tests__/integration/core-api/handlers/transactions.test.ts
  __tests__/integration/core-p2p/socket-server/peer.test.ts
Due: yarn lint, prettier --write

refactor: disable peer check for postBlock/postTransactions
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix(deps): update dependency socketcluster to v15
  packages/core-p2p/package.json
  yarn.lock
Due: prettier --write

fix(crypto): relax network interface check for seednode ips (#3391)
  __tests__/unit/crypto/utils/is-valid-peer.test.ts
  packages/crypto/src/utils/is-valid-peer.ts
  packages/crypto/src/validation/formats.ts
Due: yarn lint, prettier --write

chore(deps): update dependency lint-staged to v10
  package.json
Due: prettier --write

fix(deps): update hapijs monorepo
  packages/core-api/package.json
  packages/core-container/package.json
  packages/core-elasticsearch/package.json
  packages/core-http-utils/package.json
  packages/core-p2p/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
Due: prettier --write

Revert "chore: enable github tests"
  .github/workflows/functional.yml
  .github/workflows/test.yml
Due: none

chore: changelog
  CHANGELOG.md
Due: prettier --write

release: 2.5.36
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.5.36 (#3406)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(deps): update hapijs monorepo
  packages/core-api/package.json
  packages/core-container/package.json
  packages/core-elasticsearch/package.json
  packages/core-http-utils/package.json
  packages/core-p2p/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  yarn.lock
Due: prettier --write

Revert "refactor: ban if remote opens multiple sockets"
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix(core-p2p): remove banning when peer opens multiple sockets (#3409)
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

release: 2.5.37
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.5.37 (#3410)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.5.38
  CHANGELOG.md
  lerna.json
  packages/a
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.5.38 (#3411)
  CHANGELOG.md
  lerna.json
  packages/a
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

test: fix p2p socket test
  __tests__/integration/core-p2p/socket-server/peer.test.ts
Due: yarn lint, prettier --write

refactor: zero fee for magistrate resignation txs
  packages/core-magistrate-crypto/src/enums.ts
Due: yarn lint, prettier --write

test: zero fee magistrate txs refactor
  __tests__/integration/core-api/handlers/transactions.test.ts
Due: yarn lint, prettier --write

test(core-magistrate): business tests (#3398)
  __tests__/unit/core-magistrate/handlers/business-handlers.test.ts
  __tests__/unit/core-magistrate/handlers/business-update.test.ts
  __tests__/unit/core-magistrate/handlers/handlers.test.ts
Due: yarn lint, prettier --write

refactor(core-p2p): remove unnecessary termination
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
