Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

chore (networks): add mainnet and testnet
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/mainnet/app.json
  packages/core/bin/config/mainnet/config.json
  packages/core/bin/config/mainnet/peers.json
  packages/core/bin/config/testnet/.env
  packages/core/bin/config/testnet/app.json
  packages/core/bin/config/testnet/config.json
  packages/core/bin/config/testnet/delegates.json
  packages/core/src/commands/genesis-delegate-generate.ts
  packages/crypto/src/networks/index.ts
  packages/crypto/src/networks/mainnet/exceptions.json
  packages/crypto/src/networks/mainnet/genesisBlock.json
  packages/crypto/src/networks/mainnet/index.ts
  packages/crypto/src/networks/mainnet/milestones.json
  packages/crypto/src/networks/mainnet/network.json
  packages/crypto/src/networks/testnet/exceptions.json
  packages/crypto/src/networks/testnet/genesisBlock.json
  packages/crypto/src/networks/testnet/index.ts
  packages/crypto/src/networks/testnet/milestones.json
  packages/crypto/src/networks/testnet/network.json
  plugins/.gitignore
Due: yarn lint, prettier --write

chore (install): add git source installation
  install.sh
Due: none

style (docs): replace upstream readme
  README.md
Due: prettier --write

chore (plugins): add mqtt + socket event forwarder
  plugins/mqtt/.gitignore
  plugins/mqtt/CHANGELOG.md
  plugins/mqtt/LICENCE
  plugins/mqtt/README.md
  plugins/mqtt/etc/config/mosquitto.conf
  plugins/mqtt/etc/docker-compose.yml
  plugins/mqtt/jest.config.js
  plugins/mqtt/package.json
  plugins/mqtt/src/defaults.ts
  plugins/mqtt/src/interface.ts
  plugins/mqtt/src/service-provider.ts
  plugins/mqtt/src/service.ts
  plugins/mqtt/tsconfig.eslint.json
  plugins/mqtt/tsconfig.json
  plugins/socket-event-forwarder/.gitignore
  plugins/socket-event-forwarder/LICENSE
  plugins/socket-event-forwarder/README.md
  plugins/socket-event-forwarder/package.json
  plugins/socket-event-forwarder/src/defaults.ts
  plugins/socket-event-forwarder/src/interfaces.ts
  plugins/socket-event-forwarder/src/service-provider.ts
  plugins/socket-event-forwarder/src/service.ts
  plugins/socket-event-forwarder/tsconfig.eslint.json
  plugins/socket-event-forwarder/tsconfig.json
  yarn.lock
Due: yarn lint, prettier --write

chore (deps): add nodejs v16+
  install.sh
  package.json
Due: prettier --write

chore (deps): add checkout on feature branch
  install.sh
Due: none

chore(docs): add installation instructions
  README.md
Due: prettier --write

fix(install): use identical alias name
  install.sh
Due: none

fix(install): use radians instead of ark alias
  install.sh
Due: none

style(docs): improve installation instructions
  README.md
Due: prettier --write

chore(install): remove branch checkout
  install.sh
Due: none

fix(core-kernel): fix pagination results order (#4617)
  packages/core-kernel/src/services/search/pagination-service.ts
Due: yarn lint, prettier --write

fix(core-p2p): use Promise.allSettled on block download (#4618)
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

fix(core-p2p): use Promise.allSettled on block download (#4618) (#4625)
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

fix(core-kernel): fix pagination results order (#4617) (#4624)
  packages/core-kernel/src/services/search/pagination-service.ts
Due: yarn lint, prettier --write

fix(core-p2p): close connection after sending response
  packages/core-p2p/src/socket-server/plugins/close-connection.ts
  packages/core-p2p/src/socket-server/server.ts
Due: yarn lint, prettier --write

fix(core-api): create block and transaction sorting schemas
  packages/core-api/src/resources-new/block.ts
  packages/core-api/src/resources-new/transaction.ts
  packages/core-api/src/routes/blocks.ts
  packages/core-api/src/routes/delegates.ts
  packages/core-api/src/routes/transactions.ts
  packages/core-api/src/routes/votes.ts
  packages/core-api/src/routes/wallets.ts
  packages/core-api/src/schemas.ts
Due: yarn lint, prettier --write

fix(core-p2p): close connection after sending response (#4627)
  packages/core-p2p/src/socket-server/plugins/close-connection.ts
  packages/core-p2p/src/socket-server/server.ts
Due: yarn lint, prettier --write

fix(core-api): create block and transaction sorting schemas (#4628)
  packages/core-api/src/resources-new/block.ts
  packages/core-api/src/resources-new/transaction.ts
  packages/core-api/src/routes/blocks.ts
  packages/core-api/src/routes/delegates.ts
  packages/core-api/src/routes/transactions.ts
  packages/core-api/src/routes/votes.ts
  packages/core-api/src/routes/wallets.ts
  packages/core-api/src/schemas.ts
Due: yarn lint, prettier --write

release: 3.2.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.2.0 (#4629)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

ES Lint fix
  packages/core-p2p/src/socket-server/plugins/close-connection.ts
  packages/core-p2p/src/socket-server/server.ts
Due: yarn lint, prettier --write

release: 4.0.0-next.9
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 4.0.0-next.9 (#4633)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Set permissions for GitHub actions
  .github/workflows/benchmark.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/devnet-sync.yml
  .github/workflows/e2e.yml
  .github/workflows/functional.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/publish-develop.yml
  .github/workflows/publish-master.yml
  .github/workflows/unit.yml
Due: none

ci: set explicit permissions for actions/workflows (#4634)
  .github/workflows/benchmark.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/devnet-sync.yml
  .github/workflows/e2e.yml
  .github/workflows/functional.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/publish-develop.yml
  .github/workflows/publish-master.yml
  .github/workflows/unit.yml
Due: none

Fix sorting
  packages/core-api/src/controllers/controller.ts
  packages/core-api/src/resources-new/block.ts
  packages/core-api/src/resources-new/transaction.ts
  packages/core-api/src/schemas.ts
Due: yarn lint, prettier --write

Fix tests
  __tests__/unit/core-api/controllers/controller.test.ts
  __tests__/unit/core-api/controllers/delegates.test.ts
  __tests__/unit/core-api/controllers/locks.test.ts
  __tests__/unit/core-api/controllers/wallets.test.ts
Due: yarn lint, prettier --write

fix(core-api): sorting with multiple orderBy values (#4636)
  __tests__/unit/core-api/controllers/controller.test.ts
  __tests__/unit/core-api/controllers/delegates.test.ts
  __tests__/unit/core-api/controllers/locks.test.ts
  __tests__/unit/core-api/controllers/wallets.test.ts
  packages/core-api/src/controllers/controller.ts
  packages/core-api/src/resources-new/block.ts
  packages/core-api/src/resources-new/transaction.ts
  packages/core-api/src/schemas.ts
Due: yarn lint, prettier --write

release: 3.2.1
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.2.1 (#4637)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

remove orderBy from query
  packages/core-api/src/plugins/pagination/ext.ts
Due: yarn lint, prettier --write

fix(core-api): empty orderBy in pagination result (#4638)
  packages/core-api/src/plugins/pagination/ext.ts
Due: yarn lint, prettier --write

release: 3.2.2
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.2.2 (#4639)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

revert(core-api): sorting with multiple orderBy values (#4636)
  __tests__/unit/core-api/controllers/controller.test.ts
  __tests__/unit/core-api/controllers/delegates.test.ts
  __tests__/unit/core-api/controllers/locks.test.ts
  __tests__/unit/core-api/controllers/wallets.test.ts
  packages/core-api/src/controllers/controller.ts
  packages/core-api/src/resources-new/block.ts
  packages/core-api/src/resources-new/transaction.ts
  packages/core-api/src/schemas.ts
Due: yarn lint, prettier --write

fix(core-api): sorting with multiple orderBy values
  packages/core-api/src/controllers/controller.ts
  packages/core-api/src/schemas.ts
Due: yarn lint, prettier --write

fix(core-api): sorting with multiple orderBy values (#4641)
  __tests__/unit/core-api/controllers/controller.test.ts
  __tests__/unit/core-api/controllers/delegates.test.ts
  __tests__/unit/core-api/controllers/locks.test.ts
  __tests__/unit/core-api/controllers/wallets.test.ts
  packages/core-api/src/controllers/controller.ts
  packages/core-api/src/resources-new/block.ts
  packages/core-api/src/resources-new/transaction.ts
  packages/core-api/src/schemas.ts
Due: yarn lint, prettier --write

wip
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.2.3 (#4642)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
