Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

deps: upgrade yarn.lock
  yarn.lock
Due: none

deps: fix typescript version
  package.json
  yarn.lock
Due: prettier --write

release: 4.0.0-next.1 (#4538)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

deps: update typescript
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

fix(core-kernel): typescript errors
  packages/core-kernel/src/providers/service-provider.ts
  packages/core-kernel/src/services/triggers/action.ts
Due: yarn lint, prettier --write

fix(core-cli): typescript errors
  packages/core-cli/src/commands/command.ts
  packages/core-cli/src/input/parser.ts
  packages/core-cli/src/services/source-providers/abstract-source.ts
Due: yarn lint, prettier --write

fix(core-transactions): typescript errors
  packages/core-transactions/src/handlers/transaction.ts
Due: yarn lint, prettier --write

fix(core-snapshots): typescript errors
  packages/core-snapshots/src/database-service.ts
  packages/core-snapshots/src/workers/actions/abstract-worker-action.ts
  packages/core-snapshots/src/workers/actions/test-worker-action.ts
  packages/core-snapshots/src/workers/worker-wrapper.ts
Due: yarn lint, prettier --write

fix(core-p2p): typescript errors
  packages/core-p2p/src/hapi-nes/client.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/socket-server/plugins/await-block.ts
Due: yarn lint, prettier --write

fix(core-magistrate-transactions): typescript errors
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
Due: yarn lint, prettier --write

fix(core): typescript errors
  packages/core/src/commands/network-generate.ts
Due: yarn lint, prettier --write

fix(core-kernel): export named types from type-fest
  packages/core-kernel/src/types/index.ts
Due: yarn lint, prettier --write

fix(core-p2p): mapAddr
  packages/core-p2p/src/socket-server/utils/map-addr.ts
Due: yarn lint, prettier --write

test(core): fix tests
  __tests__/unit/core/commands/core-run.test.ts
  __tests__/unit/core/commands/forger-run.test.ts
  __tests__/unit/core/commands/relay-run.test.ts
  __tests__/unit/core/commands/snapshot-dump.test.ts
  __tests__/unit/core/commands/snapshot-restore.test.ts
  __tests__/unit/core/commands/snapshot-rollback.test.ts
  __tests__/unit/core/commands/snapshot-truncate.test.ts
  __tests__/unit/core/commands/snapshot-verify.test.ts
Due: yarn lint, prettier --write

test(core-forger): fix tests
  __tests__/unit/core-forger/mocks/nes.ts
Due: yarn lint, prettier --write

test(core-kernel): fix tests
  __tests__/unit/core-kernel/services/schedule/block-job.test.ts
  __tests__/unit/core-kernel/utils/lock.test.ts
Due: yarn lint, prettier --write

fix(crypto): ipAddr
  packages/crypto/src/utils/is-valid-peer.ts
Due: yarn lint, prettier --write

test(core-p2p): fix tests
  __tests__/unit/core-p2p/hapi-nes/client.test.ts
  __tests__/unit/core-p2p/hapi-nes/socket.test.ts
  __tests__/unit/core-p2p/network-monitor.test.ts
  __tests__/unit/core-p2p/peer-processor.test.ts
Due: yarn lint, prettier --write

test(core-snapshots): fix tests
  __tests__/unit/core-snapshots/workers/actions/test-worker-action.test.ts
  __tests__/unit/core-snapshots/workers/actions/worker-action.test.ts
  __tests__/unit/core-snapshots/workers/read-processor.test.ts
  __tests__/unit/core-snapshots/workers/worker-thread.test.ts
  __tests__/unit/core-snapshots/workers/worker-wrapper.test.ts
Due: yarn lint, prettier --write

test(core-state): fix tests
  __tests__/unit/core-state/block-state.test.ts
  __tests__/unit/core-state/round-state.test.ts
Due: yarn lint, prettier --write

chore: update tsconfig
  tsconfig.json
Due: prettier --write

deps: yarn.lock
  yarn.lock
Due: none

chore: update jest.config.js
  jest.config.js
Due: none

test: fix tests
  __tests__/unit/core-cli/components/table.test.ts
  __tests__/unit/core-forger/forger-service.test.ts
  __tests__/unit/core-state/stores/state.test.ts
Due: yarn lint, prettier --write

deps: update jest
  jest.config.js
  package.json
Due: prettier --write

deps: update jest types
  package.json
Due: prettier --write

test(integration): increase timeout
  __tests__/integration/core-api/api.test.ts
  __tests__/integration/core-api/controllers/delegates.test.ts
  __tests__/integration/core-api/controllers/locks.test.ts
  __tests__/integration/core-api/controllers/wallets.test.ts
  __tests__/integration/core-api/handlers/blockchain.test.ts
  __tests__/integration/core-api/handlers/blocks.test.ts
  __tests__/integration/core-api/handlers/delegates.test.ts
  __tests__/integration/core-api/handlers/locks.test.ts
  __tests__/integration/core-api/handlers/node.test.ts
  __tests__/integration/core-api/handlers/peers.test.ts
  __tests__/integration/core-api/handlers/rounds.test.ts
  __tests__/integration/core-api/handlers/transactions.test.ts
  __tests__/integration/core-api/handlers/votes.test.ts
  __tests__/integration/core-api/handlers/wallets.test.ts
  __tests__/integration/core-magistrate-api/controllers/entities.test.ts
  __tests__/integration/core-test-framework/utils/api-http-client.test.ts
  __tests__/integration/core-test-framework/utils/api-inject-client.test.ts
Due: yarn lint, prettier --write

deps: update `jest` to 27.3.1 (#4543)
  __tests__/integration/core-api/api.test.ts
  __tests__/integration/core-api/controllers/delegates.test.ts
  __tests__/integration/core-api/controllers/locks.test.ts
  __tests__/integration/core-api/controllers/wallets.test.ts
  __tests__/integration/core-api/handlers/blockchain.test.ts
  __tests__/integration/core-api/handlers/blocks.test.ts
  __tests__/integration/core-api/handlers/delegates.test.ts
  __tests__/integration/core-api/handlers/locks.test.ts
  __tests__/integration/core-api/handlers/node.test.ts
  __tests__/integration/core-api/handlers/peers.test.ts
  __tests__/integration/core-api/handlers/rounds.test.ts
  __tests__/integration/core-api/handlers/transactions.test.ts
  __tests__/integration/core-api/handlers/votes.test.ts
  __tests__/integration/core-api/handlers/wallets.test.ts
  __tests__/integration/core-magistrate-api/controllers/entities.test.ts
  __tests__/integration/core-test-framework/utils/api-http-client.test.ts
  __tests__/integration/core-test-framework/utils/api-inject-client.test.ts
  __tests__/unit/core-cli/components/table.test.ts
  __tests__/unit/core-forger/forger-service.test.ts
  __tests__/unit/core-state/stores/state.test.ts
  jest.config.js
  package.json
  yarn.lock
Due: yarn lint, prettier --write

deps: update lerna to 4.0.0
  package.json
  yarn.lock
Due: prettier --write

deps(core-cli): upgrade env-paths from 2.2.0 to 2.2.1
  packages/core-cli/package.json
Due: prettier --write

test(core-blockchain): move tests under packages/core-blockchain/__tests__
  packages/core-blockchain/__tests__/__fixtures__/blocks.ts
  packages/core-blockchain/__tests__/__fixtures__/index.ts
  packages/core-blockchain/__tests__/actions/process-block.test.ts
  packages/core-blockchain/__tests__/blockchain.test.ts
  packages/core-blockchain/__tests__/process-blocks-job.test.ts
  packages/core-blockchain/__tests__/processor/block-processor.test.ts
  packages/core-blockchain/__tests__/processor/handlers/accept-block-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/already-forged-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/exception-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/incompatible-transactions-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/invalid-generator-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/nonce-out-of-order-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/revert-block-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/unchained-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/verification-failed-handler.test.ts
  packages/core-blockchain/__tests__/service-provider.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/blockchain-ready.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/check-last-block-synced.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/check-last-downloaded-block-synced.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/check-later.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/download-blocks.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/download-finished.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/download-paused.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/exit-app.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/initialize.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/rollback-database.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/start-fork-recovery.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/stopped.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/syncing-complete.test.ts
  packages/core-blockchain/__tests__/state-machine/state-machine.test.ts
Due: yarn lint, prettier --write

test(core-database): move tests under packages/core-database/__tests__
  packages/core-database/__tests__/__fixtures__/block1760000.ts
  packages/core-database/__tests__/block-filter.test.ts
  packages/core-database/__tests__/block-history-service.test.ts
  packages/core-database/__tests__/database-service.test.ts
  packages/core-database/__tests__/model-converter.test.ts
  packages/core-database/__tests__/service-provider.test.ts
  packages/core-database/__tests__/transaction-filter.test.ts
  packages/core-database/__tests__/transaction-history-service.test.ts
  packages/core-database/__tests__/utils/query-helper.test.ts
  packages/core-database/__tests__/utils/snake-naming-strategy.test.ts
  packages/core-database/__tests__/utils/transform.test.ts
Due: yarn lint, prettier --write

test(core-forger): move tests under packages/core-forger/__tests__
  packages/core-forger/__tests__/__utils__/calculate-active-delegates.ts
  packages/core-forger/__tests__/__utils__/create-block-with-transactions.ts
  packages/core-forger/__tests__/client.test.ts
  packages/core-forger/__tests__/delegate-factory.test.ts
  packages/core-forger/__tests__/delegate-tracker.test.ts
  packages/core-forger/__tests__/errors.test.ts
  packages/core-forger/__tests__/forger-service.test.ts
  packages/core-forger/__tests__/methods/bip38.test.ts
  packages/core-forger/__tests__/methods/bip39.test.ts
  packages/core-forger/__tests__/mocks/nes.ts
  packages/core-forger/__tests__/process-actions/current-delegate.test.ts
  packages/core-forger/__tests__/process-actions/last-forged-block.test.ts
  packages/core-forger/__tests__/process-actions/next-slot.test.ts
  packages/core-forger/__tests__/service-provider.test.ts
  packages/core-forger/__tests__/setup.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
