Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

refactor: simplify
  packages/core-forger/src/manager.ts
Due: yarn lint, prettier --write

test: add
  packages/crypto/__tests__/crypto/slots.test.ts
Due: yarn lint, prettier --write

fix: quorum issues (#2091)
  packages/core-blockchain/src/blockchain.ts
  packages/core-forger/src/manager.ts
  packages/crypto/__tests__/crypto/slots.test.ts
  packages/crypto/src/crypto/slots.ts
Due: yarn lint, prettier --write

test: ignore some declarations
  packages/crypto/__tests__/handlers/transactions/multi-signature.test.ts
Due: yarn lint, prettier --write

test: ignore some declarations
  packages/crypto/__tests__/crypto/crypto.test.ts
Due: yarn lint, prettier --write

test: ignore some declarations
  jest-preset.json
  packages/core-blockchain/__tests__/state-machine.test.ts
Due: yarn lint, prettier --write

test: ignore some declarations
  packages/core-database/__tests__/repositories/delegates.test.ts
  packages/core-database/__tests__/wallet-manager.test.ts
Due: yarn lint, prettier --write

feature: implement the BlockBusinessRepo logic. And the search method on the blocks database repo.
  packages/core-api/src/repositories/blocks.ts
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database-postgres/src/repositories/repository.ts
  packages/core-database-postgres/src/repositories/wallets.ts
  packages/core-database/src/database-service-factory.ts
  packages/core-database/src/repositories/blocks-business-repository.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
Due: yarn lint, prettier --write

feat(core): check updates from npm
  packages/core/package.json
  packages/core/src/hooks/init.ts
  packages/core/src/logger.ts
  yarn.lock
Due: yarn lint, prettier --write

feat(core): perform automatic update if user confirms
  packages/core/package.json
  packages/core/src/commands/command.ts
  packages/core/src/helpers/pm2.ts
  packages/core/src/hooks/init.ts
Due: yarn lint, prettier --write

refactor(core): check for updates once a day
  packages/core/src/commands/update.ts
  packages/core/src/helpers/update.ts
  packages/core/src/hooks/init.ts
Due: yarn lint, prettier --write

refactor(core): use oclif logger and ignore update command for init
  packages/core/package.json
  packages/core/src/commands/command.ts
  packages/core/src/commands/update.ts
  packages/core/src/helpers/pm2.ts
  packages/core/src/helpers/update.ts
  packages/core/src/hooks/init.ts
  packages/core/src/logger.ts
  yarn.lock
Due: yarn lint, prettier --write

fix(core): greater than, not equal
  packages/core/src/helpers/update.ts
Due: yarn lint, prettier --write

chore(deps): update types
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-elasticsearch/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-transaction-pool/package.json
  packages/core-webhooks/package.json
Due: prettier --write

chore: use standard port 4000 for p2p (WIP)
  packages/core-forger/__tests__/client.test.ts
  packages/core-p2p/__tests__/peer.test.ts
  packages/core-p2p/__tests__/socket-server/peer.test.ts
  packages/core-p2p/src/socket-server/index.ts
Due: yarn lint, prettier --write

chore(core): add missing deps and remove graphql as default dep
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/plugins.js
  packages/core/package.json
Due: prettier --write

refactor(core-p2p): more extensive peer state verification (#2032)
  packages/core-blockchain/__tests__/blockchain.test.ts
  packages/core-database-postgres/src/queries/blocks/find-by-height.sql
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database/__tests__/database-service.test.ts
  packages/core-database/src/database-service.ts
  packages/core-interfaces/src/core-database/database-repository/blocks-repository.ts
  packages/core-interfaces/src/core-database/database-service.ts
  packages/core-interfaces/src/core-p2p/peer.ts
  packages/core-p2p/__tests__/monitor.test.ts
  packages/core-p2p/__tests__/peer-verifier.test.ts
  packages/core-p2p/__tests__/peer.test.ts
  packages/core-p2p/src/monitor.ts
  packages/core-p2p/src/peer-verifier.ts
  packages/core-p2p/src/peer.ts
  packages/core-utils/__tests__/capped-set.test.ts
  packages/core-utils/__tests__/nsect.test.ts
  packages/core-utils/src/capped-set.ts
  packages/core-utils/src/index.ts
  packages/core-utils/src/nsect.ts
Due: yarn lint, prettier --write

fix(core): merge flags and response for config publishment
  packages/core/src/commands/command.ts
  packages/core/src/commands/config/publish.ts
  packages/core/src/commands/config/reset.ts
Due: yarn lint, prettier --write

chore: update install script
  install.sh
Due: none

chore: bump version to alpha
  .gitignore
  packages/core/package.json
  yarn.lock
Due: prettier --write

chore(docker): use global install for ark cli
  docker/production/entrypoint.sh
Due: none

fix(core-api): Proper hex validation
  packages/core-api/src/plugins/validation/formats/hex.ts
Due: yarn lint, prettier --write

fix(core-api): proper hex validation (#2093)
  packages/core-api/src/plugins/validation/formats/hex.ts
Due: yarn lint, prettier --write

refactor(core): more robust bip38 forger handling
  packages/core-api/src/versions/1/peers/schema.ts
  packages/core-p2p/src/server/plugins/validate-headers.ts
  packages/core/src/commands/command.ts
  packages/core/src/commands/forger/start.ts
  packages/core/src/helpers/pm2.ts
Due: yarn lint, prettier --write

chore: bump versions and format
  packages/core-database/__tests__/database-service.test.ts
  packages/core-p2p/__tests__/peer-verifier.test.ts
  packages/core-p2p/package.json
  packages/core-p2p/src/peer-verifier.ts
  packages/core-utils/src/index.ts
  packages/core/package.json
  yarn.lock
Due: yarn lint, prettier --write

added Docker README and banner
  docker/production/README.md
  docker/production/ark-core-docker.png
Due: prettier --write

chore: alpha versions
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/core/src/commands/core/start.ts
  packages/core/src/commands/forger/start.ts
  packages/core/src/commands/relay/start.ts
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

fix: max payload size
  packages/core-api/src/versions/1/transactions/controller.ts
  packages/core-api/src/versions/2/transactions/controller.ts
  packages/core-interfaces/src/core-transaction-pool/transaction-pool.ts
  packages/core-transaction-pool/__tests__/__fixtures__/transactions.ts
  packages/core-transaction-pool/__tests__/connection.test.ts
  packages/core-transaction-pool/__tests__/guard.test.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/defaults.ts
  packages/core-transaction-pool/src/guard.ts
Due: yarn lint, prettier --write

refactor(core-p2p): allow longer version strings
  packages/core-p2p/src/server/plugins/validate-headers.ts
Due: yarn lint, prettier --write

refactor(core-p2p): allow longer version strings (#2096)
  packages/core-p2p/src/server/plugins/validate-headers.ts
Due: yarn lint, prettier --write

fix: schema
  packages/core-p2p/__tests__/fixtures/block-with-transactions.json
  packages/core-p2p/__tests__/server/1.test.ts
  packages/core-p2p/src/server/versions/1/handlers.ts
  packages/crypto/src/serializers/transaction.ts
  packages/crypto/src/validation/extensions/transactions/base.ts
Due: yarn lint, prettier --write

chore: bump version
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: add missing deps and bump
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

chore: add Docker README and banner (#2095)
  docker/production/README.md
  docker/production/ark-core-docker.png
Due: prettier --write

feat: p2p with socketcluster WIP - updates + logs
  packages/core-forger/src/client.ts
  packages/core-forger/src/defaults.ts
  packages/core-p2p/src/peer.ts
  packages/core-p2p/src/socket-server/index.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix: minimumVersion
  packages/core-p2p/src/court/guard.ts
  packages/core-p2p/src/defaults.ts
  packages/core-p2p/src/monitor.ts
  packages/core-test-utils/src/config/testnet/plugins.js
  packages/core-test-utils/src/config/unitnet/plugins.js
Due: yarn lint, prettier --write

fix: typo
  packages/core-test-utils/src/config/unitnet/plugins.js
Due: none
