Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

fix(workflows): publish-develop.yml
  .github/workflows/publish-develop.yml
Due: none

fix(workflows): publish-master.yml
  .github/workflows/publish-master.yml
Due: none

fix(scripts): version.js
  package.json
  pnpm-lock.yaml
  scripts/version.js
  scripts/version.sh
Due: prettier --write

deps: remove lerna
  .gitignore
  lerna.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

deps: install and use fs-extra
  package.json
  pnpm-lock.yaml
  scripts/version.js
Due: prettier --write

deps: deps required by upgrade.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

deps: deps required by circular.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: upgrade scripts
  upgrade/2.1.0/exchange.sh
  upgrade/2.1.0/normal.sh
Due: none

Mainnet chained
  __tests__/integration/mainnet.test.ts
  packages/crypto/src/index.ts
  packages/crypto/src/interfaces/state.ts
  packages/crypto/src/state/factory.ts
  packages/crypto/src/state/index.ts
  packages/crypto/src/state/round.ts
  packages/crypto/src/state/state.ts
  packages/crypto/src/state/utils.ts
Due: yarn lint, prettier --write

Remove serde
  __tests__/integration/mainnet.test.ts
  packages/crypto/src/blocks/deserializer.ts
  packages/crypto/src/blocks/serializer.ts
  packages/crypto/src/blocks/verifier.ts
  packages/crypto/src/index.ts
  packages/crypto/src/interfaces/block1.ts
  packages/crypto/src/interfaces/index.ts
  packages/crypto/src/interfaces/serde.ts
  packages/crypto/src/serde/factory.ts
  packages/crypto/src/serde/index.ts
  packages/crypto/src/serde/reader.ts
  packages/crypto/src/serde/writer.ts
Due: yarn lint, prettier --write

Looks like crypto part is done
  __tests__/integration/mainnet.test.ts
  packages/crypto/src/interfaces/state.ts
  packages/crypto/src/state/consensus.ts
  packages/crypto/src/state/factory.ts
  packages/crypto/src/state/index.ts
  packages/crypto/src/state/round.ts
  packages/crypto/src/state/rounds.ts
  packages/crypto/src/state/slots.ts
  packages/crypto/src/state/state.ts
  packages/crypto/src/state/utils.ts
Due: yarn lint, prettier --write

Fix vote counting
  packages/crypto/src/state/consensus.ts
Due: yarn lint, prettier --write

Remove unused reference
  packages/crypto/src/state/factory.ts
Due: yarn lint, prettier --write

Revert --forceExit
  package.json
Due: prettier --write

Remove unused memoize-one dependency
  packages/crypto/package.json
Due: prettier --write

Better getVoteSignedHash
  packages/crypto/src/state/consensus.ts
Due: yarn lint, prettier --write

Comments and better method names
  packages/crypto/src/interfaces/state.ts
  packages/crypto/src/state/consensus.ts
  packages/crypto/src/state/state.ts
Due: yarn lint, prettier --write

Include serde into mainnet test
  __tests__/integration/mainnet.test.ts
  packages/crypto/src/blocks/serializer.ts
Due: yarn lint, prettier --write

Tracking serializer bug
  __tests__/integration/mainnet.test.ts
Due: yarn lint, prettier --write

Explictily use LE encoding
  packages/crypto/src/blocks/deserializer.ts
  packages/crypto/src/blocks/serializer.ts
Due: yarn lint, prettier --write

Fix transaction loading
  __tests__/integration/mainnet.test.ts
Due: yarn lint, prettier --write

Without serde but not removed
  packages/crypto/package.json
  packages/crypto/src/blocks/serializer.ts
  packages/crypto/src/crypto/index.ts
  packages/crypto/src/crypto/slots.ts
  packages/crypto/src/interfaces/index.ts
  packages/crypto/src/interfaces/managers.ts
  packages/crypto/src/interfaces/networks.ts
  packages/crypto/src/interfaces/serde.ts
  packages/crypto/src/managers/config.ts
  packages/crypto/src/serde/factory.ts
  packages/crypto/src/serde/index.ts
  packages/crypto/src/serde/reader.ts
  packages/crypto/src/serde/writer.ts
  packages/crypto/src/state/consensus.ts
  packages/crypto/src/state/slots.ts
  packages/crypto/src/state/state.ts
  packages/crypto/src/transactions/builders/transactions/transaction.ts
  packages/crypto/src/transactions/types/two/delegate-resignation.ts
  packages/crypto/src/transactions/types/two/ipfs.ts
  packages/crypto/src/transactions/types/two/multi-payment.ts
  packages/crypto/src/transactions/types/two/multi-signature-registration.ts
  packages/crypto/src/utils/index.ts
  yarn.lock
Due: yarn lint, prettier --write

Export deserializer
  packages/crypto/src/blocks/deserializer.ts
Due: yarn lint, prettier --write

Test serialize/deserialize performance
  __tests__/integration/mainnet.test.ts
  tsconfig.json
Due: yarn lint, prettier --write

Test performance only
  __tests__/integration/mainnet.test.ts
Due: yarn lint, prettier --write

Export deserializer
  packages/crypto/src/blocks/index.ts
Due: yarn lint, prettier --write

Revert "Export deserializer"
  packages/crypto/src/blocks/deserializer.ts
Due: yarn lint, prettier --write

Use serde. It's twice as fast.
  packages/crypto/src/blocks/deserializer.ts
  packages/crypto/src/blocks/serializer.ts
  packages/crypto/src/blocks/verifier.ts
  packages/crypto/src/interfaces/block1.ts
  packages/crypto/src/state/consensus.ts
Due: yarn lint, prettier --write

Better mainnet test
  __tests__/integration/mainnet.test.ts
  packages/crypto/src/interfaces/managers.ts
  packages/crypto/src/interfaces/networks.ts
  packages/crypto/src/managers/config.ts
Due: yarn lint, prettier --write

Move slots and rounds into crypto package
  __tests__/integration/mainnet.test.ts
  packages/crypto/src/crypto/index.ts
  packages/crypto/src/crypto/rounds.ts
  packages/crypto/src/crypto/slots.ts
  packages/crypto/src/interfaces/crypto.ts
  packages/crypto/src/interfaces/state.ts
  packages/crypto/src/state/factory.ts
  packages/crypto/src/state/index.ts
  packages/crypto/src/state/slots.ts
  packages/crypto/src/state/state.ts
  packages/crypto/src/transactions/builders/transactions/transaction.ts
Due: yarn lint, prettier --write

Measure state performance
  __tests__/integration/mainnet.test.ts
Due: yarn lint, prettier --write

chore: add publish scripts
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: .gitignore *.tgz published packages
  .gitignore
Due: none

fix(workflows): publish develop & master
  .github/workflows/publish-develop.yml
  .github/workflows/publish-master.yml
Due: none

chore(workflows): use latest pnpm version
  .github/workflows/benchmark.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e.yml
  .github/workflows/functional.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/publish-develop.yml
  .github/workflows/publish-master.yml
  .github/workflows/unit.yml
Due: none

chore: organize .gitignore
  .gitignore
Due: none

chore: remove deprecated publish scripts
  scripts/publish/alpha.sh
  scripts/publish/beta.sh
  scripts/publish/latest.sh
  scripts/publish/next.sh
  scripts/publish/rc.sh
Due: none

feat(core-cli): use pnpm to install plugins
  packages/core-cli/src/services/source-providers/abstract-source.ts
Due: yarn lint, prettier --write

test(core-cli): check pnpm
  packages/core-cli/__tests__/services/source-providers/file.test.ts
  packages/core-cli/__tests__/services/source-providers/git.test.ts
  packages/core-cli/__tests__/services/source-providers/npm.test.ts
Due: yarn lint, prettier --write

deps(core): module-alias
  packages/core/package.json
Due: prettier --write
