Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

fix
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet.ts
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/business-registration.ts
  packages/crypto/src/transactions/types/business-registration.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

refactor: htlc claim / refund don't allow tx to enter pool if the associated lock tx id is not found
  __tests__/unit/core-transactions/handler.test.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
Due: yarn lint, prettier --write

refactor(core-http-utils): always enforce `application/json` as content-type
  packages/core-http-utils/src/plugins/content-type.ts
Due: yarn lint, prettier --write

fix: remove unused import
  packages/core-http-utils/src/plugins/content-type.ts
Due: yarn lint, prettier --write

test
  __tests__/unit/crypto/transactions/builders/builder-factory.test.ts
  __tests__/unit/crypto/transactions/builders/transactions/business-registratration.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  __tests__/unit/crypto/transactions/schemas.test.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-transactions/package.json
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/business-registration.ts
  packages/crypto/src/transactions/builders/transactions/business-registration.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

fix(crypto): allow future timestamps up to 3600 + blocktime seconds
  __tests__/unit/crypto/blocks/block.test.ts
  packages/crypto/src/blocks/block.ts
Due: yarn lint, prettier --write

fixes
  __tests__/unit/crypto/transactions/builders/transactions/business-registratration.test.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet.ts
  packages/crypto/src/transactions/types/business-registration.ts
Due: yarn lint, prettier --write

fix(crypto): allow future timestamps up to 3600 + blocktime seconds (#2787)
  __tests__/unit/crypto/blocks/block.test.ts
  packages/crypto/src/blocks/block.ts
Due: yarn lint, prettier --write

chore: yarn.lock
  packages/core-database-postgres/src/state-builder.ts
  yarn.lock
Due: yarn lint, prettier --write

refactor(core-http-utils): always enforce `application/json` as content-type (#2786)
  packages/core-http-utils/src/plugins/content-type.ts
Due: yarn lint, prettier --write

refactor: increase timeout, check time left in slot
  packages/core-forger/src/client.ts
  packages/core-forger/src/manager.ts
Due: yarn lint, prettier --write

feat(install): let the user choose if they want to use @next release
  install.sh
  scripts/publish/alpha.sh
  scripts/publish/beta.sh
  scripts/publish/latest.sh
  scripts/publish/next.sh
  scripts/publish/rc.sh
Due: none

test: fail when not enough time left
  __tests__/unit/core-forger/manager.test.ts
Due: yarn lint, prettier --write

refactor(core-forger): increase timeout, check time left in slot (#2788)
  __tests__/unit/core-forger/manager.test.ts
  packages/core-forger/src/client.ts
  packages/core-forger/src/manager.ts
Due: yarn lint, prettier --write

refactor(core-p2p): refresh peer ports (#2784)
  __tests__/integration/core-p2p/peer-communicator.test.ts
  packages/core-api/src/server.ts
  packages/core-database-postgres/src/state-builder.ts
  packages/core-interfaces/src/core-p2p/peer-communicator.ts
  packages/core-interfaces/src/core-p2p/peer.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/peer.ts
  yarn.lock
Due: yarn lint, prettier --write

feat(install): let the user choose if they want to use @next release (#2789)
  install.sh
  scripts/publish/alpha.sh
  scripts/publish/beta.sh
  scripts/publish/latest.sh
  scripts/publish/next.sh
  scripts/publish/rc.sh
Due: none

docs(changelog): 2.5.0
  CHANGELOG.md
Due: prettier --write

refactor renaming some fields
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet.ts
  packages/core-transactions/src/handlers/business-registration.ts
Due: yarn lint, prettier --write

docs(changelog): 2.5.0 (#2790)
  CHANGELOG.md
Due: prettier --write

fix: renaming
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet.ts
  packages/core-transactions/src/handlers/business-registration.ts
Due: yarn lint, prettier --write

fix: check current slot
  __tests__/unit/core-forger/manager.test.ts
  packages/core-forger/src/manager.ts
Due: yarn lint, prettier --write

refactor: name
  packages/core-forger/src/manager.ts
Due: yarn lint, prettier --write

refactor: log slot, rename parameter
  __tests__/unit/core-forger/manager.test.ts
  packages/core-forger/src/manager.ts
Due: yarn lint, prettier --write

refactor: log timeLeft instead
  packages/core-forger/src/manager.ts
Due: yarn lint, prettier --write

fix: removing validation by height
  __tests__/unit/crypto/transactions/builders/transactions/business-registratration.test.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-transactions/src/handlers/business-registration.ts
Due: yarn lint, prettier --write

Revert "feat(install): let the user choose if they want to use @next release (#2789)"
  install.sh
Due: none

revert: let the user choose if they want to use @next release (#2793)
  install.sh
Due: none

fix(core-forger): also check if still in same slot (#2792)
  __tests__/unit/core-forger/manager.test.ts
  packages/core-forger/src/manager.ts
Due: yarn lint, prettier --write

release: 2.5.0-next.8
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.5.0-next.8 (#2794)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.5.0-next.9
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

release: 2.5.0-next.9 (#2796)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

fix: handle missing url
  packages/core-api/src/server.ts
Due: yarn lint, prettier --write

feat(core-tester-cli): add htlc txs
  __tests__/integration/core-tester-cli/commands/send/htlc-claim.test.ts
  __tests__/integration/core-tester-cli/commands/send/htlc-lock.test.ts
  __tests__/integration/core-tester-cli/commands/send/htlc-refund.test.ts
  packages/core-tester-cli/src/commands/send/htlc-claim.ts
  packages/core-tester-cli/src/commands/send/htlc-lock.ts
  packages/core-tester-cli/src/commands/send/htlc-refund.ts
  packages/core-tester-cli/src/signer.ts
Due: yarn lint, prettier --write

fix: applying extra validation in canEnterTransactionPool
  packages/core-transactions/src/handlers/business-registration.ts
Due: yarn lint, prettier --write

fix: handle invalid json payloads
  packages/core-api/src/server.ts
  packages/core-elasticsearch/src/server.ts
  packages/core-http-utils/package.json
  packages/core-http-utils/src/server/create.ts
  packages/core-webhooks/src/server/index.ts
Due: yarn lint, prettier --write

fix(core-api): handle null url and malformed JSON payloads (#2797)
  packages/core-api/src/server.ts
  packages/core-elasticsearch/src/server.ts
  packages/core-http-utils/package.json
  packages/core-http-utils/src/server/create.ts
  packages/core-webhooks/src/server/index.ts
Due: yarn lint, prettier --write

release: 2.5.0
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.5.0 (#2798)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

refactor(core-tester-cli): htlc commands
  __tests__/integration/core-tester-cli/commands/send/htlc-claim.test.ts
  __tests__/integration/core-tester-cli/commands/send/htlc-refund.test.ts
  packages/core-tester-cli/src/commands/send/htlc-claim.ts
  packages/core-tester-cli/src/commands/send/htlc-lock.ts
  packages/core-tester-cli/src/commands/send/htlc-refund.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
