Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

chore(deps): update yarn.lock
  packages/core-logger-pino/package.json
  yarn.lock
Due: prettier --write

fix(crypto): don't use vendorField type as buffer encoding for IPFS
  packages/crypto/src/transactions/builders/transactions/ipfs.ts
Due: yarn lint, prettier --write

fix(crypto): don't use vendorField type as buffer encoding for IPFS (#2466)
  packages/crypto/src/transactions/builders/transactions/ipfs.ts
Due: yarn lint, prettier --write

chore(crypto): remove unused methods to get/set/reset height
  __tests__/unit/crypto/crypto/slots.test.ts
  packages/crypto/src/crypto/slots.ts
Due: yarn lint, prettier --write

chore(crypto): pet eslint
  packages/crypto/src/crypto/slots.ts
Due: yarn lint, prettier --write

docs: update docs
  __tests__/e2e/README.md
  __tests__/e2e/TechnicalDetails.md
Due: prettier --write

chore: fix absolute banner urls
  README.md
  deprecated/core-graphql/README.md
  deprecated/core-snapshots-cli/README.md
  packages/core-api/README.md
  packages/core-blockchain/README.md
  packages/core-container/README.md
  packages/core-database-postgres/README.md
  packages/core-database/README.md
  packages/core-elasticsearch/README.md
  packages/core-error-tracker-airbrake/README.md
  packages/core-error-tracker-bugsnag/README.md
  packages/core-error-tracker-raygun/README.md
  packages/core-error-tracker-rollbar/README.md
  packages/core-error-tracker-sentry/README.md
  packages/core-event-emitter/README.md
  packages/core-forger/README.md
  packages/core-http-utils/README.md
  packages/core-jest-matchers/README.md
  packages/core-json-rpc/README.md
  packages/core-logger-pino/README.md
  packages/core-logger-signale/README.md
  packages/core-logger-winston/README.md
  packages/core-logger/README.md
  packages/core-new-relic/README.md
  packages/core-p2p/README.md
  packages/core-snapshots/README.md
  packages/core-tester-cli/README.md
  packages/core-transaction-pool/README.md
  packages/core-transactions/README.md
  packages/core-utils/README.md
  packages/core-vote-report/README.md
  packages/core-webhooks/README.md
  packages/core/README.md
Due: prettier --write

Update __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
Due: yarn lint, prettier --write

Update packages/core-transaction-pool/src/memory.ts
  packages/core-transaction-pool/src/memory.ts
Due: yarn lint, prettier --write

chore(core-transaction-pool): rename MemoryTransaction
  __tests__/integration/core-transaction-pool/processor.test.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/unit/core-transaction-pool/storage.test.ts
  __tests__/unit/core-transaction-pool/storage.with-mock.test.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/memory.ts
  packages/core-transaction-pool/src/sequential-transaction.ts
  packages/core-transaction-pool/src/storage.ts
Due: yarn lint, prettier --write

chore(core-transaction-pool): get current height from "blockchain"
  packages/core-transaction-pool/src/memory.ts
Due: yarn lint, prettier --write

chore: add node11 e2e circleci job
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: update circleci config gen
  .circleci/config.yml
  .circleci/generateConfig.js
Due: none

chore(core-transaction-pool): remove unused variable
  __tests__/unit/core-transaction-pool/connection.test.ts
Due: yarn lint, prettier --write

chore: fix absolute banner urls (#2469)
  README.md
  deprecated/core-graphql/README.md
  deprecated/core-snapshots-cli/README.md
  packages/core-api/README.md
  packages/core-blockchain/README.md
  packages/core-container/README.md
  packages/core-database-postgres/README.md
  packages/core-database/README.md
  packages/core-elasticsearch/README.md
  packages/core-error-tracker-airbrake/README.md
  packages/core-error-tracker-bugsnag/README.md
  packages/core-error-tracker-raygun/README.md
  packages/core-error-tracker-rollbar/README.md
  packages/core-error-tracker-sentry/README.md
  packages/core-event-emitter/README.md
  packages/core-forger/README.md
  packages/core-http-utils/README.md
  packages/core-jest-matchers/README.md
  packages/core-json-rpc/README.md
  packages/core-logger-pino/README.md
  packages/core-logger-signale/README.md
  packages/core-logger-winston/README.md
  packages/core-logger/README.md
  packages/core-new-relic/README.md
  packages/core-p2p/README.md
  packages/core-snapshots/README.md
  packages/core-tester-cli/README.md
  packages/core-transaction-pool/README.md
  packages/core-transactions/README.md
  packages/core-utils/README.md
  packages/core-vote-report/README.md
  packages/core-webhooks/README.md
  packages/core/README.md
Due: prettier --write

chore: circleci node 11 adustments
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: circleci reset e2e cache
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: trying to launch tests without sudo
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: use chown to grant permission to user
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

fix: merge
  packages/core-transactions/src/handlers/multi-signature.ts
Due: yarn lint, prettier --write

chore: trying things to get node version right
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore(crypto): remove unused methods to get/set/reset height (#2467)
  __tests__/unit/crypto/crypto/slots.test.ts
  packages/crypto/src/crypto/slots.ts
Due: yarn lint, prettier --write

chore: nvm install 11
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

fix: add exceptions for invalid recipients
  packages/crypto/src/networks/mainnet/exceptions.json
Due: prettier --write

chore: trying things to fix node version
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: trying to fix node version again
  .circleci/config.yml
  .circleci/configTemplate.json
  __tests__/e2e/bin/e2e
Due: prettier --write

chore: use yarn command
  .circleci/config.yml
  .circleci/configTemplate.json
  __tests__/e2e/bin/e2e
Due: prettier --write

chore: node version in docker file
  .circleci/config.yml
  .circleci/configTemplate.json
  __tests__/e2e/bin/e2e
  __tests__/e2e/lib/config/docker/Dockerfile-10
  __tests__/e2e/lib/config/docker/Dockerfile-11
  __tests__/e2e/lib/generate-files.js
Due: prettier --write

docs(template): add release section to pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs(template): add release section to pull request template (#2472)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: circleci config generator fix
  .circleci/config.yml
  .circleci/generateConfig.js
Due: none

refactor(crypto): make all Slots.* methods static
  .circleci/config.yml
  __tests__/integration/core-blockchain/blockchain.test.ts
  __tests__/integration/core-transaction-pool/processor.test.ts
  __tests__/unit/core-blockchain/blockchain.test.ts
  __tests__/unit/core-blockchain/state-machine.test.ts
  __tests__/unit/core-p2p/socket-server/versions/internal/handlers/rounds.test.ts
  __tests__/unit/core-p2p/socket-server/versions/peer/index.test.ts
  __tests__/unit/core-utils/is-blocked-chained.test.ts
  __tests__/unit/crypto/crypto/slots.test.ts
  packages/core-api/src/versions/1/delegates/controller.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/utils/validate-generator.ts
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-forger/src/manager.ts
  packages/core-p2p/src/network-state.ts
  packages/core-p2p/src/socket-server/versions/internal.ts
  packages/core-p2p/src/socket-server/versions/peer.ts
  packages/core-tester-cli/src/commands/make/block.ts
  packages/core-transaction-pool/src/memory.ts
  packages/core-transaction-pool/src/processor.ts
  packages/core-utils/src/is-block-chained.ts
  packages/crypto/src/blocks/block.ts
  packages/crypto/src/crypto/index.ts
  packages/crypto/src/crypto/slots.ts
  packages/crypto/src/transactions/builders/transactions/transaction.ts
  yarn.lock
Due: yarn lint, prettier --write

fix(core-transaction-pool): get current height in a more robust way
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/memory.ts
Due: yarn lint, prettier --write

test: fix unit tests
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/crypto/blocks/block.test.ts
  __tests__/unit/crypto/transactions/builders/transactions/__shared__/transaction-builder.ts
Due: yarn lint, prettier --write

chore(core-transaction-pool): remove unreachable code
  packages/core-transaction-pool/src/memory.ts
Due: yarn lint, prettier --write

test: fix unit tests
  __tests__/unit/core-blockchain/blockchain.test.ts
Due: yarn lint, prettier --write

chore: circle config
  .circleci/config.yml
Due: none

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
