Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

chore: remove /search from api
  packages/core-api/src/controllers/blocks.ts
  packages/core-api/src/controllers/delegates.ts
  packages/core-api/src/controllers/locks.ts
  packages/core-api/src/controllers/transactions.ts
  packages/core-api/src/controllers/wallets.ts
  packages/core-api/src/resources-new/delegate.ts
  packages/core-api/src/resources-new/lock.ts
  packages/core-api/src/resources-new/wallet.ts
  packages/core-api/src/routes/blocks.ts
  packages/core-api/src/routes/delegates.ts
  packages/core-api/src/routes/locks.ts
  packages/core-api/src/routes/transactions.ts
  packages/core-api/src/routes/wallets.ts
Due: yarn lint, prettier --write

test: remove /search from api
  __tests__/integration/core-api/controllers/delegates.test.ts
  __tests__/integration/core-api/controllers/wallets.test.ts
  __tests__/integration/core-api/handlers/transactions.test.ts
  __tests__/unit/core-api/controllers/blocks.test.ts
  __tests__/unit/core-api/controllers/locks.test.ts
  __tests__/unit/core-api/controllers/transactions.test.ts
  __tests__/unit/core-api/controllers/wallets.test.ts
Due: yarn lint, prettier --write

chore: 3.0 docker updates (#4066)
  docker/production/devnet/docker-compose-build.yml
  docker/production/devnet/docker-compose.yml
  docker/production/entrypoint.sh
  docker/production/mainnet/docker-compose.yml
  scripts/docker/templates/devnet/Dockerfile
  scripts/docker/templates/devnet/docker-compose.yml
  scripts/docker/templates/testnet/Dockerfile
  scripts/docker/templates/testnet/docker-compose.yml
Due: none

wip
  __tests__/integration/core-api/handlers/blocks.test.ts
Due: yarn lint, prettier --write

refactor(core-api): remove search endpoints (#4067)
  __tests__/integration/core-api/controllers/delegates.test.ts
  __tests__/integration/core-api/controllers/wallets.test.ts
  __tests__/integration/core-api/handlers/blocks.test.ts
  __tests__/integration/core-api/handlers/transactions.test.ts
  __tests__/unit/core-api/controllers/blocks.test.ts
  __tests__/unit/core-api/controllers/locks.test.ts
  __tests__/unit/core-api/controllers/transactions.test.ts
  __tests__/unit/core-api/controllers/wallets.test.ts
  packages/core-api/src/controllers/blocks.ts
  packages/core-api/src/controllers/delegates.ts
  packages/core-api/src/controllers/locks.ts
  packages/core-api/src/controllers/transactions.ts
  packages/core-api/src/controllers/wallets.ts
  packages/core-api/src/resources-new/delegate.ts
  packages/core-api/src/resources-new/lock.ts
  packages/core-api/src/resources-new/wallet.ts
  packages/core-api/src/routes/blocks.ts
  packages/core-api/src/routes/delegates.ts
  packages/core-api/src/routes/locks.ts
  packages/core-api/src/routes/transactions.ts
  packages/core-api/src/routes/wallets.ts
Due: yarn lint, prettier --write

test(core-p2p): fix peers test
  __tests__/unit/core-p2p/peer.test.ts
Due: yarn lint, prettier --write

test(core-api): remove search tests
  __tests__/unit/core-api/controllers/delegates.test.ts
  __tests__/unit/core-api/controllers/locks.test.ts
  __tests__/unit/core-api/controllers/wallets.test.ts
  __tests__/unit/core-api/routes/blocks.test.ts
  __tests__/unit/core-api/routes/delegates.test.ts
  __tests__/unit/core-api/routes/locks.test.ts
  __tests__/unit/core-api/routes/transactions.test.ts
  __tests__/unit/core-api/routes/wallets.test.ts
Due: yarn lint, prettier --write

chore(core-blockchain): remove implemented TODOs
  packages/core-blockchain/src/processor/handlers/accept-block-handler.ts
  packages/core-blockchain/src/processor/handlers/exception-handler.ts
  packages/core-blockchain/src/processor/handlers/invalid-generator-handler.ts
  packages/core-blockchain/src/processor/handlers/unchained-handler.ts
  packages/core-blockchain/src/processor/handlers/verification-failed-handler.ts
  yarn.lock
Due: yarn lint, prettier --write

test(core-api): increase test coverage to 100% (#4061)
  __tests__/unit/core-api/__support__/app.ts
  __tests__/unit/core-api/__support__/index.ts
  __tests__/unit/core-api/__support__/server.ts
  __tests__/unit/core-api/controllers/controller.test.ts
  __tests__/unit/core-api/controllers/delegates.test.ts
  __tests__/unit/core-api/controllers/locks.test.ts
  __tests__/unit/core-api/controllers/transactions.test.ts
  __tests__/unit/core-api/controllers/wallets.test.ts
  __tests__/unit/core-api/plugins/cache.test.ts
  __tests__/unit/core-api/plugins/dot-separated-query.test.ts
  __tests__/unit/core-api/plugins/hapi-ajv.test.ts
  __tests__/unit/core-api/plugins/pagination.test.ts
  __tests__/unit/core-api/plugins/rate-limit.test.ts
  __tests__/unit/core-api/plugins/whitelist.test.ts
  __tests__/unit/core-api/routes/__fixtures__/index.ts
  __tests__/unit/core-api/routes/__fixtures__/results.ts
  __tests__/unit/core-api/routes/__fixtures__/server-defaults.ts
  __tests__/unit/core-api/routes/blockchain.test.ts
  __tests__/unit/core-api/routes/blocks.test.ts
  __tests__/unit/core-api/routes/delegates.test.ts
  __tests__/unit/core-api/routes/locks.test.ts
  __tests__/unit/core-api/routes/node.test.ts
  __tests__/unit/core-api/routes/peers.test.ts
  __tests__/unit/core-api/routes/rounds.test.ts
  __tests__/unit/core-api/routes/transactions.test.ts
  __tests__/unit/core-api/routes/votes.test.ts
  __tests__/unit/core-api/routes/wallets.test.ts
  __tests__/unit/core-api/schemas.test.ts
  __tests__/unit/core-api/server.test.ts
  __tests__/unit/core-api/services/__fixtures__/delegates.ts
  __tests__/unit/core-api/services/__fixtures__/index.ts
  __tests__/unit/core-api/services/__fixtures__/locks.ts
  __tests__/unit/core-api/services/delegate-search-service.test.ts
  __tests__/unit/core-api/services/lock-search-service.test.ts
  __tests__/unit/core-api/services/wallet-search-service.test.ts
  __tests__/unit/core-p2p/peer.test.ts
  packages/core-api/src/controllers/controller.ts
  packages/core-api/src/routes/wallets.ts
Due: yarn lint, prettier --write

chore(core-blockchain): on block processing error remove filed block if it was applied
  __tests__/unit/core-blockchain/processor/block-processor.test.ts
  __tests__/unit/core-blockchain/processor/handlers/accept-block-handler.test.ts
  __tests__/unit/core-blockchain/processor/handlers/already-forged-handler.test.ts
  __tests__/unit/core-blockchain/processor/handlers/exception-handler.test.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/processor/block-processor.ts
Due: yarn lint, prettier --write

fix(core-blockchain): block download (#4057)
  __tests__/unit/core-blockchain/processor/block-processor.test.ts
  __tests__/unit/core-blockchain/processor/handlers/accept-block-handler.test.ts
  __tests__/unit/core-blockchain/processor/handlers/already-forged-handler.test.ts
  __tests__/unit/core-blockchain/processor/handlers/exception-handler.test.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/processor/block-processor.ts
  packages/core-blockchain/src/processor/handlers/accept-block-handler.ts
  packages/core-blockchain/src/processor/handlers/exception-handler.ts
  packages/core-blockchain/src/processor/handlers/invalid-generator-handler.ts
  packages/core-blockchain/src/processor/handlers/unchained-handler.ts
  packages/core-blockchain/src/processor/handlers/verification-failed-handler.ts
  packages/core-blockchain/src/state-machine/actions/download-blocks.ts
  yarn.lock
Due: yarn lint, prettier --write

feat: transform comma query into array to allow OR
  packages/core-api/src/plugins/comma-array-query.ts
  packages/core-api/src/plugins/index.ts
Due: yarn lint, prettier --write

test(core-api): comma-array-query plugin unit test
  __tests__/unit/core-api/plugins/comma-array-query.test.ts
Due: yarn lint, prettier --write

chore(core-blockchain): refactor processBlocks
  packages/core-blockchain/src/blockchain.ts
Due: yarn lint, prettier --write

feat(core-api): transform comma query into array to allow OR (#4068)
  __tests__/unit/core-api/plugins/comma-array-query.test.ts
  packages/core-api/src/plugins/comma-array-query.ts
  packages/core-api/src/plugins/index.ts
Due: yarn lint, prettier --write

release: 3.0.0-alpha.11
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.0.0-alpha.11 (#4069)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

refactor: remove import from dist or src
  packages/core-blockchain/src/actions/process-block.ts
  packages/core-forger/src/actions/forge-new-block.ts
  packages/core-forger/src/actions/is-forging-allowed.ts
  packages/core-magistrate-transactions/src/handlers/entity-subhandlers/update.ts
  packages/core-p2p/src/actions/validate-and-accept-peer.ts
  packages/core-p2p/src/index.ts
  packages/core-snapshots/src/contracts/database.ts
  packages/core-snapshots/src/contracts/stream.ts
  packages/core-snapshots/src/workers/actions/test-worker-action.ts
  packages/core-state/src/actions/build-delegate-ranking.ts
  packages/core-state/src/actions/get-active-delegates.ts
  packages/core-test-framework/src/matchers/functional/entity.ts
  packages/core-test-framework/src/mocks/block-repository.ts
  packages/core-test-framework/src/mocks/blockchain.ts
  packages/core-test-framework/src/mocks/network-monitor.ts
  packages/core-test-framework/src/mocks/peer-storage.ts
  packages/core-test-framework/src/mocks/query.ts
  packages/core-test-framework/src/mocks/round-repository.ts
  packages/core-test-framework/src/mocks/state-store.ts
  packages/core-test-framework/src/mocks/transaction-repository.ts
  packages/core-test-framework/src/mocks/wallet-respository.ts
  packages/core-test-framework/src/utils/api.ts
  packages/core-transaction-pool/src/actions/apply-transaction.ts
  packages/core-transaction-pool/src/actions/revert-transaction.ts
  packages/core-transaction-pool/src/actions/throw-if-cannot-enter-pool.ts
  packages/core-transaction-pool/src/actions/verify-transaction.ts
Due: yarn lint, prettier --write

refactor: do not import from index
  packages/core-snapshots/src/contracts/database.ts
Due: yarn lint, prettier --write

refactor: remove import from dist or src (#4070)
  packages/core-blockchain/src/actions/process-block.ts
  packages/core-forger/src/actions/forge-new-block.ts
  packages/core-forger/src/actions/is-forging-allowed.ts
  packages/core-magistrate-transactions/src/handlers/entity-subhandlers/update.ts
  packages/core-p2p/src/actions/validate-and-accept-peer.ts
  packages/core-p2p/src/index.ts
  packages/core-snapshots/src/contracts/database.ts
  packages/core-snapshots/src/contracts/stream.ts
  packages/core-snapshots/src/workers/actions/test-worker-action.ts
  packages/core-state/src/actions/build-delegate-ranking.ts
  packages/core-state/src/actions/get-active-delegates.ts
  packages/core-test-framework/src/matchers/functional/entity.ts
  packages/core-test-framework/src/mocks/block-repository.ts
  packages/core-test-framework/src/mocks/blockchain.ts
  packages/core-test-framework/src/mocks/network-monitor.ts
  packages/core-test-framework/src/mocks/peer-storage.ts
  packages/core-test-framework/src/mocks/query.ts
  packages/core-test-framework/src/mocks/round-repository.ts
  packages/core-test-framework/src/mocks/state-store.ts
  packages/core-test-framework/src/mocks/transaction-repository.ts
  packages/core-test-framework/src/mocks/wallet-respository.ts
  packages/core-test-framework/src/utils/api.ts
  packages/core-transaction-pool/src/actions/apply-transaction.ts
  packages/core-transaction-pool/src/actions/revert-transaction.ts
  packages/core-transaction-pool/src/actions/throw-if-cannot-enter-pool.ts
  packages/core-transaction-pool/src/actions/verify-transaction.ts
Due: yarn lint, prettier --write

wip
  packages/crypto/package.json
  packages/crypto/src/identities/address.ts
  packages/crypto/src/identities/keys.ts
  packages/crypto/src/identities/private-key.ts
  packages/crypto/src/identities/public-key.ts
  packages/crypto/src/identities/wif.ts
  yarn.lock
Due: yarn lint, prettier --write

wip
  packages/crypto/src/identities/address.ts
Due: yarn lint, prettier --write

wip
  packages/crypto/src/crypto/message.ts
Due: yarn lint, prettier --write

release: 3.0.0-alpha.12
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.0.0-alpha.12 (#4073)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore(core-blockchain): refactor processBlocks
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/processor/handlers/unchained-handler.ts
  packages/core-kernel/src/contracts/blockchain/blockchain.ts
Due: yarn lint, prettier --write

chore(core-blockchain): use static inversify services
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/processor/block-processor.ts
  packages/core-blockchain/src/processor/handlers/unchained-handler.ts
Due: yarn lint, prettier --write

chore(core-blockchain): expose isStopped method on blockchain
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/state-machine/actions/download-blocks.ts
  packages/core-kernel/src/contracts/blockchain/blockchain.ts
Due: yarn lint, prettier --write

chore(core-blockchain): remove blockchain options
  packages/core-blockchain/src/blockchain.ts
  packages/core-kernel/src/contracts/blockchain/blockchain.ts
Due: yarn lint, prettier --write

chore(core-blockchain): expose getQueue method on blockchain
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/processor/handlers/unchained-handler.ts
  packages/core-blockchain/src/state-machine/actions/check-last-downloaded-block-synced.ts
  packages/core-blockchain/src/state-machine/actions/download-blocks.ts
  packages/core-blockchain/src/state-machine/actions/download-finished.ts
  packages/core-blockchain/src/state-machine/actions/start-fork-recovery.ts
  packages/core-kernel/src/contracts/blockchain/blockchain.ts
Due: yarn lint, prettier --write

chore(core-blockchain): use static inversify injection
  packages/core-blockchain/src/state-machine/actions/check-last-downloaded-block-synced.ts
  packages/core-blockchain/src/state-machine/actions/download-blocks.ts
  packages/core-blockchain/src/state-machine/actions/initialize.ts
  packages/core-blockchain/src/state-machine/actions/start-fork-recovery.ts
Due: yarn lint, prettier --write

test(core-blockchain): fix tests
  __tests__/unit/core-blockchain/blockchain.test.ts
  __tests__/unit/core-blockchain/processor/handlers/unchained-handler.test.ts
  __tests__/unit/core-blockchain/state-machine/actions/check-last-downloaded-block-synced.test.ts
  __tests__/unit/core-blockchain/state-machine/actions/download-blocks.test.ts
  __tests__/unit/core-blockchain/state-machine/actions/download-finished.test.ts
  __tests__/unit/core-blockchain/state-machine/actions/initialize.test.ts
  __tests__/unit/core-blockchain/state-machine/actions/start-fork-recovery.test.ts
Due: yarn lint, prettier --write

chore: force typeorm version 0.2.25
  packages/core-database/package.json
  packages/core-manager/package.json
  packages/core-snapshots/package.json
Due: prettier --write

chore: force typeorm version 0.2.25 (#4074)
  packages/core-database/package.json
  packages/core-manager/package.json
  packages/core-snapshots/package.json
Due: prettier --write

chore(core-kernel): async queueJob
  __tests__/unit/core-kernel/services/queue/drivers/memory.test.ts
  packages/core-kernel/src/contracts/kernel/queue.ts
Due: yarn lint, prettier --write

release: 3.0.0-alpha.13
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.0.0-alpha.13 (#4075)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore(core-blockchain): process blocks in QueueJob class
  packages/core-blockchain/src/process-blocks-job.ts
Due: yarn lint, prettier --write

Move wallet events into core-state
  packages/core-kernel/src/services/attributes/attribute-map.ts
  packages/core-manager/src/service-provider.ts
  packages/core-manager/src/watcher-wallet.ts
  packages/core-state/src/service-provider.ts
  packages/core-state/src/wallets/index.ts
  packages/core-state/src/wallets/indexers/wallet-indexes.ts
  packages/core-state/src/wallets/wallet-event.ts
  packages/core-state/src/wallets/wallet-factory.ts
  packages/core-state/src/wallets/wallet.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
