Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

fix(core-database): sequence not applied to sorting of wallet transactions
  packages/core-database/src/repositories/transactions-business-repository.ts
Due: yarn lint, prettier --write

fix(core-database): add missing types
  packages/core-database/src/repositories/transactions-business-repository.ts
Due: yarn lint, prettier --write

fix(core): set update method if it isn't available
  packages/core/src/helpers/config.ts
Due: yarn lint, prettier --write

fix: tests and wallet-manager
  __tests__/unit/core-state/wallets/wallet-manager.test.ts
  __tests__/unit/core-transactions/handler.test.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
  packages/crypto/src/transactions/builders/transactions/business-registration.ts
Due: yarn lint, prettier --write

chore: prepare new network config 🎉
  install.sh
  packages/core/bin/config/devnet/.env
  packages/core/bin/config/devnet/peers.json
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/mainnet/peers.json
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/.env
  packages/core/bin/config/testnet/delegates.json
  packages/core/bin/config/testnet/peers.json
  packages/core/bin/config/testnet/plugins.js
  packages/core/package.json
  packages/crypto/src/networks/devnet/exceptions.json
  packages/crypto/src/networks/devnet/genesisBlock.json
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/devnet/network.json
  packages/crypto/src/networks/mainnet/exceptions.json
  packages/crypto/src/networks/mainnet/genesisBlock.json
  packages/crypto/src/networks/mainnet/milestones.json
  packages/crypto/src/networks/mainnet/network.json
  packages/crypto/src/networks/testnet/exceptions.json
  packages/crypto/src/networks/testnet/genesisBlock.json
  packages/crypto/src/networks/testnet/milestones.json
  packages/crypto/src/networks/testnet/network.json
Due: prettier --write

test: fix failing tests
  __tests__/functional/transaction-forging/__support__/index.ts
  __tests__/unit/core-transactions/handler.test.ts
Due: yarn lint, prettier --write

test: fix failing tests
  __tests__/functional/transaction-forging/htlc-refund.test.ts
  __tests__/unit/core-transactions/handler.test.ts
Due: yarn lint, prettier --write

fix(core-api): return count of filtered peers
  packages/core-api/src/handlers/peers/controller.ts
Due: yarn lint, prettier --write

test: add functional test for business registration
  __tests__/functional/transaction-forging/business-registration.test.ts
  __tests__/helpers/transaction-factory.ts
  __tests__/unit/crypto/transactions/builders/transactions/business-registratration.test.ts
  __tests__/unit/crypto/transactions/schemas.test.ts
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/mainnet/milestones.json
  packages/crypto/src/networks/testnet/milestones.json
Due: yarn lint, prettier --write

add type to count
  packages/core-api/src/handlers/peers/controller.ts
Due: yarn lint, prettier --write

chore: remove unused params from peers schema
  packages/core-api/src/handlers/peers/schema.ts
Due: yarn lint, prettier --write

build(docker): add ntp and google servers for ntpd
  docker/production/Dockerfile
Due: none

build(docker): add ntp and google servers for ntpd (#2823)
  docker/production/Dockerfile
Due: none

fix(core): use new execa@2.0 functions
  packages/core/src/commands/update.ts
Due: yarn lint, prettier --write

fix(core-api): return count of filtered peers (#2814)
  packages/core-api/src/handlers/peers/controller.ts
  packages/core-api/src/handlers/peers/schema.ts
Due: yarn lint, prettier --write

style: apply tslint and prettier formatting
  __tests__/e2e/lib/generate-files.js
  __tests__/e2e/lib/test-runner.js
  __tests__/e2e/lib/utils/test-utils.js
  __tests__/integration/core-blockchain/__support__/setup.ts
  __tests__/integration/core-transaction-pool/processor.test.ts
  __tests__/integration/core-transaction-pool/wallet-manager.test.ts
  packages/core-blockchain/src/processor/handlers/unchained-handler.ts
  packages/core-blockchain/src/utils/validate-generator.ts
  packages/core-container/src/config/index.ts
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database-postgres/src/repositories/repository.ts
  packages/core-database/src/database-service.ts
  packages/core-snapshots/src/db/index.ts
  packages/core-snapshots/src/transport/index.ts
  packages/core-state/src/wallets/wallet-manager.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/memory.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-webhooks/src/listener.ts
  packages/crypto/src/managers/config.ts
Due: yarn lint, prettier --write

style: apply tslint and prettier formatting (#2824)
  __tests__/e2e/lib/generate-files.js
  __tests__/e2e/lib/test-runner.js
  __tests__/e2e/lib/utils/test-utils.js
  __tests__/integration/core-blockchain/__support__/setup.ts
  __tests__/integration/core-transaction-pool/processor.test.ts
  __tests__/integration/core-transaction-pool/wallet-manager.test.ts
  packages/core-blockchain/src/processor/handlers/unchained-handler.ts
  packages/core-blockchain/src/utils/validate-generator.ts
  packages/core-container/src/config/index.ts
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database-postgres/src/repositories/repository.ts
  packages/core-database/src/database-service.ts
  packages/core-snapshots/src/db/index.ts
  packages/core-snapshots/src/transport/index.ts
  packages/core-state/src/wallets/wallet-manager.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/memory.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-webhooks/src/listener.ts
  packages/crypto/src/managers/config.ts
Due: yarn lint, prettier --write

fix(core): ensure that all configuration values are present
  packages/core/src/helpers/config.ts
Due: yarn lint, prettier --write

chore: setup codacy configuration
  .codacy.yml
Due: none

Update .codacy.yml
  .codacy.yml
Due: none

chore: setup codacy configuration (#2827)
  .codacy.yml
Due: none

chore: ignore development folders on codacy
  .codacy.yml
Due: none

test: vote balance tests for htlc
  __tests__/unit/core-state/mocks/container.ts
  __tests__/unit/core-state/mocks/database.ts
  __tests__/unit/core-state/mocks/state.ts
  __tests__/unit/core-state/wallets/wallet-manager-htlc.test.ts
Due: yarn lint, prettier --write

refactor(core-p2p): increase network timeouts
  packages/core-p2p/src/defaults.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/peer-connector.ts
  packages/core-p2p/src/peer-processor.ts
  packages/core-p2p/src/socket-server/index.ts
Due: yarn lint, prettier --write

refactor(core-p2p): remove unused NetworkMonitor.getServer()
  packages/core-interfaces/src/core-p2p/network-monitor.ts
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

perf(core-database-postgres): faster count method
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database-postgres/src/repositories/repository.ts
  packages/core-database-postgres/src/repositories/transactions.ts
Due: yarn lint, prettier --write

fix(core-database-postgres): prefix table names with schema
  packages/core-database-postgres/src/migrations/20190718000000-check_previous_block-add-schema.sql
Due: none

fix(core-api): return data directly if cache is disabled
  packages/core-api/src/handlers/utils.ts
Due: yarn lint, prettier --write

refactor: htlc lock expiration Allow to set htlc lock expiration in block height or unix timestamp
  packages/core-tester-cli/src/commands/send/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/crypto/src/interfaces/transactions.ts
  packages/crypto/src/transactions/types/enums.ts
  packages/crypto/src/transactions/types/htlc-lock.ts
  packages/crypto/src/transactions/types/index.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

test: adapt to refactored htlc lock expiration
  __tests__/functional/transaction-forging/htlc-claim.test.ts
  __tests__/functional/transaction-forging/htlc-lock.test.ts
  __tests__/functional/transaction-forging/htlc-refund.test.ts
  __tests__/unit/core-state/wallets/wallet-manager-htlc.test.ts
  __tests__/unit/core-transactions/handler.test.ts
  __tests__/unit/crypto/transactions/builders/transactions/htlc-lock.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  __tests__/unit/crypto/transactions/schemas.test.ts
Due: yarn lint, prettier --write

fix(core-database-postgres): register the newly added migration file
  packages/core-database-postgres/src/migrations/index.ts
Due: yarn lint, prettier --write

refactor: htlc claim and refund allow anyone to claim / refund (not limited to lock recipient / sender)
  __tests__/unit/core-transactions/handler.test.ts
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
Due: yarn lint, prettier --write

test: more htlc tests after refactor test "anyone can claim / refund" and unix /block height timestamp
  __tests__/unit/core-transactions/handler.test.ts
Due: yarn lint, prettier --write

chore: setup probot/stale configuration
  .github/stale.yml
Due: none

chore: setup probot/stale configuration (#2834)
  .github/stale.yml
Due: none

chore(readme): add lead maintainer information
  README.md
Due: prettier --write

chore(readme): add lead maintainer information (#2835)
  README.md
Due: prettier --write

fix(core-database-postgres): prefix table names with schema (#2830)
  packages/core-database-postgres/src/migrations/20190718000000-check_previous_block-add-schema.sql
  packages/core-database-postgres/src/migrations/index.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
