Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

chore(deps): update dependency rimraf to v3
  package.json
Due: prettier --write

refactor: remove asset migration heuristic
  packages/core-database-postgres/src/postgres-connection.ts
Due: yarn lint, prettier --write

refactor(core-transactions): batch transaction bootstrap
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/queries/state-builder/assets-by-type.sql
  packages/core-database-postgres/src/queries/state-builder/count-type.sql
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-registration.ts
  packages/core-magistrate-transactions/src/handlers/business-resignation.ts
  packages/core-magistrate-transactions/src/handlers/business-update.ts
  packages/core-transactions/src/handlers/delegate-registration.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/handlers/ipfs.ts
  packages/core-transactions/src/handlers/multi-payment.ts
  packages/core-transactions/src/handlers/multi-signature.ts
  packages/core-transactions/src/handlers/second-signature.ts
  packages/core-transactions/src/handlers/vote.ts
  packages/core-transactions/src/index.ts
  packages/core-transactions/src/transaction-reader.ts
Due: yarn lint, prettier --write

refactor(core): use default heap size regardless of available memory
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

refactor(core): use default heap size regardless of available memory (#2998)
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

refactor: remove asset migration heuristic (#2999)
  packages/core-database-postgres/src/postgres-connection.ts
Due: yarn lint, prettier --write

perf(crypto): make address network byte check part of serde
  packages/crypto/src/errors.ts
  packages/crypto/src/identities/address.ts
  packages/crypto/src/transactions/serializer.ts
  packages/crypto/src/transactions/types/htlc-lock.ts
  packages/crypto/src/transactions/types/multi-payment.ts
  packages/crypto/src/transactions/types/transfer.ts
  packages/crypto/src/validation/keywords.ts
  packages/crypto/src/validation/schemas.ts
Due: yarn lint, prettier --write

feat: allow passing height to `isNewMilestone`
  __tests__/unit/crypto/managers/config.test.ts
  packages/crypto/src/managers/config.ts
Due: yarn lint, prettier --write

refactor: use `some` to reduce runtime complexity
  packages/crypto/src/managers/config.ts
Due: yarn lint, prettier --write

chore: upgrade @arkecosystem/utils from 0.3.0 to 0.6.0
  packages/core-jest-matchers/package.json
Due: prettier --write

ci: update branch patterns to new format
  .github/workflows/benchmark.yml
  .github/workflows/functional.yml
  .github/workflows/test.yml
Due: none

fix(deps): update dependency @hapi/boom to v8
  packages/core-api/package.json
  packages/core-elasticsearch/package.json
  packages/core-http-utils/package.json
  packages/core-p2p/package.json
  packages/core-webhooks/package.json
  yarn.lock
Due: prettier --write

feat(crypto): allow passing height to `configManager.isNewMilestone` (#3001)
  __tests__/unit/crypto/managers/config.test.ts
  packages/crypto/src/managers/config.ts
Due: yarn lint, prettier --write

fix(deps): update dependency @hapi/joi to v16
  packages/core-api/package.json
  packages/core-container/package.json
  packages/core-elasticsearch/package.json
  packages/core-webhooks/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency pg-promise to v9
  packages/core-database-postgres/package.json
  packages/core-snapshots/package.json
  yarn.lock
Due: prettier --write

Update packages/core-api/src/plugins/pagination/ext.ts
  packages/core-api/src/plugins/pagination/ext.ts
Due: yarn lint, prettier --write

fix(crypto): schema convert to bignumber earlier
  packages/crypto/src/validation/keywords.ts
Due: yarn lint, prettier --write

wip
  yarn.lock
Due: none

refactor: allow vendorfield multipayment and htlc lock
  __tests__/unit/crypto/transactions/deserializer.test.ts
  packages/crypto/src/transactions/builders/transactions/htlc-lock.ts
  packages/crypto/src/transactions/builders/transactions/multi-payment.ts
  packages/crypto/src/transactions/types/htlc-lock.ts
  packages/crypto/src/transactions/types/multi-payment.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

refactor: replace map and filter with reduce
  packages/core-database/src/repositories/wallets-business-repository.ts
Due: yarn lint, prettier --write

refactor: add vendorField and timestamp to `/locks`
  __tests__/integration/core-api/handlers/locks.test.ts
  __tests__/integration/core-api/utils.ts
  packages/core-api/src/handlers/locks/schema.ts
  packages/core-database/src/repositories/utils/search-entries.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/crypto/src/interfaces/transactions.ts
Due: yarn lint, prettier --write

refactor: pass type parameter instead of cast
  packages/core-database/src/repositories/wallets-business-repository.ts
Due: yarn lint, prettier --write

chore: upgrade @arkecosystem/utils from 0.3.0 to 0.6.8
  packages/core-api/package.json
Due: prettier --write

fix: Buffer.from undefined
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
Due: yarn lint, prettier --write

chore: upgrade @arkecosystem/utils from 0.3.0 to 0.6.8
  packages/core-database-postgres/package.json
Due: prettier --write

fix: run ajv validator again when encountering exceptions
  __tests__/unit/crypto/blocks/factory.test.ts
  __tests__/unit/crypto/fixtures/block.ts
  packages/crypto/src/blocks/block.ts
  packages/crypto/src/validation/index.ts
  packages/crypto/src/validation/keywords.ts
Due: yarn lint, prettier --write

fix(crypto): run ajv validator again when encountering exceptions (#3008)
  __tests__/unit/crypto/blocks/factory.test.ts
  __tests__/unit/crypto/fixtures/block.ts
  packages/crypto/src/blocks/block.ts
  packages/crypto/src/validation/index.ts
  packages/crypto/src/validation/keywords.ts
Due: yarn lint, prettier --write

refactor(core-api): add `vendorField` and `timestamp` to `/locks` endpoint (#3005)
  __tests__/integration/core-api/handlers/locks.test.ts
  __tests__/integration/core-api/utils.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  packages/core-api/src/handlers/locks/schema.ts
  packages/core-database/src/repositories/utils/search-entries.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/crypto/src/interfaces/transactions.ts
  packages/crypto/src/transactions/builders/transactions/htlc-lock.ts
  packages/crypto/src/transactions/builders/transactions/multi-payment.ts
  packages/crypto/src/transactions/types/htlc-lock.ts
  packages/crypto/src/transactions/types/multi-payment.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

chore: upgrade @arkecosystem/utils from 0.3.0 to 0.6.8
  packages/core-database/package.json
Due: prettier --write

wip
  packages/core-api/src/plugins/pagination/ext.ts
Due: yarn lint, prettier --write

refactor(core-api): integrate hapi-pagination to replace fork (#2994)
  packages/core-api/package.json
  packages/core-api/src/defaults.ts
  packages/core-api/src/handlers/transactions/routes.ts
  packages/core-api/src/plugins/pagination/config.ts
  packages/core-api/src/plugins/pagination/decorate.ts
  packages/core-api/src/plugins/pagination/ext.ts
  packages/core-api/src/plugins/pagination/index.ts
  packages/core-api/src/server.ts
  yarn.lock
Due: yarn lint, prettier --write

perf: replace bignumber.js with native bigint
  __tests__/integration/core-api/handlers/locks.test.ts
  __tests__/integration/core-api/handlers/wallets.test.ts
  __tests__/unit/core-transaction-pool/connection.forging.test.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-resignation.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-update.ts
  packages/core-transaction-pool/src/dynamic-fee.ts
  packages/core-utils/src/delegate-calculator.ts
  packages/core-vote-report/src/handler.ts
  packages/core-webhooks/src/conditions.ts
  packages/crypto/package.json
  packages/crypto/src/blocks/block.ts
  packages/crypto/src/blocks/deserializer.ts
  packages/crypto/src/blocks/serializer.ts
  packages/crypto/src/transactions/serializer.ts
  packages/crypto/src/transactions/types/htlc-lock.ts
  packages/crypto/src/transactions/types/multi-payment.ts
  packages/crypto/src/transactions/types/transfer.ts
  packages/crypto/src/utils/bignum.ts
  packages/crypto/src/validation/keywords.ts
  yarn.lock
Due: yarn lint, prettier --write

fix: prefix hex string with `0x`
  packages/crypto/src/blocks/block.ts
  packages/crypto/src/blocks/deserializer.ts
Due: yarn lint, prettier --write

fix: schema
  __tests__/unit/crypto/transactions/factory.test.ts
  __tests__/unit/crypto/validation/keywords.test.ts
  packages/crypto/src/validation/keywords.ts
Due: yarn lint, prettier --write

refactor: remove obsolete code
  packages/crypto/src/blocks/block.ts
Due: yarn lint, prettier --write

test: update
  __tests__/integration/core-tester-cli/shared.ts
  __tests__/integration/core-transaction-pool/processor.test.ts
  __tests__/unit/core-state/wallets/wallet.test.ts
  __tests__/unit/core-utils/delegate-calculator.test.ts
  __tests__/unit/core-webhooks/conditions.test.ts
  packages/core-magistrate-crypto/src/interfaces.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-snapshots/src/transport/codec.ts
  packages/core-tester-cli/src/signer.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-utils/src/delegate-calculator.ts
  packages/core-webhooks/src/conditions.ts
  packages/core/src/commands/network/generate.ts
Due: yarn lint, prettier --write

refactor: add `round.missed` event
  packages/core-database/src/database-service.ts
  packages/core-event-emitter/src/index.ts
Due: yarn lint, prettier --write

refactor: remove vendorFieldHex
  __tests__/integration/core-api/handlers/transactions.test.ts
  __tests__/integration/core-p2p/fixtures/block-with-transactions.json
  __tests__/unit/core-jest-matchers/models/transaction.test.ts
  __tests__/unit/core-jest-matchers/transactions/valid-second-signature.test.ts
  __tests__/unit/core-jest-matchers/transactions/valid.test.ts
  __tests__/unit/core-transaction-pool/connection.forging.test.ts
  __tests__/unit/crypto/fixtures/block.ts
  __tests__/unit/crypto/fixtures/multi-transaction.ts
  __tests__/unit/crypto/fixtures/transaction.ts
  __tests__/unit/crypto/transactions/builders/transactions/multi-payment.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  __tests__/unit/crypto/validation/formats.test.ts
  __tests__/utils/fixtures/unitnet/blocks.ts
  benchmark/fixtures/block/deserialized/transactions.json
  benchmark/fixtures/transaction/deserialized/0.json
  packages/core-api/src/handlers/blocks/schema.ts
  packages/core-api/src/handlers/transactions/schema.ts
  packages/core-api/src/handlers/votes/schema.ts
  packages/core-api/src/handlers/wallets/schema.ts
  packages/core-database-postgres/src/models/transaction.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
  packages/core-snapshots/src/transport/codec.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/crypto/src/interfaces/transactions.ts
  packages/crypto/src/transactions/deserializer.ts
  packages/crypto/src/transactions/serializer.ts
  packages/crypto/src/transactions/types/schemas.ts
  packages/crypto/src/transactions/types/transaction.ts
  packages/crypto/src/validation/formats.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
