Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

chore: purge ipLastError every hour
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

test: fix socket server test
  __tests__/integration/core-p2p/socket-server/peer.test.ts
Due: yarn lint, prettier --write

refactor(core-p2p): discover peers when checking network health (#3358)
  __tests__/unit/core-p2p/network-monitor.test.ts
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

refactor: enable htlc types via dedicated milestone (#3353)
  __tests__/helpers/transaction-factory.ts
  __tests__/unit/core-state/wallets/wallet-manager-htlc.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  packages/core-database/src/database-service.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core/bin/config/devnet/peers.json
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/testnet/milestones.json
  packages/crypto/src/networks/unitnet/milestones.json
  packages/crypto/src/transactions/types/htlc-claim.ts
  packages/crypto/src/transactions/types/htlc-lock.ts
  packages/crypto/src/transactions/types/htlc-refund.ts
Due: yarn lint, prettier --write

refactor(core-transactions): change handler dependency handling
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-registration.ts
  packages/core-magistrate-transactions/src/handlers/business-resignation.ts
  packages/core-magistrate-transactions/src/handlers/business-update.ts
  packages/core-magistrate-transactions/src/service-provider.ts
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/handler-registry.ts
  packages/core-transactions/src/handlers/index.ts
  packages/core-transactions/src/handlers/one/delegate-registration.ts
  packages/core-transactions/src/handlers/one/multi-signature-registration.ts
  packages/core-transactions/src/handlers/one/second-signature-registration.ts
  packages/core-transactions/src/handlers/one/transfer.ts
  packages/core-transactions/src/handlers/one/vote.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/two/delegate-resignation.ts
  packages/core-transactions/src/handlers/two/htlc-claim.ts
  packages/core-transactions/src/handlers/two/htlc-lock.ts
  packages/core-transactions/src/handlers/two/htlc-refund.ts
  packages/core-transactions/src/handlers/two/ipfs.ts
  packages/core-transactions/src/handlers/two/multi-payment.ts
  packages/core-transactions/src/handlers/two/multi-signature-registration.ts
  packages/core-transactions/src/handlers/two/vote.ts
  packages/core-transactions/src/service-provider.ts
Due: yarn lint, prettier --write

chore: leftover from patch apply
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix(core-p2p): handle disconnect packets
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

refactor: use ip variable
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix(core-p2p): master merge fixes for core-p2p worker (#3359)
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

refactor: check network health when round is missing 1/3 of the blocks
  packages/core-blockchain/src/blockchain.ts
  packages/core-state/src/stores/state.ts
Due: yarn lint, prettier --write

refactor: read milestone
  packages/core-blockchain/src/blockchain.ts
Due: yarn lint, prettier --write

refactor: call `checkNetworkHealth` more deterministically (#3360)
  packages/core-blockchain/src/blockchain.ts
  packages/core-state/src/stores/state.ts
Due: yarn lint, prettier --write

ci: require linting to pass before tests run
  .eslintrc.json
  .github/workflows/benchmark.yml
  .github/workflows/lint-test-benchmark.yml
  .github/workflows/test.yml
  packages/core-p2p/src/peer.ts
Due: yarn lint, prettier --write

fix(deps): update dependency log-process-errors to v6
  packages/core-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/cli-progress to v3
  packages/core/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @hapi/hoek to v9
  packages/core-container/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @hapi/boom to v9
  packages/core-api/package.json
  packages/core-elasticsearch/package.json
  packages/core-http-utils/package.json
  packages/core-p2p/package.json
  packages/core-webhooks/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @hapi/joi to v17
  packages/core-api/package.json
  packages/core-container/package.json
  packages/core-elasticsearch/package.json
  packages/core-webhooks/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @hapi/wreck to v17
  packages/core-http-utils/package.json
  yarn.lock
Due: prettier --write

fix: allow legacy transaction in getBlocksForRound use deserializeTransactionsUnchecked option to disable checks (as we get the block and txs from our own db)
  packages/core-database/src/database-service.ts
Due: yarn lint, prettier --write

test: deserializeTransactionsUnchecked
  __tests__/unit/crypto/blocks/factory.test.ts
Due: yarn lint, prettier --write

fix(core-database): allow legacy transaction in getBlocksForRound (#3372)
  __tests__/unit/crypto/blocks/factory.test.ts
  packages/core-database/src/database-service.ts
Due: yarn lint, prettier --write

chore(deps): update dependency @types/micromatch to v4
  packages/core-http-utils/package.json
  packages/core-p2p/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v4
  package.json
  yarn.lock
Due: prettier --write

test(core-api): fix integration tests
  __tests__/integration/core-api/handlers/businesses.test.ts
  __tests__/integration/core-api/handlers/wallets.test.ts
Due: yarn lint, prettier --write

test: fix e2e tests
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/1.1.check-business-registration.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/2.1.check-business-update.test.js
Due: none

feat: add bridgechain repo asset to registration
  packages/core-magistrate-crypto/src/builders/bridgechain-registration.ts
  packages/core-magistrate-crypto/src/interfaces.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-registration.ts
Due: yarn lint, prettier --write

test: bridgechain registration with asset repo
  __tests__/unit/core-magistrate/helper.ts
  __tests__/unit/core-magistrate/transactions/bridgechain-registration.test.ts
  __tests__/unit/core-magistrate/wallet.test.ts
Due: yarn lint, prettier --write

feat: bridgechain update repository
  packages/core-magistrate-crypto/src/interfaces.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-update.ts
Due: yarn lint, prettier --write

test: bridgechain update repository
  __tests__/unit/core-magistrate/builders/bridgechain-update.test.ts
  __tests__/unit/core-magistrate/transactions/bridgechain-update.test.ts
Due: yarn lint, prettier --write

feat: bridgechain update asset repository
  packages/core-magistrate-crypto/src/interfaces.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-update.ts
Due: yarn lint, prettier --write

test: bridgechain update asset repository
  __tests__/unit/core-magistrate/builders/bridgechain-update.test.ts
  __tests__/unit/core-magistrate/transactions/bridgechain-update.test.ts
Due: yarn lint, prettier --write

feat: update bridgechain repo in wallet attr
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
Due: yarn lint, prettier --write

chore(deps): update node.js to v12.14.1
  .nvmrc
Due: none

refactor(core-transactions): lifting singleton from transaction handler registry
  packages/core-api/src/controllers/node.ts
  packages/core-api/src/controllers/transactions.ts
  packages/core-blockchain/src/processor/block-processor.ts
  packages/core-database/src/database-service.ts
  packages/core-state/src/block-state.ts
  packages/core-state/src/state-builder.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/dynamic-fee-matcher.ts
  packages/core-transaction-pool/src/pool-wallet-repository.ts
  packages/core-transaction-pool/src/processor.ts
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/handler-provider.ts
  packages/core-transactions/src/handlers/handler-registry.ts
  packages/core-transactions/src/service-provider.ts
Due: yarn lint, prettier --write

refactor: clone obj before deleting prop
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
Due: yarn lint, prettier --write

test: fix functional tests
  __tests__/functional/transaction-forging/bridgechain-registration.test.ts
  __tests__/functional/transaction-forging/bridgechain-resignation.test.ts
  __tests__/functional/transaction-forging/bridgechain-update.test.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
