Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

refactor(core-api): move totalCountIsEstimate property to meta
  packages/core-api/package.json
  packages/core-api/src/handlers/utils.ts
  yarn.lock
Due: yarn lint, prettier --write

chore: rename config variable totalCountIsEstimate to estimateTotalCount
  packages/core-database-postgres/src/defaults.ts
  packages/core-database-postgres/src/repositories/repository.ts
Due: yarn lint, prettier --write

chore: make it possible to set estimate/ornot via the environment
  packages/core-database-postgres/src/defaults.ts
Due: yarn lint, prettier --write

test: trying to fix e2e nonce issue
  __tests__/e2e/tests/scenarios/scenario1/chained-tx/0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/chained-tx/3.resend-BtoC.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/1.0.doublespend.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/1.1.doublespend2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.0.doubletransfer.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.1.doubletransfer2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.2.doublevote.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.3.doubledelreg.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.4.double2ndsigreg.action.js
  __tests__/e2e/tests/scenarios/scenario1/insufficient-balance/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/insufficient-balance/1.1.transfer2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/pool-restart/0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.0.transaction.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.1.transaction2ndsig.action.js
Due: none

test: trying to fix e2e nonce issue
  __tests__/e2e/tests/scenarios/scenario1/chained-tx/0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/0.1.init-2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/insufficient-balance/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/pool-restart/0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/0.1.init-2ndsig.action.js
Due: none

test: more nonce fixes for e2e
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/1.1.doublespend2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/0.1.init-2ndsig.action.js
Due: none

chore: rename short-lived variable q to query
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database-postgres/src/repositories/transactions.ts
Due: yarn lint, prettier --write

feat new transaction type
  packages/core-transactions/src/handlers/business-registration.ts
  packages/core-transactions/src/handlers/handler-registry.ts
  packages/crypto/src/enums.ts
  packages/crypto/src/interfaces/transactions.ts
  packages/crypto/src/networks/testnet/milestones.json
  packages/crypto/src/transactions/builders/transactions/business-registration.ts
  packages/crypto/src/transactions/types/business-registration.ts
  packages/crypto/src/transactions/types/index.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

test: fix nonce issue in e2e
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/0.1.init-2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/1.0.doublespend.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/1.1.doublespend2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/0.1.init-2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.0.transaction.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.1.transaction2ndsig.action.js
Due: none

fix(core-database-postgres): drop check_previous_block with arguments
  packages/core-database-postgres/src/migrations/20190626000000-enforce-chained-blocks.sql
Due: none

fix(core-database-postgres): drop check_previous_block with arguments (#2775)
  packages/core-database-postgres/src/migrations/20190626000000-enforce-chained-blocks.sql
Due: none

refactor: log error message
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

fix: missing recipient_id
  packages/core-database-postgres/src/repositories/transactions.ts
Due: yarn lint, prettier --write

test: fix
  __tests__/integration/core-api/handlers/transactions.test.ts
  packages/core-api/src/handlers/transactions/transformer.ts
Due: yarn lint, prettier --write

feat(core-api): make it configurable whether to use estimates (#2772)
  __tests__/integration/core-api/handlers/transactions.test.ts
  packages/core-api/package.json
  packages/core-api/src/handlers/transactions/transformer.ts
  packages/core-api/src/handlers/utils.ts
  packages/core-database-postgres/src/defaults.ts
  packages/core-database-postgres/src/postgres-connection.ts
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database-postgres/src/repositories/repository.ts
  packages/core-database-postgres/src/repositories/transactions.ts
  yarn.lock
Due: yarn lint, prettier --write

fix: raise bignumber maximum
  __tests__/unit/crypto/validation/keywords.test.ts
  packages/crypto/src/validation/keywords.ts
Due: yarn lint, prettier --write

release: 2.5.0-next.7
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.5.0-next.7 (#2776)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(crypto): raise bignumber maximum (#2777)
  __tests__/unit/crypto/validation/keywords.test.ts
  packages/crypto/src/validation/keywords.ts
Due: yarn lint, prettier --write

refactor new transaction type
  packages/core-event-emitter/src/index.ts
  packages/core-transaction-pool/src/defaults.ts
  packages/core-transactions/src/handlers/business-registration.ts
  packages/core/bin/config/testnet/plugins.js
  packages/core/src/commands/network/generate.ts
  packages/crypto/src/interfaces/transactions.ts
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/mainnet/milestones.json
  packages/crypto/src/networks/testnet/milestones.json
  packages/crypto/src/transactions/builders/index.ts
  packages/crypto/src/transactions/builders/transactions/business-registration.ts
  packages/crypto/src/transactions/registry.ts
  packages/crypto/src/transactions/types/business-registration.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

chore(crypto): remove unused function sortTransactions()
  __tests__/integration/core-blockchain/blockchain.test.ts
  __tests__/unit/crypto/utils/sort-transactions.test.ts
  packages/crypto/src/utils/index.ts
Due: yarn lint, prettier --write

tests for new transaction type
  __tests__/unit/crypto/transactions/schemas.test.ts
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/business-registration.ts
  packages/crypto/src/interfaces/transactions.ts
  packages/crypto/src/transactions/builders/transactions/business-registration.ts
  packages/crypto/src/transactions/types/business-registration.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

refactor: remove transaction's sequence property
  __tests__/integration/core-tester-cli/__fixtures__/block.json
  __tests__/unit/core-database/repositories/transactions-business-repository.test.ts
  __tests__/unit/core-jest-matchers/transactions/valid-second-signature.test.ts
  __tests__/unit/core-snapshots/fixtures/transactions.ts
  __tests__/unit/core-snapshots/transport/codec.test.ts
  __tests__/unit/crypto/fixtures/block.ts
  packages/core-database-postgres/src/migrations/20190708000000-drop-sequence-column-from-transactions-table.sql
  packages/core-database-postgres/src/models/transaction.ts
  packages/core-database-postgres/src/queries/blocks/height-range-with-transactions.sql
  packages/core-database-postgres/src/queries/state-builder/assets-by-type.sql
  packages/core-database-postgres/src/queries/state-builder/ipfs.sql
  packages/core-database-postgres/src/queries/state-builder/multi-signatures.sql
  packages/core-database-postgres/src/queries/transactions/latest-by-block.sql
  packages/core-database-postgres/src/queries/transactions/latest-by-blocks.sql
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-snapshots/src/db/index.ts
  packages/core-snapshots/src/db/queries/transactions/timestamp-higher.sql
  packages/core-snapshots/src/db/queries/transactions/timestamp-range.sql
  packages/core-snapshots/src/transport/codec.ts
  packages/crypto/src/blocks/block.ts
  packages/crypto/src/interfaces/transactions.ts
Due: yarn lint, prettier --write

test: fix e2e tests
  __tests__/e2e/tests/scenarios/scenario1/chained-tx/0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/chained-tx/3.resend-BtoC.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.1.doubletransfer2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.4.double2ndsigreg.action.js
  __tests__/e2e/tests/scenarios/scenario1/insufficient-balance/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/0.0.transfer-new-wallet.action.js
Due: none

refactor: htlc handlers Make abstract transaction handler unaware of child htlc implementation + sha256 for HTLC hash instead of hash256
  __tests__/unit/core-transactions/handler.test.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/handlers/transaction.ts
Due: yarn lint, prettier --write

test: exclude some test on node 10 it fails on circleci because of performance
  __tests__/functional/transaction-forging/multi-payment.test.ts
Due: yarn lint, prettier --write

refactor: detect potato and run GC earlier
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

refactor: peer knocking
  packages/core-interfaces/src/core-p2p/peer-communicator.ts
  packages/core-interfaces/src/core-p2p/peer.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/peer.ts
Due: yarn lint, prettier --write

refactor: take totalmem into account
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

fix: core-wallet-api when loaded before core-api, node/fees endpoint crash on empty result
  __tests__/unit/core-utils/is-whitelisted.test.ts
  packages/core-api/src/defaults.ts
  packages/core-container/src/registrars/plugin.ts
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-http-utils/src/plugins/whitelist.ts
  packages/core-interfaces/src/core-container/container.ts
  packages/core-utils/package.json
  packages/core-utils/src/index.ts
  packages/core-utils/src/is-whitelisted.ts
  packages/core-wallet-api/package.json
  packages/core-wallet-api/src/plugin.ts
  packages/core-wallet-api/src/server/index.ts
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/plugins.js
  yarn.lock
Due: yarn lint, prettier --write

fix: add hello world to api
  packages/core-api/src/server.ts
Due: yarn lint, prettier --write

backport: some fixes for the deployer (#2782)
  __tests__/unit/core-utils/is-whitelisted.test.ts
  packages/core-api/src/defaults.ts
  packages/core-container/src/registrars/plugin.ts
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-http-utils/src/plugins/whitelist.ts
  packages/core-interfaces/src/core-container/container.ts
  packages/core-utils/package.json
  packages/core-utils/src/index.ts
  packages/core-utils/src/is-whitelisted.ts
  packages/core-wallet-api/package.json
  packages/core-wallet-api/src/plugin.ts
  packages/core-wallet-api/src/server/index.ts
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/plugins.js
  yarn.lock
Due: yarn lint, prettier --write

release: 2.4.15
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.4.15 (#2783)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

refactor: pass as object
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

chore: bump foreman
  packages/core/package.json
Due: prettier --write

test: fix mock
  __tests__/integration/core-p2p/peer-communicator.test.ts
Due: yarn lint, prettier --write

refactor: remove check
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

refactor(core): run GC earlier on potatos (#2785)
  packages/core/package.json
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
