Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

fix: findByTypeAndId chore: introduce conventional spacing around method declarations.
  packages/core-database/src/repositories/delegates-business-repository.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/blocks-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/database-model/database-model.ts
Due: yarn lint, prettier --write

refactor: rename arktoshi to satoshi to be generic (#2104)
  packages/core-api/__tests__/v2/handlers/transactions.test.ts
  packages/core-database/__tests__/database-service.test.ts
  packages/core-database/__tests__/repositories/delegates.test.ts
  packages/core-database/__tests__/wallet-manager.test.ts
  packages/core-database/src/wallet-manager.ts
  packages/core-test-utils/__tests__/generators/transactions/transfer.test.ts
  packages/core-tester-cli/__tests__/commands/delegate-registration.test.ts
  packages/core-tester-cli/__tests__/commands/second-signature.test.ts
  packages/core-tester-cli/__tests__/commands/transfer.test.ts
  packages/core-tester-cli/__tests__/commands/vote.test.ts
  packages/core-tester-cli/__tests__/utils.test.ts
  packages/core-tester-cli/src/commands/delegate-registration.ts
  packages/core-tester-cli/src/commands/multi-signature.ts
  packages/core-tester-cli/src/commands/second-signature.ts
  packages/core-tester-cli/src/commands/transfer.ts
  packages/core-tester-cli/src/commands/vote.ts
  packages/core-tester-cli/src/utils.ts
  packages/core-transaction-pool/__tests__/connection.test.ts
  packages/core-transaction-pool/__tests__/dynamic-fee.test.ts
  packages/core-transaction-pool/__tests__/guard.test.ts
  packages/core-transaction-pool/__tests__/pool-wallet-manager.test.ts
  packages/core-transaction-pool/src/dynamic-fee/matcher.ts
  packages/crypto/__tests__/constants.test.ts
  packages/crypto/__tests__/handlers/transactions/handler.test.ts
  packages/crypto/__tests__/models/delegate.test.ts
  packages/crypto/__tests__/models/wallet.test.ts
  packages/crypto/__tests__/utils/format-arktoshi.test.ts
  packages/crypto/__tests__/utils/format-satoshi.test.ts
  packages/crypto/__tests__/validation/extensions/transactions/delegate-registration.test.ts
  packages/crypto/__tests__/validation/extensions/transactions/multi-signature.test.ts
  packages/crypto/__tests__/validation/extensions/transactions/second-signature.test.ts
  packages/crypto/__tests__/validation/extensions/transactions/transfer.test.ts
  packages/crypto/__tests__/validation/extensions/transactions/vote.test.ts
  packages/crypto/src/constants.ts
  packages/crypto/src/models/block.ts
  packages/crypto/src/models/transaction.ts
  packages/crypto/src/models/wallet.ts
  packages/crypto/src/utils.ts
  packages/crypto/src/utils/format-satoshi.ts
  packages/crypto/src/utils/index.ts
Due: yarn lint, prettier --write

Update utils.ts
  packages/crypto/src/utils.ts
Due: yarn lint, prettier --write

refactor: merge small utils into utils files (#2105)
  packages/core-database-postgres/src/utils.ts
  packages/core-database-postgres/src/utils/camelize-columns.ts
  packages/core-database-postgres/src/utils/index.ts
  packages/core-database-postgres/src/utils/load-query-file.ts
  packages/core-snapshots/src/utils.ts
  packages/core-transaction-pool/src/guard.ts
  packages/core-transaction-pool/src/utils.ts
  packages/crypto/__tests__/builder/transactions/__shared__/transaction-builder.ts
  packages/crypto/__tests__/handlers/transactions/__fixtures__/transaction.ts
  packages/crypto/__tests__/handlers/transactions/__fixtures__/wallet.ts
  packages/crypto/__tests__/handlers/transactions/delegate-registration.test.ts
  packages/crypto/__tests__/handlers/transactions/delegate-resignation.test.ts
  packages/crypto/__tests__/handlers/transactions/handler.test.ts
  packages/crypto/__tests__/handlers/transactions/ipfs.test.ts
  packages/crypto/__tests__/handlers/transactions/multi-payment.test.ts
  packages/crypto/__tests__/handlers/transactions/multi-signature.test.ts
  packages/crypto/__tests__/handlers/transactions/second-signature.test.ts
  packages/crypto/__tests__/handlers/transactions/timelock-transfer.test.ts
  packages/crypto/__tests__/handlers/transactions/vote.test.ts
  packages/crypto/__tests__/models/block.test.ts
  packages/crypto/__tests__/models/delegate.test.ts
  packages/crypto/__tests__/models/wallet.test.ts
  packages/crypto/src/deserializers/block.ts
  packages/crypto/src/deserializers/transaction.ts
  packages/crypto/src/utils/bignum.ts
  packages/crypto/src/utils/format-satoshi.ts
  packages/crypto/src/utils/index.ts
  packages/crypto/src/utils/is-exception.ts
  packages/crypto/src/utils/sort-transactions.ts
Due: yarn lint, prettier --write

refactor: replace lodash.sortBy/orderBy with faster implementations (#2106)
  packages/core-api/package.json
  packages/core-api/src/versions/2/delegates/methods.ts
  packages/core-database/package.json
  packages/core-database/src/repositories/delegates.ts
  packages/core-database/src/repositories/wallets.ts
  packages/core-jest-matchers/package.json
  packages/core-jest-matchers/src/api/block.ts
  packages/core-jest-matchers/src/api/peer.ts
  packages/core-jest-matchers/src/api/transaction.ts
  packages/core-jest-matchers/src/blockchain/execute-on-entry.ts
  packages/core-jest-matchers/src/models/delegate.ts
  packages/core-jest-matchers/src/models/transaction.ts
  packages/core-jest-matchers/src/models/wallet.ts
  yarn.lock
Due: yarn lint, prettier --write

chore(release): 2.2.0-beta.0
  docker/production/Dockerfile
  install.sh
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-p2p/src/defaults.ts
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

fix(core-tester-cli): pass the base arguments during programmatic calls
  packages/core-tester-cli/src/commands/command.ts
  packages/core-tester-cli/src/commands/delegate-registration.ts
  packages/core-tester-cli/src/commands/multi-signature.ts
  packages/core-tester-cli/src/commands/second-signature.ts
  packages/core-tester-cli/src/commands/vote.ts
Due: yarn lint, prettier --write

test(core-tester-cli): adjust test assertions
  packages/core-tester-cli/__tests__/commands/command.test.ts
  packages/core-tester-cli/__tests__/commands/delegate-registration.test.ts
  packages/core-tester-cli/__tests__/commands/second-signature.test.ts
  packages/core-tester-cli/__tests__/commands/vote.test.ts
  packages/core-tester-cli/src/commands/command.ts
  packages/core-tester-cli/src/utils.ts
Due: yarn lint, prettier --write

fix(core-tester-cli): pass all base flags except copy
  packages/core-tester-cli/src/commands/command.ts
Due: yarn lint, prettier --write

fix: compile-error caused by merge
  packages/core-database/src/repositories/delegates-business-repository.ts
Due: yarn lint, prettier --write

fix(core-tester-cli): pass the base flags for programmatic calls (#2108)
  packages/core-tester-cli/__tests__/commands/command.test.ts
  packages/core-tester-cli/__tests__/commands/delegate-registration.test.ts
  packages/core-tester-cli/__tests__/commands/second-signature.test.ts
  packages/core-tester-cli/__tests__/commands/vote.test.ts
  packages/core-tester-cli/src/commands/command.ts
  packages/core-tester-cli/src/commands/delegate-registration.ts
  packages/core-tester-cli/src/commands/multi-signature.ts
  packages/core-tester-cli/src/commands/second-signature.ts
  packages/core-tester-cli/src/commands/vote.ts
  packages/core-tester-cli/src/utils.ts
Due: yarn lint, prettier --write

fix(core): less verbose logging and disable git updates
  packages/core/src/commands/command.ts
  packages/core/src/commands/top.ts
  packages/core/src/helpers/update.ts
Due: yarn lint, prettier --write

refactor(core): less verbose logging
  packages/core/src/commands/env/get.ts
  packages/core/src/commands/env/list.ts
  packages/core/src/commands/env/set.ts
Due: yarn lint, prettier --write

refactor(core): less verbose logging
  packages/core/src/shared/log.ts
  packages/core/src/shared/restart.ts
  packages/core/src/shared/status.ts
  packages/core/src/shared/stop.ts
Due: yarn lint, prettier --write

fix(core): force publish configuration when reset
  packages/core/src/commands/command.ts
  packages/core/src/commands/config/publish.ts
  packages/core/src/commands/config/reset.ts
Due: yarn lint, prettier --write

refactor(core): get network and paths through a single method
  packages/core/src/commands/command.ts
  packages/core/src/commands/config/forger/bip38.ts
  packages/core/src/commands/config/forger/bip39.ts
  packages/core/src/commands/config/forger/index.ts
  packages/core/src/commands/config/publish.ts
  packages/core/src/commands/config/reset.ts
  packages/core/src/commands/core/run.ts
  packages/core/src/commands/env/get.ts
  packages/core/src/commands/env/list.ts
  packages/core/src/commands/env/paths.ts
  packages/core/src/commands/env/set.ts
  packages/core/src/commands/forger/run.ts
  packages/core/src/commands/relay/run.ts
  packages/core/src/commands/top.ts
  packages/core/src/shared/log.ts
  packages/core/src/shared/restart.ts
  packages/core/src/shared/start.ts
  packages/core/src/shared/status.ts
  packages/core/src/shared/stop.ts
Due: yarn lint, prettier --write

refactor(core): do not assume default user input
  packages/core/src/commands/command.ts
  packages/core/src/commands/config/forger/bip38.ts
  packages/core/src/commands/config/forger/bip39.ts
  packages/core/src/commands/config/publish.ts
  packages/core/src/commands/config/reset.ts
  packages/core/src/helpers/update.ts
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

refactor(core): remove force flag from publish command
  packages/core/src/commands/config/forger/bip38.ts
  packages/core/src/commands/config/publish.ts
  packages/core/src/commands/config/reset.ts
Due: yarn lint, prettier --write

chore: set database credentials in .env file during the installation
  install.sh
Due: none

fix(core): force exit after pm2 commands executed
  packages/core/src/shared/restart.ts
  packages/core/src/shared/start.ts
  packages/core/src/shared/status.ts
  packages/core/src/shared/stop.ts
Due: yarn lint, prettier --write

fix(core): check if there are any process collisions on start
  packages/core/src/commands/command.ts
  packages/core/src/commands/core/start.ts
  packages/core/src/commands/forger/start.ts
  packages/core/src/commands/relay/start.ts
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

chore(release): 2.2.0-beta.1
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

refactor(core): remove force flag from env:set
  packages/core/src/commands/env/set.ts
  packages/core/src/helpers/update.ts
Due: yarn lint, prettier --write

chore(release): 2.2.0-beta.2
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

refactor(core): make renderTable sync
  packages/core/src/commands/env/paths.ts
  packages/core/src/shared/status.ts
  packages/core/src/utils.ts
Due: yarn lint, prettier --write

chore(release): 2.2.0-beta.3
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix: remove old flags from install script
  install.sh
Due: none

fix: ensure there are no duplicates
  packages/core-utils/src/nsect.ts
Due: yarn lint, prettier --write

fix: disable check
  packages/core-p2p/src/peer.ts
Due: yarn lint, prettier --write

fix: move timeout check
  packages/core-p2p/src/peer.ts
Due: yarn lint, prettier --write

fix(core-p2p): disable peer verifier (#2112)
  packages/core-p2p/src/peer.ts
  packages/core-utils/src/nsect.ts
Due: yarn lint, prettier --write

fix: merge conflicts
  packages/crypto/__tests__/transactions/handler.test.ts
  packages/crypto/src/transactions/deserializers/transaction.ts
Due: yarn lint, prettier --write

chore: run linting on CircleCI
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: run linting on CircleCI
  .circleci/config.yml
  .circleci/generateConfig.js
Due: none

chore: run linting on CircleCI (#2113)
  .circleci/config.yml
  .circleci/configTemplate.json
  .circleci/generateConfig.js
Due: prettier --write

refactor: move 'getColumnSet', 'getSearchableFields' and 'getName' to the generic 'Model' class.
  packages/core-database-postgres/src/models/block.ts
  packages/core-database-postgres/src/models/migration.ts
  packages/core-database-postgres/src/models/model.ts
  packages/core-database-postgres/src/models/round.ts
  packages/core-database-postgres/src/models/transaction.ts
  packages/core-database-postgres/src/models/wallet.ts
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database-postgres/src/repositories/repository.ts
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-database/src/repositories/blocks-business-repository.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/database-repository/blocks-repository.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
Due: yarn lint, prettier --write

refactor: inline some variables
  packages/core-database/src/repositories/blocks-business-repository.ts
Due: yarn lint, prettier --write

fix: had mistakely removed support for 'senderId' parameter...
  packages/core-database/src/repositories/transactions-business-repository.ts
Due: yarn lint, prettier --write

chore(release): 2.2.0-beta.4
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
