Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

add defaults for postgres columns
  .circleci/config.yml
  packages/core-database-postgres/src/models/transaction.ts
  packages/crypto/src/transactions/deserializers/transaction.ts
Due: yarn lint, prettier --write

special treatment for legacy type 4
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint, prettier --write

remove cast to string
  packages/crypto/src/transactions/deserializers/block.ts
Due: yarn lint, prettier --write

refactor: peg block timestamp to slot
  packages/core-p2p/src/server/versions/internal/handlers/rounds.ts
Due: yarn lint, prettier --write

refactor: peg block timestamp to slot (#2176)
  packages/core-p2p/src/server/versions/internal/handlers/rounds.ts
Due: yarn lint, prettier --write

chore: circleci update coverage directory
  .circleci/config.yml
  .circleci/generateConfig.js
Due: none

chore: circleci update coverage directory (#2177)
  .circleci/config.yml
  .circleci/generateConfig.js
Due: none

refactor(core): start 'stopped' process through start command (#2174)
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

refactor(core): add methods for online, stopped and errored states
  packages/core/src/commands/command.ts
  packages/core/src/enums.ts
  packages/core/src/process-manager.ts
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

unused
  packages/core/src/enums.ts
Due: yarn lint, prettier --write

bool
  packages/core/src/process-manager.ts
Due: yarn lint, prettier --write

move
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

unknown state
  packages/core/src/process-manager.ts
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

refactor(core): add methods for online, stopped and errored states (#2178)
  packages/core/src/commands/command.ts
  packages/core/src/enums.ts
  packages/core/src/process-manager.ts
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

refactor(core): exit start commands if the process is already running
  packages/core/src/commands/command.ts
  packages/core/src/process-manager.ts
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

log
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

refactor(core): exit start commands if the process is already running (#2179)
  packages/core/src/commands/command.ts
  packages/core/src/process-manager.ts
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

refactor(core): add abortion state helpers
  packages/core/src/commands/command.ts
  packages/core/src/commands/core/start.ts
  packages/core/src/commands/forger/start.ts
  packages/core/src/commands/relay/start.ts
  packages/core/src/process-manager.ts
  packages/core/src/shared/log.ts
  packages/core/src/shared/restart.ts
  packages/core/src/shared/start.ts
  packages/core/src/shared/status.ts
  packages/core/src/shared/stop.ts
Due: yarn lint, prettier --write

refactor(core): add abortion state helpers (#2180)
  packages/core/src/commands/command.ts
  packages/core/src/commands/core/start.ts
  packages/core/src/commands/forger/start.ts
  packages/core/src/commands/relay/start.ts
  packages/core/src/process-manager.ts
  packages/core/src/shared/log.ts
  packages/core/src/shared/restart.ts
  packages/core/src/shared/start.ts
  packages/core/src/shared/status.ts
  packages/core/src/shared/stop.ts
Due: yarn lint, prettier --write

release: 2.2.0-beta.11
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.2.0-beta.11 (#2181)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: remove extraneous jest presets and config
  .circleci/config.yml
  deprecated/core-graphql/package.json
  deprecated/core-logger-winston/package.json
  deprecated/core-snapshots-cli/package.json
  jest-preset.json
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: remove extraneous jest presets and config
  .circleci/config.yml
  package.json
Due: prettier --write

chore: move @types to development dependencies
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

chore: remove extraneous jest presets and config (#2182)
  deprecated/core-graphql/package.json
  deprecated/core-logger-winston/package.json
  deprecated/core-snapshots-cli/package.json
  jest-preset.json
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: move @types to development dependencies (#2183)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

fix: add productivity to filters
  packages/core-database/src/repositories/delegates-business-repository.ts
  packages/core-database/src/repositories/utils/filter-rows.ts
Due: yarn lint, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

refactor: manipulate delegates in getLocalDelegates()
  packages/core-database/src/repositories/delegates-business-repository.ts
  packages/core-database/src/repositories/utils/filter-rows.ts
Due: yarn lint, prettier --write

imports
  __tests__/unit/core-tester-cli/commands/debug/deserialize.test.ts
  __tests__/unit/core-tester-cli/commands/debug/identity.test.ts
  __tests__/unit/core-tester-cli/commands/debug/serialize.test.ts
  __tests__/unit/core-tester-cli/commands/debug/verify-second.test.ts
  __tests__/unit/core-tester-cli/commands/debug/verify.test.ts
  __tests__/unit/core-tester-cli/commands/send/delegate-registration.test.ts
  __tests__/unit/core-tester-cli/commands/send/second-signature.test.ts
  __tests__/unit/core-tester-cli/commands/send/transfer.test.ts
  __tests__/unit/core-tester-cli/commands/send/vote.test.ts
Due: yarn lint, prettier --write

test
  __tests__/unit/core-tester-cli/commands/send/transfer.test.ts
Due: yarn lint, prettier --write

docs: 2.2.0 changelog (#2170)
  CHANGELOG.md
Due: prettier --write

refactor: loop through manipulators
  __tests__/unit/core-database/repositories/delegates-business-repository.test.ts
  packages/core-database/src/repositories/delegates-business-repository.ts
Due: yarn lint, prettier --write

fix(core): pass the bip38 and password flags to the forger:run command
  packages/core/src/commands/forger/start.ts
Due: yarn lint, prettier --write

fix(core): pass the bip38 and password flags to the forger:run command (#2185)
  packages/core/src/commands/forger/start.ts
Due: yarn lint, prettier --write

release: 2.2.0-beta.12
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.2.0-beta.12 (#2186)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore(crypto): add missing devDependencies
  packages/crypto/package.json
Due: prettier --write

chore(crypto): add missing devDependencies (#2187)
  packages/crypto/package.json
Due: prettier --write
