Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

fix(core): network generate command (#3334)
  packages/core/src/commands/network/generate.ts
Due: yarn lint, prettier --write

fix(core-database): don't assume blocksInCurrentRound is defined
  packages/core-database/src/database-service.ts
Due: yarn lint, prettier --write

fix(core-database): don't assume blocksInCurrentRound is defined (#3341)
  packages/core-database/src/database-service.ts
Due: yarn lint, prettier --write

refactor: add shared username schema
  packages/core-api/src/handlers/delegates/schema.ts
  packages/core-api/src/handlers/shared/schemas/index.ts
  packages/core-api/src/handlers/shared/schemas/username.ts
  packages/core-api/src/handlers/shared/schemas/wallet-id.ts
  packages/core-api/src/handlers/wallets/schema.ts
Due: yarn lint, prettier --write

refactor(core-api): add shared username schema (#3344)
  packages/core-api/src/handlers/delegates/schema.ts
  packages/core-api/src/handlers/shared/schemas/index.ts
  packages/core-api/src/handlers/shared/schemas/username.ts
  packages/core-api/src/handlers/shared/schemas/wallet-id.ts
  packages/core-api/src/handlers/wallets/schema.ts
Due: yarn lint, prettier --write

refactor: make the canEnterTransactionPool() interface more robust
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/core-transactions/handler.test.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-registration.ts
  packages/core-magistrate-transactions/src/handlers/business-resignation.ts
  packages/core-magistrate-transactions/src/handlers/business-update.ts
  packages/core-transaction-pool/src/processor.ts
  packages/core-transactions/src/handlers/delegate-registration.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/handlers/ipfs.ts
  packages/core-transactions/src/handlers/multi-payment.ts
  packages/core-transactions/src/handlers/multi-signature.ts
  packages/core-transactions/src/handlers/second-signature.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/transfer.ts
  packages/core-transactions/src/handlers/vote.ts
  packages/core-transactions/src/interfaces.ts
Due: yarn lint, prettier --write

refactor: throw error if multi payment has less than two payments
  __tests__/unit/crypto/transactions/builders/transactions/multi-payment.test.ts
  packages/crypto/src/errors.ts
  packages/crypto/src/transactions/builders/transactions/multi-payment.ts
Due: yarn lint, prettier --write

test: remove schema tests
  __tests__/unit/crypto/transactions/schemas.test.ts
Due: yarn lint, prettier --write

fix(deps): update dependency semver to v7
  packages/core-api/package.json
  packages/core-container/package.json
  packages/core-p2p/package.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

feat(core-kernel): ioc tags
  __tests__/unit/core-kernel/application.test.ts
  packages/core-kernel/src/application.ts
  packages/core-kernel/src/contracts/kernel/application.ts
Due: yarn lint, prettier --write

refactor(core-transactions): IoC TransactionHandlerRegistry
  packages/core-kernel/src/ioc/identifiers.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-registration.ts
  packages/core-magistrate-transactions/src/handlers/business-resignation.ts
  packages/core-magistrate-transactions/src/handlers/business-update.ts
  packages/core-magistrate-transactions/src/service-provider.ts
  packages/core-transactions/src/handlers/handler-registry.ts
  packages/core-transactions/src/handlers/index.ts
  packages/core-transactions/src/handlers/one/delegate-registration.ts
  packages/core-transactions/src/handlers/one/multi-signature-registration.ts
  packages/core-transactions/src/handlers/one/second-signature-registration.ts
  packages/core-transactions/src/handlers/one/transfer.ts
  packages/core-transactions/src/handlers/one/vote.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/two/delegate-resignation.ts
  packages/core-transactions/src/handlers/two/htlc-claim.ts
  packages/core-transactions/src/handlers/two/htlc-lock.ts
  packages/core-transactions/src/handlers/two/htlc-refund.ts
  packages/core-transactions/src/handlers/two/ipfs.ts
  packages/core-transactions/src/handlers/two/multi-payment.ts
  packages/core-transactions/src/handlers/two/multi-signature-registration.ts
  packages/core-transactions/src/handlers/two/vote.ts
  packages/core-transactions/src/service-provider.ts
Due: yarn lint, prettier --write

refactor: change error condition
  packages/crypto/src/transactions/builders/transactions/multi-payment.ts
Due: yarn lint, prettier --write

fix: core-magistrate handlers revertForSender was not reverting correctly to the previous wallet state
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-update.ts
Due: yarn lint, prettier --write

test: core-magistrate update handlers test wallet state when reverting transactions
  __tests__/functional/transaction-forging/__support__/index.ts
  __tests__/functional/transaction-forging/bridgechain-update.test.ts
  __tests__/functional/transaction-forging/business-update.test.ts
Due: yarn lint, prettier --write

chore(deps): update node.js to v12.14.0
  .nvmrc
Due: none

chore(deps): update dependency @sindresorhus/tsconfig to ^0.7.0
  package.json
  yarn.lock
Due: prettier --write

fix(core-state): use parent findByPublicKey method for temp-wallet-manager (#3336)
  __tests__/unit/core-transaction-pool/connection.forging.test.ts
  packages/core-state/src/wallets/temp-wallet-manager.ts
Due: yarn lint, prettier --write

core-p2p: relax postBlock rate limit
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-p2p/src/utils/build-rate-limiter.ts
Due: yarn lint, prettier --write

refactor: make the canEnterTransactionPool() interface more robust (#3342)
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/core-transactions/handler.test.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-registration.ts
  packages/core-magistrate-transactions/src/handlers/business-resignation.ts
  packages/core-magistrate-transactions/src/handlers/business-update.ts
  packages/core-transaction-pool/src/processor.ts
  packages/core-transactions/src/handlers/delegate-registration.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/handlers/ipfs.ts
  packages/core-transactions/src/handlers/multi-payment.ts
  packages/core-transactions/src/handlers/multi-signature.ts
  packages/core-transactions/src/handlers/second-signature.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/transfer.ts
  packages/core-transactions/src/handlers/vote.ts
  packages/core-transactions/src/interfaces.ts
Due: yarn lint, prettier --write

fix(core magistrate): business/bridgechain update handlers - revertForSender (#3350)
  __tests__/functional/transaction-forging/__support__/index.ts
  __tests__/functional/transaction-forging/bridgechain-update.test.ts
  __tests__/functional/transaction-forging/business-update.test.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-update.ts
Due: yarn lint, prettier --write

core-p2p: relax postBlock rate limit (#3352)
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-p2p/src/utils/build-rate-limiter.ts
Due: yarn lint, prettier --write

refactor: control htlc types via dedicated milestone
  __tests__/helpers/transaction-factory.ts
  __tests__/unit/core-state/wallets/wallet-manager-htlc.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  packages/core-database/src/database-service.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core/bin/config/devnet/peers.json
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/testnet/milestones.json
  packages/crypto/src/networks/unitnet/milestones.json
  packages/crypto/src/transactions/types/htlc-claim.ts
  packages/crypto/src/transactions/types/htlc-lock.ts
  packages/crypto/src/transactions/types/htlc-refund.ts
Due: yarn lint, prettier --write

refactor(crypto): throw error if multi payment has less than two payments (#3345)
  __tests__/unit/crypto/transactions/builders/transactions/multi-payment.test.ts
  __tests__/unit/crypto/transactions/schemas.test.ts
  packages/crypto/src/errors.ts
  packages/crypto/src/transactions/builders/transactions/multi-payment.ts
Due: yarn lint, prettier --write

refactor: align maxPayload / maxTransactionBytes values (#3287)
  __tests__/integration/core-forger/client.test.ts
  __tests__/integration/core-p2p/mocks/core-container.ts
  __tests__/integration/core-p2p/peer-communicator.test.ts
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  __tests__/unit/core-forger/manager.test.ts
  __tests__/unit/core-p2p/socket-server/versions/peer/index.test.ts
  __tests__/unit/core-p2p/socket-server/worker.test.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/unit/core-transaction-pool/utils.test.ts
  __tests__/unit/crypto/blocks/block.test.ts
  __tests__/unit/crypto/blocks/deserializer.test.ts
  packages/core-forger/src/client.ts
  packages/core-forger/src/manager.ts
  packages/core-interfaces/src/core-p2p/peer-communicator.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/peer-connector.ts
  packages/core-p2p/src/schemas.ts
  packages/core-p2p/src/socket-server/index.ts
  packages/core-p2p/src/socket-server/versions/peer.ts
  packages/core-p2p/src/socket-server/worker.ts
  packages/core-p2p/src/utils/index.ts
  packages/core-p2p/src/utils/sc-codec.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/defaults.ts
  packages/core-transaction-pool/src/processor.ts
  packages/core-transaction-pool/src/utils.ts
  packages/crypto/src/blocks/block.ts
Due: yarn lint, prettier --write

feat(core-api): stricter resource-based orderBy schema (#3319)
  packages/core-api/src/handlers/blocks/schema.ts
  packages/core-api/src/handlers/bridgechains/schema.ts
  packages/core-api/src/handlers/businesses/schema.ts
  packages/core-api/src/handlers/delegates/schema.ts
  packages/core-api/src/handlers/locks/schema.ts
  packages/core-api/src/handlers/peers/schema.ts
  packages/core-api/src/handlers/shared/iteratees.ts
  packages/core-api/src/handlers/shared/schemas/order-by.ts
  packages/core-api/src/handlers/transactions/schema.ts
  packages/core-api/src/handlers/votes/schema.ts
  packages/core-api/src/handlers/wallets/schema.ts
  packages/core-database/src/repositories/utils/search-entries.ts
  packages/core-database/src/repositories/utils/sort-entries.ts
Due: yarn lint, prettier --write

release: 2.5.31
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-p2p): handle disconnect packets
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix(core-p2p): handle disconnect packets (#3354)
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

release: 2.5.31 (#3355)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.6.0-next.7
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.6.0-next.7 (#3356)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

refactor: return all attributes
  packages/core-api/src/handlers/wallets/transformer.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet.ts
Due: yarn lint, prettier --write

feat: transform flag to get wallets from business endpoint
  packages/core-api/src/handlers/businesses/methods.ts
  packages/core-api/src/handlers/businesses/schema.ts
  packages/core-api/src/handlers/businesses/transformer.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
Due: yarn lint, prettier --write

refactor: discover peers when checking network health
  __tests__/unit/core-p2p/network-monitor.test.ts
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

fix(deps): update dependency execa to v4
  packages/core/package.json
  yarn.lock
Due: prettier --write

refactor(core-p2p): discover peers when checking network health (#3358)
  __tests__/unit/core-p2p/network-monitor.test.ts
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

refactor: enable htlc types via dedicated milestone (#3353)
  __tests__/helpers/transaction-factory.ts
  __tests__/unit/core-state/wallets/wallet-manager-htlc.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  packages/core-database/src/database-service.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core/bin/config/devnet/peers.json
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/testnet/milestones.json
  packages/crypto/src/networks/unitnet/milestones.json
  packages/crypto/src/transactions/types/htlc-claim.ts
  packages/crypto/src/transactions/types/htlc-lock.ts
  packages/crypto/src/transactions/types/htlc-refund.ts
Due: yarn lint, prettier --write

refactor: remove duplicate handleping/pong
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

feat: stricter p2p msg check + ip blocking
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write
