Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

fix(core-manager): fix cloneDeep import
  packages/core-manager/src/server/server.ts
  packages/core-manager/src/service-provider.ts
Due: yarn lint, prettier --write

fix(core-logger-pino): remove stream package, use stream from node
  packages/core-logger-pino/package.json
Due: prettier --write

deps(core): remove unused packages
  packages/core/package.json
Due: prettier --write

deps(core-cli): remove unused dependencies
  packages/core-cli/package.json
Due: prettier --write

deps(core-forger): remove unused dependencies
  packages/core-forger/package.json
Due: prettier --write

deps(core-magistrate-transactions): remove unused dependencies
  packages/core-magistrate-transactions/package.json
Due: prettier --write

deps(core-manager): remove unused dependencies
  packages/core-manager/package.json
Due: prettier --write

deps(core-transaction-pool): remove unused dependencies
  packages/core-transaction-pool/package.json
Due: prettier --write

deps(core-state): remove unused dependencies
  packages/core-state/package.json
Due: prettier --write

deps(core-blockchain): remove unused dependencies
  packages/core-blockchain/package.json
Due: prettier --write

deps(core-p2p): remove unused dependencies
  packages/core-p2p/package.json
Due: prettier --write

deps(core-snapshots): remove unused dependencies
  packages/core-snapshots/package.json
Due: prettier --write

deps(crypto): remove unused dependencies
  packages/crypto/package.json
Due: prettier --write

deps(core-api): remove unused dependencies
  packages/core-api/package.json
Due: prettier --write

deps: yarn.lock
  yarn.lock
Due: none

deps(core-forger): include @arkecosystem/crypto
  packages/core-forger/package.json
Due: prettier --write

fix(core-blockchain): handle errors on removeBlocks (#4423)
  __tests__/unit/core-blockchain/blockchain.test.ts
  packages/core-blockchain/src/blockchain.ts
Due: yarn lint, prettier --write

deps: update missing and unused dependencies (#4442)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-forger/package.json
  packages/core-kernel/src/contracts/p2p/chunk-cache.ts
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-manager/src/server/server.ts
  packages/core-manager/src/service-provider.ts
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-transaction-pool/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

fix(core-blockchain): remove CORE_SKIP_BLOCKCHAIN flag (#4400)
  __tests__/unit/core-blockchain/service-provider.test.ts
  packages/core-blockchain/src/service-provider.ts
Due: yarn lint, prettier --write

chore(core-blockchain): remove updateNetworkStatus on Blockchain (#4402)
  __tests__/unit/core-blockchain/blockchain.test.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-kernel/src/contracts/blockchain/blockchain.ts
Due: yarn lint, prettier --write

release: 3.0.0-next.31
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.0.0-next.31 (#4443)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-manager): resolve commands path
  packages/core-manager/src/utils/cli-manager.ts
Due: yarn lint, prettier --write

fix(core-manager): resolve commands path (#4444)
  packages/core-manager/src/utils/cli-manager.ts
Due: yarn lint, prettier --write

fix(core-manager): use force flag on update
  packages/core-manager/src/actions/info-core-update.ts
Due: yarn lint, prettier --write

test(core-manager): use force flag on update
  __tests__/unit/core-manager/actions/info-core-update.test.ts
Due: yarn lint, prettier --write

Register custom transactions
  packages/core-forger/package.json
  packages/core-forger/src/forger-service.ts
  packages/core-kernel/src/ioc/identifiers.ts
  packages/core-transactions/src/handlers/handler-provider.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/service-provider.ts
Due: yarn lint, prettier --write

fix(core-manager): use force flag on update (#4445)
  __tests__/unit/core-manager/actions/info-core-update.test.ts
  packages/core-manager/src/actions/info-core-update.ts
Due: yarn lint, prettier --write

Fix handler constructor binding
  packages/core-transactions/src/service-provider.ts
Due: yarn lint, prettier --write

Fix forger service test
  __tests__/unit/core-forger/forger-service.test.ts
Due: yarn lint, prettier --write

Fix service provider test
  __tests__/unit/core-forger/service-provider.test.ts
Due: yarn lint, prettier --write

Fix core-transactions unit tests setup
  __tests__/unit/core-transactions/handlers/__support__/app.ts
  packages/core-transactions/src/service-provider.ts
Due: yarn lint, prettier --write

Fix handler registry test
  __tests__/unit/core-transactions/handlers/handler-registry.test.ts
Due: yarn lint, prettier --write

Fiix magistrate-transactions unit tests
  __tests__/unit/core-magistrate-transactions/__support__/app.ts
Due: yarn lint, prettier --write

Fix core-api unit tests
  __tests__/unit/core-api/__support__/app.ts
Due: yarn lint, prettier --write

chore(core-kernel): use EventEmitter on queue
  packages/core-kernel/src/contracts/kernel/queue.ts
  packages/core-kernel/src/services/queue/drivers/memory.ts
  packages/core-kernel/src/services/queue/drivers/null.ts
Due: yarn lint, prettier --write

Make static binding getter of service provider
  __tests__/unit/core-api/__support__/app.ts
  __tests__/unit/core-magistrate-transactions/__support__/app.ts
  __tests__/unit/core-transactions/handlers/__support__/app.ts
  __tests__/unit/core-transactions/handlers/handler-registry.test.ts
  packages/core-transactions/src/service-provider.ts
Due: yarn lint, prettier --write

chore(core-kernel): decorate injectable method
  packages/core-kernel/src/ioc/decorator.ts
  packages/core-kernel/src/ioc/index.ts
  packages/core-kernel/src/services/queue/drivers/memory.ts
  packages/core-kernel/src/services/queue/drivers/null.ts
Due: yarn lint, prettier --write

test(core-kernel): decorate injectable
  __tests__/unit/core-kernel/ioc/decorator.test.ts
Due: yarn lint, prettier --write

test(core-kernel): test EventEmitter
  __tests__/unit/core-kernel/services/queue/drivers/memory.test.ts
  __tests__/unit/core-kernel/services/queue/service-provider.test.ts
Due: yarn lint, prettier --write
