Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

ci: get devnet sync result
  .github/workflows/devnet-sync.yml
Due: none

ci: get mainnet sync result
  .github/workflows/mainnet-sync.yml
Due: none

ci: pull dev/mainnet sync results every day at 10
  .github/workflows/devnet-sync.yml
  .github/workflows/mainnet-sync.yml
Due: none

test(core-magistrate-transactions): fix test
  __tests__/unit/core-magistrate-transactions/handlers/entity.test.ts
Due: yarn lint, prettier --write

chore(core-kernel): implement additional methods on wallets
  packages/core-kernel/src/contracts/state/wallets.ts
Due: yarn lint, prettier --write

chore(core-state): implement additional methods on wallets
  packages/core-state/src/wallets/wallet.ts
Due: yarn lint, prettier --write

test(core-state): implement additional methods on wallets
  __tests__/unit/core-state/wallets/wallet.test.ts
Due: yarn lint, prettier --write

wip: try to fix the ci setup, try with python 2.7
  .github/workflows/test.yml
Due: none

ci: fix build using python 2.7
  .github/workflows/benchmark.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/functional.yml
  .github/workflows/publish-master.yml
  .github/workflows/test.yml
Due: none

ci: use python 2.7
  .github/workflows/functional.yml
Due: none

test: use python 2.7 on e2e docker nodes
  __tests__/e2e/lib/config/nodes/Dockerfile
Due: none

chore(core-state): remove proxy
  __tests__/unit/core-state/setup.ts
  __tests__/unit/core-state/wallets/wallet.test.ts
  packages/core-state/src/wallets/wallet.ts
Due: yarn lint, prettier --write

chore(core-kernel): remove address, publicKey, balance, nonce
  packages/core-kernel/src/contracts/state/wallets.ts
Due: yarn lint, prettier --write

chore(core-state): remove address, publicKey, balance, nonce
  __tests__/unit/core-state/wallets/wallet.test.ts
  packages/core-state/src/wallets/wallet.ts
Due: yarn lint, prettier --write

chore(core-database): update wallet changes
  packages/core-database/src/repositories/round-repository.ts
  packages/core-database/src/transaction-filter.ts
  packages/core-database/src/wallets-table-service.ts
Due: yarn lint, prettier --write

chore(core-transactions): update wallet changes
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/one/transfer.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/two/htlc-claim.ts
  packages/core-transactions/src/handlers/two/htlc-lock.ts
  packages/core-transactions/src/handlers/two/htlc-refund.ts
  packages/core-transactions/src/handlers/two/multi-payment.ts
  packages/core-transactions/src/handlers/two/transfer.ts
Due: yarn lint, prettier --write

chore(core-state): update wallet changes
  packages/core-state/src/block-state.ts
  packages/core-state/src/dpos/dpos.ts
  packages/core-state/src/round-state.ts
  packages/core-state/src/state-builder.ts
  packages/core-state/src/wallets/indexers/indexers.ts
  packages/core-state/src/wallets/wallet-repository-clone.ts
  packages/core-state/src/wallets/wallet-repository-copy-on-write.ts
  packages/core-state/src/wallets/wallet-repository.ts
Due: yarn lint, prettier --write

ci: try running on ubuntu 18 to fix e2e error
  .github/workflows/test.yml
Due: none

chore(core-transactions): implement throwIfCannotEnterPool on IPFS (#4366)
  __tests__/unit/core-transactions/handlers/two/ipfs.test.ts
  packages/core-transactions/src/handlers/two/ipfs.ts
Due: yarn lint, prettier --write

ci: devnet/mainnet sync (#4373)
  .github/workflows/benchmark.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/functional.yml
  .github/workflows/mainnet-sync.yml
  .github/workflows/publish-master.yml
  .github/workflows/test.yml
  __tests__/e2e/lib/config/nodes/Dockerfile
Due: none

chore(core-magistrate-transactions): update wallet changes
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-update.ts
  packages/core-magistrate-transactions/src/wallet-indexes.ts
Due: yarn lint, prettier --write

chore(core-blockchain): update wallet changes
  packages/core-blockchain/src/processor/block-processor.ts
  packages/core-blockchain/src/processor/handlers/unchained-handler.ts
Due: yarn lint, prettier --write

chore(core-api): update wallet changes
  packages/core-api/src/resources/block-with-transactions.ts
  packages/core-api/src/resources/transaction-with-block.ts
  packages/core-api/src/resources/transaction.ts
  packages/core-api/src/services/delegate-search-service.ts
  packages/core-api/src/services/lock-search-service.ts
  packages/core-api/src/services/wallet-search-service.ts
Due: yarn lint, prettier --write

chore(core-p2p): update wallet changes
  packages/core-p2p/src/peer-verifier.ts
Due: yarn lint, prettier --write

chore(core-api): update wallet changes
  packages/core-magistrate-api/src/services/entity-search-service.ts
Due: yarn lint, prettier --write

chore(core-forger): update wallet changes
  packages/core-forger/src/delegate-tracker.ts
  packages/core-forger/src/forger-service.ts
Due: yarn lint, prettier --write

chore(core-test-framework): update wallet changes
  packages/core-test-framework/src/factories/factories/round.ts
  packages/core-test-framework/src/factories/factories/wallet.ts
Due: yarn lint, prettier --write

test(core-api): fix tests
  __tests__/unit/core-api/__support__/app.ts
  __tests__/unit/core-api/resources/block-with-transactions.test.ts
  __tests__/unit/core-api/resources/transaction-with-blocks.test.ts
  __tests__/unit/core-api/services/delegate-search-service.test.ts
  __tests__/unit/core-api/services/lock-search-service.test.ts
  __tests__/unit/core-api/services/wallet-search-service.test.ts
Due: yarn lint, prettier --write

test(core-blockchain): fix tests
  __tests__/unit/core-blockchain/processor/block-processor.test.ts
  __tests__/unit/core-blockchain/processor/handlers/unchained-handler.test.ts
Due: yarn lint, prettier --write

test(core-database): fix tests
  __tests__/unit/core-database/transaction-filter.test.ts
Due: yarn lint, prettier --write

test(core-magistrate-transactions): fix tests
  __tests__/unit/core-magistrate-transactions/__support__/app.ts
  __tests__/unit/core-magistrate-transactions/handlers/bridgechain-registration.test.ts
  __tests__/unit/core-magistrate-transactions/handlers/bridgechain-resignation.test.ts
  __tests__/unit/core-magistrate-transactions/handlers/bridgechain-update.test.ts
  __tests__/unit/core-magistrate-transactions/handlers/business-registration.test.ts
  __tests__/unit/core-magistrate-transactions/handlers/business-resignation.test.ts
  __tests__/unit/core-magistrate-transactions/handlers/business-update.test.ts
Due: yarn lint, prettier --write

refactor(core-state): improve wallet repository clone performance (#4365)
  __tests__/unit/core-magistrate-transactions/handlers/__mocks__/wallet-repository.ts
  __tests__/unit/core-magistrate-transactions/handlers/entity.test.ts
  __tests__/unit/core-state/wallets/wallet-repository-clone.test.ts
  __tests__/unit/core-state/wallets/wallet-repository.test.ts
  packages/core-kernel/src/contracts/state/wallets.ts
  packages/core-magistrate-transactions/src/handlers/entity.ts
  packages/core-state/src/wallets/wallet-repository-clone.ts
  packages/core-state/src/wallets/wallet-repository.ts
  packages/core-transactions/src/handlers/two/ipfs.ts
Due: yarn lint, prettier --write

test(core-transactions): fix tests
  __tests__/unit/core-transactions/handlers/__support__/app.ts
  __tests__/unit/core-transactions/handlers/one/multi-signature-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/delegate-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/delegate-resignation.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-claim.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-lock.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-refund.test.ts
  __tests__/unit/core-transactions/handlers/two/ipfs.test.ts
  __tests__/unit/core-transactions/handlers/two/multi-payment.test.ts
  __tests__/unit/core-transactions/handlers/two/multi-signature-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/second-signature-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/transaction.test.ts
  __tests__/unit/core-transactions/handlers/two/transfer.test.ts
  __tests__/unit/core-transactions/handlers/two/vote.test.ts
Due: yarn lint, prettier --write

test(core-p2p): fix tests
  __tests__/unit/core-p2p/peer-verifier.test.ts
Due: yarn lint, prettier --write

test(core-test-framework): fix tests
  __tests__/unit/core-test-framework/factories/factories/round.test.ts
  __tests__/unit/core-test-framework/factories/factories/wallet.test.ts
Due: yarn lint, prettier --write

chore(core-state): update wallet changes
  packages/core-state/src/wallets/wallet-repository-clone.ts
Due: yarn lint, prettier --write

deps: bump rotating-file-stream min version
  packages/core-logger-pino/package.json
  yarn.lock
Due: prettier --write

test(core-state): fix tests
  __tests__/unit/core-state/__utils__/build-delegate-and-vote-balances.ts
  __tests__/unit/core-state/block-state.test.ts
  __tests__/unit/core-state/dpos/dpos.test.ts
  __tests__/unit/core-state/round-state.test.ts
  __tests__/unit/core-state/state-builder.test.ts
  __tests__/unit/core-state/wallets/wallet-index.test.ts
  __tests__/unit/core-state/wallets/wallet-repository-clone.test.ts
  __tests__/unit/core-state/wallets/wallet-repository-copy-on-write.test.ts
  __tests__/unit/core-state/wallets/wallet-repository.test.ts
Due: yarn lint, prettier --write

test(core-forger): fix tests
  __tests__/unit/core-forger/__utils__/calculate-active-delegates.ts
  __tests__/unit/core-forger/delegate-tracker.test.ts
Due: yarn lint, prettier --write

chore(core-kernel): WalletData interface
  packages/core-kernel/src/contracts/state/wallets.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
