Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

Add basic functional test
  __tests__/functional/transaction-forging/__support__/index.ts
  __tests__/functional/transaction-forging/bls-public-key-registration.test.ts
  packages/core-test-framework/src/utils/transaction-factory.ts
Due: yarn lint, prettier --write

Setup CI
  .github/workflows/functional.yml
Due: none

Update @arkecosystem/crypto-networks
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

Check bls public key
  __tests__/functional/transaction-forging/bls-public-key-registration.test.ts
  packages/core-test-framework/src/matchers/functional/bls-public-key.ts
  packages/core-test-framework/src/matchers/functional/index.ts
Due: yarn lint, prettier --write

Add extra tests
  __tests__/functional/transaction-forging/bls-public-key-registration.test.ts
Due: yarn lint, prettier --write

Rename attribute to delegate.blsPublicKey
  __tests__/unit/core-transactions/handlers/two/bls-public-key-registration.test.ts
  packages/core-state/src/wallets/indexers/indexers.ts
  packages/core-test-framework/src/internal/wallet-attributes.ts
  packages/core-test-framework/src/matchers/functional/bls-public-key.ts
  packages/core-transactions/src/handlers/two/bls-public-key-registration.ts
Due: yarn lint, prettier --write

feat: add BlsPublicKeyRegistration transaction (#4830)
  .github/workflows/functional.yml
  __tests__/functional/transaction-forging/__support__/index.ts
  __tests__/functional/transaction-forging/bls-public-key-registration.test.ts
  __tests__/unit/core-api/__support__/app.ts
  __tests__/unit/core-api/controllers/transactions.test.ts
  __tests__/unit/core-state/wallets/wallet-repository-copy-on-write.test.ts
  __tests__/unit/core-state/wallets/wallet-repository.test.ts
  __tests__/unit/core-transactions/handlers/__support__/app.ts
  __tests__/unit/core-transactions/handlers/two/bls-public-key-registration.test.ts
  __tests__/unit/crypto/transactions/builders/transactions/bls-public-key-registration.test.ts
  __tests__/unit/crypto/validation/validator.test.ts
  packages/core-kernel/src/contracts/state/wallets.ts
  packages/core-kernel/src/enums/events.ts
  packages/core-state/src/wallets/indexers/indexers.ts
  packages/core-state/src/wallets/indexers/wallet-indexes.ts
  packages/core-test-framework/src/app/generators/crypto.ts
  packages/core-test-framework/src/internal/wallet-attributes.ts
  packages/core-test-framework/src/matchers/functional/bls-public-key.ts
  packages/core-test-framework/src/matchers/functional/index.ts
  packages/core-test-framework/src/utils/transaction-factory.ts
  packages/core-transactions/src/enums.ts
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/one/vote.ts
  packages/core-transactions/src/handlers/two/bls-public-key-registration.ts
  packages/core-transactions/src/handlers/two/index.ts
  packages/core-transactions/src/service-provider.ts
  packages/crypto/package.json
  packages/crypto/src/enums.ts
  packages/crypto/src/interfaces/transactions.ts
  packages/crypto/src/transactions/builders/index.ts
  packages/crypto/src/transactions/builders/transactions/bls-public-key-registration.ts
  packages/crypto/src/transactions/registry.ts
  packages/crypto/src/transactions/types/schemas.ts
  packages/crypto/src/transactions/types/two/bls-public-key-registration.ts
  packages/crypto/src/transactions/types/two/index.ts
  packages/crypto/src/validation/schemas.ts
  yarn.lock
Due: yarn lint, prettier --write

release: 3.10.0-rc.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.10.0-rc.0 (#4832)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Update yarn.lock
  yarn.lock
Due: none

Check milestone
  packages/core-transactions/src/handlers/one/multi-signature-registration.ts
  packages/core-transactions/src/handlers/two/multi-signature-registration.ts
Due: yarn lint, prettier --write

Fix tests
  __tests__/unit/core-transactions/handlers/handler-registry.test.ts
  packages/core-test-framework/src/app/generators/crypto.ts
Due: yarn lint, prettier --write

Update crypto networks
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

feat(crypto-transactions): disable MultiSignatureRegistration from milestones (#4858)
  __tests__/unit/core-transactions/handlers/handler-registry.test.ts
  packages/core-test-framework/src/app/generators/crypto.ts
  packages/core-transactions/src/handlers/one/multi-signature-registration.ts
  packages/core-transactions/src/handlers/two/multi-signature-registration.ts
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

Release: 3.11.0-rc.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release/3.11.0-rc.1
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.11.0-rc.0 (#4859)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.11.0-rc.1 (#4861)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Update actions
  .github/workflows/publish-develop.yml
Due: none

Publish on open
  .github/workflows/publish-develop.yml
Due: none

Fix
  .github/workflows/publish-develop.yml
Due: none

On pull request
  .github/workflows/publish-develop.yml
Due: none

Update @arkecosystem/crypto-networks to 1.7.1
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

ci: update workflow actions (#4831)
  .github/workflows/benchmark.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/devnet-sync.yml
  .github/workflows/e2e.yml
  .github/workflows/functional.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/publish-develop.yml
  .github/workflows/publish-master.yml
  .github/workflows/unit.yml
  __tests__/e2e/README.md
  docker/production/README.md
  scripts/docker/templates/devnet/restore.sh
  scripts/docker/templates/testnet/restore.sh
Due: prettier --write

release: 3.11.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.11.0 (#4864)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Add errors
  packages/core-transactions/src/errors.ts
Due: yarn lint, prettier --write

Check sender
  packages/core-transactions/src/handlers/transaction.ts
Due: yarn lint, prettier --write

Yarn.lock
  yarn.lock
Due: none

Disable multi signature sending/receiving
  packages/core-transactions/src/handlers/one/transfer.ts
  packages/core-transactions/src/handlers/two/multi-payment.ts
Due: yarn lint, prettier --write

Rename milestones
  packages/core-transactions/src/handlers/one/transfer.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/two/multi-payment.ts
Due: yarn lint, prettier --write

Update crypto generator
  packages/core-test-framework/src/app/generators/crypto.ts
Due: yarn lint, prettier --write

Test transfers
  __tests__/unit/core-transactions/handlers/__support__/app.ts
  __tests__/unit/core-transactions/handlers/two/transfer.test.ts
Due: yarn lint, prettier --write
