Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

release: 3.7.0-rc.4
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.7.0-rc.4 (#4774)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore(core-transactions): move tests under __tests__ folder (#4749)
  __tests__/unit/core-transactions/verification/multi-signature-verification-memoized.test.ts
  __tests__/unit/core-transactions/verification/multi-signature-verification.test.ts
  __tests__/unit/core-transactions/verification/second-signature-verification-memoized.test.ts
  __tests__/unit/core-transactions/verification/second-signature-verification.test.ts
Due: yarn lint, prettier --write

deps(core-logger-pino): update package dependencies (#4746)
  packages/core-logger-pino/package.json
  packages/core-logger-pino/src/driver.ts
  yarn.lock
Due: yarn lint, prettier --write

fix(core): support `rc` channel (#4753)
  packages/core/src/commands/config-cli.ts
Due: yarn lint, prettier --write

fix(core-cli): allow `rc` channel in config (#4755)
  packages/core-cli/src/services/config.ts
Due: yarn lint, prettier --write

revert: "fix(core-database): query optimizer workaround" (#4759)
  packages/core-database/src/repositories/abstract-repository.ts
Due: yarn lint, prettier --write

feat(core-database): run `ANALYZE` on database initialization (#4758)
  __tests__/unit/core-database/database-service.test.ts
  packages/core-database/src/database-service.ts
Due: yarn lint, prettier --write

chore: add oXtxNt9U to codeowners (#4763)
  CODEOWNERS
Due: none

feat(core-database): use second database connection for API (#4760)
  __tests__/integration/core-api/handlers/delegates.test.ts
  __tests__/integration/core-api/handlers/locks.test.ts
  __tests__/integration/core-state/block-state/lock-then-claim.test.ts
  __tests__/integration/core-state/block-state/lock-then-refund.test.ts
  __tests__/unit/core-database/service-provider.test.ts
  packages/core-api/src/controllers/blocks.ts
  packages/core-api/src/controllers/delegates.ts
  packages/core-api/src/controllers/locks.ts
  packages/core-api/src/controllers/node.ts
  packages/core-api/src/controllers/rounds.ts
  packages/core-api/src/controllers/transactions.ts
  packages/core-api/src/controllers/votes.ts
  packages/core-api/src/controllers/wallets.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/process-blocks-job.ts
  packages/core-blockchain/src/processor/block-processor.ts
  packages/core-database/src/database-service.ts
  packages/core-database/src/defaults.ts
  packages/core-database/src/service-provider.ts
  packages/core-database/src/transaction-filter.ts
  packages/core-database/src/wallets-table-service.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-registration.ts
  packages/core-magistrate-transactions/src/handlers/business-resignation.ts
  packages/core-magistrate-transactions/src/handlers/business-update.ts
  packages/core-magistrate-transactions/src/handlers/entity.ts
  packages/core-state/src/state-builder.ts
  packages/core-transactions/src/handlers/one/multi-signature-registration.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/two/delegate-registration.ts
  packages/core-transactions/src/handlers/two/delegate-resignation.ts
  packages/core-transactions/src/handlers/two/ipfs.ts
  packages/core-transactions/src/handlers/two/multi-payment.ts
  packages/core-transactions/src/handlers/two/multi-signature-registration.ts
  packages/core-transactions/src/handlers/two/second-signature-registration.ts
  packages/core-transactions/src/handlers/two/vote.ts
Due: yarn lint, prettier --write

fix(core-kernel): make pagination service non blocking (#4764)
  __tests__/integration/core-api/services/delegate-search-service.test.ts
  __tests__/integration/core-api/services/lock-search-service.test.ts
  __tests__/integration/core-api/services/wallet-search-service.test.ts
  __tests__/integration/core-magistrate-api/services/entity-search-service.test.ts
  __tests__/unit/core-api/controllers/delegates.test.ts
  __tests__/unit/core-api/controllers/locks.test.ts
  __tests__/unit/core-api/controllers/wallets.test.ts
  __tests__/unit/core-api/services/delegate-search-service.test.ts
  __tests__/unit/core-api/services/lock-search-service.test.ts
  __tests__/unit/core-api/services/wallet-search-service.test.ts
  __tests__/unit/core-kernel/services/search/pagination-service.test.ts
  __tests__/unit/core-magistrate-api/controllers/entities.test.ts
  packages/core-api/src/controllers/delegates.ts
  packages/core-api/src/controllers/locks.ts
  packages/core-api/src/controllers/wallets.ts
  packages/core-api/src/services/delegate-search-service.ts
  packages/core-api/src/services/lock-search-service.ts
  packages/core-api/src/services/wallet-search-service.ts
  packages/core-kernel/src/services/search/pagination-service.ts
  packages/core-magistrate-api/src/controllers/entities.ts
  packages/core-magistrate-api/src/services/entity-search-service.ts
Due: yarn lint, prettier --write

feat(core-api): destroy socket on response (#4766)
  packages/core-api/src/server.ts
Due: yarn lint, prettier --write

feat: api iptables rate limiter (#4767)
  scripts/api-iptables.sh
Due: none

feat(core-api): implements query semaphore plugin (#4761)
  __tests__/unit/core-api/plugins/semaphore.test.ts
  __tests__/unit/core-api/service-provider.test.ts
  packages/core-api/package.json
  packages/core-api/src/defaults.ts
  packages/core-api/src/plugins/index.ts
  packages/core-api/src/plugins/semaphore.ts
  packages/core-api/src/resources-new/block.ts
  packages/core-api/src/resources-new/transaction.ts
  packages/core-api/src/routes/blocks.ts
  packages/core-api/src/routes/delegates.ts
  packages/core-api/src/routes/locks.ts
  packages/core-api/src/routes/node.ts
  packages/core-api/src/routes/rounds.ts
  packages/core-api/src/routes/transactions.ts
  packages/core-api/src/routes/votes.ts
  packages/core-api/src/routes/wallets.ts
  packages/core-api/src/schemas.ts
  packages/core-api/src/service-provider.ts
  yarn.lock
Due: yarn lint, prettier --write

chore: use node 16.x in Github CI (#4768)
  .github/workflows/benchmark.yml
  .github/workflows/e2e.yml
  .github/workflows/functional.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/publish-develop.yml
  .github/workflows/publish-master.yml
  .github/workflows/unit.yml
Due: none

docker - use node 18 (#4770)
  docker/production/Dockerfile
  docker/production/entrypoint.sh
Due: none

chore: use node 16 in install scripts (#4769)
  install-next.sh
  install.sh
Due: none

fix(core-api): skip loging query failed errors (#4772)
  packages/core-api/src/server.ts
Due: yarn lint, prettier --write

chore(core-api): adjust semaphore plugin defaults & allow 0 concurrency (#4773)
  __tests__/unit/core-api/service-provider.test.ts
  packages/core-api/src/defaults.ts
  packages/core-api/src/service-provider.ts
Due: yarn lint, prettier --write

release: 3.7.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

release: 3.7.0 (#4777)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

chore: update readme
  README.md
Due: prettier --write
