Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

fix(core-api) include typeGroup in `/transactions/fees` and `/node/fees` endpoints (#3193)
  __tests__/integration/core-api/handlers/node.test.ts
  __tests__/integration/core-api/handlers/transactions.test.ts
  packages/core-api/package.json
  packages/core-api/src/handlers/node/controller.ts
  packages/core-api/src/handlers/transactions/controller.ts
  packages/core-database-postgres/src/queries/transactions/fee-statistics.sql
Due: yarn lint, prettier --write

test: coverage
  __tests__/unit/core-magistrate/handlers/bridgechain-handlers.test.ts
  __tests__/unit/core-magistrate/handlers/business-handlers.test.ts
  __tests__/unit/core-magistrate/handlers/business-registration.test.ts
  packages/core-magistrate-transactions/src/errors.ts
Due: yarn lint, prettier --write

fix: add missing file
  packages/core-magistrate-transactions/src/handlers/magistrate-handler.ts
Due: yarn lint, prettier --write

refactor(core-magistrate-transactions): require static fee (#3194)
  __tests__/unit/core-magistrate/handlers/bridgechain-handlers.test.ts
  __tests__/unit/core-magistrate/handlers/business-handlers.test.ts
  __tests__/unit/core-magistrate/handlers/business-registration.test.ts
  __tests__/unit/core-magistrate/handlers/handlers.test.ts
  __tests__/unit/core-transaction-pool/dynamic-fee.test.ts
  __tests__/unit/core-transactions/handler.test.ts
  packages/core-magistrate-transactions/src/errors.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-registration.ts
  packages/core-magistrate-transactions/src/handlers/business-resignation.ts
  packages/core-magistrate-transactions/src/handlers/business-update.ts
  packages/core-magistrate-transactions/src/handlers/magistrate-handler.ts
  packages/core-transaction-pool/src/dynamic-fee.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/interfaces.ts
Due: yarn lint, prettier --write

chore(deps): update dependency depcheck to ^0.9.0
  package.json
  yarn.lock
Due: prettier --write

fix(core): prevent snapshot commands from running if core is running
  packages/core/src/commands/snapshot/dump.ts
  packages/core/src/commands/snapshot/restore.ts
  packages/core/src/commands/snapshot/rollback.ts
  packages/core/src/commands/snapshot/truncate.ts
  packages/core/src/commands/snapshot/verify.ts
Due: yarn lint, prettier --write

feat: add GenesisHashAlreadyRegisteredError error
  packages/core-magistrate-transactions/src/errors.ts
Due: yarn lint, prettier --write

refactor: add genesisHash validation
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
Due: yarn lint, prettier --write

refactor: update tests to comply with new validation
  __tests__/functional/transaction-forging/bridgechain-registration.test.ts
Due: yarn lint, prettier --write

test: add test for duplicate genesisHash
  __tests__/functional/transaction-forging/bridgechain-registration.test.ts
Due: yarn lint, prettier --write

fix(core-transactions): allow unvoting a resigned delegate
  packages/core-transactions/src/handlers/vote.ts
Due: yarn lint, prettier --write

tests: make genesisHashes unique
  __tests__/functional/transaction-forging/bridgechain-resignation.test.ts
  __tests__/functional/transaction-forging/bridgechain-update.test.ts
  __tests__/unit/core-magistrate/helper.ts
Due: yarn lint, prettier --write

test(core-transactions): add vote tests
  __tests__/functional/transaction-forging/vote.test.ts
Due: yarn lint, prettier --write

fix(core-transactions): add missing async keyword
  __tests__/functional/transaction-forging/vote.test.ts
Due: yarn lint, prettier --write

refactor: change to for of loop
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
Due: yarn lint, prettier --write

fix(core-transactions): adjust tests
  __tests__/functional/transaction-forging/vote.test.ts
Due: yarn lint, prettier --write

fix(core-state): remove delegate.rank for resigned delegates
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint, prettier --write

refactor: unique ipfs hashes
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/ipfs.ts
Due: yarn lint, prettier --write

fix(core-state): remove delegate.rank for resigned delegates (#3202)
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint, prettier --write

fix(core): prevent snapshot commands from running if core is running (#3196)
  packages/core/src/commands/snapshot/dump.ts
  packages/core/src/commands/snapshot/restore.ts
  packages/core/src/commands/snapshot/rollback.ts
  packages/core/src/commands/snapshot/truncate.ts
  packages/core/src/commands/snapshot/verify.ts
Due: yarn lint, prettier --write

refactor: check against ipfs index keys
  packages/core-transactions/src/handlers/ipfs.ts
Due: yarn lint, prettier --write

feat: return business asset of wallet
  packages/core-api/src/handlers/wallets/transformer.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
Due: yarn lint, prettier --write

refactor: change lookup
  packages/core-transactions/src/handlers/ipfs.ts
Due: yarn lint, prettier --write

chore: remove unused method
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint, prettier --write

test: adjust ipfs tests
  __tests__/functional/transaction-forging/ipfs.test.ts
Due: yarn lint, prettier --write

test: adjust ipfs tests
  __tests__/unit/core-transactions/handler.test.ts
Due: yarn lint, prettier --write

fix(core-transactions): allow unvoting a resigned delegate (#3201)
  __tests__/functional/transaction-forging/vote.test.ts
  packages/core-transactions/src/handlers/vote.ts
Due: yarn lint, prettier --write

fix: include resigned flag
  packages/core-api/src/handlers/wallets/transformer.ts
Due: yarn lint, prettier --write

feat(core-api): include business asset in wallet transformer (#3205)
  packages/core-api/src/handlers/wallets/transformer.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
Due: yarn lint, prettier --write

ci: add dependency caching
  .github/workflows/benchmark.yml
  .github/workflows/functional.yml
  .github/workflows/test.yml
Due: none

Update functional.yml
  .github/workflows/functional.yml
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

Update benchmark.yml
  .github/workflows/benchmark.yml
Due: none

ci: add dependency caching (#3206)
  .github/workflows/benchmark.yml
  .github/workflows/functional.yml
  .github/workflows/test.yml
Due: none

refactor: check for genesisHashes globally
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
Due: yarn lint, prettier --write

tests: make test more thorough
  __tests__/functional/transaction-forging/bridgechain-registration.test.ts
Due: yarn lint, prettier --write

test: use different ipfs hash
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.1.transaction2ndsig.action.js
Due: none

chore: emit sourcemaps
  tsconfig.json
Due: prettier --write

fix(core-p2p): handle unwanted control frames
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix(core-p2p): stricter WS/SC events/messages handling
  packages/core-interfaces/src/core-p2p/peer-connector.ts
  packages/core-p2p/src/constants.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/peer-connector.ts
  packages/core-p2p/src/schemas.ts
  packages/core-p2p/src/socket-server/index.ts
  packages/core-p2p/src/socket-server/versions/internal.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
