Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

fix(core-kernel): prevent watcher from calling app.reboot multiple times (#3834)
  packages/core-kernel/src/services/config/watcher.ts
Due: yarn lint, prettier --write

test(unit): core-magistrate aip36
  __tests__/unit/core-magistrate/fixtures/entity/assets/generate.ts
  __tests__/unit/core-magistrate/fixtures/entity/schemas/register.ts
  __tests__/unit/core-magistrate/fixtures/entity/schemas/resign.ts
  __tests__/unit/core-magistrate/fixtures/entity/schemas/update.ts
  __tests__/unit/core-magistrate/fixtures/entity/schemas/utils.ts
  __tests__/unit/core-magistrate/handlers/__fixtures__/assets.ts
  __tests__/unit/core-magistrate/handlers/__fixtures__/entity/register.ts
  __tests__/unit/core-magistrate/handlers/__fixtures__/entity/resign.ts
  __tests__/unit/core-magistrate/handlers/__fixtures__/entity/update.ts
  __tests__/unit/core-magistrate/handlers/__fixtures__/index.ts
  __tests__/unit/core-magistrate/handlers/__mocks__/app.ts
  __tests__/unit/core-magistrate/handlers/__mocks__/transaction-error.ts
  __tests__/unit/core-magistrate/handlers/__mocks__/transaction-handler.ts
  __tests__/unit/core-magistrate/handlers/__mocks__/transaction-reader.ts
  __tests__/unit/core-magistrate/handlers/__mocks__/wallet-repository.ts
  __tests__/unit/core-magistrate/handlers/entity.test.ts
  __tests__/unit/core-magistrate/transactions/entity.test.ts
Due: yarn lint, prettier --write

test(integration): core-api aip36
  __tests__/integration/core-api/__support__/setup.ts
  __tests__/integration/core-api/handlers/entities.test.ts
Due: yarn lint, prettier --write

test(functional): aip36
  __tests__/functional/transaction-forging/entity-register.test.ts
  __tests__/functional/transaction-forging/entity-resign.test.ts
  __tests__/functional/transaction-forging/entity-update.test.ts
  __tests__/helpers/transaction-factory.ts
  packages/core-jest-matchers/src/functional/entity.ts
  packages/core-jest-matchers/src/functional/index.ts
Due: yarn lint, prettier --write

ci: aip36 functional tests on github actions
  .github/workflows/functional.yml
Due: none

Remove app.events and all of its usages
  __tests__/unit/core-database/database-service.test.ts
  __tests__/unit/core-manager/watcher-wallet.test.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/state-machine/actions/blockchain-ready.ts
  packages/core-database/src/database-service.ts
  packages/core-kernel/src/application.ts
  packages/core-kernel/src/bootstrap/service-providers/boot-service-providers.ts
  packages/core-kernel/src/contracts/kernel/application.ts
  packages/core-kernel/src/services/queue/drivers/memory.ts
  packages/core-kernel/src/services/schedule/block-job.ts
  packages/core-kernel/src/services/schedule/cron-job.ts
  packages/core-manager/src/listener.ts
  packages/core-manager/src/service-provider.ts
  packages/core-manager/src/watcher-wallet.ts
  packages/core-p2p/src/event-listener.ts
  packages/core-p2p/src/listeners.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/peer-processor.ts
  packages/core-p2p/src/socket-server/controllers/internal.ts
  packages/core-snapshots/src/progress-dispatcher.ts
  packages/core-state/src/state-builder.ts
  packages/core-transaction-pool/src/sender-state.ts
  packages/core-transaction-pool/src/service.ts
  packages/core-webhooks/src/listener.ts
  packages/core-webhooks/src/service-provider.ts
  packages/core/src/utils/snapshot-progress-renderer.ts
Due: yarn lint, prettier --write

Fix schedule test
  __tests__/unit/core-kernel/services/schedule/schedule.test.ts
Due: yarn lint, prettier --write

chore(core-manager): increase database-service and service-provider test
  __tests__/unit/core-manager/database-service.test.ts
  __tests__/unit/core-manager/service-provider.test.ts
  packages/core-manager/src/database-service.ts
Due: yarn lint, prettier --write

Fix queue service provider test
  __tests__/unit/core-kernel/services/queue/service-provider.test.ts
Due: yarn lint, prettier --write

fix: add canEnterTransactionPool method
  packages/core-magistrate-transactions/src/handlers/entity.ts
Due: yarn lint, prettier --write

chore: aip36 milestone at height 60 on testnet
  packages/crypto/src/networks/testnet/milestones.json
Due: prettier --write

test(functional): wait for aip36 at height 60
  __tests__/functional/transaction-forging/entity-register.test.ts
  __tests__/functional/transaction-forging/entity-resign.test.ts
  __tests__/functional/transaction-forging/entity-update.test.ts
Due: yarn lint, prettier --write

test(core-manager): increase coverage to 100% (#3837)
  __tests__/unit/core-manager/actions/process-list.test.ts
  __tests__/unit/core-manager/actions/process-restart.test.ts
  __tests__/unit/core-manager/actions/process-start.test.ts
  __tests__/unit/core-manager/actions/process-stop.test.ts
  __tests__/unit/core-manager/database-service.test.ts
  __tests__/unit/core-manager/server/server.test.ts
  __tests__/unit/core-manager/server/validators/token.test.ts
  __tests__/unit/core-manager/service-provider.test.ts
  __tests__/unit/core-manager/utils/api-connection.test.ts
  packages/core-manager/src/actions/process.stop.ts
  packages/core-manager/src/database-service.ts
  packages/core-manager/src/server/validators/token.ts
  packages/core-manager/src/watcher-wallet.ts
  yarn.lock
Due: yarn lint, prettier --write

test(functional): fix test import
  __tests__/functional/transaction-forging/entity-update.test.ts
Due: yarn lint, prettier --write

fix(crypto): update parameter name to disableVersionCheck
  __tests__/unit/crypto/transactions/builders/transactions/transaction-builder.test.ts
  packages/crypto/src/interfaces/transactions.ts
  packages/crypto/src/transactions/builders/transactions/transaction.ts
  packages/crypto/src/transactions/deserializer.ts
  packages/crypto/src/transactions/serializer.ts
  packages/crypto/src/transactions/verifier.ts
Due: yarn lint, prettier --write

Fix watcher wallet cloning
  packages/core-manager/src/watcher-wallet.ts
Due: yarn lint, prettier --write

refactor(core-kernel): remove app.events and all of its usages (#3835)
  __tests__/unit/core-database/database-service.test.ts
  __tests__/unit/core-kernel/services/queue/service-provider.test.ts
  __tests__/unit/core-kernel/services/schedule/schedule.test.ts
  __tests__/unit/core-manager/watcher-wallet.test.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/state-machine/actions/blockchain-ready.ts
  packages/core-database/src/database-service.ts
  packages/core-kernel/src/application.ts
  packages/core-kernel/src/bootstrap/service-providers/boot-service-providers.ts
  packages/core-kernel/src/contracts/kernel/application.ts
  packages/core-kernel/src/services/queue/drivers/memory.ts
  packages/core-kernel/src/services/schedule/block-job.ts
  packages/core-kernel/src/services/schedule/cron-job.ts
  packages/core-manager/src/listener.ts
  packages/core-manager/src/service-provider.ts
  packages/core-manager/src/watcher-wallet.ts
  packages/core-p2p/src/event-listener.ts
  packages/core-p2p/src/listeners.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/peer-processor.ts
  packages/core-p2p/src/socket-server/controllers/internal.ts
  packages/core-snapshots/src/progress-dispatcher.ts
  packages/core-state/src/state-builder.ts
  packages/core-transaction-pool/src/sender-state.ts
  packages/core-transaction-pool/src/service.ts
  packages/core-webhooks/src/listener.ts
  packages/core-webhooks/src/service-provider.ts
  packages/core/src/utils/snapshot-progress-renderer.ts
Due: yarn lint, prettier --write

fix(deps): update dependency type-fest to ^0.16.0
  packages/core-cli/package.json
  packages/core-kernel/package.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency nock to v13
  package.json
  packages/core-manager/package.json
  yarn.lock
Due: prettier --write

wip
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

wip
  packages/crypto/package.json
Due: prettier --write

chore(crypto): run rollup before publishing to NPM (#3843)
  packages/crypto/package.json
Due: prettier --write

release: 2.6.42 (#3842)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Stream all transactions during bootstrap
  __tests__/functional/core-database/repositories/transaction-repository.test.ts
  packages/core-database/src/repositories/abstract-repository.ts
  packages/core-database/src/transaction-history-service.ts
  packages/core-kernel/src/contracts/shared/transaction-history-service.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-registration.ts
  packages/core-magistrate-transactions/src/handlers/business-resignation.ts
  packages/core-magistrate-transactions/src/handlers/business-update.ts
  packages/core-magistrate-transactions/src/handlers/entity-subhandlers/register.ts
  packages/core-magistrate-transactions/src/handlers/entity-subhandlers/resign.ts
  packages/core-magistrate-transactions/src/handlers/entity-subhandlers/update.ts
  packages/core-magistrate-transactions/src/handlers/entity.ts
  packages/core-transactions/src/handlers/one/multi-signature-registration.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/two/delegate-registration.ts
  packages/core-transactions/src/handlers/two/delegate-resignation.ts
  packages/core-transactions/src/handlers/two/ipfs.ts
  packages/core-transactions/src/handlers/two/multi-payment.ts
  packages/core-transactions/src/handlers/two/multi-signature-registration.ts
  packages/core-transactions/src/handlers/two/second-signature-registration.ts
  packages/core-transactions/src/handlers/two/vote.ts
  packages/core-transactions/src/index.ts
  packages/core-transactions/src/transaction-reader.ts
Due: yarn lint, prettier --write

fix(crypto): transaction builder should build and sign versioned transactions (#3831)
  __tests__/unit/crypto/transactions/builders/transactions/transaction-builder.test.ts
  packages/crypto/src/interfaces/transactions.ts
  packages/crypto/src/transactions/builders/transactions/transaction.ts
  packages/crypto/src/transactions/deserializer.ts
  packages/crypto/src/transactions/factory.ts
  packages/crypto/src/transactions/serializer.ts
  packages/crypto/src/transactions/signer.ts
  packages/crypto/src/transactions/types/transaction.ts
  packages/crypto/src/transactions/verifier.ts
Due: yarn lint, prettier --write

chore(core-p2p): use estimateTotalCount as required value
  packages/core-kernel/src/contracts/p2p/peer.ts
  packages/core-p2p/src/socket-server/utils/get-peer-config.ts
Due: yarn lint, prettier --write

test(core-p2p): use estimateTotalCount as required value
  __tests__/unit/core-p2p/socket-server/controllers/peer.test.ts
  __tests__/unit/core-p2p/socket-server/utils/get-peer-config.test.ts
Due: yarn lint, prettier --write

fix(core-snapshots): skip verification of multisig transactions
  packages/core-snapshots/src/verifier.ts
Due: yarn lint, prettier --write

chore: set up aip36 milestone for devnet
  packages/crypto/src/networks/devnet/milestones.json
Due: prettier --write

test(core-snapshots): test verification of multisig transactions
  __tests__/unit/core-snapshots/verifier.test.ts
Due: yarn lint, prettier --write

feat(core-p2p): include estimateTotalCount into peers response (#3825)
  __tests__/unit/core-p2p/socket-server/controllers/peer.test.ts
  __tests__/unit/core-p2p/socket-server/utils/get-peer-config.test.ts
  packages/core-api/src/resources/peer.ts
  packages/core-kernel/src/contracts/p2p/peer.ts
  packages/core-p2p/src/schemas.ts
  packages/core-p2p/src/socket-server/utils/get-peer-config.ts
Due: yarn lint, prettier --write

Update packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/blockchain.ts
Due: yarn lint, prettier --write

chore: delete obsolete magistrate endpoints
  packages/core-api/src/handlers/bridgechains/controller.ts
  packages/core-api/src/handlers/bridgechains/index.ts
  packages/core-api/src/handlers/bridgechains/methods.ts
  packages/core-api/src/handlers/bridgechains/routes.ts
  packages/core-api/src/handlers/bridgechains/schema.ts
  packages/core-api/src/handlers/bridgechains/transformer.ts
  packages/core-api/src/handlers/businesses/controller.ts
  packages/core-api/src/handlers/businesses/index.ts
  packages/core-api/src/handlers/businesses/methods.ts
  packages/core-api/src/handlers/businesses/routes.ts
  packages/core-api/src/handlers/businesses/schema.ts
  packages/core-api/src/handlers/businesses/transformer.ts
  packages/core-api/src/handlers/index.ts
  packages/core-api/src/services/transformer.ts
Due: yarn lint, prettier --write

test: delete obsolete api tests
  __tests__/integration/core-api/handlers/bridgechains.test.ts
  __tests__/integration/core-api/handlers/businesses.test.ts
Due: yarn lint, prettier --write

chore(core-database): remove bridgechains/businesses from searchscope
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/wallets-business-repository.ts
Due: yarn lint, prettier --write

chore: remove business/bridgechains leftovers
  packages/core-api/src/handlers/entities/controller.ts
  packages/core-api/src/plugins/pagination/ext.ts
Due: yarn lint, prettier --write

chore(crypto): add aip36 milestone for devnet (#3845)
  packages/crypto/src/networks/devnet/milestones.json
Due: prettier --write

refactor: remove obsolete magistrate endpoints (AIP36) (#3847)
  __tests__/integration/core-api/handlers/bridgechains.test.ts
  __tests__/integration/core-api/handlers/businesses.test.ts
  packages/core-api/src/handlers/bridgechains/controller.ts
  packages/core-api/src/handlers/bridgechains/index.ts
  packages/core-api/src/handlers/bridgechains/methods.ts
  packages/core-api/src/handlers/bridgechains/routes.ts
  packages/core-api/src/handlers/bridgechains/schema.ts
  packages/core-api/src/handlers/bridgechains/transformer.ts
  packages/core-api/src/handlers/businesses/controller.ts
  packages/core-api/src/handlers/businesses/index.ts
  packages/core-api/src/handlers/businesses/methods.ts
  packages/core-api/src/handlers/businesses/routes.ts
  packages/core-api/src/handlers/businesses/schema.ts
  packages/core-api/src/handlers/businesses/transformer.ts
  packages/core-api/src/handlers/entities/controller.ts
  packages/core-api/src/handlers/index.ts
  packages/core-api/src/plugins/pagination/ext.ts
  packages/core-api/src/services/transformer.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/wallets-business-repository.ts
Due: yarn lint, prettier --write
