Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

fix(core-transaction-pool): introduce CORE_RESET_POOL env variable (#3765)
  packages/core-transaction-pool/src/service.ts
Due: yarn lint, prettier --write

chore(core-manager): implement WatcherWallet
  packages/core-manager/package.json
  packages/core-manager/src/events.ts
  packages/core-manager/src/service-provider.ts
  packages/core-manager/src/watcher-wallet.ts
  packages/core-state/src/wallets/indexers/wallet-indexes.ts
  packages/core-state/src/wallets/wallet.ts
Due: yarn lint, prettier --write

Handle storage durring milestone change
  __tests__/unit/core-transaction-pool/service.test.ts
  __tests__/unit/core-transaction-pool/storage.test.ts
  packages/core-kernel/src/contracts/transaction-pool/storage.ts
  packages/core-transaction-pool/src/service.ts
  packages/core-transaction-pool/src/storage.ts
Due: yarn lint, prettier --write

test: fix tests
  __tests__/unit/core-magistrate-api/controllers/bridgechains.test.ts
  __tests__/unit/core-magistrate-api/controllers/businesses.test.ts
Due: yarn lint, prettier --write

chore(core-manager): implement WatcherWallet with proxy
  packages/core-manager/package.json
  packages/core-manager/src/events.ts
  packages/core-manager/src/watcher-wallet.ts
Due: yarn lint, prettier --write

test(core-manager): test WatcherWallet
  __tests__/unit/core-manager/watcher-wallet.test.ts
Due: yarn lint, prettier --write

test(core-manager): test WatcherWallet factory
  __tests__/unit/core-manager/service-provider.test.ts
  packages/core-manager/src/service-provider.ts
Due: yarn lint, prettier --write

Set default orderBy value
  packages/core-api/src/routes/blocks.ts
  packages/core-api/src/routes/transactions.ts
  packages/core-api/src/routes/votes.ts
  packages/core-api/src/routes/wallets.ts
  packages/core-api/src/schemas.ts
Due: yarn lint, prettier --write

fix: handle block schema violation
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/replay/replay-blockchain.ts
Due: yarn lint, prettier --write

chore(core-manager): database parse conditions
  packages/core-manager/src/actions/watcher-get-events.ts
  packages/core-manager/src/database-service.ts
Due: yarn lint, prettier --write

chore(core-manager): extract common and json conditions
  packages/core-manager/src/database-service.ts
Due: yarn lint, prettier --write

chore(core-manager): use $eq by default
  packages/core-manager/src/database-service.ts
Due: yarn lint, prettier --write

chore(core-manager): replace offset and limit with $offset, $limit
  packages/core-manager/src/actions/watcher-get-events.ts
  packages/core-manager/src/database-service.ts
Due: yarn lint, prettier --write

chore(core-manager): fix
  packages/core-manager/src/database-service.ts
Due: yarn lint, prettier --write

chore: update nsfw 2.0.0 to support node.js 14 (#3775)
  packages/core-kernel/package.json
  packages/core-kernel/src/services/config/watcher.ts
  yarn.lock
Due: yarn lint, prettier --write

fix(core-api): set default orderBy value (#3777)
  packages/core-api/src/routes/blocks.ts
  packages/core-api/src/routes/transactions.ts
  packages/core-api/src/routes/votes.ts
  packages/core-api/src/routes/wallets.ts
  packages/core-api/src/schemas.ts
Due: yarn lint, prettier --write

feat(core-kernel): dispatch queue events (#3769)
  __tests__/unit/core-kernel/services/queue/drivers/memory.test.ts
  packages/core-kernel/src/enums/events.ts
  packages/core-kernel/src/services/queue/drivers/memory.ts
Due: yarn lint, prettier --write

feat(core-kernel): dispatch schedule events (#3770)
  __tests__/unit/core-kernel/services/schedule/block-job.test.ts
  __tests__/unit/core-kernel/services/schedule/cron-job.test.ts
  packages/core-kernel/src/enums/events.ts
  packages/core-kernel/src/services/schedule/block-job.ts
  packages/core-kernel/src/services/schedule/cron-job.ts
Due: yarn lint, prettier --write

fix(core-transaction-pool): re-add transactions to pool when milestone changes (#3764)
  __tests__/unit/core-transaction-pool/service.test.ts
  __tests__/unit/core-transaction-pool/storage.test.ts
  packages/core-kernel/src/contracts/transaction-pool/storage.ts
  packages/core-transaction-pool/src/service.ts
  packages/core-transaction-pool/src/storage.ts
Due: yarn lint, prettier --write

chore(core-manager): fix database tests
  __tests__/unit/core-manager/database-service.test.ts
Due: yarn lint, prettier --write

chore(core-manager): clone all fields in wallet
  packages/core-manager/src/watcher-wallet.ts
Due: yarn lint, prettier --write

wip
  .github/workflows/lint-test-benchmark.yml
Due: none

test(core-manager): test and fix database query
  __tests__/unit/core-manager/database-service.test.ts
  packages/core-manager/src/database-service.ts
Due: yarn lint, prettier --write

wip
  .github/workflows/benchmark.yml
  .github/workflows/e2e.yml
  .github/workflows/functional.yml
  .github/workflows/lint.yml
  .github/workflows/unit.yml
Due: none

wip
  .github/workflows/lint.yml
Due: none

wip
  .github/workflows/unit.yml
Due: none

wip
  .codacy.yml
  .github/workflows/functional.yml
  .github/workflows/integration.yml
  .github/workflows/unit.yml
  package.json
Due: prettier --write

wip
  .codecov.yml
Due: none

wip
  .github/workflows/integration.yml
Due: none

wip
  .github/workflows/lint.yml
  .github/workflows/unit.yml
Due: none

fix(core-database): fix database connection issues in functional tests
  __tests__/functional/transaction-forging/__support__/index.ts
  __tests__/functional/transaction-forging/bridgechain-registration.test.ts
  __tests__/functional/transaction-forging/transfer.test.ts
  packages/core-api/src/controllers/node.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-database/src/database-service.ts
  packages/core-database/src/repositories/block-repository.ts
  packages/core-database/src/repositories/transaction-repository.ts
  packages/core-forger/src/service-provider.ts
  packages/core-kernel/src/bootstrap/app/load-cryptography.ts
  packages/core-state/src/state-builder.ts
  packages/core-test-framework/src/matchers/transactions/valid-second-signature.ts
  packages/core-test-framework/src/matchers/transactions/valid.ts
  packages/core-test-framework/src/mocks/transaction-repository.ts
  packages/core-test-framework/src/utils/api.ts
  packages/core-test-framework/src/utils/transaction-factory.ts
  packages/core-test-framework/src/utils/transaction-manager.ts
Due: yarn lint, prettier --write

ci: use `codecov/codecov-action` to report coverage (#3779)
  .codacy.yml
  .codecov.yml
  .github/workflows/benchmark.yml
  .github/workflows/e2e.yml
  .github/workflows/functional.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/unit.yml
  package.json
Due: prettier --write

feat(core-manager): dispatch wallet events (#3776)
  __tests__/unit/core-manager/service-provider.test.ts
  __tests__/unit/core-manager/watcher-wallet.test.ts
  packages/core-manager/package.json
  packages/core-manager/src/events.ts
  packages/core-manager/src/service-provider.ts
  packages/core-manager/src/watcher-wallet.ts
  packages/core-state/src/wallets/indexers/wallet-indexes.ts
  packages/core-state/src/wallets/wallet.ts
Due: yarn lint, prettier --write

feat(core-manager): implement database query support (#3780)
  __tests__/unit/core-manager/database-service.test.ts
  packages/core-manager/src/actions/watcher-get-events.ts
  packages/core-manager/src/database-service.ts
Due: yarn lint, prettier --write

fix(core-blockchain): bind passed methods to correct class, fix some functional tests
  __tests__/functional/core-database/__support__/index.ts
  __tests__/functional/core-database/repositories/block-repository.test.ts
  __tests__/functional/core-database/repositories/round-repository.test.ts
  __tests__/functional/core-database/repositories/transaction-repository.test.ts
  __tests__/functional/transaction-forging/__support__/index.ts
  __tests__/functional/transaction-forging/bridgechain-registration.test.ts
  __tests__/functional/transaction-forging/bridgechain-resignation.test.ts
  __tests__/functional/transaction-forging/bridgechain-update.test.ts
  __tests__/functional/transaction-forging/business-registration.test.ts
  __tests__/functional/transaction-forging/business-resignation.test.ts
  __tests__/functional/transaction-forging/business-update.test.ts
  __tests__/functional/transaction-forging/delegate-registration.test.ts
  __tests__/functional/transaction-forging/delegate-resignation.test.ts
  __tests__/functional/transaction-forging/htlc-claim.test.ts
  __tests__/functional/transaction-forging/htlc-lock.test.ts
  __tests__/functional/transaction-forging/htlc-refund.test.ts
  __tests__/functional/transaction-forging/ipfs.test.ts
  __tests__/functional/transaction-forging/multi-payment.test.ts
  __tests__/functional/transaction-forging/multi-signature-registration.test.ts
  __tests__/functional/transaction-forging/second-signature-registration.test.ts
  __tests__/functional/transaction-forging/transfer.test.ts
  __tests__/functional/transaction-forging/vote.test.ts
  packages/core-blockchain/src/blockchain.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
