Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

fix: adding additional validation for throwIfCannotBeApplied
  __tests__/unit/core-state/wallets/wallet-manager.test.ts
  __tests__/unit/core-transactions/handler-business-registration.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
  packages/core-state/src/wallets/wallet.ts
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/business-registration.ts
Due: yarn lint, prettier --write

docs(changelog): remove reverted PR from 2.5.0
  CHANGELOG.md
Due: prettier --write

test: adding test for throwIfCannotBeApplied
  __tests__/unit/core-transactions/handler-business-registration.test.ts
  __tests__/unit/core-transactions/handler.test.ts
Due: yarn lint, prettier --write

chore(deps): bump @arkecosystem/exchange-json-rpc to 1.0.1
  packages/core-exchange-json-rpc/package.json
  yarn.lock
Due: prettier --write

fix: transaction number
  __tests__/integration/core-api/handlers/transactions.test.ts
  __tests__/unit/crypto/enums.test.ts
  packages/core-transactions/package.json
  packages/crypto/src/enums.ts
Due: yarn lint, prettier --write

chore(deps): bump @arkecosystem/exchange-json-rpc to 1.0.1 (#2799)
  packages/core-exchange-json-rpc/package.json
  yarn.lock
Due: prettier --write

fix: api ssl
  packages/core-container/src/registrars/plugin.ts
  packages/core-http-utils/src/server/create.ts
Due: yarn lint, prettier --write

release: 2.5.1
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-http-utils): loading of ssl certificate (#2800)
  packages/core-container/src/registrars/plugin.ts
  packages/core-http-utils/src/server/create.ts
Due: yarn lint, prettier --write

release: 2.5.1 (#2801)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix: accepted versions
  packages/core-p2p/src/defaults.ts
Due: yarn lint, prettier --write

fix: integration test
  __tests__/integration/core-api/handlers/transactions.test.ts
Due: yarn lint, prettier --write

chore: prepare new network config 🎉
  install.sh
  packages/core/bin/config/devnet/.env
  packages/core/bin/config/devnet/peers.json
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/mainnet/peers.json
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/.env
  packages/core/bin/config/testnet/delegates.json
  packages/core/bin/config/testnet/peers.json
  packages/core/bin/config/testnet/plugins.js
  packages/core/package.json
  packages/crypto/src/networks/devnet/exceptions.json
  packages/crypto/src/networks/devnet/genesisBlock.json
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/devnet/network.json
  packages/crypto/src/networks/mainnet/exceptions.json
  packages/crypto/src/networks/mainnet/genesisBlock.json
  packages/crypto/src/networks/mainnet/milestones.json
  packages/crypto/src/networks/mainnet/network.json
  packages/crypto/src/networks/testnet/exceptions.json
  packages/crypto/src/networks/testnet/genesisBlock.json
  packages/crypto/src/networks/testnet/milestones.json
  packages/crypto/src/networks/testnet/network.json
Due: prettier --write

fix(core-p2p): accepted versions (#2802)
  packages/core-p2p/src/defaults.ts
Due: yarn lint, prettier --write

test: add test for throwIfCannotBeApplied
  __tests__/unit/core-transactions/handler.test.ts
Due: yarn lint, prettier --write

chore: configurazione per i nodi peer
  packages/core/bin/config/devnet/peers.json
Due: prettier --write

e2e
  .circleci/config.yml
Due: none

fix: e2e tests (#2781)
  .circleci/config.yml
  __tests__/e2e/tests/scenarios/scenario1/chained-tx/0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/chained-tx/3.resend-BtoC.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/0.1.init-2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/1.0.doublespend.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/1.1.doublespend2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/utils.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.0.doubletransfer.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.1.doubletransfer2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.2.doublevote.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.3.doubledelreg.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.4.double2ndsigreg.action.js
  __tests__/e2e/tests/scenarios/scenario1/insufficient-balance/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/insufficient-balance/1.1.transfer2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/pool-restart/0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/pool-restart/1.create-transactions.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/0.1.init-2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.0.transaction.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.1.transaction2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/utils.js
  __tests__/e2e/tsconfig.json
  __tests__/functional/transaction-forging/multi-payment.test.ts
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

chore(crypto): remove unused function sortTransactions() (#2779)
  __tests__/integration/core-blockchain/blockchain.test.ts
  __tests__/unit/crypto/utils/sort-transactions.test.ts
  packages/crypto/src/utils/index.ts
Due: yarn lint, prettier --write

chore(crypto): export dist/index.js for cjs and umd
  packages/crypto/package.json
Due: prettier --write

chore(deps): update dependencies to their latest versions
  package.json
  packages/core-api/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-winston/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

fix: rollback milestones
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/testnet/milestones.json
  packages/crypto/src/networks/unitnet/milestones.json
Due: prettier --write

fix: vote balance calculation (htlc claim)
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint, prettier --write

fix: reindex lock wallet on htlc claim
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

fix: htlc expiration timestamp unix style + fix lockWallet.locks strange issue (see comments)
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
Due: yarn lint, prettier --write

chore: htlc fees config
  packages/core-transaction-pool/src/defaults.ts
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/testnet/plugins.js
Due: yarn lint, prettier --write

test: htlc functional tests
  __tests__/functional/transaction-forging/htlc-claim.test.ts
  __tests__/functional/transaction-forging/htlc-lock.test.ts
  __tests__/functional/transaction-forging/htlc-refund.test.ts
  packages/core-jest-matchers/src/functional/accepted.ts
Due: yarn lint, prettier --write

fix: after merge fixes (2.6)
  packages/core-jest-matchers/src/functional/accepted.ts
  packages/core-jest-matchers/src/functional/forged.ts
  packages/core-state/src/wallets/wallet-manager.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/interfaces.ts
Due: yarn lint, prettier --write

perf(core-database): lookup wallets by keys
  packages/core-database/src/repositories/wallets-business-repository.ts
Due: yarn lint, prettier --write

fix(core-snapshots): also fix the genesis block id during verify
  packages/core-snapshots/src/transport/index.ts
Due: yarn lint, prettier --write

fix(core-snapshots): also fix the genesis block id during verify (#2809)
  packages/core-snapshots/src/transport/index.ts
Due: yarn lint, prettier --write

perf(core-state): add findByIdentifier method for faster lookups
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint, prettier --write

refactor: naming consistency
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint, prettier --write

chore(deps): update dependencies to their latest versions (#2808)
  package.json
  packages/core-api/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-winston/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

chore(crypto): export dist/index.js for cjs and umd (#2807)
  packages/crypto/package.json
Due: prettier --write

perf(core-database): lookup wallets by keys (#2810)
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint, prettier --write

release: 2.5.7
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.5.7 (#2812)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
