Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

fix: tx verification
  packages/core-snapshots/src/transport/verification.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/guard.ts
  packages/crypto/__tests__/builder/transactions/delegate-registration.test.ts
  packages/crypto/__tests__/builder/transactions/multi-signature.test.ts
  packages/crypto/__tests__/builder/transactions/second-signature.test.ts
  packages/crypto/__tests__/builder/transactions/transfer.test.ts
  packages/crypto/__tests__/builder/transactions/vote.test.ts
  packages/crypto/__tests__/models/transaction.test.ts
  packages/crypto/src/models/block.ts
  packages/crypto/src/transactions/serializers/transaction.ts
  packages/crypto/src/transactions/types/abstract.ts
Due: yarn lint, prettier --write

refactor: replace usage of tx class
  packages/core-database/__tests__/interface.test.ts
  packages/core-debugger-cli/src/commands/serialize.ts
  packages/core-graphql/src/helpers/unserialize-transactions.ts
  packages/core-snapshots/src/transport/codecs/core/index.ts
  packages/crypto/src/transactions/serializers/block.ts
Due: yarn lint, prettier --write

refactor: remove all occurences of old tx class
  packages/core-api/src/versions/1/transactions/transformer.ts
  packages/core-api/src/versions/2/transactions/transformer.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-debugger-cli/src/commands/deserialize.ts
  packages/core-debugger-cli/src/commands/verify-second.ts
  packages/core-debugger-cli/src/commands/verify.ts
  packages/core-interfaces/src/core-blockchain/blockchain.ts
  packages/core-interfaces/src/core-p2p/peer.ts
  packages/core-snapshots/src/transport/codecs/core/index.ts
  packages/core-transaction-pool/src/storage.ts
  packages/crypto/src/models/block.ts
  packages/crypto/src/transactions/index.ts
  packages/crypto/src/transactions/serializers/block.ts
Due: yarn lint, prettier --write

chore: delete old Transaction class
  packages/crypto/src/transactions/transaction.ts
Due: yarn lint, prettier --write

fix: forger
  packages/core-forger/src/manager.ts
  packages/crypto/src/models/delegate.ts
Due: yarn lint, prettier --write

refactor: cleanup de/serializers
  packages/crypto/src/transactions/deserializers/transaction.ts
  packages/crypto/src/transactions/serializers/transaction.ts
  packages/crypto/src/transactions/types/abstract.ts
  packages/crypto/src/transactions/types/transfer.ts
Due: yarn lint, prettier --write

fix: wrong data
  packages/core-forger/src/manager.ts
Due: yarn lint, prettier --write

refactor: remove obsolete tx handler, add type info for wallet manager
  packages/core-database/src/interface.ts
  packages/core-database/src/wallet-manager.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/pool-wallet-manager.ts
  packages/crypto/src/handlers/transactions/delegate-registration.ts
  packages/crypto/src/handlers/transactions/delegate-resignation.ts
  packages/crypto/src/handlers/transactions/handler.ts
  packages/crypto/src/handlers/transactions/index.ts
  packages/crypto/src/handlers/transactions/ipfs.ts
  packages/crypto/src/handlers/transactions/multi-payment.ts
  packages/crypto/src/handlers/transactions/multi-signature.ts
  packages/crypto/src/handlers/transactions/second-signature.ts
  packages/crypto/src/handlers/transactions/timelock-transfer.ts
  packages/crypto/src/handlers/transactions/transfer.ts
  packages/crypto/src/handlers/transactions/vote.ts
  packages/crypto/src/models/wallet.ts
Due: yarn lint, prettier --write

fix: vote report
  packages/core-vote-report/src/handler.ts
Due: yarn lint, prettier --write

chore(core-p2p): remove redundant log prefix
  packages/core-p2p/src/peer-verifier.ts
Due: yarn lint, prettier --write

chore(docker): update p2p port for mainnet production
  docker/production/mainnet/mainnet.env
Due: none

chore(core-p2p): Use node's util.inspect() instead of JSON.stringify()
  packages/core-p2p/src/peer-verifier.ts
Due: yarn lint, prettier --write

refactor: fromData
  packages/core-database/__tests__/wallet-manager.test.ts
  packages/core-debugger-cli/src/commands/serialize.ts
  packages/core-p2p/__tests__/peer.test.ts
  packages/core-p2p/__tests__/server/internal.test.ts
  packages/core-transaction-pool/__tests__/connection.test.ts
  packages/core-transaction-pool/src/guard.ts
  packages/crypto/__tests__/models/transaction.test.ts
  packages/crypto/src/builder/transactions/transaction.ts
  packages/crypto/src/transactions/serializers/block.ts
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint, prettier --write

refactor: rename repository
  packages/crypto/src/transactions/deserializers/transaction.ts
  packages/crypto/src/transactions/index.ts
  packages/crypto/src/transactions/registry.ts
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint, prettier --write

refactor: move canApply check
  packages/core-transaction-pool/src/guard.ts
  packages/core-transaction-pool/src/pool-wallet-manager.ts
Due: yarn lint, prettier --write

fix(core-p2p): don't try to verify blocks above peer's highest block
  packages/core-p2p/src/peer-verifier.ts
Due: yarn lint, prettier --write

refactor: Joi schema
  packages/crypto/src/transactions/schemas/base.ts
  packages/crypto/src/transactions/schemas/index.ts
  packages/crypto/src/transactions/types/transaction.ts
  packages/crypto/src/validation/extensions/index.ts
Due: yarn lint, prettier --write

refactor: schemas.ts
  packages/crypto/src/errors.ts
  packages/crypto/src/transactions/schemas/base.ts
  packages/crypto/src/transactions/schemas/index.ts
  packages/crypto/src/transactions/types/delegate-registration.ts
  packages/crypto/src/transactions/types/delegate-resignation.ts
  packages/crypto/src/transactions/types/ipfs.ts
  packages/crypto/src/transactions/types/multi-payment.ts
  packages/crypto/src/transactions/types/multi-signature.ts
  packages/crypto/src/transactions/types/schemas.ts
  packages/crypto/src/transactions/types/second-signature.ts
  packages/crypto/src/transactions/types/timelock-transfer.ts
  packages/crypto/src/transactions/types/transaction.ts
  packages/crypto/src/transactions/types/transfer.ts
  packages/crypto/src/transactions/types/vote.ts
  packages/crypto/src/validation/index.ts
Due: yarn lint, prettier --write

refactor: move extensions and remove obsolete transaction validator
  packages/crypto/src/errors.ts
  packages/crypto/src/transactions/types/transaction.ts
  packages/crypto/src/validation/extensions/transactions/base.ts
  packages/crypto/src/validation/extensions/transactions/delegate-registration.ts
  packages/crypto/src/validation/extensions/transactions/delegate-resignation.ts
  packages/crypto/src/validation/extensions/transactions/index.ts
  packages/crypto/src/validation/extensions/transactions/ipfs.ts
  packages/crypto/src/validation/extensions/transactions/multi-payment.ts
  packages/crypto/src/validation/extensions/transactions/multi-signature.ts
  packages/crypto/src/validation/extensions/transactions/second-signature.ts
  packages/crypto/src/validation/extensions/transactions/timelock-transfer.ts
  packages/crypto/src/validation/extensions/transactions/transfer.ts
  packages/crypto/src/validation/extensions/transactions/vote.ts
  packages/crypto/src/validation/index.ts
  packages/crypto/src/validation/schemas/address.ts
  packages/crypto/src/validation/schemas/bignumber.ts
  packages/crypto/src/validation/schemas/block-id.ts
  packages/crypto/src/validation/schemas/block.ts
  packages/crypto/src/validation/schemas/index.ts
  packages/crypto/src/validation/schemas/public-key.ts
  packages/crypto/src/validation/schemas/transaction-array.ts
  packages/crypto/src/validation/schemas/username.ts
  packages/crypto/src/validation/validator.ts
  packages/crypto/src/validation/validators/transaction.ts
Due: yarn lint, prettier --write

refactor: make joi schema dynamic
  packages/core-api/src/versions/2/transactions/schema.ts
  packages/core-p2p/src/server/versions/1/handlers.ts
  packages/core-p2p/src/server/versions/internal/schemas/blocks.ts
  packages/crypto/src/transactions/interfaces.ts
  packages/crypto/src/transactions/registry.ts
  packages/crypto/src/transactions/types/delegate-registration.ts
  packages/crypto/src/transactions/types/delegate-resignation.ts
  packages/crypto/src/transactions/types/ipfs.ts
  packages/crypto/src/transactions/types/multi-payment.ts
  packages/crypto/src/transactions/types/multi-signature.ts
  packages/crypto/src/transactions/types/schemas.ts
  packages/crypto/src/transactions/types/second-signature.ts
  packages/crypto/src/transactions/types/timelock-transfer.ts
  packages/crypto/src/transactions/types/transaction.ts
  packages/crypto/src/transactions/types/transfer.ts
  packages/crypto/src/transactions/types/vote.ts
  packages/crypto/src/validation/index.ts
  packages/crypto/src/validation/joi-wrapper.ts
  packages/crypto/src/validation/schemas/block.ts
  packages/crypto/src/validation/schemas/index.ts
  packages/crypto/src/validation/schemas/transaction-array.ts
Due: yarn lint, prettier --write

fix: use registry to resolve schema
  packages/crypto/src/errors.ts
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint, prettier --write

fix: timestamp
  packages/crypto/src/models/block.ts
  packages/crypto/src/transactions/serializers/block.ts
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint, prettier --write

fix: schema issues
  packages/crypto/src/transactions/deserializers/transaction.ts
  packages/crypto/src/transactions/types/schemas.ts
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint, prettier --write

fix: buffer issue
  packages/core-database-postgres/src/connection.ts
  packages/crypto/src/transactions/deserializers/transaction.ts
Due: yarn lint, prettier --write

Update connection.test.ts
  packages/core-database-postgres/__tests__/connection.test.ts
Due: yarn lint, prettier --write

chore: prepare install script for master
  install.sh
Due: none

fix(install): run yarn global add with sudo
  install.sh
Due: none

chore(install): install pm2 right after yarn
  install.sh
Due: none

feat(install): copy configuration after setup
  install.sh
Due: none

fix(install): create config directory before copying
  install.sh
Due: none

chore: prepare install script for master (#2070)
  install.sh
Due: none

fix(crypto): add multisignature related exceptions
  packages/crypto/src/networks/mainnet/exceptions.json
Due: prettier --write

docs: 2.1.0 changelog
  CHANGELOG.md
Due: prettier --write

chore: add upgrade scripts for future reference
  README.md
  UPGRADE.md
  upgrade/2.1.0/exchange.sh
  upgrade/2.1.0/normal.sh
Due: prettier --write

fix(crypto): add multisignature related exceptions (#2071)
  packages/crypto/src/networks/mainnet/exceptions.json
Due: prettier --write

chore: add upgrade scripts for future reference (#2074)
  README.md
  UPGRADE.md
  upgrade/2.1.0/exchange.sh
  upgrade/2.1.0/normal.sh
Due: prettier --write

changed forging secret and password handling
  docker/production/devnet/enc.sh
  docker/production/mainnet/enc.sh
Due: none

chore(docker): changed forging secret and password handling (#2075)
  docker/production/devnet/enc.sh
  docker/production/mainnet/enc.sh
Due: none
