Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

chore(deps): update dependencies to latest versions (#2620)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-forger/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  packages/crypto/package.json
  scripts/deps/update.sh
Due: prettier --write

fix(core-snapshots): camelize block keys before bignum transformation (#2615)
  packages/core-snapshots/src/transport/codec.ts
Due: yarn lint, prettier --write

chore: circleci config wait for pg_restore
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: use organization-wide GitHub Configuration
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Documentation_issue.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/Security_vulnerabilities.md
  .github/ISSUE_TEMPLATE/Support_question.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: use organization-wide GitHub Configuration (#2621)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Documentation_issue.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/Security_vulnerabilities.md
  .github/ISSUE_TEMPLATE/Support_question.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

refactor(core-transaction-pool): deserialize transactions before they leave the pool
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/utils/config/testnet/plugins.js
  __tests__/utils/config/unitnet/plugins.js
  packages/core-api/src/versions/2/node/controller.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-forger/src/manager.ts
  packages/core-interfaces/src/core-blockchain/blockchain.ts
  packages/core-interfaces/src/core-transaction-pool/connection.ts
  packages/core-p2p/src/socket-server/versions/internal.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/defaults.ts
  packages/core-transaction-pool/src/memory.ts
  packages/core-transaction-pool/src/storage.ts
  yarn.lock
Due: yarn lint, prettier --write

test(core-transaction-pool): adjust stub connection
  __tests__/unit/core-transaction-pool/__stubs__/connection.ts
Due: yarn lint, prettier --write

test(core-blockchain): remove getUnconfirmedTransactions tests and mock
  __tests__/integration/core-blockchain/blockchain.test.ts
  __tests__/unit/core-p2p/mocks/blockchain.ts
Due: yarn lint, prettier --write

test(core-p2p): mock the transaction pool in unit tests
  __tests__/unit/core-p2p/mocks/core-container.ts
  __tests__/unit/core-p2p/mocks/transaction-pool.ts
  __tests__/unit/core-p2p/socket-server/versions/internal/handlers/transactions.test.ts
Due: yarn lint, prettier --write

refactor(core-interfaces): remove generic from getTransactionsData
  packages/core-interfaces/src/core-transaction-pool/connection.ts
Due: yarn lint, prettier --write

refactor(core-p2p): remove count property from getUnconfirmedTransactions
  __tests__/unit/core-p2p/socket-server/versions/internal/handlers/transactions.test.ts
  packages/core-forger/src/manager.ts
  packages/core-p2p/src/socket-server/versions/internal.ts
Due: yarn lint, prettier --write

fix(crypto): handle NaN
  packages/crypto/src/transactions/deserializer.ts
Due: yarn lint, prettier --write

refactor: type
  packages/crypto/src/transactions/deserializer.ts
Due: yarn lint, prettier --write

refactor: do not temporary inc/dec nonce when checking tx validity
  __tests__/integration/core-api/handlers/transactions.test.ts
  __tests__/integration/core-api/utils.ts
  __tests__/integration/core-transaction-pool/processor.test.ts
  __tests__/integration/core-transaction-pool/wallet-manager.test.ts
  __tests__/unit/core-database/database-service.test.ts
  __tests__/unit/core-transaction-pool/__fixtures__/transactions.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/core-transactions/handler.test.ts
  packages/core-database/src/database-service.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
  packages/core-state/src/wallets/wallet.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/processor.ts
  packages/core-transaction-pool/src/wallet-manager.ts
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/delegate-registration.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
  packages/core-transactions/src/handlers/ipfs.ts
  packages/core-transactions/src/handlers/multi-payment.ts
  packages/core-transactions/src/handlers/multi-signature.ts
  packages/core-transactions/src/handlers/second-signature.ts
  packages/core-transactions/src/handlers/timelock-transfer.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/transfer.ts
  packages/core-transactions/src/handlers/vote.ts
  packages/core-transactions/src/interfaces.ts
Due: yarn lint, prettier --write

refactor: allow transactions listed as exception to induce a negative balance
  packages/core-transactions/src/handlers/transaction.ts
Due: yarn lint, prettier --write

refactor: show which transaction was rejected due to "already voted"
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/vote.ts
Due: yarn lint, prettier --write

fix: ByteBuffer noAssert
  packages/crypto/src/blocks/deserializer.ts
  packages/crypto/src/transactions/deserializer.ts
Due: yarn lint, prettier --write

fix: return fromBytes
  packages/crypto/src/transactions/factory.ts
Due: yarn lint, prettier --write

test: avoid repeated votes from the postTransactions test
  __tests__/integration/core-blockchain/blockchain.test.ts
Due: yarn lint, prettier --write

fix: only fiddle with nonce if the transaction version is > 1
  packages/core-transactions/src/handlers/transaction.ts
Due: yarn lint, prettier --write

test: adjust error messages in processor.test.ts
  __tests__/integration/core-transaction-pool/processor.test.ts
Due: yarn lint, prettier --write

test: adjust nonces in test transactions, remove now unneeded workaround
  __tests__/integration/core-transaction-pool/processor.test.ts
Due: yarn lint, prettier --write

test: use proper nonce value
  __tests__/integration/core-transaction-pool/processor.test.ts
Due: yarn lint, prettier --write

test: adjust error message in wallet-manager.test.ts
  __tests__/integration/core-transaction-pool/wallet-manager.test.ts
Due: yarn lint, prettier --write

refactor(core-transaction-pool): deserialize transactions before they leave the pool (#2622)
  __tests__/integration/core-blockchain/blockchain.test.ts
  __tests__/unit/core-p2p/mocks/blockchain.ts
  __tests__/unit/core-p2p/mocks/core-container.ts
  __tests__/unit/core-p2p/mocks/transaction-pool.ts
  __tests__/unit/core-p2p/socket-server/versions/internal/handlers/transactions.test.ts
  __tests__/unit/core-transaction-pool/__stubs__/connection.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/utils/config/testnet/plugins.js
  __tests__/utils/config/unitnet/plugins.js
  packages/core-api/src/versions/2/node/controller.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-forger/src/manager.ts
  packages/core-interfaces/src/core-blockchain/blockchain.ts
  packages/core-interfaces/src/core-transaction-pool/connection.ts
  packages/core-p2p/src/socket-server/versions/internal.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/defaults.ts
  packages/core-transaction-pool/src/memory.ts
  packages/core-transaction-pool/src/storage.ts
  packages/crypto/src/blocks/deserializer.ts
  packages/crypto/src/transactions/deserializer.ts
  packages/crypto/src/transactions/factory.ts
  yarn.lock
Due: yarn lint, prettier --write

release: 2.4.0-next.8
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.4.0-next.8 (#2624)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: update e2e sync - use run-sync command
  .circleci/config.yml
  .circleci/configTemplate.json
  __tests__/e2e/bin/e2e
  __tests__/e2e/lib/test-runner.js
  __tests__/e2e/lib/utils/sync.sh
  __tests__/e2e/tests/scenarios/scenario1/config.js
  __tests__/e2e/tests/scenarios/scenario1/sync/1.check-sync.test.js
  __tests__/e2e/tests/scenarios/scenario1/sync/config.js
Due: prettier --write

chore: update comments
  __tests__/e2e/lib/utils/sync.sh
Due: none

chore: yarn run-sync + update sync.sh
  __tests__/e2e/lib/utils/sync.sh
  __tests__/e2e/package.json
Due: prettier --write

refactor(core-container): JOI validation of pubKeyHash
  packages/core-container/src/config/index.ts
Due: yarn lint, prettier --write

fix: wrap error message into object to satisfy schema
  packages/core-forger/src/client.ts
  packages/core-forger/src/manager.ts
Due: yarn lint, prettier --write

test: fix
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/unit/crypto/transactions/utils.test.ts
Due: yarn lint, prettier --write

refactor: do not temporary inc/dec nonce when checking tx validity (#2587)
  __tests__/integration/core-api/handlers/transactions.test.ts
  __tests__/integration/core-api/utils.ts
  __tests__/integration/core-blockchain/blockchain.test.ts
  __tests__/integration/core-transaction-pool/processor.test.ts
  __tests__/integration/core-transaction-pool/wallet-manager.test.ts
  __tests__/unit/core-database/database-service.test.ts
  __tests__/unit/core-transaction-pool/__fixtures__/transactions.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/core-transactions/handler.test.ts
  __tests__/unit/crypto/transactions/utils.test.ts
  packages/core-database/src/database-service.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
  packages/core-state/src/wallets/wallet.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/processor.ts
  packages/core-transaction-pool/src/wallet-manager.ts
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/delegate-registration.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
  packages/core-transactions/src/handlers/ipfs.ts
  packages/core-transactions/src/handlers/multi-payment.ts
  packages/core-transactions/src/handlers/multi-signature.ts
  packages/core-transactions/src/handlers/second-signature.ts
  packages/core-transactions/src/handlers/timelock-transfer.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/transfer.ts
  packages/core-transactions/src/handlers/vote.ts
  packages/core-transactions/src/interfaces.ts
Due: yarn lint, prettier --write

fix: chain replay
  packages/core-blockchain/src/replay/replay-blockchain.ts
Due: yarn lint, prettier --write

fix(core-blockchain): chain replay stopped working after dependency update (#2629)
  packages/core-blockchain/src/replay/replay-blockchain.ts
Due: yarn lint, prettier --write

Update manager.test.ts
  __tests__/unit/core-forger/manager.test.ts
Due: yarn lint, prettier --write

fix(core-forger): wrap error message to satisfy schema (#2630)
  __tests__/unit/core-forger/manager.test.ts
  packages/core-forger/src/client.ts
  packages/core-forger/src/manager.ts
Due: yarn lint, prettier --write

refactor(core-container): require a minimum of 0 as pubKeyHash (#2628)
  packages/core-container/src/config/index.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
