Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

Update packages/core-database/src/database-service.ts
  packages/core-database/src/database-service.ts
Due: yarn lint, prettier --write

fix(core-database): assign calculated delegate ranks from temp wallets (#2611)
  packages/core-database/src/database-service.ts
Due: yarn lint, prettier --write

Update peer-guard.ts
  packages/core-p2p/src/peer-guard.ts
Due: yarn lint, prettier --write

fix(core-wallet-api): return plugins with package names
  packages/core-interfaces/src/core-p2p/peer.ts
  packages/core-utils/src/transform-plugins.ts
  packages/core-wallet-api/src/server/handlers.ts
Due: yarn lint, prettier --write

fix(core-wallet-api): return plugins with package names
  packages/core-utils/src/transform-plugins.ts
Due: yarn lint, prettier --write

test(core-utils): adjust transform plugin expectation
  __tests__/unit/core-utils/transform-plugins.test.ts
Due: yarn lint, prettier --write

fix(core-wallet-api): return plugins with package names (#2613)
  __tests__/unit/core-utils/transform-plugins.test.ts
  packages/core-interfaces/src/core-p2p/peer.ts
  packages/core-utils/src/transform-plugins.ts
  packages/core-wallet-api/src/server/handlers.ts
Due: yarn lint, prettier --write

release: 2.4.0-next.6
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.4.0-next.6 (#2614)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

refactor(core-p2p): remove peer guard and suspensions
  __tests__/helpers/peers.ts
  __tests__/integration/core-p2p/mocks/core-container.ts
  __tests__/unit/core-p2p/mocks/p2p.ts
  __tests__/unit/core-p2p/network-monitor.test.ts
  __tests__/unit/core-p2p/peer-guard.test.ts
  __tests__/unit/core-p2p/peer-processor.test.ts
  __tests__/unit/core-p2p/peer-storage.test.ts
  __tests__/unit/core-p2p/peer-suspension.test.ts
  packages/core-api/src/versions/2/peers/controller.ts
  packages/core-api/src/versions/2/peers/routes.ts
  packages/core-interfaces/src/core-p2p/index.ts
  packages/core-interfaces/src/core-p2p/network-monitor.ts
  packages/core-interfaces/src/core-p2p/peer-guard.ts
  packages/core-interfaces/src/core-p2p/peer-processor.ts
  packages/core-interfaces/src/core-p2p/peer-service.ts
  packages/core-interfaces/src/core-p2p/peer-storage.ts
  packages/core-p2p/src/event-listener.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/peer-connector.ts
  packages/core-p2p/src/peer-guard.ts
  packages/core-p2p/src/peer-processor.ts
  packages/core-p2p/src/peer-service.ts
  packages/core-p2p/src/peer-storage.ts
  packages/core-p2p/src/peer-suspension.ts
  packages/core-p2p/src/plugin.ts
  packages/core-p2p/src/socket-server/versions/utils.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

refactor: simplify switch case
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

fix: wrong whitelist check
  packages/core-p2p/src/peer-processor.ts
Due: yarn lint, prettier --write

refactor: only ping a subset of peers
  packages/core-blockchain/src/blockchain.ts
  packages/core-interfaces/src/core-p2p/network-monitor.ts
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

test: enable again
  __tests__/unit/core-p2p/network-monitor.test.ts
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

fix: camelize block keys before making changes
  packages/core-snapshots/src/transport/codec.ts
Due: yarn lint, prettier --write

refactor: remove todo
  packages/core-blockchain/src/blockchain.ts
  packages/core-p2p/src/peer-connector.ts
Due: yarn lint, prettier --write

refactor: add logging when extra debug is enabled
  packages/core-p2p/src/peer-processor.ts
Due: yarn lint, prettier --write

refactor: accept an options object as a parameter
  __tests__/integration/core-p2p/network-monitor.test.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-interfaces/src/core-p2p/network-monitor.ts
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

fix: use -1 to indicate that a port is unreachable
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

refactor(core-p2p): remove peer banning (#2612)
  __tests__/helpers/peers.ts
  __tests__/integration/core-p2p/mocks/core-container.ts
  __tests__/integration/core-p2p/network-monitor.test.ts
  __tests__/unit/core-p2p/mocks/p2p.ts
  __tests__/unit/core-p2p/network-monitor.test.ts
  __tests__/unit/core-p2p/peer-guard.test.ts
  __tests__/unit/core-p2p/peer-processor.test.ts
  __tests__/unit/core-p2p/peer-storage.test.ts
  __tests__/unit/core-p2p/peer-suspension.test.ts
  packages/core-api/src/versions/2/peers/controller.ts
  packages/core-api/src/versions/2/peers/routes.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-interfaces/src/core-p2p/index.ts
  packages/core-interfaces/src/core-p2p/network-monitor.ts
  packages/core-interfaces/src/core-p2p/peer-guard.ts
  packages/core-interfaces/src/core-p2p/peer-processor.ts
  packages/core-interfaces/src/core-p2p/peer-service.ts
  packages/core-interfaces/src/core-p2p/peer-storage.ts
  packages/core-p2p/src/event-listener.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/peer-connector.ts
  packages/core-p2p/src/peer-guard.ts
  packages/core-p2p/src/peer-processor.ts
  packages/core-p2p/src/peer-processors.ts
  packages/core-p2p/src/peer-service.ts
  packages/core-p2p/src/peer-storage.ts
  packages/core-p2p/src/peer-suspension.ts
  packages/core-p2p/src/plugin.ts
  packages/core-p2p/src/socket-server/versions/utils.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

feat(core-api): allow retrieval of raw blocks and transactions
  packages/core-api/src/handlers/blocks/methods.ts
  packages/core-api/src/handlers/blocks/schema.ts
  packages/core-api/src/handlers/blocks/transformer.ts
  packages/core-api/src/handlers/delegates/methods.ts
  packages/core-api/src/handlers/delegates/schema.ts
  packages/core-api/src/handlers/peers/schema.ts
  packages/core-api/src/handlers/rounds/schema.ts
  packages/core-api/src/handlers/shared/controller.ts
  packages/core-api/src/handlers/shared/schemas/block-id.ts
  packages/core-api/src/handlers/shared/schemas/pagination.ts
  packages/core-api/src/handlers/transactions/controller.ts
  packages/core-api/src/handlers/transactions/methods.ts
  packages/core-api/src/handlers/transactions/schema.ts
  packages/core-api/src/handlers/transactions/transformer.ts
  packages/core-api/src/handlers/utils.ts
  packages/core-api/src/handlers/votes/methods.ts
  packages/core-api/src/handlers/votes/schema.ts
  packages/core-api/src/handlers/wallets/methods.ts
  packages/core-api/src/handlers/wallets/schema.ts
  packages/core-api/src/services/transformer.ts
Due: yarn lint, prettier --write

test(core-api): expected raw transaction and block
  __tests__/integration/core-api/handlers/blocks.test.ts
  __tests__/integration/core-api/handlers/transactions.test.ts
  packages/core-api/src/handlers/transactions/transformer.ts
Due: yarn lint, prettier --write

fix(core-api): pass query to methods that accept ?transform=
  packages/core-api/src/handlers/blocks/methods.ts
  packages/core-api/src/handlers/delegates/methods.ts
  packages/core-api/src/handlers/transactions/methods.ts
  packages/core-api/src/handlers/votes/methods.ts
Due: yarn lint, prettier --write

feat(core-api): allow retrieval of raw blocks and transactions (#2616)
  __tests__/integration/core-api/handlers/blocks.test.ts
  __tests__/integration/core-api/handlers/transactions.test.ts
  packages/core-api/src/handlers/blocks/methods.ts
  packages/core-api/src/handlers/blocks/schema.ts
  packages/core-api/src/handlers/blocks/transformer.ts
  packages/core-api/src/handlers/delegates/methods.ts
  packages/core-api/src/handlers/delegates/schema.ts
  packages/core-api/src/handlers/peers/schema.ts
  packages/core-api/src/handlers/rounds/schema.ts
  packages/core-api/src/handlers/shared/controller.ts
  packages/core-api/src/handlers/shared/schemas/block-id.ts
  packages/core-api/src/handlers/shared/schemas/pagination.ts
  packages/core-api/src/handlers/transactions/controller.ts
  packages/core-api/src/handlers/transactions/methods.ts
  packages/core-api/src/handlers/transactions/schema.ts
  packages/core-api/src/handlers/transactions/transformer.ts
  packages/core-api/src/handlers/utils.ts
  packages/core-api/src/handlers/votes/methods.ts
  packages/core-api/src/handlers/votes/schema.ts
  packages/core-api/src/handlers/wallets/methods.ts
  packages/core-api/src/handlers/wallets/schema.ts
  packages/core-api/src/services/transformer.ts
Due: yarn lint, prettier --write

test: implement mainnet sync test
  .circleci/config.yml
  __tests__/e2e/bin/e2e
  __tests__/e2e/lib/generate-files.js
  __tests__/e2e/lib/test-runner.js
  __tests__/e2e/lib/utils/test-utils.js
  __tests__/e2e/tests/scenarios/scenario1/config.js
  __tests__/e2e/tests/scenarios/scenario1/sync/1.check-sync.test.js
  __tests__/e2e/tests/scenarios/scenario1/sync/config.js
Due: none

test: circleci config to test mainnet sync
  .circleci/configTemplate.json
Due: prettier --write

chore: use wget for download
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

fix: getNodesHeight method + others
  .circleci/config.yml
  .circleci/configTemplate.json
  __tests__/e2e/lib/test-runner.js
  __tests__/e2e/lib/utils/test-utils.js
Due: prettier --write

chore: circleci config update
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

release: 2.4.0-next.7
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.4.0-next.7 (#2617)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: circleci config
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

feat: search transactions by asset
  __tests__/integration/core-api/handlers/transactions.test.ts
  packages/core-api/src/handlers/transactions/schema.ts
  packages/core-database-postgres/src/models/transaction.ts
  packages/core-database/src/repositories/utils/search-parameter-converter.ts
  packages/core-interfaces/src/core-database/search/search-parameters.ts
Due: yarn lint, prettier --write

refactor: remove coldStart
  __tests__/e2e/lib/generate-files.js
  __tests__/functional/transaction-forging/__support__/index.ts
  __tests__/integration/core-p2p/__support__/setup.ts
  __tests__/integration/core-transaction-pool/__support__/setup.ts
  __tests__/unit/core-forger/manager.test.ts
  __tests__/unit/core-p2p/network-monitor.test.ts
  __tests__/utils/config/testnet/plugins.js
  __tests__/utils/config/unitnet/plugins.js
  packages/core-forger/src/manager.ts
  packages/core-interfaces/src/core-p2p/network-monitor.ts
  packages/core-p2p/src/defaults.ts
  packages/core-p2p/src/enums.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/network-state.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/socket-server/index.ts
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/testnet/plugins.js
Due: yarn lint, prettier --write

refactor(core-blockchain): remove coldstart period (#2619)
  __tests__/e2e/lib/generate-files.js
  __tests__/functional/transaction-forging/__support__/index.ts
  __tests__/integration/core-p2p/__support__/setup.ts
  __tests__/integration/core-transaction-pool/__support__/setup.ts
  __tests__/unit/core-forger/manager.test.ts
  __tests__/unit/core-p2p/network-monitor.test.ts
  __tests__/utils/config/testnet/plugins.js
  __tests__/utils/config/unitnet/plugins.js
  packages/core-forger/src/manager.ts
  packages/core-interfaces/src/core-p2p/network-monitor.ts
  packages/core-p2p/src/defaults.ts
  packages/core-p2p/src/enums.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/network-state.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/socket-server/index.ts
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/testnet/plugins.js
Due: yarn lint, prettier --write

feat(core-api): search transactions by asset (#2618)
  __tests__/integration/core-api/handlers/transactions.test.ts
  packages/core-api/src/handlers/transactions/schema.ts
  packages/core-database-postgres/src/models/transaction.ts
  packages/core-database/src/repositories/utils/search-parameter-converter.ts
  packages/core-interfaces/src/core-database/search/search-parameters.ts
Due: yarn lint, prettier --write

chore(deps): update dependencies to latest versions
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-forger/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  packages/crypto/package.json
  scripts/deps/update.sh
Due: prettier --write

docs: 2.5.0 changelog
  CHANGELOG.md
Due: prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
