Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

refactor(core-p2p): timeouts for peer socket messages
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

fix: use specified timeout if < default
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

refactor(core-p2p): timeouts for peer socket messages (#3439)
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

fix: apply genesis wallet exception to lastForgedBlocks
  packages/core-transactions/src/handlers/delegate-registration.ts
Due: yarn lint, prettier --write

refactor: use hasAttribute
  packages/core-transactions/src/handlers/delegate-registration.ts
Due: yarn lint, prettier --write

fix(core-transactions): apply genesis wallet exception to lastForgedBlocks (#3440)
  packages/core-transactions/src/handlers/delegate-registration.ts
Due: yarn lint, prettier --write

release: 2.6.0-next.10
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.6.0-next.10 (#3441)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

types(core-state): add types to delegateAttribute
  packages/core-state/src/block-state.ts
Due: yarn lint, prettier --write

refactor: use received transactions to calculate supply
  packages/core-utils/src/supply-calculator.ts
Due: yarn lint, prettier --write

release: 2.6.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.6.0 (#3454)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore(deps): update node.js to v12.15.0
  .nvmrc
Due: none

chore(deps): update dependency @types/scc-broker-client to v7
  packages/core-p2p/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/socketcluster-client to v15
  packages/core-forger/package.json
  packages/core-p2p/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency rate-limiter-flexible to v2
  packages/core-p2p/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency scc-broker-client to v8
  packages/core-p2p/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency socketcluster to v16
  packages/core-p2p/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency socketcluster-client to v16
  packages/core-forger/package.json
  packages/core-p2p/package.json
  yarn.lock
Due: prettier --write

fix(deps): update hapijs monorepo
  packages/core-api/package.json
  packages/core-container/package.json
  packages/core-elasticsearch/package.json
  packages/core-http-utils/package.json
  packages/core-p2p/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  yarn.lock
Due: prettier --write

chore: merge patch from master
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

chore: use @arkecosystem/exchange-json-rpc:2.0.0
  packages/core-exchange-json-rpc/package.json
Due: prettier --write

chore(core-p2p): merge patch from master (#3456)
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

refactor: subtract amounts for the same sender only once
  packages/core-utils/src/supply-calculator.ts
Due: yarn lint, prettier --write

fix(core-p2p): only accept valid http path
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

feat(core): add flag to skip export of rolled back transactions
  packages/core-snapshots/src/manager.ts
  packages/core/src/commands/snapshot/rollback.ts
Due: yarn lint, prettier --write

test: fix worker unit test
  __tests__/unit/core-p2p/socket-server/worker.test.ts
Due: yarn lint, prettier --write

style(core-transaction-pool): fix import order
  packages/core-transaction-pool/src/cleaner.ts
Due: yarn lint, prettier --write

chore: update aip11 milestone + update p2p minver defaults
  packages/core-p2p/src/defaults.ts
  packages/crypto/src/networks/mainnet/milestones.json
Due: yarn lint, prettier --write

chore: update aip11 milestone + update p2p minver defaults (#3460)
  packages/core-p2p/src/defaults.ts
  packages/crypto/src/networks/mainnet/milestones.json
Due: yarn lint, prettier --write

fix(deps): update dependency @arkecosystem/exchange-json-rpc to v2
  packages/core-exchange-json-rpc/package.json
  yarn.lock
Due: prettier --write

wip
  yarn.lock
Due: none

test: fix minver unit test
  __tests__/unit/core-p2p/utils/is-valid-version.test.ts
Due: yarn lint, prettier --write

test: 2.5.0 and 2.4.0 versions should be invalid
  __tests__/unit/core-p2p/utils/is-valid-version.test.ts
Due: yarn lint, prettier --write

test(core-p2p): fix minver unit test (#3462)
  __tests__/unit/core-p2p/utils/is-valid-version.test.ts
Due: yarn lint, prettier --write

chore(exchange-json-rpc): use @arkecosystem/exchange-json-rpc@2.0.0 (#3458)
  packages/core-exchange-json-rpc/package.json
  yarn.lock
Due: prettier --write

release: 2.6.1
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

feat(core-api): filter peers by version range
  packages/core-api/src/handlers/peers/controller.ts
Due: yarn lint, prettier --write

chore(deps): update node.js to v12.16.0
  .nvmrc
Due: none

tests: add integration tests
  __tests__/integration/core-api/handlers/peers.test.ts
  packages/core-api/src/handlers/peers/controller.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
