Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

Fix type-fest
  packages/core-kernel/src/types/index.ts
Due: yarn lint, prettier --write

Upgrade ngrok
  packages/core/package.json
  yarn.lock
Due: prettier --write

Upgrade moment-timezone
  package.json
  yarn.lock
Due: prettier --write

Update semver
  packages/core-api/package.json
  packages/core-cli/package.json
  packages/core-kernel/package.json
  packages/core-p2p/package.json
  yarn.lock
Due: prettier --write

Upgrade typeorm
  packages/core-database/package.json
  yarn.lock
Due: prettier --write

Update lerna
  package.json
  yarn.lock
Due: prettier --write

Lerna repair
  lerna.json
  package.json
  tsconfig.json
Due: prettier --write

Fix lerna scripts
  package.json
Due: prettier --write

Fix parser TS issues
  packages/core-cli/src/input/parser.ts
Due: yarn lint, prettier --write

Remove bootstrap
  package.json
Due: prettier --write

Fix CI
  .github/workflows/lint.yml
Due: none

deps: update `lerna` to 7.1.4 (#4792)
  .github/workflows/lint.yml
  lerna.json
  package.json
  packages/core-cli/src/input/parser.ts
  tsconfig.json
  yarn.lock
Due: yarn lint, prettier --write

Upgrade typescript
  package.json
  packages/core-cli/src/commands/command.ts
  packages/core-cli/src/services/source-providers/abstract-source.ts
  packages/core-kernel/src/providers/service-provider.ts
  packages/core-kernel/src/services/triggers/action.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-p2p/src/hapi-nes/client.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/socket-server/plugins/await-block.ts
  packages/core-snapshots/src/database-service.ts
  packages/core-snapshots/src/workers/actions/abstract-worker-action.ts
  packages/core-snapshots/src/workers/actions/test-worker-action.ts
  packages/core-snapshots/src/workers/worker-wrapper.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core/src/commands/network-generate.ts
  yarn.lock
Due: yarn lint, prettier --write

Yarn.lock
  yarn.lock
Due: none

Fix snapshot tests
  __tests__/unit/core-snapshots/workers/actions/test-worker-action.test.ts
  __tests__/unit/core-snapshots/workers/actions/worker-action.test.ts
  __tests__/unit/core-snapshots/workers/read-processor.test.ts
  __tests__/unit/core-snapshots/workers/worker-thread.test.ts
  __tests__/unit/core-snapshots/workers/worker-wrapper.test.ts
Due: yarn lint, prettier --write

Fix state tests
  __tests__/unit/core-state/block-state.test.ts
  __tests__/unit/core-state/round-state.test.ts
Due: yarn lint, prettier --write

Fix core-p2p tests
  __tests__/unit/core-p2p/hapi-nes/client.test.ts
  __tests__/unit/core-p2p/hapi-nes/socket.test.ts
Due: yarn lint, prettier --write

Fix core-kernel types
  __tests__/unit/core-kernel/services/schedule/block-job.test.ts
  __tests__/unit/core-kernel/utils/lock.test.ts
Due: yarn lint, prettier --write

Fix core-forger tests
  __tests__/unit/core-forger/mocks/nes.ts
Due: yarn lint, prettier --write

Fix core tests
  __tests__/unit/core/commands/core-run.test.ts
  __tests__/unit/core/commands/forger-run.test.ts
  __tests__/unit/core/commands/relay-run.test.ts
Due: yarn lint, prettier --write

Fix commands tests
  __tests__/unit/core/commands/snapshot-dump.test.ts
  __tests__/unit/core/commands/snapshot-restore.test.ts
  __tests__/unit/core/commands/snapshot-rollback.test.ts
  __tests__/unit/core/commands/snapshot-truncate.test.ts
  __tests__/unit/core/commands/snapshot-verify.test.ts
Due: yarn lint, prettier --write

Skip sleep tests
  __tests__/unit/core-p2p/network-monitor.test.ts
Due: yarn lint, prettier --write

deps: upgrade `typescript` to 4.1.6 (#4793)
  __tests__/unit/core-forger/mocks/nes.ts
  __tests__/unit/core-kernel/services/schedule/block-job.test.ts
  __tests__/unit/core-kernel/utils/lock.test.ts
  __tests__/unit/core-p2p/hapi-nes/client.test.ts
  __tests__/unit/core-p2p/hapi-nes/socket.test.ts
  __tests__/unit/core-p2p/network-monitor.test.ts
  __tests__/unit/core-snapshots/workers/actions/test-worker-action.test.ts
  __tests__/unit/core-snapshots/workers/actions/worker-action.test.ts
  __tests__/unit/core-snapshots/workers/read-processor.test.ts
  __tests__/unit/core-snapshots/workers/worker-thread.test.ts
  __tests__/unit/core-snapshots/workers/worker-wrapper.test.ts
  __tests__/unit/core-state/block-state.test.ts
  __tests__/unit/core-state/round-state.test.ts
  __tests__/unit/core/commands/core-run.test.ts
  __tests__/unit/core/commands/forger-run.test.ts
  __tests__/unit/core/commands/relay-run.test.ts
  __tests__/unit/core/commands/snapshot-dump.test.ts
  __tests__/unit/core/commands/snapshot-restore.test.ts
  __tests__/unit/core/commands/snapshot-rollback.test.ts
  __tests__/unit/core/commands/snapshot-truncate.test.ts
  __tests__/unit/core/commands/snapshot-verify.test.ts
  package.json
  packages/core-cli/src/commands/command.ts
  packages/core-cli/src/services/source-providers/abstract-source.ts
  packages/core-kernel/src/providers/service-provider.ts
  packages/core-kernel/src/services/triggers/action.ts
  packages/core-kernel/src/types/index.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-p2p/src/hapi-nes/client.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/socket-server/plugins/await-block.ts
  packages/core-snapshots/src/database-service.ts
  packages/core-snapshots/src/workers/actions/abstract-worker-action.ts
  packages/core-snapshots/src/workers/actions/test-worker-action.ts
  packages/core-snapshots/src/workers/worker-wrapper.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core/src/commands/network-generate.ts
  yarn.lock
Due: yarn lint, prettier --write

Update madge
  package.json
  yarn.lock
Due: prettier --write

Remove lodash types
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

yarn.lock
  yarn.lock
Due: none

deps: update packages (#4794)
  package.json
  packages/core-api/package.json
  packages/core-cli/package.json
  packages/core-kernel/package.json
  packages/core-p2p/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

Fix version.sh
  scripts/version.sh
Due: none

release: 3.8.2-rc.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.8.2-rc.0 (#4795)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  scripts/version.sh
Due: prettier --write

Update script
  install.sh
Due: none

refactor: update `install.sh` (#4797)
  install.sh
Due: none

fix(core-api): add `address` into transactionQueryLevelOptions (#4790)
  packages/core-api/src/resources-new/transaction.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
