Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

test: e2e fix bridgechain registration
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/utils.js
Due: none

test(e2e): bridgechain repo + asset repo
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/3.1.check-bridgechain-registration.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/4.1.check-bridgechain-update.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/utils.js
Due: none

refactor(core-api): wallet transform (#3312)
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/1.1.check-business-registration.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/2.1.check-business-update.test.js
  __tests__/integration/core-api/handlers/businesses.test.ts
  __tests__/integration/core-api/handlers/wallets.test.ts
  packages/core-api/src/handlers/businesses/methods.ts
  packages/core-api/src/handlers/businesses/schema.ts
  packages/core-api/src/handlers/businesses/transformer.ts
  packages/core-api/src/handlers/wallets/transformer.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet.ts
Due: yarn lint, prettier --write

fix: throw is no bridgechains at all for wallet
  packages/core-magistrate-transactions/src/errors.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
Due: yarn lint, prettier --write

test: unit tests for bridgechain handlers
  __tests__/unit/core-magistrate/handlers/bridgechain-registration.test.ts
  __tests__/unit/core-magistrate/handlers/bridgechain-resignation.test.ts
  __tests__/unit/core-magistrate/handlers/bridgechain-update.test.ts
  __tests__/unit/core-magistrate/helper.ts
Due: yarn lint, prettier --write

refactor: bridgechain asset repo optional
  packages/core-magistrate-crypto/src/interfaces.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-registration.ts
Due: yarn lint, prettier --write

test: for bridgechain asset repo optional
  __tests__/functional/transaction-forging/bridgechain-registration.test.ts
  __tests__/unit/core-magistrate/handlers/bridgechain-registration.test.ts
  __tests__/unit/core-magistrate/handlers/bridgechain-update.test.ts
  __tests__/unit/core-magistrate/helper.ts
Due: yarn lint, prettier --write

feat: retrieve business by username, address or public key
  __tests__/integration/core-api/handlers/businesses.test.ts
  packages/core-api/src/handlers/businesses/methods.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
Due: yarn lint, prettier --write

test: fix failing
  __tests__/integration/core-api/handlers/businesses.test.ts
Due: yarn lint, prettier --write

fix: search business by address/username
  packages/core-api/src/handlers/businesses/methods.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
Due: yarn lint, prettier --write

test: search business by address/username
  __tests__/integration/core-api/handlers/businesses.test.ts
Due: yarn lint, prettier --write

refactor: added state=blockchain tag to wallet repository and handler repository references
  __tests__/functional/transaction-forging/__support__/index.ts
  __tests__/functional/transaction-forging/delegate-resignation.test.ts
  __tests__/integration/core-api/__support__/setup.ts
  __tests__/integration/core-api/handlers/delegates.test.ts
  __tests__/integration/core-api/handlers/locks.test.ts
  __tests__/integration/core-api/handlers/wallets.test.ts
  packages/core-api/src/controllers/delegates.ts
  packages/core-api/src/controllers/locks.ts
  packages/core-api/src/controllers/node.ts
  packages/core-api/src/controllers/transactions.ts
  packages/core-api/src/controllers/wallets.ts
  packages/core-api/src/resources/block.ts
  packages/core-api/src/resources/transaction.ts
  packages/core-blockchain/src/processor/block-processor.ts
  packages/core-database/src/database-service.ts
  packages/core-database/src/service-provider.ts
  packages/core-forger/src/delegate-tracker.ts
  packages/core-kernel/src/ioc/index.ts
  packages/core-kernel/src/ioc/selectors.ts
  packages/core-magistrate-api/src/controllers/bridgechains.ts
  packages/core-magistrate-api/src/controllers/businesses.ts
  packages/core-magistrate-transactions/src/service-provider.ts
  packages/core-state/src/block-state.ts
  packages/core-state/src/service-provider.ts
  packages/core-state/src/state-builder.ts
  packages/core-test-framework/src/utils/generic.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/dynamic-fee-matcher.ts
  packages/core-transaction-pool/src/pool-wallet-repository.ts
  packages/core-transaction-pool/src/processor.ts
  packages/core-transactions/src/handlers/handler-provider.ts
  packages/core-transactions/src/service-provider.ts
Due: yarn lint, prettier --write

refactor: do not include /api prefix in pagination
  packages/core-api/src/plugins/pagination/ext.ts
Due: yarn lint, prettier --write

fix: messed up between variables
  packages/core-api/src/plugins/pagination/ext.ts
Due: yarn lint, prettier --write

feat(core-magistrate): add bridgechain asset repository (bridgechain registration and update) (#3375)
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/3.1.check-bridgechain-registration.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/4.1.check-bridgechain-update.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/utils.js
  __tests__/functional/transaction-forging/bridgechain-registration.test.ts
  __tests__/functional/transaction-forging/bridgechain-resignation.test.ts
  __tests__/functional/transaction-forging/bridgechain-update.test.ts
  __tests__/unit/core-magistrate/builders/bridgechain-update.test.ts
  __tests__/unit/core-magistrate/handlers/bridgechain-registration.test.ts
  __tests__/unit/core-magistrate/handlers/bridgechain-resignation.test.ts
  __tests__/unit/core-magistrate/handlers/bridgechain-update.test.ts
  __tests__/unit/core-magistrate/helper.ts
  __tests__/unit/core-magistrate/transactions/bridgechain-registration.test.ts
  __tests__/unit/core-magistrate/transactions/bridgechain-update.test.ts
  __tests__/unit/core-magistrate/wallet.test.ts
  packages/core-magistrate-crypto/src/builders/bridgechain-registration.ts
  packages/core-magistrate-crypto/src/interfaces.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-registration.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-update.ts
  packages/core-magistrate-transactions/src/errors.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
Due: yarn lint, prettier --write

test: api pagination meta data
  __tests__/integration/core-api/handlers/blocks.test.ts
  __tests__/integration/core-api/handlers/bridgechains.test.ts
  __tests__/integration/core-api/handlers/businesses.test.ts
  __tests__/integration/core-api/handlers/delegates.test.ts
  __tests__/integration/core-api/handlers/locks.test.ts
  __tests__/integration/core-api/handlers/peers.test.ts
  __tests__/integration/core-api/handlers/transactions.test.ts
  __tests__/integration/core-api/handlers/votes.test.ts
  __tests__/integration/core-api/handlers/wallets.test.ts
Due: yarn lint, prettier --write

test: fix integration test
  __tests__/integration/core-api/handlers/transactions.test.ts
Due: yarn lint, prettier --write

refactor: turn around if/else
  packages/core-api/src/handlers/businesses/methods.ts
Due: yarn lint, prettier --write

refactor: use it.each in tests
  __tests__/integration/core-api/handlers/businesses.test.ts
Due: yarn lint, prettier --write

refactor: tagged pool wallet repository usages state=pool
  packages/core-kernel/src/ioc/identifiers.ts
  packages/core-transaction-pool/src/cleaner.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/processor.ts
  packages/core-transaction-pool/src/service-provider.ts
Due: yarn lint, prettier --write

refactor: use wallet repositort with `state=temp` tag instead of temp repository
  packages/core-database/src/database-service.ts
  packages/core-database/src/repositories/round-repository.ts
  packages/core-kernel/src/contracts/state/dpos.ts
  packages/core-kernel/src/contracts/state/index.ts
  packages/core-kernel/src/contracts/state/wallets.ts
  packages/core-kernel/src/ioc/identifiers.ts
  packages/core-p2p/src/peer-verifier.ts
  packages/core-state/src/block-state.ts
  packages/core-state/src/dpos/dpos-previous-round.ts
  packages/core-state/src/dpos/dpos.ts
  packages/core-state/src/dpos/index.ts
  packages/core-state/src/service-provider.ts
  packages/core-state/src/state-builder.ts
  packages/core-state/src/wallets/index.ts
  packages/core-state/src/wallets/temp-wallet-repository.ts
  packages/core-state/src/wallets/wallet-repository.ts
  packages/core-state/src/wallets/wallet-state.ts
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

fix(deps): update dependency @hapi/hapi to v19
  packages/core-http-utils/package.json
  yarn.lock
Due: prettier --write

refactor(core-api): do not include /api prefix in pagination (#3381)
  __tests__/integration/core-api/handlers/blocks.test.ts
  __tests__/integration/core-api/handlers/bridgechains.test.ts
  __tests__/integration/core-api/handlers/businesses.test.ts
  __tests__/integration/core-api/handlers/delegates.test.ts
  __tests__/integration/core-api/handlers/locks.test.ts
  __tests__/integration/core-api/handlers/peers.test.ts
  __tests__/integration/core-api/handlers/transactions.test.ts
  __tests__/integration/core-api/handlers/votes.test.ts
  __tests__/integration/core-api/handlers/wallets.test.ts
  packages/core-api/src/plugins/pagination/ext.ts
Due: yarn lint, prettier --write

fix(deps): update dependency @hapi/sntp to v4
  packages/core-p2p/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @hapi/vision to v6
  packages/core-vote-report/package.json
  yarn.lock
Due: prettier --write

feat(core-api): retrieve business by username, address or public key (#3379)
  __tests__/integration/core-api/handlers/businesses.test.ts
  packages/core-api/src/handlers/businesses/methods.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
Due: yarn lint, prettier --write

fix(deps): update dependency pg-query-stream to v3
  packages/core-snapshots/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @hapi/good to v9
  packages/core-http-utils/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @hapi/good-console to v9
  packages/core-http-utils/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @hapi/good-squeeze to v6
  packages/core-http-utils/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @hapi/h2o2 to v9
  packages/core-wallet-api/package.json
  yarn.lock
Due: prettier --write

fix(core-p2p): block payloads with additional properties
  __tests__/integration/core-p2p/socket-server/peer-with-remote-access.test.ts
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-p2p/src/socket-server/worker.ts
  packages/crypto/src/networks/unitnet/milestones.json
Due: yarn lint, prettier --write

test: added unit tests for business-resignation type
  __tests__/unit/core-magistrate/handlers/business-resignation.test.ts
Due: yarn lint, prettier --write

fix: relax network interface check for seednode ips
  __tests__/unit/crypto/utils/is-valid-peer.test.ts
  packages/crypto/src/utils/is-valid-peer.ts
  packages/crypto/src/validation/formats.ts
Due: yarn lint, prettier --write

test: business-update and business-resignation
  __tests__/unit/core-magistrate/handlers/business-handlers.test.ts
  __tests__/unit/core-magistrate/handlers/business-update.test.ts
Due: yarn lint, prettier --write

fix(core-p2p): disconnect if event does not have a defined handler
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  __tests__/unit/core-p2p/socket-server/worker.test.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix(core-p2p): block invalid opcode packets
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix(core-p2p): disconnect existing connections from the same ip
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

perf(core-p2p): use shared rate limiter for defined endpoints only
  __tests__/unit/core-p2p/mocks/request.ts
  __tests__/unit/core-p2p/socket-server/versions/internal/handlers/rate-limiter.test.ts
  __tests__/unit/core-p2p/socket-server/worker.test.ts
  packages/core-interfaces/src/core-p2p/network-monitor.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/rate-limiter.ts
  packages/core-p2p/src/socket-server/versions/internal.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
