Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

refactor: add valid iteratees for each resource
  packages/core-api/src/handlers/blocks/schema.ts
  packages/core-api/src/handlers/bridgechains/schema.ts
  packages/core-api/src/handlers/businesses/schema.ts
  packages/core-api/src/handlers/delegates/schema.ts
  packages/core-api/src/handlers/locks/schema.ts
  packages/core-api/src/handlers/peers/schema.ts
  packages/core-api/src/handlers/shared/iteratees.ts
  packages/core-api/src/handlers/transactions/schema.ts
  packages/core-api/src/handlers/votes/schema.ts
  packages/core-api/src/handlers/wallets/schema.ts
  packages/core-database/src/repositories/utils/search-entries.ts
  packages/core-database/src/repositories/utils/sort-entries.ts
Due: yarn lint, prettier --write

refactor(core-transaction-pool): adjust to new infrastructure
  packages/core-api/src/controllers/transactions.ts
  packages/core-kernel/src/contracts/transaction-pool/connection.ts
  packages/core-kernel/src/ioc/identifiers.ts
  packages/core-p2p/src/socket-server/versions/peer.ts
  packages/core-test-framework/src/app/generators/crypto.ts
  packages/core-test-framework/src/app/generators/generator.ts
  packages/core-test-framework/src/utils/generic.ts
  packages/core-transaction-pool/src/cleaner.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/dynamic-fee-matcher.ts
  packages/core-transaction-pool/src/dynamic-fee.ts
  packages/core-transaction-pool/src/factory.ts
  packages/core-transaction-pool/src/index.ts
  packages/core-transaction-pool/src/listeners.ts
  packages/core-transaction-pool/src/memory.ts
  packages/core-transaction-pool/src/pool-wallet-repository.ts
  packages/core-transaction-pool/src/processor.ts
  packages/core-transaction-pool/src/service-provider.ts
  packages/core-transaction-pool/src/storage.ts
  packages/core-transaction-pool/src/synchronizer.ts
Due: yarn lint, prettier --write

fix: correct lock iteratees
  packages/core-api/src/handlers/wallets/schema.ts
Due: yarn lint, prettier --write

chore: setup madge to detect circular dependencies
  .gitignore
  package.json
  yarn.lock
Due: prettier --write

chore(core-database): update TypeORM to support PG12
  .github/workflows/functional.yml
  .github/workflows/test.yml
  packages/core-blockchain/src/processor/handlers/exception-handler.ts
  packages/core-blockchain/src/processor/handlers/invalid-generator-handler.ts
  packages/core-blockchain/src/processor/handlers/verification-failed-handler.ts
  packages/core-blockchain/src/state-machine/state-machine.ts
  packages/core-database/package.json
  yarn.lock
Due: yarn lint, prettier --write

fix(deps): update dependency cpy-cli to v3
  packages/core-database-postgres/package.json
  packages/core-snapshots/package.json
  yarn.lock
Due: prettier --write

refactor: add additional wallet iteratees
  packages/core-api/src/handlers/shared/iteratees.ts
  packages/core-database/src/repositories/utils/search-entries.ts
Due: yarn lint, prettier --write

feat(core-api): include the input on schema error
  packages/core-api/src/handlers/transactions/schema.ts
Due: yarn lint, prettier --write

feat: stricter p2p msg check + ip blocking
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

chore: purge ipLastError every hour
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

test: fix socket server tests
  __tests__/integration/core-p2p/socket-server/peer.test.ts
Due: yarn lint, prettier --write

release: 2.5.30
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.5.30 (#3332)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

test: simplify e2e init & network launch
  .github/workflows/test.yml
  __tests__/e2e/bin/e2e
  __tests__/e2e/lib/config/docker-compose.yml
  __tests__/e2e/lib/config/docker/Dockerfile-10.x
  __tests__/e2e/lib/config/docker/Dockerfile-12.x
  __tests__/e2e/lib/config/docker/ark-network-start.sh
  __tests__/e2e/lib/config/docker/ark.sh
  __tests__/e2e/lib/config/docker/docker-compose-stack.yml
  __tests__/e2e/lib/config/docker/docker-compose.yml
  __tests__/e2e/lib/config/docker/docker-init.sh
  __tests__/e2e/lib/config/docker/docker-start.sh
  __tests__/e2e/lib/config/docker/entrypoint.sh
  __tests__/e2e/lib/config/nginx/docker-compose.yml
  __tests__/e2e/lib/config/nginx/nginx.conf
  __tests__/e2e/lib/config/nodes/Dockerfile
  __tests__/e2e/lib/config/nodes/core0/.env
  __tests__/e2e/lib/config/nodes/core0/delegates.json
  __tests__/e2e/lib/config/nodes/core0/peers.json
  __tests__/e2e/lib/config/nodes/core0/plugins.js
  __tests__/e2e/lib/config/nodes/core1/.env
  __tests__/e2e/lib/config/nodes/core1/delegates.json
  __tests__/e2e/lib/config/nodes/core1/peers.json
  __tests__/e2e/lib/config/nodes/core1/plugins.js
  __tests__/e2e/lib/config/nodes/core2/.env
  __tests__/e2e/lib/config/nodes/core2/delegates.json
  __tests__/e2e/lib/config/nodes/core2/peers.json
  __tests__/e2e/lib/config/nodes/core2/plugins.js
  __tests__/e2e/lib/config/peer-discovery/Dockerfile
  __tests__/e2e/lib/config/peer-discovery/index.js
  __tests__/e2e/lib/config/peer-discovery/package.json
  __tests__/e2e/lib/docker.js
  __tests__/e2e/lib/generate.js
  __tests__/e2e/lib/run.js
  __tests__/e2e/lib/utils/copy-core.sh
  __tests__/e2e/lib/utils/test-utils.js
Due: prettier --write

chore: debug e2e init on github
  .github/workflows/test.yml
Due: none

chore: testnet milestone aip11 from height 2
  .github/workflows/test.yml
  packages/crypto/src/networks/testnet/milestones.json
Due: prettier --write

test: fix failing tests
  __tests__/e2e/tests/scenarios/scenario1/chained-tx/0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/htlc-claim/1.create-lock-txs.action.js
  __tests__/e2e/tests/scenarios/scenario1/htlc-claim/config.js
  __tests__/e2e/tests/scenarios/scenario1/htlc-refund/1.create-lock-txs.action.js
  __tests__/e2e/tests/scenarios/scenario1/htlc-refund/config.js
  __tests__/e2e/tests/scenarios/scenario1/multisig-htlc-claim/4.create-lock-multisig-txs.action.js
  __tests__/e2e/tests/scenarios/scenario1/multisig-htlc-claim/config.js
  __tests__/e2e/tests/scenarios/scenario1/multisig-htlc-refund/4.create-lock-multisig-txs.action.js
  __tests__/e2e/tests/scenarios/scenario1/multisig-htlc-refund/config.js
Due: none

test: e2e tests fixes
  __tests__/e2e/tests/scenarios/scenario1/chained-tx/2.check-AtoB-forged.test.js
  __tests__/e2e/tests/scenarios/scenario1/chained-tx/4.check-BtoC-forged.test.js
  __tests__/e2e/tests/scenarios/scenario1/htlc-claim/2.check-lock.test.js
  __tests__/e2e/tests/scenarios/scenario1/htlc-claim/4.check-claim.test.js
  __tests__/e2e/tests/scenarios/scenario1/htlc-refund/2.check-lock.test.js
  __tests__/e2e/tests/scenarios/scenario1/htlc-refund/4.check-refund.test.js
  __tests__/e2e/tests/scenarios/scenario1/multisig-htlc-claim/2.check-registration.test.js
  __tests__/e2e/tests/scenarios/scenario1/multisig-htlc-claim/6.check-multisig.test.js
  __tests__/e2e/tests/scenarios/scenario1/multisig-htlc-refund/2.check-registration.test.js
  __tests__/e2e/tests/scenarios/scenario1/multisig-htlc-refund/6.check-multisig.test.js
  __tests__/e2e/tests/scenarios/scenario1/multisig-htlc-refund/config.js
  __tests__/e2e/tests/scenarios/scenario1/multisignature/2.check-registration.test.js
  __tests__/e2e/tests/scenarios/scenario1/multisignature/6.check-multisig.test.js
Due: none

test: refactor e2e test init
  __tests__/e2e/lib/config/nodes/core0/peers.json
  __tests__/e2e/lib/config/nodes/core1/peers.json
  __tests__/e2e/lib/config/nodes/core2/peers.json
  __tests__/e2e/lib/run.js
  __tests__/e2e/lib/utils/test-utils.js
  __tests__/e2e/tests/scenarios/scenario1/htlc-claim/0.transfer-new-wallet.action.js
Due: prettier --write

fix(core-state): use parent findByPublicKey method for temp-wallet-manager
  packages/core-state/src/wallets/temp-wallet-manager.ts
Due: yarn lint, prettier --write

feat(core): write genesis wallet info to file in network command
  packages/core/src/commands/network/generate.ts
Due: yarn lint, prettier --write

fix(core): network command generates invalid genesis
  packages/core/src/commands/network/generate.ts
Due: yarn lint, prettier --write

test: fix unit tests
  __tests__/unit/core-state/wallets/wallet-manager.test.ts
  __tests__/unit/core-transaction-pool/connection.forging.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  __tests__/unit/crypto/transactions/schemas.test.ts
Due: yarn lint, prettier --write

test: fix unit tests
  __tests__/unit/core-blockchain/processor/block-processor.test.ts
  __tests__/unit/core-magistrate/builders/bridgechain-registration.test.ts
  __tests__/unit/core-magistrate/builders/bridgechain-resignation.test.ts
  __tests__/unit/core-magistrate/builders/bridgechain-update.test.ts
  __tests__/unit/core-magistrate/builders/business-registration.test.ts
  __tests__/unit/core-magistrate/builders/business-resignation.test.ts
  __tests__/unit/core-magistrate/builders/business-update.test.ts
  __tests__/unit/core-magistrate/handlers/bridgechain-handlers.test.ts
  __tests__/unit/core-magistrate/handlers/business-handlers.test.ts
  __tests__/unit/core-magistrate/handlers/business-registration.test.ts
  __tests__/unit/core-magistrate/handlers/business-resignation.test.ts
  __tests__/unit/core-magistrate/handlers/handlers.test.ts
  __tests__/unit/core-magistrate/transactions/bridgechain-registration.test.ts
  __tests__/unit/core-magistrate/transactions/bridgechain-resignation.test.ts
  __tests__/unit/core-magistrate/transactions/bridgechain-update.test.ts
  __tests__/unit/core-magistrate/transactions/business-registration.test.ts
  __tests__/unit/core-magistrate/transactions/business-resgination.test.ts
  __tests__/unit/core-magistrate/transactions/business-update.test.ts
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/crypto/crypto/hash.test.ts
  __tests__/unit/crypto/transactions/builders/transactions/__shared__/transaction-builder.ts
  __tests__/unit/crypto/transactions/builders/transactions/multi-signature.test.ts
  __tests__/unit/crypto/transactions/signer.test.ts
  __tests__/unit/crypto/transactions/utils.test.ts
  __tests__/unit/crypto/transactions/verifier.test.ts
Due: yarn lint, prettier --write

test: going up to 5 nodes for e2e network
  __tests__/e2e/lib/config/docker-compose.yml
  __tests__/e2e/lib/config/nginx/nginx.conf
  __tests__/e2e/lib/config/nodes/core0/delegates.json
  __tests__/e2e/lib/config/nodes/core1/delegates.json
  __tests__/e2e/lib/config/nodes/core1/plugins.js
  __tests__/e2e/lib/config/nodes/core2/plugins.js
  __tests__/e2e/lib/config/nodes/core3/.env
  __tests__/e2e/lib/config/nodes/core3/delegates.json
  __tests__/e2e/lib/config/nodes/core3/peers.json
  __tests__/e2e/lib/config/nodes/core3/plugins.js
  __tests__/e2e/lib/config/nodes/core4/.env
  __tests__/e2e/lib/config/nodes/core4/delegates.json
  __tests__/e2e/lib/config/nodes/core4/peers.json
  __tests__/e2e/lib/config/nodes/core4/plugins.js
Due: prettier --write

test: fix functional tests
  __tests__/functional/transaction-forging/multi-signature-registration.test.ts
  __tests__/functional/transaction-forging/transfer.test.ts
Due: yarn lint, prettier --write

Revert "fix(core-state): use parent findByPublicKey method"
  packages/core-state/src/wallets/temp-wallet-manager.ts
Due: yarn lint, prettier --write

refactor(core-state): take voteBalance updates out of apply/revert block functions
  packages/core-state/src/block-state.ts
Due: yarn lint, prettier --write

fix: throw error on vendorField length violation
  packages/crypto/src/errors.ts
  packages/crypto/src/transactions/builders/transactions/transaction.ts
Due: yarn lint, prettier --write

test: remove bad test
  __tests__/unit/crypto/transactions/schemas.test.ts
Due: yarn lint, prettier --write

test: add vendorField length validation test
  __tests__/unit/crypto/transactions/builders/transactions/transfer.test.ts
Due: yarn lint, prettier --write

test: remove irrelevant code
  __tests__/unit/crypto/transactions/schemas.test.ts
Due: yarn lint, prettier --write

test: add "sender only indexed by address" test
  __tests__/unit/core-transaction-pool/connection.forging.test.ts
Due: yarn lint, prettier --write

docs: update readme
  __tests__/e2e/README.md
  __tests__/e2e/TechnicalDetails.md
Due: prettier --write

fix(crypto): throw error instead of omitting long vendorField values (#3338)
  __tests__/unit/crypto/transactions/builders/transactions/transfer.test.ts
  __tests__/unit/crypto/transactions/schemas.test.ts
  packages/crypto/src/errors.ts
  packages/crypto/src/transactions/builders/transactions/transaction.ts
Due: yarn lint, prettier --write

chore(deps): update dependency npm-check-updates to v4
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
