Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

refactor(core-database-postgres): exit on unexpected error (#2744)
  packages/core-database-postgres/src/postgres-connection.ts
Due: yarn lint, prettier --write

chore: yarn.lock
  yarn.lock
Due: none

fix: remove unused statement
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

fix: block header schema
  __tests__/unit/crypto/validation/validator.test.ts
  packages/core-p2p/src/schemas.ts
  packages/crypto/src/validation/index.ts
  packages/crypto/src/validation/schemas.ts
  yarn.lock
Due: yarn lint, prettier --write

test: update mock
  __tests__/integration/core-p2p/peer-communicator.test.ts
Due: yarn lint, prettier --write

perf(core-p2p): download serialized blocks (#2743)
  __tests__/integration/core-p2p/peer-communicator.test.ts
  __tests__/unit/core-blockchain/mocks/database.ts
  __tests__/unit/core-state/mocks/database.ts
  __tests__/unit/crypto/validation/validator.test.ts
  packages/core-database-postgres/src/queries/blocks/height-range-with-transactions.sql
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database/src/database-service.ts
  packages/core-interfaces/src/core-database/database-repository/blocks-repository.ts
  packages/core-interfaces/src/core-database/database-service.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/schemas.ts
  packages/core-p2p/src/socket-server/versions/peer.ts
  packages/crypto/package.json
  packages/crypto/src/validation/schemas.ts
Due: yarn lint, prettier --write

refactor: multipayment tx amount = zero and handle individual amounts that are inside payments asset
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/multi-payment.ts
  packages/crypto/src/transactions/builders/transactions/multi-payment.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

refactor: rate limit ban
  packages/core-p2p/src/enums.ts
  packages/core-p2p/src/socket-server/rate-limiter.ts
  packages/core-p2p/src/socket-server/worker.ts
  packages/crypto/package.json
Due: yarn lint, prettier --write

refactor: move acceptNewPeer to internal endpoints
  __tests__/unit/core-p2p/socket-server/versions/peer/index.test.ts
  packages/core-p2p/src/socket-server/versions/internal.ts
  packages/core-p2p/src/socket-server/versions/peer.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

refactor: add rates for getStatus and getPeers
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

test: fix
  __tests__/integration/core-p2p/socket-server/peer.test.ts
Due: yarn lint, prettier --write

fix: always attempt to download blocks after start
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/state-machine.ts
Due: yarn lint, prettier --write

refactor(core-p2p): block when rate limit exceeded (#2745)
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  __tests__/unit/core-p2p/socket-server/versions/peer/index.test.ts
  packages/core-p2p/src/enums.ts
  packages/core-p2p/src/socket-server/rate-limiter.ts
  packages/core-p2p/src/socket-server/versions/internal.ts
  packages/core-p2p/src/socket-server/versions/peer.ts
  packages/core-p2p/src/socket-server/worker.ts
  packages/crypto/package.json
Due: yarn lint, prettier --write

fix(core-blockchain): always attempt to download blocks after start (#2746)
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/state-machine.ts
Due: yarn lint, prettier --write

refactor: multipayment amount zero in deserialize
  __tests__/unit/core-transactions/handler.test.ts
  packages/crypto/src/transactions/types/multi-payment.ts
Due: yarn lint, prettier --write

fix: findByPublicKey instead of byAddress
  packages/core-transactions/src/handlers/multi-payment.ts
Due: yarn lint, prettier --write

chore: updated wallet api by default in docker testnet env file
  docker/production/testnet/testnet.env
Due: none

release: 2.5.0-next.4
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.5.0-next.4 (#2747)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-utils): grant access if the whitelist is empty
  packages/core-api/src/defaults.ts
  packages/core-utils/src/is-whitelisted.ts
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/plugins.js
Due: yarn lint, prettier --write

asterisk
  packages/core-api/src/defaults.ts
Due: yarn lint, prettier --write

test
  __tests__/unit/core-utils/is-whitelisted.test.ts
Due: yarn lint, prettier --write

fix: pass options of dependency plugin
  packages/core-container/src/registrars/plugin.ts
Due: yarn lint, prettier --write

fix(core-utils): grant access if the whitelist is empty (#2748)
  __tests__/unit/core-utils/is-whitelisted.test.ts
  packages/core-api/src/defaults.ts
  packages/core-container/src/registrars/plugin.ts
  packages/core-utils/src/is-whitelisted.ts
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/plugins.js
Due: yarn lint, prettier --write

release: 2.5.0-next.5
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.5.0-next.5 (#2749)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix: do not purge transactions when a block is not accepted
  __tests__/unit/core-blockchain/mocks/transactionPool.ts
  __tests__/unit/core-state/mocks/transactionPool.ts
  __tests__/unit/core-transaction-pool/__stubs__/connection.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
  packages/core-blockchain/src/processor/handlers/accept-block-handler.ts
  packages/core-blockchain/src/processor/handlers/verification-failed-handler.ts
  packages/core-interfaces/src/core-transaction-pool/connection.ts
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

fix: do not purge transactions when a block is not accepted (#2751)
  __tests__/unit/core-blockchain/mocks/transactionPool.ts
  __tests__/unit/core-state/mocks/transactionPool.ts
  __tests__/unit/core-transaction-pool/__stubs__/connection.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
  packages/core-blockchain/src/processor/handlers/accept-block-handler.ts
  packages/core-blockchain/src/processor/handlers/verification-failed-handler.ts
  packages/core-interfaces/src/core-transaction-pool/connection.ts
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

release: 2.4.13
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.4.13 (#2752)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

feat(core-database-postgres): enforce chained blocks at database level
  packages/core-database-postgres/src/migrations/20190626000000-enforce-chained-blocks.sql
Due: none

refactor: check error code instead of exiting blindly
  packages/core-database-postgres/src/postgres-connection.ts
Due: yarn lint, prettier --write

fix: append the newly added migrations file to the list of migrations
  packages/core-database-postgres/src/migrations/index.ts
Due: yarn lint, prettier --write

fix: start monitor
  packages/core-blockchain/src/state-machine.ts
Due: yarn lint, prettier --write

fix: updated docker container to open redirect port 4040 to 4040 (to enable WALLET API)
  docker/production/testnet/docker-compose-build.yml
Due: none

fix: temporary wallet manager
  packages/core-database/src/database-service.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/index.ts
  packages/core-state/src/wallets/temp-wallet-manager.ts
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint, prettier --write

test: update
  __tests__/unit/core-database/database-service.test.ts
  __tests__/unit/core-state/wallets/temp-wallet-manager.test.ts
Due: yarn lint, prettier --write

fix: previous round order calculation (#2754)
  __tests__/unit/core-database/database-service.test.ts
  __tests__/unit/core-state/wallets/temp-wallet-manager.test.ts
  packages/core-blockchain/src/state-machine.ts
  packages/core-database/src/database-service.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/index.ts
  packages/core-state/src/wallets/temp-wallet-manager.ts
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint, prettier --write

refactor: remove blockSender
  __tests__/integration/core-p2p/mocks/core-container.ts
  __tests__/integration/core-transaction-pool/processor.test.ts
  __tests__/unit/core-transaction-pool/__stubs__/connection.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
  packages/core-interfaces/src/core-transaction-pool/connection.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/processor.ts
Due: yarn lint, prettier --write
