Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

fix: ask the user for the network they operate on and copy the correct config
  upgrade.js
Due: none

misc: logs
  upgrade.js
Due: none

test(crypto): increase model coverage (#2005)
  packages/crypto/__tests__/models/block.test.ts
  packages/crypto/__tests__/models/delegate.test.ts
  packages/crypto/__tests__/models/wallet.test.ts
  packages/crypto/src/models/wallet.ts
Due: yarn lint, prettier --write

chore(crypto): add devnet blocks and transactions exceptions
  packages/crypto/src/networks/devnet/exceptions.json
Due: prettier --write

chore(crypto): add devnet blocks and transactions exceptions (#2002)
  packages/crypto/src/networks/devnet/exceptions.json
Due: prettier --write

fix: allow config without data argument
  packages/core-container/src/environment.ts
  packages/core/src/index.ts
Due: yarn lint, prettier --write

refactor: add namespace to env paths
  packages/core-container/src/environment.ts
Due: yarn lint, prettier --write

refactor: utils export
  packages/core-p2p/src/monitor.ts
  packages/core-p2p/src/server/plugins/accept-request.ts
  packages/core-p2p/src/utils/check-dns.ts
  packages/core-p2p/src/utils/check-ntp.ts
  packages/core-p2p/src/utils/index.ts
  packages/core-p2p/src/utils/is-myself.ts
  packages/core-p2p/src/utils/is-whitelisted.ts
  packages/core-p2p/src/utils/restore-peers.ts
Due: yarn lint, prettier --write

refactor: dump and restore peers from new cache location
  packages/core-p2p/src/monitor.ts
  packages/core-p2p/src/utils/restore-peers.ts
Due: yarn lint, prettier --write

fix: tests
  packages/core-p2p/__tests__/utils/check-dns.test.ts
  packages/core-p2p/__tests__/utils/check-ntp.test.ts
  packages/core-p2p/__tests__/utils/is-myself.test.ts
  packages/core-p2p/__tests__/utils/is-whitelist.test.ts
  packages/core-p2p/src/utils/check-dns.ts
  packages/core-p2p/src/utils/check-ntp.ts
Due: yarn lint, prettier --write

fix: use localConfig
  packages/core-p2p/src/monitor.ts
  packages/core-p2p/src/utils/restore-peers.ts
Due: yarn lint, prettier --write

chore: move transaction pool db to cache directory
  packages/core-transaction-pool/src/defaults.ts
Due: yarn lint, prettier --write

fix: log path
  packages/core-logger-winston/src/defaults.ts
Due: yarn lint, prettier --write

chore: remove obsolete schema
  packages/core-container/src/config/schema.ts
Due: yarn lint, prettier --write

refactor: update storage paths (#2007)
  packages/core-container/src/config/schema.ts
  packages/core-container/src/environment.ts
  packages/core-logger-winston/src/defaults.ts
  packages/core-p2p/__tests__/utils/check-dns.test.ts
  packages/core-p2p/__tests__/utils/check-ntp.test.ts
  packages/core-p2p/__tests__/utils/is-myself.test.ts
  packages/core-p2p/__tests__/utils/is-whitelist.test.ts
  packages/core-p2p/src/monitor.ts
  packages/core-p2p/src/server/plugins/accept-request.ts
  packages/core-p2p/src/utils/check-dns.ts
  packages/core-p2p/src/utils/check-ntp.ts
  packages/core-p2p/src/utils/index.ts
  packages/core-p2p/src/utils/is-myself.ts
  packages/core-p2p/src/utils/is-whitelisted.ts
  packages/core-p2p/src/utils/restore-peers.ts
  packages/core-transaction-pool/src/defaults.ts
  packages/core/src/index.ts
Due: yarn lint, prettier --write

fix: move database files to correct directories
  packages/core-json-rpc/src/defaults.ts
  packages/core-transaction-pool/src/defaults.ts
  packages/core-webhooks/src/defaults.ts
  upgrade.js
Due: yarn lint, prettier --write

misc: adjust paths
  .gitignore
  package.json
  packages/core-webhooks/__tests__/__support__/setup.ts
Due: yarn lint, prettier --write

refactor: transaction builders add init values + getStruct fields
  packages/crypto/src/builder/transactions/delegate-resignation.ts
  packages/crypto/src/builder/transactions/multi-payment.ts
  packages/crypto/src/builder/transactions/timelock-transfer.ts
Due: yarn lint, prettier --write

refactor: add more joi validators to bignumber
  packages/crypto/src/validation/extensions/bignumber.ts
Due: yarn lint, prettier --write

refactor: update crypto transaction validators
  packages/crypto/src/validation/rules/models/transactions/delegate-registration.ts
  packages/crypto/src/validation/rules/models/transactions/delegate-resignation.ts
  packages/crypto/src/validation/rules/models/transactions/ipfs.ts
  packages/crypto/src/validation/rules/models/transactions/multi-payment.ts
  packages/crypto/src/validation/rules/models/transactions/multi-signature.ts
  packages/crypto/src/validation/rules/models/transactions/second-signature.ts
  packages/crypto/src/validation/rules/models/transactions/timelock-transfer.ts
  packages/crypto/src/validation/rules/models/transactions/transfer.ts
  packages/crypto/src/validation/rules/models/transactions/vote.ts
Due: yarn lint, prettier --write

test: crypto transaction validators tests
  packages/crypto/__tests__/validation/rules/models/transactions/common.ts
  packages/crypto/__tests__/validation/rules/models/transactions/delegate-registration.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/delegate-resignation.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/ipfs.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/multi-payment.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/multi-signature.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/second-signature.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/timelock-transfer.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/transfer.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/vote.test.ts
Due: yarn lint, prettier --write

feat: return wallet vote on v2 endpoints
  packages/core-api/src/versions/2/wallets/transformer.ts
Due: yarn lint, prettier --write

test: expect vote with wallet responses
  packages/core-api/__tests__/v2/utils.ts
Due: yarn lint, prettier --write

feat(core-api): return wallet vote on v2 endpoints (#2009)
  packages/core-api/__tests__/v2/utils.ts
  packages/core-api/src/versions/2/wallets/transformer.ts
Due: yarn lint, prettier --write

test(crypto): transaction validators (#2008)
  packages/crypto/__tests__/validation/rules/models/transactions/common.ts
  packages/crypto/__tests__/validation/rules/models/transactions/delegate-registration.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/delegate-resignation.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/ipfs.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/multi-payment.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/multi-signature.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/second-signature.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/timelock-transfer.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/transfer.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/vote.test.ts
  packages/crypto/src/builder/transactions/delegate-resignation.ts
  packages/crypto/src/builder/transactions/multi-payment.ts
  packages/crypto/src/builder/transactions/timelock-transfer.ts
  packages/crypto/src/validation/extensions/bignumber.ts
  packages/crypto/src/validation/rules/models/transactions/delegate-registration.ts
  packages/crypto/src/validation/rules/models/transactions/delegate-resignation.ts
  packages/crypto/src/validation/rules/models/transactions/ipfs.ts
  packages/crypto/src/validation/rules/models/transactions/multi-payment.ts
  packages/crypto/src/validation/rules/models/transactions/multi-signature.ts
  packages/crypto/src/validation/rules/models/transactions/second-signature.ts
  packages/crypto/src/validation/rules/models/transactions/timelock-transfer.ts
  packages/crypto/src/validation/rules/models/transactions/transfer.ts
  packages/crypto/src/validation/rules/models/transactions/vote.ts
Due: yarn lint, prettier --write

fix: move files into folders with network prefixes
  upgrade.js
Due: none

fix: remove peers_backup from config
  upgrade.js
Due: none

misc: log moving and copying
  upgrade.js
Due: none

fix: only move database files if they exist
  upgrade.js
Due: none

fix: make sure the .env file is copied first or we exit
  upgrade.js
Due: none

fix: clean up after all files have been verified
  upgrade.js
Due: none

refactor: handle pm2 via bash
  package.json
  scripts/upgrade.sh
  scripts/upgrade/upgrade.js
Due: prettier --write

fix: path and log
  scripts/upgrade.sh
  scripts/upgrade/upgrade.js
Due: none

fix: null output
  scripts/upgrade.sh
  scripts/upgrade/upgrade.js
Due: none

misc: more logging
  scripts/upgrade/upgrade.js
Due: none

misc: logging
  scripts/upgrade/upgrade.js
Due: none

misc: disable plugin mods
  scripts/upgrade/upgrade.js
Due: none

fix: copy genesisBlock.json
  scripts/upgrade/upgrade.js
Due: none

fix: json not js
  scripts/upgrade/upgrade.js
Due: none

fix: remove env check
  scripts/upgrade/upgrade.js
Due: none

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
