Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

test: ipfs builder
  __tests__/unit/crypto/transactions/builders/transactions/ipfs.test.ts
Due: yarn lint, prettier --write

chore: update milestones.json for testnet
  packages/crypto/src/networks/testnet/milestones.json
Due: prettier --write

test: e2e use current crypto package
  __tests__/e2e/lib/utils/test-utils.js
  __tests__/e2e/package.json
  __tests__/e2e/tests/scenarios/scenario1/chained-tx/0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/chained-tx/1.create-transactions.action.js
  __tests__/e2e/tests/scenarios/scenario1/chained-tx/3.resend-BtoC.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/0.1.init-2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/1.0.doublespend.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/1.1.doublespend2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/0.1.init-2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.0.doubletransfer.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.1.doubletransfer2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.2.doublevote.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.3.doubledelreg.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.4.double2ndsigreg.action.js
  __tests__/e2e/tests/scenarios/scenario1/insufficient-balance/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/insufficient-balance/0.1.init-2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/insufficient-balance/1.0.transfer.action.js
  __tests__/e2e/tests/scenarios/scenario1/insufficient-balance/1.1.transfer2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/insufficient-balance/1.2.vote.action.js
  __tests__/e2e/tests/scenarios/scenario1/insufficient-balance/1.3.delreg.action.js
  __tests__/e2e/tests/scenarios/scenario1/insufficient-balance/1.4.2ndsigreg.action.js
  __tests__/e2e/tests/scenarios/scenario1/pool-restart/0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/pool-restart/1.create-transactions.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/0.1.init-2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.0.transaction.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.1.transaction2ndsig.action.js
Due: prettier --write

test: e2e ipfs basic test
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.0.transaction.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.1.transaction2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/utils.js
Due: none

chore: update milestones.json for unitnet
  packages/crypto/src/networks/unitnet/milestones.json
Due: prettier --write

feat: ipfs tx handler unique ipfs hash per wallet
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet.ts
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/ipfs.ts
Due: yarn lint, prettier --write

feat: handle ipfs txs in integrity verifier
  packages/core-database-postgres/src/integrity-verifier.ts
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/queries/integrity-verifier/ipfs.sql
Due: yarn lint, prettier --write

chore: validation rule to limit ipfs hash length
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

feat: add ipfs to tester-cli
  packages/core-tester-cli/src/commands/send/ipfs.ts
  packages/core-tester-cli/src/signer.ts
Due: yarn lint, prettier --write

test: tester-cli ipfs
  __tests__/integration/core-tester-cli/commands/send/ipfs.test.ts
Due: yarn lint, prettier --write

chore: ipfs canBeApplied leave as todo
  packages/core-transactions/src/handlers/ipfs.ts
Due: yarn lint, prettier --write

chore: remove unused import
  packages/core-transactions/src/handlers/ipfs.ts
Due: yarn lint, prettier --write

refactor(core): import validateMnemonic directly
  packages/core/src/commands/config/forger/bip38.ts
  packages/core/src/commands/config/forger/bip39.ts
Due: yarn lint, prettier --write

fix: return empty array instead of undefined
  packages/core/src/process-manager.ts
Due: yarn lint, prettier --write

fix(core): pass process flags as object
  packages/core/package.json
  packages/core/src/shared/start.ts
  yarn.lock
Due: yarn lint, prettier --write

fix: add processname to flags
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

fix: restart
  packages/core/src/process-manager.ts
Due: yarn lint, prettier --write

chore(core): update foreman
  packages/core/package.json
  yarn.lock
Due: prettier --write

test: use factory, check ipfs hash in apply/revert
  __tests__/unit/core-transactions/handler.test.ts
Due: yarn lint, prettier --write

feat: complete the delegate resignation transaction type
  __tests__/helpers/transaction-factory.ts
  __tests__/unit/core-jest-matchers/transactions/types/delegate.test.ts
  __tests__/unit/core-state/wallets/wallet.test.ts
  packages/core-jest-matchers/src/transactions/types/delegate.ts
  packages/core-state/src/wallets/wallet.ts
  packages/core-transaction-pool/src/defaults.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/plugins.js
  packages/crypto/src/transactions/builders/transactions/delegate-resignation.ts
  packages/crypto/src/transactions/serializer.ts
  packages/crypto/src/transactions/types/delegate-resignation.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

refactor(core): let the process manager extend @faustbrian/foreman (#2536)
  packages/core/package.json
  packages/core/src/commands/command.ts
  packages/core/src/commands/config/forger/bip38.ts
  packages/core/src/commands/config/forger/bip39.ts
  packages/core/src/commands/core/run.ts
  packages/core/src/commands/core/start.ts
  packages/core/src/commands/forger/run.ts
  packages/core/src/commands/forger/start.ts
  packages/core/src/commands/relay/run.ts
  packages/core/src/commands/relay/start.ts
  packages/core/src/commands/top.ts
  packages/core/src/process-manager.ts
  packages/core/src/shared/start.ts
  packages/core/src/shared/status.ts
  packages/core/src/types.ts
  yarn.lock
Due: yarn lint, prettier --write

refactor: split integrity verifier logic into dedicated bootstrap methods
  packages/core-database-postgres/package.json
  packages/core-database-postgres/src/integrity-verifier.ts
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/queries/integrity-verifier/votes.sql
  packages/core-transactions/src/handlers/delegate-registration.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
  packages/core-transactions/src/handlers/handler-registry.ts
  packages/core-transactions/src/handlers/ipfs.ts
  packages/core-transactions/src/handlers/multi-payment.ts
  packages/core-transactions/src/handlers/multi-signature.ts
  packages/core-transactions/src/handlers/second-signature.ts
  packages/core-transactions/src/handlers/timelock-transfer.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/transfer.ts
  packages/core-transactions/src/handlers/vote.ts
  packages/core-transactions/src/interfaces.ts
Due: yarn lint, prettier --write

refactor: move integrity verifier queries into repositoeries
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-database/src/repositories/blocks-business-repository.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/blocks-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/database-repository/blocks-repository.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
Due: yarn lint, prettier --write

refactor: move sql files
  packages/core-database-postgres/src/queries/state-builder/assets-by-type.sql
  packages/core-database-postgres/src/queries/state-builder/block-rewards.sql
  packages/core-database-postgres/src/queries/state-builder/delegates-forged-blocks.sql
  packages/core-database-postgres/src/queries/state-builder/delegates.sql
  packages/core-database-postgres/src/queries/state-builder/ipfs.sql
  packages/core-database-postgres/src/queries/state-builder/last-forged-blocks.sql
  packages/core-database-postgres/src/queries/state-builder/multi-signatures.sql
  packages/core-database-postgres/src/queries/state-builder/received-transactions.sql
  packages/core-database-postgres/src/queries/state-builder/second-signatures.sql
  packages/core-database-postgres/src/queries/state-builder/sent-transactions.sql
Due: none

refactor: pass connection to transaction handler bootstrap
  packages/core-database-postgres/src/integrity-verifier.ts
  packages/core-database-postgres/src/postgres-connection.ts
  packages/core-transactions/src/handlers/delegate-registration.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
  packages/core-transactions/src/handlers/ipfs.ts
  packages/core-transactions/src/handlers/multi-payment.ts
  packages/core-transactions/src/handlers/multi-signature.ts
  packages/core-transactions/src/handlers/second-signature.ts
  packages/core-transactions/src/handlers/timelock-transfer.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/transfer.ts
  packages/core-transactions/src/handlers/vote.ts
  packages/core-transactions/src/interfaces.ts
Due: yarn lint, prettier --write

refactor: rename IntegrityVerifier
  packages/core-database-postgres/src/index.ts
  packages/core-database-postgres/src/postgres-connection.ts
  packages/core-database-postgres/src/state-builder.ts
Due: yarn lint, prettier --write

refactor: transfer bootstrap
  packages/core-transactions/src/handlers/transfer.ts
Due: yarn lint, prettier --write

fix: for loop condition
  packages/core-database-postgres/src/state-builder.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
  packages/core-transactions/src/handlers/delegate-registration.ts
Due: yarn lint, prettier --write

release: 2.4.0-next.0
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-p2p/src/defaults.ts
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: yarn lint, prettier --write

fix: last forged blocks
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database-postgres/src/state-builder.ts
  packages/core-database/src/repositories/blocks-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/blocks-business-repository.ts
  packages/core-interfaces/src/core-database/database-repository/blocks-repository.ts
  packages/core-transactions/src/handlers/delegate-registration.ts
Due: yarn lint, prettier --write

release: 2.4.0-next.0
  __tests__/integration/core-api/v2/handlers/peers.test.ts
  __tests__/integration/core-forger/mocks/core-container.ts
  __tests__/integration/core-p2p/mocks/core-container.ts
  __tests__/unit/core-p2p/mocks/core-container.ts
  __tests__/unit/core-p2p/network-monitor.test.ts
  __tests__/unit/core-p2p/peer-guard.test.ts
  __tests__/unit/core-p2p/peer-storage.test.ts
Due: yarn lint, prettier --write

test: update class
  __tests__/unit/core-transactions/handler-registry.test.ts
Due: yarn lint, prettier --write

release: 2.4.0-next.0
  CHANGELOG.md
Due: prettier --write

refactor(core-database-postgres): transaction type agnostic wallet bootstrap (#2539)
  __tests__/unit/core-transactions/handler-registry.test.ts
  packages/core-database-postgres/package.json
  packages/core-database-postgres/src/index.ts
  packages/core-database-postgres/src/integrity-verifier.ts
  packages/core-database-postgres/src/postgres-connection.ts
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/queries/state-builder/assets-by-type.sql
  packages/core-database-postgres/src/queries/state-builder/block-rewards.sql
  packages/core-database-postgres/src/queries/state-builder/delegates-forged-blocks.sql
  packages/core-database-postgres/src/queries/state-builder/delegates.sql
  packages/core-database-postgres/src/queries/state-builder/ipfs.sql
  packages/core-database-postgres/src/queries/state-builder/last-forged-blocks.sql
  packages/core-database-postgres/src/queries/state-builder/multi-signatures.sql
  packages/core-database-postgres/src/queries/state-builder/received-transactions.sql
  packages/core-database-postgres/src/queries/state-builder/second-signatures.sql
  packages/core-database-postgres/src/queries/state-builder/sent-transactions.sql
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-database-postgres/src/state-builder.ts
  packages/core-database/src/repositories/blocks-business-repository.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/blocks-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/database-repository/blocks-repository.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
  packages/core-transactions/src/handlers/delegate-registration.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
  packages/core-transactions/src/handlers/handler-registry.ts
  packages/core-transactions/src/handlers/ipfs.ts
  packages/core-transactions/src/handlers/multi-payment.ts
  packages/core-transactions/src/handlers/multi-signature.ts
  packages/core-transactions/src/handlers/second-signature.ts
  packages/core-transactions/src/handlers/timelock-transfer.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/transfer.ts
  packages/core-transactions/src/handlers/vote.ts
  packages/core-transactions/src/interfaces.ts
Due: yarn lint, prettier --write

release: 2.4.0-next.1
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.4.0-next.1 (#2541)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core): use the --env flag to start testnet via CLI
  packages/core/package.json
Due: prettier --write

fix(core): use the --env flag to start testnet via CLI (#2543)
  packages/core/package.json
Due: prettier --write
