Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

chore: update publish-develop.yml gitlab CI
  .github/workflows/publish-develop.yml
Due: none

merge: cherry-pick add support for rc channel (#4734) (#4735)
  packages/core-p2p/src/defaults.ts
  packages/crypto/package.json
  pnpm-lock.yaml
Due: yarn lint, prettier --write

chore: update github CI for 4.x branch (#4736)
  .github/workflows/devnet-sync.yml
  .github/workflows/mainnet-sync.yml
  .github/workflows/publish-4.x.yml
  .github/workflows/publish-develop.yml
Due: none

chore: update github CI for `develop` branch (#4737)
  .github/workflows/publish-develop.yml
Due: none

release: 4.0.0-next.23
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Revert "feat: add support for `rc` channel (#4734)"
  packages/core-p2p/src/defaults.ts
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

refactor: remove 3.0.0 pre-releases
  packages/core-p2p/src/defaults.ts
Due: yarn lint, prettier --write

Update @arkecosystem/crypto-networks
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

refactor(core-p2p): remove 3.0.0 prereleases (#4739)
  packages/core-p2p/src/defaults.ts
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

refactor: remove 3.0.0 pre-releases
  packages/core-p2p/src/defaults.ts
  packages/crypto/package.json
Due: yarn lint, prettier --write

update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

release: 3.6.2-rc.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

merge: cherry-pick refactor: remove 3.0.0 pre-releases (#4740)
  packages/core-p2p/src/defaults.ts
  packages/crypto/package.json
  pnpm-lock.yaml
Due: yarn lint, prettier --write

remove python for benchmark workflow
  .github/workflows/benchmark.yml
Due: none

Remove setup python action
  .github/workflows/codeql-analysis.yml
  .github/workflows/functional.yml
  .github/workflows/publish-master.yml
Due: none

release: 3.6.2-rc.0 (#4741)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: remove setup python actions from Gitlab workflows (#4742)
  .github/workflows/benchmark.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/functional.yml
  .github/workflows/publish-master.yml
Due: none

Remove setup python workflow actions
  .github/workflows/unit.yml
Due: none

Fix
  install.sh
Due: none

chore: update install-rc.sh
  install-rc.sh
Due: none

remove: install-next.sh
  install-next.sh
Due: none

Add lodash.clonedepp
  packages/core-api/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update `install-rc.sh` and remove `install-next.sh` (#4744)
  install-next.sh
  install-rc.sh
Due: none

remove install-rc.sh
  install-rc.sh
Due: none

merge: develop to 4.x (#4743)
  .github/workflows/benchmark.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/functional.yml
  .github/workflows/unit.yml
  CODEOWNERS
  packages/core-blockchain/__tests__/processor/block-processor.test.ts
  packages/core-cli/package.json
  packages/core-test-framework/package.json
  packages/core/package.json
  pnpm-lock.yaml
  scripts/deps/unused.js
Due: yarn lint, prettier --write

release: 4.0.0-next.23 (#4738)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Update yarn.lock
  yarn.lock
Due: none

Remove deprecated @types/pino
  packages/core-logger-pino/package.json
  yarn.lock
Due: prettier --write

Calculate workersCount
  packages/core-transaction-pool/src/defaults.ts
Due: yarn lint, prettier --write

Tests
  __tests__/unit/core-transaction-pool/service-provider.test.ts
Due: yarn lint, prettier --write

Use max 4 workers
  packages/core-transaction-pool/src/defaults.ts
Due: yarn lint, prettier --write

update rotating-file-stream
  packages/core-logger-pino/package.json
  yarn.lock
Due: prettier --write

Make driver copy
  packages/core-logger-pino/src/driver-old.ts
Due: yarn lint, prettier --write

Update pino
  packages/core-logger-pino/package.json
  packages/core-logger-pino/src/driver.ts
  yarn.lock
Due: yarn lint, prettier --write

Update pino-pretty
  packages/core-logger-pino/package.json
  packages/core-logger-pino/src/driver.ts
  yarn.lock
Due: yarn lint, prettier --write

Remove readable-stream
  packages/core-logger-pino/package.json
  packages/core-logger-pino/src/driver.ts
  yarn.lock
Due: yarn lint, prettier --write

Remove temp driver
  packages/core-logger-pino/src/driver-old.ts
Due: yarn lint, prettier --write

Add @types/pumpify
  packages/core-logger-pino/package.json
  packages/core-logger-pino/src/driver.ts
  yarn.lock
Due: yarn lint, prettier --write
