Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

Add test tsconfig.json
  packages/core-p2p/__tests__/tsconfig.json
Due: prettier --write

Fix peer-communicator tests
  packages/core-p2p/__tests__/peer-communicator.test.ts
  packages/core-p2p/__tests__/socket-server/controllers/blocks.test.ts
Due: yarn lint, prettier --write

Add core-snapshots test tsconfig.json
  packages/core-snapshots/__tests__/tsconfig.json
Due: prettier --write

Fix message-pack codec
  packages/core-snapshots/src/codecs/message-pack-codec.ts
Due: yarn lint, prettier --write

Add core-state tsconfig.json
  packages/core-state/__tests__/tsconfig.json
Due: prettier --write

Fix core-state unit tests
  packages/core-state/__tests__/__utils__/transactions.ts
Due: yarn lint, prettier --write

Fix broken reference
  packages/core-snapshots/src/codecs/message-pack-codec.ts
Due: yarn lint, prettier --write

Do not return undefined from BlockFactory.make
  packages/core-forger/src/methods/method.ts
  packages/crypto/src/blocks/block.ts
  packages/crypto/src/blocks/factory.ts
  packages/crypto/src/interfaces/transactions.ts
  packages/crypto/src/validation/index.ts
Due: yarn lint, prettier --write

Better BlockFactory.make types
  packages/crypto/src/blocks/factory.ts
Due: yarn lint, prettier --write

Setup block.data.transactions
  packages/crypto/src/blocks/block.ts
Due: yarn lint, prettier --write

Update p2p block.data usages
  packages/core-p2p/__tests__/socket-server/controllers/blocks.test.ts
Due: yarn lint, prettier --write

Update block.data usages
  packages/core-blockchain/src/processor/block-processor.ts
  packages/core-state/src/stores/state.ts
Due: yarn lint, prettier --write

Fix blockEntity
  packages/core-database/src/repositories/block-repository.ts
Due: yarn lint, prettier --write

Can't touch validator. It's used by transactions.
  packages/core-forger/src/methods/method.ts
  packages/crypto/src/blocks/block.ts
  packages/crypto/src/blocks/factory.ts
  packages/crypto/src/interfaces/transactions.ts
  packages/crypto/src/validation/index.ts
Due: yarn lint, prettier --write

Remove console.log
  packages/core-cli/src/commands/command.ts
Due: yarn lint, prettier --write

Use Models.Block in core-snapshots
  packages/core-database/src/database-service.ts
  packages/core-snapshots/__tests__/database-service.test.ts
  packages/core-snapshots/__tests__/snapshot-service.test.ts
  packages/core-snapshots/src/contracts/database.ts
  packages/core-snapshots/src/database-service.ts
  packages/core-snapshots/src/snapshot-service.ts
  packages/core-snapshots/src/verifier.ts
Due: yarn lint, prettier --write

Remove legacy genesis deserialization
  packages/crypto/src/blocks/serializer.ts
Due: yarn lint, prettier --write

Don't require block.maxPayload for genesis block
  packages/core-test-framework/src/app/generators/crypto.ts
  packages/core/src/commands/network-generate.ts
  packages/crypto/src/blocks/serializer.ts
Due: yarn lint, prettier --write

Add getSize methods back
  packages/crypto/src/blocks/block.ts
  packages/crypto/src/blocks/serializer.ts
Due: yarn lint, prettier --write

Fix Serializer.getDataSize
  packages/crypto/src/blocks/serializer.ts
Due: yarn lint, prettier --write

Meh
  __tests__/integration/mainnet.test.ts
  package.json
  packages/core-kernel/src/bootstrap/app/load-cryptography.ts
  packages/core-kernel/src/utils/assert.ts
  packages/core-kernel/src/utils/expiration-calculator.ts
  packages/core-kernel/src/utils/is-block-chained.ts
  packages/core-kernel/src/utils/supply-calculator.ts
  packages/crypto/__tests__/blocks/factory.test.ts
  packages/crypto/package.json
  packages/crypto/src/blocks/block.ts
  packages/crypto/src/blocks/deserializer.ts
  packages/crypto/src/blocks/factory.ts
  packages/crypto/src/blocks/index.ts
  packages/crypto/src/blocks/serializer.ts
  packages/crypto/src/blocks/verifier.ts
  packages/crypto/src/errors.ts
  packages/crypto/src/interfaces/block.ts
  packages/crypto/src/interfaces/block0.ts
  packages/crypto/src/interfaces/block1.ts
  packages/crypto/src/interfaces/index.ts
  packages/crypto/src/interfaces/serde.ts
  packages/crypto/src/interfaces/state.ts
  packages/crypto/src/serde/address.ts
  packages/crypto/src/serde/factory.ts
  packages/crypto/src/serde/reader.ts
  packages/crypto/src/serde/writer.ts
  packages/crypto/src/state/index.ts
  packages/crypto/src/state/state.ts
  packages/crypto/src/transactions/factory.ts
  packages/crypto/src/validation/keywords.ts
  yarn.lock
Due: yarn lint, prettier --write

test(core-api): server.test.ts
  packages/core-api/__tests__/server.test.ts
Due: yarn lint, prettier --write

test(core-api): response-headers.test.ts
  packages/core-api/__tests__/plugins/response-headers.test.ts
Due: yarn lint, prettier --write

fix(core-magistrate-api): response return type
  packages/core-magistrate-api/src/service-provider.ts
Due: yarn lint, prettier --write

test(core-magistrate-api): server.test.ts
  packages/core-api/__tests__/server.test.ts
Due: yarn lint, prettier --write

deps: temporary add @hapi/hapi
  package.json
  pnpm-lock.yaml
Due: prettier --write

deps(core): add cross-env
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write

test(core-kernel): import cloneDeep
  packages/core-magistrate-transactions/__tests__/handlers/bridgechain-registration.test.ts
  packages/core-magistrate-transactions/__tests__/handlers/bridgechain-resignation.test.ts
  packages/core-magistrate-transactions/__tests__/handlers/bridgechain-update.test.ts
  packages/core-magistrate-transactions/__tests__/handlers/business-registration.test.ts
  packages/core-magistrate-transactions/__tests__/handlers/business-resignation.test.ts
  packages/core-magistrate-transactions/__tests__/handlers/business-update.test.ts
  packages/core-magistrate-transactions/__tests__/handlers/entity.test.ts
  packages/core-magistrate-transactions/__tests__/handlers/general.test.ts
  packages/core-magistrate-transactions/package.json
  pnpm-lock.yaml
Due: yarn lint, prettier --write

test(core-api): imports of cloneDeep
  packages/core-api/__tests__/resources/block-with-transactions.test.ts
  packages/core-api/__tests__/resources/transaction-with-blocks.test.ts
  packages/core-api/__tests__/resources/transaction.test.ts
Due: yarn lint, prettier --write

test(core-kernel): plugin-discoverer.test.ts
  packages/core-kernel/__tests__/providers/plugin-discoverer.test.ts
Due: yarn lint, prettier --write

test(core-snapshots): use @packages for cryptoPackages
  packages/core-snapshots/__tests__/database-service.test.ts
  packages/core-snapshots/__tests__/workers/worker.test.ts
Due: yarn lint, prettier --write

deps(core-test-framework): add joi
  packages/core-test-framework/package.json
  pnpm-lock.yaml
Due: prettier --write

test(integration): add package.json
  __tests__/functional/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

deps(core-transactions): add bytebuffer
  packages/core-transactions/package.json
  pnpm-lock.yaml
Due: prettier --write

test(core-transaction-pool): use @packages
  packages/core-transaction-pool/__tests__/worker-script-handler.test.ts
Due: yarn lint, prettier --write

deps: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix(workflows): functional.yml
  .github/workflows/functional.yml
Due: none

fix(workflows): integration.yml
  .github/workflows/integration.yml
Due: none

fix(workflows): e2e.yml
  .github/workflows/e2e.yml
Due: none

test(core-cli): use @packages
  packages/core-cli/__tests__/commands/dist/hidden.js
  packages/core-cli/__tests__/commands/dist/visible.js
Due: none

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
