Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

Refactor getBlocks so buffer isn't re-allocated 400 times.
  packages/core-p2p/src/socket-server/codecs/blocks.ts
Due: yarn lint, prettier --write

Fix postTransactions buffer re-allocation
  packages/core-p2p/src/socket-server/codecs/transactions.ts
Due: yarn lint, prettier --write

Typo
  packages/core-p2p/src/socket-server/codecs/transactions.ts
Due: yarn lint, prettier --write

refactor(core-p2p): refactor codecs so buffer isn't re-allocated 400 times. (#4493)
  packages/core-p2p/src/socket-server/codecs/blocks.ts
  packages/core-p2p/src/socket-server/codecs/transactions.ts
Due: yarn lint, prettier --write

docker: switch to node 14
  docker/production/Dockerfile
Due: none

docker: switch to node 14 (#4494)
  docker/production/Dockerfile
Due: none

chore(core): install specific version of plugin
  packages/core/src/commands/plugin-install.ts
  packages/core/src/source-providers/abstract-source.ts
  packages/core/src/source-providers/contracts.ts
  packages/core/src/source-providers/npm.ts
Due: yarn lint, prettier --write

test(core): plugin:install
  __tests__/unit/core/commands/plugin-install.test.ts
Due: yarn lint, prettier --write

test(core): npm
  __tests__/unit/core/source-providers/npm.test.ts
Due: yarn lint, prettier --write

chore(core): install specific version of plugin (#4495)
  __tests__/unit/core/commands/plugin-install.test.ts
  __tests__/unit/core/source-providers/npm.test.ts
  packages/core/src/commands/plugin-install.ts
  packages/core/src/source-providers/abstract-source.ts
  packages/core/src/source-providers/contracts.ts
  packages/core/src/source-providers/npm.ts
Due: yarn lint, prettier --write

deps(crypto): update @arkecosystem/crypto-networks
  packages/crypto/package.json
Due: prettier --write

wip
  CHANGELOG.md
  cliff.toml
Due: prettier --write

deps(crypto): yarn.lock
  yarn.lock
Due: none

deps(crypto): update `@arkecosystem/crypto-networks` to 1.2.0 (#4496)
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

chore: update changelog
  CHANGELOG.md
Due: prettier --write

release: 3.0.0-next.37
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: update changelog date
  CHANGELOG.md
Due: prettier --write

chore: update changelog year
  CHANGELOG.md
Due: prettier --write

release: 3.0.0-next.37 (#4498)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-cli): wrap string flags in single quotes
  packages/core-cli/src/utils/flags.ts
Due: yarn lint, prettier --write

test(core-cli): wrap string flags in single quotes
  __tests__/unit/core-cli/services/process-manager.test.ts
  __tests__/unit/core-cli/utils/flags.test.ts
Due: yarn lint, prettier --write

test(core): wrap string flags in single quotes
  __tests__/unit/core/commands/core-start.test.ts
  __tests__/unit/core/commands/forger-start.test.ts
  __tests__/unit/core/commands/relay-start.test.ts
Due: yarn lint, prettier --write

test(core): increase timout
  __tests__/unit/core/commands/forger-run.test.ts
Due: yarn lint, prettier --write

fix(core-cli): wrap string flags in single quotes (#4499)
  __tests__/unit/core-cli/services/process-manager.test.ts
  __tests__/unit/core-cli/utils/flags.test.ts
  __tests__/unit/core/commands/core-start.test.ts
  __tests__/unit/core/commands/forger-run.test.ts
  __tests__/unit/core/commands/forger-start.test.ts
  __tests__/unit/core/commands/relay-start.test.ts
  packages/core-cli/src/utils/flags.ts
Due: yarn lint, prettier --write

release: 3.0.0-next.38
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.0.0-next.38 (#4500)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Check total memory only
  packages/core-cli/src/actions/daemonize-process.ts
Due: yarn lint, prettier --write

Remove unused import
  packages/core-cli/src/actions/daemonize-process.ts
Due: yarn lint, prettier --write

Fix tests
  __tests__/unit/core-cli/actions/daemonize-process.test.ts
Due: yarn lint, prettier --write

release: 3.0.0-next.39
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-cli): check total memory only (#4503)
  __tests__/unit/core-cli/actions/daemonize-process.test.ts
  packages/core-cli/src/actions/daemonize-process.ts
Due: yarn lint, prettier --write

release: 3.0.0-next.39 (#4504)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

wip
  .github/workflows/publish-develop.yml
  .github/workflows/publish-master.yml
Due: none

ci: only publish on `release:` commits (#4505)
  .github/workflows/publish-develop.yml
  .github/workflows/publish-master.yml
Due: none

wip
  .github/workflows/functional.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/unit.yml
  README.md
  package.json
  yarn.lock
Due: prettier --write

wip
  .github/workflows/lint.yml
Due: none

ci: remove `codecov` coverage uploads (#4507)
  .github/workflows/functional.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/unit.yml
  README.md
  package.json
  yarn.lock
Due: prettier --write

wip
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write
