Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

chore: remove dynamicFeeManager
  packages/crypto/__tests__/managers/config.test.ts
  packages/crypto/src/managers/config.ts
  packages/crypto/src/managers/dynamic-fee.ts
  packages/crypto/src/managers/index.ts
Due: yarn lint, prettier --write

test: fix
  packages/crypto/__tests__/constants.test.ts
Due: yarn lint, prettier --write

test: call config.init
  packages/core-transaction-pool/__tests__/guard.test.ts
Due: yarn lint, prettier --write

fix(core-blockchain): discard blocks containing forged tx and stop process queue on fork (#1732)
  packages/core-blockchain/__tests__/blockchain.test.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/queue/index.ts
  packages/core-blockchain/src/state-machine.ts
  packages/core-blockchain/src/state-storage.ts
  packages/core-database-postgres/src/connection.ts
  packages/core-database/src/interface.ts
  packages/core-p2p/src/court/guard.ts
  packages/core-p2p/src/monitor.ts
Due: yarn lint, prettier --write

test(core-database): test searching delegates without parameters
  packages/core-database/__tests__/repositories/delegates.test.ts
Due: yarn lint, prettier --write

test(core-database): refactor
  packages/core-database/__tests__/repositories/delegates.test.ts
Due: yarn lint, prettier --write

fix(core-database): ensure that delegate search deals with "undefined" as a username
  packages/core-database/src/repositories/delegates.ts
Due: yarn lint, prettier --write

> return all instead of none to keep it consistent with other endpoints
  packages/core-database/__tests__/repositories/delegates.test.ts
  packages/core-database/src/repositories/delegates.ts
Due: yarn lint, prettier --write

fix: check validity of version instead of throwing error
  packages/core-p2p/__tests__/court/guard.test.ts
  packages/core-p2p/src/court/guard.ts
Due: yarn lint, prettier --write

fix: only clear process queue
  packages/core-blockchain/src/state-machine.ts
Due: yarn lint, prettier --write

feat: check peer milestone hash
  packages/core-container/src/config/index.ts
  packages/core-p2p/src/court/guard.ts
  packages/core-p2p/src/court/index.ts
  packages/core-p2p/src/court/offences.ts
  packages/core-p2p/src/monitor.ts
  packages/core-p2p/src/peer.ts
  packages/core-p2p/src/server/plugins/set-headers.ts
Due: yarn lint, prettier --write

test: fix
  packages/core-p2p/__tests__/court/guard.test.ts
Due: yarn lint, prettier --write

feat(core-p2p): milestone hash (#1837)
  packages/core-blockchain/src/state-machine.ts
  packages/core-container/src/config/index.ts
  packages/core-p2p/__tests__/court/guard.test.ts
  packages/core-p2p/src/court/guard.ts
  packages/core-p2p/src/court/index.ts
  packages/core-p2p/src/court/offences.ts
  packages/core-p2p/src/monitor.ts
  packages/core-p2p/src/peer.ts
  packages/core-p2p/src/server/plugins/set-headers.ts
Due: yarn lint, prettier --write

fix(core-p2p): check validity of version instead of throwing error (#1836)
  packages/core-p2p/__tests__/court/guard.test.ts
  packages/core-p2p/src/court/guard.ts
Due: yarn lint, prettier --write

fix(core-database): ensure that search deals with "undefined" as username (#1831)
  packages/core-database/__tests__/repositories/delegates.test.ts
  packages/core-database/src/repositories/delegates.ts
Due: yarn lint, prettier --write

chore: update changelog
  CHANGELOG.md
Due: prettier --write

chore: update changelog (#1838)
  CHANGELOG.md
Due: prettier --write

docs: add a document to provide upgrade steps
  UPGRADE.md
Due: prettier --write

docs: stable and specific git steps
  UPGRADE.md
Due: prettier --write

docs: add a document to provide upgrade steps (#1839)
  UPGRADE.md
Due: prettier --write

chore: add dynamic fee config to default plugin.j files
  packages/core/src/config/devnet/plugins.js
  packages/core/src/config/mainnet/plugins.js
  packages/core/src/config/testnet/plugins.js
Due: none

chore: add dynamic fee config to default plugin.j files
  packages/core/src/config/testnet/plugins.js
Due: none

chore: add dynamic fee config to default plugin.js files (#1840)
  packages/core/src/config/devnet/plugins.js
  packages/core/src/config/mainnet/plugins.js
  packages/core/src/config/testnet/plugins.js
Due: none

fix(core-p2p): add the milestoneHash as a required header
  packages/core-p2p/src/server/plugins/accept-request.ts
Due: yarn lint, prettier --write

fix(core-p2p): add the milestoneHash as a required header (#1841)
  packages/core-p2p/src/server/plugins/accept-request.ts
Due: yarn lint, prettier --write

fix(core-p2p): check both the peer and the headers for the milestone hash
  packages/core-p2p/src/court/guard.ts
Due: yarn lint, prettier --write

fix(core-p2p): check both the peer and the headers for the milestone hash (#1842)
  packages/core-p2p/src/court/guard.ts
Due: yarn lint, prettier --write

fix(core-p2p): check milestoneHash on the peer instance
  packages/core-p2p/src/monitor.ts
Due: yarn lint, prettier --write

fix(core-p2p): check milestoneHash on the peer instance (#1843)
  packages/core-p2p/src/monitor.ts
Due: yarn lint, prettier --write

fix: get exceptions through the crypto config and handle them
  packages/core-blockchain/src/blockchain.ts
  packages/core-database/src/interface.ts
  packages/core-database/src/wallet-manager.ts
  packages/crypto/src/networks/devnet/dynamicFees.json
  packages/crypto/src/networks/mainnet/dynamicFees.json
  packages/crypto/src/networks/testnet/dynamicFees.json
Due: yarn lint, prettier --write

fix(core-blockchain): enable second exception check for blocks
  packages/core-blockchain/src/blockchain.ts
Due: yarn lint, prettier --write

fix: config getter
  packages/core-p2p/src/monitor.ts
Due: yarn lint, prettier --write

fix(core-p2p): config getter (#1845)
  packages/core-p2p/src/monitor.ts
Due: yarn lint, prettier --write

fix: get exceptions through the crypto config and handle them (#1844)
  packages/core-database/src/interface.ts
  packages/core-database/src/wallet-manager.ts
  packages/crypto/src/networks/devnet/dynamicFees.json
  packages/crypto/src/networks/mainnet/dynamicFees.json
  packages/crypto/src/networks/testnet/dynamicFees.json
Due: yarn lint, prettier --write

fix: missing peer milestoneHash filter
  packages/core-p2p/src/monitor.ts
Due: yarn lint, prettier --write

fix: remove reverse mapping from transaction/types endpoint
  packages/core-api/__tests__/v2/handlers/transactions.test.ts
  packages/core-api/src/versions/2/transactions/controller.ts
Due: yarn lint, prettier --write

fix: add try catch to whitelist ip match
  packages/core-http-utils/src/plugins/whitelist.ts
Due: yarn lint, prettier --write

fix: add milestone to ignore invalid second signature field
  packages/crypto/src/handlers/transactions/handler.ts
  packages/crypto/src/networks/devnet/milestones.json
Due: yarn lint, prettier --write
