Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

fix(core-state): fix getBlocksForRound
  packages/core-state/src/database-interactions.ts
Due: yarn lint, prettier --write

Fix service provider test
  __tests__/unit/core-state/service-provider.test.ts
Due: yarn lint, prettier --write

wip
  banner.png
Due: none

chore: update install script for setting env
  install.sh
Due: none

chore: update banner (#4116)
  banner.png
Due: none

chore: update install script for setting env (#4117)
  install.sh
Due: none

test(core-blockchain): fix revertBlocks tests
  __tests__/unit/core-blockchain/blockchain.test.ts
Due: yarn lint, prettier --write

fix(core-blockchain): fork recovery (#4118)
  __tests__/unit/core-blockchain/blockchain.test.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-state/src/database-interactions.ts
  packages/core-state/src/service-provider.ts
Due: yarn lint, prettier --write

fix: do not await tx broadcast
  packages/core-transaction-pool/src/processor.ts
Due: yarn lint, prettier --write

refactor: catch and log exception from promise
  packages/core-transaction-pool/src/processor.ts
Due: yarn lint, prettier --write

test: fix processor test
  __tests__/unit/core-transaction-pool/processor.test.ts
Due: yarn lint, prettier --write

chore(core-api): enable trustProxy option
  packages/core-api/src/defaults.ts
Due: yarn lint, prettier --write

refactor(core-p2p): return [] if asked higher blocks than current
  packages/core-p2p/src/socket-server/versions/peer.ts
Due: yarn lint, prettier --write

fix(core-p2p): check that message is a string
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix(core-p2p): ban if not authorized on internal
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix(crypto): htlc lock recipientId is required
  packages/crypto/src/transactions/builders/transactions/htlc-lock.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

release: 2.7.6
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-p2p): strict greater than
  packages/core-p2p/src/socket-server/versions/peer.ts
Due: yarn lint, prettier --write

fix(core-p2p): strict greater than (#4121)
  packages/core-p2p/src/socket-server/versions/peer.ts
Due: yarn lint, prettier --write

release: 2.7.7
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.0.0-next.5
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-transaction-pool): do not await tx broadcast in processor (#4119)
  __tests__/unit/core-transaction-pool/processor.test.ts
  packages/core-transaction-pool/src/processor.ts
Due: yarn lint, prettier --write

release: 3.0.0-next.5 (#4122)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore(core-kernel): implement trigger unbind and rebind methods
  __tests__/unit/core-kernel/services/triggers/triggers.test.ts
  packages/core-kernel/src/services/triggers/triggers.ts
Due: yarn lint, prettier --write

Filter asset by original or cast values
  __tests__/unit/core-database/transaction-filter.test.ts
  packages/core-database/src/transaction-filter.ts
Due: yarn lint, prettier --write

chore(core-kernel): implement trigger unbind and rebind methods (#4125)
  __tests__/unit/core-kernel/services/triggers/triggers.test.ts
  packages/core-kernel/src/services/triggers/triggers.ts
Due: yarn lint, prettier --write

Make cast limit code easier to understand
  packages/core-database/src/transaction-filter.ts
Due: yarn lint, prettier --write

Fix boolean string cast
  packages/core-database/src/transaction-filter.ts
Due: yarn lint, prettier --write

feat(core-state): sync wallet to database (#4108)
  __tests__/unit/core-blockchain/state-machine/actions/initialize.test.ts
  __tests__/unit/core-kernel/application.test.ts
  __tests__/unit/core-state/service-provider.test.ts
  __tests__/unit/core-transaction-pool/service-provider.test.ts
  __tests__/unit/core-webhooks/server/__support__/index.ts
  __tests__/unit/core-webhooks/service-provider.test.ts
  packages/core-database/src/migrations/20201013000000-create-wallets-table.ts
  packages/core-database/src/service-provider.ts
  packages/core-database/src/wallets-table-service.ts
  packages/core-kernel/src/application.ts
  packages/core-kernel/src/contracts/database/index.ts
  packages/core-kernel/src/contracts/database/wallets-table-service.ts
  packages/core-kernel/src/ioc/identifiers.ts
  packages/core-state/src/defaults.ts
  packages/core-state/src/service-provider.ts
  packages/core-state/src/wallets/wallet-sync-service.ts
  packages/core-state/src/wallets/watcher-wallet.ts
  packages/core-transaction-pool/src/service-provider.ts
  packages/core-transaction-pool/src/service.ts
Due: yarn lint, prettier --write

Enable wallet sync though environment variable
  packages/core-state/src/defaults.ts
Due: yarn lint, prettier --write

My guess on environment variable convention
  packages/core-state/src/defaults.ts
Due: yarn lint, prettier --write

feat(core-state): enable wallet sync though environment variable (#4127)
  packages/core-state/src/defaults.ts
Due: yarn lint, prettier --write

release: 3.0.0-next.6
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-p2p): clear request on timeout
  __tests__/unit/core-p2p/hapi-nes/client.test.ts
  packages/core-p2p/src/hapi-nes/client.ts
Due: yarn lint, prettier --write

chore: clear deprecated env variables
  __tests__/e2e/lib/config/nodes/core0/.env
  __tests__/e2e/lib/config/nodes/core1/.env
  __tests__/e2e/lib/config/nodes/core2/.env
  __tests__/e2e/lib/config/nodes/core3/.env
  __tests__/e2e/lib/config/nodes/core4/.env
  packages/core/bin/config/devnet/.env
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/testnet/.env
Due: none

chore: clear deprecated env variables (CORE_EXCHANGE_JSON_RPC)
  __tests__/e2e/lib/config/nodes/core0/.env
  __tests__/e2e/lib/config/nodes/core1/.env
  __tests__/e2e/lib/config/nodes/core2/.env
  __tests__/e2e/lib/config/nodes/core3/.env
  __tests__/e2e/lib/config/nodes/core4/.env
  docker/production/README.md
  docker/production/devnet/devnet.env
  docker/production/mainnet/mainnet.env
  packages/core/bin/config/devnet/.env
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/testnet/.env
Due: prettier --write

fix(core-p2p): clear request on timeout (#4129)
  __tests__/unit/core-p2p/hapi-nes/client.test.ts
  packages/core-p2p/src/hapi-nes/client.ts
Due: yarn lint, prettier --write

chore: remove deprecated env variables (#4130)
  __tests__/e2e/lib/config/nodes/core0/.env
  __tests__/e2e/lib/config/nodes/core1/.env
  __tests__/e2e/lib/config/nodes/core2/.env
  __tests__/e2e/lib/config/nodes/core3/.env
  __tests__/e2e/lib/config/nodes/core4/.env
  docker/production/README.md
  docker/production/devnet/devnet.env
  docker/production/mainnet/mainnet.env
  packages/core/bin/config/devnet/.env
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/testnet/.env
Due: prettier --write

chore(core-cli): log fatal error log
  packages/core-cli/package.json
  packages/core-cli/src/components/fatal.ts
  packages/core/package.json
  yarn.lock
Due: yarn lint, prettier --write

chore(core): required key for env:get command
  packages/core/src/commands/env-get.ts
Due: yarn lint, prettier --write
