Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

Update split2
  packages/core-logger-pino/package.json
  yarn.lock
Due: prettier --write

chore(core-transactions): move tests
  __tests__/unit/core-transactions/verification/multi-signature-verification-memoized.test.ts
  __tests__/unit/core-transactions/verification/multi-signature-verification.test.ts
  __tests__/unit/core-transactions/verification/second-signature-verification-memoized.test.ts
  __tests__/unit/core-transactions/verification/second-signature-verification.test.ts
Due: yarn lint, prettier --write

chore(core-transactions): move tests under __tests__ folder (#4749)
  __tests__/unit/core-transactions/verification/multi-signature-verification-memoized.test.ts
  __tests__/unit/core-transactions/verification/multi-signature-verification.test.ts
  __tests__/unit/core-transactions/verification/second-signature-verification-memoized.test.ts
  __tests__/unit/core-transactions/verification/second-signature-verification.test.ts
Due: yarn lint, prettier --write

deps(core-logger-pino): update package dependencies (#4746)
  packages/core-logger-pino/package.json
  packages/core-logger-pino/src/driver.ts
  yarn.lock
Due: yarn lint, prettier --write

Use custom repository @arkecosystem/crypto-networks
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

Prevent sending from burn wallet
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/transaction.ts
Due: yarn lint, prettier --write

Block multipayment to burn address
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/two/multi-payment.ts
Due: yarn lint, prettier --write

Show burned in blockchain response
  packages/core-api/src/controllers/blockchain.ts
  packages/core-kernel/src/contracts/state/wallets.ts
  packages/core-state/src/wallets/wallet-repository.ts
Due: yarn lint, prettier --write

Return BigNumber from supply calculator
  packages/core-api/src/controllers/blockchain.ts
  packages/core-kernel/src/utils/delegate-calculator.ts
  packages/core-kernel/src/utils/supply-calculator.ts
Due: yarn lint, prettier --write

Calculate current supply
  packages/core-api/src/controllers/blockchain.ts
Due: yarn lint, prettier --write

Update delegate calculator
  packages/core-api/src/services/delegate-search-service.ts
  packages/core-kernel/src/utils/delegate-calculator.ts
Due: yarn lint, prettier --write

Generate burn address
  packages/core-test-framework/src/app/generators/crypto.ts
Due: yarn lint, prettier --write

Test sending from burn address
  __tests__/unit/core-transactions/handlers/__support__/app.ts
  __tests__/unit/core-transactions/handlers/two/transaction.test.ts
Due: yarn lint, prettier --write

Test multi-payment
  __tests__/unit/core-transactions/handlers/two/multi-payment.test.ts
Due: yarn lint, prettier --write

Core-kernel tests
  __tests__/unit/core-kernel/utils/delegate-calculator.test.ts
  __tests__/unit/core-kernel/utils/supply-calculator.test.ts
Due: yarn lint, prettier --write

Test core-api
  __tests__/unit/core-api/controllers/blockchain.test.ts
  __tests__/unit/core-api/services/delegate-search-service.test.ts
  packages/core-api/src/controllers/blockchain.ts
Due: yarn lint, prettier --write

Update custom repository @arkecosystem/core-network
  yarn.lock
Due: none

Generate burn address
  packages/core/src/commands/network-generate.ts
Due: yarn lint, prettier --write

Use @arkecosystem/crypto-networks 1.5.0
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

Disable sending HTLCLock to burn address
  __tests__/unit/core-transactions/handlers/two/htlc-lock.test.ts
  packages/core-transactions/src/handlers/two/htlc-lock.ts
Due: yarn lint, prettier --write

Check blockBurnAddress milestone
  __tests__/unit/core-transactions/handlers/two/htlc-lock.test.ts
  __tests__/unit/core-transactions/handlers/two/multi-payment.test.ts
  packages/core-test-framework/src/app/generators/crypto.ts
  packages/core-transactions/src/handlers/two/htlc-lock.ts
  packages/core-transactions/src/handlers/two/multi-payment.ts
Due: yarn lint, prettier --write

Add blockBurnAddress in network:generate command
  __tests__/unit/core/commands/network-generate.test.ts
  packages/core/src/commands/network-generate.ts
Due: yarn lint, prettier --write

Update @arkecosystem/crypto-networks
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

Update @arkecosystem/crypto-networks to 1.6.1
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

feat: support burn address (#4750)
  __tests__/unit/core-api/controllers/blockchain.test.ts
  __tests__/unit/core-api/services/delegate-search-service.test.ts
  __tests__/unit/core-kernel/utils/delegate-calculator.test.ts
  __tests__/unit/core-kernel/utils/supply-calculator.test.ts
  __tests__/unit/core-transactions/handlers/__support__/app.ts
  __tests__/unit/core-transactions/handlers/two/htlc-lock.test.ts
  __tests__/unit/core-transactions/handlers/two/multi-payment.test.ts
  __tests__/unit/core-transactions/handlers/two/transaction.test.ts
  __tests__/unit/core/commands/network-generate.test.ts
  packages/core-api/src/controllers/blockchain.ts
  packages/core-api/src/services/delegate-search-service.ts
  packages/core-kernel/src/contracts/state/wallets.ts
  packages/core-kernel/src/utils/delegate-calculator.ts
  packages/core-kernel/src/utils/supply-calculator.ts
  packages/core-state/src/wallets/wallet-repository.ts
  packages/core-test-framework/src/app/generators/crypto.ts
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/two/htlc-lock.ts
  packages/core-transactions/src/handlers/two/multi-payment.ts
  packages/core/src/commands/network-generate.ts
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

release: 3.7.0-rc.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.7.0-rc.0 (#4752)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Add rc channel
  packages/core/src/commands/config-cli.ts
Due: yarn lint, prettier --write

fix(core): support `rc` channel (#4753)
  packages/core/src/commands/config-cli.ts
Due: yarn lint, prettier --write

release: 3.7.0-rc.1
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.7.0-rc.1 (#4754)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Allow rc channel
  packages/core-cli/src/services/config.ts
Due: yarn lint, prettier --write

fix(core-cli): allow `rc` channel in config (#4755)
  packages/core-cli/src/services/config.ts
Due: yarn lint, prettier --write

release: 3.7.0-rc.2
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.7.0-rc.2 (#4756)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Add semaphore plugin
  packages/core-api/src/plugins/index.ts
  packages/core-api/src/plugins/semaphore.ts
Due: yarn lint, prettier --write

Calculate query level
  packages/core-api/src/plugins/semaphore.ts
  packages/core-api/src/routes/blocks.ts
Due: yarn lint, prettier --write

Add semaphore
  packages/core-api/package.json
  yarn.lock
Due: prettier --write

Add semaphore logic
  packages/core-api/src/plugins/semaphore.ts
Due: yarn lint, prettier --write

Add support for max queue length
  packages/core-api/src/plugins/semaphore.ts
Due: yarn lint, prettier --write
