Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

fix: map block to transaction
  packages/core-database/src/repositories/transactions-business-repository.ts
Due: yarn lint, prettier --write

feat(core): install plugins from local tarballs
  commitlint.config.js
  package.json
  packages/core/src/commands/plugin/install.ts
  packages/core/src/services/plugins/sources/blockchain.ts
  packages/core/src/services/plugins/sources/file.ts
  packages/core/src/services/plugins/sources/git.ts
  packages/core/src/services/plugins/sources/index.ts
  packages/core/src/services/plugins/sources/npm.ts
Due: yarn lint, prettier --write

fix(core-transactions): delegate resignation (#3045)
  packages/core-transaction-pool/src/wallet-manager.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
  yarn.lock
Due: yarn lint, prettier --write

fix(core-api): missing confirmations for lock transactions (#3046)
  packages/core-database/src/repositories/transactions-business-repository.ts
Due: yarn lint, prettier --write

test(core): unit test the git, npm and file sources
  .lintstagedrc.json
  __tests__/unit/core/services/plugins/sources/file.test.ts
  __tests__/unit/core/services/plugins/sources/git.test.ts
  __tests__/unit/core/services/plugins/sources/npm.test.ts
  __tests__/unit/core/services/plugins/sources/utils-0.9.1.tgz
  jest.config.js
  packages/core/src/commands/plugin/install.ts
  packages/core/src/commands/plugin/update.ts
  packages/core/src/services/plugins/sources/blockchain.ts
  packages/core/src/services/plugins/sources/file.ts
  packages/core/src/services/plugins/sources/git.ts
  packages/core/src/services/plugins/sources/index.ts
  packages/core/src/services/plugins/sources/npm.ts
Due: yarn lint, prettier --write

chore(core-database-postgres): load migration file names automatically
  packages/core-database-postgres/src/migrations/index.ts
Due: yarn lint, prettier --write

fix(core-p2p): convert isAppReady response to object
  packages/core-p2p/src/socket-server/versions/utils.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

chore(core-database-postgres): load migration file names automatically (#3049)
  packages/core-database-postgres/src/migrations/index.ts
Due: yarn lint, prettier --write

fix(core-p2p): convert isAppReady response to object (#3050)
  packages/core-p2p/src/socket-server/versions/utils.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

refactor: load core-p2p earlier
  __tests__/utils/config/testnet/plugins.js
  __tests__/utils/config/unitnet/plugins.js
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/plugins.js
Due: none

fix(deps): update dependency @arkecosystem/utils to v0.9.9
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-jest-matchers/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

fix(core-database-postgres): store vendor field in bytea
  packages/core-database-postgres/src/migrations/20191003000000-migrate-vendor-field-hex.sql
Due: none

chore(deps): update dependency @sindresorhus/tsconfig to ^0.5.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @arkecosystem/utils to v1
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-jest-matchers/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

test: don't register core-p2p separately
  __tests__/integration/core-transaction-pool/__support__/setup.ts
Due: yarn lint, prettier --write

fix(core-database-postgres): store vendor field in bytea (#3048)
  packages/core-database-postgres/src/migrations/20191003000000-migrate-vendor-field-hex.sql
Due: none

fix: mainnet address exceptions
  __tests__/unit/crypto/identities/address.test.ts
  packages/crypto/src/errors.ts
  packages/crypto/src/identities/address.ts
  packages/crypto/src/interfaces/transactions.ts
  packages/crypto/src/transactions/serializer.ts
  packages/crypto/src/transactions/types/htlc-lock.ts
  packages/crypto/src/transactions/types/transfer.ts
  packages/crypto/src/transactions/utils.ts
  packages/crypto/src/utils/index.ts
Due: yarn lint, prettier --write

refactor: terminate connection
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

refactor: cleanup socket errors
  packages/core-database-postgres/src/migrations/index.ts
  packages/core-p2p/src/enums.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/socket-server/index.ts
  packages/core-p2p/src/socket-server/worker.ts
  packages/core-p2p/src/utils/socket.ts
Due: yarn lint, prettier --write

refactor: dont log empty errors
  packages/core-transaction-pool/src/processor.ts
Due: yarn lint, prettier --write

refactor: resolve 2.6 TODO
  packages/core-p2p/src/socket-server/versions/peer.ts
Due: yarn lint, prettier --write

fix: unused imports
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-p2p/src/socket-server/index.ts
  packages/core-p2p/src/socket-server/worker.ts
  packages/core-p2p/src/utils/socket.ts
Due: yarn lint, prettier --write

fix: call req.socket.destroy
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix: disconnect peers
  packages/core-p2p/src/enums.ts
  packages/core-p2p/src/utils/socket.ts
Due: yarn lint, prettier --write

chore: deps
  package.json
Due: prettier --write

chore: yarn.lock
  packages/core-blockchain/package.json
  packages/core-p2p/package.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

chore: switch to TypeScript 3.6 (#3057)
  package.json
  packages/core-blockchain/package.json
  packages/core-p2p/package.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

refactor(core-kernel): make use of more @arkecosystem/utils methods
  .eslintrc.json
  packages/core-kernel/package.json
  packages/core-kernel/src/application.ts
  packages/core-kernel/src/bootstrap/app/register-base-paths.ts
  packages/core-kernel/src/services/config/drivers/local.ts
  packages/core-kernel/src/services/config/drivers/remote.ts
  packages/core-kernel/src/support/manager.ts
  yarn.lock
Due: yarn lint, prettier --write

test: peer-communicator to emit disconnectPeer when socket is terminated on the server side (middleware)
  __tests__/integration/core-p2p/__support__/mock-socket-server/manager.ts
  __tests__/integration/core-p2p/__support__/mock-socket-server/worker.js
  __tests__/integration/core-p2p/peer-communicator.test.ts
Due: yarn lint, prettier --write

refactor(core-p2p): cleanup socket errors (#3056)
  __tests__/integration/core-p2p/__support__/mock-socket-server/manager.ts
  __tests__/integration/core-p2p/__support__/mock-socket-server/worker.js
  __tests__/integration/core-p2p/peer-communicator.test.ts
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-database-postgres/src/migrations/index.ts
  packages/core-p2p/src/enums.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/socket-server/index.ts
  packages/core-p2p/src/socket-server/versions/peer.ts
  packages/core-p2p/src/socket-server/worker.ts
  packages/core-p2p/src/utils/socket.ts
  packages/core-transaction-pool/src/processor.ts
Due: yarn lint, prettier --write

chore(core-database-postgres): convert BYTEA to/from string
  packages/core-database-postgres/src/models/transaction.ts
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database-postgres/src/repositories/repository.ts
  packages/core-database-postgres/src/repositories/transactions.ts
Due: yarn lint, prettier --write

fix: negative balance exceptions
  packages/core-container/src/config/index.ts
  packages/core-database-postgres/src/state-builder.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/crypto/src/networks/mainnet/exceptions.json
Due: yarn lint, prettier --write

fix: out of order transactions when saving block
  packages/core-database-postgres/src/postgres-connection.ts
Due: yarn lint, prettier --write

perf: exception id lookup
  packages/crypto/src/utils/index.ts
Due: yarn lint, prettier --write

fix: cast to boolean
  packages/crypto/src/utils/index.ts
Due: yarn lint, prettier --write

test: fix
  __tests__/unit/core-blockchain/processor/block-processor.test.ts
Due: yarn lint, prettier --write

fix(crypto): handle mainnet address exceptions (#3055)
  __tests__/unit/core-blockchain/processor/block-processor.test.ts
  __tests__/unit/crypto/identities/address.test.ts
  packages/core-container/src/config/index.ts
  packages/core-database-postgres/src/postgres-connection.ts
  packages/core-database-postgres/src/state-builder.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/crypto/src/errors.ts
  packages/crypto/src/identities/address.ts
  packages/crypto/src/interfaces/transactions.ts
  packages/crypto/src/networks/mainnet/exceptions.json
  packages/crypto/src/transactions/serializer.ts
  packages/crypto/src/transactions/types/htlc-lock.ts
  packages/crypto/src/transactions/types/transfer.ts
  packages/crypto/src/transactions/utils.ts
  packages/crypto/src/utils/index.ts
Due: yarn lint, prettier --write

chore: update TypeScript configuration
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write
