Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

docs: preliminary 2.1 changelog (#2062)
  CHANGELOG.md
Due: prettier --write

Added Docker Production set
  docker/production/Dockerfile
  docker/production/LICENSE
  docker/production/devnet/devnet.env
  docker/production/devnet/docker-compose-build.yml
  docker/production/devnet/docker-compose.yml
  docker/production/devnet/enc.sh
  docker/production/devnet/purge_all.sh
  docker/production/entrypoint.sh
  docker/production/mainnet/docker-compose-build.yml
  docker/production/mainnet/docker-compose.yml
  docker/production/mainnet/enc.sh
  docker/production/mainnet/mainnet.env
  docker/production/mainnet/purge_all.sh
  docker/production/purge_all.sh
  scripts/docker/templates/devnet/docker-compose.yml
  scripts/docker/templates/testnet/docker-compose.yml
Due: none

tabs
  docker/production/devnet/enc.sh
  docker/production/mainnet/enc.sh
Due: none

chore: docker production set (#2063)
  docker/production/Dockerfile
  docker/production/LICENSE
  docker/production/devnet/devnet.env
  docker/production/devnet/docker-compose-build.yml
  docker/production/devnet/docker-compose.yml
  docker/production/devnet/enc.sh
  docker/production/devnet/purge_all.sh
  docker/production/entrypoint.sh
  docker/production/mainnet/docker-compose-build.yml
  docker/production/mainnet/docker-compose.yml
  docker/production/mainnet/enc.sh
  docker/production/mainnet/mainnet.env
  docker/production/mainnet/purge_all.sh
  docker/production/purge_all.sh
  scripts/docker/templates/devnet/docker-compose.yml
  scripts/docker/templates/testnet/docker-compose.yml
Due: none

test: fix state-machine tests, add unchained handler & queue tests
  packages/core-blockchain/__tests__/processor/handlers/unchained-handler.test.ts
  packages/core-blockchain/__tests__/queue/interface.test.ts
  packages/core-blockchain/__tests__/state-machine.test.ts
Due: yarn lint, prettier --write

test: state-machine fix async/await tests + init CORE_ENV beforeAll
  packages/core-blockchain/__tests__/state-machine.test.ts
Due: yarn lint, prettier --write

refactor(core-p2p): Chop off the N-ary search in a separate class
  packages/core-p2p/src/peer-verifier.ts
  packages/core-utils/src/index.ts
  packages/core-utils/src/nsect.ts
Due: yarn lint, prettier --write

Update - mount database and logs paths as volumes
  docker/production/devnet/docker-compose-build.yml
  docker/production/devnet/docker-compose.yml
  docker/production/entrypoint.sh
  docker/production/mainnet/docker-compose-build.yml
  docker/production/mainnet/docker-compose.yml
Due: none

test: add shutdown test to blockchain
  packages/core-blockchain/__tests__/blockchain.test.ts
Due: yarn lint, prettier --write

chore(docker): mount database and log paths as volumes (#2064)
  docker/production/devnet/docker-compose-build.yml
  docker/production/devnet/docker-compose.yml
  docker/production/entrypoint.sh
  docker/production/mainnet/docker-compose-build.yml
  docker/production/mainnet/docker-compose.yml
Due: none

fix(core-api): give user requested field priority for sorting
  packages/core-api/src/repositories/repository.ts
  packages/core-api/src/repositories/transactions.ts
Due: yarn lint, prettier --write

fix(core-p2p): add missing type hints
  packages/core-p2p/src/server/versions/internal/handlers/transactions.ts
  packages/core-p2p/src/server/versions/internal/handlers/utils.ts
  packages/core-p2p/src/server/versions/remote/handlers/blockchain.ts
Due: yarn lint, prettier --write

chore(docker): rename development to unitnet
  .gitignore
  scripts/docker/templates/development/purge.sh
  scripts/docker/templates/mainnet/docker-compose.yml
  scripts/docker/templates/unitnet/docker-compose.yml
  scripts/docker/templates/unitnet/purge.sh
Due: none

chore: ignore a few things for coverage
  .codecov.yml
Due: none

test: fix tick-sync-tracker test
  packages/core-blockchain/__tests__/utils/tick-sync-tracker.test.ts
Due: yarn lint, prettier --write

test: core-jest-matchers dispatch tests
  packages/core-jest-matchers/__tests__/blockchain/dispatch.test.ts
  packages/core-jest-matchers/src/blockchain/dispatch.ts
Due: yarn lint, prettier --write

test(core-blockchain): increase coverage (#2066)
  .circleci/config.yml
  .circleci/configTemplate.json
  .circleci/generateConfig.js
  .circleci/rebuild-db.sh
  packages/core-blockchain/__tests__/blockchain-networkStart.test.ts
  packages/core-blockchain/__tests__/blockchain.test.ts
  packages/core-blockchain/__tests__/processor/block-processor.test.ts
  packages/core-blockchain/__tests__/processor/handlers/accept-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/exception-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/unchained-handler.test.ts
  packages/core-blockchain/__tests__/queue/interface.test.ts
  packages/core-blockchain/__tests__/queue/process.test.ts
  packages/core-blockchain/__tests__/queue/rebuild.test.ts
  packages/core-blockchain/__tests__/state-machine.test.ts
  packages/core-blockchain/__tests__/state-storage.test.ts
  packages/core-blockchain/__tests__/utils/tick-sync-tracker.test.ts
  packages/core-blockchain/src/state-machine.ts
  packages/core-database-postgres/__tests__/connection.test.ts
  packages/core-jest-matchers/__tests__/blockchain/dispatch.test.ts
  packages/core-jest-matchers/src/blockchain/dispatch.ts
Due: yarn lint, prettier --write

Update install.sh
  install.sh
Due: none

chore(docker): rename development to unitnet (#2065)
  .gitignore
  install.sh
  scripts/docker/templates/development/purge.sh
  scripts/docker/templates/mainnet/docker-compose.yml
  scripts/docker/templates/unitnet/docker-compose.yml
  scripts/docker/templates/unitnet/purge.sh
Due: none

feat(core-p2p): Obey ping timeout during peer verification
  packages/core-interfaces/src/core-p2p/peer.ts
  packages/core-p2p/src/peer-verifier.ts
  packages/core-p2p/src/peer.ts
Due: yarn lint, prettier --write

refactor: move getBytes to TransactionDeserializer
  packages/crypto/__tests__/crypto/crypto.test.ts
  packages/crypto/__tests__/deserializers/transaction.test.ts
  packages/crypto/src/builder/transactions/transaction.ts
  packages/crypto/src/crypto/crypto.ts
  packages/crypto/src/serializers/transaction.ts
Due: yarn lint, prettier --write

refactor: crypto.ts
  packages/crypto/__tests__/crypto/crypto.test.ts
  packages/crypto/__tests__/deserializers/transaction.test.ts
  packages/crypto/src/crypto/crypto.ts
  packages/crypto/src/models/wallet.ts
  packages/crypto/src/serializers/index.ts
  packages/crypto/src/serializers/transaction.ts
Due: yarn lint, prettier --write

refactor: wip
  packages/crypto/src/deserializers/transaction.ts
  packages/crypto/src/errors.ts
  packages/crypto/src/models/block.ts
  packages/crypto/src/models/index.ts
  packages/crypto/src/models/transactions/index.ts
  packages/crypto/src/models/transactions/interfaces.ts
  packages/crypto/src/models/transactions/registry.ts
  packages/crypto/src/models/transactions/transaction.ts
  packages/crypto/src/models/transactions/types/abstract.ts
  packages/crypto/src/models/transactions/types/index.ts
  packages/crypto/src/models/transactions/types/transfer.ts
  packages/crypto/src/models/wallet.ts
Due: yarn lint, prettier --write

refactor: rename
  packages/crypto/src/deserializers/transaction.ts
  packages/crypto/src/models/transactions/index.ts
  packages/crypto/src/models/transactions/repository.ts
Due: yarn lint, prettier --write

refactor: move to subfolder
  packages/crypto/src/deserializers/transaction.ts
  packages/crypto/src/errors.ts
  packages/crypto/src/models/block.ts
  packages/crypto/src/models/delegate.ts
  packages/crypto/src/models/index.ts
  packages/crypto/src/models/transactions/registry.ts
  packages/crypto/src/models/transactions/transaction.ts
  packages/crypto/src/models/wallet.ts
  packages/crypto/src/test.ts
Due: yarn lint, prettier --write

refactor: add getter for registered Transaction class
  packages/crypto/src/errors.ts
  packages/crypto/src/models/transactions/registry.ts
Due: yarn lint, prettier --write

refactor: add all core types
  packages/crypto/src/models/transactions/repository.ts
  packages/crypto/src/models/transactions/types/delegate-registration.ts
  packages/crypto/src/models/transactions/types/delegate-resignation.ts
  packages/crypto/src/models/transactions/types/index.ts
  packages/crypto/src/models/transactions/types/ipfs.ts
  packages/crypto/src/models/transactions/types/multi-payment.ts
  packages/crypto/src/models/transactions/types/multi-signature.ts
  packages/crypto/src/models/transactions/types/second-signature.ts
  packages/crypto/src/models/transactions/types/timelock-transfer.ts
Due: yarn lint, prettier --write

refactor: add from
  packages/crypto/__tests__/models/transaction.test.ts
  packages/crypto/src/deserializers/transaction.ts
  packages/crypto/src/models/transactions/repository.ts
  packages/crypto/src/models/transactions/types/abstract.ts
Due: yarn lint, prettier --write

refactor: add vote, use provided serde functions
  packages/crypto/__tests__/builder/transactions/__shared__/transaction-builder.ts
  packages/crypto/src/deserializers/transaction.ts
  packages/crypto/src/models/transactions/repository.ts
  packages/crypto/src/models/transactions/transaction.ts
  packages/crypto/src/models/transactions/types/abstract.ts
  packages/crypto/src/models/transactions/types/index.ts
  packages/crypto/src/models/transactions/types/transfer.ts
  packages/crypto/src/models/transactions/types/vote.ts
  packages/crypto/src/serializers/transaction.ts
Due: yarn lint, prettier --write

refactor: add canBeApplied check
  packages/crypto/src/errors.ts
  packages/crypto/src/transactions/types/abstract.ts
Due: yarn lint, prettier --write

refactor: change type to field
  packages/crypto/src/transactions/repository.ts
  packages/crypto/src/transactions/types/abstract.ts
  packages/crypto/src/transactions/types/delegate-registration.ts
  packages/crypto/src/transactions/types/delegate-resignation.ts
  packages/crypto/src/transactions/types/ipfs.ts
  packages/crypto/src/transactions/types/multi-payment.ts
  packages/crypto/src/transactions/types/multi-signature.ts
  packages/crypto/src/transactions/types/second-signature.ts
  packages/crypto/src/transactions/types/timelock-transfer.ts
  packages/crypto/src/transactions/types/transfer.ts
  packages/crypto/src/transactions/types/vote.ts
Due: yarn lint, prettier --write

refactor: delegate registration
  packages/crypto/src/errors.ts
  packages/crypto/src/transactions/types/delegate-registration.ts
Due: yarn lint, prettier --write

refactor: missing toJson
  packages/crypto/src/transactions/types/abstract.ts
Due: yarn lint, prettier --write

refactor: all handlers
  packages/crypto/src/errors.ts
  packages/crypto/src/transactions/types/delegate-registration.ts
  packages/crypto/src/transactions/types/delegate-resignation.ts
  packages/crypto/src/transactions/types/ipfs.ts
  packages/crypto/src/transactions/types/multi-payment.ts
  packages/crypto/src/transactions/types/multi-signature.ts
  packages/crypto/src/transactions/types/second-signature.ts
  packages/crypto/src/transactions/types/timelock-transfer.ts
  packages/crypto/src/transactions/types/transfer.ts
  packages/crypto/src/transactions/types/vote.ts
Due: yarn lint, prettier --write

refactor: replace Transaction constructor calls
  packages/core-database/__tests__/wallet-manager.test.ts
  packages/core-elasticsearch/src/index/transaction.ts
  packages/core-forger/src/manager.ts
  packages/core-p2p/__tests__/peer.test.ts
  packages/core-p2p/__tests__/server/internal.test.ts
  packages/core-p2p/src/server/versions/internal/handlers/transactions.ts
  packages/core-snapshots/src/transport/verification.ts
  packages/core-transaction-pool/__tests__/connection.test.ts
  packages/core-transaction-pool/src/guard.ts
  packages/core-transaction-pool/src/storage.ts
  packages/crypto/__tests__/models/transaction.test.ts
  packages/crypto/src/builder/transactions/transaction.ts
  packages/crypto/src/transactions/deserializers/block.ts
  packages/crypto/src/transactions/types/abstract.ts
Due: yarn lint, prettier --write

fix: data access
  packages/core-interfaces/src/core-transaction-pool/transaction-guard.ts
  packages/core-interfaces/src/core-transaction-pool/transaction-pool.ts
  packages/core-tester-cli/src/commands/delegate-registration.ts
  packages/core-tester-cli/src/commands/multi-signature.ts
  packages/core-tester-cli/src/commands/second-signature.ts
  packages/core-tester-cli/src/commands/vote.ts
  packages/core-tester-cli/src/utils.ts
  packages/core-transaction-pool/src/guard.ts
  packages/crypto/src/models/block.ts
  packages/crypto/src/transactions/types/abstract.ts
Due: yarn lint, prettier --write

fix: type errors
  packages/core-blockchain/src/state-storage.ts
  packages/crypto/src/models/block.ts
  packages/crypto/src/transactions/deserializers/block.ts
Due: yarn lint, prettier --write

refactor: add type info to pool, use new tx class
  packages/core-api/src/versions/2/transactions/controller.ts
  packages/core-interfaces/src/core-transaction-pool/transaction-guard.ts
  packages/core-interfaces/src/core-transaction-pool/transaction-pool.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/dynamic-fee/index.ts
  packages/core-transaction-pool/src/dynamic-fee/matcher.ts
  packages/core-transaction-pool/src/guard.ts
  packages/core-transaction-pool/src/mem-pool-transaction.ts
  packages/core-transaction-pool/src/mem.ts
  packages/core-transaction-pool/src/storage.ts
  packages/core-transaction-pool/src/utils/is-on-active-network.ts
  packages/crypto/src/transactions/types/abstract.ts
Due: yarn lint, prettier --write

fix: fix some core-database issues
  packages/core-database-postgres/src/connection.ts
  packages/core-database-postgres/src/models/transaction.ts
  packages/core-database-postgres/src/spv.ts
  packages/core-database/src/interface.ts
  packages/core-database/src/wallet-manager.ts
  packages/core-transaction-pool/src/guard.ts
  packages/core-transaction-pool/src/pool-wallet-manager.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
