Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

chore(magistrate): add exceptions for business resignation (#3551)
  packages/core-magistrate-transactions/src/handlers/business-resignation.ts
  packages/crypto/src/networks/devnet/exceptions.json
Due: yarn lint, prettier --write

test(core-transactions): fix tests
  __tests__/unit/core-transactions/handlers/__support__/app.ts
  __tests__/unit/core-transactions/handlers/two/delegate-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/delegate-resignation.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-claim.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-lock.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-refund.test.ts
  __tests__/unit/core-transactions/handlers/two/multi-signature-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/second-signature-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/vote.test.ts
  packages/core-transaction-pool/src/index.ts
Due: yarn lint, prettier --write

release: 2.6.0-next.13
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

test(core-state): update paths to use @packages and src files
  __tests__/unit/core-state/block-state.test.ts
  __tests__/unit/core-state/dpos/dpos-previous-round.test.ts
  __tests__/unit/core-state/dpos/dpos.test.ts
  __tests__/unit/core-state/helper/make-chained-block.ts
  __tests__/unit/core-state/helper/make-vote-transactions.ts
  __tests__/unit/core-state/setup.ts
  __tests__/unit/core-state/stores/blocks.test.ts
  __tests__/unit/core-state/stores/state.test.ts
  __tests__/unit/core-state/stores/transactions.test.ts
  __tests__/unit/core-state/transaction-validator.test.ts
  __tests__/unit/core-state/wallets/wallet-index.test.ts
  __tests__/unit/core-state/wallets/wallet-repository-clone.test.ts
  __tests__/unit/core-state/wallets/wallet-repository-copy-on-write.test.ts
  __tests__/unit/core-state/wallets/wallet-repository.test.ts
  __tests__/unit/core-state/wallets/wallet.test.ts
Due: yarn lint, prettier --write

release: 2.6.12-next.13
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

test(core-transactions): test if htlc claim and refound already in the pool throws error
  __tests__/unit/core-transactions/handlers/two/htlc-claim.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-refund.test.ts
Due: yarn lint, prettier --write

release: 2.6.12-next.15
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-p2p/src/defaults.ts
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: yarn lint, prettier --write

test(core-state): fix negative balance checks and tests
  __tests__/unit/core-state/setup.ts
  __tests__/unit/core-state/state-builder.test.ts
  packages/core-state/src/state-builder.ts
Due: yarn lint, prettier --write

test(core-state): add test for search utils - limit rows
  __tests__/unit/core-state/utils/limit-rows.test.ts
  packages/core-state/src/wallets/utils/limit-rows.ts
Due: yarn lint, prettier --write

test(core-state): test filterRows function in wallet utils
  __tests__/unit/core-state/utils/filter-rows.test.ts
  packages/core-state/src/wallets/utils/filter-rows.ts
Due: yarn lint, prettier --write

test(core-state): add tests for search-parameter-converter
  __tests__/unit/core-state/utils/mock-database-model.ts
  __tests__/unit/core-state/utils/search-parameter-converter.test.ts
Due: yarn lint, prettier --write

test(core-state): move utils tests into wallet folder
  __tests__/unit/core-state/wallets/utils/filter-rows.test.ts
  __tests__/unit/core-state/wallets/utils/limit-rows.test.ts
  __tests__/unit/core-state/wallets/utils/mock-database-model.ts
  __tests__/unit/core-state/wallets/utils/search-parameter-converter.test.ts
Due: yarn lint, prettier --write

test(core-state): test errors inside wallet folder
  __tests__/unit/core-state/wallets/errors.test.ts
Due: yarn lint, prettier --write

Collator test covering transaction removal
  __tests__/unit/core-transaction-pool/collator.test.ts
Due: yarn lint, prettier --write

Dynamic fee tests
  __tests__/unit/core-transaction-pool/dynamic-fee-matcher.test.ts
  packages/core-transaction-pool/src/dynamic-fee-matcher.ts
Due: yarn lint, prettier --write

Updated processor test
  __tests__/unit/core-transaction-pool/processor.test.ts
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint, prettier --write

Error tests
  __tests__/unit/core-transaction-pool/errors.test.ts
  packages/core-transaction-pool/src/errors.ts
Due: yarn lint, prettier --write

test(core-transactions): increase coverage to 100% (#3520)
  __tests__/unit/core-transactions/handlers/__fixtures__/htlc-secrets.ts
  __tests__/unit/core-transactions/handlers/__mocks__/block-repository.ts
  __tests__/unit/core-transactions/handlers/__mocks__/transaction-repository.ts
  __tests__/unit/core-transactions/handlers/__support__/app.ts
  __tests__/unit/core-transactions/handlers/handler-registry.test.ts
  __tests__/unit/core-transactions/handlers/one/multi-signature-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/delegate-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/delegate-resignation.test.ts
  __tests__/unit/core-transactions/handlers/two/general.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-claim.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-lock.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-refund.test.ts
  __tests__/unit/core-transactions/handlers/two/ipfs.test.ts
  __tests__/unit/core-transactions/handlers/two/multi-payment.test.ts
  __tests__/unit/core-transactions/handlers/two/multi-signature-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/second-signature-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/transfer.test.ts
  __tests__/unit/core-transactions/handlers/two/vote.test.ts
  __tests__/unit/core-transactions/service-provider.test.ts
  packages/core-test-framework/src/factories/factories/wallet.ts
  packages/core-test-framework/src/internal/wallet-attributes.ts
  packages/core-transaction-pool/src/index.ts
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/one/delegate-registration.ts
  packages/core-transactions/src/handlers/one/multi-signature-registration.ts
  packages/core-transactions/src/handlers/one/second-signature-registration.ts
  packages/core-transactions/src/handlers/one/transfer.ts
  packages/core-transactions/src/handlers/one/vote.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/crypto/src/transactions/builders/transactions/htlc-lock.ts
Due: yarn lint, prettier --write

Expiration service tests
  __tests__/unit/core-transaction-pool/collator.test.ts
  __tests__/unit/core-transaction-pool/dynamic-fee-matcher.test.ts
  __tests__/unit/core-transaction-pool/errors.test.ts
  __tests__/unit/core-transaction-pool/expiration-service.test.ts
  __tests__/unit/core-transaction-pool/processor.test.ts
  packages/core-kernel/src/contracts/transaction-pool/expiration-service.ts
  packages/core-transaction-pool/src/errors.ts
  packages/core-transaction-pool/src/expiration-service.ts
  packages/core-transaction-pool/src/sender-state.ts
Due: yarn lint, prettier --write

Fix possible races
  packages/core-kernel/src/contracts/transaction-pool/memory.ts
  packages/core-kernel/src/contracts/transaction-pool/sender-state.ts
  packages/core-kernel/src/contracts/transaction-pool/service.ts
  packages/core-transaction-pool/src/errors.ts
  packages/core-transaction-pool/src/memory.ts
  packages/core-transaction-pool/src/sender-state.ts
  packages/core-transaction-pool/src/service.ts
  packages/core-transaction-pool/src/utils.ts
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint, prettier --write

Some memory tests
  __tests__/unit/core-transaction-pool/memory.test.ts
Due: yarn lint, prettier --write

Fix Transaction.toString unit test
  __tests__/unit/crypto/transactions/transaction.test.ts
Due: yarn lint, prettier --write

Fix import sorting
  __tests__/unit/crypto/transactions/transaction.test.ts
Due: yarn lint, prettier --write

Fix Transaction.toString()
  __tests__/unit/crypto/transactions/transaction.test.ts
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint, prettier --write

fix(deps): update dependency yargs-parser to v18
  packages/core-cli/package.json
  yarn.lock
Due: prettier --write

refactor: no default addonBytes for magistrate txs
  packages/core-transaction-pool/src/defaults.ts
Due: yarn lint, prettier --write

refactor(core-transaction-pool): no default addonBytes for magistrate transactions (#3560)
  packages/core-transaction-pool/src/defaults.ts
Due: yarn lint, prettier --write

test(core-state): merge index and reindex into one function inside WalletRepository
  __tests__/functional/transaction-forging/delegate-resignation.test.ts
  __tests__/integration/core-api/__support__/setup.ts
  __tests__/integration/core-api/handlers/delegates.test.ts
  __tests__/integration/core-api/handlers/locks.test.ts
  __tests__/integration/core-api/handlers/wallets.test.ts
  __tests__/unit/core-state/block-state.test.ts
  __tests__/unit/core-state/dpos/dpos-previous-round.test.ts
  __tests__/unit/core-state/state-builder.test.ts
  __tests__/unit/core-state/wallets/wallet-repository-clone.test.ts
  __tests__/unit/core-state/wallets/wallet-repository-copy-on-write.test.ts
  __tests__/unit/core-state/wallets/wallet-repository.test.ts
  packages/core-kernel/src/contracts/state/wallets.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-registration.ts
  packages/core-magistrate-transactions/src/handlers/business-resignation.ts
  packages/core-state/src/block-state.ts
  packages/core-state/src/wallets/wallet-repository-clone.ts
  packages/core-state/src/wallets/wallet-repository-copy-on-write.ts
  packages/core-state/src/wallets/wallet-repository.ts
  packages/core-transactions/src/handlers/one/delegate-registration.ts
  packages/core-transactions/src/handlers/one/multi-signature-registration.ts
  packages/core-transactions/src/handlers/two/delegate-registration.ts
  packages/core-transactions/src/handlers/two/delegate-resignation.ts
  packages/core-transactions/src/handlers/two/htlc-claim.ts
  packages/core-transactions/src/handlers/two/htlc-lock.ts
  packages/core-transactions/src/handlers/two/htlc-refund.ts
  packages/core-transactions/src/handlers/two/ipfs.ts
  packages/core-transactions/src/handlers/two/multi-signature-registration.ts
Due: yarn lint, prettier --write

fix(core): allow spaces in arguments
  packages/core/bin/run
Due: none

refactor(core): gracefully handle missing jemalloc
  packages/core/bin/run
Due: none

refactor(core): wrap in try/catch
  packages/core/bin/run
Due: none

perf(core): use jemalloc as the memory allocator (#3541)
  install.sh
  packages/core/bin/run
Due: none

fix: set height=1 on config manager for processing genesis block + initialize memoryDatabase activeDelegates with restoreCurrentRound
  packages/core-blockchain/src/replay/replay-blockchain.ts
Due: yarn lint, prettier --write

fix(core): handle multiple installations of jemalloc
  packages/core/bin/run
Due: none

fix(core-blockchain): set height 1 on config manager for processing genesis block (blockchain replay) (#3561)
  packages/core-blockchain/src/replay/replay-blockchain.ts
Due: yarn lint, prettier --write

fix(core-blockchain): wrap get attribute in a try/catch block
  packages/core-blockchain/src/processor/block-processor.ts
Due: yarn lint, prettier --write

test(core-state): merge index and reindex into one function inside WalletRepository
  __tests__/functional/transaction-forging/delegate-resignation.test.ts
  __tests__/integration/core-api/__support__/setup.ts
  __tests__/integration/core-api/handlers/delegates.test.ts
  __tests__/integration/core-api/handlers/locks.test.ts
  __tests__/integration/core-api/handlers/wallets.test.ts
  packages/core-kernel/src/contracts/state/wallets.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-registration.ts
  packages/core-magistrate-transactions/src/handlers/business-resignation.ts
  packages/core-state/src/block-state.ts
  packages/core-state/src/wallets/wallet-repository-clone.ts
  packages/core-state/src/wallets/wallet-repository-copy-on-write.ts
  packages/core-state/src/wallets/wallet-repository.ts
  packages/core-transactions/src/handlers/one/delegate-registration.ts
  packages/core-transactions/src/handlers/one/multi-signature-registration.ts
  packages/core-transactions/src/handlers/two/delegate-registration.ts
  packages/core-transactions/src/handlers/two/delegate-resignation.ts
  packages/core-transactions/src/handlers/two/htlc-claim.ts
  packages/core-transactions/src/handlers/two/htlc-lock.ts
  packages/core-transactions/src/handlers/two/htlc-refund.ts
  packages/core-transactions/src/handlers/two/ipfs.ts
  packages/core-transactions/src/handlers/two/multi-signature-registration.ts
Due: yarn lint, prettier --write

refactor(core-state): update transaction tests to use index method
  __tests__/unit/core-transactions/handlers/one/multi-signature-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/delegate-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/delegate-resignation.test.ts
  __tests__/unit/core-transactions/handlers/two/general.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-claim.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-lock.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-refund.test.ts
  __tests__/unit/core-transactions/handlers/two/ipfs.test.ts
  __tests__/unit/core-transactions/handlers/two/multi-payment.test.ts
  __tests__/unit/core-transactions/handlers/two/multi-signature-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/second-signature-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/transfer.test.ts
  __tests__/unit/core-transactions/handlers/two/vote.test.ts
Due: yarn lint, prettier --write

fix(core): handle multiple installations of jemalloc (#3562)
  packages/core/bin/run
Due: none
