Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

chore: add pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix(core): fix flags
  packages/core/package.json
Due: prettier --write

chore(root): setup & build scripts
  package.json
Due: prettier --write

deps: add missing dependencies & pnpm-lock.yaml
  package.json
  packages/core-cli/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(workflows): benchmark.yml
  .github/workflows/benchmark.yml
Due: none

fix(workflows): codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

fix(workflows): lint.yml
  .github/workflows/lint.yml
Due: none

fix(workflows): unit.yml
  .github/workflows/unit.yml
Due: none

deps: update @hapi/hapi
  packages/core-api/package.json
  packages/core-magistrate-api/package.json
  packages/core-p2p/package.json
  packages/core-webhooks/package.json
  yarn.lock
Due: prettier --write

deps(core-api): add @hapi/hapi types
  packages/core-api/package.json
  yarn.lock
Due: prettier --write

chore(core-api): request and h parameters
  packages/core-api/src/controllers/blockchain.ts
  packages/core-api/src/controllers/delegates.ts
  packages/core-api/src/controllers/locks.ts
  packages/core-api/src/controllers/node.ts
  packages/core-api/src/routes/blockchain.ts
  packages/core-api/src/routes/blocks.ts
  packages/core-api/src/routes/delegates.ts
  packages/core-api/src/routes/locks.ts
  packages/core-api/src/routes/node.ts
  packages/core-api/src/routes/peers.ts
  packages/core-api/src/routes/rounds.ts
  packages/core-api/src/routes/transactions.ts
  packages/core-api/src/routes/votes.ts
  packages/core-api/src/routes/wallets.ts
Due: yarn lint, prettier --write

chore(core-api): user defined interfaces
  packages/core-api/src/server.ts
Due: yarn lint, prettier --write

chore(core-api): custom request interfaces
  packages/core-api/src/controllers/locks.ts
  packages/core-api/src/controllers/transactions.ts
  packages/core-api/src/routes/locks.ts
  packages/core-api/src/routes/transactions.ts
Due: yarn lint, prettier --write

fix(core-api): CachedResponse
  packages/core-api/src/plugins/cache.ts
Due: yarn lint, prettier --write

fix(core-api): cache types
  packages/core-api/src/plugins/cache.ts
Due: yarn lint, prettier --write

chore(core-api): rateLimit response type guard
  packages/core-api/src/plugins/rate-limit.ts
Due: yarn lint, prettier --write

chore(core-api): hapiAjv optional chaining
  packages/core-api/src/plugins/hapi-ajv.ts
Due: yarn lint, prettier --write

chore(core-api): responseHeaders type guard
  packages/core-api/src/plugins/response-headers.ts
Due: yarn lint, prettier --write

fix(core-api): commaArrayQuery directly modify query
  packages/core-api/src/plugins/comma-array-query.ts
Due: yarn lint, prettier --write

fix(core-api): dotSeparatedKeys
  packages/core-api/src/plugins/dot-separated-query.ts
Due: yarn lint, prettier --write

tests(core-api): dot-separated-query.test.ts
  packages/core-api/__tests__/plugins/dot-separated-query.test.ts
Due: yarn lint, prettier --write

tests(core-api): get-ip.test.ts
  packages/core-api/__tests__/utils/get-ip.test.ts
Due: yarn lint, prettier --write

tests(core-api): blockchain.test.ts
  packages/core-api/__tests__/controllers/blockchain.test.ts
Due: yarn lint, prettier --write

tests(core-api): comma-array-query.test.ts
  packages/core-api/__tests__/plugins/comma-array-query.test.ts
Due: yarn lint, prettier --write

tests(core-api): whitelist.test.ts
  packages/core-api/__tests__/plugins/whitelist.test.ts
Due: yarn lint, prettier --write

tests(core-api): rounds.test.ts
  packages/core-api/__tests__/controllers/rounds.test.ts
Due: yarn lint, prettier --write

tests(core-api): hapi-ajv.test.ts
  packages/core-api/__tests__/plugins/hapi-ajv.test.ts
Due: yarn lint, prettier --write

tests(core-api): cache.test.ts
  packages/core-api/__tests__/plugins/cache.test.ts
Due: yarn lint, prettier --write

tests(core-api): rate-limit.test.ts
  packages/core-api/__tests__/plugins/rate-limit.test.ts
Due: yarn lint, prettier --write

tests(core-api): votes.test.ts
  packages/core-api/__tests__/controllers/votes.test.ts
Due: yarn lint, prettier --write

tests(core-api): server.test.ts
  packages/core-api/__tests__/server.test.ts
Due: yarn lint, prettier --write

tests(core-api): pagination.test.ts
  packages/core-api/__tests__/plugins/pagination.test.ts
Due: yarn lint, prettier --write

tests(core-api): locks.test.ts
  packages/core-api/__tests__/controllers/locks.test.ts
Due: yarn lint, prettier --write

tests(core-api): delegates.test.ts
  packages/core-api/__tests__/controllers/delegates.test.ts
Due: yarn lint, prettier --write

tests(core-api): transactions.test.ts
  packages/core-api/__tests__/controllers/transactions.test.ts
Due: yarn lint, prettier --write

chore(core-api): wallets add h
  packages/core-api/src/controllers/wallets.ts
  packages/core-api/src/routes/wallets.ts
Due: yarn lint, prettier --write

test(core-api): wallets.test.ts
  packages/core-api/__tests__/controllers/wallets.test.ts
Due: yarn lint, prettier --write

test(core-api): peers.test.ts
  packages/core-api/__tests__/controllers/peers.test.ts
Due: yarn lint, prettier --write

test(core-api): node.test.ts
  packages/core-api/__tests__/controllers/node.test.ts
Due: yarn lint, prettier --write

test(core-api): blocks.test.ts
  packages/core-api/__tests__/controllers/blocks.test.ts
Due: yarn lint, prettier --write
