Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

refactor: remove commented code
  __tests__/unit/crypto/blocks/block.test.ts
Due: yarn lint, prettier --write

fix: try harder to return the requested number of transactions (#2765)
  __tests__/unit/core-transaction-pool/connection.forging.test.ts
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

fix(core-transaction-pool): try harder to return the requested number of transactions (#2766)
  __tests__/unit/core-transaction-pool/connection.forging.test.ts
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

release: 2.4.14
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.4.14 (#2767)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore(deps): update dependencies to latest versions
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  tslint.json
  yarn.lock
Due: prettier --write

fix(crypto): reject future and expired transaction timestamps (#2757)
  __tests__/helpers/transaction-factory.ts
  __tests__/integration/core-blockchain/blockchain.test.ts
  __tests__/unit/core-forger/delegate.test.ts
  __tests__/unit/crypto/blocks/block.test.ts
  packages/crypto/src/blocks/block.ts
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/mainnet/milestones.json
Due: yarn lint, prettier --write

release: 2.5.0-next.6
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.5.0-next.6 (#2769)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix: resolve issues caused by dependency updates
  __tests__/e2e/package.json
  deprecated/core-graphql/package.json
  deprecated/core-snapshots-cli/package.json
  packages/core-explorer/package.json
  packages/core-wallet-api/src/server/index.ts
  packages/core/package.json
  packages/core/src/commands/top.ts
  packages/core/src/helpers/update.ts
  packages/core/src/process-manager.ts
  packages/core/src/shared/status.ts
  tsconfig.json
  yarn.lock
Due: yarn lint, prettier --write

refactor: delete last block if deserialization fails
  __tests__/integration/core-database-postgres/connection.test.ts
  packages/core-database/src/database-service.ts
Due: yarn lint, prettier --write

refactor: discover new peers when below minimum
  __tests__/integration/core-p2p/network-monitor.test.ts
  __tests__/unit/core-p2p/network-monitor.test.ts
  packages/core-interfaces/src/core-p2p/network-monitor.ts
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

fix: remove duplicate Object.values
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

refactor: also check hasMinimumPeers
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

refactor: delete last block if deserialization fails (#2770)
  __tests__/integration/core-database-postgres/connection.test.ts
  packages/core-database/src/database-service.ts
Due: yarn lint, prettier --write

refactor(core-p2p): discover new peers sooner (#2771)
  __tests__/integration/core-p2p/network-monitor.test.ts
  __tests__/unit/core-p2p/network-monitor.test.ts
  packages/core-interfaces/src/core-p2p/network-monitor.ts
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

chore: rule
  tslint.json
Due: prettier --write

refactor: update rule
  packages/core-api/src/handlers/delegates/methods.ts
  packages/core-api/src/handlers/node/controller.ts
  packages/core-api/src/handlers/peers/controller.ts
  packages/core-api/src/handlers/wallets/methods.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-database-postgres/src/postgres-connection.ts
  packages/core-database/src/database-service.ts
  packages/core-forger/src/manager.ts
  packages/core-snapshots/src/transport/index.ts
  packages/core-tester-cli/src/commands/make/block.ts
  packages/core/src/commands/config/reset.ts
  packages/core/src/helpers/update.ts
  packages/core/src/hooks/command_not_found/suggest.ts
  packages/core/src/hooks/init/update.ts
  tslint.json
Due: yarn lint, prettier --write

test: fix
  __tests__/integration/core-api/handlers/transactions.test.ts
  __tests__/unit/core-transaction-pool/connection.forging.test.ts
Due: yarn lint, prettier --write

fix: compile factory
  .circleci/config.yml
  __tests__/e2e/tsconfig.json
Due: prettier --write

fix: missing import
  __tests__/e2e/tests/scenarios/scenario1/chained-tx/3.resend-BtoC.action.js
Due: none

fix: path
  .circleci/config.yml
Due: none

fix: assignment to constant variable
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/0.1.init-2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/1.0.doublespend.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/1.1.doublespend2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/0.1.init-2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.0.transaction.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.1.transaction2ndsig.action.js
Due: none

fix: nonces
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/1.0.doublespend.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/1.1.doublespend2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.0.transaction.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.1.transaction2ndsig.action.js
Due: none

feat(core-database-postgres): enforce chained blocks at database level (#2753)
  packages/core-database-postgres/src/migrations/20190626000000-enforce-chained-blocks.sql
  packages/core-database-postgres/src/migrations/index.ts
Due: yarn lint, prettier --write

feat(core-api): make it configurable whether to use estimates
  packages/core-api/src/handlers/utils.ts
  packages/core-database-postgres/src/defaults.ts
  packages/core-database-postgres/src/postgres-connection.ts
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database-postgres/src/repositories/repository.ts
  packages/core-database-postgres/src/repositories/transactions.ts
Due: yarn lint, prettier --write

feat: htlc handlers & wallets
  packages/core-database-postgres/src/state-builder.ts
  packages/core-database/src/database-service.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
  packages/core-state/src/wallets/wallet.ts
  packages/core-transaction-pool/src/wallet-manager.ts
  packages/core-transactions/package.json
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/handler-registry.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/interfaces.ts
Due: yarn lint, prettier --write

test: htlc handlers
  __tests__/helpers/transaction-factory.ts
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/core-transactions/handler.test.ts
Due: yarn lint, prettier --write

test: fix transaction-pool tests
  __tests__/unit/core-transaction-pool/connection.test.ts
Due: yarn lint, prettier --write

test: fix wallet manager tests
  __tests__/unit/core-state/wallets/wallet-manager.test.ts
Due: yarn lint, prettier --write

test: fix tests and typescript errors
  __tests__/unit/core-database/database-service.test.ts
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/crypto/enums.test.ts
  packages/core-transaction-pool/src/memory.ts
Due: yarn lint, prettier --write

test: fix tests
  __tests__/integration/core-api/handlers/transactions.test.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
Due: yarn lint, prettier --write

test: fix failing tests
  __tests__/functional/transaction-forging/multi-payment.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
Due: yarn lint, prettier --write

fix(core-api): only try to return totalCount[IsEstimate] if it is set
  packages/core-api/src/handlers/utils.ts
Due: yarn lint, prettier --write

fix: imports
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/1.0.doublespend.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/1.1.doublespend2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend/1.1.doubletransfer2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/pool-restart/1.create-transactions.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/0.1.init-2ndsig.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.0.transaction.action.js
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/1.1.transaction2ndsig.action.js
Due: none

fix: add missing default
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

fix: missing fee
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/utils.js
Due: none

fix: utils
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/1.0.doublespend.action.js
  __tests__/e2e/tests/scenarios/scenario1/doublespend-mix/utils.js
Due: none

fix: undefined
  __tests__/e2e/tests/scenarios/scenario1/transactions-valid/0.1.init-2ndsig.action.js
Due: none

fix(core-p2p): TypeError: Reduce of empty array with no initial value (#2774)
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
