Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

chore: include missing dependencies in package.json (#3999)
  __tests__/unit/core-manager/utils/process-actions.test.ts
  packages/core-cli/package.json
  packages/core-manager/package.json
  packages/core-manager/src/actions/log-log.ts
  packages/core-manager/src/log-service-wrapper.ts
  packages/core-snapshots/package.json
  packages/core-snapshots/src/codecs/json-codec.ts
  packages/core-snapshots/src/contracts/codec.ts
  packages/core-snapshots/src/contracts/database.ts
  packages/core-snapshots/src/contracts/stream.ts
  packages/core-snapshots/src/repositories/block-repository.ts
  packages/core-snapshots/src/workers/actions/test-worker-action.ts
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-test-framework/src/mocks/transaction-pool-processor.ts
  packages/core/package.json
Due: yarn lint, prettier --write

deps(core-test-framework): add missing dependencies
  packages/core-test-framework/package.json
Due: prettier --write

Ignore unreachable code
  packages/core-kernel/src/services/search/standard-criteria-service.ts
Due: yarn lint, prettier --write

deps: add missing dependencies
  packages/core-api/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-test-framework/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

Final few pagination service tests
  __tests__/unit/core-kernel/services/search/pagination-service.test.ts
Due: yarn lint, prettier --write

test(core-p2p): increase test coverage
  __tests__/unit/core-p2p/socket-server/routes/blocks.test.ts
  __tests__/unit/core-p2p/socket-server/routes/transactions.test.ts
  __tests__/unit/core-p2p/socket-server/server.test.ts
  __tests__/unit/core-p2p/utils/build-rate-limiter.test.ts
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

deps: include missing dependencies (#4003)
  packages/core-api/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-test-framework/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-plugin-jest to v24
  package.json
  yarn.lock
Due: prettier --write

fix(core-state): clone wallet on mempool wallet-repository (#3998)
  __tests__/unit/core-state/wallets/wallet-index.test.ts
  __tests__/unit/core-state/wallets/wallet-repository-copy-on-write.test.ts
  packages/core-kernel/src/contracts/state/wallets.ts
  packages/core-state/src/wallets/wallet-index.ts
  packages/core-state/src/wallets/wallet-repository-copy-on-write.ts
Due: yarn lint, prettier --write

test(core-test-framework): resolve .env nad app.json file path from package name
  packages/core-test-framework/package.json
  packages/core-test-framework/src/app/generators/core.ts
Due: yarn lint, prettier --write

test(core-p2p): test maxPayload on hapi-nes listener
  __tests__/unit/core-p2p/hapi-nes/listener.test.ts
Due: yarn lint, prettier --write

test(core-test-framework): resolve .env and app.json file path from package name (#4006)
  packages/core-test-framework/package.json
  packages/core-test-framework/src/app/generators/core.ts
Due: yarn lint, prettier --write

Api client tests
  __tests__/integration/core-test-framework/utils/__support__/echo-controller.ts
  __tests__/integration/core-test-framework/utils/__support__/setup.ts
  __tests__/integration/core-test-framework/utils/api-http-client.test.ts
  __tests__/integration/core-test-framework/utils/api-inject-client.test.ts
Due: yarn lint, prettier --write

test(core-p2p): test maxPayload values on server
  __tests__/unit/core-p2p/socket-server/server.test.ts
Due: yarn lint, prettier --write

chore: add exports for bridgechains
  packages/core-kernel/src/services/cache/drivers/index.ts
  packages/core-kernel/src/services/cache/index.ts
  packages/core-kernel/src/services/events/drivers/index.ts
  packages/core-kernel/src/services/events/index.ts
  packages/core-state/src/index.ts
  packages/core-state/src/stores/index.ts
  packages/core-state/src/wallets/index.ts
  packages/core-state/src/wallets/indexers/index.ts
  packages/core-test-framework/src/index.ts
  packages/core-test-framework/src/internal/delegates.ts
  packages/core-test-framework/src/internal/index.ts
  packages/core-transaction-pool/src/index.ts
  packages/core-transactions/src/handlers/index.ts
Due: yarn lint, prettier --write

Improve API client tests
  __tests__/integration/core-test-framework/utils/api-http-client.test.ts
  __tests__/integration/core-test-framework/utils/api-inject-client.test.ts
  packages/core-test-framework/src/utils/api-http-client.ts
Due: yarn lint, prettier --write

chore(core-p2p): set maxPayload on ws server (#3996)
  __tests__/unit/core-p2p/hapi-nes/listener.test.ts
  __tests__/unit/core-p2p/socket-server/server.test.ts
  packages/core-p2p/src/hapi-nes/listener.ts
  packages/core-p2p/src/hapi-nes/plugin.ts
  packages/core-p2p/src/socket-server/server.ts
Due: yarn lint, prettier --write

test(core-p2p): increase test coverage (#4004)
  __tests__/unit/core-p2p/socket-server/routes/blocks.test.ts
  __tests__/unit/core-p2p/socket-server/routes/transactions.test.ts
  __tests__/unit/core-p2p/socket-server/server.test.ts
  __tests__/unit/core-p2p/utils/build-rate-limiter.test.ts
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

chore: add exports for bridgechains (#4007)
  packages/core-kernel/src/services/cache/drivers/index.ts
  packages/core-kernel/src/services/cache/index.ts
  packages/core-kernel/src/services/events/drivers/index.ts
  packages/core-kernel/src/services/events/index.ts
  packages/core-state/src/index.ts
  packages/core-state/src/stores/index.ts
  packages/core-state/src/wallets/index.ts
  packages/core-state/src/wallets/indexers/index.ts
  packages/core-test-framework/src/index.ts
  packages/core-test-framework/src/internal/delegates.ts
  packages/core-test-framework/src/internal/index.ts
  packages/core-transaction-pool/src/index.ts
  packages/core-transactions/src/handlers/index.ts
Due: yarn lint, prettier --write

ci: publish `develop` as alpha
  .github/workflows/publish-develop.yml
  .github/workflows/publish-master.yml
Due: none

release: 3.0.0-alpha.9
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix: entity name only unique by type
  packages/core-magistrate-transactions/src/handlers/entity-subhandlers/register.ts
  packages/core-magistrate-transactions/src/handlers/entity-subhandlers/resign.ts
  packages/core-magistrate-transactions/src/handlers/entity-subhandlers/update.ts
  packages/core-magistrate-transactions/src/handlers/entity.ts
Due: yarn lint, prettier --write

test: entity name only unique by type
  __tests__/unit/core-magistrate/handlers/entity.test.ts
Due: yarn lint, prettier --write

chore: add devnet exceptions for entities
  packages/crypto/src/networks/devnet/exceptions.json
Due: prettier --write

Fix wallet repository clone
  __tests__/unit/core-state/wallets/wallet-repository-clone.test.ts
  packages/core-state/src/wallets/wallet-repository-clone.ts
  packages/core-state/src/wallets/wallet-repository.ts
Due: yarn lint, prettier --write

Remove unsafe index clone method
  packages/core-state/src/wallets/wallet-index.ts
Due: yarn lint, prettier --write

Remove unsafe wallet index method
  packages/core-kernel/src/contracts/state/wallets.ts
Due: yarn lint, prettier --write

Fix wallet index test
  __tests__/unit/core-state/wallets/wallet-index.test.ts
Due: yarn lint, prettier --write

fix(magistrate): entity name only unique by type (#4008)
  __tests__/unit/core-magistrate/handlers/entity.test.ts
  packages/core-magistrate-transactions/src/handlers/entity-subhandlers/register.ts
  packages/core-magistrate-transactions/src/handlers/entity-subhandlers/resign.ts
  packages/core-magistrate-transactions/src/handlers/entity-subhandlers/update.ts
  packages/core-magistrate-transactions/src/handlers/entity.ts
  packages/crypto/src/networks/devnet/exceptions.json
Due: yarn lint, prettier --write

Test index method
  __tests__/unit/core-state/wallets/wallet-repository-clone.test.ts
Due: yarn lint, prettier --write

More index tests
  __tests__/unit/core-state/wallets/wallet-repository-clone.test.ts
Due: yarn lint, prettier --write

Fix index test
  __tests__/unit/core-state/wallets/wallet-repository-clone.test.ts
Due: yarn lint, prettier --write

Fix sorting
  __tests__/unit/core-kernel/services/search/pagination-service.test.ts
  packages/core-kernel/src/services/search/pagination-service.ts
Due: yarn lint, prettier --write

test: note collected fees on delegate
  __tests__/functional/transaction-forging/htlc-lock.test.ts
  packages/core-test-framework/src/utils/api.ts
Due: yarn lint, prettier --write

chore(core-p2p): verify peer claimed state
  packages/core-p2p/src/peer-verifier.ts
Due: yarn lint, prettier --write

fix(core-p2p): use head from utils
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-jest-matchers/package.json
  packages/core-p2p/src/peer-communicator.ts
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

release: 2.6.54
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write
