Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(core-elasticsearch): migrate to typescript
  packages/core-elasticsearch/jest.config.js
  packages/core-elasticsearch/lib/defaults.js
  packages/core-elasticsearch/lib/index.js
  packages/core-elasticsearch/lib/index/block.js
  packages/core-elasticsearch/lib/index/index.js
  packages/core-elasticsearch/lib/index/round.js
  packages/core-elasticsearch/lib/index/transaction.js
  packages/core-elasticsearch/lib/index/wallet.js
  packages/core-elasticsearch/package.json
  packages/core-elasticsearch/src/defaults.ts
  packages/core-elasticsearch/src/index.ts
  packages/core-elasticsearch/src/index/block.ts
  packages/core-elasticsearch/src/index/index.ts
  packages/core-elasticsearch/src/index/round.ts
  packages/core-elasticsearch/src/index/transaction.ts
  packages/core-elasticsearch/src/index/wallet.ts
  packages/core-elasticsearch/src/server/handler.ts
  packages/core-elasticsearch/src/server/index.ts
  packages/core-elasticsearch/src/server/routes.ts
  packages/core-elasticsearch/src/services/client.ts
  packages/core-elasticsearch/src/services/storage.ts
  packages/core-elasticsearch/tsconfig.json
Due: eslint --fix, prettier --write

fix(core-elasticsearch): missing or wrong imports
  packages/core-elasticsearch/src/index/index.ts
  packages/core-elasticsearch/src/index/transaction.ts
  packages/core-elasticsearch/src/server/handler.ts
  packages/core-elasticsearch/src/server/index.ts
  packages/core-elasticsearch/src/server/routes.ts
  packages/core-elasticsearch/src/services/storage.ts
Due: none

chore(core-deployer): migrate to typescript
  packages/core-deployer/__tests__/builder/genesis-block.test.js
  packages/core-deployer/__tests__/builder/genesis-block.test.ts
  packages/core-deployer/bin/deployer
  packages/core-deployer/jest.config.js
  packages/core-deployer/lib/builder/genesis-block.js
  packages/core-deployer/lib/logger.js
  packages/core-deployer/lib/utils.js
  packages/core-deployer/package.json
  packages/core-deployer/src/builder/genesis-block.ts
  packages/core-deployer/src/index.ts
  packages/core-deployer/src/logger.ts
  packages/core-deployer/src/schema.ts
  packages/core-deployer/src/utils.ts
  packages/core-deployer/tsconfig.json
  packages/core/src/index.ts
Due: eslint --fix, prettier --write

chore: update root jest config
  jest.config.js
Due: eslint --fix, prettier --write

test(core-config): adjust assertions
  packages/core-config/__tests__/loader.test.ts
Due: none

refactor: add "valid-as-of-block" in reply when getting txs to forge
  packages/core-api/lib/versions/1/handlers/transactions.js
  packages/core-api/lib/versions/2/handlers/transactions.js
  packages/core-blockchain/__tests__/blockchain.test.js
  packages/core-blockchain/lib/blockchain.js
  packages/core-blockchain/lib/state-machine.js
  packages/core-database-postgres/lib/connection.js
  packages/core-database-postgres/lib/queries/index.js
  packages/core-database-postgres/lib/queries/transactions/forged-all.sql
  packages/core-database-postgres/lib/queries/transactions/forged-as-of-height.sql
  packages/core-database-postgres/lib/repositories/transactions.js
  packages/core-forger/__tests__/manager.test.js
  packages/core-forger/lib/manager.js
  packages/core-p2p/lib/server/versions/internal/handlers/transactions.js
  packages/core-test-utils/fixtures/testnet/unconfirmed-transactions.js
  packages/core-transaction-pool-mem/__tests__/__fixtures__/transactions.js
  packages/core-transaction-pool-mem/__tests__/connection.test.js
  packages/core-transaction-pool-mem/lib/connection.js
  packages/core-transaction-pool/__tests__/interface.test.js
  packages/core-transaction-pool/lib/interface.js
Due: eslint --fix, prettier --write

Replace retries loop with an assert in forger
  packages/core-forger/lib/manager.js
Due: eslint --fix, prettier --write

chore(core-tester-cli): migrate to typescript
  packages/core-tester-cli/__tests__/.gitkeep
  packages/core-tester-cli/__tests__/commands/command.test.js
  packages/core-tester-cli/__tests__/commands/command.ts
  packages/core-tester-cli/__tests__/commands/delegate-registration.test.ts
  packages/core-tester-cli/__tests__/commands/multi-signature.test.js
  packages/core-tester-cli/__tests__/commands/multi-signature.test.ts
  packages/core-tester-cli/__tests__/commands/second-signature.test.ts
  packages/core-tester-cli/__tests__/commands/transfer.test.ts
  packages/core-tester-cli/__tests__/commands/vote.test.ts
  packages/core-tester-cli/__tests__/config.test.ts
  packages/core-tester-cli/bin/tester
  packages/core-tester-cli/jest.config.js
  packages/core-tester-cli/lib/commands/command.js
  packages/core-tester-cli/lib/config/index.js
  packages/core-tester-cli/lib/utils/index.js
  packages/core-tester-cli/lib/utils/logger.js
  packages/core-tester-cli/lib/utils/paginate.js
  packages/core-tester-cli/lib/utils/request.js
  packages/core-tester-cli/package.json
  packages/core-tester-cli/src/commands/command.ts
  packages/core-tester-cli/src/commands/delegate-registration.ts
  packages/core-tester-cli/src/commands/multi-signature.ts
  packages/core-tester-cli/src/commands/second-signature.ts
  packages/core-tester-cli/src/commands/transfer.ts
  packages/core-tester-cli/src/commands/vote.ts
  packages/core-tester-cli/src/config.ts
  packages/core-tester-cli/src/index.ts
  packages/core-tester-cli/src/utils.ts
  packages/core-tester-cli/tsconfig.json
Due: eslint --fix, prettier --write

test(core-http-utils): adjust the container mock
  packages/core-http-utils/__tests__/__support__/mocks/core-container.ts
Due: none

test(core-utils): adjust the container mock
  packages/core-utils/__tests__/__support__/mocks/core-container-calculator.ts
  packages/core-utils/__tests__/__support__/mocks/core-container.ts
Due: none

fix(core-container): adjust configuration location
  packages/core-container/src/remote-loader.ts
Due: none

fix(core-webhooks): migrations need to be run async
  packages/core-webhooks/src/database/index.ts
Due: none

fix(core-json-rpc): return 404 if the last block is not found
  packages/core-json-rpc/lib/server/methods/blocks/latest.js
Due: eslint --fix, prettier --write

fix(core-json-rpc): return the encoded WIF for BIP38 wallets instead of the encrypted WIF (#1653)
  .circleci/config.yml
  packages/core-json-rpc/CHANGELOG.md
  packages/core-json-rpc/__tests__/wallets.test.js
  packages/core-json-rpc/lib/server/methods/blocks/latest.js
  packages/core-json-rpc/lib/server/methods/wallets/bip38/create.js
  packages/core-json-rpc/lib/server/methods/wallets/bip38/show.js
  packages/core-json-rpc/lib/server/utils/bip38-keys.js
  packages/core-json-rpc/lib/server/utils/decrypt-wif.js
Due: eslint --fix, prettier --write

fix(crypto): perform second signature checks for multi-signature wallets
  packages/core-api/CHANGELOG.md
  packages/core-api/package.json
  packages/core-json-rpc/CHANGELOG.md
  packages/core-json-rpc/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/lib/handlers/transactions/handler.js
  packages/crypto/package.json
Due: eslint --fix, prettier --write

test(crypto): adjust failing tests
  .circleci/config.yml
  packages/crypto/__tests__/handlers/transactions/second-signature.test.js
Due: eslint --fix, prettier --write

fix(crypto): perform second signature checks for multi-signature wallets (#1658)
  .circleci/config.yml
  packages/core-api/CHANGELOG.md
  packages/core-api/package.json
  packages/core-json-rpc/CHANGELOG.md
  packages/core-json-rpc/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/__tests__/handlers/transactions/second-signature.test.js
  packages/crypto/lib/handlers/transactions/handler.js
  packages/crypto/package.json
Due: eslint --fix, prettier --write

chore(core): update changelog and bump version
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write

chore(core): update changelog and bump version (#1660)
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write

chore(core): update changelog and bump version (#1660) (#1661)
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write

fix: second signature tests
  packages/core-transaction-pool-mem/__tests__/__fixtures__/transactions.js
  packages/crypto/__tests__/handlers/transactions/second-signature.test.js
  packages/crypto/lib/handlers/transactions/second-signature.js
Due: eslint --fix, prettier --write

test(core-api): less error prone search assertions
  .circleci/config.yml
  packages/core-api/__tests__/v2/handlers/transactions.test.js
  packages/core-api/lib/versions/2/transformers/transaction.js
Due: eslint --fix, prettier --write

fix: update second signature tests (#1665)
  .circleci/config.yml
  packages/core-api/__tests__/v2/handlers/transactions.test.js
  packages/core-api/lib/versions/2/transformers/transaction.js
  packages/core-transaction-pool-mem/__tests__/__fixtures__/transactions.js
  packages/crypto/__tests__/handlers/transactions/second-signature.test.js
  packages/crypto/lib/handlers/transactions/second-signature.js
Due: eslint --fix, prettier --write

refactor: remove ts-ignore again
  packages/core-database-postgres/src/models/model.ts
Due: none

chore: fixme comments
  packages/core-json-rpc/src/server/services/network.ts
  packages/core-transaction-pool/__tests__/connection.test.ts
  packages/core-transaction-pool/__tests__/guard.test.ts
Due: none

chore(package): update snyk to version 1.116.0 (#1668)
  package.json
Due: prettier --write

chore(package): update xstate to version 4.2.1 (#1667)
  packages/core-blockchain/package.json
  packages/core-test-utils/package.json
Due: prettier --write

chore(core-blockchain): migrate to typescript
  packages/core-blockchain/jest.config.js
  packages/core-blockchain/lib/machines/actions/rebuild-from-network.js
  packages/core-blockchain/lib/machines/actions/sync-with-network.js
  packages/core-blockchain/lib/machines/blockchain.js
  packages/core-blockchain/lib/queue/index.js
  packages/core-blockchain/lib/queue/process.js
  packages/core-blockchain/lib/queue/rebuild.js
  packages/core-blockchain/lib/state-machine.js
  packages/core-blockchain/lib/state-storage.js
  packages/core-blockchain/package.json
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/defaults.ts
  packages/core-blockchain/src/index.ts
  packages/core-blockchain/src/machines/actions/fork.ts
  packages/core-blockchain/src/machines/actions/sync-with-network.ts
  packages/core-blockchain/src/machines/blockchain.ts
  packages/core-blockchain/src/queue/index.ts
  packages/core-blockchain/src/queue/interface.ts
  packages/core-blockchain/src/queue/process.ts
  packages/core-blockchain/src/queue/rebuild.ts
  packages/core-blockchain/src/state-machine.ts
  packages/core-blockchain/src/state-storage.ts
  packages/core-blockchain/src/utils/tick-sync-tracker.ts
  packages/core-blockchain/tsconfig.json
Due: eslint --fix, prettier --write

chore(core-blockchain): migrate tests and fixes
  packages/core-blockchain/__tests__/__support__/setup.js
  packages/core-blockchain/__tests__/__support__/setup.ts
  packages/core-blockchain/__tests__/blockchain.test.js
  packages/core-blockchain/__tests__/blockchain.test.ts
  packages/core-blockchain/__tests__/machines/actions/fork.test.js
  packages/core-blockchain/__tests__/machines/actions/fork.test.ts
  packages/core-blockchain/__tests__/machines/actions/rebuild-from-network.test.js
  packages/core-blockchain/__tests__/machines/actions/sync-with-network.test.js
  packages/core-blockchain/__tests__/machines/actions/sync-with-network.test.ts
  packages/core-blockchain/__tests__/machines/blockchain.test.js
  packages/core-blockchain/__tests__/machines/blockchain.test.ts
  packages/core-blockchain/__tests__/state-machine.test.js
  packages/core-blockchain/__tests__/state-machine.test.ts
  packages/core-blockchain/__tests__/state-storage.test.js
  packages/core-blockchain/__tests__/state-storage.test.ts
  packages/core-blockchain/package.json
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/defaults.ts
  packages/core-blockchain/src/index.ts
  packages/core-blockchain/src/state-machine.ts
  packages/core-blockchain/src/state-storage.ts
Due: eslint --fix, prettier --write

fix: use integers for the ports on the node configuration API endpoint
  packages/core-api/lib/versions/2/handlers/node.js
Due: eslint --fix, prettier --write

test: that ports are numbers
  packages/core-api/__tests__/v2/handlers/node.test.js
Due: eslint --fix, prettier --write

chore(core): lint
  packages/core/src/index.ts
Due: none

chore(core): lint
  packages/core/src/commands/index.ts
Due: none

chore(core-graphql): migrate tests to typescript
  packages/core-graphql/__tests__/__support__/setup.js
  packages/core-graphql/__tests__/__support__/setup.ts
  packages/core-graphql/__tests__/__support__/utils.js
  packages/core-graphql/__tests__/__support__/utils.ts
  packages/core-graphql/__tests__/api/address.test.js
  packages/core-graphql/__tests__/api/address.test.ts
  packages/core-graphql/__tests__/api/block.test.js
  packages/core-graphql/__tests__/api/block.test.ts
  packages/core-graphql/__tests__/api/blocks.test.js
  packages/core-graphql/__tests__/api/blocks.test.ts
  packages/core-graphql/__tests__/api/transaction.test.js
  packages/core-graphql/__tests__/api/transaction.test.ts
  packages/core-graphql/__tests__/api/transactions.test.js
  packages/core-graphql/__tests__/api/transactions.test.ts
  packages/core-graphql/__tests__/api/wallet.test.js
  packages/core-graphql/__tests__/api/wallet.test.ts
  packages/core-graphql/__tests__/api/wallets.test.js
  packages/core-graphql/__tests__/api/wallets.test.ts
Due: eslint --fix, prettier --write

fix: export db migrations
  packages/core-database-postgres/src/index.ts
Due: none

chore(core-snapshots): migrate to typescript
  packages/core-snapshots/jest.config.js
  packages/core-snapshots/lib/db/index.js
  packages/core-snapshots/lib/db/queries/index.js
  packages/core-snapshots/lib/db/utils/column-set.js
  packages/core-snapshots/lib/db/utils/index.js
  packages/core-snapshots/lib/defaults.js
  packages/core-snapshots/lib/index.js
  packages/core-snapshots/lib/manager.js
  packages/core-snapshots/lib/transport/codec/ark-codec.js
  packages/core-snapshots/lib/transport/codec/ark/index.js
  packages/core-snapshots/lib/transport/codec/index.js
  packages/core-snapshots/lib/transport/codec/lite-codec.js
  packages/core-snapshots/lib/transport/codec/lite/index.js
  packages/core-snapshots/lib/transport/index.js
  packages/core-snapshots/lib/transport/verification.js
  packages/core-snapshots/lib/utils/index.js
  packages/core-snapshots/package.json
  packages/core-snapshots/src/db/index.ts
  packages/core-snapshots/src/db/queries/blocks/delete-from-height.sql
  packages/core-snapshots/src/db/queries/blocks/find-by-height.sql
  packages/core-snapshots/src/db/queries/blocks/height-range.sql
  packages/core-snapshots/src/db/queries/blocks/latest.sql
  packages/core-snapshots/src/db/queries/index.ts
  packages/core-snapshots/src/db/queries/rounds/delete-from-round.sql
  packages/core-snapshots/src/db/queries/transactions/delete-from-timestamp.sql
  packages/core-snapshots/src/db/queries/transactions/timestamp-higher.sql
  packages/core-snapshots/src/db/queries/transactions/timestamp-range.sql
  packages/core-snapshots/src/db/utils/column-set.ts
  packages/core-snapshots/src/db/utils/index.ts
  packages/core-snapshots/src/defaults.ts
  packages/core-snapshots/src/index.ts
  packages/core-snapshots/src/manager.ts
  packages/core-snapshots/src/transport/codec/ark-codec.ts
  packages/core-snapshots/src/transport/codec/ark/index.ts
  packages/core-snapshots/src/transport/codec/index.ts
  packages/core-snapshots/src/transport/codec/lite-codec.ts
  packages/core-snapshots/src/transport/codec/lite/index.ts
  packages/core-snapshots/src/transport/index.ts
  packages/core-snapshots/src/transport/verification.ts
  packages/core-snapshots/src/utils/index.ts
Due: eslint --fix, prettier --write

fix(core-json-rpc): wrong import
  packages/core-json-rpc/__tests__/blocks.test.ts
  packages/core-json-rpc/__tests__/transactions.test.ts
  packages/core-json-rpc/__tests__/wallets.test.ts
Due: none

chore(core-snapshots): migrate tests to typescript
  packages/core-snapshots/__tests__/fixtures/blocks.js
  packages/core-snapshots/__tests__/fixtures/blocks.ts
  packages/core-snapshots/__tests__/fixtures/transactions.js
  packages/core-snapshots/__tests__/fixtures/transactions.ts
  packages/core-snapshots/__tests__/transport/codec/ark/ark.test.js
  packages/core-snapshots/__tests__/transport/codec/ark/ark.test.ts
  packages/core-snapshots/__tests__/transport/codec/lite/lite.test.js
  packages/core-snapshots/__tests__/transport/codec/lite/lite.test.ts
  packages/core-snapshots/package.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{json,md})
