Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

release: 3.5.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.5.0 (#4702)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-api): use block query criteria
  packages/core-api/src/controllers/delegates.ts
Due: yarn lint, prettier --write

lint
  packages/core-api/src/controllers/delegates.ts
Due: yarn lint, prettier --write

fix(core-api): use block query criteria on delegates route (#4703)
  packages/core-api/src/controllers/delegates.ts
Due: yarn lint, prettier --write

Clear pool sqlite files
  packages/core/src/commands/pool-clear.ts
Due: yarn lint, prettier --write

Test pool-clear command
  packages/core/__tests__/commands/pool-clear.test.ts
Due: yarn lint, prettier --write

fix(core): remove all sqlite files with `pool:clear` command (#4704)
  packages/core/__tests__/commands/pool-clear.test.ts
  packages/core/src/commands/pool-clear.ts
Due: yarn lint, prettier --write

release: 4.0.0-next.20
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 4.0.0-next.20 (#4705)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core): remove all sqlite files with `pool:clear` command (#4704)
  __tests__/unit/core/commands/pool-clear.test.ts
  packages/core/src/commands/pool-clear.ts
Due: yarn lint, prettier --write

release: 3.5.2
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: add Boldninja as codeowner
  CODEOWNERS
Due: none

chore: add Boldninja as codeowner (#4708)
  CODEOWNERS
Due: none

release: 3.5.2 (#4707)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Add timeout from configuration
  packages/core-webhooks/src/listener.ts
Due: yarn lint, prettier --write

Fix tests
  packages/core-webhooks/__tests__/listener.test.ts
Due: yarn lint, prettier --write

fix(core-webhooks): use timeout form defaults.ts for broadcast (#4710)
  packages/core-webhooks/__tests__/listener.test.ts
  packages/core-webhooks/src/listener.ts
Due: yarn lint, prettier --write

release: 4.0.0-next.21
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Start listeners only when webhooks are enabled
  packages/core-webhooks/src/service-provider.ts
Due: yarn lint, prettier --write

Test service provider
  packages/core-webhooks/__tests__/service-provider.test.ts
Due: yarn lint, prettier --write

Add readdTransactionsFromMempool
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/state-machine/actions/initialize.ts
  packages/core-kernel/src/contracts/transaction-pool/service.ts
  packages/core-transaction-pool/src/service.ts
Due: yarn lint, prettier --write

Fix core-blockchain tests
  packages/core-blockchain/__tests__/blockchain.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/initialize.test.ts
Due: yarn lint, prettier --write

Fix core-transaction-pool tests
  packages/core-transaction-pool/__tests__/service.test.ts
Due: yarn lint, prettier --write

Add test for readdTransactionsFromMempool
  packages/core-transaction-pool/__tests__/service.test.ts
Due: yarn lint, prettier --write

Increase coverege
  packages/core-transaction-pool/__tests__/service.test.ts
Due: yarn lint, prettier --write

Readd transactions when block is accepted
  packages/core-blockchain/__tests__/processor/handlers/accept-block-handler.test.ts
  packages/core-blockchain/src/processor/handlers/accept-block-handler.ts
Due: yarn lint, prettier --write

Direct call for cleanUp
  packages/core-blockchain/src/processor/handlers/accept-block-handler.ts
  packages/core-transaction-pool/src/service.ts
Due: yarn lint, prettier --write

Test core-blockchain
  packages/core-blockchain/__tests__/processor/handlers/accept-block-handler.test.ts
Due: yarn lint, prettier --write

Readd transaction on chunk processed
  packages/core-blockchain/src/process-blocks-job.ts
  packages/core-blockchain/src/processor/handlers/accept-block-handler.ts
Due: yarn lint, prettier --write

Fix tests
  packages/core-blockchain/__tests__/process-blocks-job.test.ts
  packages/core-blockchain/__tests__/processor/handlers/accept-block-handler.test.ts
Due: yarn lint, prettier --write

Add second signature verification cache
  packages/core-transactions/src/cache/second-signature-verification.ts
Due: yarn lint, prettier --write

Use LRU-cache
  packages/core-transactions/package.json
  packages/core-transactions/src/cache/second-signature-verification.ts
  pnpm-lock.yaml
Due: yarn lint, prettier --write

Test SecondSignatureVerificationCache
  packages/core-transactions/__tests__/cache/second-signature-verification.test.ts
Due: yarn lint, prettier --write

Rename Cache to Memoizer
  packages/core-transactions/__tests__/memoizers/second-signature-verification.test.ts
  packages/core-transactions/src/memoizers/second-signature-verification.ts
Due: yarn lint, prettier --write

Add defaults
  packages/core-transactions/src/defaults.ts
  packages/core-transactions/src/service-provider.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
