Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

chore: remove useUnknownInCatchVariables
  tsconfig.json
Due: prettier --write

test(crypto): move byteBuffer test
  __tests__/unit/crypto/utils/byte-buffer.test.ts
Due: yarn lint, prettier --write

test(crypto): move serde test
  __tests__/unit/crypto/transactions/serde.test.ts
Due: yarn lint, prettier --write

test(core-api): fix-tests
  __tests__/unit/core-api/controllers/transactions.test.ts
  __tests__/unit/core-api/controllers/votes.test.ts
Due: yarn lint, prettier --write

test(core-p2p): fix tests
  __tests__/unit/core-p2p/socket-server/controllers/blocks.test.ts
Due: yarn lint, prettier --write

test(core-state): fix tests
  __tests__/unit/core-state/__utils__/build-delegate-and-vote-balances.ts
  __tests__/unit/core-state/__utils__/make-chained-block.ts
  __tests__/unit/core-state/__utils__/make-vote-transactions.ts
  __tests__/unit/core-state/__utils__/transactions.ts
  __tests__/unit/core-state/block-state.test.ts
  __tests__/unit/core-state/dpos/dpos-previous-round.test.ts
  __tests__/unit/core-state/stores/blocks.test.ts
  __tests__/unit/core-state/stores/state.test.ts
Due: yarn lint, prettier --write

fix(core-magistrate-crypto): use UInt16 for port
  packages/core-magistrate-crypto/src/transactions/bridgechain-registration.ts
Due: yarn lint, prettier --write

test(core-transactions): fix tests
  __tests__/unit/core-transactions/handlers/one/multi-signature-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/delegate-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/delegate-resignation.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-claim.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-lock.test.ts
  __tests__/unit/core-transactions/handlers/two/htlc-refund.test.ts
  __tests__/unit/core-transactions/handlers/two/ipfs.test.ts
  __tests__/unit/core-transactions/handlers/two/multi-payment.test.ts
  __tests__/unit/core-transactions/handlers/two/multi-signature-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/second-signature-registration.test.ts
  __tests__/unit/core-transactions/handlers/two/transaction.test.ts
  __tests__/unit/core-transactions/handlers/two/transfer.test.ts
  __tests__/unit/core-transactions/handlers/two/vote.test.ts
Due: yarn lint, prettier --write

fix(crypto): use default size if maxPayload is not defined
  packages/crypto/src/transactions/serializer.ts
Due: yarn lint, prettier --write

fix(core): network generate
  packages/core/src/commands/network-generate.ts
Due: yarn lint, prettier --write

fix: benchmark
  benchmark/crypto/hash-algorithms.js
Due: none

fix(CI): increase node version to 14.x
  .github/workflows/benchmark.yml
  .github/workflows/e2e.yml
  .github/workflows/functional.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/publish-develop.yml
  .github/workflows/publish-master.yml
  .github/workflows/unit.yml
Due: none

test(functional): remove invalid tests
  __tests__/functional/transaction-forging/entity-register.test.ts
Due: yarn lint, prettier --write

refactor(crypto): rename buffer to buff
  packages/crypto/src/blocks/factory.ts
  packages/crypto/src/blocks/serializer.ts
  packages/crypto/src/crypto/bip38.ts
  packages/crypto/src/crypto/hash-algorithms.ts
  packages/crypto/src/identities/address.ts
  packages/crypto/src/transactions/deserializer.ts
  packages/crypto/src/transactions/factory.ts
  packages/crypto/src/transactions/serializer.ts
  packages/crypto/src/transactions/types/one/delegate-registration.ts
  packages/crypto/src/transactions/types/one/multi-signature-registration.ts
  packages/crypto/src/transactions/types/one/second-signature-registration.ts
  packages/crypto/src/transactions/types/one/transfer.ts
  packages/crypto/src/transactions/types/one/vote.ts
  packages/crypto/src/transactions/types/two/htlc-claim.ts
  packages/crypto/src/transactions/types/two/htlc-lock.ts
  packages/crypto/src/transactions/types/two/htlc-refund.ts
  packages/crypto/src/transactions/types/two/ipfs.ts
  packages/crypto/src/transactions/types/two/multi-payment.ts
  packages/crypto/src/transactions/types/two/multi-signature-registration.ts
  packages/crypto/src/utils/base58.ts
  packages/crypto/src/utils/byte-buffer.ts
Due: yarn lint, prettier --write

deps(crypto): remove bytebuffer, big-integer & buffer-es6, add buffer
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

fix(crypto): rollup.config.js
  packages/crypto/rollup.config.js
Due: none

deps: yarn.lock
  yarn.lock
Due: none

deps: increase @arkecosystem/utils version to 1.3.1
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-kernel/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

chore(crypto): use BigNumber.toBigInt()
  packages/crypto/src/transactions/serializer.ts
  packages/crypto/src/transactions/types/one/transfer.ts
  packages/crypto/src/transactions/types/two/htlc-lock.ts
  packages/crypto/src/transactions/types/two/multi-payment.ts
Due: yarn lint, prettier --write

deps(crypto): include bytebuffer
  packages/crypto/package.json
Due: prettier --write

test(crypto): BigNumber.ToBigInt()
  __tests__/unit/crypto/transactions/serde.test.ts
Due: yarn lint, prettier --write

deps(core-magistrate-crypto): remove bytebuffer
  packages/core-magistrate-crypto/package.json
Due: prettier --write

chore(core-transaction-pool): use ByteBuffer from crypto
  packages/core-transaction-pool/package.json
  packages/core-transaction-pool/src/processor.ts
Due: yarn lint, prettier --write

fix(core-api): limit max page to 10000
  packages/core-api/src/schemas.ts
Due: yarn lint, prettier --write

feat(core-cli): use pnpm in installer (#4558)
  packages/core-cli/__tests__/services/installer.test.ts
  packages/core-cli/__tests__/utils/update.ts
  packages/core-cli/src/services/installer.ts
  packages/core/__tests__/commands/reinstall.test.ts
Due: yarn lint, prettier --write

feat: use pnpm to install plugins (#4557)
  packages/core-cli/__tests__/services/source-providers/file.test.ts
  packages/core-cli/__tests__/services/source-providers/git.test.ts
  packages/core-cli/__tests__/services/source-providers/npm.test.ts
  packages/core-cli/src/services/source-providers/abstract-source.ts
  packages/core/package.json
  packages/core/src/cli.ts
  pnpm-lock.yaml
Due: yarn lint, prettier --write

feat(core-api): implements log plugin
  packages/core-api/src/plugins/index.ts
  packages/core-api/src/plugins/log.ts
Due: yarn lint, prettier --write

feat(core-api): implements CORE_API_LOG_ENABLED env var
  packages/core-api/src/defaults.ts
  packages/core-api/src/plugins/index.ts
  packages/core-api/src/plugins/log.ts
  packages/core-api/src/service-provider.ts
Due: yarn lint, prettier --write

refactor(core-api): change log level to debug
  packages/core-api/src/plugins/log.ts
Due: yarn lint, prettier --write

test(core-api): log plugin
  __tests__/unit/core-api/plugins/log.test.ts
Due: yarn lint, prettier --write

chore(core-api): rename env var to CORE_API_LOG
  packages/core-api/src/defaults.ts
Due: yarn lint, prettier --write

test(core-api): service provider schema
  __tests__/unit/core-api/service-provider.test.ts
Due: yarn lint, prettier --write

feat(core-api): implements log plugin (#4566)
  __tests__/unit/core-api/plugins/log.test.ts
  __tests__/unit/core-api/service-provider.test.ts
  packages/core-api/src/defaults.ts
  packages/core-api/src/plugins/index.ts
  packages/core-api/src/plugins/log.ts
  packages/core-api/src/service-provider.ts
Due: yarn lint, prettier --write

chore(core): include joi in module aliases
  packages/core/package.json
Due: prettier --write

refactor(core): implements crypto exceptions
  packages/core/src/exceptions/base.ts
  packages/core/src/exceptions/crypto.ts
  packages/core/src/exceptions/index.ts
  packages/core/src/index.ts
  packages/core/src/internal/crypto.ts
Due: yarn lint, prettier --write

test(core): implements crypto exceptions
  __tests__/unit/core/internal/crypto.test.ts
Due: yarn lint, prettier --write

feat(core): use skipPrompts flag
  packages/core/src/exceptions/crypto.ts
  packages/core/src/internal/crypto.ts
Due: yarn lint, prettier --write

test(core): use skipPrompts flag
  __tests__/unit/core/internal/crypto.test.ts
Due: yarn lint, prettier --write

feat(core): use skipPrompts flag on commands
  packages/core/src/commands/core-run.ts
  packages/core/src/commands/core-start.ts
  packages/core/src/commands/forger-run.ts
  packages/core/src/commands/forger-start.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
