Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

test(core-state): test BlockStore clear method
  __tests__/unit/core-state/stores/blocks.test.ts
Due: yarn lint, prettier --write

test(core-state): test remaining methods on stateStorage
  __tests__/unit/core-state/stores/state.test.ts
Due: yarn lint, prettier --write

fix(core): jemalloc compatibility for ubuntu 16.04
  packages/core/bin/run
Due: none

Utils tests
  __tests__/unit/core-transaction-pool/utils.test.ts
Due: yarn lint, prettier --write

wip
  .github/workflows/lint-test-benchmark.yml
  __tests__/unit/core-transactions/handlers/two/delegate-resignation.test.ts
  __tests__/unit/core-transactions/handlers/two/multi-signature-registration.test.ts
Due: yarn lint, prettier --write

wip
  .github/workflows/lint-test-benchmark.yml
Due: none

Query tests
  __tests__/unit/core-transaction-pool/query.test.ts
  packages/core-transaction-pool/src/query.ts
Due: yarn lint, prettier --write

Fix query lint problem
  __tests__/unit/core-transaction-pool/query.test.ts
Due: yarn lint, prettier --write

chore: update eslint for more auto fixers
  package.json
  packages/core-api/src/controllers/transactions.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-p2p/src/socket-server/versions/internal.ts
  packages/core-test-framework/src/factories/factories/wallet.ts
  packages/core-test-framework/src/internal/wallet-attributes.ts
  packages/core-transaction-pool/src/defaults.ts
  yarn.lock
Due: yarn lint, prettier --write

Change expiration service interface
  __tests__/unit/core-transaction-pool/expiration-service.test.ts
  __tests__/unit/core-transaction-pool/query.test.ts
  packages/core-kernel/src/contracts/transaction-pool/expiration-service.ts
  packages/core-transaction-pool/src/expiration-service.ts
  packages/core-transaction-pool/src/sender-state.ts
  packages/core-transaction-pool/src/service.ts
Due: yarn lint, prettier --write

Fix transaction handling with expiration 0
  __tests__/unit/core-transaction-pool/expiration-service.test.ts
  packages/core-transaction-pool/src/expiration-service.ts
  packages/core-transaction-pool/src/sender-state.ts
Due: yarn lint, prettier --write

fix(core): jemalloc compatibility for ubuntu 16.04 (#3567)
  packages/core/bin/run
Due: none

fix(core-transaction-pool): always call applyToRecipient (#3570)
  __tests__/functional/multipayment-applyToRecipient/__support__/index.ts
  __tests__/functional/multipayment-applyToRecipient/multipayment.test.ts
  __tests__/integration/core-transaction-pool/processor.test.ts
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

release: 2.6.21
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

test(core-state): fix indexers import in tests
  __tests__/unit/core-magistrate-transactions/__support__/app.ts
  __tests__/unit/core-transactions/handlers/__support__/app.ts
Due: yarn lint, prettier --write

test(core-state): test blockState creates genesis generator wallet if necessary
  __tests__/unit/core-state/block-state.test.ts
Due: yarn lint, prettier --write

test(core-state): add todo about unreachable code
  packages/core-state/src/block-state.ts
Due: yarn lint, prettier --write

fix(core-database-postgres): add missing transactions.type_group index
  packages/core-database-postgres/src/migrations/20200304000000-add-type_group-index-to-transactions-table.sql
Due: none

refactor: use application events from core-event-emitter
  packages/core-container/package.json
  packages/core-container/src/container.ts
  packages/core-event-emitter/src/index.ts
  packages/core-p2p/src/peer-processor.ts
  packages/core-snapshots/package.json
  packages/core-snapshots/src/transport/index.ts
  packages/core-state/package.json
  packages/core-state/src/stores/state.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transactions/src/handlers/vote.ts
  packages/core/src/commands/snapshot/restore.ts
Due: yarn lint, prettier --write

fix(deps): update dependency xstate to v4.8.0
  packages/core-blockchain/package.json
  yarn.lock
Due: prettier --write

chore(deps): update xstate to v4.8.0 (#3575)
  packages/core-blockchain/package.json
  yarn.lock
Due: prettier --write

refactor: use application events from core-event-emitter (#3574)
  packages/core-container/package.json
  packages/core-container/src/container.ts
  packages/core-event-emitter/src/index.ts
  packages/core-p2p/src/peer-processor.ts
  packages/core-snapshots/package.json
  packages/core-snapshots/src/transport/index.ts
  packages/core-state/package.json
  packages/core-state/src/stores/state.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transactions/src/handlers/vote.ts
  packages/core/src/commands/snapshot/restore.ts
Due: yarn lint, prettier --write

fix(core-database-postgres): add missing transactions.type_group index (#3573)
  packages/core-database-postgres/src/migrations/20200304000000-add-type_group-index-to-transactions-table.sql
Due: none

test(core-state): htlc lock transactions in block state
  __tests__/unit/core-state/block-state.test.ts
Due: yarn lint, prettier --write

ci: setup auto publishing for master releases
  .github/workflows/publish-master.yml
Due: none

wip
  .github/workflows/publish-master.yml
Due: none

ci: setup auto publishing for master releases (#3576)
  .github/workflows/publish-master.yml
Due: none

test(core-state): revertTransaction should call with correct htlc data
  __tests__/unit/core-state/block-state.test.ts
Due: yarn lint, prettier --write

release: 2.6.24
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

ci: ensure we are in the packages directory before publishing
  .github/workflows/publish-master.yml
Due: none

test(core-state): test blockState, update and revert vote balances
  __tests__/unit/core-state/block-state.test.ts
Due: yarn lint, prettier --write

chore: remove app.js from .gitignore
  .gitignore
Due: none

chore: remove app.js from .gitignore (#3577)
  .gitignore
Due: none

test(core-state): test revertTransaction failure (should reapply transactions)
  __tests__/unit/core-state/block-state.test.ts
Due: yarn lint, prettier --write

test: fix github environment variable setup
  .github/workflows/test.yml
Due: none

test(core-state): test send and revert update delegate vote balances; add todo about amount+fee discrepency
  __tests__/unit/core-state/block-state.test.ts
Due: yarn lint, prettier --write

Just report error removing unknown transaction
  __tests__/unit/core-transaction-pool/errors.test.ts
  packages/core-transaction-pool/src/errors.ts
  packages/core-transaction-pool/src/service.ts
Due: yarn lint, prettier --write
