Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

deps: @hapi/boom 9.1.4 -> 9.0.0
  packages/core-api/package.json
  packages/core-magistrate-api/package.json
  packages/core-p2p/package.json
  packages/core-webhooks/package.json
Due: prettier --write

deps(core-snapshots): update packages & set fixed versions
  packages/core-snapshots/package.json
  yarn.lock
Due: prettier --write

deps(core-state): update packages & set fixed versions
  packages/core-state/package.json
  yarn.lock
Due: prettier --write

deps(core-test-framework): update packages & set fixed versions
  packages/core-test-framework/package.json
  yarn.lock
Due: prettier --write

deps(core-transaction-pool): update packages & set fixed versions
  packages/core-transaction-pool/package.json
  yarn.lock
Due: prettier --write

deps(core-transactions): update packages & set fixed versions
  packages/core-transactions/package.json
Due: prettier --write

deps(core-webhooks): update packages & set fixed versions
  packages/core-webhooks/package.json
  yarn.lock
Due: prettier --write

deps(crypto): update packages & set fixed versions
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

deps: update joi
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-transaction-pool/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

deps: update dayjs
  packages/core-cli/package.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

deps: update inversify
  packages/core-cli/package.json
  packages/core-kernel/package.json
  yarn.lock
Due: prettier --write

deps: update type-fest
  packages/core-cli/package.json
  packages/core-kernel/package.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

test(core-kernel): fix test with ts-ignore
  __tests__/unit/core-kernel/providers/plugin-manifest.test.ts
Due: yarn lint, prettier --write

deps: update envfile
  packages/core-cli/package.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

deps: update ajv & regenerate yarn.lock
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

deps: use caret for pm2
  packages/core/package.json
Due: prettier --write

deps: update @hapi/boom
  packages/core-api/package.json
  packages/core-magistrate-api/package.json
  yarn.lock
Due: prettier --write

test(core-manager): skip failing test
  __tests__/unit/core-manager/worker/generate-log-zip.test.ts
Due: yarn lint, prettier --write

chore(core): skip prompts on force
  packages/core/src/commands/update.ts
Due: yarn lint, prettier --write

test(core): skip prompts on force
  __tests__/unit/core/commands/update.test.ts
Due: yarn lint, prettier --write

Fix /locks/unlocked schema
  __tests__/integration/core-api/controllers/locks.test.ts
  packages/core-api/src/routes/locks.ts
Due: yarn lint, prettier --write

Fix locks unit test
  __tests__/unit/core-api/routes/locks.test.ts
Due: yarn lint, prettier --write

fix(core-api): fix `/api/lock/unlocked` payload validation (#4488)
  __tests__/integration/core-api/controllers/locks.test.ts
  __tests__/unit/core-api/routes/locks.test.ts
  packages/core-api/src/routes/locks.ts
Due: yarn lint, prettier --write

docker: remove deprecated split ports
  docker/production/devnet/docker-compose-build.yml
  docker/production/devnet/docker-compose.yml
  docker/production/mainnet/docker-compose.yml
Due: none

docker: remove deprecated split ports (#4489)
  docker/production/devnet/docker-compose-build.yml
  docker/production/devnet/docker-compose.yml
  docker/production/mainnet/docker-compose.yml
Due: none

chore(core): skip prompts when using `--force` flag on `update` command (#4487)
  __tests__/unit/core/commands/update.test.ts
  packages/core/src/commands/update.ts
Due: yarn lint, prettier --write

deps: use fixed dependencies (#4485)
  __tests__/unit/core-kernel/providers/plugin-manifest.test.ts
  __tests__/unit/core-manager/worker/generate-log-zip.test.ts
  __tests__/unit/core/commands/core-run.test.ts
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-pino/src/driver.ts
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

deps: yarn lock
  yarn.lock
Due: none

chore(core): remove manager:testnet script
  packages/core/package.json
Due: prettier --write

Update unit.yml
  .github/workflows/unit.yml
Due: none

chore: lerna should use exact version
  scripts/version.sh
Due: none

release: 3.0.0-next.36
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.0.0-next.36 (#4491)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  scripts/version.sh
Due: prettier --write

chore(core): remove manager from app.json
  packages/core/bin/config/devnet/app.json
  packages/core/bin/config/mainnet/app.json
  packages/core/bin/config/testnet/app.json
Due: prettier --write

chore(core): remove manager commands
  packages/core/src/commands/manager-log.ts
  packages/core/src/commands/manager-restart.ts
  packages/core/src/commands/manager-run.ts
  packages/core/src/commands/manager-start.ts
  packages/core/src/commands/manager-status.ts
  packages/core/src/commands/manager-stop.ts
Due: yarn lint, prettier --write

test(core): remove manager tests
  __tests__/unit/core/commands/manager-log.test.ts
  __tests__/unit/core/commands/manager-restart.test.ts
  __tests__/unit/core/commands/manager-run.test.ts
  __tests__/unit/core/commands/manager-start.test.ts
  __tests__/unit/core/commands/manager-status.test.ts
  __tests__/unit/core/commands/manager-stop.test.ts
Due: yarn lint, prettier --write

chore(core): remove core-manager related commands and setting (#4492)
  __tests__/unit/core/commands/manager-log.test.ts
  __tests__/unit/core/commands/manager-restart.test.ts
  __tests__/unit/core/commands/manager-run.test.ts
  __tests__/unit/core/commands/manager-start.test.ts
  __tests__/unit/core/commands/manager-status.test.ts
  __tests__/unit/core/commands/manager-stop.test.ts
  packages/core/bin/config/devnet/app.json
  packages/core/bin/config/mainnet/app.json
  packages/core/bin/config/testnet/app.json
  packages/core/src/commands/manager-log.ts
  packages/core/src/commands/manager-restart.ts
  packages/core/src/commands/manager-run.ts
  packages/core/src/commands/manager-start.ts
  packages/core/src/commands/manager-status.ts
  packages/core/src/commands/manager-stop.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
