Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

fix(core): set aliases when running locally
  packages/core/src/cli.ts
Due: yarn lint, prettier --write

fix(core): use _moduleAliases
  packages/core/package.json
  packages/core/src/cli.ts
Due: yarn lint, prettier --write

feat(core-cli): use pnpm in installer
  packages/core-cli/src/services/installer.ts
Due: yarn lint, prettier --write

test(core-cli): use pnpm in installer
  packages/core-cli/__tests__/services/installer.test.ts
Due: yarn lint, prettier --write

test(core-cli): remove unused test
  packages/core-cli/__tests__/utils/update.ts
Due: yarn lint, prettier --write

test(core-cli): replace yarn with pnpm
  packages/core/__tests__/commands/reinstall.test.ts
Due: yarn lint, prettier --write

Move rounds and slots back into state
  packages/crypto/src/crypto/index.ts
  packages/crypto/src/state/factory.ts
  packages/crypto/src/state/index.ts
  packages/crypto/src/state/rounds.ts
  packages/crypto/src/state/slots.ts
  packages/crypto/src/state/state.ts
  packages/crypto/src/transactions/builders/transactions/transaction.ts
Due: yarn lint, prettier --write

Move slot interface into state
  packages/crypto/src/interfaces/crypto.ts
  packages/crypto/src/interfaces/state.ts
Due: yarn lint, prettier --write

chore: remove yarn.lock
  yarn.lock
Due: none

deps: remove @hapi/hapi from root package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

deps: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Export serde
  packages/crypto/src/index.ts
Due: yarn lint, prettier --write

Add writer.reset and reader.reset methods
  packages/crypto/src/interfaces/serde.ts
  packages/crypto/src/serde/reader.ts
  packages/crypto/src/serde/writer.ts
Due: yarn lint, prettier --write

chore: update install.sh
  install.sh
Due: none

fix: centos
  install.sh
Due: none

feat: use pnpm
  install.sh
Due: none

fix: node installation on cent
  install.sh
Due: none

feat: use latest script
  install.sh
Due: none

chore: remove install-next.sh
  install-next.sh
Due: none

Serde performance test
  __tests__/integration/mainnet.test.ts
Due: yarn lint, prettier --write

Much cleaner everything
  __tests__/integration/mainnet.test.ts
  packages/crypto/src/interfaces/state.ts
  packages/crypto/src/state/consensus.ts
  packages/crypto/src/state/factory.ts
  packages/crypto/src/state/forgers.ts
  packages/crypto/src/state/rounds.ts
  packages/crypto/src/state/slots.ts
  packages/crypto/src/state/state.ts
Due: yarn lint, prettier --write

Rename lastBlock, lastSlot, lastRound properties
  __tests__/integration/mainnet.test.ts
  packages/crypto/src/interfaces/state.ts
  packages/crypto/src/state/consensus.ts
  packages/crypto/src/state/factory.ts
  packages/crypto/src/state/forgers.ts
  packages/crypto/src/state/rounds.ts
  packages/crypto/src/state/slots.ts
  packages/crypto/src/state/state.ts
Due: yarn lint, prettier --write

Remove IState dependency from rounds and slots
  packages/crypto/src/interfaces/state.ts
  packages/crypto/src/state/factory.ts
  packages/crypto/src/state/forgers.ts
  packages/crypto/src/state/rounds.ts
  packages/crypto/src/state/slots.ts
  packages/crypto/src/state/state.ts
Due: yarn lint, prettier --write

Better serializer
  packages/crypto/src/blocks/deserializer.ts
  packages/crypto/src/blocks/factory.ts
  packages/crypto/src/blocks/serializer.ts
  packages/crypto/src/blocks/verifier.ts
  packages/crypto/src/interfaces/block.ts
  packages/crypto/src/interfaces/block0.ts
  packages/crypto/src/interfaces/block1.ts
  packages/crypto/src/interfaces/index.ts
  packages/crypto/src/interfaces/networks.ts
Due: yarn lint, prettier --write

Fix test
  __tests__/integration/mainnet.test.ts
Due: yarn lint, prettier --write

Updated interfaces usages
  __tests__/integration/mainnet.test.ts
  packages/crypto/src/state/factory.ts
Due: yarn lint, prettier --write

feat(crypto): ByteBuffer Int8
  packages/crypto/__tests__/byte-buffer.test.ts
  packages/crypto/src/byte-buffer.ts
Due: yarn lint, prettier --write

feat(crypto): ByteBuffer UInt8
  packages/crypto/__tests__/byte-buffer.test.ts
  packages/crypto/src/byte-buffer.ts
Due: yarn lint, prettier --write

feat(crypto): ByteBuffer Int16BE
  packages/crypto/__tests__/byte-buffer.test.ts
  packages/crypto/src/byte-buffer.ts
Due: yarn lint, prettier --write

feat(crypto): ByteBuffer Int16LE
  packages/crypto/__tests__/byte-buffer.test.ts
  packages/crypto/src/byte-buffer.ts
Due: yarn lint, prettier --write

feat(crypto): ByteBuffer Int32BE
  packages/crypto/__tests__/byte-buffer.test.ts
  packages/crypto/src/byte-buffer.ts
Due: yarn lint, prettier --write

feat(crypto): ByteBuffer Int32LE
  packages/crypto/__tests__/byte-buffer.test.ts
  packages/crypto/src/byte-buffer.ts
Due: yarn lint, prettier --write

chore: set ES2020
  tsconfig.json
Due: prettier --write

feat(crypto): ByteBuffer Int64BE
  packages/crypto/__tests__/byte-buffer.test.ts
  packages/crypto/src/byte-buffer.ts
Due: yarn lint, prettier --write

feat(crypto): ByteBuffer Int64LE
  packages/crypto/__tests__/byte-buffer.test.ts
  packages/crypto/src/byte-buffer.ts
Due: yarn lint, prettier --write

feat(crypto): ByteBuffer UInt16BE
  packages/crypto/__tests__/byte-buffer.test.ts
  packages/crypto/src/byte-buffer.ts
Due: yarn lint, prettier --write

feat(crypto): ByteBuffer UInt16LE & UInt32BE
  packages/crypto/__tests__/byte-buffer.test.ts
  packages/crypto/src/byte-buffer.ts
Due: yarn lint, prettier --write
