Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

test: functional tests for core-marketplace
  __tests__/functional/transaction-forging/bridgechain-registration.test.ts
  __tests__/functional/transaction-forging/bridgechain-resignation.test.ts
  __tests__/functional/transaction-forging/bridgechain-update.test.ts
  __tests__/functional/transaction-forging/business-registration.test.ts
  __tests__/functional/transaction-forging/business-resignation.test.ts
  __tests__/functional/transaction-forging/business-update.test.ts
Due: yarn lint, prettier --write

chore: remove mistakely added temp file
  packages/core-transaction-pool/src/.connection.ts.swp
Due: none

refactor: remove unnecessary call to throwIfCannotBeApplied()
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/processor.ts
Due: yarn lint, prettier --write

test: adjust "should handle getTransaction() not finding transaction"
  __tests__/unit/core-transaction-pool/connection.test.ts
Due: yarn lint, prettier --write

test: remove irrelevant test
  __tests__/unit/core-transaction-pool/connection.test.ts
Due: yarn lint, prettier --write

Update test.yml
  .github/workflows/test.yml
Due: none

ci: use different test coverage directories for each type (#2956)
  .github/workflows/test.yml
Due: none

ci: force exit tests if there are hanging promises
  package.json
Due: prettier --write

Tell git to ignore vim's temporary files
  .gitignore
Due: none

No need to run as root the chmod command when modifying own's files
  __tests__/e2e/README.md
Due: prettier --write

test: adjust tests in processor.test.ts
  __tests__/integration/core-transaction-pool/processor.test.ts
Due: yarn lint, prettier --write

Tell git to ignore vim's temporary files (#2957)
  .gitignore
Due: none

fix: update wallet nonce when applying v1 transaction
  __tests__/unit/core-transactions/handler.test.ts
  packages/core-transactions/src/handlers/transaction.ts
Due: yarn lint, prettier --write

fix(core-state): index recipient wallets during bootstrap (#2947)
  packages/core-transaction-pool/src/connection.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/multi-payment.ts
  packages/core-transactions/src/handlers/multi-signature.ts
  yarn.lock
Due: yarn lint, prettier --write

fix: add ajv format to reject bad seednodes in BridgechainRegistration
  __tests__/unit/core-marketplace/builders/bridgechain-registration.test.ts
  __tests__/unit/core-marketplace/helper.ts
  __tests__/unit/core-p2p/utils/setup-ajv-validation.test.ts
  packages/core-marketplace/src/transactions/utils/bridgechain-schemas.ts
  packages/core-p2p/src/plugin.ts
  packages/core-p2p/src/utils/index.ts
  packages/core-p2p/src/utils/setup-ajv-peer-validation.ts
Due: yarn lint, prettier --write

refactor: multipayment limit milestone
  __tests__/unit/core-container/__stubs__/config/milestones.json
  __tests__/unit/crypto/transactions/schemas.test.ts
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/mainnet/milestones.json
  packages/crypto/src/networks/testnet/milestones.json
  packages/crypto/src/networks/unitnet/milestones.json
  packages/crypto/src/transactions/types/schemas.ts
  packages/crypto/src/validation/keywords.ts
Due: yarn lint, prettier --write

refactor(core-p2p): less verbose p2p reply error
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

ci: split functional job into 1 job per type
  .github/workflows/functional.yml
  .github/workflows/test.yml
Due: none

wip
  .github/workflows/functional.yml
Due: none

ci: setup github action workflow for testing
  .circleci/config.yml
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
  __tests__/unit/core/commands/relay/share.test.ts
Due: yarn lint, prettier --write

feat(core): allow CLI command configurations
  __tests__/unit/core/commands/config/cli.test.ts
  __tests__/unit/core/commands/config/forger/bip38.test.ts
  __tests__/unit/core/commands/config/forger/bip39.test.ts
  __tests__/unit/core/common/__fixtures__/app.js
  __tests__/unit/core/common/config-manager.test.ts
  __tests__/unit/core/common/config.test.ts
  __tests__/unit/core/common/parser.test.ts
  __tests__/unit/core/hooks/init/config.test.ts
  package.json
  packages/core-kernel/package.json
  packages/core-state/src/stores/blocks.ts
  packages/core-state/src/stores/transactions.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core/bin/config/testnet/app.js
  packages/core/src/commands/config/cli.ts
  packages/core/src/commands/core/run.ts
  packages/core/src/commands/forger/run.ts
  packages/core/src/commands/relay/run.ts
  packages/core/src/common/config-manager.ts
  packages/core/src/common/config.ts
  packages/core/src/common/parser.ts
  packages/core/src/hooks/init/config.ts
  yarn.lock
Due: yarn lint, prettier --write

refactor(core-p2p): make peer reply errors less verbose (#2962)
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

ci: split functional job into 1 job per type (#2963)
  .github/workflows/functional.yml
  .github/workflows/test.yml
Due: none

feat(core-kernel): load crypto configuration from directory
  __tests__/unit/core-kernel/application.test.ts
  __tests__/unit/core-kernel/bootstrap/app/load-service-providers.test.ts
  __tests__/unit/core-kernel/bootstrap/service-providers/boot-service-providers.test.ts
  __tests__/unit/core-kernel/bootstrap/service-providers/register-service-providers.test.ts
  __tests__/unit/core-kernel/providers/plugin-configuration.test.ts
  __tests__/unit/core-kernel/providers/plugin-manifest.test.ts
  __tests__/unit/core-kernel/providers/service-provider.test.ts
  __tests__/unit/core-kernel/services/config/drivers/local.test.ts
  __tests__/unit/core-kernel/services/config/repository.test.ts
  __tests__/unit/core-kernel/services/log/drivers/pino.test.ts
  __tests__/unit/core-kernel/services/log/service-provider.test.ts
  __tests__/unit/shared/logger.ts
  packages/core-kernel/src/application.ts
  packages/core-kernel/src/bootstrap/app/load-cryptography.ts
  packages/core-kernel/src/bootstrap/app/register-base-configuration.ts
  packages/core-kernel/src/services/config/drivers/local.ts
  packages/core-kernel/src/services/config/repository.ts
Due: yarn lint, prettier --write

refactor(crypto): change maximum recipients of multipayment via milestone (#2961)
  __tests__/unit/core-container/__stubs__/config/milestones.json
  __tests__/unit/crypto/transactions/schemas.test.ts
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/mainnet/milestones.json
  packages/crypto/src/networks/testnet/milestones.json
  packages/crypto/src/networks/unitnet/milestones.json
  packages/crypto/src/transactions/types/schemas.ts
  packages/crypto/src/validation/keywords.ts
Due: yarn lint, prettier --write

ci: setup github action workflow for e2e tests
  .circleci/config.yml
  .github/workflows/test.yml
Due: none

wip
  .github/workflows/test.yml
Due: none

test(e2e): No need to run as root the chmod command when modifying own's files (#2958)
  __tests__/e2e/README.md
Due: prettier --write

chore: drop node 11 support
  .github/workflows/test.yml
  install.sh
Due: none

wip
  __tests__/e2e/bin/e2e
Due: none

wip
  __tests__/e2e/lib/config/docker/Dockerfile-11
  __tests__/e2e/lib/utils/sync.sh
Due: none

chore: drop node 11 support (#2965)
  .github/workflows/test.yml
  __tests__/e2e/bin/e2e
  __tests__/e2e/lib/config/docker/Dockerfile-11
  __tests__/e2e/lib/utils/sync.sh
  install.sh
Due: none

wip
  .github/workflows/benchmark.yml
  .github/workflows/functional.yml
  .github/workflows/test.yml
Due: none

wip
  __tests__/e2e/lib/config/docker/Dockerfile-10x
  __tests__/e2e/lib/config/docker/Dockerfile-12x
Due: none

wip
  __tests__/e2e/lib/generate-files.js
Due: none

wip
  __tests__/e2e/lib/config/docker/Dockerfile-10.x
  __tests__/e2e/lib/config/docker/Dockerfile-12.x
Due: none

test(core-transaction-pool): fix test to use correct nonces
  __tests__/unit/core-transaction-pool/connection.test.ts
Due: yarn lint, prettier --write

ci: setup github action workflow for e2e tests (#2964)
  .circleci/config.yml
  .github/workflows/benchmark.yml
  .github/workflows/functional.yml
  .github/workflows/test.yml
  __tests__/e2e/lib/config/docker/Dockerfile-10.x
  __tests__/e2e/lib/config/docker/Dockerfile-12.x
  __tests__/e2e/lib/generate-files.js
Due: none
