Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

Merge branch 'master' into develop (#2278)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-api/src/versions/2/delegates/controller.ts
  packages/core-api/src/versions/2/delegates/methods.ts
  packages/core-api/src/versions/2/delegates/routes.ts
  packages/core-api/src/versions/2/delegates/schema.ts
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: yarn lint, prettier --write

Revert "feat: p2p sockets adapt cleanPeers"
  packages/core-interfaces/src/core-p2p/monitor.ts
  packages/core-p2p/src/monitor.ts
Due: yarn lint, prettier --write

fix: prettify filestream
  packages/core-logger-pino/package.json
  packages/core-logger-pino/src/driver.ts
  packages/core-tester-cli/package.json
  packages/core/package.json
  yarn.lock
Due: yarn lint, prettier --write

fix: asset migration
  packages/core-database-postgres/src/postgres-connection.ts
  packages/crypto/src/transactions/serializers/transaction.ts
Due: yarn lint, prettier --write

fix: respect log level setting
  packages/core-logger-pino/src/driver.ts
Due: yarn lint, prettier --write

fix(core-logger-pino): prettify filestream (#2280)
  packages/core-logger-pino/package.json
  packages/core-logger-pino/src/driver.ts
  packages/core-tester-cli/package.json
  packages/core/package.json
  yarn.lock
Due: yarn lint, prettier --write

fix(core-database-postgres): asset migration on mainnet (#2281)
  packages/core-database-postgres/src/postgres-connection.ts
  packages/crypto/src/transactions/serializers/transaction.ts
Due: yarn lint, prettier --write

refactor: introduce ProcessOptions type
  packages/core/src/shared/start.ts
  packages/core/src/types.ts
Due: yarn lint, prettier --write

refactor: core-api Server method type in services/cache
  packages/core-api/src/services/cache.ts
Due: yarn lint, prettier --write

refactor: introducing IPluginOptions type
  packages/core-blockchain/src/plugin.ts
  packages/core-elasticsearch/src/index.ts
  packages/core-error-tracker-bugsnag/src/index.ts
  packages/core-interfaces/src/core-container/container.ts
Due: yarn lint, prettier --write

refactor: type inference (TS2742) via symlinks hotfix
  packages/core-p2p/src/server/versions/internal/handlers/rounds.ts
  packages/core/src/helpers/snapshot.ts
Due: yarn lint, prettier --write

refactor: Blockchain constructor options type
  packages/core-blockchain/src/blockchain.ts
Due: yarn lint, prettier --write

chore: use kebab case for aliases
  __tests__/integration/core-api/v2/handlers/node.test.ts
  __tests__/integration/core-transaction-pool/guard.test.ts
  __tests__/utils/helpers/blockchain.ts
  deprecated/core-graphql/src/repositories/repository.ts
  deprecated/core-logger-winston/src/plugin.ts
  packages/core-api/src/repositories/repository.ts
  packages/core-api/src/versions/1/transactions/controller.ts
  packages/core-api/src/versions/2/node/controller.ts
  packages/core-api/src/versions/2/transactions/controller.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-database-postgres/src/plugin.ts
  packages/core-database/src/plugin.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-http-utils/src/plugins/transaction-payload.ts
  packages/core-logger-pino/src/plugin.ts
  packages/core-logger/src/plugin.ts
  packages/core-p2p/src/server/plugins/transaction-pool-ready.ts
  packages/core-p2p/src/server/versions/1/handlers.ts
  packages/core-transaction-pool/src/plugin.ts
Due: yarn lint, prettier --write

chore: import lodash functions from function packages instead of the full lodash
  __tests__/unit/core-database/repositories/wallets-business-repository.test.ts
  __tests__/unit/core-snapshots/transport/codec/core/core.test.ts
  __tests__/utils/helpers/container.ts
  deprecated/core-logger-winston/src/driver.ts
  packages/core-api/src/repositories/repository.ts
  packages/core-api/src/repositories/transactions.ts
  packages/core-container/src/config/index.ts
  packages/core-container/src/registrars/plugin.ts
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-database/src/database-service.ts
  packages/core-database/src/repositories/utils/search-parameter-converter.ts
  packages/core-forger/src/client.ts
  packages/core-forger/src/manager.ts
  packages/core-interfaces/src/shared/config.ts
  packages/core-jest-matchers/src/api/block.ts
  packages/core-jest-matchers/src/api/peer.ts
  packages/core-jest-matchers/src/api/transaction.ts
  packages/core-jest-matchers/src/blockchain/execute-on-entry.ts
  packages/core-jest-matchers/src/models/delegate.ts
  packages/core-jest-matchers/src/models/transaction.ts
  packages/core-jest-matchers/src/models/wallet.ts
  packages/core-json-rpc/src/server/services/network.ts
  packages/core-json-rpc/src/server/services/processor.ts
  packages/core-logger-pino/src/driver.ts
  packages/core-p2p/src/court/guard.ts
  packages/core-p2p/src/monitor.ts
  packages/core-p2p/src/utils/check-dns.ts
  packages/core-p2p/src/utils/check-ntp.ts
  packages/core-snapshots/src/manager.ts
  packages/core-transaction-pool/src/dynamic-fee/matcher.ts
  packages/core-vote-report/src/handler.ts
  packages/core/src/hooks/command_not_found/suggest.ts
  packages/crypto/src/managers/config.ts
  packages/crypto/src/managers/network.ts
  packages/crypto/src/transactions/registry.ts
Due: yarn lint, prettier --write

chore: import lodash functions from function packages instead of the full lodash (#2285)
  __tests__/unit/core-database/repositories/wallets-business-repository.test.ts
  __tests__/unit/core-snapshots/transport/codec/core/core.test.ts
  __tests__/utils/helpers/container.ts
  deprecated/core-logger-winston/src/driver.ts
  packages/core-api/src/repositories/repository.ts
  packages/core-api/src/repositories/transactions.ts
  packages/core-container/src/config/index.ts
  packages/core-container/src/registrars/plugin.ts
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-database/src/database-service.ts
  packages/core-database/src/repositories/utils/search-parameter-converter.ts
  packages/core-forger/src/client.ts
  packages/core-forger/src/manager.ts
  packages/core-interfaces/src/shared/config.ts
  packages/core-jest-matchers/src/api/block.ts
  packages/core-jest-matchers/src/api/peer.ts
  packages/core-jest-matchers/src/api/transaction.ts
  packages/core-jest-matchers/src/blockchain/execute-on-entry.ts
  packages/core-jest-matchers/src/models/delegate.ts
  packages/core-jest-matchers/src/models/transaction.ts
  packages/core-jest-matchers/src/models/wallet.ts
  packages/core-json-rpc/src/server/services/network.ts
  packages/core-json-rpc/src/server/services/processor.ts
  packages/core-logger-pino/src/driver.ts
  packages/core-p2p/src/court/guard.ts
  packages/core-p2p/src/monitor.ts
  packages/core-p2p/src/utils/check-dns.ts
  packages/core-p2p/src/utils/check-ntp.ts
  packages/core-snapshots/src/manager.ts
  packages/core-transaction-pool/src/dynamic-fee/matcher.ts
  packages/core-vote-report/src/handler.ts
  packages/core/src/hooks/command_not_found/suggest.ts
  packages/crypto/src/managers/config.ts
  packages/crypto/src/managers/network.ts
  packages/crypto/src/transactions/registry.ts
Due: yarn lint, prettier --write

release: 2.3.0-next.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  scripts/deps.sh
  scripts/publish/alpha.sh
  scripts/publish/beta.sh
  scripts/publish/latest.sh
  scripts/publish/next.sh
  scripts/publish/rc.sh
Due: prettier --write

release: 2.3.0-next.0 (#2286)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  scripts/deps.sh
  scripts/publish/alpha.sh
  scripts/publish/beta.sh
  scripts/publish/latest.sh
  scripts/publish/next.sh
  scripts/publish/rc.sh
Due: prettier --write

feat(core-error-tracker-rollbar): initial implementation
  .circleci/config.yml
  packages/core-error-tracker-rollbar/.gitattributes
  packages/core-error-tracker-rollbar/README.md
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-rollbar/src/defaults.ts
  packages/core-error-tracker-rollbar/src/index.ts
  packages/core-error-tracker-rollbar/tsconfig.json
Due: yarn lint, prettier --write

feat(core-error-tracker-raygun): initial implementation
  .circleci/config.yml
  packages/core-error-tracker-raygun/.gitattributes
  packages/core-error-tracker-raygun/README.md
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-raygun/src/defaults.ts
  packages/core-error-tracker-raygun/src/index.ts
  packages/core-error-tracker-raygun/tsconfig.json
Due: yarn lint, prettier --write

feat(core-error-tracker-airbrake): initial implementation
  .circleci/config.yml
  packages/core-error-tracker-airbrake/.gitattributes
  packages/core-error-tracker-airbrake/README.md
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-airbrake/src/defaults.ts
  packages/core-error-tracker-airbrake/src/index.ts
  packages/core-error-tracker-airbrake/tsconfig.json
Due: yarn lint, prettier --write

chore: remove non-existent folders
  .circleci/config.yml
Due: none

feat(core-new-relic): initial implementation
  .circleci/config.yml
  packages/core-new-relic/.gitattributes
  packages/core-new-relic/README.md
  packages/core-new-relic/package.json
  packages/core-new-relic/src/index.ts
  packages/core-new-relic/tsconfig.json
Due: yarn lint, prettier --write

chore: move winston to maintained packages
  .circleci/config.yml
  __tests__/unit/core-logger-winston/.gitattributes
  __tests__/unit/core-logger-winston/logger.test.ts
  deprecated/core-logger-winston/README.md
  packages/core-logger-winston/.gitattributes
  packages/core-logger-winston/README.md
  packages/core-logger-winston/package.json
  packages/core-logger-winston/src/defaults.ts
  packages/core-logger-winston/src/driver.ts
  packages/core-logger-winston/src/formatter.ts
  packages/core-logger-winston/src/index.ts
  packages/core-logger-winston/src/plugin.ts
  packages/core-logger-winston/tsconfig.json
  yarn.lock
Due: yarn lint, prettier --write

feat(core-error-tracker-rollbar): initial implementation (#2287)
  .circleci/config.yml
  packages/core-error-tracker-rollbar/.gitattributes
  packages/core-error-tracker-rollbar/README.md
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-rollbar/src/defaults.ts
  packages/core-error-tracker-rollbar/src/index.ts
  packages/core-error-tracker-rollbar/tsconfig.json
Due: yarn lint, prettier --write

feat(core-error-tracker-raygun): initial implementation (#2288)
  .circleci/config.yml
  packages/core-error-tracker-raygun/.gitattributes
  packages/core-error-tracker-raygun/README.md
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-raygun/src/defaults.ts
  packages/core-error-tracker-raygun/src/index.ts
  packages/core-error-tracker-raygun/tsconfig.json
Due: yarn lint, prettier --write

feat(core-error-tracker-airbrake): initial implementation (#2289)
  .circleci/config.yml
  packages/core-error-tracker-airbrake/.gitattributes
  packages/core-error-tracker-airbrake/README.md
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-airbrake/src/defaults.ts
  packages/core-error-tracker-airbrake/src/index.ts
  packages/core-error-tracker-airbrake/tsconfig.json
Due: yarn lint, prettier --write

chore: remove non-existent folder
  .circleci/config.yml
Due: none

chore: move winston to maintained packages (#2291)
  .circleci/config.yml
  __tests__/unit/core-logger-winston/.gitattributes
  __tests__/unit/core-logger-winston/logger.test.ts
  deprecated/core-logger-winston/README.md
  packages/core-logger-winston/.gitattributes
  packages/core-logger-winston/README.md
  packages/core-logger-winston/package.json
  packages/core-logger-winston/src/defaults.ts
  packages/core-logger-winston/src/driver.ts
  packages/core-logger-winston/src/formatter.ts
  packages/core-logger-winston/src/index.ts
  packages/core-logger-winston/src/plugin.ts
  packages/core-logger-winston/tsconfig.json
  yarn.lock
Due: yarn lint, prettier --write

chore: remove extraneous .gitattributes entries
  __tests__/unit/core-logger-winston/.gitattributes
  deprecated/core-graphql/.gitattributes
  packages/core-api/.gitattributes
  packages/core-blockchain/.gitattributes
  packages/core-container/.gitattributes
  packages/core-database-postgres/.gitattributes
  packages/core-database/.gitattributes
  packages/core-elasticsearch/.gitattributes
  packages/core-error-tracker-airbrake/.gitattributes
  packages/core-error-tracker-bugsnag/.gitattributes
  packages/core-error-tracker-raygun/.gitattributes
  packages/core-error-tracker-rollbar/.gitattributes
  packages/core-error-tracker-sentry/.gitattributes
  packages/core-event-emitter/.gitattributes
  packages/core-forger/.gitattributes
  packages/core-http-utils/.gitattributes
  packages/core-jest-matchers/.gitattributes
  packages/core-json-rpc/.gitattributes
  packages/core-logger-pino/.gitattributes
  packages/core-logger-winston/.gitattributes
  packages/core-logger/.gitattributes
  packages/core-p2p/.gitattributes
  packages/core-tester-cli/.gitattributes
  packages/core-transaction-pool/.gitattributes
  packages/core-transactions/.gitattributes
  packages/core-utils/.gitattributes
  packages/core-vote-report/.gitattributes
  packages/core-webhooks/.gitattributes
  packages/core/.gitattributes
  packages/crypto/.gitattributes
Due: none

refactor: drop the git commit hash identifier
  __tests__/unit/core-container/container.test.ts
  __tests__/unit/core-p2p/mocks/core-container.ts
  packages/core-api/src/versions/1/peers/transformer.ts
  packages/core-api/src/versions/2/peers/transformer.ts
  packages/core-container/src/container.ts
  packages/core-interfaces/src/core-container/container.ts
  packages/core-p2p/src/monitor.ts
  packages/core-p2p/src/peer.ts
  packages/core-p2p/src/server/plugins/set-headers.ts
Due: yarn lint, prettier --write

chore: remove extraneous .gitattributes entries (#2292)
  __tests__/unit/core-logger-winston/.gitattributes
  deprecated/core-graphql/.gitattributes
  packages/core-api/.gitattributes
  packages/core-blockchain/.gitattributes
  packages/core-container/.gitattributes
  packages/core-database-postgres/.gitattributes
  packages/core-database/.gitattributes
  packages/core-elasticsearch/.gitattributes
  packages/core-error-tracker-airbrake/.gitattributes
  packages/core-error-tracker-bugsnag/.gitattributes
  packages/core-error-tracker-raygun/.gitattributes
  packages/core-error-tracker-rollbar/.gitattributes
  packages/core-error-tracker-sentry/.gitattributes
  packages/core-event-emitter/.gitattributes
  packages/core-forger/.gitattributes
  packages/core-http-utils/.gitattributes
  packages/core-jest-matchers/.gitattributes
  packages/core-json-rpc/.gitattributes
  packages/core-logger-pino/.gitattributes
  packages/core-logger-winston/.gitattributes
  packages/core-logger/.gitattributes
  packages/core-p2p/.gitattributes
  packages/core-tester-cli/.gitattributes
  packages/core-transaction-pool/.gitattributes
  packages/core-transactions/.gitattributes
  packages/core-utils/.gitattributes
  packages/core-vote-report/.gitattributes
  packages/core-webhooks/.gitattributes
  packages/core/.gitattributes
  packages/crypto/.gitattributes
Due: none

chore(core-container): remove unused imports
  packages/core-container/src/container.ts
Due: yarn lint, prettier --write

refactor: drop the git commit hash identifier (#2293)
  __tests__/unit/core-container/container.test.ts
  __tests__/unit/core-p2p/mocks/core-container.ts
  packages/core-api/src/versions/1/peers/transformer.ts
  packages/core-api/src/versions/2/peers/transformer.ts
  packages/core-container/src/container.ts
  packages/core-interfaces/src/core-container/container.ts
  packages/core-p2p/src/monitor.ts
  packages/core-p2p/src/peer.ts
  packages/core-p2p/src/server/plugins/set-headers.ts
Due: yarn lint, prettier --write

chore(core-p2p): raise the minimum version to 2.3.0
  packages/core-p2p/src/defaults.ts
  packages/core-utils/package.json
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

test(core-api): update peer version to match 2.3.0 range
  __tests__/integration/core-api/v2/handlers/peers.test.ts
Due: yarn lint, prettier --write

chore(core-p2p): raise the minimum version to 2.3.0 (#2294)
  __tests__/integration/core-api/v2/handlers/peers.test.ts
  packages/core-p2p/src/defaults.ts
  packages/core-utils/package.json
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

chore: use node.js 11.0.0 for CircleCI
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore(core-new-relic): update engine constraint
  .circleci/config.yml
  .circleci/configTemplate.json
  .circleci/generateConfig.js
  packages/core-new-relic/.gitattributes
  packages/core-new-relic/package.json
Due: prettier --write
