Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

chore: replace yarn with pnpm in packages
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: add pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: none

chore: remove yarn.lock
  yarn.lock
Due: none

chore: add pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

deps(core-cli): add tar
  packages/core-cli/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: build all packages
  package.json
Due: prettier --write

chore: ----max-warnings 0 on lint
  package.json
Due: prettier --write

chore: disable no-unnecessary-type-assertion
  .eslintrc.json
Due: prettier --write

deps: add fs-extra
  package.json
  pnpm-lock.yaml
Due: prettier --write

deps: yarn.lock
  yarn.lock
Due: none

deps: update `boxen` from 4.2.0 to 5.1.2 (#4548)
  packages/core-cli/package.json
  packages/core-cli/src/components/box.ts
  packages/core/package.json
  packages/core/src/commands/help.ts
  yarn.lock
Due: yarn lint, prettier --write

Update pnpm lock
  pnpm-lock.yaml
Due: none

Add Plugin interface
  packages/core-kernel/src/contracts/kernel/application.ts
Due: yarn lint, prettier --write

Implement simple PluginDiscoverer
  packages/core-kernel/src/application.ts
  packages/core-kernel/src/bootstrap/app/load-service-providers.ts
  packages/core-kernel/src/ioc/identifiers.ts
  packages/core-kernel/src/providers/index.ts
  packages/core-kernel/src/providers/plugin-discoverer.ts
Due: yarn lint, prettier --write

Use PluginDiscoverer in WorkerPool
  packages/core-transaction-pool/src/worker-pool.ts
Due: yarn lint, prettier --write

PluginDiscoverer uses initialization and sync methods
  packages/core-kernel/src/bootstrap/app/load-service-providers.ts
  packages/core-kernel/src/providers/plugin-discoverer.ts
  packages/core-transaction-pool/src/worker-pool.ts
Due: yarn lint, prettier --write

PluginDiscoverer discover from plugins
  packages/core-kernel/src/providers/plugin-discoverer.ts
Due: yarn lint, prettier --write

Replace setup with initialize script
  package.json
Due: prettier --write

Remove bootstrap script
  package.json
Due: prettier --write

Remove setup:clean and clean scripts
  package.json
Due: prettier --write

Use pnpm in root scripts
  package.json
Due: prettier --write

Fix benchmarks
  .github/workflows/benchmark.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

Setup pnpm on benchmark workflow
  .github/workflows/benchmark.yml
Due: none

Bechmark cache pnpm modules
  .github/workflows/benchmark.yml
Due: none

Bechmark run install on pnpm setup
  .github/workflows/benchmark.yml
Due: none

Benchmark workflow: change cache key
  .github/workflows/benchmark.yml
Due: none

Revert "Replace setup with initialize script" and use pnpm
  package.json
Due: prettier --write

Update CodeQL Analysis workflow
  .github/workflows/codeql-analysis.yml
Due: none

Update Lint workflow
  .github/workflows/lint.yml
Due: none

test(core): use @packages for imports
  packages/core/__tests__/commands/config-cli.test.ts
  packages/core/__tests__/commands/config-forger-bip38.test.ts
  packages/core/__tests__/commands/config-forger-bip39.test.ts
  packages/core/__tests__/commands/config-publish.test.ts
  packages/core/__tests__/commands/core-log.test.ts
  packages/core/__tests__/commands/core-restart.test.ts
  packages/core/__tests__/commands/core-start.test.ts
  packages/core/__tests__/commands/core-status.test.ts
  packages/core/__tests__/commands/core-stop.test.ts
  packages/core/__tests__/commands/env-get.test.ts
  packages/core/__tests__/commands/env-list.test.ts
  packages/core/__tests__/commands/env-paths.test.ts
  packages/core/__tests__/commands/env-set.test.ts
  packages/core/__tests__/commands/forger-log.test.ts
  packages/core/__tests__/commands/forger-restart.test.ts
  packages/core/__tests__/commands/forger-start.test.ts
  packages/core/__tests__/commands/forger-status.test.ts
  packages/core/__tests__/commands/forger-stop.test.ts
  packages/core/__tests__/commands/help.test.ts
  packages/core/__tests__/commands/network-generate.test.ts
  packages/core/__tests__/commands/plugin-remove.test.ts
  packages/core/__tests__/commands/plugin-update.test.ts
  packages/core/__tests__/commands/reinstall.test.ts
  packages/core/__tests__/commands/relay-log.test.ts
  packages/core/__tests__/commands/relay-restart.test.ts
  packages/core/__tests__/commands/relay-share.test.ts
  packages/core/__tests__/commands/relay-start.test.ts
  packages/core/__tests__/commands/relay-status.test.ts
  packages/core/__tests__/commands/relay-stop.test.ts
  packages/core/__tests__/commands/snapshot-restore.test.ts
  packages/core/__tests__/commands/snapshot-truncate.test.ts
  packages/core/__tests__/commands/snapshot-verify.test.ts
  packages/core/__tests__/commands/top.test.ts
  packages/core/__tests__/commands/uninstall.test.ts
  packages/core/__tests__/commands/update.test.ts
  packages/core/__tests__/commands/version.test.ts
Due: yarn lint, prettier --write

test(core-blockchain): use @packages for imports
  packages/core-blockchain/__tests__/blockchain.test.ts
  packages/core-blockchain/__tests__/processor/handlers/already-forged-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/incompatible-transactions-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/invalid-generator-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/nonce-out-of-order-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/revert-block-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/unchained-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/verification-failed-handler.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/blockchain-ready.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/check-last-block-synced.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/download-finished.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/download-paused.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/exit-app.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/rollback-database.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/stopped.test.ts
  packages/core-blockchain/__tests__/state-machine/actions/syncing-complete.test.ts
  packages/core-blockchain/__tests__/state-machine/state-machine.test.ts
Due: yarn lint, prettier --write

test(core-api): use @packages for imports
  packages/core-api/__tests__/controllers/blocks.test.ts
  packages/core-api/__tests__/controllers/delegates.test.ts
  packages/core-api/__tests__/controllers/locks.test.ts
  packages/core-api/__tests__/controllers/wallets.test.ts
  packages/core-api/__tests__/resources-new/wallet.test.ts
  packages/core-api/__tests__/resources/block-with-transactions.test.ts
  packages/core-api/__tests__/resources/block.test.ts
  packages/core-api/__tests__/resources/ports.test.ts
  packages/core-api/__tests__/resources/round.test.ts
  packages/core-api/__tests__/resources/transaction-with-blocks.test.ts
  packages/core-api/__tests__/routes/blockchain.test.ts
  packages/core-api/__tests__/routes/blocks.test.ts
  packages/core-api/__tests__/routes/locks.test.ts
  packages/core-api/__tests__/routes/node.test.ts
  packages/core-api/__tests__/routes/peers.test.ts
  packages/core-api/__tests__/routes/rounds.test.ts
  packages/core-api/__tests__/routes/transactions.test.ts
  packages/core-api/__tests__/routes/votes.test.ts
  packages/core-api/__tests__/routes/wallets.test.ts
  packages/core-api/__tests__/schemas.test.ts
  packages/core-api/__tests__/services/wallet-search-service.test.ts
Due: yarn lint, prettier --write

test(core-blockchain): add delay to devDependencies
  packages/core-blockchain/package.json
Due: prettier --write

test(core-database): use @packages for imports
  packages/core-database/__tests__/block-filter.test.ts
  packages/core-database/__tests__/block-history-service.test.ts
  packages/core-database/__tests__/database-service.test.ts
  packages/core-database/__tests__/model-converter.test.ts
  packages/core-database/__tests__/transaction-history-service.test.ts
  packages/core-database/__tests__/utils/transform.test.ts
Due: yarn lint, prettier --write

test(core-kernel): use @packages for imports
  packages/core-kernel/__tests__/services/search/errors.test.ts
  packages/core-kernel/__tests__/services/search/pagination-service.test.ts
  packages/core-kernel/__tests__/utils/assert.test.ts
  packages/core-kernel/__tests__/utils/delegate-calculator.test.ts
  packages/core-kernel/__tests__/utils/expiration-calculator.test.ts
  packages/core-kernel/__tests__/utils/is-blocked-chained.test.ts
  packages/core-kernel/__tests__/utils/supply-calculator.test.ts
Due: yarn lint, prettier --write

test(core-forger): use @packages for imports
  packages/core-forger/__tests__/client.test.ts
  packages/core-forger/__tests__/methods/bip38.test.ts
  packages/core-forger/__tests__/process-actions/current-delegate.test.ts
  packages/core-forger/__tests__/process-actions/last-forged-block.test.ts
  packages/core-forger/__tests__/process-actions/next-slot.test.ts
Due: yarn lint, prettier --write

test(core-logger-pino): use @packages for imports
  packages/core-logger-pino/__tests__/driver.test.ts
  packages/core-logger-pino/__tests__/service-provider.test.ts
Due: yarn lint, prettier --write

test(core-magistrate-api): use @packages for imports
  packages/core-magistrate-api/__tests__/controllers/entities.test.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
