Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
}

chore: update changelogs and bump versions (#1642)
  .circleci/config.yml
  packages/core-api/CHANGELOG.md
  packages/core-api/lib/repositories/blocks.js
  packages/core-api/lib/versions/2/handlers/blockchain.js
  packages/core-api/package.json
  packages/core-database-postgres/CHANGELOG.md
  packages/core-database-postgres/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(core-api): increase cache generation timeout for block and transaction endpoints
  .circleci/config.yml
  packages/core-api/lib/versions/1/methods/blocks.js
  packages/core-api/lib/versions/1/methods/transactions.js
  packages/core-api/lib/versions/2/methods/blocks.js
  packages/core-api/lib/versions/2/methods/delegates.js
  packages/core-api/lib/versions/2/methods/transactions.js
  packages/core-api/lib/versions/2/methods/votes.js
  packages/core-api/lib/versions/2/methods/wallets.js
Due: eslint --fix, prettier --write

chore(core-api): update changelog
  packages/core-api/CHANGELOG.md
Due: prettier --write

chore(core-api): increase cache generation timeout for block and transaction endpoints (#1645)
  .circleci/config.yml
  packages/core-api/CHANGELOG.md
  packages/core-api/lib/versions/1/methods/blocks.js
  packages/core-api/lib/versions/1/methods/transactions.js
  packages/core-api/lib/versions/2/methods/blocks.js
  packages/core-api/lib/versions/2/methods/delegates.js
  packages/core-api/lib/versions/2/methods/transactions.js
  packages/core-api/lib/versions/2/methods/votes.js
  packages/core-api/lib/versions/2/methods/wallets.js
Due: eslint --fix, prettier --write

chore(core-api): make cache timeout configurable
  packages/core-api/CHANGELOG.md
  packages/core-api/lib/defaults.js
  packages/core-api/lib/versions/1/methods/accounts.js
  packages/core-api/lib/versions/1/methods/blocks.js
  packages/core-api/lib/versions/1/methods/delegates.js
  packages/core-api/lib/versions/1/methods/transactions.js
  packages/core-api/lib/versions/2/methods/blocks.js
  packages/core-api/lib/versions/2/methods/delegates.js
  packages/core-api/lib/versions/2/methods/transactions.js
  packages/core-api/lib/versions/2/methods/votes.js
  packages/core-api/lib/versions/2/methods/wallets.js
Due: eslint --fix, prettier --write

chore(core-api): make cache timeout configurable (#1646)
  packages/core-api/CHANGELOG.md
  packages/core-api/lib/defaults.js
  packages/core-api/lib/versions/1/methods/accounts.js
  packages/core-api/lib/versions/1/methods/blocks.js
  packages/core-api/lib/versions/1/methods/delegates.js
  packages/core-api/lib/versions/1/methods/transactions.js
  packages/core-api/lib/versions/2/methods/blocks.js
  packages/core-api/lib/versions/2/methods/delegates.js
  packages/core-api/lib/versions/2/methods/transactions.js
  packages/core-api/lib/versions/2/methods/votes.js
  packages/core-api/lib/versions/2/methods/wallets.js
Due: eslint --fix, prettier --write

fix(core-api): ensure booleans for the cache timeout are handled
  packages/core-api/CHANGELOG.md
  packages/core-api/lib/versions/1/methods/accounts.js
  packages/core-api/lib/versions/1/methods/blocks.js
  packages/core-api/lib/versions/1/methods/delegates.js
  packages/core-api/lib/versions/1/methods/transactions.js
  packages/core-api/lib/versions/2/methods/blocks.js
  packages/core-api/lib/versions/2/methods/delegates.js
  packages/core-api/lib/versions/2/methods/transactions.js
  packages/core-api/lib/versions/2/methods/votes.js
  packages/core-api/lib/versions/2/methods/wallets.js
  packages/core-api/lib/versions/utils.js
  packages/core-api/package.json
Due: eslint --fix, prettier --write

fix(core-database-postgres): do not create blocks_unique to avoid recreation on restart
  packages/core-database-postgres/lib/migrations/20180305300000-create-blocks-table.sql
  packages/core-database-postgres/lib/migrations/20181129400000-add-block_id-index-to-transactions-table.sql
  packages/core-database-postgres/lib/migrations/20181204100000-add-generator_public_key-index-to-blocks-table.sql
  packages/core-database-postgres/lib/migrations/20181204200000-add-transactions-timestamp-index-to-blocks-table.sql
  packages/core-database-postgres/lib/migrations/20181204300000-add-transactions-sender-and-receiver-indices-to-transactions-table.sql
  packages/core-database-postgres/lib/migrations/index.js
Due: eslint --fix, prettier --write

fix(core-database-postgres): only drop the blocks_unique index if it exists
  packages/core-database-postgres/lib/migrations/20181204100000-add-generator_public_key-index-to-blocks-table.sql
Due: none

feat(core-database-postgres): store executed migrations in the database
  packages/core-database-postgres/CHANGELOG.md
  packages/core-database-postgres/lib/connection.js
  packages/core-database-postgres/lib/migrations/20180304100000-create-migrations-table.sql
  packages/core-database-postgres/lib/migrations/index.js
  packages/core-database-postgres/lib/models/index.js
  packages/core-database-postgres/lib/models/migration.js
  packages/core-database-postgres/lib/queries/index.js
  packages/core-database-postgres/lib/queries/migrations/create.sql
  packages/core-database-postgres/lib/queries/migrations/find.sql
  packages/core-database-postgres/lib/repositories/index.js
  packages/core-database-postgres/lib/repositories/migrations.js
Due: eslint --fix, prettier --write

refactor(core-database-postgres): remove useless id insert
  packages/core-database-postgres/CHANGELOG.md
  packages/core-database-postgres/lib/queries/migrations/create.sql
Due: prettier --write

fix(core-api): ensure booleans for the cache timeout are handled (#1647)
  packages/core-api/CHANGELOG.md
  packages/core-api/lib/versions/1/methods/accounts.js
  packages/core-api/lib/versions/1/methods/blocks.js
  packages/core-api/lib/versions/1/methods/delegates.js
  packages/core-api/lib/versions/1/methods/transactions.js
  packages/core-api/lib/versions/2/methods/blocks.js
  packages/core-api/lib/versions/2/methods/delegates.js
  packages/core-api/lib/versions/2/methods/transactions.js
  packages/core-api/lib/versions/2/methods/votes.js
  packages/core-api/lib/versions/2/methods/wallets.js
  packages/core-api/lib/versions/utils.js
  packages/core-api/package.json
Due: eslint --fix, prettier --write

feat(core-database-postgres): store executed migrations in the database (#1648)
  packages/core-database-postgres/CHANGELOG.md
  packages/core-database-postgres/lib/connection.js
  packages/core-database-postgres/lib/migrations/20180304100000-create-migrations-table.sql
  packages/core-database-postgres/lib/migrations/20180305300000-create-blocks-table.sql
  packages/core-database-postgres/lib/migrations/20181129400000-add-block_id-index-to-transactions-table.sql
  packages/core-database-postgres/lib/migrations/20181204100000-add-generator_public_key-index-to-blocks-table.sql
  packages/core-database-postgres/lib/migrations/20181204200000-add-transactions-timestamp-index-to-blocks-table.sql
  packages/core-database-postgres/lib/migrations/20181204300000-add-transactions-sender-and-receiver-indices-to-transactions-table.sql
  packages/core-database-postgres/lib/migrations/index.js
  packages/core-database-postgres/lib/models/index.js
  packages/core-database-postgres/lib/models/migration.js
  packages/core-database-postgres/lib/queries/index.js
  packages/core-database-postgres/lib/queries/migrations/create.sql
  packages/core-database-postgres/lib/queries/migrations/find.sql
  packages/core-database-postgres/lib/repositories/index.js
  packages/core-database-postgres/lib/repositories/migrations.js
Due: eslint --fix, prettier --write

chore(core-database-postgres): properly split migrations and name them
  packages/core-database-postgres/lib/migrations/20181204200000-add-timestamp-index-to-blocks-table.sql
  packages/core-database-postgres/lib/migrations/20181204300000-add-sender_public_key-index-to-transactions-table.sql
  packages/core-database-postgres/lib/migrations/20181204400000-add-recipient_id-index-to-transactions-table.sql
  packages/core-database-postgres/lib/migrations/index.js
Due: eslint --fix, prettier --write

chore(core-database-postgres): properly split migrations and name them (#1649)
  packages/core-database-postgres/lib/migrations/20181204200000-add-timestamp-index-to-blocks-table.sql
  packages/core-database-postgres/lib/migrations/20181204300000-add-sender_public_key-index-to-transactions-table.sql
  packages/core-database-postgres/lib/migrations/20181204400000-add-recipient_id-index-to-transactions-table.sql
  packages/core-database-postgres/lib/migrations/index.js
Due: eslint --fix, prettier --write

chore(core): update changelog and bump version
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write

chore(core): update changelog and bump version (#1650)
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write

fix: use the app object to resolve plugins
  packages/core-api/lib/versions/utils.js
Due: eslint --fix, prettier --write

fix(json-rpc): bip38 wif generation
  .circleci/config.yml
  packages/core-json-rpc/lib/server/methods/wallets/bip38/create.js
Due: eslint --fix, prettier --write

fix: typo
  packages/core-json-rpc/lib/server/methods/wallets/bip38/create.js
Due: eslint --fix, prettier --write

chore: add tslint to dev dependencies
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier --write

refactor(core-json-rpc): retrieve bip38 wallet after creating it
  packages/core-json-rpc/lib/server/methods/wallets/bip38/create.js
Due: eslint --fix, prettier --write

fix(core-container): app export
  packages/core-container/__tests__/container.test.ts
  packages/core-container/src/index.ts
Due: none

fix(core-json-rpc): properly handle bip38 creation and reading for wallets
  .circleci/config.yml
  packages/core-json-rpc/CHANGELOG.md
  packages/core-json-rpc/__tests__/wallets.test.js
  packages/core-json-rpc/lib/server/methods/wallets/bip38/create.js
  packages/core-json-rpc/lib/server/methods/wallets/bip38/show.js
  packages/core-json-rpc/lib/server/utils/bip38-keys.js
Due: eslint --fix, prettier --write

feat(core-json-rpc): add decrypt WIF utility
  packages/core-json-rpc/lib/server/utils/decrypt-wif.js
Due: eslint --fix, prettier --write

chore(core-database): migrate to typescript
  packages/core-database/__tests__/__support__/fake-connection.ts
  packages/core-database/__tests__/__support__/setup.js
  packages/core-database/__tests__/__support__/setup.ts
  packages/core-database/__tests__/interface.test.js
  packages/core-database/__tests__/interface.test.ts
  packages/core-database/__tests__/repositories/delegates.test.js
  packages/core-database/__tests__/repositories/delegates.test.ts
  packages/core-database/__tests__/repositories/utils/filter-rows.test.js
  packages/core-database/__tests__/repositories/utils/filter-rows.test.ts
  packages/core-database/__tests__/repositories/wallets.test.js
  packages/core-database/__tests__/repositories/wallets.test.ts
  packages/core-database/__tests__/wallet-manager.test.js
  packages/core-database/__tests__/wallet-manager.test.ts
  packages/core-database/jest.config.js
  packages/core-database/lib/index.js
  packages/core-database/lib/repositories/utils/filter-rows.js
  packages/core-database/lib/repositories/utils/limit-rows.js
  packages/core-database/package.json
  packages/core-database/src/defaults.ts
  packages/core-database/src/index.ts
  packages/core-database/src/interface.ts
  packages/core-database/src/manager.ts
  packages/core-database/src/repositories/delegates.ts
  packages/core-database/src/repositories/utils/filter-rows.ts
  packages/core-database/src/repositories/utils/limit-rows.ts
  packages/core-database/src/repositories/wallets.ts
  packages/core-database/src/wallet-manager.ts
  packages/core-database/tsconfig.json
  tsconfig.json
  tslint.json
Due: eslint --fix, prettier --write

chore(core-json-rpc): changelog wording
  packages/core-json-rpc/CHANGELOG.md
Due: prettier --write

fix(core-database): test
  packages/core-database/__tests__/interface.test.ts
  packages/core-database/__tests__/repositories/delegates.test.ts
Due: none

fix: copy migration files
  packages/core-database-postgres/package.json
Due: prettier --write

fix(core-database): exports
  packages/core-database-postgres/src/connection.ts
  packages/core-database-postgres/src/index.ts
  packages/core-database-postgres/src/repositories/index.ts
  packages/core-database/__tests__/__support__/setup.ts
  packages/core-database/__tests__/repositories/delegates.test.ts
  packages/core-database/__tests__/repositories/wallets.test.ts
  packages/core-database/src/index.ts
  packages/core-database/src/interface.ts
  packages/core-database/src/repositories/delegates.ts
  packages/core-database/src/repositories/wallets.ts
Due: none

chore(transaction-pool-mem): remove
  packages/core-transaction-pool-mem/README.md
  packages/core-transaction-pool-mem/__tests__/__fixtures__/transactions.js
  packages/core-transaction-pool-mem/__tests__/__support__/setup.js
  packages/core-transaction-pool-mem/__tests__/connection.test.js
  packages/core-transaction-pool-mem/jest.config.js
  packages/core-transaction-pool-mem/lib/index.js
  packages/core-transaction-pool-mem/package.json
Due: eslint --fix, prettier --write

chore(core-json-rpc): temp fix
  packages/core-json-rpc/src/server/services/network.ts
  packages/core-transaction-pool-mem/.gitattributes
  packages/core-transaction-pool-mem/CHANGELOG.md
  packages/core-transaction-pool-mem/LICENSE
Due: prettier --write

test: adjust failing assertions
  .circleci/config.yml
  packages/core-container/__tests__/container.test.ts
  packages/core-container/src/container.ts
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-json-rpc/src/server/services/network.ts
  packages/core-transaction-pool/package.json
Due: prettier --write

fix(core-database-postgres): null the default query parameters
  .circleci/config.yml
  packages/core-database-postgres/src/models/model.ts
  packages/core-database-postgres/src/sql/query-executor.ts
Due: none

test(core-webhooks): setup database connection
  packages/core-webhooks/__tests__/__support__/setup.ts
  packages/core-webhooks/__tests__/server/handler.test.ts
  packages/core-webhooks/src/database/index.ts
Due: none

chore(core): migrate to typescript
  packages/core-container/__tests__/container.test.ts
  packages/core-container/__tests__/remote-loader.test.ts
  packages/core-deployer/bin/deployer
  packages/core-snapshots-cli/package.json
  packages/core/lib/start-forger.js
  packages/core/lib/start-relay-and-forger.js
  packages/core/lib/start-relay.js
  packages/core/package.json
  packages/core/src/commands/index.ts
  packages/core/src/config/devnet/delegates.json
  packages/core/src/config/devnet/genesisBlock.json
  packages/core/src/config/devnet/peers.json
  packages/core/src/config/devnet/plugins.js
  packages/core/src/config/mainnet/delegates.json
  packages/core/src/config/mainnet/genesisBlock.json
  packages/core/src/config/mainnet/peers.json
  packages/core/src/config/mainnet/plugins.js
  packages/core/src/config/testnet.1/delegates.json
  packages/core/src/config/testnet.1/genesisBlock.json
  packages/core/src/config/testnet.1/peers.json
  packages/core/src/config/testnet.1/plugins.js
  packages/core/src/config/testnet.2/delegates.json
  packages/core/src/config/testnet.2/genesisBlock.json
  packages/core/src/config/testnet.2/peers.json
  packages/core/src/config/testnet.2/plugins.js
  packages/core/src/config/testnet.live/delegates.json
  packages/core/src/config/testnet.live/genesisBlock.json
  packages/core/src/config/testnet.live/peers.json
  packages/core/src/config/testnet.live/plugins.js
  packages/core/src/config/testnet/delegates.json
  packages/core/src/config/testnet/genesisBlock.json
  packages/core/src/config/testnet/peers.json
  packages/core/src/config/testnet/plugins.js
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/crypto/__tests__/models/block.test.js
Due: eslint --fix, prettier --write
