Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

chore: use circleci cache - node 11
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

feat(core-tester-cli): add make:block command
  .circleci/config.yml
  __tests__/integration/core-tester-cli/commands/make/block.test.ts
  packages/core-tester-cli/src/commands/make/block.ts
Due: yarn lint, prettier --write

chore: update CircleCI config
  .circleci/config.yml
Due: none

test(core-tester-cli): pass in unitnet as network
  __tests__/integration/core-tester-cli/commands/make/block.test.ts
  packages/core-tester-cli/src/commands/make/block.ts
Due: yarn lint, prettier --write

chore: all unit tests in same circleci job + integration split in 2 jobs
  .circleci/config.yml
  .circleci/configTemplate.json
  .circleci/generateConfig.js
Due: prettier --write

chore: trying to limit maxWorkers so circleci can handle it
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: maxWorkers=2 for all circleci jobs
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: circleci restore caching + re-organize jobs for unit / integration tests (#2222)
  .circleci/config.yml
  .circleci/configTemplate.json
  .circleci/generateConfig.js
Due: prettier --write

fix(core-tester-cli): Don't hide errors from HTTP failures
  packages/core-tester-cli/src/http-client.ts
Due: yarn lint, prettier --write

feat(core-tester-cli): Make it possible to override the base block
  packages/core-tester-cli/src/commands/make/block.ts
Due: yarn lint, prettier --write

fix(core-tester-cli): remove default of previousBlock
  packages/core-tester-cli/src/commands/make/block.ts
Due: yarn lint, prettier --write

chore: bump versions
  .circleci/config.yml
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: yarn.lock
  .circleci/config.yml
  yarn.lock
Due: none

fix: resolve core-tester-utils conflicts and various errors
  .circleci/config.yml
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-blockchain/src/state-machine.ts
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-json-rpc/package.json
  packages/core-p2p/package.json
  packages/core-test-utils/package.json
  packages/core-transaction-pool/package.json
  packages/core-webhooks/package.json
Due: yarn lint, prettier --write

chore: use yarn setup on CircleCI
  .circleci/configTemplate.json
  package.json
Due: prettier --write

chore: update yarn.lock
  .circleci/config.yml
  yarn.lock
Due: none

fix(core-tester-cli): Don't hide errors from HTTP failures (#2223)
  packages/core-tester-cli/src/http-client.ts
Due: yarn lint, prettier --write

chore: yarn.lock
  yarn.lock
Due: none

test: fix type
  __tests__/unit/crypto/models/block.test.ts
Due: yarn lint, prettier --write

chore: remove core-test-utils
  .circleci/config.yml
Due: none

test(core-tester-cli): adjust block fixture
  __tests__/integration/core-tester-cli/__fixtures__/block.json
Due: prettier --write

test(core-forger): adjust block fixture
  __tests__/integration/core-forger/__fixtures__/block.ts
Due: yarn lint, prettier --write

test(crypto): adjust block fixtures
  __tests__/unit/crypto/fixtures/block.ts
  __tests__/unit/crypto/models/block.test.ts
  __tests__/unit/crypto/transactions/deserializers/block.test.ts
Due: yarn lint, prettier --write

feat(core-tester-cli): allow offline usage
  package.json
  packages/core-tester-cli/src/commands/command.ts
Due: yarn lint, prettier --write

fix(core-tester-cli): use random recipient to avoid duplicate transactions
  packages/core-tester-cli/src/commands/make/block.ts
Due: yarn lint, prettier --write

refactor: method name
  packages/core-tester-cli/src/commands/command.ts
  packages/core-tester-cli/src/commands/make/block.ts
Due: yarn lint, prettier --write

chore: sync version with npm
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: sync version with npm (#2228)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

test: ensure nock is cleaned up after all tests
  __tests__/integration/core-json-rpc/blocks.test.ts
  __tests__/integration/core-json-rpc/transactions.test.ts
  __tests__/integration/core-json-rpc/wallets.test.ts
  __tests__/unit/core-p2p/monitor.test.ts
  __tests__/unit/core-p2p/peer-verifier.test.ts
  __tests__/unit/core-p2p/peer.test.ts
  package.json
Due: yarn lint, prettier --write

fix(core-forger): access response body from got
  packages/core-forger/src/client.ts
Due: yarn lint, prettier --write

chore: adapt socket server init to handle tests
  packages/core-p2p/src/socket-server/index.ts
Due: yarn lint, prettier --write

test: p2p tests WIP
  packages/core-p2p/__tests__/__support__/mock-socket-server/manager.ts
  packages/core-p2p/__tests__/__support__/setup.ts
  packages/core-p2p/__tests__/court/guard.test.ts
  packages/core-p2p/__tests__/monitor.test.ts
  packages/core-p2p/__tests__/peer.test.ts
  packages/core-p2p/__tests__/socket-server/peer.test.ts
Due: yarn lint, prettier --write

misc(crypto): adjust height to switch to full sha256 block ids
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/mainnet/milestones.json
Due: prettier --write

test(core-tester-cli): remove network mocks
  __tests__/integration/core-tester-cli/commands/make/block.test.ts
Due: yarn lint, prettier --write

refactor: change description
  packages/core-tester-cli/src/commands/make/block.ts
  packages/core-tester-cli/src/commands/make/wallets.ts
Due: yarn lint, prettier --write

fix: block payload output
  packages/core-tester-cli/src/commands/make/block.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
