Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

[Snyk] Upgrade node-forge from 0.8.5 to 0.9.0 (#2924)
  packages/core-forger/package.json
Due: prettier --write

chore: upgrade node-forge from 0.8.5 to 0.9.0
  packages/crypto/package.json
Due: prettier --write

test: make npm registry reliant tests more reliable
  .circleci/config.yml
  __tests__/unit/core/commands/update.test.ts
  __tests__/unit/core/common/update.test.ts
  __tests__/unit/core/common/update/check-for-updates.test.ts
  __tests__/unit/core/hooks/init/update.test.ts
  package.json
  packages/core-p2p/src/socket-server/index.ts
  packages/core-p2p/src/socket-server/versions/internal.ts
  packages/core-p2p/src/socket-server/versions/peer.ts
  packages/core-p2p/src/types.ts
  packages/core-state/src/stores/blocks.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core/bin/config/testnet/app.js
  packages/core/src/commands/update.ts
Due: yarn lint, prettier --write

refactor(core): always check for updates when something runs
  __tests__/unit/core/common/update.test.ts
  __tests__/unit/core/common/update/check-for-updates.test.ts
  __tests__/unit/core/hooks/init/update.test.ts
  packages/core-kernel/src/bootstrap/service-providers/register-service-providers.ts
  packages/core/src/common/update.ts
  packages/core/src/hooks/init/update.ts
Due: yarn lint, prettier --write

fix: marketplace types
  packages/core-database-postgres/src/postgres-connection.ts
  packages/core-database-postgres/src/queries/state-builder/delegates.sql
  packages/core-database-postgres/src/queries/state-builder/ipfs.sql
  packages/core-database-postgres/src/queries/state-builder/multi-signatures.sql
  packages/core-database-postgres/src/queries/state-builder/received-transactions.sql
  packages/core-database-postgres/src/queries/state-builder/second-signatures.sql
  packages/core-database/src/database-service.ts
  packages/core-event-emitter/src/index.ts
  packages/core-marketplace/package.json
  packages/core-marketplace/src/plugin.ts
  packages/core/bin/config/testnet/plugins.js
Due: yarn lint, prettier --write

refactor: load core-marketplace before core-database-postgres
  __tests__/utils/config/testnet/plugins.js
  __tests__/utils/config/unitnet/plugins.js
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/plugins.js
Due: none

fix: dependency
  packages/core-marketplace/package.json
Due: prettier --write

fix: use once
  packages/core-marketplace/src/plugin.ts
Due: yarn lint, prettier --write

fix: initialize pool wallet manager with delegate wallets
  __tests__/functional/transaction-forging/delegate-resignation.test.ts
  packages/core-transaction-pool/src/wallet-manager.ts
Due: yarn lint, prettier --write

refactor: rename to isResigned, add typeGroup, show nonce for v1 tx
  packages/core-api/src/handlers/delegates/transformer.ts
  packages/core-api/src/handlers/transactions/transformer.ts
  packages/core-api/src/handlers/wallets/transformer.ts
  yarn.lock
Due: yarn lint, prettier --write

test: update fixture
  __tests__/integration/core-api/services/transaction-transformed.json
  __tests__/integration/core-api/utils.ts
  packages/core-api/src/handlers/transactions/transformer.ts
Due: yarn lint, prettier --write

refactor: lowercase
  packages/core-database-postgres/src/queries/state-builder/delegates.sql
  packages/core-database-postgres/src/queries/state-builder/ipfs.sql
  packages/core-database-postgres/src/queries/state-builder/multi-signatures.sql
  packages/core-database-postgres/src/queries/state-builder/received-transactions.sql
  packages/core-database-postgres/src/queries/state-builder/second-signatures.sql
Due: none

refactor: perform asset migration last
  packages/core-database-postgres/src/migrations/20190917000000-add-asset-column-to-transactions-table.sql
  packages/core-database-postgres/src/migrations/index.ts
  packages/core-database-postgres/src/postgres-connection.ts
Due: yarn lint, prettier --write

fix: remove unused import
  __tests__/functional/transaction-forging/delegate-resignation.test.ts
Due: yarn lint, prettier --write

fix(core-database): add missing typeGroup and emit StateStarting (#2932)
  __tests__/utils/config/testnet/plugins.js
  __tests__/utils/config/unitnet/plugins.js
  packages/core-database-postgres/src/migrations/20190917000000-add-asset-column-to-transactions-table.sql
  packages/core-database-postgres/src/migrations/index.ts
  packages/core-database-postgres/src/postgres-connection.ts
  packages/core-database-postgres/src/queries/state-builder/delegates.sql
  packages/core-database-postgres/src/queries/state-builder/ipfs.sql
  packages/core-database-postgres/src/queries/state-builder/multi-signatures.sql
  packages/core-database-postgres/src/queries/state-builder/received-transactions.sql
  packages/core-database-postgres/src/queries/state-builder/second-signatures.sql
  packages/core-database/src/database-service.ts
  packages/core-event-emitter/src/index.ts
  packages/core-marketplace/package.json
  packages/core-marketplace/src/plugin.ts
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/plugins.js
Due: yarn lint, prettier --write

fix(core-transactions): reject delegate resignation if not enough inactive delegates (#2919)
  __tests__/functional/transaction-forging/delegate-resignation.test.ts
  __tests__/unit/core-transactions/handler.test.ts
  packages/core-transaction-pool/src/wallet-manager.ts
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
Due: yarn lint, prettier --write

[Snyk] Upgrade node-forge from 0.8.5 to 0.9.0 (#2931)
  packages/crypto/package.json
Due: prettier --write

fix(core-api): wallet search (#2926)
  __tests__/integration/core-api/services/transaction-transformed.json
  __tests__/integration/core-api/utils.ts
  packages/core-api/src/handlers/delegates/schema.ts
  packages/core-api/src/handlers/delegates/transformer.ts
  packages/core-api/src/handlers/transactions/transformer.ts
  packages/core-api/src/handlers/wallets/transformer.ts
  packages/core-database/package.json
  packages/core-database/src/repositories/delegates-business-repository.ts
  packages/core-database/src/repositories/utils/sort-entries.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet-manager.ts
  packages/core-transactions/src/handlers/delegate-registration.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
  yarn.lock
Due: yarn lint, prettier --write

fix(core-database-postgres): use postgresql-9.5 compatible syntax
  packages/core-database-postgres/src/migrations/20190905000000-change-set_row_nonce-to-use-max-nonce.sql
Due: none

fix(core-database-postgres): use postgresql-9.5 compatible syntax (#2933)
  packages/core-database-postgres/src/migrations/20190905000000-change-set_row_nonce-to-use-max-nonce.sql
Due: none

test: fix asset
  __tests__/unit/core-transactions/handler.test.ts
Due: yarn lint, prettier --write

refactor(core-transactions): htlc implementation (#2915)
  __tests__/functional/transaction-forging/htlc-claim.test.ts
  __tests__/functional/transaction-forging/htlc-lock.test.ts
  __tests__/functional/transaction-forging/htlc-refund.test.ts
  __tests__/unit/core-state/wallets/wallet-manager-htlc.test.ts
  __tests__/unit/core-transactions/handler.test.ts
  __tests__/unit/crypto/transactions/builders/transactions/htlc-lock.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  __tests__/unit/crypto/transactions/schemas.test.ts
  packages/core-transaction-pool/src/processor.ts
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/crypto/src/enums.ts
  packages/crypto/src/interfaces/transactions.ts
  packages/crypto/src/transactions/types/enums.ts
  packages/crypto/src/transactions/types/htlc-lock.ts
  packages/crypto/src/transactions/types/index.ts
  packages/crypto/src/transactions/types/ipfs.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

chore: upgrade node-forge from 0.8.5 to 0.9.0
  packages/core-forger/package.json
Due: prettier --write

chore: temporarily deprecate core-elasticsearch
  packages/core-elasticsearch/.gitattributes
  packages/core-elasticsearch/README.md
  packages/core-elasticsearch/package.json
  packages/core-elasticsearch/src/client.ts
  packages/core-elasticsearch/src/defaults.ts
  packages/core-elasticsearch/src/index.ts
  packages/core-elasticsearch/src/indices/base.ts
  packages/core-elasticsearch/src/indices/blocks.ts
  packages/core-elasticsearch/src/indices/index.ts
  packages/core-elasticsearch/src/indices/rounds.ts
  packages/core-elasticsearch/src/indices/transactions.ts
  packages/core-elasticsearch/src/indices/wallets.ts
  packages/core-elasticsearch/src/server/hapi.ts
  packages/core-elasticsearch/src/server/index.ts
  packages/core-elasticsearch/src/storage.ts
  packages/core-elasticsearch/src/utils.ts
  packages/core-elasticsearch/tsconfig.json
Due: yarn lint, prettier --write

refactor(core-transaction-pool): calculate expiration based on timestamp as fallback
  packages/core-interfaces/src/core-transaction-pool/connection.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/memory.ts
  packages/core-transaction-pool/src/processor.ts
Due: yarn lint, prettier --write

fix: htlc-lock bytebuffer reduce size for expiration type from 4 to 1
  packages/crypto/src/transactions/types/htlc-lock.ts
Due: yarn lint, prettier --write

fix:htlc-lock bytebuffer reduce size for expiration value from 8 to 4
  packages/crypto/src/transactions/types/htlc-lock.ts
Due: yarn lint, prettier --write

fix(core-transaction-pool): sort by fee, nonce
  __tests__/unit/core-transaction-pool/connection.test.ts
  packages/core-transaction-pool/src/memory.ts
Due: yarn lint, prettier --write

fix(crypto): htlc lock buffer allocation (#2936)
  packages/crypto/src/transactions/types/htlc-lock.ts
Due: yarn lint, prettier --write

fix(core-transaction-pool): sort by fee, nonce (#2937)
  __tests__/unit/core-transaction-pool/connection.test.ts
  packages/core-transaction-pool/src/memory.ts
Due: yarn lint, prettier --write

refactor: include error reason
  __tests__/unit/crypto/transactions/deserializer.test.ts
  __tests__/unit/crypto/transactions/factory.test.ts
  __tests__/unit/crypto/transactions/utils.test.ts
  packages/crypto/src/errors.ts
  packages/crypto/src/transactions/deserializer.ts
  packages/crypto/src/transactions/factory.ts
Due: yarn lint, prettier --write

refactor: use cloneDeep, snakeCase and camelCase from @arkecosystem/utils
  package.json
  packages/core-database/package.json
  packages/core-database/src/database-service.ts
  packages/core-database/src/repositories/utils/search-parameter-converter.ts
  packages/core-kernel/package.json
  packages/core-kernel/src/bootstrap/app/register-base-paths.ts
  packages/core-state/package.json
  packages/core-state/src/wallets/temp-wallet-repository.ts
  packages/core-transaction-pool/package.json
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/wallet-repository.ts
  packages/core/package.json
  yarn.lock
Due: yarn lint, prettier --write

refactor(crypto): make error more verbose (#2938)
  __tests__/unit/crypto/transactions/deserializer.test.ts
  __tests__/unit/crypto/transactions/factory.test.ts
  __tests__/unit/crypto/transactions/utils.test.ts
  packages/crypto/src/errors.ts
  packages/crypto/src/transactions/deserializer.ts
  packages/crypto/src/transactions/factory.ts
Due: yarn lint, prettier --write

[Snyk] Upgrade node-forge from 0.8.5 to 0.9.0 (#2934)
  packages/core-forger/package.json
Due: prettier --write

perf: Avoid O(m*n) when filtering pool txs and simplify the code
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

test: fix htlc e2e tests
  __tests__/e2e/tests/scenarios/scenario1/htlc-claim/1.create-lock-txs.action.js
  __tests__/e2e/tests/scenarios/scenario1/htlc-refund/1.create-lock-txs.action.js
Due: none

perf: use lodash to efficiently remove forged transactions
  packages/core-transaction-pool/package.json
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write
