Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
}

docs: link to the official docs for each plugin (#1465)
  packages/core-api/README.md
  packages/core-blockchain/README.md
  packages/core-config/README.md
  packages/core-container/README.md
  packages/core-database-postgres/README.md
  packages/core-database/README.md
  packages/core-debugger-cli/README.md
  packages/core-deployer/README.md
  packages/core-elasticsearch/README.md
  packages/core-error-tracker-bugsnag/README.md
  packages/core-error-tracker-sentry/README.md
  packages/core-event-emitter/README.md
  packages/core-forger/README.md
  packages/core-graphql/README.md
  packages/core-http-utils/README.md
  packages/core-json-rpc/README.md
  packages/core-logger-winston/README.md
  packages/core-logger/README.md
  packages/core-p2p/README.md
  packages/core-snapshots-cli/README.md
  packages/core-snapshots/README.md
  packages/core-test-utils/README.md
  packages/core-tester-cli/README.md
  packages/core-transaction-pool-mem/README.md
  packages/core-transaction-pool/README.md
  packages/core-utils/README.md
  packages/core-vote-report/README.md
  packages/core-webhooks/README.md
  packages/core/README.md
Due: prettier --write

chore: adjust depcheck ignores
  packages/core-api/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-deployer/package.json
  packages/core-elasticsearch/package.json
  packages/core-forger/package.json
  packages/core-json-rpc/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-vote-report/package.json
  packages/crypto/package.json
Due: prettier --write

chore: remove rarely changed values from default configs (#1462)
  packages/core-p2p/__tests__/utils/is-whitelist.test.js
  packages/core-test-utils/config/testnet/plugins.js
  packages/core-transaction-pool-mem/lib/defaults.js
  packages/core/lib/config/devnet/plugins.js
  packages/core/lib/config/mainnet/plugins.js
  packages/core/lib/config/testnet.1/plugins.js
  packages/core/lib/config/testnet.2/plugins.js
  packages/core/lib/config/testnet.live/plugins.js
  packages/core/lib/config/testnet/plugins.js
Due: eslint --fix, prettier --write

chore: update deps
  package.json
  packages/core-config/package.json
  packages/core-deployer/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-tester-cli/package.json
  packages/core-webhooks/package.json
Due: prettier --write

chore: update yarn.lock
  yarn.lock
Due: none

fix: use oneOrNone so that we don't throw if id is not found
  packages/core-database-postgres/lib/repositories/transactions.js
Due: eslint --fix, prettier --write

fix: canApply was called without _errors_ parameter
  packages/core-database/lib/interface.js
Due: eslint --fix, prettier --write

test: update .skip() tests [core-p2p]
  packages/core-p2p/__tests__/peer.test.js
  packages/core-p2p/__tests__/server/1.test.js
  packages/core-p2p/__tests__/server/internal.test.js
Due: eslint --fix, prettier --write

feat(core-http-utils): transaction payload validation
  packages/core-api/__tests__/v2/handlers/transactions.test.js
  packages/core-api/lib/server.js
  packages/core-http-utils/lib/index.js
  packages/core-http-utils/lib/plugins/transaction-payload.js
  packages/core-p2p/lib/server/index.js
Due: eslint --fix, prettier --write

fix(core-http-utils): require route method to avoid collisions
  packages/core-api/__tests__/v2/handlers/transactions.test.js
  packages/core-api/lib/server.js
  packages/core-http-utils/lib/plugins/transaction-payload.js
  packages/core-p2p/lib/server/index.js
Due: eslint --fix, prettier --write

chore: remove unused code
  packages/core-api/__tests__/v2/handlers/transactions.test.js
Due: eslint --fix, prettier --write

chore: drop flow - not required anymore in the near future
  .flowconfig
  .flowcoverage.json
  .gitignore
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-config/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-deployer/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool-mem/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

chore: drop flow (not required anymore in the near future) (#1467)
  .flowconfig
  .flowcoverage.json
  .gitignore
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-config/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-deployer/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool-mem/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

chore: only require lodash functions instead of the whole module (#1463)
  .eslintrc.json
  package.json
  packages/core-api/package.json
  packages/core-config/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/__tests__/repositories/wallets.test.js
  packages/core-database/package.json
  packages/core-deployer/lib/utils.js
  packages/core-deployer/package.json
  packages/core-elasticsearch/lib/index/block.js
  packages/core-elasticsearch/lib/index/round.js
  packages/core-elasticsearch/lib/index/transaction.js
  packages/core-elasticsearch/lib/services/storage.js
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-forger/lib/manager.js
  packages/core-forger/package.json
  packages/core-json-rpc/package.json
  packages/core-p2p/lib/court/guard.js
  packages/core-p2p/lib/monitor.js
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/lib/matchers/api/block.js
  packages/core-test-utils/lib/matchers/api/peer.js
  packages/core-test-utils/lib/matchers/api/transaction.js
  packages/core-test-utils/lib/matchers/models/delegate.js
  packages/core-test-utils/lib/matchers/models/transaction.js
  packages/core-test-utils/lib/matchers/models/wallet.js
  packages/core-test-utils/package.json
  packages/core-tester-cli/__tests__/commands/command.test.js
  packages/core-tester-cli/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/crypto/lib/managers/config.js
  packages/crypto/lib/models/block.js
  packages/crypto/lib/models/transaction.js
  packages/crypto/package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat(core-http-utils): transaction payload validation (#1466)
  packages/core-api/__tests__/v2/handlers/transactions.test.js
  packages/core-api/lib/server.js
  packages/core-http-utils/lib/index.js
  packages/core-http-utils/lib/plugins/transaction-payload.js
  packages/core-p2p/lib/server/index.js
Due: eslint --fix, prettier --write

chore: update yarn.lock
  packages/core-api/package.json
  yarn.lock
Due: prettier --write

refactor(core-p2p): broadcast transactions in chunks to meet peers requirements
  packages/core-p2p/lib/peer.js
  packages/core-p2p/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: wrong chunk dependency
  packages/core-p2p/package.json
  yarn.lock
Due: prettier --write

fix(core-p2p): throw error again after broadcasting
  packages/core-p2p/lib/peer.js
Due: eslint --fix, prettier --write

fix: check against the unix timestamp
  packages/core-p2p/lib/monitor.js
Due: eslint --fix, prettier --write

refactor: use dayjs-ext for crypto to provide utc support
  packages/crypto/lib/crypto/slots.js
  packages/crypto/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: use @arkecosystem/eslint-config-base via npm
  package.json
  yarn.lock
Due: prettier --write

test: update .skip() tests + small fixes (#1469)
  packages/core-api/__tests__/v1/handlers/delegates.test.js
  packages/core-api/__tests__/v1/handlers/peers.test.js
  packages/core-api/__tests__/v2/handlers/blocks.test.js
  packages/core-api/__tests__/v2/handlers/delegates.test.js
  packages/core-api/__tests__/v2/handlers/wallets.test.js
  packages/core-blockchain/__tests__/blockchain.test.js
  packages/core-blockchain/__tests__/state-machine.test.js
  packages/core-blockchain/lib/blockchain.js
  packages/core-database-postgres/lib/repositories/transactions.js
  packages/core-database/__tests__/interface.test.js
  packages/core-database/lib/interface.js
  packages/core-p2p/__tests__/peer.test.js
  packages/core-p2p/__tests__/server/1.test.js
  packages/core-p2p/__tests__/server/internal.test.js
Due: eslint --fix, prettier --write

refactor: add more error info
  packages/core-http-utils/lib/plugins/transaction-payload.js
Due: eslint --fix, prettier --write

refactor: do not await for bulk broadcast
  packages/core-p2p/__tests__/peer.test.js
  packages/core-p2p/lib/peer.js
Due: eslint --fix, prettier --write

chore: use @arkecosystem/eslint-config-base via npm (#1470)
  package.json
  yarn.lock
Due: prettier --write

fix: reverse order
  packages/core-blockchain/lib/state-storage.js
Due: eslint --fix, prettier --write

refactor: cache transactions
  packages/core-blockchain/lib/state-storage.js
  packages/core-transaction-pool/lib/guard.js
Due: eslint --fix, prettier --write

refactor: make proper use of lazy seq
  packages/core-blockchain/lib/state-storage.js
Due: eslint --fix, prettier --write

test: update
  packages/core-blockchain/__tests__/state-storage.test.js
Due: eslint --fix, prettier --write

fix: rollback the sqlite transaction if it aborts
  packages/core-transaction-pool-mem/lib/storage.js
Due: eslint --fix, prettier --write

perf(core-blockchain): refactor immutable.js usage (#1472)
  packages/core-blockchain/__tests__/state-storage.test.js
  packages/core-blockchain/lib/state-storage.js
  packages/core-transaction-pool/lib/guard.js
Due: eslint --fix, prettier --write

feat: core-test-utils allow to generate tx with 2nd sign + refactor
  packages/core-test-utils/lib/generators/transactions/transaction.js
  packages/core-test-utils/lib/generators/wallets.js
  packages/core-test-utils/lib/matchers/transactions/valid-second-signature.js
Due: eslint --fix, prettier --write

fix(core-transaction-mem-pool): rollback the sqlite transaction if it aborts (#1471)
  packages/core-transaction-pool-mem/lib/storage.js
Due: eslint --fix, prettier --write

feat: getStruct() throw if transaction is not signed
  packages/crypto/lib/builder/transactions/transaction.js
Due: eslint --fix, prettier --write

fix: handle verifySecondSignature can throw if invalid
  packages/core-test-utils/lib/matchers/transactions/valid-second-signature.js
Due: eslint --fix, prettier --write

test: update .skip() tests
  packages/core-test-utils/__tests__/matchers/transactions/valid-second-signature.test.js
  packages/crypto/__tests__/builder/transactions/delegate-registration.test.js
  packages/crypto/__tests__/builder/transactions/ipfs.test.js
  packages/crypto/__tests__/models/wallet.test.js
Due: eslint --fix, prettier --write

fix: proper coldstart check
  packages/core-p2p/lib/monitor.js
Due: eslint --fix, prettier --write
