Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

chore(release): 2.2.0-alpha.18
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/core/src/helpers/update.ts
  packages/crypto/package.json
Due: yarn lint, prettier --write

fix(core): remove old functions
  packages/core/src/commands/update.ts
  packages/core/src/hooks/init.ts
Due: yarn lint, prettier --write

chore(release): 2.2.0-alpha.19
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/core/src/helpers/update.ts
  packages/crypto/package.json
Due: yarn lint, prettier --write

chore(release): 2.2.0-alpha.20
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/core/src/helpers/update.ts
  packages/crypto/package.json
Due: yarn lint, prettier --write

chore: add yarn bin path to install script
  install.sh
Due: none

wip: ajv schema
  packages/crypto/src/transactions/types/schemas_ajv.ts
Due: yarn lint, prettier --write

feat(core-p2p): Validate GET replies from other peers
  packages/core-p2p/src/peer-verifier.ts
  packages/core-p2p/src/peer.ts
Due: yarn lint, prettier --write

wip: ajv tx schema
  packages/crypto/package.json
  packages/crypto/src/transactions/types/schemas_ajv.ts
Due: yarn lint, prettier --write

wip: extend tx schemas
  packages/crypto/src/transactions/types/schemas_ajv.ts
  yarn.lock
Due: yarn lint, prettier --write

refactor: move ajv definitions into separate dirs
  packages/crypto/src/validation/ajv-wrapper.ts
  packages/crypto/src/validation/keywords/bignumber.ts
  packages/crypto/src/validation/keywords/index.ts
  packages/crypto/src/validation/keywords/max-bytes.ts
  packages/crypto/src/validation/keywords/transaction-type.ts
  packages/crypto/src/validation/schemas.ts
  packages/crypto/src/validation/schemas_old/address.ts
  packages/crypto/src/validation/schemas_old/bignumber.ts
  packages/crypto/src/validation/schemas_old/block-id.ts
  packages/crypto/src/validation/schemas_old/block.ts
  packages/crypto/src/validation/schemas_old/index.ts
  packages/crypto/src/validation/schemas_old/public-key.ts
  packages/crypto/src/validation/schemas_old/username.ts
Due: yarn lint, prettier --write

refactor: replace joi with ajv
  packages/crypto/src/transactions/interfaces.ts
  packages/crypto/src/transactions/types/delegate-registration.ts
  packages/crypto/src/transactions/types/delegate-resignation.ts
  packages/crypto/src/transactions/types/ipfs.ts
  packages/crypto/src/transactions/types/multi-payment.ts
  packages/crypto/src/transactions/types/multi-signature.ts
  packages/crypto/src/transactions/types/schemas.ts
  packages/crypto/src/transactions/types/schemas_ajv.ts
  packages/crypto/src/transactions/types/second-signature.ts
  packages/crypto/src/transactions/types/timelock-transfer.ts
  packages/crypto/src/transactions/types/transaction.ts
  packages/crypto/src/transactions/types/transfer.ts
  packages/crypto/src/transactions/types/vote.ts
  packages/crypto/src/validation/ajv-wrapper.ts
  packages/crypto/src/validation/index.ts
  packages/crypto/src/validation/joi-wrapper.ts
Due: yarn lint, prettier --write

refactor: rename, change visibility
  packages/crypto/src/transactions/registry.ts
  packages/crypto/src/transactions/types/delegate-registration.ts
  packages/crypto/src/transactions/types/delegate-resignation.ts
  packages/crypto/src/transactions/types/ipfs.ts
  packages/crypto/src/transactions/types/multi-payment.ts
  packages/crypto/src/transactions/types/multi-signature.ts
  packages/crypto/src/transactions/types/second-signature.ts
  packages/crypto/src/transactions/types/timelock-transfer.ts
  packages/crypto/src/transactions/types/transaction.ts
  packages/crypto/src/transactions/types/transfer.ts
  packages/crypto/src/transactions/types/vote.ts
  packages/crypto/src/validation/validator.ts
Due: yarn lint, prettier --write

fix: set instance
  packages/crypto/src/validation/ajv-wrapper.ts
Due: yarn lint, prettier --write

fix: add missing schemas
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

fix: update transactions
  packages/crypto/src/transactions/types/delegate-resignation.ts
  packages/crypto/src/transactions/types/ipfs.ts
  packages/crypto/src/transactions/types/multi-payment.ts
  packages/crypto/src/transactions/types/multi-signature.ts
  packages/crypto/src/transactions/types/timelock-transfer.ts
Due: yarn lint, prettier --write

fix: make validate generic
  packages/crypto/src/transactions/interfaces.ts
  packages/crypto/src/transactions/types/transaction.ts
  packages/crypto/src/validation/ajv-wrapper.ts
Due: yarn lint, prettier --write

test: replace fixture
  packages/crypto/__tests__/fixtures/transaction.ts
Due: yarn lint, prettier --write

chore: remove unused file
  packages/crypto/src/test.ts
Due: yarn lint, prettier --write

test: fix transaction tests
  packages/crypto/__tests__/transactions/transaction.test.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

chore: run publish commands with lerna in bulk
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

misc: update deps and bit of clean up
  packages/core/src/commands/command.ts
  packages/core/src/commands/top.ts
  packages/core/src/shared/log.ts
  packages/core/src/shared/start.ts
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

fix(core): add bip38 handling to core:start
  packages/core/bin/config/devnet/.env
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/testnet/.env
  packages/core/src/commands/command.ts
  packages/core/src/commands/core/start.ts
  packages/core/src/commands/forger/start.ts
  packages/core/src/commands/relay/start.ts
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

chore(release): 2.2.0-alpha.21
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore(release): 2.2.0-alpha.22
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/core/src/commands/command.ts
  packages/core/src/commands/relay/start.ts
  packages/crypto/package.json
Due: yarn lint, prettier --write

fix: replace the instance of the bash shell during installation
  install.sh
Due: none

fix: replace the bash instance at the end of the setup
  install.sh
Due: none

chore: remove greenkeeper
  greenkeeper.json
Due: prettier --write

chore: update docker installation steps
  docker/production/Dockerfile
  docker/production/entrypoint.sh
Due: none

chore: remove .env file from docker installation
  docker/production/entrypoint.sh
Due: none

chore: force the configuration to be published in docker
  docker/production/entrypoint.sh
Due: none

refactor(core): extract non-daemon execution into run commands
  docker/production/entrypoint.sh
  packages/core/src/commands/command.ts
  packages/core/src/commands/core/run.ts
  packages/core/src/commands/core/start.ts
  packages/core/src/commands/forger/run.ts
  packages/core/src/commands/forger/start.ts
  packages/core/src/commands/relay/run.ts
  packages/core/src/commands/relay/start.ts
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

docs(core): wrong descriptions
  packages/core/src/commands/core/run.ts
  packages/core/src/commands/forger/run.ts
  packages/core/src/commands/relay/run.ts
Due: yarn lint, prettier --write

chore(release): 2.2.0-alpha.23
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

refactor(core): add mssing network validation
  docker/production/entrypoint.sh
  packages/core-forger/src/index.ts
  packages/core/package.json
  packages/core/src/commands/command.ts
  packages/core/src/commands/config/forger/bip38.ts
  packages/core/src/commands/config/publish.ts
  packages/core/src/commands/core/start.ts
  packages/core/src/commands/forger/start.ts
  packages/core/src/commands/relay/start.ts
Due: yarn lint, prettier --write

chore(release): 2.2.0-alpha.24
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

refactor: add signed tx schema
  packages/crypto/src/transactions/interfaces.ts
  packages/crypto/src/transactions/types/schemas.ts
  packages/crypto/src/transactions/types/transaction.ts
  packages/crypto/src/validation/ajv-wrapper.ts
Due: yarn lint, prettier --write

refactor(core): use latest-version package to get version from npm
  packages/core/package.json
  packages/core/src/helpers/update.ts
Due: yarn lint, prettier --write

Update entrypoint.sh
  docker/production/entrypoint.sh
Due: none

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
