Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

fix tests
  packages/core-state/__tests__/wallets/wallet-repository-copy-on-write.test.ts
Due: yarn lint, prettier --write

Fix ordering
  packages/core-kernel/src/services/search/pagination-service.ts
Due: yarn lint, prettier --write

Tests
  packages/core-kernel/__tests__/services/search/pagination-service.test.ts
Due: yarn lint, prettier --write

Fix index comparison
  packages/core-kernel/src/services/search/pagination-service.ts
Due: yarn lint, prettier --write

Add order by public key
  packages/core-api/src/services/delegate-search-service.ts
Due: yarn lint, prettier --write

update yarn.lock
  yarn.lock
Due: none

update unused depcheck
  package.json
  scripts/deps/unused.js
  yarn.lock
Due: prettier --write

Remove unused packages
  packages/core-api/package.json
  packages/core/package.json
Due: prettier --write

Add missing packages
  packages/core-cli/package.json
  yarn.lock
Due: prettier --write

update lerna
  package.json
  yarn.lock
Due: prettier --write

update got
  packages/core-cli/package.json
  packages/core-test-framework/package.json
Due: prettier --write

update npm-check-updates
  package.json
  yarn.lock
Due: prettier --write

Include milestone version
  packages/core-p2p/src/utils/is-valid-version.ts
Due: yarn lint, prettier --write

Test include milestone version
  packages/core-p2p/__tests__/utils/is-valid-version.test.ts
Due: yarn lint, prettier --write

deps: update packages (#4693)
  package.json
  packages/core-api/package.json
  packages/core-cli/package.json
  packages/core-test-framework/package.json
  packages/core/package.json
  scripts/deps/unused.js
  yarn.lock
Due: prettier --write

fix(core-kernel): fix item ordering for `undefined` and `null` values in pagination service (#4691)
  packages/core-kernel/__tests__/services/search/pagination-service.test.ts
  packages/core-kernel/src/services/search/pagination-service.ts
Due: yarn lint, prettier --write

refactor(core-api): order resigned delegates by publicKey (#4692)
  packages/core-api/src/services/delegate-search-service.ts
Due: yarn lint, prettier --write

fix(core-state): create new wallet instance in `WalletRepositoryCopyOnWrite` (#4694)
  packages/core-state/__tests__/wallets/wallet-repository-copy-on-write.test.ts
  packages/core-state/src/wallets/wallet-repository-copy-on-write.ts
Due: yarn lint, prettier --write

Update @arkecosystem/crypto-networks
  packages/crypto/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(core-p2p): node version should pass min version defined in configuration and milestones (#4695)
  packages/core-p2p/__tests__/utils/is-valid-version.test.ts
  packages/core-p2p/src/utils/is-valid-version.ts
  packages/crypto/package.json
  pnpm-lock.yaml
Due: yarn lint, prettier --write

Release: 4.0.0-next.18
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 4.0.0 next.18 (#4696)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Compare with global path without node_modules
  packages/core-cli/src/services/setup.ts
Due: yarn lint, prettier --write

fix(core-cli): exclude `node_modules` folder from global path check (#4697)
  packages/core-cli/src/services/setup.ts
Due: yarn lint, prettier --write

release: 4.0.0-next.19
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 4.0.0-next.19 (#4698)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-api): use `ITransactionData` in argument with `BlockWithTransactionsResource` (#4688)
  packages/core-api/src/controllers/blocks.ts
Due: yarn lint, prettier --write

fix: prevent new wallet creation in API requests (#4689)
  __tests__/unit/core-blockchain/processor/block-processor.test.ts
  __tests__/unit/core-database/transaction-filter.test.ts
  packages/core-blockchain/src/processor/block-processor.ts
  packages/core-database/src/transaction-filter.ts
  packages/core-state/src/block-state.ts
Due: yarn lint, prettier --write

fix(core-kernel): fix item ordering for `undefined` and `null` values in pagination service (#4691)
  __tests__/unit/core-kernel/services/search/pagination-service.test.ts
  packages/core-kernel/src/services/search/pagination-service.ts
Due: yarn lint, prettier --write

fix(core-state): create new wallet instance in `WalletRepositoryCopyOnWrite` (#4694)
  __tests__/unit/core-state/wallets/wallet-repository-copy-on-write.test.ts
  packages/core-state/src/wallets/wallet-repository-copy-on-write.ts
Due: yarn lint, prettier --write

fix(core-p2p): node version should pass min version defined in configuration and milestones (#4695)
  __tests__/unit/core-p2p/utils/is-valid-version.test.ts
  packages/core-p2p/src/utils/is-valid-version.ts
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

Update @arkecosystem/crypto-networks to 1.2.2
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
