Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
}

chore: increasing devnet block size to 500, Kicks in at block 1Mil
  packages/crypto/lib/networks/ark/devnet.json
Due: prettier --write

test(crypto): adjust should get constants for height test values
  packages/crypto/__tests__/managers/config.test.js
Due: eslint --fix, prettier --write

perf(core-database-postgres): add index on transactions (timestamp) (#1636)
  packages/core-database-postgres/lib/migrations/20181204200000-transactions-timestamp-index.sql
  packages/core-database-postgres/lib/migrations/index.js
Due: eslint --fix, prettier --write

chore(crypto): increase devnet block size at height 1000000 (#1635)
  packages/crypto/__tests__/managers/config.test.js
  packages/crypto/lib/networks/ark/devnet.json
Due: eslint --fix, prettier --write

chore: remove depcheck (#1632)
  .circleci/config.yml
  .circleci/configTemplate.json
  .circleci/generateConfig.js
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-config/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-deployer/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool-mem/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  scripts/update-deps.sh
  yarn.lock
Due: eslint --fix, prettier --write

fix: syntax error
  .circleci/config.yml
  packages/core-config/package.json
Due: prettier --write

chore: build typescript on CircleCI
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

perf(core-database-postgres): add sender&receiver indexes
  packages/core-api/__tests__/v2/handlers/transactions.test.js
  packages/core-database-postgres/lib/migrations/20181204300000-transactions-sender-and-receiver-indexes.sql
  packages/core-database-postgres/lib/migrations/index.js
Due: eslint --fix, prettier --write

perf(core-database-postgres): add sender&receiver indexes (#1638)
  packages/core-api/__tests__/v2/handlers/transactions.test.js
  packages/core-database-postgres/lib/migrations/20181204300000-transactions-sender-and-receiver-indexes.sql
  packages/core-database-postgres/lib/migrations/index.js
Due: eslint --fix, prettier --write

feat: supply calculator
  packages/core-utils/lib/supply-calculator.js
Due: eslint --fix, prettier --write

test: supply calculator
  packages/core-utils/__tests__/supply-calculator.test.js
Due: eslint --fix, prettier --write

refactor: use supply calculator vote report
  packages/core-api/lib/versions/1/handlers/blocks.js
  packages/core-utils/lib/index.js
Due: eslint --fix, prettier --write

refactor: method name
  packages/core-api/lib/versions/1/handlers/blocks.js
  packages/core-utils/__tests__/supply-calculator.test.js
  packages/core-utils/lib/supply-calculator.js
  packages/core-vote-report/lib/handler.js
Due: eslint --fix, prettier --write

refactor: return number
  packages/core-api/lib/versions/1/handlers/blocks.js
  packages/core-utils/__tests__/supply-calculator.test.js
  packages/core-utils/lib/supply-calculator.js
  packages/core-vote-report/lib/handler.js
Due: eslint --fix, prettier --write

chore(core-error-tracker-bugsnag): migrate to typescript
  .circleci/config.yml
  packages/core-error-tracker-bugsnag/lib/defaults.js
  packages/core-error-tracker-bugsnag/lib/index.js
  packages/core-error-tracker-bugsnag/package.json
Due: eslint --fix, prettier --write

chore(core-error-tracker-sentry): migrate to typescript
  packages/core-error-tracker-sentry/lib/defaults.js
  packages/core-error-tracker-sentry/lib/index.js
  packages/core-error-tracker-sentry/package.json
Due: eslint --fix, prettier --write

chore(core-event-emitter): migrate to typescript
  packages/core-event-emitter/jest.config.js
  packages/core-event-emitter/lib/emitter.js
  packages/core-event-emitter/lib/index.js
  packages/core-event-emitter/package.json
Due: eslint --fix, prettier --write

chore(core-logger-winston): migrate to typescript
  packages/core-logger-winston/__tests__/logger.test.js
  packages/core-logger-winston/jest.config.js
  packages/core-logger-winston/lib/defaults.js
  packages/core-logger-winston/lib/driver.js
  packages/core-logger-winston/lib/formatter.js
  packages/core-logger-winston/lib/index.js
  packages/core-logger-winston/package.json
Due: eslint --fix, prettier --write

chore(core-logger): migrate to typescript
  packages/core-logger/__tests__/interface.test.js
  packages/core-logger/__tests__/manager.test.js
  packages/core-logger/jest.config.js
  packages/core-logger/lib/index.js
  packages/core-logger/lib/interface.js
  packages/core-logger/lib/manager.js
  packages/core-logger/package.json
Due: eslint --fix, prettier --write

chore: add untracked files
  packages/core-error-tracker-bugsnag/src/defaults.ts
  packages/core-error-tracker-bugsnag/src/index.ts
  packages/core-error-tracker-bugsnag/tsconfig.json
  packages/core-error-tracker-sentry/src/defaults.ts
  packages/core-error-tracker-sentry/src/index.ts
  packages/core-error-tracker-sentry/tsconfig.json
  packages/core-event-emitter/src/index.ts
  packages/core-event-emitter/tsconfig.json
  packages/core-logger-winston/__tests__/logger.test.ts
  packages/core-logger-winston/src/defaults.ts
  packages/core-logger-winston/src/driver.ts
  packages/core-logger-winston/src/formatter.ts
  packages/core-logger-winston/src/index.ts
  packages/core-logger-winston/tsconfig.json
  packages/core-logger/__tests__/interface.test.ts
  packages/core-logger/__tests__/manager.test.ts
  packages/core-logger/src/index.ts
  packages/core-logger/src/interface.ts
  packages/core-logger/src/manager.ts
  packages/core-logger/tsconfig.json
  yarn.lock
Due: prettier --write

test(core-event-emitter): update failing test
  packages/core-event-emitter/__tests__/emitter.test.ts
  packages/core-event-emitter/src/index.ts
Due: none

fix: supply calculation (#1640)
  packages/core-api/lib/versions/1/handlers/blocks.js
  packages/core-utils/__tests__/supply-calculator.test.js
  packages/core-utils/lib/index.js
  packages/core-utils/lib/supply-calculator.js
  packages/core-vote-report/lib/handler.js
Due: eslint --fix, prettier --write

chore(core-utils): migrate to typescript
  packages/core-utils/__tests__/__support__/mocks/core-container-calculator.ts
  packages/core-utils/__tests__/__support__/mocks/core-container.ts
  packages/core-utils/__tests__/delegate-calculator.test.js
  packages/core-utils/__tests__/delegate-calculator.test.ts
  packages/core-utils/__tests__/format-timestamp.test.ts
  packages/core-utils/__tests__/round-calculator.test.js
  packages/core-utils/__tests__/round-calculator.test.ts
  packages/core-utils/__tests__/supply-calculator.test.ts
  packages/core-utils/jest.config.js
  packages/core-utils/lib/bignumify.js
  packages/core-utils/lib/create-table.js
  packages/core-utils/lib/delegate-calculator.js
  packages/core-utils/lib/format-timestamp.js
  packages/core-utils/lib/index.js
  packages/core-utils/lib/round-calculator.js
  packages/core-utils/lib/supply-calculator.js
  packages/core-utils/package.json
  packages/core-utils/src/bignumify.ts
  packages/core-utils/src/create-table.ts
  packages/core-utils/src/delegate-calculator.ts
  packages/core-utils/src/format-timestamp.ts
  packages/core-utils/src/index.ts
  packages/core-utils/src/round-calculator.ts
  packages/core-utils/src/supply-calculator.ts
  packages/core-utils/tsconfig.json
Due: eslint --fix, prettier --write

fix: references and package exposure
  packages/core-logger-winston/package.json
  packages/core-logger-winston/src/formatter.ts
  packages/core-utils/__tests__/delegate-calculator.test.ts
  packages/core-utils/__tests__/format-timestamp.test.ts
  packages/core-utils/__tests__/round-calculator.test.ts
  packages/core-utils/__tests__/supply-calculator.test.ts
  packages/core-utils/package.json
  packages/core-utils/src/index.ts
  packages/core-utils/src/round-calculator.ts
Due: prettier --write

chore: lint src and tests
  packages/core-config/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-bugsnag/src/defaults.ts
  packages/core-error-tracker-bugsnag/src/index.ts
  packages/core-error-tracker-sentry/package.json
  packages/core-error-tracker-sentry/src/defaults.ts
  packages/core-error-tracker-sentry/src/index.ts
  packages/core-event-emitter/__tests__/emitter.test.ts
  packages/core-event-emitter/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/__tests__/interface.test.ts
  packages/core-logger/__tests__/manager.test.ts
  packages/core-logger/package.json
  packages/core-utils/__tests__/__support__/mocks/core-container-calculator.ts
  packages/core-utils/__tests__/__support__/mocks/core-container.ts
  packages/core-utils/__tests__/delegate-calculator.test.ts
  packages/core-utils/__tests__/format-timestamp.test.ts
  packages/core-utils/__tests__/round-calculator.test.ts
  packages/core-utils/__tests__/supply-calculator.test.ts
  packages/core-utils/package.json
Due: prettier --write

fix: app container reference
  packages/core-utils/src/delegate-calculator.ts
  packages/core-utils/src/format-timestamp.ts
  packages/core-utils/src/supply-calculator.ts
Due: none

chore(core-http-utils): migrate to typescript
  packages/core-http-utils/__tests__/__support__/mocks/core-container.js
  packages/core-http-utils/__tests__/__support__/mocks/core-container.ts
  packages/core-http-utils/__tests__/plugins/content-type.test.js
  packages/core-http-utils/__tests__/plugins/content-type.test.ts
  packages/core-http-utils/jest.config.js
  packages/core-http-utils/lib/index.js
  packages/core-http-utils/lib/plugins/content-type.js
  packages/core-http-utils/lib/plugins/cors-headers.js
  packages/core-http-utils/lib/plugins/transaction-payload.js
  packages/core-http-utils/lib/plugins/whitelist.js
  packages/core-http-utils/lib/server/create-secure.js
  packages/core-http-utils/lib/server/create.js
  packages/core-http-utils/lib/server/monitor.js
  packages/core-http-utils/lib/server/mount.js
  packages/core-http-utils/package.json
  packages/core-http-utils/src/index.ts
  packages/core-http-utils/src/plugins/content-type.ts
  packages/core-http-utils/src/plugins/cors-headers.ts
  packages/core-http-utils/src/plugins/index.ts
  packages/core-http-utils/src/plugins/transaction-payload.ts
  packages/core-http-utils/src/plugins/whitelist.ts
  packages/core-http-utils/src/server/create-secure.ts
  packages/core-http-utils/src/server/create.ts
  packages/core-http-utils/src/server/monitor.ts
  packages/core-http-utils/src/server/mount.ts
  packages/core-http-utils/tsconfig.json
Due: eslint --fix, prettier --write

chore: add dist folder to package files
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-http-utils/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-utils/package.json
Due: prettier --write

fix: export directly, not as default
  packages/core-http-utils/src/index.ts
Due: none

fix: export directly, not as default
  packages/core-http-utils/src/index.ts
  packages/core-http-utils/src/plugins/index.ts
Due: none

chore(core-forger): migrate to typescript
  packages/core-forger/__tests__/__fixtures__/block.js
  packages/core-forger/__tests__/__fixtures__/block.ts
  packages/core-forger/__tests__/__fixtures__/delegate.js
  packages/core-forger/__tests__/__fixtures__/delegate.ts
  packages/core-forger/__tests__/__fixtures__/transaction.js
  packages/core-forger/__tests__/__fixtures__/transaction.ts
  packages/core-forger/__tests__/__support__/setup.js
  packages/core-forger/__tests__/__support__/setup.ts
  packages/core-forger/__tests__/client.test.js
  packages/core-forger/__tests__/client.test.ts
  packages/core-forger/__tests__/manager.test.js
  packages/core-forger/__tests__/manager.test.ts
  packages/core-forger/jest.config.js
  packages/core-forger/lib/client.js
  packages/core-forger/lib/index.js
  packages/core-forger/lib/manager.js
  packages/core-forger/package.json
  packages/core-forger/src/client.ts
  packages/core-forger/src/defaults.ts
  packages/core-forger/src/index.ts
  packages/core-forger/src/manager.ts
  packages/core-forger/tsconfig.json
Due: eslint --fix, prettier --write

chore(core-debugger-cli): migrate to typescript
  packages/core-debugger-cli/__tests__/commands/deserialize.test.js
  packages/core-debugger-cli/__tests__/commands/deserialize.test.ts
  packages/core-debugger-cli/__tests__/commands/identity.test.js
  packages/core-debugger-cli/__tests__/commands/identity.test.ts
  packages/core-debugger-cli/__tests__/commands/serialize.test.js
  packages/core-debugger-cli/__tests__/commands/serialize.test.ts
  packages/core-debugger-cli/__tests__/commands/verify-second.test.js
  packages/core-debugger-cli/__tests__/commands/verify-second.test.ts
  packages/core-debugger-cli/__tests__/commands/verify.test.js
  packages/core-debugger-cli/__tests__/commands/verify.test.ts
  packages/core-debugger-cli/bin/debugger
  packages/core-debugger-cli/jest.config.js
  packages/core-debugger-cli/lib/commands/deserialize.js
  packages/core-debugger-cli/lib/commands/serialize.js
  packages/core-debugger-cli/lib/commands/verify-second.js
  packages/core-debugger-cli/lib/commands/verify.js
  packages/core-debugger-cli/lib/utils/copy-to-clipboard.js
  packages/core-debugger-cli/lib/utils/handle-output.js
  packages/core-debugger-cli/package.json
  packages/core-debugger-cli/src/commands/deserialize.ts
  packages/core-debugger-cli/src/commands/identity.ts
  packages/core-debugger-cli/src/commands/serialize.ts
  packages/core-debugger-cli/src/commands/verify-second.ts
  packages/core-debugger-cli/src/commands/verify.ts
  packages/core-debugger-cli/src/utils.ts
  packages/core-debugger-cli/tsconfig.json
Due: eslint --fix, prettier --write

fix(core-p2p): fix bad method call for warning logger
  packages/core-p2p/lib/monitor.js
Due: eslint --fix, prettier --write

chore(core-container): migrate to typescript
  packages/core-container/__tests__/container.test.js
  packages/core-container/__tests__/container.test.ts
  packages/core-container/__tests__/registrars/plugin.test.js
  packages/core-container/__tests__/registrars/plugin.test.ts
  packages/core-container/__tests__/remote-loader.test.js
  packages/core-container/__tests__/remote-loader.test.ts
  packages/core-container/jest.config.js
  packages/core-container/lib/container.js
  packages/core-container/lib/index.js
  packages/core-container/lib/registrars/plugin.js
  packages/core-container/lib/remote-loader.js
  packages/core-container/package.json
  packages/core-container/src/container.ts
  packages/core-container/src/environment.ts
  packages/core-container/src/index.ts
  packages/core-container/src/registrars/plugin.ts
  packages/core-container/src/remote-loader.ts
  packages/core-container/tsconfig.json
Due: eslint --fix, prettier --write

fix: resolve app from container
  .circleci/config.yml
  packages/core-api/__tests__/v1/utils.js
  packages/core-api/__tests__/v2/utils.js
  packages/core-graphql/__tests__/__support__/utils.js
  packages/core-json-rpc/__tests__/blocks.test.js
  packages/core-json-rpc/__tests__/transactions.test.js
  packages/core-json-rpc/__tests__/wallets.test.js
  packages/core-p2p/__tests__/__support__/utils.js
Due: eslint --fix, prettier --write

fix: resolve app from container
  packages/core-api/__tests__/v1/handlers/blocks.test.js
  packages/core-transaction-pool-mem/__tests__/connection.test.js
Due: eslint --fix, prettier --write

fix: resolve app from container
  packages/core-api/__tests__/v2/handlers/blocks.test.js
  packages/core-api/__tests__/v2/handlers/delegates.test.js
Due: eslint --fix, prettier --write

fix: resolve app from container
  packages/core-p2p/__tests__/court/guard.test.js
Due: eslint --fix, prettier --write

chore: update changelogs and bump versions
  .circleci/config.yml
  packages/core-api/CHANGELOG.md
  packages/core-api/lib/repositories/blocks.js
  packages/core-api/lib/versions/2/handlers/blockchain.js
  packages/core-api/package.json
  packages/core-database-postgres/CHANGELOG.md
  packages/core-database-postgres/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  yarn.lock
Due: eslint --fix, prettier --write
