Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

release: 3.0.0 (#4508)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

wip
  .github/workflows/publish-master.yml
Due: none

wip
  .github/workflows/publish-master.yml
  packages/pub.sh
Due: none

wip
  packages/pub.sh
Due: none

ci: publish all packages on `master` (#4509)
  .github/workflows/publish-master.yml
Due: none

chore: prepare new network config 🎉
  install.sh
  packages/core/bin/config/devnet/.env
  packages/core/bin/config/devnet/peers.json
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/mainnet/peers.json
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/.env
  packages/core/bin/config/testnet/delegates.json
  packages/core/bin/config/testnet/peers.json
  packages/core/bin/config/testnet/plugins.js
  packages/core/package.json
  packages/crypto/src/networks/devnet/exceptions.json
  packages/crypto/src/networks/devnet/genesisBlock.json
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/devnet/network.json
  packages/crypto/src/networks/mainnet/exceptions.json
  packages/crypto/src/networks/mainnet/genesisBlock.json
  packages/crypto/src/networks/mainnet/milestones.json
  packages/crypto/src/networks/mainnet/network.json
  packages/crypto/src/networks/testnet/exceptions.json
  packages/crypto/src/networks/testnet/genesisBlock.json
  packages/crypto/src/networks/testnet/milestones.json
  packages/crypto/src/networks/testnet/network.json
Due: prettier --write

Add files via upload
  v3-iptables.sh
Due: none

Rename v3-iptables.sh to scripts/v3-iptables.sh
  scripts/v3-iptables.sh
Due: none

chore: add iptables script (#4518)
  scripts/v3-iptables.sh
Due: none

chore(core): remove config:manager command
  packages/core/src/commands/config-manager.ts
Due: yarn lint, prettier --write

test(core): remove config:manager command tests
  __tests__/unit/core/commands/config-manager.test.ts
Due: yarn lint, prettier --write

chore(core): setNodePaths
  packages/core/src/cli.ts
Due: yarn lint, prettier --write

chore(core): istanbul ignore
  packages/core/src/cli.ts
Due: yarn lint, prettier --write

chore(core): set `NODE_PATH` (#4520)
  packages/core/src/cli.ts
Due: yarn lint, prettier --write

fix(core): discover network on valid path
  packages/core/src/cli.ts
Due: yarn lint, prettier --write

test(core): discover network on valid path
  __tests__/unit/core/cli.test.ts
Due: yarn lint, prettier --write

Create pool processor extension point
  packages/core-kernel/src/contracts/transaction-pool/processor.ts
  packages/core-kernel/src/ioc/identifiers.ts
  packages/core-transaction-pool/src/processor.ts
Due: yarn lint, prettier --write

Check dynamic fees through processor extension
  packages/core-transaction-pool/src/processor-dynamic-fee-extension.ts
  packages/core-transaction-pool/src/service-provider.ts
Due: yarn lint, prettier --write

Add missing exports
  packages/core-transaction-pool/src/index.ts
Due: yarn lint, prettier --write

Fix processor unit tests
  __tests__/unit/core-transaction-pool/processor.test.ts
Due: yarn lint, prettier --write

Add processor dynamic fee extension test
  __tests__/unit/core-transaction-pool/processor-dynamic-fee-extension.test.ts
Due: yarn lint, prettier --write

chore(core): remove console.log
  packages/core/src/cli.ts
Due: yarn lint, prettier --write

fix(core): detect network from config path (#4521)
  __tests__/unit/core/cli.test.ts
  packages/core/src/cli.ts
Due: yarn lint, prettier --write

chore(core): remove config:manager command (#4519)
  __tests__/unit/core/commands/config-manager.test.ts
  packages/core/src/commands/config-manager.ts
Due: yarn lint, prettier --write

Use new set-value package
  packages/core-api/package.json
Due: prettier --write

chore(core-api): get ip from x-forwarded-for header
  packages/core-api/src/plugins/rate-limit.ts
  packages/core-api/src/plugins/whitelist.ts
Due: yarn lint, prettier --write

chore(core-api): pass trustProxy option to plugins
  packages/core-api/src/plugins/index.ts
  packages/core-api/src/plugins/rate-limit.ts
Due: yarn lint, prettier --write

chore(core-api): resolve ip method
  packages/core-api/src/utils/get-ip.ts
  packages/core-api/src/utils/index.ts
Due: yarn lint, prettier --write

chore(core-api): resolve ip in plugins
  packages/core-api/src/plugins/rate-limit.ts
  packages/core-api/src/plugins/whitelist.ts
Due: yarn lint, prettier --write

test(core-api): getIp
  __tests__/unit/core-api/utils/get-ip.test.ts
Due: yarn lint, prettier --write

chore(core-api): get client IP from `x-forwarded-for` header (#4527)
  __tests__/unit/core-api/utils/get-ip.test.ts
  packages/core-api/src/plugins/index.ts
  packages/core-api/src/plugins/rate-limit.ts
  packages/core-api/src/plugins/whitelist.ts
  packages/core-api/src/utils/get-ip.ts
  packages/core-api/src/utils/index.ts
Due: yarn lint, prettier --write

chore(core-p2p): create simple consensus route, schema, controller
  packages/core-p2p/src/socket-server/controllers/consensus.ts
  packages/core-p2p/src/socket-server/routes/consensus.ts
  packages/core-p2p/src/socket-server/schemas/consensus.ts
Due: yarn lint, prettier --write

chore(core-p2p): create simple consensus codec
  packages/core-p2p/src/socket-server/codecs/consensus.ts
  packages/core-p2p/src/socket-server/codecs/index.ts
  packages/core-p2p/src/socket-server/routes/consensus.ts
Due: yarn lint, prettier --write

chore(core-p2p): register consensus route
  packages/core-p2p/src/socket-server/plugins/accept-peer.ts
  packages/core-p2p/src/socket-server/plugins/codec.ts
  packages/core-p2p/src/socket-server/plugins/rate-limit.ts
  packages/core-p2p/src/socket-server/plugins/validate.ts
  packages/core-p2p/src/socket-server/server.ts
Due: yarn lint, prettier --write

chore(core-p2p): get data from request.payload
  packages/core-p2p/src/socket-server/controllers/consensus.ts
  packages/core-p2p/src/socket-server/schemas/consensus.ts
Due: yarn lint, prettier --write

chore(core-p2p): improve createBlockProposal schema
  __tests__/unit/core-p2p/socket-server/schemas/consensus.test.ts
  packages/core-p2p/src/socket-server/schemas/consensus.ts
Due: yarn lint, prettier --write

test(core-p2p): schema
  __tests__/unit/core-p2p/socket-server/schemas/consensus.test.ts
Due: yarn lint, prettier --write
