Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

404 block/latest; block/transactions: model checking after block/latest
  packages/core-json-rpc/__tests__/blocks.test.ts
  packages/core-json-rpc/src/server/methods/blocks/transactions.ts
Due: yarn lint, prettier --write

private methods for small service
  packages/core-json-rpc/src/server/services/processor.ts
Due: yarn lint, prettier --write

network service now has methods marked as private
  packages/core-json-rpc/src/server/services/network.ts
Due: yarn lint, prettier --write

chore: add script to generate docker files
  package.json
  scripts/docker/generate-docker.js
  scripts/docker/templates/development/docker-compose.yml
  scripts/docker/templates/development/purge.sh
  scripts/docker/templates/devnet/Dockerfile
  scripts/docker/templates/devnet/docker-compose.yml
  scripts/docker/templates/devnet/entrypoint.sh
  scripts/docker/templates/devnet/purge_all.sh
  scripts/docker/templates/devnet/restore.sh
  scripts/docker/templates/mainnet/docker-compose.yml
  scripts/docker/templates/testnet/Dockerfile
  scripts/docker/templates/testnet/docker-compose.yml
  scripts/docker/templates/testnet/entrypoint.sh
  scripts/docker/templates/testnet/purge_all.sh
  scripts/docker/templates/testnet/restore.sh
Due: prettier --write

chore: remove obsolete docker files
  docker/development/docker-compose.yml
  docker/development/purge.sh
  docker/devnet/Dockerfile
  docker/devnet/docker-compose.yml
  docker/devnet/entrypoint.sh
  docker/devnet/purge_all.sh
  docker/devnet/restore.sh
  docker/mainnet/docker-compose.yml
  docker/testnet/Dockerfile
  docker/testnet/docker-compose.yml
  docker/testnet/entrypoint.sh
  docker/testnet/purge_all.sh
  docker/testnet/restore.sh
Due: none

config updates
  packages/crypto/lib/networks/phantom/mainnet.json
Due: prettier --write

update peer minversion
  packages/core/lib/config/mainnet/peers.json
Due: prettier --write

update minimum network reach
  packages/core/lib/config/mainnet/peers.json
Due: prettier --write

chore: bump @types/node-forge
  packages/crypto/package.json
  packages/crypto/src/models/delegate.ts
  yarn.lock
Due: yarn lint, prettier --write

peer discovery fix
  packages/core-p2p/lib/court/guard.js
  packages/core-p2p/lib/peer.js
  packages/core-p2p/lib/server/versions/peer/index.js
  packages/core/lib/config/mainnet/peers.json
  packages/core/lib/config/mainnet/plugins.js
Due: prettier --write

chore: bump @types/node-forge (#1998)
  packages/crypto/package.json
  packages/crypto/src/models/delegate.ts
  yarn.lock
Due: yarn lint, prettier --write

refactor(core-json-rpc): mark __ methods as private (#1997)
  packages/core-json-rpc/__tests__/blocks.test.ts
  packages/core-json-rpc/src/server/methods/blocks/transactions.ts
  packages/core-json-rpc/src/server/services/network.ts
  packages/core-json-rpc/src/server/services/processor.ts
Due: yarn lint, prettier --write

chore(core-database-postgres): use token in database name (#1992)
  .circleci/config.yml
  .circleci/configTemplate.json
  package.json
  packages/core-container/src/container.ts
  packages/core-container/src/environment.ts
  packages/core-database-postgres/src/defaults.ts
  packages/core-test-utils/src/config/testnet/plugins.js
  packages/core-test-utils/src/config/unitnet/plugins.js
  packages/core/src/config/devnet/plugins.js
  packages/core/src/config/mainnet/plugins.js
  packages/core/src/config/testnet.1/plugins.js
  packages/core/src/config/testnet.2/plugins.js
  packages/core/src/config/testnet.live/plugins.js
  packages/core/src/config/testnet/plugins.js
  scripts/docker/generate-docker.js
  scripts/docker/templates/development/docker-compose.yml
  scripts/docker/templates/development/purge.sh
  scripts/docker/templates/devnet/Dockerfile
  scripts/docker/templates/devnet/docker-compose.yml
  scripts/docker/templates/devnet/entrypoint.sh
  scripts/docker/templates/devnet/purge_all.sh
  scripts/docker/templates/devnet/restore.sh
  scripts/docker/templates/mainnet/docker-compose.yml
  scripts/docker/templates/testnet/Dockerfile
  scripts/docker/templates/testnet/docker-compose.yml
  scripts/docker/templates/testnet/entrypoint.sh
  scripts/docker/templates/testnet/purge_all.sh
  scripts/docker/templates/testnet/restore.sh
Due: yarn lint, prettier --write

feat: setup upgrade script
  upgrade.js
Due: none

feat: move directories
  upgrade.js
Due: none

fix: ensure that the new directory exists
  upgrade.js
Due: none

fix: only move if the old directory exists
  upgrade.js
Due: none

feat: delete pm2 processes
  upgrade.js
Due: none

chore: add pm2 as dev dependency
  package.json
  yarn.lock
Due: prettier --write

feat: remove old or temp files
  upgrade.js
Due: none

chore: change some file locations
  packages/core-container/src/environment.ts
  packages/core-p2p/src/monitor.ts
Due: yarn lint, prettier --write

refactor: remove redundant code + move isDirty on revertBlock
  packages/crypto/src/models/wallet.ts
Due: yarn lint, prettier --write

test: add tests for crypto model/wallet revert block and audit
  packages/crypto/__tests__/models/wallet.test.ts
Due: yarn lint, prettier --write

test: add tests for canApply / apply/revertTransaction... and audit
  packages/crypto/__tests__/models/wallet.test.ts
Due: yarn lint, prettier --write

feat: ensure that required files exist
  upgrade.js
Due: none

fix: delete files in old and new folders to avoid issues
  packages/core-p2p/src/monitor.ts
  upgrade.js
Due: yarn lint, prettier --write

feat: validate configuration
  upgrade.js
Due: none

fix: plugins config is javascript
  upgrade.js
Due: none

fix: wrong var name
  upgrade.js
Due: none

feat: update the delegates configuration
  upgrade.js
Due: none

test: add tests to crypto models/delegate forge
  packages/crypto/__tests__/models/delegate.test.ts
Due: yarn lint, prettier --write

feat: update env and plugin config
  upgrade.js
Due: none

test: add tests to crypto models/block
  packages/crypto/__tests__/models/block.test.ts
Due: yarn lint, prettier --write

docker folder was deleted
  docker/LICENSE
  docker/development/docker-compose.yml
  docker/development/purge.sh
  docker/devnet/Dockerfile
  docker/devnet/docker-compose.yml
  docker/devnet/entrypoint.sh
  docker/devnet/purge_all.sh
  docker/devnet/restore.sh
  docker/mainnet/docker-compose.yml
  docker/testnet/Dockerfile
  docker/testnet/docker-compose.yml
  docker/testnet/entrypoint.sh
  docker/testnet/purge_all.sh
  docker/testnet/restore.sh
Due: none

100 for core-logger
  packages/core-logger/__tests__/manager.test.ts
Due: yarn lint, prettier --write

chore: add upgrade command
  package.json
  upgrade.js
Due: prettier --write

test: fix restoring mocks
  packages/crypto/__tests__/models/block.test.ts
Due: yarn lint, prettier --write

test: add block verify tests
  packages/crypto/__tests__/models/block.test.ts
Due: yarn lint, prettier --write

refactor: prompt the user for input to ask for install and config paths
  package.json
  upgrade.js
  yarn.lock
Due: prettier --write

fix: expand home dir in case the user enters tilde
  upgrade.js
Due: none
