Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
}

fix(core-api): correct lodash import
  packages/core-api/src/repositories/repository.ts
Due: none

fix(core-test-utils): keep the minimumVersion at 2.0.0 for tests
  packages/core-test-utils/config/testnet/peers.json
Due: prettier --write

chore(core): raise the minimum version to 2.0.12 (#1686)
  .circleci/config.yml
  packages/core/lib/config/devnet/peers.json
  packages/core/lib/config/mainnet/peers.json
  packages/core/lib/config/testnet.1/peers.json
  packages/core/lib/config/testnet.2/peers.json
  packages/core/lib/config/testnet.live/peers.json
  packages/core/lib/config/testnet/peers.json
  packages/crypto/lib/networks/ark/devnet.json
Due: prettier --write

chore: use bootstrap command on circleci
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: use setup command on circleci
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore: use cpy-cli
  packages/core-database-postgres/package.json
  packages/core-snapshots/package.json
  yarn.lock
Due: prettier --write

fix(core-snapshots): pass default options and fix cli invocation
  packages/core-snapshots-cli/package.json
  packages/core-snapshots-cli/src/commands/create.ts
  packages/core-snapshots-cli/src/commands/import.ts
  packages/core-snapshots-cli/src/commands/rollback.ts
  packages/core-snapshots-cli/src/commands/truncate.ts
  packages/core-snapshots-cli/src/commands/verify.ts
  packages/core-snapshots/src/db/index.ts
Due: prettier --write

fix(core-p2p): malformed condition for filtering peers
  packages/core-p2p/lib/monitor.js
Due: eslint --fix, prettier --write

chore: Update port numbers to v2
  packages/core/lib/config/mainnet/peers.json
Due: prettier --write

chore: Add usage of cross-env-shell
  .circleci/config.yml
  package.json
Due: prettier --write

fix(core-blockchain): reset lastDownloadedBlock
  packages/core-blockchain/lib/blockchain.js
Due: eslint --fix, prettier --write

chore: changelog
  packages/core-blockchain/CHANGELOG.md
  packages/core-blockchain/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write

fix(core-blockchain): reset last downloaded block (#1692)
  packages/core-blockchain/CHANGELOG.md
  packages/core-blockchain/lib/blockchain.js
  packages/core-blockchain/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: eslint --fix, prettier --write

fix(core-blockchain): reset last downloaded block (#1692)
  packages/core-blockchain/CHANGELOG.md
  packages/core-blockchain/package.json
  packages/core-blockchain/src/blockchain.ts
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write

refactor(crypto): extend Bignumber type
  packages/crypto/src/models/block.ts
  packages/crypto/src/models/transaction.ts
  packages/crypto/src/utils/bignum.ts
  packages/crypto/src/validation/extensions/bignumber.ts
Due: none

fix(core-forger): wrong import of otplib
  packages/crypto/src/models/delegate.ts
Due: none

chore: install and then bootstrap on CircleCI
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

test: adjust failing tests after bignum changes
  packages/core-tester-cli/src/commands/command.ts
  packages/core-transaction-pool/__tests__/connection.test.ts
Due: none

fix(core-tester-cli): return range result as BigNumber object
  packages/core-tester-cli/src/commands/command.ts
Due: none

chore: add yarn install to the setup command
  .circleci/config.yml
  .circleci/configTemplate.json
  package.json
Due: prettier --write

chore: update hapi-rate-limit to version 3.0.0
  packages/core-api/package.json
  packages/core-p2p/package.json
  yarn.lock
Due: prettier --write

refactor: move peers.json configuration values to core-p2p
  packages/core-config/__tests__/__stubs__/peers.json
  packages/core-p2p/__tests__/court/guard.test.ts
  packages/core-p2p/package.json
  packages/core-p2p/src/config.ts
  packages/core-p2p/src/court/guard.ts
  packages/core-p2p/src/defaults.ts
  packages/core-p2p/src/monitor.ts
  packages/core-p2p/src/peer.ts
  packages/core-p2p/src/utils/network-state.ts
  packages/core-test-utils/src/config/testnet/peers.json
  packages/core-test-utils/src/config/testnet/plugins.js
  packages/core/__tests__/__support__/config/peers.json
  packages/core/src/config/devnet/peers.json
  packages/core/src/config/devnet/plugins.js
  packages/core/src/config/mainnet/peers.json
  packages/core/src/config/testnet.1/peers.json
  packages/core/src/config/testnet.2/peers.json
  packages/core/src/config/testnet.live/peers.json
  packages/core/src/config/testnet/peers.json
  packages/core/src/config/testnet/plugins.js
  packages/core/src/index.ts
Due: eslint --fix, prettier --write

chore: remove old defaults from config
  packages/core-test-utils/src/config/testnet/plugins.js
  packages/core/src/config/devnet/plugins.js
  packages/core/src/config/mainnet/plugins.js
  packages/core/src/config/testnet.1/plugins.js
  packages/core/src/config/testnet.2/plugins.js
  packages/core/src/config/testnet.live/plugins.js
  packages/core/src/config/testnet/plugins.js
Due: eslint --fix, prettier --write

test(core-api): expect the vendor field to match the vendor field hex
  packages/core-api/__tests__/v2/handlers/transactions.test.ts
Due: none

chore: add @types packages for lodash
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-deployer/package.json
  packages/core-elasticsearch/package.json
  packages/core-forger/package.json
  packages/core-json-rpc/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-vote-report/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

chore: add @types and resolve resulting issues
  packages/core-api/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-debugger-cli/package.json
  packages/core-deployer/package.json
  packages/core-elasticsearch/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-json-rpc/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/src/index.ts
  packages/crypto/package.json
  packages/crypto/src/crypto/crypto.ts
  packages/crypto/src/identities/keys.ts
  packages/crypto/src/models/delegate.ts
  yarn.lock
Due: prettier --write

chore(core-container): remove extraneous lodash @types
  packages/core-container/package.json
  yarn.lock
Due: prettier --write

fix: resolve various build issues
  packages/core-deployer/src/index.ts
  packages/core-http-utils/package.json
  packages/core-json-rpc/src/server/methods/blocks/info.ts
  packages/core-json-rpc/src/server/methods/blocks/transactions.ts
  packages/core-p2p/src/server/index.ts
  packages/core-snapshots/src/transport/index.ts
  packages/core-vote-report/src/handler.ts
  packages/core-vote-report/src/server.ts
  packages/crypto/src/validation/extensions/transactions/base.ts
  packages/crypto/src/validation/rules/models/transactions/delegate-registration.ts
  packages/crypto/src/validation/rules/models/transactions/delegate-resignation.ts
  packages/crypto/src/validation/rules/models/transactions/ipfs.ts
  packages/crypto/src/validation/rules/models/transactions/multi-payment.ts
  packages/crypto/src/validation/rules/models/transactions/multi-signature.ts
  packages/crypto/src/validation/rules/models/transactions/second-signature.ts
  packages/crypto/src/validation/rules/models/transactions/timelock-transfer.ts
  packages/crypto/src/validation/rules/models/transactions/transfer.ts
  packages/crypto/src/validation/rules/models/transactions/vote.ts
  yarn.lock
Due: prettier --write

chore(crypto): adjust webpack to use typescript
  packages/crypto/build/webpack.base.js
  packages/crypto/package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix(core-json-rpc): @types issues for unsafe method
  packages/core-json-rpc/src/server/methods/blocks/info.ts
  packages/core-json-rpc/src/server/methods/blocks/transactions.ts
Due: none

chore: remove extraneous @types
  packages/core-api/package.json
  packages/core-debugger-cli/package.json
  packages/core-deployer/package.json
  packages/core-event-emitter/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-tester-cli/package.json
  yarn.lock
Due: prettier --write

refactor(core-error-tracker-bugsnag): migrate to @bugsnag/js v5
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-bugsnag/src/defaults.ts
  packages/core-error-tracker-bugsnag/src/index.ts
  yarn.lock
Due: prettier --write

test(crypto): add a few @ts-ignore for buffer calls
  packages/crypto/__tests__/crypto/crypto.test.ts
  packages/crypto/__tests__/identities/keys.test.ts
Due: none

chore(crypto): expose dist as main
  packages/crypto/package.json
Due: prettier --write

chore(crypto): remove main entry point from webpack config
  packages/crypto/build/webpack.config.js
Due: eslint --fix, prettier --write

test(crypto): add delegate model constructor tests
  packages/core-forger/__tests__/manager.test.ts
  packages/crypto/__tests__/models/delegate.test.ts
  packages/crypto/src/models/delegate.ts
Due: none

test(core-forger): fix testnet import path
  packages/core-forger/__tests__/manager.test.ts
Due: none

test(crypto): add delegate passphrase encryption and decryption tests
  packages/crypto/__tests__/models/delegate.test.ts
  packages/crypto/src/models/delegate.ts
Due: none

refactor(core-p2p): add height to the last block of a delegate
  packages/core-api/src/versions/2/delegates/transformer.ts
Due: none
