Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

refactor(crypto): Set transactionBaseSchema fee minimum to 0 (#3275)
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

test(core-forger): fix bip38 failure expectations
  __tests__/unit/core-forger/delegate.test.ts
Due: yarn lint, prettier --write

test: adjust tests
  __tests__/functional/transaction-forging/bridgechain-update.test.ts
  __tests__/unit/core-magistrate/helper.ts
  __tests__/unit/core-magistrate/transactions/bridgechain-update.test.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-registration.ts
Due: yarn lint, prettier --write

handle Debian/Ubuntu derivate NodeJS install
  install.sh
Due: none

refactor: set minimum fee on transaction types
  __tests__/unit/crypto/transactions/schemas.test.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

refactor(crypto): set minimum fee on transaction types (#3278)
  __tests__/unit/crypto/transactions/schemas.test.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

chore(deps): update node.js to v12.13.1
  .nvmrc
Due: none

chore: return isResigned attribute for business/bridgechain when it is resigned
  packages/core-database/src/repositories/wallets-business-repository.ts
Due: yarn lint, prettier --write

test: business/bridgechain e2e workflow + some minor tweak to e2e framework
  __tests__/e2e/lib/run.js
  __tests__/e2e/lib/utils/test-utils.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/1.0.business-registration.action.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/1.1.check-business-registration.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/2.0.business-update.action.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/2.1.check-business-update.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/3.0.bridgechain-registration.action.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/3.1.check-bridgechain-registration.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/4.0.bridgechain-update.action.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/4.1.check-bridgechain-update.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/5.0.bridgechain-resignation.action.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/5.1.check-bridgechain-resignation.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/6.0.business-resignation.action.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/6.1.check-business-resignation.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/config.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/utils.js
  __tests__/e2e/tests/scenarios/scenario1/config.js
Due: none

fix: api bridgechain id length is 64
  packages/core-api/src/handlers/bridgechains/schema.ts
Due: yarn lint, prettier --write

chore: handle Debian/Ubuntu derivate NodeJS install (#3272)
  install.sh
Due: none

chore: Add "LinuxMint" to nodesource $DEB_ID check
  install.sh
Due: none

test(core): re-enable application command tests
  __tests__/unit/core/commands/chain/replay.test.ts
  __tests__/unit/core/commands/core/run.test.ts
  __tests__/unit/core/commands/forger/run.test.ts
  __tests__/unit/core/commands/relay/run.test.ts
  __tests__/unit/core/commands/snapshots/dump.test.ts
  __tests__/unit/core/commands/snapshots/restore.test.ts
  __tests__/unit/core/commands/snapshots/rollback.test.ts
  __tests__/unit/core/commands/snapshots/truncate.test.ts
  __tests__/unit/core/commands/snapshots/verify.test.ts
  jest.config.js
Due: yarn lint, prettier --write

test(core-magistrate): business / bridgechain e2e workflow (#3280)
  __tests__/e2e/lib/run.js
  __tests__/e2e/lib/utils/test-utils.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/0.0.transfer-new-wallet.action.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/1.0.business-registration.action.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/1.1.check-business-registration.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/2.0.business-update.action.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/2.1.check-business-update.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/3.0.bridgechain-registration.action.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/3.1.check-bridgechain-registration.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/4.0.bridgechain-update.action.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/4.1.check-bridgechain-update.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/5.0.bridgechain-resignation.action.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/5.1.check-bridgechain-resignation.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/6.0.business-resignation.action.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/6.1.check-business-resignation.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/config.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/utils.js
  __tests__/e2e/tests/scenarios/scenario1/config.js
  packages/core-api/src/handlers/bridgechains/schema.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
Due: yarn lint, prettier --write

test: adjust e2e tests
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/3.1.check-bridgechain-registration.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/4.1.check-bridgechain-update.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/utils.js
Due: none

even better handling Debian/Ubuntu NodeJS install
  install.sh
Due: none

fix: bridgechain update buffer allocation
  packages/core-magistrate-crypto/src/transactions/bridgechain-resignation.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-update.ts
Due: yarn lint, prettier --write

test: use correct matcher
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/4.1.check-bridgechain-update.test.js
Due: none

refactor: update ports in bridgechain update handlers
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
Due: yarn lint, prettier --write

refactor: remove fromHex calls
  packages/core-magistrate-crypto/src/transactions/bridgechain-resignation.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-update.ts
Due: yarn lint, prettier --write

chore(install): don't delete .cache dir
  install.sh
Due: none

fix: set seedNodes and ports only if included in bridgechain update
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
Due: yarn lint, prettier --write

chore: add test case for getActiveDelegates()
  __tests__/integration/core-blockchain/blockchain.test.ts
Due: yarn lint, prettier --write

chore: better handling Debian/Ubuntu derivatives NodeJS install (#3283)
  install.sh
Due: none

feat(core-magistrate-crypto): add ports to bridgechain registration/update (#3255)
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/3.1.check-bridgechain-registration.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/4.1.check-bridgechain-update.test.js
  __tests__/e2e/tests/scenarios/scenario1/business-bridgechain/utils.js
  __tests__/functional/transaction-forging/bridgechain-registration.test.ts
  __tests__/functional/transaction-forging/bridgechain-resignation.test.ts
  __tests__/functional/transaction-forging/bridgechain-update.test.ts
  __tests__/unit/core-magistrate/builders/bridgechain-update.test.ts
  __tests__/unit/core-magistrate/helper.ts
  __tests__/unit/core-magistrate/transactions/bridgechain-registration.test.ts
  __tests__/unit/core-magistrate/transactions/bridgechain-update.test.ts
  __tests__/unit/core-magistrate/wallet.test.ts
  packages/core-magistrate-crypto/src/builders/bridgechain-registration.ts
  packages/core-magistrate-crypto/src/builders/bridgechain-update.ts
  packages/core-magistrate-crypto/src/interfaces.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-registration.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-resignation.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-update.ts
  packages/core-magistrate-crypto/src/transactions/utils/bridgechain-schemas.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  yarn.lock
Due: yarn lint, prettier --write

feat: Make roundInfo optional in databaseService.getActiveDelegates() (#3276)
  __tests__/integration/core-blockchain/blockchain.test.ts
  packages/core-database/src/database-service.ts
  packages/core-interfaces/src/core-database/database-service.ts
Due: yarn lint, prettier --write

release: 2.6.0-next.5
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

refactor: maxPayload / maxTransactionBytes
  packages/core-p2p/src/socket-server/index.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/defaults.ts
  packages/core-transaction-pool/src/processor.ts
  packages/core-transaction-pool/src/utils.ts
Due: yarn lint, prettier --write

feat(core-forger): add round and forger tracker
  packages/core-forger/src/defaults.ts
  packages/core-forger/src/forger-tracker.ts
  packages/core-forger/src/service-provider.ts
Due: yarn lint, prettier --write

test: adapt to maxPayload refactor
  __tests__/integration/core-p2p/mocks/core-container.ts
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
Due: yarn lint, prettier --write

test: getMaxTransactionBytes()
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  __tests__/unit/core-transaction-pool/utils.test.ts
Due: yarn lint, prettier --write

chore(crypto): bump minver to next.5
  packages/crypto/src/networks/devnet/milestones.json
Due: prettier --write

release: 2.6.0-next.6
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: update yarn.lock
  yarn.lock
Due: none

fix: use strict comparison to decide if a transaction should be enabled (#3087)
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-registration.ts
  packages/core-magistrate-transactions/src/handlers/business-resignation.ts
  packages/core-magistrate-transactions/src/handlers/business-update.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/handlers/ipfs.ts
  packages/core-transactions/src/handlers/multi-payment.ts
Due: yarn lint, prettier --write

refactor(core-api): sort peers by height, latency (#3078)
  __tests__/integration/core-api/handlers/peers.test.ts
  packages/core-api/src/controllers/peers.ts
Due: yarn lint, prettier --write

chore: print more details in log messages (#3089)
  packages/core-blockchain/src/state-machine.ts
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

refactor(core-api): format timestamp of locks (#3091)
  __tests__/integration/core-api/handlers/locks.test.ts
  __tests__/integration/core-api/handlers/wallets.test.ts
  packages/core-api/src/resources/lock.ts
  packages/core-test-framework/src/utils/api.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
