Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(core-p2p): use the remote access whitelist to grant remote access
  packages/core-p2p/src/defaults.ts
  packages/core-p2p/src/server/index.ts
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

refactor: replace request-ip with the address that hapi provides us
  packages/core-http-utils/package.json
  packages/core-http-utils/src/plugins/whitelist.ts
  packages/core-p2p/package.json
  packages/core-p2p/src/server/plugins/accept-request.ts
  packages/core-p2p/src/server/versions/1/handlers.ts
  packages/core-p2p/src/server/versions/internal/handlers/blocks.ts
  yarn.lock
Due: prettier --write

refactor: replace request-ip with the address that hapi provides us
  packages/core-http-utils/lib/plugins/whitelist.js
  packages/core-http-utils/package.json
  packages/core-p2p/lib/server/plugins/accept-request.js
  packages/core-p2p/lib/server/versions/1/handlers.js
  packages/core-p2p/lib/server/versions/internal/handlers/blocks.js
  packages/core-p2p/package.json
  yarn.lock
Due: eslint --fix, prettier --write

check contructor errors and bip38 functionality
  packages/crypto/__tests__/models/delegate.test.js
Due: eslint --fix, prettier --write

fix(core-p2p): filter out any local hosts and interfaces
  packages/core-p2p/lib/utils/is-myself.js
Due: eslint --fix, prettier --write

chore: update changelogs and bump versions
  packages/core-p2p/CHANGELOG.md
  packages/core-p2p/package.json
  packages/core/CHANGELOG.md
  packages/core/lib/config/mainnet/peers.json
  packages/core/package.json
Due: prettier --write

refactor: improve remote address checks (#1695)
  packages/core-http-utils/lib/plugins/whitelist.js
  packages/core-http-utils/package.json
  packages/core-p2p/CHANGELOG.md
  packages/core-p2p/lib/server/plugins/accept-request.js
  packages/core-p2p/lib/server/versions/1/handlers.js
  packages/core-p2p/lib/server/versions/internal/handlers/blocks.js
  packages/core-p2p/lib/utils/is-myself.js
  packages/core-p2p/package.json
  packages/core/CHANGELOG.md
  packages/core/lib/config/mainnet/peers.json
  packages/core/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: bump to 2.0.15
  .circleci/config.yml
  packages/core/CHANGELOG.md
  packages/core/lib/config/mainnet/peers.json
  packages/core/package.json
Due: prettier --write

chore: bump to 2.0.15 (#1697)
  .circleci/config.yml
  packages/core/CHANGELOG.md
  packages/core/lib/config/mainnet/peers.json
  packages/core/package.json
Due: prettier --write

fix: README badges missing
  .circleci/config.yml
  README.md
Due: prettier --write

chore: name new packages in README
  README.md
Due: prettier --write

Utilities
  README.md
Due: prettier --write

fix: Correct circleci file
  .circleci/config.yml
Due: none

fix(core-p2p): tests
  packages/core-p2p/__tests__/court/guard.test.ts
  packages/core-p2p/__tests__/monitor.test.ts
  packages/core-p2p/src/utils/is-myself.ts
Due: none

fix: Remove misuse of the 'TABLESAMPLE SYSTEM' clause in these queries. It's completely unnecessary...
  packages/core-api/lib/repositories/repository.js
  packages/core-graphql/lib/repositories/repository.js
Due: eslint --fix, prettier --write

test(core-api): skip peer tests
  .circleci/config.yml
  packages/core-api/__tests__/v1/handlers/peers.test.ts
  packages/core-api/__tests__/v2/handlers/peers.test.ts
Due: none

test: use 1.* peers instead of 0.*
  packages/core-blockchain/__tests__/blockchain.test.ts
  packages/core-json-rpc/__tests__/blocks.test.ts
  packages/core-json-rpc/__tests__/transactions.test.ts
  packages/core-json-rpc/__tests__/wallets.test.ts
  packages/core-p2p/__tests__/peer.test.ts
Due: none

chore: update changelogs
  packages/core-container/CHANGELOG.md
  packages/core-p2p/CHANGELOG.md
  packages/core-transaction-pool/CHANGELOG.md
  packages/core/CHANGELOG.md
Due: prettier --write

chore: add a pre-test script to avoid issues with old databases
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-json-rpc/package.json
  packages/core-p2p/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-webhooks/package.json
  scripts/pre-commit.sh
  scripts/pre-test.sh
Due: prettier --write

feat(core): add launch mode
  packages/core-p2p/src/monitor.ts
  packages/core/src/commands/index.ts
  packages/core/src/index.ts
  packages/core/src/utils.ts
Due: none

style: resolve tslint issues
  packages/core-blockchain/CHANGELOG.md
  packages/core-blockchain/src/blockchain.ts
  packages/core-p2p/src/utils/is-myself.ts
  packages/core-snapshots-cli/src/commands/verify.ts
  packages/core-snapshots/src/db/index.ts
  packages/crypto/build/webpack.base.js
  packages/crypto/src/utils/bignum.ts
Due: eslint --fix, prettier --write

chore(package): update pino to version 5.10.1 (#1703)
  packages/core-deployer/package.json
  packages/core-tester-cli/package.json
Due: prettier --write

fix(core-api): racy test
  packages/core-api/__tests__/v2/handlers/transactions.test.ts
Due: none

fix: some relative paths
  packages/core-container/__tests__/remote-loader.test.ts
  packages/core-deployer/src/index.ts
  packages/core-transaction-pool/__tests__/connection.test.ts
  packages/crypto/__tests__/utils/network-list.ts
Due: none

chore: prettyMs @types package
  package.json
  packages/core-api/__tests__/v2/handlers/transactions.test.ts
  packages/core-p2p/src/monitor.ts
  yarn.lock
Due: prettier --write

chore: adjust config and coverage paths
  .codecov.yml
  jest.config.js
  packages/core-api/jest.config.js
  packages/core-blockchain/jest.config.js
  packages/core-database-postgres/jest.config.js
  packages/core-deployer/package.json
  packages/core-p2p/jest.config.js
  packages/core/jest.config.js
Due: eslint --fix, prettier --write

test(core-api): re-enable peer tests
  packages/core-api/__tests__/v1/handlers/peers.test.ts
  packages/core-api/__tests__/v2/handlers/peers.test.ts
Due: none

test: remove some no longer needed tests due to TypeScript
  packages/core-blockchain/__tests__/state-machine.test.ts
  packages/core-blockchain/__tests__/state-storage.test.ts
  packages/core-container/__tests__/container.test.ts
  packages/core-container/__tests__/registrars/plugin.test.ts
  packages/core-container/__tests__/remote-loader.test.ts
  packages/core-database/__tests__/repositories/delegates.test.ts
  packages/core-database/__tests__/repositories/wallets.test.ts
  packages/core-database/__tests__/wallet-manager.test.ts
  packages/core-deployer/__tests__/builder/genesis-block.test.ts
  packages/core-logger-winston/__tests__/logger.test.ts
  packages/core-p2p/__tests__/court/guard.test.ts
  packages/core-p2p/__tests__/monitor.test.ts
  packages/core-p2p/__tests__/peer.test.ts
  packages/core-tester-cli/__tests__/config.test.ts
  packages/core-transaction-pool/__tests__/guard.test.ts
  packages/core-transaction-pool/__tests__/manager.test.ts
  packages/crypto/__tests__/models/block.test.ts
Due: none

test(core-container): plugin resolution tests
  packages/core-api/__tests__/v2/handlers/transactions.test.ts
  packages/core-container/__tests__/container.test.ts
Due: none

fix: broken peer tests in core-p2p
  .gitignore
  packages/core-p2p/__tests__/court/guard.test.js
  packages/core-p2p/__tests__/monitor.test.js
Due: eslint --fix, prettier --write

test(core-api): reset peers before peer tests
  packages/core-api/__tests__/__support__/setup.ts
  packages/core-api/__tests__/v1/handlers/peers.test.ts
  packages/core-api/__tests__/v2/handlers/peers.test.ts
  packages/core-p2p/src/peer.ts
Due: none

chore: store jest preset as JSON
  jest-preset.js
  jest-preset.json
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-config/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-deployer/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
Due: eslint --fix, prettier --write

chore: update package list
  .circleci/config.yml
  README.md
Due: prettier --write

chore: update contributors
  README.md
  packages/core-api/README.md
  packages/core-blockchain/README.md
  packages/core-config/README.md
  packages/core-container/README.md
  packages/core-database-postgres/README.md
  packages/core-database/README.md
  packages/core-debugger-cli/README.md
  packages/core-deployer/README.md
  packages/core-forger/README.md
  packages/core-graphql/README.md
  packages/core-json-rpc/README.md
  packages/core-logger-winston/README.md
  packages/core-p2p/README.md
  packages/core-snapshots-cli/README.md
  packages/core-snapshots/README.md
  packages/core-test-utils/README.md
  packages/core-utils/README.md
  packages/core/README.md
  packages/crypto/README.md
Due: prettier --write

chore: replace shields.io with badgen.now.sh
  README.md
Due: prettier --write

test(core-transaction-pool): flush the pool before instead of after each test
  packages/core-transaction-pool/__tests__/connection.test.ts
Due: none

test(core-api): ensure delegate ranks are calculated
  package.json
  packages/core-api/__tests__/__support__/setup.ts
  packages/core-api/__tests__/v2/handlers/delegates.test.ts
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{json,md})
