Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

Implement BlockWithTransactions resource
  packages/core-api/src/controllers/blocks.ts
  packages/core-api/src/controllers/delegates.ts
  packages/core-api/src/resources/block-with-transactions.ts
  packages/core-api/src/resources/block.ts
  packages/core-api/src/resources/index.ts
  packages/core-database/src/block-model-converter.ts
  packages/core-kernel/src/contracts/shared/block-history-service.ts
Due: yarn lint, prettier --write

feat(core-forger) implements forger.lastForgedBlock processAction
  packages/core-forger/src/forger-service.ts
  packages/core-forger/src/process-actions/index.ts
  packages/core-forger/src/process-actions/last-forged-block.ts
  packages/core-forger/src/service-provider.ts
Due: yarn lint, prettier --write

test(core-forger) test forger.lastForgedBlock processAction
  __tests__/unit/core-forger/forger-service.test.ts
  __tests__/unit/core-forger/process-actions/last-forged-block.test.ts
Due: yarn lint, prettier --write

feat(core-forger) implement forger.nextSlot processAction
  packages/core-forger/src/forger-service.ts
  packages/core-forger/src/process-actions/index.ts
  packages/core-forger/src/process-actions/next-slot.ts
  packages/core-forger/src/service-provider.ts
Due: yarn lint, prettier --write

test(core-forger) test forger.nextSlot processAction
  __tests__/unit/core-forger/forger-service.test.ts
  __tests__/unit/core-forger/process-actions/next-slot.test.ts
Due: yarn lint, prettier --write

feat(core-cli) implement trigger action in ProcessManager
  packages/core-cli/src/services/process-manager.ts
Due: yarn lint, prettier --write

test(core-cli) test trigger action in ProcessManager
  __tests__/unit/core-cli/services/process-manager.test.ts
Due: yarn lint, prettier --write

fix(crypto): update bcrypto package
  packages/crypto/package.json
Due: prettier --write

CentOS install fixes
  install.sh
Due: none

feat(core-api): estimateTotalCount API parameter (#3725)
  __tests__/functional/core-database/repositories/block-repository.test.ts
  __tests__/functional/core-database/repositories/transaction-repository.test.ts
  packages/core-api/src/controllers/blocks.ts
  packages/core-api/src/controllers/controller.ts
  packages/core-api/src/controllers/delegates.ts
  packages/core-api/src/controllers/locks.ts
  packages/core-api/src/controllers/transactions.ts
  packages/core-api/src/controllers/votes.ts
  packages/core-api/src/controllers/wallets.ts
  packages/core-api/src/defaults.ts
  packages/core-api/src/routes/blocks.ts
  packages/core-database/src/defaults.ts
  packages/core-database/src/repositories/abstract-repository.ts
  packages/core-kernel/src/contracts/search/index.ts
Due: yarn lint, prettier --write

feat(core-cli): implement trigger method in ProcessManager (#3736)
  __tests__/unit/core-cli/services/process-manager.test.ts
  packages/core-cli/src/services/process-manager.ts
Due: yarn lint, prettier --write

feat(core-forger): implements `forger.lastForgedBlock` process actions (#3734)
  __tests__/unit/core-forger/forger-service.test.ts
  __tests__/unit/core-forger/process-actions/last-forged-block.test.ts
  packages/core-forger/src/forger-service.ts
  packages/core-forger/src/process-actions/index.ts
  packages/core-forger/src/process-actions/last-forged-block.ts
  packages/core-forger/src/service-provider.ts
Due: yarn lint, prettier --write

feat(core-manager): implement `snapshots.restore` action (#3732)
  __tests__/unit/core-manager/actions/snapshots-create.test.ts
  __tests__/unit/core-manager/actions/snapshots-restore.test.ts
  __tests__/unit/core-manager/snapshots/snapshot-manager.test.ts
  packages/core-manager/src/actions/snapshots-create.ts
  packages/core-manager/src/actions/snapshots-restore.ts
  packages/core-manager/src/snapshots/snapshots-manager.ts
Due: yarn lint, prettier --write

feat(core-manager): implements info.currentDelegate action
  packages/core-manager/src/actions/info-current-delegate.ts
  packages/core-manager/src/utils/index.ts
  packages/core-manager/src/utils/process-actions.ts
Due: yarn lint, prettier --write

test(core-manager): test info.currentDelegate action
  __tests__/unit/core-manager/__fixtures__/index.ts
  __tests__/unit/core-manager/__fixtures__/trigger-responses.ts
  __tests__/unit/core-manager/actions/info-current-delegate.test.ts
Due: yarn lint, prettier --write

test(core-manager): test parseProcessActionResponse method
  __tests__/unit/core-manager/utils/process-actions.test.ts
Due: yarn lint, prettier --write

chore: CentOS install fixes (#3738)
  install.sh
Due: none

fix(deps): update dependency type-fest to ^0.15.0
  packages/core-cli/package.json
  packages/core-kernel/package.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

fix(core-blockchain): discard late forged blocks
  __tests__/unit/core-blockchain/blockchain.test.ts
  packages/core-blockchain/src/blockchain.ts
Due: yarn lint, prettier --write

fix(core-p2p): add 1ms delay to assist processing
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix(core-manager): secp256k1 fix
  packages/crypto/src/identities/public-key.ts
Due: yarn lint, prettier --write

feat(core-manager): implements info.lastForgedBlock action
  packages/core-manager/src/actions/info-last-forged-block.ts
Due: yarn lint, prettier --write

test(core-manager): test info.lastForgedBlock action
  __tests__/unit/core-manager/__fixtures__/trigger-responses.ts
  __tests__/unit/core-manager/actions/info-last-forged-block.test.ts
  packages/core-manager/src/actions/info-last-forged-block.ts
Due: yarn lint, prettier --write

fix(core-transaction-pool): throw error if transaction is too high
  packages/core-kernel/src/contracts/transaction-pool/dynamic-fee-matcher.ts
  packages/core-transaction-pool/src/dynamic-fee-matcher.ts
  packages/core-transaction-pool/src/errors.ts
  packages/core-transaction-pool/src/processor.ts
Due: yarn lint, prettier --write

test(core-transaction-pool): DynamicFeeMatcher changes
  __tests__/unit/core-transaction-pool/dynamic-fee-matcher.test.ts
  __tests__/unit/core-transaction-pool/processor.test.ts
Due: yarn lint, prettier --write

fix(core-forger): Update interfaces in forger service to use correct package
  packages/core-forger/src/forger-service.ts
Due: yarn lint, prettier --write

test(core-magistrate-crypto): fix tests for core-magistrate-crypto
  __tests__/unit/core-magistrate-crypto/transactions/bridgechain-registration.test.ts
  __tests__/unit/core-magistrate-crypto/transactions/bridgechain-resignation.test.ts
  __tests__/unit/core-magistrate-crypto/transactions/bridgechain-update.test.ts
  __tests__/unit/core-magistrate-crypto/transactions/business-registration.test.ts
  __tests__/unit/core-magistrate-crypto/transactions/business-resgination.test.ts
  __tests__/unit/core-magistrate-crypto/transactions/business-update.test.ts
Due: yarn lint, prettier --write

chore(deps): update node.js to v12.17.0
  .nvmrc
Due: none

fix(core-transaction-pool): throw ERR_HIGH_FEE when fee is too high (#3743)
  __tests__/unit/core-transaction-pool/dynamic-fee-matcher.test.ts
  __tests__/unit/core-transaction-pool/processor.test.ts
  packages/core-kernel/src/contracts/transaction-pool/dynamic-fee-matcher.ts
  packages/core-transaction-pool/src/dynamic-fee-matcher.ts
  packages/core-transaction-pool/src/errors.ts
  packages/core-transaction-pool/src/processor.ts
Due: yarn lint, prettier --write

feat(core-manager): implement `info.currentDelegate` action (#3739)
  __tests__/unit/core-manager/__fixtures__/index.ts
  __tests__/unit/core-manager/__fixtures__/trigger-responses.ts
  __tests__/unit/core-manager/actions/info-current-delegate.test.ts
  __tests__/unit/core-manager/utils/process-actions.test.ts
  packages/core-manager/src/actions/info-current-delegate.ts
  packages/core-manager/src/utils/index.ts
  packages/core-manager/src/utils/process-actions.ts
Due: yarn lint, prettier --write

feat(core-forger): implements `forger.nextSlot` process actions (#3735)
  __tests__/unit/core-forger/forger-service.test.ts
  __tests__/unit/core-forger/process-actions/next-slot.test.ts
  packages/core-forger/src/forger-service.ts
  packages/core-forger/src/process-actions/index.ts
  packages/core-forger/src/process-actions/next-slot.ts
  packages/core-forger/src/service-provider.ts
Due: yarn lint, prettier --write

chore(deps): update bcrypto dependency (#3737)
  packages/crypto/package.json
  packages/crypto/src/identities/public-key.ts
Due: yarn lint, prettier --write

release: 2.6.38
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

wip
  CHANGELOG.md
Due: prettier --write

fix(core-p2p): discard late-forged blocks from forger (#3746)
  __tests__/unit/core-blockchain/blockchain.test.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

release: 2.6.38 (#3745)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

feat(core-manager): implements info.nextForgingSlot action
  packages/core-manager/src/actions/info-next-forging-slot.ts
Due: yarn lint, prettier --write

fix(core-manager): update service provider in core-manager to set crypto options
  packages/core-manager/src/service-provider.ts
Due: yarn lint, prettier --write

test(core-manager): implements info.nextForgingSlot action
  __tests__/unit/core-manager/__fixtures__/trigger-responses.ts
  __tests__/unit/core-manager/actions/info-next-forging-slot.test.ts
  packages/core-manager/src/actions/info-next-forging-slot.ts
Due: yarn lint, prettier --write

chore: support fedora
  install.sh
Due: none
