Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

chore: remove the genesisBlock.json during the upgrade
  scripts/upgrade/upgrade.js
Due: none

test(crypto): add genesisBlock to fields and fix import paths
  packages/crypto/__tests__/managers/config.test.ts
  packages/crypto/__tests__/models/block.test.ts
Due: yarn lint, prettier --write

chore: store development docker files in docker/development (#2053)
  scripts/docker/generate-docker.js
Due: none

refactor: move genesisBlock to network config and remove extraneous config (#2052)
  packages/core-container/__tests__/__stubs__/config/dynamicFees.json
  packages/core-container/__tests__/config/loaders/file-loader.test.ts
  packages/core-container/src/config/index.ts
  packages/core-container/src/config/network.ts
  packages/core-container/src/config/schema.ts
  packages/core/src/config/testnet.1/delegates.json
  packages/core/src/config/testnet.1/peers.json
  packages/core/src/config/testnet.1/plugins.js
  packages/core/src/config/testnet.2/delegates.json
  packages/core/src/config/testnet.2/genesisBlock.json
  packages/core/src/config/testnet.2/peers.json
  packages/core/src/config/testnet.2/plugins.js
  packages/core/src/config/testnet.live/delegates.json
  packages/core/src/config/testnet.live/genesisBlock.json
  packages/core/src/config/testnet.live/peers.json
  packages/core/src/config/testnet.live/plugins.js
  packages/core/src/config/testnet/genesisBlock.json
  packages/crypto/__tests__/managers/config.test.ts
  packages/crypto/__tests__/models/block.test.ts
  packages/crypto/src/managers/config.ts
  packages/crypto/src/networks/devnet/genesisBlock.json
  packages/crypto/src/networks/devnet/index.ts
  packages/crypto/src/networks/mainnet/genesisBlock.json
  packages/crypto/src/networks/mainnet/index.ts
  packages/crypto/src/networks/testnet/genesisBlock.json
  packages/crypto/src/networks/testnet/index.ts
  packages/crypto/src/networks/unitnet/genesisBlock.json
  packages/crypto/src/networks/unitnet/index.ts
  scripts/upgrade/upgrade.js
Due: yarn lint, prettier --write

fix: wallet-manager tests
  packages/core-database-postgres/src/spv.ts
  packages/core-database/__tests__/wallet-manager.test.ts
  packages/core-database/src/database-connection-todo.ts.ignore
  packages/core-database/src/wallet-manager.ts
  packages/core-interfaces/src/core-database/IWalletManager.ts
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

fix: delegates and wallets business repo tests.
  packages/core-database/__tests__/repositories/delegates.test.ts
  packages/core-database/__tests__/repositories/wallets.test.ts
  packages/core-database/src/repositories/delegates.ts
Due: yarn lint, prettier --write

fix: missed a method rename here.
  packages/core-transaction-pool/__tests__/connection.test.ts
  packages/core-transaction-pool/src/pool-wallet-manager.ts
Due: yarn lint, prettier --write

revert: changes to business repo tests asserting count. fix: missing crucial line of code in 'DatabaseService.getForgedTransactionIds'
  packages/core-database/__tests__/repositories/delegates.test.ts
  packages/core-database/__tests__/repositories/wallets.test.ts
  packages/core-database/src/database-service.ts
  packages/core-graphql/__tests__/api/transaction.test.ts
  packages/core-interfaces/src/core-database/IDatabaseService.ts
  packages/core-interfaces/src/core-database/database-repository/ITransactionsRepository.ts
Due: yarn lint, prettier --write

fix: failing tests in core-transaction-pool
  packages/core-database/src/wallet-manager.ts
  packages/core-transaction-pool/__tests__/connection.test.ts
  packages/core-transaction-pool/src/pool-wallet-manager.ts
Due: yarn lint, prettier --write

fix: failing tests in core-graphql
  packages/core-graphql/src/resolvers/queries/block/block.ts
  packages/core-graphql/src/resolvers/queries/transaction/transaction.ts
  packages/core-graphql/src/resolvers/queries/wallet/wallet.ts
  packages/core-graphql/src/resolvers/queries/wallet/wallets.ts
  packages/core-graphql/src/resolvers/relationship/block.ts
  packages/core-graphql/src/resolvers/relationship/transaction.ts
  packages/core-graphql/src/resolvers/relationship/wallet.ts
Due: yarn lint, prettier --write

refactor: rename these files.
  packages/core-interfaces/src/core-database/business-repository/delegates-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/index.ts
  packages/core-interfaces/src/core-database/business-repository/parameters.ts
  packages/core-interfaces/src/core-database/business-repository/wallets-business-repository.ts
  packages/core-interfaces/src/core-database/database-connection.ts
  packages/core-interfaces/src/core-database/database-repository/blocks-repository.ts
  packages/core-interfaces/src/core-database/database-repository/index.ts
  packages/core-interfaces/src/core-database/database-repository/repository.ts
  packages/core-interfaces/src/core-database/database-repository/rounds-repository.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
  packages/core-interfaces/src/core-database/database-repository/wallets-repository.ts
  packages/core-interfaces/src/core-database/database-service.ts
  packages/core-interfaces/src/core-database/event-types.ts
  packages/core-interfaces/src/core-database/index.ts
  packages/core-interfaces/src/core-database/wallet-manager.ts
Due: yarn lint, prettier --write

chore: add bash fallback for ARK > CORE in upgrade script
  scripts/upgrade.sh
Due: none

fix(core-api): always sort transactions by sequence and the requested field
  packages/core-api/src/repositories/transactions.ts
Due: yarn lint, prettier --write

test: re-enable this test until it's re-written.
  packages/core-database-postgres/src/connection.ts.ignore
  packages/core-database/__tests__/database-service.test.ts
  packages/core-interfaces/src/core-database/database-connection.ts
Due: yarn lint, prettier --write

fix: disable multisig
  packages/crypto/src/handlers/transactions/handler.ts
  packages/crypto/src/models/transaction.ts
Due: yarn lint, prettier --write

misc: devnet exceptions
  packages/crypto/src/networks/devnet/exceptions.json
Due: prettier --write

misc: mainnet exceptions
  packages/crypto/src/networks/mainnet/exceptions.json
Due: prettier --write

test: skip some tests
  packages/crypto/__tests__/builder/transactions/multi-signature.test.ts
  packages/crypto/__tests__/handlers/transactions/multi-signature.test.ts
  packages/crypto/__tests__/models/transaction.test.ts
Due: yarn lint, prettier --write

fix(crypto): disable multisig (#2057)
  packages/crypto/__tests__/builder/transactions/multi-signature.test.ts
  packages/crypto/__tests__/handlers/transactions/multi-signature.test.ts
  packages/crypto/__tests__/models/transaction.test.ts
  packages/crypto/src/handlers/transactions/handler.ts
  packages/crypto/src/models/transaction.ts
  packages/crypto/src/networks/devnet/exceptions.json
  packages/crypto/src/networks/mainnet/exceptions.json
Due: yarn lint, prettier --write

fix: syntax error in upgrade script
  scripts/upgrade.sh
Due: none

fix: remove entries with double and single quotes during the upgrade
  scripts/upgrade/upgrade.js
Due: none

test: circleci config - rebuild db between each step
  .circleci/config.yml
  .circleci/generateConfig.js
  .circleci/rebuild-db.sh
Due: none

misc: add github templates for docs, security and support
  .github/ISSUE_TEMPLATE/Documentation_issue.md
  .github/ISSUE_TEMPLATE/Security_vulnerabilities.md
  .github/ISSUE_TEMPLATE/Support_question.md
Due: prettier --write

misc: add github templates for docs, security and support (#2059)
  .github/ISSUE_TEMPLATE/Documentation_issue.md
  .github/ISSUE_TEMPLATE/Security_vulnerabilities.md
  .github/ISSUE_TEMPLATE/Support_question.md
Due: prettier --write

test: fix test init in core-database-postgres
  packages/core-database-postgres/__tests__/connection.test.ts
Due: yarn lint, prettier --write

fix: remove genesisBlock.json copy from upgrade script
  scripts/upgrade/upgrade.js
Due: none

fix: keep core in ark-core because of custom setups
  scripts/upgrade/upgrade.js
Due: none

fix: go back into the core directory after the sed fixes
  scripts/upgrade.sh
Due: none

fix: remove commander env updates
  scripts/upgrade/upgrade.js
Due: none

chore: few upgrade script fixes (#2060)
  scripts/upgrade.sh
  scripts/upgrade/upgrade.js
Due: none

fix(core-p2p): return an empty array if the peers cache parsing fails
  packages/core-p2p/src/utils/restore-peers.ts
Due: yarn lint, prettier --write

fix(core-p2p): return an empty array if the peers cache parsing fails (#2061)
  packages/core-p2p/src/utils/restore-peers.ts
Due: yarn lint, prettier --write

refactor: order by desc
  packages/core-api/src/repositories/transactions.ts
Due: yarn lint, prettier --write

fix: use asc for block transactions
  packages/core-api/src/repositories/transactions.ts
Due: yarn lint, prettier --write

refactor(core-p2p): Make verifiedBlocks a member of PeerVerifier class
  packages/core-p2p/src/peer-verifier.ts
Due: yarn lint, prettier --write

fix: compilation failure here.
  packages/core-database/__tests__/database-service.test.ts
  packages/core-database/__tests__/repositories/delegates.test.ts
  packages/core-database/__tests__/repositories/wallets.test.ts
Due: yarn lint, prettier --write

fix(core-api): always sort transactions by sequence and the requested field (#2058)
  packages/core-api/src/repositories/transactions.ts
Due: yarn lint, prettier --write

test: add queue + utils tests to core-blockchain
  packages/core-blockchain/__tests__/queue/process.test.ts
  packages/core-blockchain/__tests__/queue/rebuild.test.ts
  packages/core-blockchain/__tests__/utils/tick-sync-tracker.test.ts
Due: yarn lint, prettier --write

docs: preliminary 2.1 changelog
  CHANGELOG.md
Due: prettier --write
