Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

refactor(core-api): do not bind directly handler to class method to allow extending response (#4045)
  __tests__/unit/core-p2p/socket-server/controllers/blocks.test.ts
  packages/core-api/src/routes/blockchain.ts
  packages/core-api/src/routes/blocks.ts
  packages/core-api/src/routes/delegates.ts
  packages/core-api/src/routes/locks.ts
  packages/core-api/src/routes/node.ts
  packages/core-api/src/routes/peers.ts
  packages/core-api/src/routes/rounds.ts
  packages/core-api/src/routes/transactions.ts
  packages/core-api/src/routes/votes.ts
  packages/core-api/src/routes/wallets.ts
Due: yarn lint, prettier --write

fix: use getRegisteredHandlers()
  packages/core-api/src/controllers/node.ts
Due: yarn lint, prettier --write

chore: extend /node/fees and /transactions/fees
  packages/core-magistrate-api/src/service-provider.ts
Due: yarn lint, prettier --write

fix(core-api): use getRegisteredHandlers() to get all registered handlers in /node/fees controller (#4046)
  packages/core-api/src/controllers/node.ts
Due: yarn lint, prettier --write

feat(core-transactions): unvote+vote transaction (#4044)
  __tests__/unit/core-transactions/handlers/two/vote.test.ts
  packages/core-transactions/src/handlers/one/vote.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

chore(magistrate-api): extend /node/fees and /transactions/fees with entities static fees (#4047)
  packages/core-magistrate-api/src/service-provider.ts
Due: yarn lint, prettier --write

test(core): increase test coverage
  packages/core/src/utils/snapshot-progress-renderer.ts
Due: yarn lint, prettier --write

test(core): increase test coverage (#4049)
  packages/core/src/utils/snapshot-progress-renderer.ts
Due: yarn lint, prettier --write

test(core-kernel): increase test coverage (#4032)
  __tests__/unit/core-kernel/bootstrap/service-providers/__stubs__/service-providers.ts
  __tests__/unit/core-kernel/bootstrap/service-providers/register-service-providers.test.ts
  __tests__/unit/core-kernel/ioc/selectors.test.ts
  __tests__/unit/core-kernel/services/events/drivers/memory.test.ts
  __tests__/unit/core-kernel/services/log/drivers/memory.test.ts
  __tests__/unit/core-kernel/services/search/errors.test.ts
  __tests__/unit/core-kernel/services/search/standard-criteria-service.test.ts
  __tests__/unit/core-kernel/support/instance-manager.test.ts
  __tests__/unit/core-kernel/utils/ipc-subprocess.test.ts
  packages/core-kernel/src/bootstrap/service-providers/register-service-providers.ts
  packages/core-kernel/src/services/cache/drivers/memory.ts
  packages/core-kernel/src/services/config/watcher.ts
  packages/core-kernel/src/services/events/drivers/memory.ts
  packages/core-kernel/src/services/log/drivers/memory.ts
  packages/core-kernel/src/services/pipeline/drivers/memory.ts
  packages/core-kernel/src/services/queue/drivers/memory.ts
  packages/core-kernel/src/services/search/standard-criteria-service.ts
  packages/core-kernel/src/services/validation/drivers/joi.ts
  packages/core-kernel/src/utils/ipc-handler.ts
  packages/core-kernel/src/utils/is-block-chained.ts
  packages/core-kernel/src/utils/search.ts
Due: yarn lint, prettier --write

test(core-api): increase coverage for controllers
  __tests__/unit/core-api/controllers/controller.test.ts
  __tests__/unit/core-api/controllers/delegates.test.ts
  __tests__/unit/core-api/controllers/locks.test.ts
  __tests__/unit/core-api/controllers/transactions.test.ts
  __tests__/unit/core-api/controllers/wallets.test.ts
  packages/core-api/src/controllers/controller.ts
Due: yarn lint, prettier --write

test(core-api): test plugins
  __tests__/unit/core-api/__support__/app.ts
  __tests__/unit/core-api/__support__/index.ts
  __tests__/unit/core-api/__support__/server.ts
  __tests__/unit/core-api/plugins/cache.test.ts
  __tests__/unit/core-api/plugins/dot-separated-query.test.ts
  __tests__/unit/core-api/plugins/hapi-ajv.test.ts
  __tests__/unit/core-api/plugins/pagination.test.ts
  __tests__/unit/core-api/plugins/rate-limit.test.ts
  __tests__/unit/core-api/plugins/whitelist.test.ts
  __tests__/unit/core-api/server.test.ts
Due: yarn lint, prettier --write

deps(crypto): update bcrypto
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

deps(crypto): update bcrypto (#4051)
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

release: 2.7.0
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

wip
  CHANGELOG.md
  yarn.lock
Due: prettier --write

wip
  yarn.lock
Due: none

chore(crypto): aip36 milestone for mainnet
  packages/crypto/src/networks/mainnet/milestones.json
Due: prettier --write

test(core-api): add routes tests
  __tests__/unit/core-api/routes/__fixtures__/index.ts
  __tests__/unit/core-api/routes/__fixtures__/results.ts
  __tests__/unit/core-api/routes/__fixtures__/server-defaults.ts
  __tests__/unit/core-api/routes/blockchain.test.ts
  __tests__/unit/core-api/routes/blocks.test.ts
  __tests__/unit/core-api/routes/delegates.test.ts
  __tests__/unit/core-api/routes/locks.test.ts
  __tests__/unit/core-api/routes/node.test.ts
  __tests__/unit/core-api/routes/peers.test.ts
  __tests__/unit/core-api/routes/rounds.test.ts
  __tests__/unit/core-api/routes/transactions.test.ts
  __tests__/unit/core-api/routes/votes.test.ts
  __tests__/unit/core-api/routes/wallets.test.ts
  packages/core-api/src/routes/wallets.ts
Due: yarn lint, prettier --write

chore(crypto): aip36 milestone for mainnet (#4053)
  packages/crypto/src/networks/mainnet/milestones.json
Due: prettier --write

wip
  CHANGELOG.md
Due: prettier --write

chore(core-p2p): rate limit on outgoing sockets
  __tests__/integration/core-p2p/peer-communicator.test.ts
  packages/core-p2p/src/peer-connector.ts
Due: yarn lint, prettier --write

fix(core-p2p): peer broadcast only { ip } needed
  packages/core-interfaces/src/core-p2p/peer.ts
  packages/core-p2p/src/peer.ts
  packages/core-p2p/src/socket-server/versions/peer.ts
Due: yarn lint, prettier --write

fix(core-p2p): rate limit and peer broadcast (#4054)
  __tests__/integration/core-p2p/peer-communicator.test.ts
  packages/core-interfaces/src/core-p2p/peer.ts
  packages/core-p2p/src/peer-connector.ts
  packages/core-p2p/src/peer.ts
  packages/core-p2p/src/socket-server/versions/peer.ts
Due: yarn lint, prettier --write

release: 2.7.0 (#4052)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

wip
  CHANGELOG-2.X.md
  CHANGELOG.md
Due: prettier --write

test(core-api): test schemas
  __tests__/unit/core-api/schemas.test.ts
Due: yarn lint, prettier --write

chore(core-blockchain): set stateStore.lastDownloadedBlock
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/state-machine/actions/download-blocks.ts
Due: yarn lint, prettier --write

Update CHANGELOG-2.X.md
  CHANGELOG-2.X.md
Due: prettier --write

docs: 3.0 changelog (#4055)
  CHANGELOG-2.X.md
  CHANGELOG.md
Due: prettier --write

chore(core-blockchain): clear queue if some block are not processed
  packages/core-blockchain/src/blockchain.ts
Due: yarn lint, prettier --write

test(core-api): test delegate search service
  __tests__/unit/core-api/services/__fixtures__/delegates.ts
  __tests__/unit/core-api/services/__fixtures__/index.ts
  __tests__/unit/core-api/services/delegate-search-service.test.ts
Due: yarn lint, prettier --write

test(core-api): add lock-search-service tests
  __tests__/unit/core-api/services/__fixtures__/index.ts
  __tests__/unit/core-api/services/__fixtures__/locks.ts
  __tests__/unit/core-api/services/lock-search-service.test.ts
Due: yarn lint, prettier --write

test(core-api): add wallet-search-service tests
  __tests__/unit/core-api/services/wallet-search-service.test.ts
Due: yarn lint, prettier --write

fix(core-p2p): destroy connection after terminate
  packages/core-p2p/src/peer-connector.ts
Due: yarn lint, prettier --write

fix(core-p2p): destroy connection after terminate (#4065)
  packages/core-p2p/src/peer-connector.ts
Due: yarn lint, prettier --write

release: 2.7.1
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

v3 docker updates
  docker/production/devnet/docker-compose-build.yml
  docker/production/devnet/docker-compose.yml
  docker/production/entrypoint.sh
  docker/production/mainnet/docker-compose.yml
  scripts/docker/templates/devnet/Dockerfile
  scripts/docker/templates/devnet/docker-compose.yml
  scripts/docker/templates/testnet/Dockerfile
  scripts/docker/templates/testnet/docker-compose.yml
Due: none
