Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

fix: htlc refund tx handler use performGenericWalletChecks instead of super.throwIfCannotBeApplied
  packages/core-transactions/src/handlers/htlc-refund.ts
Due: yarn lint, prettier --write

chore(core-transactions): elaborate the unexpected nonce error
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/handlers/transaction.ts
Due: yarn lint, prettier --write

test: mock missing wsServer
  __tests__/unit/core-p2p/socket-server/worker.test.ts
Due: yarn lint, prettier --write

fix(core-p2p): disconnect external connections to internal endpoints
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-p2p/src/enums.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix: htlc refund handler to use performGenericWalletChecks (+ fix e2e tests) (#2944)
  __tests__/e2e/tests/scenarios/scenario1/htlc-claim/1.create-lock-txs.action.js
  __tests__/e2e/tests/scenarios/scenario1/htlc-refund/1.create-lock-txs.action.js
  packages/core-transactions/src/handlers/htlc-refund.ts
Due: yarn lint, prettier --write

release: 2.5.25
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

release: 2.5.25 (#2946)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

perf: use lodash to efficiently remove forged transactions (#2942)
  packages/core-transaction-pool/package.json
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

perf: Avoid O(m*n) when filtering pool txs and simplify the code (#2941)
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

chore(core-transactions): elaborate the unexpected nonce error (#2943)
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/handlers/transaction.ts
Due: yarn lint, prettier --write

misc: lint, yarn.lock
  packages/core-transaction-pool/src/connection.ts
  yarn.lock
Due: yarn lint, prettier --write

fix: index recipient wallet during bootstrap
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/multi-payment.ts
  packages/core-transactions/src/handlers/multi-signature.ts
Due: yarn lint, prettier --write

Merge branch 'develop' into refactor/expired-transactions
  __tests__/e2e/tests/scenarios/scenario1/htlc-claim/1.create-lock-txs.action.js
  __tests__/e2e/tests/scenarios/scenario1/htlc-refund/1.create-lock-txs.action.js
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  __tests__/unit/crypto/transactions/factory.test.ts
  __tests__/unit/crypto/transactions/utils.test.ts
  packages/core-transaction-pool/package.json
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/memory.ts
  packages/core-transactions/src/errors.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/crypto/src/errors.ts
  packages/crypto/src/transactions/deserializer.ts
  packages/crypto/src/transactions/factory.ts
  packages/crypto/src/transactions/types/htlc-lock.ts
Due: yarn lint, prettier --write

refactor: strengthen a nonce check in performGenericWalletChecks()
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-state/src/wallets/wallet.ts
  packages/core-transaction-pool/src/.connection.ts.swp
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/handlers/transaction.ts
Due: yarn lint, prettier --write

test: extend the TempWalletManager test to test the TempWalletManager class
  __tests__/unit/core-state/wallets/temp-wallet-manager.test.ts
Due: yarn lint, prettier --write

refactor(pool): remove unnecessary check from validateTransactions()
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

test(core-marketplace): functional tests (multisig and second passphrase)
  __tests__/functional/transaction-forging/bridgechain-registration.test.ts
  __tests__/functional/transaction-forging/bridgechain-resignation.test.ts
  __tests__/functional/transaction-forging/bridgechain-update.test.ts
  __tests__/functional/transaction-forging/business-registration.test.ts
  __tests__/functional/transaction-forging/business-resignation.test.ts
  __tests__/functional/transaction-forging/business-update.test.ts
  yarn.lock
Due: yarn lint, prettier --write

fix: range selection in pool's getTransactions()
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

do not exit on timedatectl error
  install.sh
Due: none

chore(install): Should not exit on `timedatectl` error. (#2953)
  install.sh
Due: none

refactor: locks endpoint
  packages/core-api/src/handlers/locks/schema.ts
  packages/core-database/src/repositories/utils/search-entries.ts
  packages/core-database/src/repositories/utils/sort-entries.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
Due: yarn lint, prettier --write

update milestone
  packages/crypto/src/networks/testnet/milestones.json
Due: prettier --write

test: update
  __tests__/unit/core-database/repositories/delegates-business-repository.test.ts
  __tests__/unit/core-database/repositories/wallets-business-repository.test.ts
  packages/core-api/src/handlers/wallets/methods.ts
Due: yarn lint, prettier --write

refactor: merge delegate repository into wallet repository
  packages/core-api/src/handlers/delegates/methods.ts
  packages/core-api/src/handlers/locks/controller.ts
  packages/core-api/src/handlers/locks/methods.ts
  packages/core-api/src/handlers/wallets/methods.ts
  packages/core-api/src/services/transformer.ts
  packages/core-blockchain/src/replay/memory-database-service.ts
  packages/core-database/src/database-service-factory.ts
  packages/core-database/src/database-service.ts
  packages/core-database/src/index.ts
  packages/core-database/src/repositories/delegates-business-repository.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/delegates-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/index.ts
  packages/core-interfaces/src/core-database/business-repository/wallets-business-repository.ts
  packages/core-interfaces/src/core-database/database-service.ts
Due: yarn lint, prettier --write

refactor: wallet/delegate search
  packages/core-api/src/handlers/index.ts
  packages/core-api/src/handlers/locks/controller.ts
  packages/core-api/src/handlers/locks/index.ts
  packages/core-api/src/handlers/locks/methods.ts
  packages/core-api/src/handlers/locks/routes.ts
  packages/core-api/src/handlers/locks/schema.ts
  packages/core-api/src/handlers/locks/transformer.ts
  packages/core-api/src/handlers/wallets/methods.ts
  packages/core-database/src/repositories/delegates-business-repository.ts
  packages/core-database/src/repositories/utils/filter-rows.ts
  packages/core-database/src/repositories/utils/search-entries.ts
  packages/core-database/src/repositories/utils/sort-entries.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/delegates-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/wallets-business-repository.ts
  packages/core-interfaces/src/core-database/database-repository/wallets-repository.ts
Due: yarn lint, prettier --write

test: wip
  __tests__/unit/core-database/repositories/wallets-business-repository.test.ts
Due: yarn lint, prettier --write

wip: endpoints for businesses/bridgechains
  __tests__/integration/core-api/utils.ts
  packages/core-api/src/defaults.ts
  packages/core-api/src/handlers/bridgechains/controller.ts
  packages/core-api/src/handlers/bridgechains/index.ts
  packages/core-api/src/handlers/bridgechains/methods.ts
  packages/core-api/src/handlers/bridgechains/routes.ts
  packages/core-api/src/handlers/bridgechains/schema.ts
  packages/core-api/src/handlers/bridgechains/transformer.ts
  packages/core-api/src/handlers/businesses/controller.ts
  packages/core-api/src/handlers/businesses/index.ts
  packages/core-api/src/handlers/businesses/methods.ts
  packages/core-api/src/handlers/businesses/routes.ts
  packages/core-api/src/handlers/businesses/schema.ts
  packages/core-api/src/handlers/businesses/transformer.ts
  packages/core-api/src/handlers/index.ts
  packages/core-api/src/services/transformer.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
Due: yarn lint, prettier --write

feat: /wallet/{id}/locks
  packages/core-api/src/defaults.ts
  packages/core-api/src/handlers/wallets/controller.ts
  packages/core-api/src/handlers/wallets/methods.ts
  packages/core-api/src/handlers/wallets/routes.ts
  packages/core-api/src/handlers/wallets/schema.ts
Due: yarn lint, prettier --write

refactor: add .entries(), .keys() to wallet index
  __tests__/unit/core-database/database-service.test.ts
  __tests__/unit/core-state/wallets/wallet-index.test.ts
  packages/core-database/src/repositories/wallets-business-repository.ts
  packages/core-interfaces/src/core-state/wallets.ts
  packages/core-marketplace/src/handlers/bridgechain-registration.ts
  packages/core-marketplace/src/handlers/business-registration.ts
  packages/core-state/src/wallets/wallet-index.ts
  packages/core-state/src/wallets/wallet-manager.ts
Due: yarn lint, prettier --write

fix: take cold wallets into account
  packages/core-database-postgres/src/repositories/transactions.ts
Due: yarn lint, prettier --write

test: locks endpoints
  __tests__/integration/core-api/handlers/locks.test.ts
  packages/core-api/src/defaults.ts
  packages/core-api/src/handlers/locks/methods.ts
Due: yarn lint, prettier --write

fix: include multipayment recipients in search
  packages/core-database-postgres/src/repositories/transactions.ts
Due: yarn lint, prettier --write

fix: empty result
  packages/core-api/src/handlers/wallets/methods.ts
Due: yarn lint, prettier --write

misc: remove unrelated change
  packages/crypto/src/networks/testnet/milestones.json
Due: prettier --write

test: extend the TempWalletManager test to test the TempWalletManager class (#2950)
  __tests__/unit/core-state/wallets/temp-wallet-manager.test.ts
Due: yarn lint, prettier --write

test: fix failing test
  __tests__/unit/core-database/database-service.test.ts
Due: yarn lint, prettier --write

test: bridgechain functional tests
  __tests__/functional/transaction-forging/bridgechain-registration.test.ts
  __tests__/functional/transaction-forging/bridgechain-resignation.test.ts
  __tests__/functional/transaction-forging/bridgechain-update.test.ts
  __tests__/functional/transaction-forging/business-registration.test.ts
  __tests__/functional/transaction-forging/business-resignation.test.ts
  __tests__/functional/transaction-forging/business-update.test.ts
Due: yarn lint, prettier --write

ci: setup github action workflows for testing and benchmarking
  .circleci/config.yml
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Due: none

ci: setup github action workflows for testing and benchmarking (#2955)
  .circleci/config.yml
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Due: none

ci: use different test coverage directories for each type
  .github/workflows/test.yml
Due: none
