Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

fix(core-database): sort transactions by sequence before saving block (#3900)
  packages/core-database/src/repositories/block-repository.ts
Due: yarn lint, prettier --write

refactor: explicit import/export from type-fest
  packages/core-kernel/src/types/index.ts
Due: yarn lint, prettier --write

fix(core-database): blocksInCurrentRound and forgingDelegates are not undefined
  __tests__/unit/core-database/database-service.test.ts
  packages/core-database/src/database-service.ts
Due: yarn lint, prettier --write

chore(core-database): fix class members order
  packages/core-database/src/database-service.ts
Due: yarn lint, prettier --write

Update packages/core-database/src/database-service.ts
  packages/core-database/src/database-service.ts
Due: yarn lint, prettier --write

chore(core-database): blocksInCurrentRound and forgingDelegates are arrays (#3902)
  __tests__/unit/core-database/database-service.test.ts
  packages/core-database/src/database-service.ts
Due: yarn lint, prettier --write

fix(crypto): use bundled file for `browser` field
  packages/crypto/package.json
  packages/crypto/rollup.config.js
Due: prettier --write

fix(crypto): use bundled file for `browser` field (#3904)
  packages/crypto/package.json
  packages/crypto/rollup.config.js
Due: prettier --write

fix(core-p2p): reduce download block size when getting no block
  __tests__/unit/core-p2p/network-monitor.test.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

fix(core-p2p): ping ports using head
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

fix(core-p2p): stricter rate limit for getBlocks
  packages/core-p2p/src/utils/build-rate-limiter.ts
Due: yarn lint, prettier --write

fix(core-transaction-pool): allow to discard possibly invalid txs from pool
  __tests__/functional/pool/pool.test.ts
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

fix(crypto): check sig length vs R and S length
  __tests__/unit/crypto/blocks/block.test.ts
  __tests__/unit/crypto/crypto/hash.test.ts
  packages/crypto/src/crypto/hash.ts
Due: yarn lint, prettier --write

fix(crypto): check that R and S is positive
  __tests__/unit/crypto/blocks/block.test.ts
  __tests__/unit/crypto/crypto/hash.test.ts
  packages/crypto/src/crypto/hash.ts
Due: yarn lint, prettier --write

fix(core-database): expose methods findByHeightRangeWithTransactions/ForDownload
  packages/core-database/src/database-service.ts
  packages/core-database/src/repositories/block-repository.ts
Due: yarn lint, prettier --write

release: 2.6.49
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

test(core-database): findByHeightRangeWithTransactionsForDownload
  __tests__/unit/core-database/database-service.test.ts
  __tests__/unit/core-database/service-provider.test.ts
  packages/core-database/src/repositories/block-repository.ts
Due: yarn lint, prettier --write

test(core-database): fix toBlockModelWithTransactions
  __tests__/functional/core-database/__support__/index.ts
Due: yarn lint, prettier --write

fix(core-p2p): disconnect form all ports on peer disconnect
  packages/core-p2p/src/listeners.ts
Due: yarn lint, prettier --write

test(core-p2p): listener
  __tests__/unit/core-p2p/listeners.test.ts
Due: yarn lint, prettier --write

fix(core-database): expose two methods for findByHeightRangeWithTransactions (#3906)
  __tests__/functional/core-database/__support__/index.ts
  __tests__/unit/core-database/database-service.test.ts
  __tests__/unit/core-database/service-provider.test.ts
  packages/core-database/src/database-service.ts
  packages/core-database/src/repositories/block-repository.ts
Due: yarn lint, prettier --write

chore(core-p2p): emit Enums.PeerEvent.Disconnect for disconnect
  packages/core-p2p/src/listeners.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

test(core-p2p): emit Enums.PeerEvent.Disconnect for disconnect
  __tests__/unit/core-p2p/listeners.test.ts
  __tests__/unit/core-p2p/network-monitor.test.ts
  __tests__/unit/core-p2p/peer-communicator.test.ts
Due: yarn lint, prettier --write

chore(deps): update node.js to v12.18.3
  .nvmrc
Due: none

Refactor wallet search
  __tests__/functional/transaction-forging/__support__/index.ts
  __tests__/integration/core-api/handlers/wallets.test.ts
  __tests__/unit/core-api/controllers/wallets.test.ts
  __tests__/unit/core-api/resources/wallet.test.ts
  __tests__/unit/core-kernel/utils/search.test.ts
  __tests__/unit/core-state/wallets/wallet-repository.test.ts
  __tests__/unit/core-state/wallets/wallet.test.ts
  packages/core-api/package.json
  packages/core-api/src/controllers/controller.ts
  packages/core-api/src/controllers/delegates.ts
  packages/core-api/src/controllers/wallets.ts
  packages/core-api/src/resources/wallet.ts
  packages/core-api/src/routes/wallets.ts
  packages/core-kernel/src/contracts/state/wallets.ts
  packages/core-kernel/src/utils/search.ts
  packages/core-manager/src/watcher-wallet.ts
  packages/core-state/src/wallets/utils/get-property.ts
  packages/core-state/src/wallets/wallet-repository.ts
  packages/core-state/src/wallets/wallet.ts
  packages/core-test-framework/src/utils/api.ts
Due: yarn lint, prettier --write

Disable core-p2p failing with 'to many open files' error
  .github/workflows/unit.yml
Due: none

fix(core-p2p): disconnect all sockets on peer disconnect (#3909)
  __tests__/unit/core-p2p/listeners.test.ts
  __tests__/unit/core-p2p/network-monitor.test.ts
  __tests__/unit/core-p2p/peer-communicator.test.ts
  packages/core-p2p/src/listeners.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

chore: remove wrong core-database-postgres package
  packages/core-database-postgres/src/migrations/20200304000000-add-type_group-index-to-transactions-table.sql
  packages/core-database-postgres/src/migrations/20200317000000-add-blocks-and-transactions-indexes.sql
Due: none

chore(core-kernel): remove abortRunningProcess on run
  packages/core/src/commands/core-run.ts
  packages/core/src/commands/forger-run.ts
Due: yarn lint, prettier --write

chore(core-manager): get data from ark-core or core-forger process
  packages/core-manager/src/actions/info-current-delegate.ts
  packages/core-manager/src/actions/info-last-forged-block.ts
  packages/core-manager/src/actions/info-next-forging-slot.ts
  packages/core-manager/src/utils/index.ts
  packages/core-manager/src/utils/process.ts
Due: yarn lint, prettier --write

test(core-p2p): find core or forger process if online
  __tests__/unit/core-manager/actions/info-current-delegate.test.ts
  __tests__/unit/core-manager/actions/info-last-forged-block.test.ts
  __tests__/unit/core-manager/actions/info-next-forging-slot.test.ts
  __tests__/unit/core-manager/utils/process.test.ts
Due: yarn lint, prettier --write

fix(core-p2p): limit max retries form infinity to 1
  packages/core-p2p/src/peer-connector.ts
Due: yarn lint, prettier --write

fix(core-p2p): limit max retries form infinity to 1 (#3916)
  packages/core-p2p/src/peer-connector.ts
Due: yarn lint, prettier --write

fix(deps): update dependency fast-levenshtein to v3
  packages/core-cli/package.json
  yarn.lock
Due: prettier --write

chore(core-manager): trigger processes from ark-core or ark-forger (#3915)
  __tests__/unit/core-manager/actions/info-current-delegate.test.ts
  __tests__/unit/core-manager/actions/info-last-forged-block.test.ts
  __tests__/unit/core-manager/actions/info-next-forging-slot.test.ts
  __tests__/unit/core-manager/utils/process.test.ts
  packages/core-manager/src/actions/info-current-delegate.ts
  packages/core-manager/src/actions/info-last-forged-block.ts
  packages/core-manager/src/actions/info-next-forging-slot.ts
  packages/core-manager/src/utils/index.ts
  packages/core-manager/src/utils/process.ts
  packages/core/src/commands/core-run.ts
  packages/core/src/commands/forger-run.ts
Due: yarn lint, prettier --write

chore: prepare new network config 🎉
  install.sh
  packages/core/bin/config/devnet/.env
  packages/core/bin/config/devnet/peers.json
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/mainnet/peers.json
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/.env
  packages/core/bin/config/testnet/delegates.json
  packages/core/bin/config/testnet/peers.json
  packages/core/bin/config/testnet/plugins.js
  packages/core/package.json
  packages/crypto/src/networks/devnet/exceptions.json
  packages/crypto/src/networks/devnet/genesisBlock.json
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/devnet/network.json
  packages/crypto/src/networks/mainnet/exceptions.json
  packages/crypto/src/networks/mainnet/genesisBlock.json
  packages/crypto/src/networks/mainnet/milestones.json
  packages/crypto/src/networks/mainnet/network.json
  packages/crypto/src/networks/testnet/exceptions.json
  packages/crypto/src/networks/testnet/genesisBlock.json
  packages/crypto/src/networks/testnet/milestones.json
  packages/crypto/src/networks/testnet/network.json
Due: prettier --write

fix: manually apply b0296e765700d0dc7c0356770bd3941da1609660
  packages/core-state/src/block-state.ts
Due: yarn lint, prettier --write

test: fix tests
  __tests__/functional/transaction-forging/htlc-lock.test.ts
  packages/core-test-framework/src/matchers/functional/unconfirmed.ts
  packages/core-test-framework/src/matchers/functional/vote-balance.ts
Due: yarn lint, prettier --write

test: re-add tests
  __tests__/unit/core-blockchain/blockchain.test.ts
Due: yarn lint, prettier --write

test: move test
  __tests__/unit/core-blockchain/blockchain.test.ts
Due: yarn lint, prettier --write
