Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

Send new height with postBlock response
  packages/core-p2p/package.json
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/socket-server/codecs/blocks.ts
  packages/core-p2p/src/socket-server/codecs/proto/blocks.proto
  packages/core-p2p/src/socket-server/codecs/proto/protos.d.ts
  packages/core-p2p/src/socket-server/codecs/proto/protos.js
  packages/core-p2p/src/socket-server/controllers/blocks.ts
Due: yarn lint, prettier --write

Fix core-forger/client unit test
  __tests__/unit/core-forger/client.test.ts
Due: yarn lint, prettier --write

Include status into postBlock response
  packages/core-kernel/src/contracts/p2p/blocks.ts
  packages/core-kernel/src/contracts/p2p/index.ts
  packages/core-p2p/package.json
  packages/core-p2p/src/socket-server/codecs/blocks.ts
  packages/core-p2p/src/socket-server/codecs/proto/blocks.proto
  packages/core-p2p/src/socket-server/codecs/proto/protos.d.ts
  packages/core-p2p/src/socket-server/codecs/proto/protos.js
  packages/core-p2p/src/socket-server/controllers/blocks.ts
Due: yarn lint, prettier --write

Fix core-p2p blocks controller unit test
  __tests__/unit/core-p2p/socket-server/controllers/blocks.test.ts
Due: yarn lint, prettier --write

Fix peer-communicator
  packages/core-p2p/src/peer-communicator.ts
Due: yarn lint, prettier --write

Fix peer-communicator unit test
  __tests__/unit/core-p2p/peer-communicator.test.ts
Due: yarn lint, prettier --write

Update p2p replySchema
  packages/core-p2p/src/schemas.ts
Due: yarn lint, prettier --write

Rethrow server error
  packages/core-test-framework/src/matchers/functional/accepted.ts
Due: yarn lint, prettier --write

Fix 500 at POST /transactions for good
  packages/core-transaction-pool/src/sender-state.ts
  packages/core-transaction-pool/src/service.ts
Due: yarn lint, prettier --write

Revert sender-state test
  __tests__/unit/core-transaction-pool/sender-state.test.ts
Due: yarn lint, prettier --write

Fix core-test-framework accepted matcher test
  __tests__/unit/core-test-framework/matchers/functional/accepted.test.ts
Due: yarn lint, prettier --write

Send new height with postBlock response (#4482)
  __tests__/unit/core-forger/client.test.ts
  __tests__/unit/core-p2p/peer-communicator.test.ts
  __tests__/unit/core-p2p/socket-server/controllers/blocks.test.ts
  packages/core-kernel/src/contracts/p2p/blocks.ts
  packages/core-kernel/src/contracts/p2p/index.ts
  packages/core-p2p/package.json
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/schemas.ts
  packages/core-p2p/src/socket-server/codecs/blocks.ts
  packages/core-p2p/src/socket-server/codecs/proto/blocks.proto
  packages/core-p2p/src/socket-server/codecs/proto/protos.d.ts
  packages/core-p2p/src/socket-server/codecs/proto/protos.js
  packages/core-p2p/src/socket-server/controllers/blocks.ts
Due: yarn lint, prettier --write

fix(core-test-framework): don't ignore server error in accepted matcher (#4472)
  __tests__/unit/core-test-framework/matchers/functional/accepted.test.ts
  __tests__/unit/core-transaction-pool/sender-state.test.ts
  packages/core-test-framework/src/matchers/functional/accepted.ts
  packages/core-transaction-pool/src/sender-state.ts
  packages/core-transaction-pool/src/service.ts
Due: yarn lint, prettier --write

fix(core-blockchain): get xstate action name (#4477)
  __tests__/unit/core-blockchain/state-machine/state-machine.test.ts
  packages/core-blockchain/src/state-machine/state-machine.ts
  yarn.lock
Due: yarn lint, prettier --write

chore(core-manager): use `levels` and `processes` params on `log.search` (#4478)
  __tests__/unit/core-manager/database/logs-database-service.test.ts
  packages/core-manager/src/actions/log-search.ts
  packages/core-manager/src/database/logs-database-service.ts
Due: yarn lint, prettier --write

chore(core-manager): optional parameters & type check (#4479)
  packages/core-manager/src/actions/log-download.ts
Due: yarn lint, prettier --write

release: 3.0.0-next.35
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.0.0-next.35 (#4483)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

deps(core-blockchain): fix xstate to 4.23.1
  packages/core-blockchain/package.json
Due: prettier --write

deps(core-jest-matchers): fix xstate to 4.23.1
  packages/core-jest-matchers/package.json
Due: prettier --write

deps: yarn.lock
  yarn.lock
Due: none

deps: fix xstate to 4.23.1 (#4484)
  packages/core-blockchain/package.json
  packages/core-jest-matchers/package.json
  yarn.lock
Due: prettier --write

release: 2.7.26
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

deps(root): update packages & set fixed versions
  package.json
  yarn.lock
Due: prettier --write

deps(core): update packages & set fixed versions
  packages/core/package.json
  yarn.lock
Due: prettier --write

deps(core-cli): update packages & set fixed versions
  packages/core-cli/package.json
  yarn.lock
Due: prettier --write

test(core): increase timeout
  __tests__/unit/core/commands/core-run.test.ts
Due: yarn lint, prettier --write

deps(core-api): update packages & set fixed versions
  packages/core-api/package.json
  yarn.lock
Due: prettier --write

deps(core-blockchain): update packages & set fixed versions
  packages/core-blockchain/package.json
  yarn.lock
Due: prettier --write

deps(core-database): update packages & set fixed versions
  packages/core-database/package.json
  yarn.lock
Due: prettier --write

deps(core-forger): update packages & set fixed versions
  packages/core-forger/package.json
  yarn.lock
Due: prettier --write

deps(core-kernel): update packages & set fixed versions
  packages/core-kernel/package.json
  yarn.lock
Due: prettier --write

deps(core-logger-pino): update packages & set fixed versions
  packages/core-logger-pino/package.json
  yarn.lock
Due: prettier --write

chore(core-logger-pino): fix types
  packages/core-logger-pino/src/driver.ts
Due: yarn lint, prettier --write

deps(core-magistrate-api): update packages & set fixed versions
  packages/core-magistrate-api/package.json
Due: prettier --write

deps(core-p2p): update packages & set fixed versions
  packages/core-p2p/package.json
  yarn.lock
Due: prettier --write

deps: update @hapi/hapi
  packages/core-manager/package.json
  packages/core-webhooks/package.json
Due: prettier --write

deps(core-magistrate-crypto): update packages & set fixed versions
  packages/core-magistrate-crypto/package.json
Due: prettier --write

deps(core-magistrate-transactions): update packages & set fixed versions
  packages/core-magistrate-transactions/package.json
Due: prettier --write

deps(core-manager): update packages & set fixed versions
  packages/core-manager/package.json
  yarn.lock
Due: prettier --write
