Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

chore(core-blockchain): use Queue from core-kernel
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/process-blocks-job.ts
  packages/core-blockchain/src/processor/handlers/unchained-handler.ts
  packages/core-blockchain/src/state-machine/actions/check-last-downloaded-block-synced.ts
  packages/core-blockchain/src/state-machine/actions/download-blocks.ts
  packages/core-blockchain/src/state-machine/actions/download-finished.ts
  packages/core-kernel/src/contracts/blockchain/blockchain.ts
Due: yarn lint, prettier --write

chore(core-kernel): extend Queue interface and null queue
  __tests__/unit/core-kernel/services/queue/drivers/null.test.ts
  packages/core-kernel/src/contracts/kernel/queue.ts
  packages/core-kernel/src/services/queue/drivers/null.ts
  yarn.lock
Due: yarn lint, prettier --write

chore(core-kernel): implement callback methods and remove EventEmitter
  __tests__/unit/core-kernel/services/queue/drivers/null.test.ts
  packages/core-kernel/src/contracts/kernel/queue.ts
  packages/core-kernel/src/services/queue/drivers/memory.ts
  packages/core-kernel/src/services/queue/drivers/null.ts
Due: yarn lint, prettier --write

Proxy based wallet
  packages/core-state/src/wallets/wallet.ts
  packages/core-state/src/wallets/watcher-wallet.ts
Due: yarn lint, prettier --write

chore(core-kernel): implement basic MemoryQueue
  __tests__/unit/core-kernel/services/queue/drivers/memory.test.ts
  packages/core-kernel/src/contracts/kernel/queue.ts
  packages/core-kernel/src/services/queue/drivers/memory.ts
Due: yarn lint, prettier --write

chore(core-kernel): add dispatching function to MemoryQueue
  __tests__/unit/core-kernel/services/queue/drivers/memory.test.ts
  packages/core-kernel/src/enums/events.ts
  packages/core-kernel/src/services/queue/drivers/memory.ts
Due: yarn lint, prettier --write

chore(core-kernel): log warning on error in MemoryQueue
  __tests__/unit/core-kernel/services/queue/drivers/memory.test.ts
  __tests__/unit/core-kernel/services/queue/service-provider.test.ts
  packages/core-kernel/src/services/queue/drivers/memory.ts
Due: yarn lint, prettier --write

feat(core-kernel): implement `Queue#isRunning/isStarted/onDrain/onError/onData` methods (#4077)
  __tests__/unit/core-kernel/services/queue/drivers/memory.test.ts
  __tests__/unit/core-kernel/services/queue/drivers/null.test.ts
  __tests__/unit/core-kernel/services/queue/service-provider.test.ts
  packages/core-kernel/src/contracts/kernel/queue.ts
  packages/core-kernel/src/enums/events.ts
  packages/core-kernel/src/services/queue/drivers/memory.ts
  packages/core-kernel/src/services/queue/drivers/null.ts
  yarn.lock
Due: yarn lint, prettier --write

Fix service provider test
  __tests__/unit/core-manager/service-provider.test.ts
Due: yarn lint, prettier --write

Wallet tests
  __tests__/unit/core-manager/watcher-wallet.test.ts
  __tests__/unit/core-state/setup.ts
  __tests__/unit/core-state/wallets/wallet.test.ts
Due: yarn lint, prettier --write

Don't crash forgetAttribute
  packages/core-state/src/wallets/wallet.ts
Due: yarn lint, prettier --write

Fix integration test
  __tests__/integration/core-api/services/__support__/setup.ts
Due: yarn lint, prettier --write

Fix cow wallet repo test
  __tests__/unit/core-state/wallets/wallet-repository-copy-on-write.test.ts
Due: yarn lint, prettier --write

Fix entity integration test
  __tests__/integration/core-magistrate-api/services/__support__/setup.ts
Due: yarn lint, prettier --write

chore(core-api): allow array (OR) in schemas Co-authored-by: Dmitry Tyshchenko <rainydio@gmail.com>
  packages/core-api/src/resources-new/delegate.ts
  packages/core-api/src/resources-new/lock.ts
  packages/core-api/src/resources-new/wallet.ts
  packages/core-api/src/routes/delegates.ts
  packages/core-api/src/routes/locks.ts
  packages/core-api/src/routes/wallets.ts
  packages/core-api/src/schemas.ts
  packages/core-magistrate-api/src/controllers/entities.ts
  packages/core-magistrate-api/src/resources/entity.ts
  packages/core-magistrate-api/src/routes/entities.ts
Due: yarn lint, prettier --write

test(core-api): add tests for array query params
  __tests__/integration/core-api/handlers/delegates.test.ts
  __tests__/integration/core-api/handlers/wallets.test.ts
Due: yarn lint, prettier --write

test: fix entity test
  __tests__/unit/core-magistrate-api/controllers/entities.test.ts
Due: yarn lint, prettier --write

chore(core-api): allow array query parameter in all schemas (#4079)
  __tests__/integration/core-api/handlers/delegates.test.ts
  __tests__/integration/core-api/handlers/wallets.test.ts
  __tests__/unit/core-magistrate-api/controllers/entities.test.ts
  packages/core-api/src/resources-new/delegate.ts
  packages/core-api/src/resources-new/lock.ts
  packages/core-api/src/resources-new/wallet.ts
  packages/core-api/src/routes/delegates.ts
  packages/core-api/src/routes/locks.ts
  packages/core-api/src/routes/wallets.ts
  packages/core-api/src/schemas.ts
  packages/core-magistrate-api/src/controllers/entities.ts
  packages/core-magistrate-api/src/resources/entity.ts
  packages/core-magistrate-api/src/routes/entities.ts
Due: yarn lint, prettier --write

refactor(core-state): fire wallet events (#4076)
  __tests__/integration/core-api/services/__support__/setup.ts
  __tests__/integration/core-magistrate-api/services/__support__/setup.ts
  __tests__/unit/core-manager/service-provider.test.ts
  __tests__/unit/core-manager/watcher-wallet.test.ts
  __tests__/unit/core-state/setup.ts
  __tests__/unit/core-state/wallets/wallet-repository-copy-on-write.test.ts
  __tests__/unit/core-state/wallets/wallet.test.ts
  packages/core-kernel/src/services/attributes/attribute-map.ts
  packages/core-manager/src/service-provider.ts
  packages/core-manager/src/watcher-wallet.ts
  packages/core-state/src/service-provider.ts
  packages/core-state/src/wallets/index.ts
  packages/core-state/src/wallets/indexers/wallet-indexes.ts
  packages/core-state/src/wallets/wallet-event.ts
  packages/core-state/src/wallets/wallet-factory.ts
  packages/core-state/src/wallets/wallet.ts
  packages/core-state/src/wallets/watcher-wallet.ts
Due: yarn lint, prettier --write

wip
  CHANGELOG.md
Due: prettier --write

docs: 3.0 changelog (#4081)
  CHANGELOG.md
Due: prettier --write

syntax: latest version instead of current
  packages/core-cli/src/services/updater.ts
Due: yarn lint, prettier --write

Add create wallets table migration
  packages/core-database/src/migrations/20201013000000-create-wallets-table.ts
Due: yarn lint, prettier --write

ci: develop workflow publish to next
  .github/workflows/publish-develop.yml
Due: none

release: 3.0.0-next.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.0.0-next.0 (#4083)
  .github/workflows/publish-develop.yml
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

wip
  packages/core/bin/config/devnet/app.json
  packages/core/bin/config/mainnet/app.json
  packages/core/bin/config/testnet/app.json
Due: prettier --write

release: 3.0.0-next.1
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore(core): remove `@arkecosystem/core-manager` from default configs (#4084)
  packages/core/bin/config/devnet/app.json
  packages/core/bin/config/mainnet/app.json
  packages/core/bin/config/testnet/app.json
Due: prettier --write

release: 3.0.0-next.1 (#4085)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

syntax(core-cli): latest version instead of current in updater output (#4082)
  packages/core-cli/src/services/updater.ts
Due: yarn lint, prettier --write

Don't crash forgetting undefined attribute
  packages/core-state/src/wallets/wallet.ts
Due: yarn lint, prettier --write

release: 3.0.0-next.2
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Don't throw if defaultValue was provided
  packages/core-kernel/src/services/attributes/attribute-map.ts
Due: yarn lint, prettier --write

fix(core-state): don't throw forgetting undefined attribute (#4086)
  packages/core-kernel/src/services/attributes/attribute-map.ts
  packages/core-state/src/wallets/wallet.ts
Due: yarn lint, prettier --write

release: 3.0.0-next.2 (#4087)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Fix vote bootstrap
  packages/core-transactions/src/handlers/two/vote.ts
Due: yarn lint, prettier --write

Remove unused imports
  packages/core-transactions/src/handlers/two/vote.ts
Due: yarn lint, prettier --write

Check vote transactions during bootstrap
  packages/core-transactions/src/handlers/two/vote.ts
Due: yarn lint, prettier --write

Use Number() to determine if input is height
  packages/core-api/src/controllers/blocks.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
