Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

chore: upgrade @arkecosystem/utils from 0.3.0 to 0.7.1
  packages/core-api/package.json
Due: prettier --write

misc: add database migration
  packages/core-database-postgres/src/migrations/20191003000000-migrate-vendor-field-hex.sql
  packages/core-database-postgres/src/migrations/index.ts
Due: yarn lint, prettier --write

chore: update dependency
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

refactor: add `round.missed` event (#3011)
  packages/core-database/src/database-service.ts
  packages/core-event-emitter/src/index.ts
Due: yarn lint, prettier --write

perf: memoize base58 de/encode
  packages/crypto/package.json
  packages/crypto/src/utils/base58.ts
  yarn.lock
Due: yarn lint, prettier --write

refactor: imports
  packages/crypto/src/crypto/bip38.ts
  packages/crypto/src/identities/address.ts
  packages/crypto/src/transactions/serializer.ts
Due: yarn lint, prettier --write

chore: upgrade @arkecosystem/utils from 0.3.0 to 0.7.1
  packages/core-database-postgres/package.json
Due: prettier --write

chore: upgrade @arkecosystem/utils from 0.3.0 to 0.7.1
  packages/core-jest-matchers/package.json
Due: prettier --write

perf(crypto): replace bignumber.js with native BigInt (#3010)
  __tests__/integration/core-api/handlers/locks.test.ts
  __tests__/integration/core-api/handlers/wallets.test.ts
  __tests__/integration/core-tester-cli/shared.ts
  __tests__/integration/core-transaction-pool/processor.test.ts
  __tests__/unit/core-state/wallets/wallet.test.ts
  __tests__/unit/core-transaction-pool/connection.forging.test.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/core-utils/delegate-calculator.test.ts
  __tests__/unit/core-webhooks/conditions.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  __tests__/unit/crypto/transactions/factory.test.ts
  __tests__/unit/crypto/validation/keywords.test.ts
  packages/core-magistrate-crypto/src/interfaces.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-resignation.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-snapshots/src/transport/codec.ts
  packages/core-tester-cli/src/signer.ts
  packages/core-transaction-pool/src/dynamic-fee.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-utils/src/delegate-calculator.ts
  packages/core-vote-report/src/handler.ts
  packages/core-webhooks/src/conditions.ts
  packages/core/src/commands/network/generate.ts
  packages/crypto/package.json
  packages/crypto/src/blocks/block.ts
  packages/crypto/src/blocks/deserializer.ts
  packages/crypto/src/blocks/serializer.ts
  packages/crypto/src/transactions/serializer.ts
  packages/crypto/src/transactions/types/htlc-lock.ts
  packages/crypto/src/transactions/types/multi-payment.ts
  packages/crypto/src/transactions/types/transfer.ts
  packages/crypto/src/utils/bignum.ts
  packages/crypto/src/validation/keywords.ts
  yarn.lock
Due: yarn lint, prettier --write

refactor(core-transactions): bootstrap transactions in batches (#2997)
  __tests__/unit/crypto/blocks/factory.test.ts
  __tests__/unit/crypto/fixtures/block.ts
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/queries/state-builder/assets-by-type.sql
  packages/core-database-postgres/src/queries/state-builder/count-type.sql
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-registration.ts
  packages/core-magistrate-transactions/src/handlers/business-resignation.ts
  packages/core-magistrate-transactions/src/handlers/business-update.ts
  packages/core-transactions/src/handlers/delegate-registration.ts
  packages/core-transactions/src/handlers/delegate-resignation.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/handlers/ipfs.ts
  packages/core-transactions/src/handlers/multi-payment.ts
  packages/core-transactions/src/handlers/multi-signature.ts
  packages/core-transactions/src/handlers/second-signature.ts
  packages/core-transactions/src/handlers/vote.ts
  packages/core-transactions/src/index.ts
  packages/core-transactions/src/transaction-reader.ts
Due: yarn lint, prettier --write

perf(crypto): memoize base58 de/encoding (#3015)
  packages/crypto/package.json
  packages/crypto/src/crypto/bip38.ts
  packages/crypto/src/identities/address.ts
  packages/crypto/src/transactions/serializer.ts
  packages/crypto/src/utils/base58.ts
  yarn.lock
Due: yarn lint, prettier --write

Update htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
Due: yarn lint, prettier --write

chore: upgrade @arkecosystem/utils from 0.3.0 to 0.7.1
  packages/core-database/package.json
Due: prettier --write

ci: run push events on master and develop, rest on PRs
  .github/workflows/benchmark.yml
  .github/workflows/functional.yml
  .github/workflows/test.yml
Due: none

wip
  packages/core-transactions/src/handlers/htlc-lock.ts
Due: yarn lint, prettier --write

refactor: remove `vendorFieldHex` (#3014)
  __tests__/integration/core-api/handlers/transactions.test.ts
  __tests__/integration/core-p2p/fixtures/block-with-transactions.json
  __tests__/unit/core-jest-matchers/models/transaction.test.ts
  __tests__/unit/core-jest-matchers/transactions/valid-second-signature.test.ts
  __tests__/unit/core-jest-matchers/transactions/valid.test.ts
  __tests__/unit/core-transaction-pool/connection.forging.test.ts
  __tests__/unit/crypto/fixtures/block.ts
  __tests__/unit/crypto/fixtures/multi-transaction.ts
  __tests__/unit/crypto/fixtures/transaction.ts
  __tests__/unit/crypto/transactions/builders/transactions/multi-payment.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  __tests__/unit/crypto/validation/formats.test.ts
  __tests__/utils/fixtures/unitnet/blocks.ts
  benchmark/fixtures/block/deserialized/transactions.json
  benchmark/fixtures/transaction/deserialized/0.json
  packages/core-api/src/handlers/blocks/schema.ts
  packages/core-api/src/handlers/transactions/schema.ts
  packages/core-api/src/handlers/votes/schema.ts
  packages/core-api/src/handlers/wallets/schema.ts
  packages/core-database-postgres/src/migrations/20191003000000-migrate-vendor-field-hex.sql
  packages/core-database-postgres/src/migrations/index.ts
  packages/core-database-postgres/src/models/transaction.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
  packages/core-snapshots/src/transport/codec.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/crypto/src/interfaces/transactions.ts
  packages/crypto/src/transactions/deserializer.ts
  packages/crypto/src/transactions/serializer.ts
  packages/crypto/src/transactions/types/schemas.ts
  packages/crypto/src/transactions/types/transaction.ts
  packages/crypto/src/validation/formats.ts
Due: yarn lint, prettier --write

perf: group multi-payment by senders and by recipients
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/queries/state-builder/multi-payments-grouped.sql
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-transactions/src/handlers/multi-payment.ts
  packages/core-transactions/src/transaction-reader.ts
Due: yarn lint, prettier --write

fix: packages/core-error-tracker-sentry/package.json & packages/core-error-tracker-sentry/.snyk to reduce vulnerabilities
  packages/core-error-tracker-sentry/.snyk
  packages/core-error-tracker-sentry/package.json
Due: prettier --write

wip
  packages/crypto/src/transactions/serializer.ts
  packages/crypto/src/transactions/types/multi-payment.ts
Due: yarn lint, prettier --write

fix: basic validation on incoming p2p data
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

refactor: p2p terminate socket on error
  .github/workflows/test.yml
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix: tests
  __tests__/integration/core-tester-cli/commands/send/transfer.test.ts
  __tests__/unit/core-jest-matchers/transactions/valid-second-signature.test.ts
  __tests__/unit/core-jest-matchers/transactions/valid.test.ts
  __tests__/unit/crypto/crypto/hash.test.ts
  __tests__/unit/crypto/transactions/__support__/index.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  __tests__/unit/crypto/transactions/factory.test.ts
  __tests__/unit/crypto/transactions/signer.test.ts
  __tests__/unit/crypto/transactions/utils.test.ts
  __tests__/unit/crypto/transactions/verifier.test.ts
  __tests__/unit/crypto/validation/validator.test.ts
  packages/core-jest-matchers/src/transactions/valid-second-signature.ts
  packages/crypto/src/utils/index.ts
Due: yarn lint, prettier --write

perf: ditch unnecessary reindex() in multi-payment bootstrap
  packages/core-transactions/src/handlers/multi-payment.ts
Due: yarn lint, prettier --write

Update test.yml
  .github/workflows/test.yml
Due: none

perf: ditch unnecessary reindex() in multi-payment bootstrap (#3022)
  packages/core-transactions/src/handlers/multi-payment.ts
Due: yarn lint, prettier --write

perf: htlc bootstrap
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/queries/state-builder/open-locks.sql
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/transaction-reader.ts
Due: yarn lint, prettier --write

perf: htlc claim and refund
  __tests__/integration/core-transactions/handlers/htlc-claim.test.ts
  __tests__/integration/core-transactions/handlers/htlc-refund.test.ts
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/queries/state-builder/claimed-locks.sql
  packages/core-database-postgres/src/queries/state-builder/open-locks.sql
  packages/core-database-postgres/src/queries/state-builder/refunded-locks.sql
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
Due: yarn lint, prettier --write

test: fix
  __tests__/unit/core-transactions/handler.test.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
Due: yarn lint, prettier --write

fix: undefined
  packages/core-snapshots/src/transport/codec.ts
Due: yarn lint, prettier --write

fix: vendor_field_hex -> vendor_field
  __tests__/unit/core-snapshots/transport/codec.test.ts
  packages/core-snapshots/src/db/index.ts
  packages/core-snapshots/src/db/queries/transactions/timestamp-range.sql
Due: yarn lint, prettier --write

perf(core-transactions): htlc bootstrap (#3023)
  __tests__/integration/core-transactions/handlers/htlc-claim.test.ts
  __tests__/integration/core-transactions/handlers/htlc-refund.test.ts
  __tests__/unit/core-transactions/handler.test.ts
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/queries/state-builder/claimed-locks.sql
  packages/core-database-postgres/src/queries/state-builder/open-locks.sql
  packages/core-database-postgres/src/queries/state-builder/refunded-locks.sql
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/business-repository/transactions-business-repository.ts
  packages/core-interfaces/src/core-database/database-repository/transactions-repository.ts
  packages/core-transactions/src/handlers/htlc-claim.ts
  packages/core-transactions/src/handlers/htlc-lock.ts
  packages/core-transactions/src/handlers/htlc-refund.ts
  packages/core-transactions/src/transaction-reader.ts
Due: yarn lint, prettier --write

feat(core-snapshots): add support for transaction nonces (#2925)
  __tests__/unit/core-snapshots/transport/codec.test.ts
  packages/core-snapshots/src/db/index.ts
  packages/core-snapshots/src/db/queries/transactions/timestamp-higher.sql
  packages/core-snapshots/src/db/queries/transactions/timestamp-range.sql
  packages/core-snapshots/src/transport/codec.ts
  packages/core-snapshots/src/transport/index.ts
Due: yarn lint, prettier --write

chore(core-magistrate): add missing dependencies
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  yarn.lock
Due: prettier --write

refactor(core-http-utils): add trailing-slash plugin
  packages/core-http-utils/package.json
  packages/core-http-utils/src/plugins/trailing-slash.ts
  packages/core-http-utils/src/server/create.ts
  packages/core-vote-report/package.json
  packages/core-vote-report/src/server.ts
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

wip
  packages/core-new-relic/package.json
  yarn.lock
Due: prettier --write

wip
  __tests__/unit/core-transaction-pool/connection.forging.test.ts
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-resignation.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-update.ts
  packages/crypto/src/blocks/serializer.ts
  packages/crypto/src/transactions/serializer.ts
  packages/crypto/src/transactions/types/htlc-lock.ts
  packages/crypto/src/transactions/types/multi-payment.ts
  packages/crypto/src/transactions/types/transfer.ts
Due: yarn lint, prettier --write
