Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

test(core-logger-pino): move tests under packages/core-logger-pino/__tests__
  packages/core-logger-pino/__tests__/driver.test.ts
  packages/core-logger-pino/__tests__/service-provider.test.ts
Due: yarn lint, prettier --write

test(core-magistrate-api): move tests under packages/core-magistrate-api/__tests__
  packages/core-magistrate-api/__tests__/__support__/index.ts
  packages/core-magistrate-api/__tests__/controllers/entities.test.ts
  packages/core-magistrate-api/__tests__/service-provider.test.ts
Due: yarn lint, prettier --write

test(core-magistrate-crypto): move tests under packages/core-magistrate-crypto/__tests__
  packages/core-magistrate-crypto/__tests__/builders/bridgechain-registration.test.ts
  packages/core-magistrate-crypto/__tests__/builders/bridgechain-resignation.test.ts
  packages/core-magistrate-crypto/__tests__/builders/bridgechain-update.test.ts
  packages/core-magistrate-crypto/__tests__/builders/business-registration.test.ts
  packages/core-magistrate-crypto/__tests__/builders/business-resignation.test.ts
  packages/core-magistrate-crypto/__tests__/builders/business-update.test.ts
  packages/core-magistrate-crypto/__tests__/builders/enity.test.ts
  packages/core-magistrate-crypto/__tests__/fixtures/entity/assets/generate.ts
  packages/core-magistrate-crypto/__tests__/fixtures/entity/schemas/register.ts
  packages/core-magistrate-crypto/__tests__/fixtures/entity/schemas/resign.ts
  packages/core-magistrate-crypto/__tests__/fixtures/entity/schemas/update.ts
  packages/core-magistrate-crypto/__tests__/fixtures/entity/schemas/utils.ts
  packages/core-magistrate-crypto/__tests__/helper.ts
  packages/core-magistrate-crypto/__tests__/transactions/bridgechain-registration.test.ts
  packages/core-magistrate-crypto/__tests__/transactions/bridgechain-resignation.test.ts
  packages/core-magistrate-crypto/__tests__/transactions/bridgechain-update.test.ts
  packages/core-magistrate-crypto/__tests__/transactions/business-registration.test.ts
  packages/core-magistrate-crypto/__tests__/transactions/business-resgination.test.ts
  packages/core-magistrate-crypto/__tests__/transactions/business-update.test.ts
  packages/core-magistrate-crypto/__tests__/transactions/entity.test.ts
Due: yarn lint, prettier --write

test(core-magistrate-transactions): move tests under packages/core-magistrate-transactions/__tests__
  packages/core-magistrate-transactions/__tests__/__support__/app.ts
  packages/core-magistrate-transactions/__tests__/handlers/__fixtures__/assets.ts
  packages/core-magistrate-transactions/__tests__/handlers/__fixtures__/entity/index.ts
  packages/core-magistrate-transactions/__tests__/handlers/__fixtures__/entity/register.ts
  packages/core-magistrate-transactions/__tests__/handlers/__fixtures__/entity/resign.ts
  packages/core-magistrate-transactions/__tests__/handlers/__fixtures__/entity/update.ts
  packages/core-magistrate-transactions/__tests__/handlers/__fixtures__/index.ts
  packages/core-magistrate-transactions/__tests__/handlers/__mocks__/transaction-error.ts
  packages/core-magistrate-transactions/__tests__/handlers/__mocks__/transaction-handler.ts
  packages/core-magistrate-transactions/__tests__/handlers/__mocks__/transaction-reader.ts
  packages/core-magistrate-transactions/__tests__/handlers/__mocks__/wallet-repository.ts
  packages/core-magistrate-transactions/__tests__/handlers/bridgechain-registration.test.ts
  packages/core-magistrate-transactions/__tests__/handlers/bridgechain-resignation.test.ts
  packages/core-magistrate-transactions/__tests__/handlers/bridgechain-update.test.ts
  packages/core-magistrate-transactions/__tests__/handlers/business-registration.test.ts
  packages/core-magistrate-transactions/__tests__/handlers/business-resignation.test.ts
  packages/core-magistrate-transactions/__tests__/handlers/business-update.test.ts
  packages/core-magistrate-transactions/__tests__/handlers/entity.test.ts
  packages/core-magistrate-transactions/__tests__/handlers/general.test.ts
  packages/core-magistrate-transactions/__tests__/service-provider.test.ts
Due: yarn lint, prettier --write

test(core-snapshots): move tests under packages/core-snapshots/__tests__
  packages/core-snapshots/__tests__/__fixtures__/1-52/blocks
  packages/core-snapshots/__tests__/__fixtures__/1-52/meta.json
  packages/core-snapshots/__tests__/__fixtures__/1-52/rounds
  packages/core-snapshots/__tests__/__fixtures__/1-52/transactions
  packages/core-snapshots/__tests__/__fixtures__/assets.ts
  packages/core-snapshots/__tests__/__fixtures__/index.ts
  packages/core-snapshots/__tests__/codecs/codec.test.ts
  packages/core-snapshots/__tests__/codecs/json-codec.test.ts
  packages/core-snapshots/__tests__/database-service.test.ts
  packages/core-snapshots/__tests__/filesystem/filesystem.test.ts
  packages/core-snapshots/__tests__/filesystem/stream-reader-writer.test.ts
  packages/core-snapshots/__tests__/progress-dispatcher.test.ts
  packages/core-snapshots/__tests__/progress-renderer.test.ts
  packages/core-snapshots/__tests__/repositories/block-repository.test.ts
  packages/core-snapshots/__tests__/repositories/round-repository.test.ts
  packages/core-snapshots/__tests__/repositories/transaction-repository.test.ts
  packages/core-snapshots/__tests__/service-provider.test.ts
  packages/core-snapshots/__tests__/snapshot-service.test.ts
  packages/core-snapshots/__tests__/verifier.test.ts
  packages/core-snapshots/__tests__/workers/actions/__support__/helper.ts
  packages/core-snapshots/__tests__/workers/actions/__support__/index.ts
  packages/core-snapshots/__tests__/workers/actions/test-worker-action.test.ts
  packages/core-snapshots/__tests__/workers/actions/worker-action.test.ts
  packages/core-snapshots/__tests__/workers/read-processor.test.ts
  packages/core-snapshots/__tests__/workers/worker-thread.test.ts
  packages/core-snapshots/__tests__/workers/worker-wrapper.test.ts
  packages/core-snapshots/__tests__/workers/worker.test.ts
Due: yarn lint, prettier --write

test(core-state): move tests under packages/core-state/__tests__
  packages/core-state/__tests__/__fixtures__/block1760000.ts
  packages/core-state/__tests__/__utils__/build-delegate-and-vote-balances.ts
  packages/core-state/__tests__/__utils__/compact.ts
  packages/core-state/__tests__/__utils__/fixture-generator.ts
  packages/core-state/__tests__/__utils__/make-chained-block.ts
  packages/core-state/__tests__/__utils__/make-vote-transactions.ts
  packages/core-state/__tests__/__utils__/transactions.ts
  packages/core-state/__tests__/__utils__/unique.ts
  packages/core-state/__tests__/block-state.test.ts
  packages/core-state/__tests__/database-interactions.test.ts
  packages/core-state/__tests__/database-interceptor.test.ts
  packages/core-state/__tests__/dpos/dpos-previous-round.test.ts
  packages/core-state/__tests__/dpos/dpos.test.ts
  packages/core-state/__tests__/round-state.test.ts
  packages/core-state/__tests__/service-provider.test.ts
  packages/core-state/__tests__/setup.ts
  packages/core-state/__tests__/state-builder.test.ts
  packages/core-state/__tests__/stores/blocks.test.ts
  packages/core-state/__tests__/stores/state.test.ts
  packages/core-state/__tests__/stores/transactions.test.ts
  packages/core-state/__tests__/transaction-validator.test.ts
  packages/core-state/__tests__/wallets/errors.test.ts
  packages/core-state/__tests__/wallets/wallet-index.test.ts
  packages/core-state/__tests__/wallets/wallet-repository-clone.test.ts
  packages/core-state/__tests__/wallets/wallet-repository-copy-on-write.test.ts
  packages/core-state/__tests__/wallets/wallet-repository.test.ts
  packages/core-state/__tests__/wallets/wallet.test.ts
Due: yarn lint, prettier --write

test(core-transaction-pool): move tests under packages/core-transaction-pool/__tests__
  packages/core-transaction-pool/__tests__/collator.test.ts
  packages/core-transaction-pool/__tests__/dynamic-fee-matcher.test.ts
  packages/core-transaction-pool/__tests__/errors.test.ts
  packages/core-transaction-pool/__tests__/expiration-service.test.ts
  packages/core-transaction-pool/__tests__/mempool.test.ts
  packages/core-transaction-pool/__tests__/processor-dynamic-fee-extension.test.ts
  packages/core-transaction-pool/__tests__/processor.test.ts
  packages/core-transaction-pool/__tests__/query.test.ts
  packages/core-transaction-pool/__tests__/sender-mempool.test.ts
  packages/core-transaction-pool/__tests__/sender-state.test.ts
  packages/core-transaction-pool/__tests__/service-provider.test.ts
  packages/core-transaction-pool/__tests__/service.test.ts
  packages/core-transaction-pool/__tests__/storage.test.ts
  packages/core-transaction-pool/__tests__/utils.test.ts
  packages/core-transaction-pool/__tests__/worker-pool.test.ts
  packages/core-transaction-pool/__tests__/worker-script-handler.test.ts
  packages/core-transaction-pool/__tests__/worker-script.test.ts
  packages/core-transaction-pool/__tests__/worker.test.ts
Due: yarn lint, prettier --write

test(core-transactions): move tests under packages/core-transactions/__tests__
  packages/core-transactions/__tests__/handlers/__fixtures__/htlc-secrets.ts
  packages/core-transactions/__tests__/handlers/__support__/app.ts
  packages/core-transactions/__tests__/handlers/handler-registry.test.ts
  packages/core-transactions/__tests__/handlers/one/delegate-registration.test.ts
  packages/core-transactions/__tests__/handlers/one/multi-signature-registration.test.ts
  packages/core-transactions/__tests__/handlers/one/second-signature-registration.test.ts
  packages/core-transactions/__tests__/handlers/one/transafer.test.ts
  packages/core-transactions/__tests__/handlers/one/vote.test.ts
  packages/core-transactions/__tests__/handlers/two/delegate-registration.test.ts
  packages/core-transactions/__tests__/handlers/two/delegate-resignation.test.ts
  packages/core-transactions/__tests__/handlers/two/htlc-claim.test.ts
  packages/core-transactions/__tests__/handlers/two/htlc-lock.test.ts
  packages/core-transactions/__tests__/handlers/two/htlc-refund.test.ts
  packages/core-transactions/__tests__/handlers/two/ipfs.test.ts
  packages/core-transactions/__tests__/handlers/two/multi-payment.test.ts
  packages/core-transactions/__tests__/handlers/two/multi-signature-registration.test.ts
  packages/core-transactions/__tests__/handlers/two/second-signature-registration.test.ts
  packages/core-transactions/__tests__/handlers/two/transaction.test.ts
  packages/core-transactions/__tests__/handlers/two/transfer.test.ts
  packages/core-transactions/__tests__/handlers/two/vote.test.ts
  packages/core-transactions/__tests__/service-provider.test.ts
Due: yarn lint, prettier --write

test(core-webhooks): move tests under packages/core-webhooks/__tests__
  packages/core-webhooks/__tests__/__fixtures__/assets.ts
  packages/core-webhooks/__tests__/conditions.test.ts
  packages/core-webhooks/__tests__/database.test.ts
  packages/core-webhooks/__tests__/listener.test.ts
  packages/core-webhooks/__tests__/server/__support__/index.ts
  packages/core-webhooks/__tests__/server/plugins/whitelist.test.ts
  packages/core-webhooks/__tests__/server/server.test.ts
  packages/core-webhooks/__tests__/server/utils.test.ts
  packages/core-webhooks/__tests__/service-provider.test.ts
Due: yarn lint, prettier --write

test(core-cli): fix process-manager.test.ts
  packages/core-cli/__tests__/services/process-manager.test.ts
Due: yarn lint, prettier --write

chore: update unit tests scripts
  package.json
Due: prettier --write

chore(github): update unit test workflow
  .github/workflows/unit.yml
Due: none

chore: lint only src
  package.json
Due: prettier --write

chore: lint:test checks __tests__ in packages
  package.json
Due: prettier --write

test(functional): add htlc fixtures
  __tests__/functional/transaction-forging/__fixtures__/htlc.ts
  __tests__/functional/transaction-forging/htlc-claim.test.ts
  __tests__/functional/transaction-forging/htlc-refund.test.ts
Due: yarn lint, prettier --write

chore: .gitignore only dist on first level
  .gitignore
  packages/core-cli/__tests__/commands/dist/hidden.js
  packages/core-cli/__tests__/commands/dist/index.js
  packages/core-cli/__tests__/commands/dist/visible.js
  packages/core-kernel/__tests__/__stubs__/stub-plugin-with-defaults/dist/defaults.js
  packages/core-kernel/__tests__/__stubs__/stub-plugin-with-defaults/dist/index.js
  packages/core-kernel/__tests__/__stubs__/stub-plugin-with-defaults/dist/service-provider.js
  packages/core-kernel/__tests__/__stubs__/stub-plugin/dist/index.js
  packages/core-kernel/__tests__/__stubs__/stub-plugin/dist/service-provider.js
Due: none

deps: update lerna from 3.22.1 to 4.0.0
  package.json
  yarn.lock
Due: prettier --write

test(core): fix tests
  packages/core/__tests__/commands/config-database.test.ts
Due: yarn lint, prettier --write

test(core-cli): fix tests
  packages/core-cli/__tests__/services/updater.test.ts
Due: yarn lint, prettier --write

deps: update devDependencies
  package.json
  yarn.lock
Due: prettier --write

fix(crypto): types
  packages/crypto/src/utils/is-valid-peer.ts
Due: yarn lint, prettier --write

fix(core-kernel): types
  packages/core-kernel/src/utils/ipc-handler.ts
Due: yarn lint, prettier --write

fix: eslint.json
  .eslintrc.json
Due: prettier --write

fix: .eslintrc.json
  .eslintrc.json
Due: prettier --write

deps: update lerna from 3.22.1 to 4.0.0 (#4546)
  package.json
  packages/core-cli/__tests__/services/updater.test.ts
  packages/core/__tests__/commands/config-database.test.ts
  yarn.lock
Due: yarn lint, prettier --write

deps: yarn.lock
  yarn.lock
Due: none

fix(crypto): member ordering
  packages/crypto/src/transactions/types/transaction.ts
Due: yarn lint, prettier --write

fix(core-cli): member ordering
  packages/core-cli/src/services/updater.ts
Due: yarn lint, prettier --write

chore: use eslint
  package.json
Due: prettier --write

deps: update boxen
  packages/core-cli/package.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

fix: boxen changes
  packages/core-cli/src/components/box.ts
  packages/core/src/commands/help.ts
Due: yarn lint, prettier --write

fix: remove unused import
  packages/core-magistrate-transactions/src/wallet-indexes.ts
Due: yarn lint, prettier --write

fix(core-magistrate-transactions): attribute type
  packages/core-magistrate-transactions/src/wallet-indexes.ts
Due: yarn lint, prettier --write

chore: use workspace:* protocol
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
Due: prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
