Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: bad imports and references
  packages/core-api/__tests__/repositories/transactions.test.ts
  packages/core-graphql/__tests__/api/address.test.ts
  packages/core-graphql/__tests__/api/block.test.ts
  packages/core-graphql/__tests__/api/blocks.test.ts
  packages/core-graphql/__tests__/api/transaction.test.ts
  packages/core-graphql/__tests__/api/transactions.test.ts
  packages/core-graphql/__tests__/api/wallet.test.ts
  packages/core-graphql/__tests__/api/wallets.test.ts
  packages/crypto/__tests__/validation/extensions/transactions/delegate-registration.test.ts
  packages/crypto/__tests__/validation/extensions/transactions/multi-signature.test.ts
  packages/crypto/__tests__/validation/extensions/transactions/second-signature.test.ts
  packages/crypto/__tests__/validation/extensions/transactions/transfer.test.ts
  packages/crypto/__tests__/validation/extensions/transactions/vote.test.ts
  packages/crypto/__tests__/validation/rules/address.test.ts
  packages/crypto/__tests__/validation/rules/public-key.test.ts
  packages/crypto/__tests__/validation/rules/username.test.ts
  packages/crypto/__tests__/validation/transaction-validator.test.ts
  packages/crypto/__tests__/validation/validator.test.ts
  packages/crypto/src/validation/engine.ts
Due: none

chore: run format instead of only lint for staged files
  .lintstagedrc.json
Due: prettier --write

test(crypto): go green
  .circleci/config.yml
  packages/crypto/__tests__/builder/transactions/delegate-registration.test.ts
  packages/crypto/__tests__/handlers/transactions/delegate-registration.test.ts
  packages/crypto/__tests__/handlers/transactions/multi-payment.test.ts
  packages/crypto/__tests__/validation/extensions/transactions/delegate-registration.test.ts
  packages/crypto/__tests__/validation/extensions/transactions/multi-signature.test.ts
  packages/crypto/__tests__/validation/extensions/transactions/second-signature.test.ts
  packages/crypto/__tests__/validation/extensions/transactions/transfer.test.ts
  packages/crypto/__tests__/validation/extensions/transactions/vote.test.ts
  packages/crypto/src/handlers/transactions/handler.ts
  packages/crypto/src/handlers/transactions/multi-payment.ts
  packages/crypto/src/models/block.ts
  packages/crypto/src/models/transaction.ts
  packages/crypto/src/utils/bignum.ts
  packages/crypto/src/validation/extensions/index.ts
  packages/crypto/src/validation/extensions/transactions/index.ts
  packages/crypto/src/validation/index.ts
  packages/crypto/src/validation/rules/index.ts
  packages/crypto/src/validation/validator.ts
Due: none

fix: invalid imports and destructs
  .circleci/config.yml
  packages/core-p2p/src/server/versions/internal/schemas/blocks.ts
  packages/core-transaction-pool/src/guard.ts
  packages/core-transaction-pool/src/mem-pool-transaction.ts
Due: none

test: fix imports, references and mocks
  packages/core-api/__tests__/v2/handlers/blocks.test.ts
  packages/core-api/__tests__/v2/handlers/delegates.test.ts
  packages/core-blockchain/__tests__/blockchain.test.ts
  packages/core-blockchain/__tests__/state-storage.test.ts
  packages/core-database/__tests__/wallet-manager.test.ts
  packages/core-deployer/__tests__/builder/genesis-block.test.ts
  packages/core-graphql/__tests__/__support__/utils.ts
  packages/core-graphql/__tests__/api/block.test.ts
  packages/core-graphql/__tests__/api/blocks.test.ts
  packages/core-graphql/__tests__/api/transaction.test.ts
  packages/core-graphql/__tests__/api/transactions.test.ts
  packages/core-graphql/__tests__/api/wallet.test.ts
  packages/core-graphql/src/index.ts
  packages/core-graphql/src/server.ts
  packages/core-p2p/src/peer.ts
  packages/core-test-utils/__tests__/matchers/transactions/types/delegate.test.ts
  packages/core-test-utils/src/fixtures/index.ts
  packages/core-test-utils/src/fixtures/testnet/blocks101to155.ts
  packages/core-test-utils/src/fixtures/testnet/blocks2to100.ts
  packages/core-test-utils/src/generators/transactions/delegate.ts
  packages/core-test-utils/src/generators/transactions/signature.ts
  packages/core-test-utils/src/generators/transactions/transaction.ts
  packages/core-test-utils/src/generators/transactions/transfer.ts
  packages/core-test-utils/src/generators/transactions/vote.ts
  packages/core-transaction-pool/__tests__/connection.test.ts
  packages/core-transaction-pool/__tests__/pool-wallet-manager.test.ts
  packages/core-utils/__tests__/supply-calculator.test.ts
  packages/crypto/src/models/delegate.ts
Due: none

test(core-blockchain): fix fixture import
  packages/core-blockchain/__tests__/blockchain.test.ts
  packages/core-blockchain/__tests__/state-storage.test.ts
Due: none

test(core-p2p): fix generator imports
  packages/core-p2p/__tests__/server/1.test.ts
  packages/core-p2p/__tests__/server/internal.test.ts
Due: none

fix(crypto): import handlers and call them by type
  packages/crypto/src/handlers/transactions/index.ts
Due: none

test: fix imports and references
  packages/core-api/__tests__/repositories/transactions.test.ts
  packages/core-database/__tests__/interface.test.ts
  packages/core-database/__tests__/repositories/delegates.test.ts
  packages/core-database/__tests__/repositories/wallets.test.ts
  packages/core-database/__tests__/wallet-manager.test.ts
Due: none

fix(core-tester-cli): execute dist files with node
  packages/core-tester-cli/package.json
Due: prettier --write

fix(core-api): create valid sub-resource cache keys
  packages/core-api/src/versions/2/blocks/methods.ts
  packages/core-api/src/versions/2/wallets/methods.ts
Due: none

fix: add txs with 2nd signature failes to exceptions on devnet
  packages/crypto/lib/networks/ark/devnet.json
Due: prettier --write

test(core): initial command tests
  packages/core-container/src/container.ts
  packages/core/__tests__/__support__/app.ts
  packages/core/__tests__/__support__/config/delegates.json
  packages/core/__tests__/__support__/config/genesisBlock.json
  packages/core/__tests__/__support__/config/peers.json
  packages/core/__tests__/__support__/config/plugins.js
  packages/core/__tests__/commands/start-forger.test.ts
  packages/core/__tests__/commands/start-relay-and-forger.test.ts
  packages/core/__tests__/commands/start-relay.test.ts
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/src/commands/index.ts
Due: eslint --fix, prettier --write

test(core-vote-report): initial vote report tests
  packages/core-vote-report/__tests__/__snapshots__/server.test.ts.snap
  packages/core-vote-report/__tests__/__support__/setup.ts
  packages/core-vote-report/__tests__/server.test.ts
  packages/core-vote-report/src/handler.ts
  packages/core-vote-report/src/server.ts
Due: none

misc: move files and styles
  packages/core-api/src/server.ts
  packages/core-elasticsearch/src/server/index.ts
  packages/core-p2p/src/server/index.ts
  packages/core-webhooks/__tests__/server.test.ts
  packages/core-webhooks/__tests__/server/handler.test.ts
  packages/core-webhooks/src/server/index.ts
Due: none

fix(core-elasticsearch): export server start method
  packages/core-elasticsearch/src/index.ts
  packages/core-elasticsearch/src/server/handler.ts
  packages/core-elasticsearch/src/server/index.ts
  packages/core-elasticsearch/src/server/routes.ts
  packages/core-graphql/src/server.ts
Due: none

fix(core-vote-report): use index as rank if rate is not available
  packages/core-vote-report/__tests__/__snapshots__/server.test.ts.snap
  packages/core-vote-report/src/handler.ts
Due: none

refactor(core-vote-report): remove delegate retrieval duplication
  packages/core-vote-report/__tests__/__snapshots__/server.test.ts.snap
  packages/core-vote-report/src/handler.ts
Due: none

test(core-vote-report): drop snapshot assertion for more reliable check
  .circleci/config.yml
  packages/core-vote-report/__tests__/__snapshots__/server.test.ts.snap
  packages/core-vote-report/__tests__/server.test.ts
Due: none

chore: run lint and then prettier on staged files
  .lintstagedrc.json
Due: prettier --write

refactor(core-api): drop transaction payload plugin in favor of joi validation
  .circleci/config.yml
  packages/core-api/__tests__/v2/handlers/transactions.test.ts
  packages/core-api/src/server.ts
Due: none

refactor(core-api): lower blocks index timeout
  packages/core-api/src/versions/2/blocks/methods.ts
Due: none

test(core-api): vendor field hex search
  packages/core-api/__tests__/v2/handlers/transactions.test.ts
Due: none

Update methods.ts
  packages/core-api/src/versions/2/blocks/methods.ts
Due: none

refactor(core-api): lower blocks index timeout (#1676)
  packages/core-api/src/versions/2/blocks/methods.ts
Due: none

test: remove no longer function assertion tests
  packages/core-blockchain/__tests__/blockchain.test.ts
  packages/core-container/src/container.ts
  packages/core-database/__tests__/interface.test.ts
Due: none

test(core): set timeout and force exit tests
  packages/core/__tests__/commands/start-forger.test.ts
  packages/core/__tests__/commands/start-relay-and-forger.test.ts
  packages/core/__tests__/commands/start-relay.test.ts
  packages/core/package.json
Due: prettier --write

fix: references, imports and bad method calls
  packages/core-forger/__tests__/__support__/setup.ts
  packages/core-forger/__tests__/client.test.ts
  packages/core-graphql/src/repositories/repository.ts
  packages/core-transaction-pool/src/pool-wallet-manager.ts
  packages/core-webhooks/__tests__/server.test.ts
  packages/core/__tests__/commands/start-forger.test.ts
  packages/core/__tests__/commands/start-relay-and-forger.test.ts
  packages/core/__tests__/commands/start-relay.test.ts
Due: none

test(core-transaction-pool): fix imports
  packages/core-transaction-pool/__tests__/connection.test.ts
Due: none

chore(tslint): add no-default-export rule to improve clarity
  .circleci/config.yml
  tslint.json
Due: prettier --write

feat: get peer fees
  .circleci/config.yml
  packages/core-p2p/lib/peer.js
Due: eslint --fix, prettier --write

chore: remove unused code
  packages/core-transaction-pool/lib/interface.js
Due: eslint --fix, prettier --write

feat: search peers' fees to determine if broadcast the transaction
  packages/core-transaction-pool/lib/utils/dynamicfee-matcher.js
  packages/core-transaction-pool/lib/utils/peers-matching-fee.js
Due: eslint --fix, prettier --write

fix: typo
  packages/core-p2p/lib/peer.js
Due: eslint --fix, prettier --write

chore: typo
  packages/core-transaction-pool/lib/utils/dynamicfee-matcher.js
Due: eslint --fix, prettier --write

fix: adapt to new exports
  packages/core-api/src/versions/2/transactions/schema.ts
  packages/core-json-rpc/src/server/methods/wallets/bip38/create.ts
  packages/core-json-rpc/src/server/methods/wallets/bip38/show.ts
  packages/core-json-rpc/src/server/utils/bip38-keys.ts
  packages/core-p2p/src/server/versions/1/handlers.ts
  packages/core-p2p/src/server/versions/internal/schemas/blocks.ts
  packages/crypto/src/builder/transactions/transaction.ts
  packages/crypto/src/validation/index.ts
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{json,md})
