Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

chore: remove empty dev dependencies
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger/package.json
  packages/core-snapshots-cli/package.json
  packages/core-test-utils/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core/package.json
Due: prettier --write

chore: update yarn.lock
  yarn.lock
Due: none

chore(core-debugger-cli): add @oclif/config dependency
  packages/core-debugger-cli/package.json
  yarn.lock
Due: prettier --write

test: add tests to blockchain
  packages/core-blockchain/__tests__/blockchain-networkStart.test.ts
  packages/core-blockchain/__tests__/blockchain.test.ts
Due: yarn lint, prettier --write

refactor(core-snapshots-cli): setup oclif
  packages/core-snapshots-cli/package.json
  packages/core-snapshots-cli/src/bin/run
  packages/core-snapshots-cli/src/bin/run.cmd
  packages/core-snapshots-cli/src/index.ts
  yarn.lock
Due: yarn lint, prettier --write

chore(core-debugger-cli): remove commander.js dependency
  packages/core-debugger-cli/package.json
Due: prettier --write

refactor(core-snapshots-cli): replace commander.js with @oclif
  packages/core-snapshots-cli/bin/run
  packages/core-snapshots-cli/bin/run.cmd
  packages/core-snapshots-cli/src/commands/command.ts
  packages/core-snapshots-cli/src/commands/create.ts
  packages/core-snapshots-cli/src/commands/import.ts
  packages/core-snapshots-cli/src/commands/index.ts
  packages/core-snapshots-cli/src/commands/rollback.ts
  packages/core-snapshots-cli/src/commands/truncate.ts
  packages/core-snapshots-cli/src/commands/verify.ts
  packages/core-snapshots-cli/src/index.ts
  packages/core-snapshots-cli/src/utils.ts
Due: yarn lint, prettier --write

refactor(core-debugger-cli): replace commander.js with @oclif
  packages/core-tester-cli/bin/run
  packages/core-tester-cli/bin/run.cmd
  packages/core-tester-cli/package.json
  packages/core-tester-cli/src/commands/command.ts
  packages/core-tester-cli/src/commands/delegate-registration.ts
  packages/core-tester-cli/src/commands/multi-signature.ts
  packages/core-tester-cli/src/commands/second-signature.ts
  packages/core-tester-cli/src/commands/transfer.ts
  packages/core-tester-cli/src/commands/vote.ts
  packages/core-tester-cli/src/index.ts
  yarn.lock
Due: yarn lint, prettier --write

refactor(core-p2p): Move the verified blocks container to core-utils
  packages/core-p2p/src/peer-verifier.ts
  packages/core-p2p/src/verified-blocks.js
  packages/core-utils/src/capped-set.ts
  packages/core-utils/src/index.ts
Due: yarn lint, prettier --write

chore: ignore a few things for coverage
  .codecov.yml
Due: none

test: add state-storage, block-processor, handlers tests (blockchain)
  packages/core-blockchain/__tests__/processor/block-processor.test.ts
  packages/core-blockchain/__tests__/processor/handlers/accept-handler.test.ts
  packages/core-blockchain/__tests__/processor/handlers/exception-handler.test.ts
  packages/core-blockchain/__tests__/state-storage.test.ts
Due: yarn lint, prettier --write

refactor(core-tester-cli): change method visibility and extract shared methods
  packages/core-api/src/index.ts
  packages/core-api/src/plugin.ts
  packages/core-api/src/repositories/index.ts
  packages/core-api/src/server.ts
  packages/core-snapshots/src/index.ts
  packages/core-tester-cli/__tests__/commands/command.test.ts
  packages/core-tester-cli/__tests__/commands/delegate-registration.test.ts
  packages/core-tester-cli/__tests__/commands/second-signature.test.ts
  packages/core-tester-cli/__tests__/commands/transfer.test.ts
  packages/core-tester-cli/__tests__/commands/vote.test.ts
  packages/core-tester-cli/src/commands/command.ts
  packages/core-tester-cli/src/commands/delegate-registration.ts
  packages/core-tester-cli/src/commands/multi-signature.ts
  packages/core-tester-cli/src/commands/second-signature.ts
  packages/core-tester-cli/src/commands/transfer.ts
  packages/core-tester-cli/src/commands/vote.ts
  packages/core-tester-cli/src/utils.ts
  packages/core/src/utils.ts
Due: yarn lint, prettier --write

fix(core-tester-cli): ensure we bootstrap the configuration
  packages/core-tester-cli/src/commands/command.ts
  packages/core-tester-cli/src/commands/delegate-registration.ts
  packages/core-tester-cli/src/commands/multi-signature.ts
  packages/core-tester-cli/src/commands/second-signature.ts
  packages/core-tester-cli/src/commands/transfer.ts
  packages/core-tester-cli/src/commands/vote.ts
Due: yarn lint, prettier --write

fix(core-tester-cli): remove unused code and use oclif bin
  packages/core-snapshots-cli/package.json
  packages/core-snapshots-cli/src/commands/create.ts
  packages/core-snapshots-cli/src/commands/rollback.ts
  packages/core-snapshots-cli/src/commands/verify.ts
Due: yarn lint, prettier --write

chore(core-snapshots-cli): remove config flag from commands
  packages/core-snapshots-cli/package.json
  packages/core-snapshots-cli/src/commands/create.ts
  packages/core-snapshots-cli/src/commands/verify.ts
Due: yarn lint, prettier --write

chore(core-snapshots-cli): rename create to dump
  packages/core-snapshots-cli/package.json
  packages/core-snapshots-cli/src/commands/dump.ts
Due: yarn lint, prettier --write

chore(core-snapshots-cli): rename import to restore
  packages/core-snapshots-cli/package.json
  packages/core-snapshots-cli/src/commands/restore.ts
Due: yarn lint, prettier --write

fix(core-snapshots-cli): default to -1
  packages/core-snapshots-cli/src/commands/dump.ts
Due: yarn lint, prettier --write

test: change test order to fix weird error
  packages/core-blockchain/__tests__/processor/block-processor.test.ts
Due: yarn lint, prettier --write

test: circleci reset sql tables before each test
  .circleci/config.yml
  .circleci/generateConfig.js
Due: none

chore(core-tester-cli): remove the commander.js dependency
  packages/core-tester-cli/package.json
Due: prettier --write

test: install postgresql-client for circleci
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

test: circleci drop tables before each test
  .circleci/config.yml
  .circleci/generateConfig.js
Due: none

refactor(core-snapshots-cli): replace commander.js with @oclif (#2050)
  packages/core-snapshots-cli/bin/run
  packages/core-snapshots-cli/bin/run.cmd
  packages/core-snapshots-cli/package.json
  packages/core-snapshots-cli/src/commands/command.ts
  packages/core-snapshots-cli/src/commands/create.ts
  packages/core-snapshots-cli/src/commands/dump.ts
  packages/core-snapshots-cli/src/commands/import.ts
  packages/core-snapshots-cli/src/commands/index.ts
  packages/core-snapshots-cli/src/commands/restore.ts
  packages/core-snapshots-cli/src/commands/rollback.ts
  packages/core-snapshots-cli/src/commands/truncate.ts
  packages/core-snapshots-cli/src/index.ts
  packages/core-snapshots-cli/src/utils.ts
  yarn.lock
Due: yarn lint, prettier --write

fix(core-p2p): fix tests from monitor.test.ts
  packages/core-p2p/__tests__/monitor.test.ts
Due: yarn lint, prettier --write

fix(core-blockchain): fix tests in blockchain.test.ts
  packages/core-blockchain/__tests__/blockchain.test.ts
Due: yarn lint, prettier --write

fix(core-blockchain): disable peer verification during blockchain tests
  packages/core-blockchain/__tests__/blockchain.test.ts
  packages/core-p2p/src/peer.ts
Due: yarn lint, prettier --write

fix(core-database): add getBlocksByHeight() to DummyConnection
  packages/core-database/__tests__/__fixtures__/dummy-class.ts
Due: yarn lint, prettier --write

refactor(core-debugger-cli): replace commander.js with @oclif (#2049)
  packages/core-debugger-cli/__tests__/commands/deserialize.test.ts
  packages/core-debugger-cli/__tests__/commands/identity.test.ts
  packages/core-debugger-cli/__tests__/commands/serialize.test.ts
  packages/core-debugger-cli/__tests__/commands/verify-second.test.ts
  packages/core-debugger-cli/__tests__/commands/verify.test.ts
  packages/core-debugger-cli/bin/debugger
  packages/core-debugger-cli/bin/run
  packages/core-debugger-cli/bin/run.cmd
  packages/core-debugger-cli/package.json
  packages/core-debugger-cli/src/commands/command.ts
  packages/core-debugger-cli/src/commands/deserialize.ts
  packages/core-debugger-cli/src/commands/identity.ts
  packages/core-debugger-cli/src/commands/serialize.ts
  packages/core-debugger-cli/src/commands/verify-second.ts
  packages/core-debugger-cli/src/commands/verify.ts
  packages/core-debugger-cli/src/index.ts
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  yarn.lock
Due: yarn lint, prettier --write

feat(crypto): implement error classes (#2038)
  CHANGELOG.md
  packages/crypto/__tests__/builder/transactions/multi-payment.test.ts
  packages/crypto/__tests__/crypto/bip38.test.ts
  packages/crypto/__tests__/crypto/crypto.test.ts
  packages/crypto/__tests__/crypto/fixtures/bip38.json
  packages/crypto/__tests__/identities/address.test.ts
  packages/crypto/__tests__/identities/keys.test.ts
  packages/crypto/__tests__/models/transaction.test.ts
  packages/crypto/src/builder/transactions/multi-payment.ts
  packages/crypto/src/builder/transactions/transaction.ts
  packages/crypto/src/crypto/bip38.ts
  packages/crypto/src/crypto/crypto.ts
  packages/crypto/src/deserializers/transaction.ts
  packages/crypto/src/errors.ts
  packages/crypto/src/identities/address.ts
  packages/crypto/src/identities/keys.ts
  packages/crypto/src/serializers/transaction.ts
Due: yarn lint, prettier --write

fix: commands
  packages/core-tester-cli/__tests__/commands/delegate-registration.test.ts
  packages/core-tester-cli/__tests__/commands/second-signature.test.ts
  packages/core-tester-cli/__tests__/commands/transfer.test.ts
  packages/core-tester-cli/__tests__/commands/vote.test.ts
  packages/core-tester-cli/__tests__/shared.ts
  packages/core-tester-cli/__tests__/utils.test.ts
  packages/core-tester-cli/src/commands/command.ts
  packages/core-tester-cli/src/commands/delegate-registration.ts
  packages/core-tester-cli/src/commands/multi-signature.ts
  packages/core-tester-cli/src/commands/second-signature.ts
  packages/core-tester-cli/src/commands/transfer.ts
  packages/core-tester-cli/src/commands/vote.ts
  packages/core-tester-cli/src/utils.ts
Due: yarn lint, prettier --write

test: remove obsolete tests
  packages/core-tester-cli/__tests__/commands/command.test.ts
Due: yarn lint, prettier --write

fix: add customFlag for numbers to allow decimals
  packages/core-tester-cli/src/commands/command.ts
  packages/core-tester-cli/src/commands/delegate-registration.ts
  packages/core-tester-cli/src/commands/multi-signature.ts
  packages/core-tester-cli/src/commands/second-signature.ts
  packages/core-tester-cli/src/commands/vote.ts
  packages/core-tester-cli/src/flags.ts
Due: yarn lint, prettier --write

fix: transfer flags
  packages/core-tester-cli/src/commands/transfer.ts
Due: yarn lint, prettier --write

refactor(core-tester-cli): replace commander.js with @oclif (#2051)
  packages/core-api/src/index.ts
  packages/core-api/src/plugin.ts
  packages/core-api/src/repositories/index.ts
  packages/core-api/src/server.ts
  packages/core-snapshots/src/index.ts
  packages/core-tester-cli/__tests__/commands/command.test.ts
  packages/core-tester-cli/__tests__/commands/delegate-registration.test.ts
  packages/core-tester-cli/__tests__/commands/second-signature.test.ts
  packages/core-tester-cli/__tests__/commands/transfer.test.ts
  packages/core-tester-cli/__tests__/commands/vote.test.ts
  packages/core-tester-cli/__tests__/shared.ts
  packages/core-tester-cli/__tests__/utils.test.ts
  packages/core-tester-cli/bin/run
  packages/core-tester-cli/bin/run.cmd
  packages/core-tester-cli/package.json
  packages/core-tester-cli/src/commands/command.ts
  packages/core-tester-cli/src/commands/delegate-registration.ts
  packages/core-tester-cli/src/commands/multi-signature.ts
  packages/core-tester-cli/src/commands/second-signature.ts
  packages/core-tester-cli/src/commands/transfer.ts
  packages/core-tester-cli/src/commands/vote.ts
  packages/core-tester-cli/src/flags.ts
  packages/core-tester-cli/src/index.ts
  packages/core-tester-cli/src/utils.ts
  packages/core/src/utils.ts
Due: yarn lint, prettier --write

refactor: move genesisBlock to network config and remove extraneous config
  packages/core-container/__tests__/__stubs__/config/dynamicFees.json
  packages/core-container/__tests__/__stubs__/config/exceptions.json
  packages/core-container/__tests__/__stubs__/config/genesisBlock.json
  packages/core-container/__tests__/__stubs__/config/milestones.json
  packages/core-container/__tests__/__stubs__/config/network.json
  packages/core-container/__tests__/config/loaders/file-loader.test.ts
  packages/core-container/src/config/index.ts
  packages/core/src/config/testnet.1/delegates.json
  packages/core/src/config/testnet.1/peers.json
  packages/core/src/config/testnet.1/plugins.js
  packages/core/src/config/testnet.2/delegates.json
  packages/core/src/config/testnet.2/peers.json
  packages/core/src/config/testnet.2/plugins.js
  packages/core/src/config/testnet.live/delegates.json
  packages/core/src/config/testnet.live/genesisBlock.json
  packages/core/src/config/testnet.live/peers.json
  packages/core/src/config/testnet.live/plugins.js
  packages/core/src/config/testnet/genesisBlock.json
  packages/crypto/src/networks/devnet/genesisBlock.json
  packages/crypto/src/networks/devnet/index.ts
  packages/crypto/src/networks/mainnet/genesisBlock.json
  packages/crypto/src/networks/mainnet/index.ts
  packages/crypto/src/networks/testnet/genesisBlock.json
  packages/crypto/src/networks/testnet/index.ts
  packages/crypto/src/networks/unitnet/genesisBlock.json
  packages/crypto/src/networks/unitnet/index.ts
Due: yarn lint, prettier --write

fix(core-container): adjust validation schema and stubs
  packages/core-container/__tests__/__stubs__/config/exceptions.json
  packages/core-container/__tests__/__stubs__/config/genesisBlock.json
  packages/core-container/__tests__/__stubs__/config/milestones.json
  packages/core-container/__tests__/__stubs__/config/network.json
  packages/core-container/src/config/network.ts
  packages/core-container/src/config/schema.ts
Due: yarn lint, prettier --write

fix(crypto): expose the genesisBlock
  packages/crypto/src/managers/config.ts
Due: yarn lint, prettier --write

chore: store development docker files in docker/development
  scripts/docker/generate-docker.js
Due: none

fix(crypto): add the correct genesisBlock
  packages/crypto/src/networks/unitnet/genesisBlock.json
Due: prettier --write
