Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

refactor(core-p2p): move check into PeerVerifier
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/peer-verifier.ts
Due: yarn lint, prettier --write

fix(core-p2p): verify claimed block header
  packages/core-p2p/src/peer-verifier.ts
Due: yarn lint, prettier --write

refactor(core-p2p): rename, add type
  packages/core-p2p/src/peer-verifier.ts
Due: yarn lint, prettier --write

refactor(core-p2p): remove log on success
  packages/core-p2p/src/peer-verifier.ts
Due: yarn lint, prettier --write

misc(core-p2p): Only log a single "success" on peer verification
  packages/core-p2p/src/peer-verifier.ts
Due: yarn lint, prettier --write

fix(core-p2p): use .verifySignatures()
  packages/core-p2p/src/peer-verifier.ts
Due: yarn lint, prettier --write

test: peer verifier
  __tests__/integration/core-p2p/peer-verifier.test.ts
Due: yarn lint, prettier --write

test: fix
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/unit/core-transaction-pool/mocks/core-container.ts
Due: yarn lint, prettier --write

fix: do not sort transactions in forger / update purgeByBlock logic for handling nonces (#2678)
  __tests__/unit/core-forger/delegate.test.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
  packages/core-forger/src/delegate.ts
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

release: 2.4.0
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.4.0 (#2682)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

refactor(core-api): remove ownerId parameter
  __tests__/unit/core-database/repositories/transactions-business-repository.test.ts
  packages/core-api/src/handlers/transactions/schema.ts
  packages/core-api/src/handlers/wallets/schema.ts
  packages/core-database/src/repositories/transactions-business-repository.ts
Due: yarn lint, prettier --write

refactor(core-database): remove custom operator logic
  __tests__/unit/core-database/repositories/utils/search-parameter-converter.test.ts
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-database/src/repositories/utils/search-parameter-converter.ts
  packages/core-interfaces/src/core-database/search/search-parameters.ts
Due: yarn lint, prettier --write

Revert "refactor(core-database): remove custom operator logic"
  __tests__/unit/core-database/repositories/utils/search-parameter-converter.test.ts
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-database/src/repositories/utils/search-parameter-converter.ts
  packages/core-interfaces/src/core-database/search/search-parameters.ts
Due: yarn lint, prettier --write

chore(docker): add CORE_LOG_LEVEL for mainnet
  docker/production/mainnet/mainnet.env
Due: none

chore(docker): add CORE_LOG_LEVEL for mainnet (#2683)
  docker/production/mainnet/mainnet.env
Due: none

chore(docker): add CORE_LOG_LEVEL_FILE for mainnet
  docker/production/mainnet/mainnet.env
Due: none

chore(docker): set core_channel for devnet
  docker/production/devnet/docker-compose-build.yml
Due: none

chore(core-database-postgres): rename a migration file
  packages/core-database-postgres/src/migrations/20190606000000-add-block-id-foreign-key-on-transactions.sql
  packages/core-database-postgres/src/migrations/index.ts
Due: yarn lint, prettier --write

chore(env): update environment files
  packages/core/bin/config/devnet/.env
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/testnet/.env
Due: none

chore(env): update environment files (#2684)
  packages/core/bin/config/devnet/.env
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/testnet/.env
Due: none

test: use version(2) for tx builder
  __tests__/unit/crypto/transactions/deserializer.test.ts
Due: yarn lint, prettier --write

Don't try to TRUNCATE the blocks table alone
  packages/core-database-postgres/src/postgres-connection.ts
  packages/core-database-postgres/src/queries/common/truncate-all-tables.sql
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/repositories/repository.ts
  packages/core-database/src/database-service.ts
  packages/core-interfaces/src/core-database/database-connection.ts
  packages/core-interfaces/src/core-database/database-repository/repository.ts
Due: yarn lint, prettier --write

refactor(core-forger): do not log network state
  packages/core-forger/src/manager.ts
Due: yarn lint, prettier --write

fix(core-forger): do not stop forging if possible double forgery detected
  __tests__/unit/core-forger/manager.test.ts
  packages/core-forger/src/manager.ts
Due: yarn lint, prettier --write

chore: switch docker to node 11
  docker/production/Dockerfile
Due: none

fix(core-transaction-pool): delay transaction purge on start until after StateBuilder finished (#2685)
  __tests__/unit/core-transaction-pool/connection.test.ts
  __tests__/unit/core-transaction-pool/mocks/core-container.ts
  docker/production/Dockerfile
  packages/core-database-postgres/src/state-builder.ts
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

fix(core-forger): ignore overheight block (#2687)
  __tests__/unit/core-forger/manager.test.ts
  packages/core-forger/src/manager.ts
Due: yarn lint, prettier --write

fix(core-p2p): check claimed state of peer (#2686)
  __tests__/integration/core-p2p/peer-verifier.test.ts
  packages/core-p2p/src/peer-verifier.ts
Due: yarn lint, prettier --write

docs: 2.4.0 changelog
  CHANGELOG.md
Due: prettier --write

docs: 2.4.0 changelog (#2688)
  CHANGELOG.md
Due: prettier --write

fix: remove quotes
  packages/core/bin/config/devnet/.env
Due: none

fix: remove quotes
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/testnet/.env
Due: none

chore(deps): use stable @arkecosystem/exchange-json-rpc (#2681)
  packages/core-exchange-json-rpc/package.json
  packages/core/bin/config/devnet/.env
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/testnet/.env
Due: prettier --write

refactor(core): start process in production env
  packages/core/src/shared/start.ts
Due: yarn lint, prettier --write

fix(install.sh): don't fail if apt-get or yum is not found
  install.sh
Due: none

fix(install.sh): only run ntpd if it is not already running
  install.sh
Due: none

fix(install.sh): use simpler way to check if the DB user exists
  install.sh
Due: none

refactor(core-database-postgres): use postgres to calculate fee statistics
  packages/core-api/package.json
  packages/core-api/src/handlers/node/controller.ts
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/queries/transactions/fee-statistics.sql
  packages/core-database-postgres/src/repositories/transactions.ts
Due: yarn lint, prettier --write
