Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

chore: update readme files with all contributors and fix banners
  README.md
  deprecated/core-graphql/README.md
  deprecated/core-logger-winston/README.md
  deprecated/core-snapshots-cli/README.md
  packages/core-api/README.md
  packages/core-blockchain/README.md
  packages/core-container/README.md
  packages/core-database-postgres/README.md
  packages/core-database/README.md
  packages/core-elasticsearch/README.md
  packages/core-error-tracker-bugsnag/README.md
  packages/core-error-tracker-sentry/README.md
  packages/core-event-emitter/README.md
  packages/core-forger/README.md
  packages/core-http-utils/README.md
  packages/core-jest-matchers/README.md
  packages/core-json-rpc/README.md
  packages/core-logger-pino/README.md
  packages/core-logger/README.md
  packages/core-p2p/README.md
  packages/core-snapshots/README.md
  packages/core-tester-cli/README.md
  packages/core-transaction-pool/README.md
  packages/core-transactions/README.md
  packages/core-utils/README.md
  packages/core-vote-report/README.md
  packages/core-webhooks/README.md
  packages/core/README.md
  packages/crypto/README.md
Due: prettier --write

chore: adjustments after merge
  .circleci/config.yml
  __tests__/integration/core-forger/__fixtures__/block.ts
  __tests__/integration/core-forger/client.test.ts
  __tests__/integration/core-webhooks/server.test.ts
  packages/core/bin/config/testnet/plugins.js
  packages/core/src/helpers/update.ts
  scripts/release.sh
Due: yarn lint, prettier --write

docs: fix broken references to plugins docs
  deprecated/core-graphql/README.md
  deprecated/core-logger-winston/README.md
  deprecated/core-snapshots-cli/README.md
  packages/core-api/README.md
  packages/core-blockchain/README.md
  packages/core-container/README.md
  packages/core-database/README.md
  packages/core-elasticsearch/README.md
  packages/core-error-tracker-bugsnag/README.md
  packages/core-error-tracker-sentry/README.md
  packages/core-event-emitter/README.md
  packages/core-forger/README.md
  packages/core-http-utils/README.md
  packages/core-json-rpc/README.md
  packages/core-logger/README.md
  packages/core-p2p/README.md
  packages/core-tester-cli/README.md
  packages/core-transaction-pool/README.md
  packages/core-transactions/README.md
  packages/core-utils/README.md
  packages/core-vote-report/README.md
  packages/core-webhooks/README.md
  packages/core/README.md
Due: prettier --write

fix: remove voter balances endpoint
  packages/core-api/src/versions/2/delegates/controller.ts
  packages/core-api/src/versions/2/delegates/methods.ts
  packages/core-api/src/versions/2/delegates/routes.ts
  packages/core-api/src/versions/2/delegates/schema.ts
Due: yarn lint, prettier --write

test: fix core-api test
  __tests__/integration/core-api/v2/handlers/peers.test.ts
Due: yarn lint, prettier --write

test: fix json-rpc / p2p tests after merge
  __tests__/integration/core-json-rpc/__support__/setup.ts
  __tests__/unit/core-p2p/monitor.test.ts
Due: yarn lint, prettier --write

docs: fix broken references to plugins docs (#2264)
  deprecated/core-graphql/README.md
  deprecated/core-logger-winston/README.md
  deprecated/core-snapshots-cli/README.md
  packages/core-api/README.md
  packages/core-blockchain/README.md
  packages/core-container/README.md
  packages/core-database/README.md
  packages/core-elasticsearch/README.md
  packages/core-error-tracker-bugsnag/README.md
  packages/core-error-tracker-sentry/README.md
  packages/core-event-emitter/README.md
  packages/core-forger/README.md
  packages/core-http-utils/README.md
  packages/core-json-rpc/README.md
  packages/core-logger/README.md
  packages/core-p2p/README.md
  packages/core-tester-cli/README.md
  packages/core-transaction-pool/README.md
  packages/core-transactions/README.md
  packages/core-utils/README.md
  packages/core-vote-report/README.md
  packages/core-webhooks/README.md
  packages/core/README.md
Due: prettier --write

chore: bump to 2.2.2
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore: changelog
  CHANGELOG.md
Due: prettier --write

chore: update readme files with all contributors and fix banners (#2266)
  README.md
  deprecated/core-graphql/README.md
  deprecated/core-logger-winston/README.md
  deprecated/core-snapshots-cli/README.md
  packages/core-api/README.md
  packages/core-blockchain/README.md
  packages/core-container/README.md
  packages/core-database-postgres/README.md
  packages/core-database/README.md
  packages/core-elasticsearch/README.md
  packages/core-error-tracker-bugsnag/README.md
  packages/core-error-tracker-sentry/README.md
  packages/core-event-emitter/README.md
  packages/core-forger/README.md
  packages/core-http-utils/README.md
  packages/core-jest-matchers/README.md
  packages/core-json-rpc/README.md
  packages/core-logger-pino/README.md
  packages/core-logger/README.md
  packages/core-p2p/README.md
  packages/core-snapshots/README.md
  packages/core-tester-cli/README.md
  packages/core-transaction-pool/README.md
  packages/core-transactions/README.md
  packages/core-utils/README.md
  packages/core-vote-report/README.md
  packages/core-webhooks/README.md
  packages/core/README.md
  packages/crypto/README.md
Due: prettier --write

chore: add missing oclif dependency
  deprecated/core-snapshots-cli/package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

chore: reference to root folder
  deprecated/core-snapshots-cli/package.json
  package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
Due: prettier --write

chore: add missing oclif dependency (#2267)
  deprecated/core-snapshots-cli/package.json
  package.json
  packages/core-tester-cli/package.json
  packages/core/package.json
  yarn.lock
Due: prettier --write

feat: p2p sockets wip - nb of workers from config
  packages/core-p2p/src/defaults.ts
  packages/core-p2p/src/socket-server/index.ts
Due: yarn lint, prettier --write

fix: p2p sockets wip - schema validation fix
  packages/core-p2p/src/reply-schemas.ts
Due: yarn lint, prettier --write

chore: p2p sockets wip - remove socket logging
  packages/core-p2p/src/monitor.ts
  packages/core-p2p/src/peer.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix: remove references to wallet table
  packages/core-snapshots/src/db/index.ts
Due: yarn lint, prettier --write

fix: dump and restore asset column
  packages/core-snapshots/src/db/queries/transactions/timestamp-range.sql
  packages/core-snapshots/src/db/utils/column-set.ts
  packages/core-snapshots/src/transport/codecs/core-codec.ts
  packages/core-snapshots/src/transport/codecs/core/index.ts
  packages/core-snapshots/src/transport/verification.ts
Due: yarn lint, prettier --write

fix(core-snapshots): remove wallets, add asset handling (#2269)
  packages/core-snapshots/src/db/index.ts
  packages/core-snapshots/src/db/queries/transactions/timestamp-range.sql
  packages/core-snapshots/src/db/utils/column-set.ts
  packages/core-snapshots/src/transport/codecs/core-codec.ts
  packages/core-snapshots/src/transport/codecs/core/index.ts
  packages/core-snapshots/src/transport/verification.ts
Due: yarn lint, prettier --write

fix: crash on rotate, use compression
  packages/core-logger-pino/package.json
  packages/core-logger-pino/src/driver.ts
  packages/core-tester-cli/package.json
Due: yarn lint, prettier --write

fix(core-logger-pino): crash on rotate, use compression (#2270)
  packages/core-logger-pino/package.json
  packages/core-logger-pino/src/driver.ts
  packages/core-tester-cli/package.json
Due: yarn lint, prettier --write

fix(core-p2p): pass all opts to httpie instead of just headers
  packages/core-p2p/src/peer.ts
Due: yarn lint, prettier --write

fix: p2p sockets handle socket errors in forger
  packages/core-forger/src/client.ts
Due: yarn lint, prettier --write

feat: p2p sockets adapt cleanPeers
  packages/core-interfaces/src/core-p2p/monitor.ts
  packages/core-p2p/src/monitor.ts
Due: yarn lint, prettier --write

chore: p2p sockets - handling socket error
  packages/core-p2p/src/peer.ts
Due: yarn lint, prettier --write

refactor: p2p sockets adapt unsuspend logic
  packages/core-p2p/src/court/guard.ts
Due: yarn lint, prettier --write

fix(core-p2p): pass all opts to httpie instead of just headers (#2271)
  packages/core-p2p/src/peer.ts
Due: yarn lint, prettier --write

chore: add missing dependencies
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-elasticsearch/package.json
  packages/core-http-utils/package.json
  packages/core-jest-matchers/package.json
  packages/core-tester-cli/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

refactor: remove weird code duplication
  packages/core-p2p/src/peer.ts
Due: yarn lint, prettier --write

chore: add missing dependencies (#2272)
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-elasticsearch/package.json
  packages/core-http-utils/package.json
  packages/core-jest-matchers/package.json
  packages/core-tester-cli/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

Remove source from image. Add build time ARG variable, so npm channel can be defined on image build.
  docker/production/Dockerfile
  docker/production/devnet/docker-compose-build.yml
  docker/production/devnet/docker-compose.yml
  docker/production/mainnet/docker-compose-build.yml
  docker/production/mainnet/docker-compose.yml
Due: none

build(docker): remove core source and add channel support (#2274)
  docker/production/Dockerfile
  docker/production/devnet/docker-compose-build.yml
  docker/production/devnet/docker-compose.yml
  docker/production/mainnet/docker-compose-build.yml
  docker/production/mainnet/docker-compose.yml
Due: none

fix
  docker/production/Dockerfile
Due: none

build(docker): clean the yarn cache after the installation (#2275)
  docker/production/Dockerfile
Due: none

refactor: peer reply validation Joi => AJV
  packages/core-p2p/src/peer.ts
  packages/core-p2p/src/reply-schemas.ts
Due: yarn lint, prettier --write

syntax: self => this
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

chore: remove unused endpoints
  packages/core-p2p/src/socket-server/versions/peer/index.ts
  yarn.lock
Due: yarn lint, prettier --write

misc(crypto): Update devnet blockid milestone
  packages/crypto/src/networks/devnet/milestones.json
Due: prettier --write

misc(crypto): Update devnet blockid milestone (#2277)
  packages/crypto/src/networks/devnet/milestones.json
Due: prettier --write

Merge branch 'master' into develop
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-api/src/versions/2/delegates/controller.ts
  packages/core-api/src/versions/2/delegates/methods.ts
  packages/core-api/src/versions/2/delegates/routes.ts
  packages/core-api/src/versions/2/delegates/schema.ts
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: yarn lint, prettier --write
