Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

chore(deps): update dependencies
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-interfaces/package.json
  packages/core-logger-winston/package.json
  packages/core-p2p/package.json
  packages/core-transaction-pool/package.json
  packages/core-transaction-pool/src/connection.ts
  packages/core-utils/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

fix(core-blockchain): async 3.0 drain
  packages/core-blockchain/src/blockchain.ts
Due: yarn lint, prettier --write

fix: do not suspend peer when not ready
  packages/core-blockchain/src/state-machine.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/peer-guard.ts
Due: yarn lint, prettier --write

chore(ci): disable node.js 12 for now
  .circleci/config.yml
  .circleci/generateConfig.js
Due: none

fix(core-blockchain): divide blocks into smaller chunks for batch processing (#2586)
  __tests__/unit/core-blockchain/processor/handlers/unchained-handler.test.ts
  __tests__/unit/core-blockchain/state-machine.test.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/processor/handlers/unchained-handler.ts
  packages/core-blockchain/src/state-machine.ts
Due: yarn lint, prettier --write

Revert "chore(ci): avoid using browser images because of nodegyp"
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

chore(ci): setup node.js 12 on CircleCI (#2474)
  .circleci/config.yml
  .circleci/configTemplate.json
  .circleci/generateConfig.js
  __tests__/unit/crypto/crypto/hdwallet.test.ts
  package.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-blockchain/src/blockchain.ts
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-forger/package.json
  packages/core-interfaces/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-winston/package.json
  packages/core-p2p/package.json
  packages/core-p2p/src/peer-connector.ts
  packages/core-p2p/src/peer-processors.ts
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transaction-pool/src/connection.ts
  packages/core-utils/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/crypto/src/crypto/hdwallet.ts
  yarn.lock
Due: yarn lint, prettier --write

fix: call saveBlocks before broadcast
  packages/core-blockchain/src/blockchain.ts
Due: yarn lint, prettier --write

fix: unused import
  packages/core-p2p/src/peer-guard.ts
Due: yarn lint, prettier --write

test: update mocks
  __tests__/unit/core-blockchain/mocks/blockchain.ts
  __tests__/unit/core-state/mocks/blockchain.ts
Due: yarn lint, prettier --write

test: more mocks
  __tests__/unit/core-blockchain/state-machine.test.ts
Due: yarn lint, prettier --write

test: obsolete
  __tests__/unit/core-p2p/peer-guard.test.ts
Due: yarn lint, prettier --write

test: last one
  __tests__/unit/core-p2p/peer-guard.test.ts
Due: yarn lint, prettier --write

chore(changelog): add latest changes for 2.4.0
  .circleci/config.yml
  CHANGELOG.md
Due: prettier --write

ci
  .circleci/config.yml
Due: none

chore(changelog): add latest changes for 2.4.0 (#2591)
  CHANGELOG.md
Due: prettier --write

fix: explicitely dont punish when app not ready
  packages/core-p2p/src/peer-guard.ts
Due: yarn lint, prettier --write

fix(core-p2p): do not suspend peer for `AppNotReady` (#2590)
  __tests__/unit/core-blockchain/mocks/blockchain.ts
  __tests__/unit/core-blockchain/state-machine.test.ts
  __tests__/unit/core-p2p/peer-guard.test.ts
  __tests__/unit/core-state/mocks/blockchain.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/state-machine.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/peer-guard.ts
Due: yarn lint, prettier --write

refactor: use dayjs as it now has official UTC support
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-interfaces/package.json
  packages/core-interfaces/src/core-p2p/peer-guard.ts
  packages/core-interfaces/src/core-p2p/peer.ts
  packages/core-interfaces/src/core-transaction-pool/connection.ts
  packages/core-logger-winston/package.json
  packages/core-logger-winston/src/formatter.ts
  packages/core-p2p/package.json
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/peer-guard.ts
  packages/core-p2p/src/peer-processors.ts
  packages/core-p2p/src/peer-suspension.ts
  packages/core-p2p/src/peer.ts
  packages/core-transaction-pool/package.json
  packages/core-transaction-pool/src/connection.ts
  packages/core-utils/package.json
  packages/core-utils/src/format-timestamp.ts
  packages/core/package.json
  packages/core/src/commands/top.ts
  packages/core/src/shared/status.ts
  packages/crypto/package.json
  packages/crypto/src/crypto/slots.ts
  yarn.lock
Due: yarn lint, prettier --write

refactor: use dayjs as it now has official UTC support
  __tests__/unit/core-p2p/peer-guard.test.ts
  __tests__/unit/core-p2p/peer-storage.test.ts
  __tests__/unit/core-p2p/peer-suspension.test.ts
  __tests__/unit/core-transaction-pool/__stubs__/connection.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
Due: yarn lint, prettier --write

fix(core-json-rpc): allow use of old and new block IDs
  .circleci/config.yml
  packages/core-json-rpc/src/server/methods/blocks/info.ts
  packages/core-json-rpc/src/server/methods/blocks/transactions.ts
Due: yarn lint, prettier --write

chore(ci): update circle config
  .circleci/config.yml
Due: none

release: 2.3.23
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-json-rpc): allow use of old and new block IDs (#2593)
  packages/core-json-rpc/src/server/methods/blocks/info.ts
  packages/core-json-rpc/src/server/methods/blocks/transactions.ts
Due: yarn lint, prettier --write

release: 2.3.23 (#2594)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Update peer-guard.ts
  packages/core-p2p/src/peer-guard.ts
Due: yarn lint, prettier --write

refactor(core-json-rpc): improved version of #2593
  packages/core-json-rpc/src/server/methods/blocks/info.ts
  packages/core-json-rpc/src/server/methods/blocks/transactions.ts
Due: yarn lint, prettier --write

refactor: use dayjs as it now has official UTC support (#2592)
  __tests__/unit/core-p2p/peer-guard.test.ts
  __tests__/unit/core-p2p/peer-storage.test.ts
  __tests__/unit/core-p2p/peer-suspension.test.ts
  __tests__/unit/core-transaction-pool/__stubs__/connection.ts
  __tests__/unit/core-transaction-pool/connection.test.ts
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database-postgres/src/repositories/transactions.ts
  packages/core-interfaces/package.json
  packages/core-interfaces/src/core-p2p/peer-guard.ts
  packages/core-interfaces/src/core-p2p/peer.ts
  packages/core-interfaces/src/core-transaction-pool/connection.ts
  packages/core-logger-winston/package.json
  packages/core-logger-winston/src/formatter.ts
  packages/core-p2p/package.json
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/peer-guard.ts
  packages/core-p2p/src/peer-processors.ts
  packages/core-p2p/src/peer-suspension.ts
  packages/core-p2p/src/peer.ts
  packages/core-transaction-pool/package.json
  packages/core-transaction-pool/src/connection.ts
  packages/core-utils/package.json
  packages/core-utils/src/format-timestamp.ts
  packages/core/package.json
  packages/core/src/commands/top.ts
  packages/core/src/shared/status.ts
  packages/crypto/package.json
  packages/crypto/src/crypto/slots.ts
  yarn.lock
Due: yarn lint, prettier --write

fix: replace date with day
  packages/core-database-postgres/src/repositories/transactions.ts
Due: yarn lint, prettier --write

refactor: use blockId schema for validation
  packages/core-json-rpc/src/server/modules.ts
Due: yarn lint, prettier --write

refactor(core-p2p): remove timeout banning
  packages/core-p2p/src/peer-guard.ts
Due: yarn lint, prettier --write

refactor(core-p2p): remove timeout banning
  __tests__/unit/core-p2p/peer-guard.test.ts
Due: yarn lint, prettier --write

fix(core-database-postgres): use day instead of date (#2595)
  packages/core-database-postgres/src/repositories/transactions.ts
Due: yarn lint, prettier --write

refactor(core-p2p): don't set peer latency to -1 when it has a timeout
  packages/core-p2p/src/peer-communicator.ts
  packages/core-p2p/src/peer-processors.ts
Due: yarn lint, prettier --write

chore: add core-state dependency to db-postgres
  packages/core-database-postgres/package.json
Due: prettier --write

fix(core-p2p): remove unused import
  packages/core-p2p/src/peer-processors.ts
Due: yarn lint, prettier --write

chore(core-database-postgres): add core-state dependency (#2598)
  packages/core-database-postgres/package.json
Due: prettier --write

refactor(core-json-rpc): use blockId schema for validation (#2596)
  packages/core-json-rpc/src/server/modules.ts
Due: yarn lint, prettier --write

fix: add core-state dependency
  packages/core-transaction-pool/package.json
Due: prettier --write

fix: one more
  packages/core-blockchain/package.json
Due: prettier --write
