Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

test(e2e): allow full sync testing (#2625)
  __tests__/e2e/bin/e2e
  __tests__/e2e/lib/generate-files.js
  __tests__/e2e/lib/test-runner.js
  __tests__/e2e/lib/utils/sync.sh
  __tests__/e2e/lib/utils/test-utils.js
  __tests__/e2e/package.json
Due: prettier --write

ci: enable node.js 12 jobs
  .circleci/config.yml
  .circleci/generateConfig.js
Due: none

fix: exit from install.sh if some of the commands fails
  install.sh
Due: none

fix: remove "continue;" statement, not inside a loop
  install.sh
Due: none

refactor: keep asking about db user/pass/name until valid input
  install.sh
Due: none

refactor: ask for a retry if installing core fails from install.sh
  install.sh
Due: none

refactor(core-webhooks): require all properties in schema
  packages/core-webhooks/src/server/schema.ts
Due: yarn lint, prettier --write

Update schema.ts
  packages/core-webhooks/src/server/schema.ts
Due: yarn lint, prettier --write

refactor(core-webhooks): check if a webhook exists before taking action on it
  packages/core-webhooks/src/conditions.ts
  packages/core-webhooks/src/database.ts
  packages/core-webhooks/src/server/index.ts
Due: yarn lint, prettier --write

fix(core-webhooks): return undefined if a lookup by ID fails
  packages/core-webhooks/src/database.ts
Due: yarn lint, prettier --write

test(core-webhooks): expect 404 to be returned for non-existent webhooks
  __tests__/integration/core-webhooks/__support__/setup.ts
  __tests__/integration/core-webhooks/__support__/utils.ts
  __tests__/integration/core-webhooks/server.test.ts
Due: yarn lint, prettier --write

test(core-webhooks): move server tests to unit tests
  .circleci/config.yml
  __tests__/unit/core-webhooks/__support__/setup.ts
  __tests__/unit/core-webhooks/__support__/utils.ts
  __tests__/unit/core-webhooks/server.test.ts
Due: yarn lint, prettier --write

types(core-webhooks): add return types for conditions
  packages/core-webhooks/src/conditions.ts
  packages/core-webhooks/src/listener.ts
Due: yarn lint, prettier --write

test(core-webhooks): remove unused helpers
  __tests__/unit/core-webhooks/__support__/setup.ts
  __tests__/unit/core-webhooks/__support__/utils.ts
  __tests__/unit/core-webhooks/server.test.ts
Due: yarn lint, prettier --write

test(core-webhooks): remove unused helpers
  __tests__/unit/core-webhooks/__support__/utils.ts
  __tests__/unit/core-webhooks/server.test.ts
Due: yarn lint, prettier --write

refactor: ask for a retry if installing core fails from install.sh (#2633)
  install.sh
Due: none

refactor: improve database configuration in install.sh script (#2632)
  install.sh
Due: none

fix: also check if tx can still be applied
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

fix: handle undefined curr
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

fix(core-webhooks): require all properties in schema and handle 404 resources (#2634)
  .circleci/config.yml
  __tests__/integration/core-webhooks/__support__/setup.ts
  __tests__/integration/core-webhooks/__support__/utils.ts
  __tests__/integration/core-webhooks/server.test.ts
  __tests__/unit/core-webhooks/server.test.ts
  packages/core-webhooks/src/conditions.ts
  packages/core-webhooks/src/database.ts
  packages/core-webhooks/src/listener.ts
  packages/core-webhooks/src/server/index.ts
  packages/core-webhooks/src/server/schema.ts
Due: yarn lint, prettier --write

fix(core-p2p): handle undefined `curr` during block download (#2636)
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

test: fix pool
  __tests__/unit/core-transaction-pool/connection.test.ts
Due: yarn lint, prettier --write

refactor: rephrase
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

fix(core-transaction-pool): check if transactions can still be applied before forging (#2635)
  __tests__/unit/core-transaction-pool/connection.test.ts
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

release: 2.4.0-next.9
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 2.4.0-next.9 (#2637)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore(changelog): add latest changes for 2.4.0
  CHANGELOG.md
Due: prettier --write

chore(changelog): add latest changes for 2.4.0 (#2638)
  CHANGELOG.md
Due: prettier --write

chore: prepare new network config 🎉
  install.sh
  packages/core/bin/config/devnet/.env
  packages/core/bin/config/devnet/peers.json
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/mainnet/peers.json
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/.env
  packages/core/bin/config/testnet/delegates.json
  packages/core/bin/config/testnet/peers.json
  packages/core/bin/config/testnet/plugins.js
  packages/core/package.json
  packages/crypto/src/networks/devnet/exceptions.json
  packages/crypto/src/networks/devnet/genesisBlock.json
  packages/crypto/src/networks/devnet/milestones.json
  packages/crypto/src/networks/devnet/network.json
  packages/crypto/src/networks/mainnet/exceptions.json
  packages/crypto/src/networks/mainnet/genesisBlock.json
  packages/crypto/src/networks/mainnet/milestones.json
  packages/crypto/src/networks/mainnet/network.json
  packages/crypto/src/networks/testnet/exceptions.json
  packages/crypto/src/networks/testnet/genesisBlock.json
  packages/crypto/src/networks/testnet/milestones.json
  packages/crypto/src/networks/testnet/network.json
Due: prettier --write

chore(yarn): build node_modules sequentially
  .yarnrc
Due: none

build: sequentially build modules with yarn (#2640)
  .yarnrc
Due: none

ci: use non-browser images
  .circleci/config.yml
  .circleci/configTemplate.json
Due: prettier --write

feat(core-api): allow easy retrieval of first and last block
  __tests__/integration/core-api/handlers/blocks.test.ts
  packages/core-api/src/handlers/blocks/controller.ts
  packages/core-api/src/handlers/blocks/routes.ts
  packages/core-api/src/handlers/blocks/schema.ts
  packages/core-api/src/handlers/blocks/transformer.ts
Due: yarn lint, prettier --write

chore(deps): add missing @hapi/boom and @hapi/joi dependencies
  packages/core-api/package.json
  packages/core-api/src/handlers/blocks/methods.ts
  packages/core-api/src/handlers/delegates/methods.ts
  packages/core-api/src/handlers/rounds/methods.ts
  packages/core-api/src/handlers/transactions/methods.ts
  packages/core-api/src/handlers/utils.ts
  packages/core-api/src/handlers/votes/methods.ts
  packages/core-api/src/handlers/wallets/methods.ts
Due: yarn lint, prettier --write

feat(core-api): allow easy retrieval of first and last block (#2641)
  __tests__/integration/core-api/handlers/blocks.test.ts
  packages/core-api/src/handlers/blocks/controller.ts
  packages/core-api/src/handlers/blocks/routes.ts
  packages/core-api/src/handlers/blocks/schema.ts
  packages/core-api/src/handlers/blocks/transformer.ts
Due: yarn lint, prettier --write

chore(deps): add missing @hapi/boom and @hapi/joi dependencies (#2642)
  packages/core-api/package.json
  packages/core-api/src/handlers/blocks/methods.ts
  packages/core-api/src/handlers/delegates/methods.ts
  packages/core-api/src/handlers/rounds/methods.ts
  packages/core-api/src/handlers/transactions/methods.ts
  packages/core-api/src/handlers/utils.ts
  packages/core-api/src/handlers/votes/methods.ts
  packages/core-api/src/handlers/wallets/methods.ts
Due: yarn lint, prettier --write

refactor(core-json-rpc): use @arkecosystem/core-json-rpc programmatically
  .circleci/config.yml
  __tests__/integration/core-api/__support__/setup.ts
  __tests__/integration/core-json-rpc/__support__/request.ts
  __tests__/integration/core-json-rpc/__support__/setup.ts
  __tests__/integration/core-json-rpc/blocks.test.ts
  __tests__/integration/core-json-rpc/transactions.test.ts
  __tests__/integration/core-json-rpc/wallets.test.ts
  __tests__/unit/core-utils/transform-plugins.test.ts
  __tests__/utils/config/testnet/plugins.js
  __tests__/utils/config/unitnet/plugins.js
  deprecated/core-json-rpc/.gitattributes
  deprecated/core-json-rpc/README.md
  deprecated/core-json-rpc/package.json
  deprecated/core-json-rpc/src/defaults.ts
  deprecated/core-json-rpc/src/index.ts
  deprecated/core-json-rpc/src/interfaces.ts
  deprecated/core-json-rpc/src/server/index.ts
  deprecated/core-json-rpc/src/server/modules.ts
  deprecated/core-json-rpc/src/server/services/database.ts
  deprecated/core-json-rpc/src/server/services/network.ts
  deprecated/core-json-rpc/src/server/services/processor.ts
  deprecated/core-json-rpc/src/server/utils.ts
  deprecated/core-json-rpc/tsconfig.json
  packages/core-api/src/versions/1/shared/transformers/ports.ts
  packages/core-api/src/versions/2/shared/transformers/ports.ts
  packages/core-exchange-json-rpc/README.md
  packages/core-exchange-json-rpc/package.json
  packages/core-exchange-json-rpc/src/defaults.ts
  packages/core-exchange-json-rpc/src/index.ts
  packages/core-exchange-json-rpc/tsconfig.json
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/plugins.js
  packages/core/package.json
  yarn.lock
Due: yarn lint, prettier --write

ci: update configuration
  .circleci/config.yml
Due: none

refactor: rename environment variables for Exchange JSON-RPC
  __tests__/utils/config/testnet/plugins.js
  __tests__/utils/config/unitnet/plugins.js
  deprecated/core-json-rpc/src/defaults.ts
  docker/production/README.md
  docker/production/devnet/devnet.env
  docker/production/mainnet/mainnet.env
  packages/core-exchange-json-rpc/src/defaults.ts
  packages/core/bin/config/devnet/.env
  packages/core/bin/config/devnet/plugins.js
  packages/core/bin/config/mainnet/.env
  packages/core/bin/config/mainnet/plugins.js
  packages/core/bin/config/testnet/.env
  packages/core/bin/config/testnet/plugins.js
Due: yarn lint, prettier --write

refactor: pass custom logger to exchange-json-rpc
  packages/core-exchange-json-rpc/package.json
  packages/core-exchange-json-rpc/src/index.ts
  yarn.lock
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
