Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

refactor: move yarn install into function
  install/develop.sh
Due: none

refactor: handle deb and rpm locale in a function
  install/develop.sh
Due: none

refactor: reduce duplication
  install/develop.sh
Due: none

feat: postgresql setup
  install/develop.sh
Due: none

feat: install deps and compile core
  install/develop.sh
Due: none

Create install.sh
  install.sh
Due: none

Delete develop.sh
  install/develop.sh
Due: none

chore: install script for core (#2016)
  install.sh
Due: none

refactor(crypto): remove validation rules and validator
  packages/crypto/__tests__/validation/rules/address.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/common.ts
  packages/crypto/__tests__/validation/rules/models/transactions/delegate-registration.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/delegate-resignation.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/ipfs.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/multi-payment.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/multi-signature.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/second-signature.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/timelock-transfer.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/transfer.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/vote.test.ts
  packages/crypto/__tests__/validation/rules/public-key.test.ts
  packages/crypto/__tests__/validation/rules/username.test.ts
  packages/crypto/__tests__/validation/validator.test.ts
  packages/crypto/src/validation/index.ts
  packages/crypto/src/validation/rules/address.ts
  packages/crypto/src/validation/rules/index.ts
  packages/crypto/src/validation/rules/models/transactions/delegate-registration.ts
  packages/crypto/src/validation/rules/models/transactions/delegate-resignation.ts
  packages/crypto/src/validation/rules/models/transactions/ipfs.ts
  packages/crypto/src/validation/rules/models/transactions/multi-payment.ts
  packages/crypto/src/validation/rules/models/transactions/multi-signature.ts
  packages/crypto/src/validation/rules/models/transactions/second-signature.ts
  packages/crypto/src/validation/rules/models/transactions/timelock-transfer.ts
  packages/crypto/src/validation/rules/models/transactions/transfer.ts
  packages/crypto/src/validation/rules/models/transactions/vote.ts
  packages/crypto/src/validation/rules/public-key.ts
  packages/crypto/src/validation/rules/username.ts
  packages/crypto/src/validation/validator.ts
Due: yarn lint, prettier --write

test(crypto): increase bignumber extension coverage
  packages/crypto/__tests__/validation/extensions/bignumber.test.ts
  packages/crypto/__tests__/validation/validator.test.ts
  packages/crypto/src/validation/extensions/bignumber.ts
  packages/crypto/src/validation/extensions/transactions/base.ts
  packages/crypto/src/validation/index.ts
  packages/crypto/src/validation/validator.ts
  packages/crypto/src/validation/validators/transaction.ts
Due: yarn lint, prettier --write

fix(crypto): use positive rule for number and bignumber
  packages/crypto/lib/validation/extensions/transactions/base.js
Due: none

fix(crypto): add missing bignumber rules
  packages/crypto/lib/validation/extensions/bignumber.js
Due: none

chore(crypto): bump version
  packages/core/package.json
Due: prettier --write

fix(crypto): expect fee to be number or bignumber
  packages/crypto/lib/validation/extensions/transactions/base.js
Due: none

test(crypto): skip multi payment handler due to new rules
  packages/crypto/__tests__/handlers/transactions/multi-payment.test.ts
Due: yarn lint, prettier --write

fix: condition senderWallet.balance === 0 didn't work with bignum
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

test: add tests to transaction-pool connection
  packages/core-test-utils/src/fixtures/unitnet/blocks.ts
  packages/core-transaction-pool/__tests__/__fixtures__/transactions.ts
  packages/core-transaction-pool/__tests__/connection.test.ts
Due: yarn lint, prettier --write

test: add tests to transaction-pool guard
  packages/core-transaction-pool/__tests__/guard.test.ts
Due: yarn lint, prettier --write

test: update generated tx to make it different than others
  packages/core-transaction-pool/__tests__/guard.test.ts
Due: yarn lint, prettier --write

fix: update the plugins.js file through the upgrade script
  scripts/upgrade/upgrade.js
Due: none

fix: update the plugins.js file through the upgrade script (#2022)
  scripts/upgrade/upgrade.js
Due: none

chore: delete pm2 processes before upgrading to avoid config issues
  scripts/upgrade.sh
Due: none

chore: add default notice to upgrade script
  scripts/upgrade/upgrade.js
Due: none

feat(core-p2p): Verify every peer's claimed state
  packages/core-interfaces/src/core-p2p/peer.ts
  packages/core-p2p/src/peer-verifier.ts
  packages/core-p2p/src/peer.ts
Due: yarn lint, prettier --write

feat(core-database): Implement a new database method getBlocksByHeight()
  packages/core-database-postgres/src/connection.ts
  packages/core-database-postgres/src/queries/blocks/find-by-height.sql
  packages/core-database-postgres/src/queries/index.ts
  packages/core-database-postgres/src/repositories/blocks.ts
  packages/core-database/src/interface.ts
Due: yarn lint, prettier --write

refactor: delegate test generator to allow setting username
  packages/core-test-utils/src/generators/transactions/delegate.ts
  packages/core-test-utils/src/generators/transactions/transaction.ts
Due: yarn lint, prettier --write

test: add tests for transaction-pool
  packages/core-transaction-pool/__tests__/dynamic-fee.test.ts
  packages/core-transaction-pool/__tests__/mem-pool-transaction.test.ts
  packages/core-transaction-pool/__tests__/pool-wallet-manager.test.ts
Due: yarn lint, prettier --write

fix: add devnet block exceptions
  packages/crypto/src/networks/devnet/exceptions.json
Due: prettier --write

fix(crypto): add missing devnet block exceptions (#2023)
  packages/crypto/src/networks/devnet/exceptions.json
Due: prettier --write

refactor(crypto): remove validation rules and validator (#2021)
  packages/crypto/__tests__/handlers/transactions/multi-payment.test.ts
  packages/crypto/__tests__/validation/engine.test.ts
  packages/crypto/__tests__/validation/extensions/bignumber.test.ts
  packages/crypto/__tests__/validation/rules/address.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/common.ts
  packages/crypto/__tests__/validation/rules/models/transactions/delegate-registration.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/delegate-resignation.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/ipfs.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/multi-payment.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/multi-signature.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/second-signature.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/timelock-transfer.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/transfer.test.ts
  packages/crypto/__tests__/validation/rules/models/transactions/vote.test.ts
  packages/crypto/__tests__/validation/rules/public-key.test.ts
  packages/crypto/__tests__/validation/rules/username.test.ts
  packages/crypto/__tests__/validation/validator.test.ts
  packages/crypto/src/validation/engine.ts
  packages/crypto/src/validation/extensions/bignumber.ts
  packages/crypto/src/validation/extensions/transactions/base.ts
  packages/crypto/src/validation/index.ts
  packages/crypto/src/validation/rules/address.ts
  packages/crypto/src/validation/rules/index.ts
  packages/crypto/src/validation/rules/models/transactions/delegate-registration.ts
  packages/crypto/src/validation/rules/models/transactions/delegate-resignation.ts
  packages/crypto/src/validation/rules/models/transactions/ipfs.ts
  packages/crypto/src/validation/rules/models/transactions/multi-payment.ts
  packages/crypto/src/validation/rules/models/transactions/multi-signature.ts
  packages/crypto/src/validation/rules/models/transactions/second-signature.ts
  packages/crypto/src/validation/rules/models/transactions/timelock-transfer.ts
  packages/crypto/src/validation/rules/models/transactions/transfer.ts
  packages/crypto/src/validation/rules/models/transactions/vote.ts
  packages/crypto/src/validation/rules/public-key.ts
  packages/crypto/src/validation/rules/username.ts
  packages/crypto/src/validation/validator.ts
  packages/crypto/src/validation/validators/transaction.ts
Due: yarn lint, prettier --write

Added extra checks
  install.sh
Due: none

Update install.sh
  install.sh
Due: none

chore: add centOS support to install script and some fixes (#2024)
  install.sh
Due: none

fixed exit
  install.sh
Due: none

db exists detect
  install.sh
Due: none

chore(core-p2p): Reword an error message
  packages/core-p2p/src/peer-verifier.ts
Due: yarn lint, prettier --write

fix: block timestamp and non-quad-dotted localhost addresses
  packages/core-blockchain/lib/blockchain.js
  packages/core-p2p/__tests__/utils/is-myself.test.js
  packages/core-p2p/lib/utils/is-myself.js
Due: none

chore: fix exit in install script (#2025)
  install.sh
Due: none

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
