Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

refactor(core-http-utils): add trailing-slash plugin
  packages/core-http-utils/package.json
  packages/core-http-utils/src/plugins/trailing-slash.ts
  packages/core-http-utils/src/server/create.ts
  packages/core-vote-report/package.json
  packages/core-vote-report/src/server.ts
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

refactor(core-http-utils): add trailing-slash plugin (#3027)
  packages/core-http-utils/package.json
  packages/core-http-utils/src/plugins/trailing-slash.ts
  packages/core-http-utils/src/server/create.ts
  packages/core-vote-report/package.json
  packages/core-vote-report/src/server.ts
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

chore(new-relic): update dependencies to support node.js 12
  packages/core-new-relic/package.json
  yarn.lock
Due: prettier --write

chore(new-relic): update dependencies to support node.js 12 (#3028)
  packages/core-new-relic/package.json
  yarn.lock
Due: prettier --write

fix(core-forger): use correct IV length for encryption
  __tests__/unit/core-forger/delegate.test.ts
  packages/core-forger/src/delegate.ts
Due: yarn lint, prettier --write

wip
  packages/core-forger/package.json
  packages/core-forger/src/delegate.ts
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

refactor(core-api): integrate hapi-pagination to replace fork
  packages/core-api/package.json
  packages/core-api/src/defaults.ts
  packages/core-api/src/handlers/transactions/routes.ts
  packages/core-api/src/plugins/pagination/config.ts
  packages/core-api/src/plugins/pagination/decorate.ts
  packages/core-api/src/plugins/pagination/ext.ts
  packages/core-api/src/plugins/pagination/index.ts
  packages/core-api/src/server.ts
  yarn.lock
Due: yarn lint, prettier --write

release: 2.5.26
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-api): allow unknown properties to avoid breaking changes
  packages/core-api/src/plugins/pagination/config.ts
Due: yarn lint, prettier --write

fix(core-api): add missing dependency
  packages/core-api/package.json
Due: prettier --write

ci: remove benchmarking job and fix test triggers
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Due: none

chore: match the long version of bytebuffer
  packages/core-magistrate-crypto/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

wip
  __tests__/unit/core-transaction-pool/connection.forging.test.ts
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/crypto/transactions/deserializer.test.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-resignation.ts
  packages/core-magistrate-crypto/src/transactions/bridgechain-update.ts
  packages/crypto/src/blocks/serializer.ts
  packages/crypto/src/transactions/serializer.ts
  packages/crypto/src/transactions/types/htlc-lock.ts
  packages/crypto/src/transactions/types/multi-payment.ts
  packages/crypto/src/transactions/types/transfer.ts
Due: yarn lint, prettier --write

refactor: isAppReady to just return a boolean
  packages/core-p2p/src/socket-server/versions/utils.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

fix(crypto): match the long version of bytebuffer (#3025)
  __tests__/unit/crypto/transactions/deserializer.test.ts
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

fix(deps): update dependency long to v4
  packages/core-magistrate-crypto/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

wip
  yarn.lock
Due: none

fix(deps): update dependency @arkecosystem/utils to v0.8.8
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-jest-matchers/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

test: update p2p tests
  __tests__/integration/core-p2p/socket-server/peer-with-remote-access.test.ts
  __tests__/integration/core-p2p/socket-server/peer.test.ts
Due: yarn lint, prettier --write

feat(core): install, update and remove plugins
  packages/core-kernel/package.json
  packages/core-p2p/src/network-monitor.ts
  packages/core/bin/config/testnet/app.js
  packages/core/package.json
  packages/core/src/commands/plugin/install.ts
  packages/core/src/commands/plugin/remove.ts
  packages/core/src/commands/plugin/update.ts
  packages/core/src/common/parser.ts
  packages/core/src/services/plugins/sources/blockchain.ts
  packages/core/src/services/plugins/sources/contracts.ts
  packages/core/src/services/plugins/sources/git.ts
  packages/core/src/services/plugins/sources/npm.ts
  yarn.lock
Due: yarn lint, prettier --write

chore: setup husky and commitlint
  commitlint.config.js
  package.json
  yarn.lock
Due: prettier --write

fix: legacy multisignature schema
  __tests__/unit/crypto/transactions/schemas.test.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

fix(core-forger): use correct IV length for encryption (#3036)
  __tests__/unit/core-forger/delegate.test.ts
  packages/core-forger/package.json
  packages/core-forger/src/delegate.ts
  packages/crypto/package.json
  yarn.lock
Due: yarn lint, prettier --write

Update config.ts
  packages/core-api/src/plugins/pagination/config.ts
Due: yarn lint, prettier --write

refactor(core-api): integrate hapi-pagination to replace fork (#3034)
  packages/core-api/package.json
  packages/core-api/src/defaults.ts
  packages/core-api/src/handlers/transactions/routes.ts
  packages/core-api/src/plugins/pagination/config.ts
  packages/core-api/src/plugins/pagination/decorate.ts
  packages/core-api/src/plugins/pagination/ext.ts
  packages/core-api/src/plugins/pagination/index.ts
  packages/core-api/src/server.ts
  yarn.lock
Due: yarn lint, prettier --write

release: 2.5.26 (#3035)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

test: fix failing tests
  __tests__/integration/core-p2p/socket-server/peer.test.ts
Due: yarn lint, prettier --write

perf(core-transactions): disable TransactionReader
  packages/core-transactions/src/transaction-reader.ts
Due: yarn lint, prettier --write

fix(deps): update dependency @arkecosystem/utils to v0.9.1
  packages/core-api/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-jest-matchers/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

perf(core-database-postgres): add index on transactions.type
  packages/core-database-postgres/src/migrations/20191008000000-add-type-index-to-transactions-table.sql
Due: none

fix(crypto): add legacy multisignature schema (#3040)
  __tests__/unit/crypto/transactions/schemas.test.ts
  packages/crypto/src/transactions/types/schemas.ts
Due: yarn lint, prettier --write

perf(core-database-postgres): add index on transactions.type (#3043)
  packages/core-database-postgres/src/migrations/20191008000000-add-type-index-to-transactions-table.sql
Due: none

fix: basic validation on incoming p2p data + terminate socket on error (#3037)
  __tests__/integration/core-p2p/socket-server/peer-with-remote-access.test.ts
  __tests__/integration/core-p2p/socket-server/peer.test.ts
  packages/core-p2p/src/socket-server/versions/utils.ts
  packages/core-p2p/src/socket-server/worker.ts
Due: yarn lint, prettier --write

perf(core-transactions): disable TransactionReader (#3041)
  packages/core-transactions/src/transaction-reader.ts
Due: yarn lint, prettier --write

chore(deps): update dependency @types/hapi__joi to v16
  packages/core-api/package.json
  packages/core-container/package.json
  packages/core-elasticsearch/package.json
  packages/core-webhooks/package.json
  yarn.lock
Due: prettier --write

fix: always look up database wallet manager
  packages/core-transactions/src/handlers/delegate-resignation.ts
Due: yarn lint, prettier --write

refactor: remove obsolete code
  packages/core-transaction-pool/src/wallet-manager.ts
Due: yarn lint, prettier --write

yarn.lock
  yarn.lock
Due: none

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
