Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

fix(core-kernel): improve sorting performance (#4409)
  packages/core-kernel/package.json
  packages/core-kernel/src/services/search/pagination-service.ts
  yarn.lock
Due: yarn lint, prettier --write

fix(core-blockchain): deserializeTransactionsUnchecked (#4410)
  packages/core-database/src/database-service.ts
Due: yarn lint, prettier --write

fix(core-blockchain): rollbackDatabase
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/state-machine/actions/initialize.ts
  packages/core-blockchain/src/state-machine/actions/rollback-database.ts
Due: yarn lint, prettier --write

test(core-blockchain): rollbackDatabase
  __tests__/unit/core-blockchain/blockchain.test.ts
  __tests__/unit/core-blockchain/state-machine/actions/initialize.test.ts
  __tests__/unit/core-blockchain/state-machine/actions/rollback-database.test.ts
Due: yarn lint, prettier --write

fix(core-blockchain): rollback database (#4411)
  __tests__/unit/core-blockchain/blockchain.test.ts
  __tests__/unit/core-blockchain/state-machine/actions/initialize.test.ts
  __tests__/unit/core-blockchain/state-machine/actions/rollback-database.test.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/state-machine/actions/initialize.ts
  packages/core-blockchain/src/state-machine/actions/rollback-database.ts
Due: yarn lint, prettier --write

release: 3.0.0-next.28
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 3.0.0-next.28 (#4412)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-p2p): logs
  packages/core-p2p/src/socket-server/server.ts
Due: yarn lint, prettier --write

chore(core-p2p): prettier
  packages/core-p2p/src/socket-server/server.ts
Due: yarn lint, prettier --write

fix(core-logger-pino): separate log file per process
  packages/core-logger-pino/src/driver.ts
Due: yarn lint, prettier --write

chore(core-pino-logger): log stream errors
  packages/core-logger-pino/src/driver.ts
Due: yarn lint, prettier --write

test(core-p2p): fix tests
  __tests__/unit/core-logger-pino/driver.test.ts
  __tests__/unit/core-logger-pino/service-provider.test.ts
Due: yarn lint, prettier --write

test(core-logger-pino): re enable rotate check
  __tests__/unit/core-logger-pino/driver.test.ts
Due: yarn lint, prettier --write

chore(core-logger-pino): log stream error
  packages/core-logger-pino/src/driver.ts
Due: yarn lint, prettier --write

test(core-logger-pino): check if error on stream is logged
  __tests__/unit/core-logger-pino/driver.test.ts
Due: yarn lint, prettier --write

test(core-logger-pino): check if stream.destroy error is logged
  __tests__/unit/core-logger-pino/driver.test.ts
Due: yarn lint, prettier --write

fix(install-next): remove bad line
  install-next.sh
Due: none

fix(core-p2p): server logs (#4413)
  packages/core-p2p/src/socket-server/server.ts
Due: yarn lint, prettier --write

fix(core-logger-pino): split log files per process (#4414)
  __tests__/unit/core-logger-pino/driver.test.ts
  __tests__/unit/core-logger-pino/service-provider.test.ts
  packages/core-logger-pino/src/driver.ts
Due: yarn lint, prettier --write

chore(core-kernel): listenToShutdownSignals
  packages/core-kernel/src/application.ts
Due: yarn lint, prettier --write

test(core-kernel): listenToShutdownSignals
  __tests__/unit/core-kernel/application.test.ts
Due: yarn lint, prettier --write

Mention wallet sorting performance in changelong
  CHANGELOG.md
Due: prettier --write

fix(install-next): remove bad line (#4415)
  install-next.sh
Due: none

docs: update changelog
  CHANGELOG.md
Due: prettier --write

docs: update changelog (#4418)
  CHANGELOG.md
Due: prettier --write

release: 3.0.0-next.29
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore(core-p2p): set min version to next.29 or rc.0
  packages/core-p2p/src/defaults.ts
Due: yarn lint, prettier --write

release: 3.0.0-next.29 (#4419)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

Iterate over active delegates who have ranks
  __tests__/unit/core-state/round-state.test.ts
  packages/core-kernel/src/contracts/state/dpos.ts
  packages/core-state/src/dpos/dpos-previous-round.ts
  packages/core-state/src/round-state.ts
Due: yarn lint, prettier --write

release: 3.0.0-next.30
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-state): iterate over active delegates who have ranks (#4421)
  __tests__/unit/core-state/round-state.test.ts
  packages/core-kernel/src/contracts/state/dpos.ts
  packages/core-state/src/dpos/dpos-previous-round.ts
  packages/core-state/src/round-state.ts
Due: yarn lint, prettier --write

release: 3.0.0 next.30 (#4422)
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-manager/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

chore(core-blockchain): handle errors in removeBlocks
  packages/core-blockchain/src/blockchain.ts
Due: yarn lint, prettier --write

test(core-blockchain): handle errors in removeBlocks
  __tests__/unit/core-blockchain/blockchain.test.ts
Due: yarn lint, prettier --write

fix(core): add package argument to plugin:* commands
  packages/core/src/commands/plugin-install.ts
  packages/core/src/commands/plugin-remove.ts
  packages/core/src/commands/plugin-update.ts
Due: yarn lint, prettier --write

chore(core-test-framework): support arguments
  __tests__/unit/core-test-framework/cli/console.test.ts
  packages/core-test-framework/src/cli/console.ts
Due: yarn lint, prettier --write

test(core): plugin:* commands
  __tests__/unit/core/commands/plugin-install.test.ts
  __tests__/unit/core/commands/plugin-remove.test.ts
  __tests__/unit/core/commands/plugin-update.test.ts
Due: yarn lint, prettier --write

fix(core): debug scripts
  packages/core/package.json
Due: prettier --write

chore(core): remove excess flags
  packages/core/src/commands/snapshot-restore.ts
  packages/core/src/commands/snapshot-truncate.ts
Due: yarn lint, prettier --write

chore: update node version
  install-next.sh
  install.sh
Due: none

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
