Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

test(core-state): test walletRepository - has, hasByAddress, hasByIndex, hasByUsername and hasByPublicKey
  __tests__/unit/core-state/wallets/wallet-repository.test.ts
Due: yarn lint, prettier --write

chore(deps): update node.js to v12.16.1
  .nvmrc
Due: none

Transaction pool processor
  packages/core-api/src/controllers/transactions.ts
  packages/core-kernel/src/contracts/transaction-pool/connection.ts
  packages/core-kernel/src/contracts/transaction-pool/dynamic-fee-matcher.ts
  packages/core-kernel/src/contracts/transaction-pool/errors.ts
  packages/core-kernel/src/contracts/transaction-pool/index.ts
  packages/core-kernel/src/contracts/transaction-pool/processor.ts
  packages/core-kernel/src/contracts/transaction-pool/query.ts
  packages/core-kernel/src/ioc/identifiers.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-registration.ts
  packages/core-magistrate-transactions/src/handlers/business-resignation.ts
  packages/core-magistrate-transactions/src/handlers/business-update.ts
  packages/core-p2p/src/socket-server/versions/peer.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/dynamic-fee-matcher.ts
  packages/core-transaction-pool/src/errors.ts
  packages/core-transaction-pool/src/interfaces.ts
  packages/core-transaction-pool/src/memory.ts
  packages/core-transaction-pool/src/processor.ts
  packages/core-transaction-pool/src/query.ts
  packages/core-transaction-pool/src/service-provider.ts
  packages/core-transactions/src/handlers/one/delegate-registration.ts
  packages/core-transactions/src/handlers/one/multi-signature-registration.ts
  packages/core-transactions/src/handlers/one/second-signature-registration.ts
  packages/core-transactions/src/handlers/one/transfer.ts
  packages/core-transactions/src/handlers/one/vote.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/two/delegate-resignation.ts
  packages/core-transactions/src/handlers/two/htlc-claim.ts
  packages/core-transactions/src/handlers/two/htlc-lock.ts
  packages/core-transactions/src/handlers/two/htlc-refund.ts
  packages/core-transactions/src/handlers/two/ipfs.ts
  packages/core-transactions/src/handlers/two/multi-payment.ts
  packages/core-transactions/src/handlers/two/multi-signature-registration.ts
Due: yarn lint, prettier --write

Fix bridgechain update handler
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
Due: yarn lint, prettier --write

refactor(core-transaction-pool): processor and errors (#3514)
  packages/core-api/src/controllers/transactions.ts
  packages/core-kernel/src/contracts/transaction-pool/connection.ts
  packages/core-kernel/src/contracts/transaction-pool/dynamic-fee-matcher.ts
  packages/core-kernel/src/contracts/transaction-pool/errors.ts
  packages/core-kernel/src/contracts/transaction-pool/index.ts
  packages/core-kernel/src/contracts/transaction-pool/processor.ts
  packages/core-kernel/src/contracts/transaction-pool/query.ts
  packages/core-kernel/src/ioc/identifiers.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-resignation.ts
  packages/core-magistrate-transactions/src/handlers/bridgechain-update.ts
  packages/core-magistrate-transactions/src/handlers/business-registration.ts
  packages/core-magistrate-transactions/src/handlers/business-resignation.ts
  packages/core-magistrate-transactions/src/handlers/business-update.ts
  packages/core-p2p/src/socket-server/versions/peer.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/dynamic-fee-matcher.ts
  packages/core-transaction-pool/src/errors.ts
  packages/core-transaction-pool/src/interfaces.ts
  packages/core-transaction-pool/src/memory.ts
  packages/core-transaction-pool/src/processor.ts
  packages/core-transaction-pool/src/query.ts
  packages/core-transaction-pool/src/service-provider.ts
  packages/core-transactions/src/handlers/one/delegate-registration.ts
  packages/core-transactions/src/handlers/one/multi-signature-registration.ts
  packages/core-transactions/src/handlers/one/second-signature-registration.ts
  packages/core-transactions/src/handlers/one/transfer.ts
  packages/core-transactions/src/handlers/one/vote.ts
  packages/core-transactions/src/handlers/transaction.ts
  packages/core-transactions/src/handlers/two/delegate-resignation.ts
  packages/core-transactions/src/handlers/two/htlc-claim.ts
  packages/core-transactions/src/handlers/two/htlc-lock.ts
  packages/core-transactions/src/handlers/two/htlc-refund.ts
  packages/core-transactions/src/handlers/two/ipfs.ts
  packages/core-transactions/src/handlers/two/multi-payment.ts
  packages/core-transactions/src/handlers/two/multi-signature-registration.ts
Due: yarn lint, prettier --write

fix(core): make app.js optional as initially intended (#3510)
  packages/core/bin/config/testnet/app.js
  packages/core/src/utils.ts
Due: yarn lint, prettier --write

Throw TransactionFailedToApplyError
  packages/core-transaction-pool/src/processor.ts
  packages/core-transaction-pool/src/sender-state.ts
Due: yarn lint, prettier --write

release: 2.6.9
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

wip
  CHANGELOG.md
Due: prettier --write

release: 2.6.9 (#3515)
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

wip: nethash unique by wallet
  packages/core-magistrate-transactions/src/handlers/bridgechain-registration.ts
Due: yarn lint, prettier --write

test(core-state): add tests to search by scope
  __tests__/unit/core-state/wallets/wallet-repository.test.ts
Due: yarn lint, prettier --write

test(core-state): add tests to search by delegate scope
  __tests__/unit/core-state/wallets/wallet-repository.test.ts
Due: yarn lint, prettier --write

Remove debug line
  packages/core-transaction-pool/src/connection.ts
Due: yarn lint, prettier --write

Transaction broadcaster
  packages/core-kernel/src/contracts/p2p/index.ts
  packages/core-kernel/src/contracts/p2p/network-monitor.ts
  packages/core-kernel/src/contracts/p2p/transaction-broadcaster.ts
  packages/core-kernel/src/ioc/identifiers.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/service-provider.ts
  packages/core-p2p/src/transaction-broadcaster.ts
  packages/core-transaction-pool/src/processor.ts
Due: yarn lint, prettier --write

Couple of simple unit tests
  __tests__/unit/core-p2p/transaction-broadcaster.test.ts
  __tests__/unit/core-transaction-pool/processor.test.ts
  packages/core-p2p/src/transaction-broadcaster.ts
  packages/core-transaction-pool/src/errors.ts
Due: yarn lint, prettier --write

Move unit tests into packages
  packages/core-p2p/src/transaction-broadcaster.test.ts
  packages/core-transaction-pool/src/processor.test.ts
Due: yarn lint, prettier --write

Enable eslint for test files
  .eslintrc.json
  tsconfig.eslint.json
Due: prettier --write

Add unit tests to package.json
  package.json
Due: prettier --write

Simpler mocks
  packages/core-p2p/src/transaction-broadcaster.test.ts
  packages/core-transaction-pool/src/processor.test.ts
Due: yarn lint, prettier --write

Reset mocks instead of re-creating them
  packages/core-p2p/src/transaction-broadcaster.test.ts
  packages/core-transaction-pool/src/processor.test.ts
Due: yarn lint, prettier --write

Cleaner test subject call
  packages/core-p2p/src/transaction-broadcaster.test.ts
  packages/core-transaction-pool/src/processor.test.ts
Due: yarn lint, prettier --write

release: 2.6.0-next.11
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

Move tests back to __test__ directory
  __tests__/unit/core-p2p/transaction-broadcaster.test.ts
  __tests__/unit/core-transaction-pool/processor.test.ts
  package.json
Due: yarn lint, prettier --write

refactor(core-p2p): transaction broadcaster (#3516)
  .eslintrc.json
  __tests__/unit/core-p2p/transaction-broadcaster.test.ts
  __tests__/unit/core-transaction-pool/processor.test.ts
  packages/core-kernel/src/contracts/p2p/index.ts
  packages/core-kernel/src/contracts/p2p/network-monitor.ts
  packages/core-kernel/src/contracts/p2p/transaction-broadcaster.ts
  packages/core-kernel/src/ioc/identifiers.ts
  packages/core-p2p/src/network-monitor.ts
  packages/core-p2p/src/service-provider.ts
  packages/core-p2p/src/transaction-broadcaster.ts
  packages/core-transaction-pool/src/connection.ts
  packages/core-transaction-pool/src/errors.ts
  packages/core-transaction-pool/src/processor.ts
  tsconfig.eslint.json
Due: yarn lint, prettier --write

fix(core-p2p): disable permessage-deflate
  packages/core-p2p/src/peer-connector.ts
  packages/core-p2p/src/socket-server/index.ts
Due: yarn lint, prettier --write

fix(core-p2p): disable permessage-deflate (#3518)
  packages/core-p2p/src/peer-connector.ts
  packages/core-p2p/src/socket-server/index.ts
Due: yarn lint, prettier --write

test(core-state): walletRepo should forget a wallet in all indexers
  __tests__/unit/core-state/wallets/wallet-repository.test.ts
  packages/core-state/src/wallets/wallet-repository.ts
Due: yarn lint, prettier --write

release: 2.6.10
  CHANGELOG.md
  lerna.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-airbrake/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-raygun/package.json
  packages/core-error-tracker-rollbar/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-exchange-json-rpc/package.json
  packages/core-explorer/package.json
  packages/core-forger/package.json
  packages/core-http-utils/package.json
  packages/core-interfaces/package.json
  packages/core-jest-matchers/package.json
  packages/core-logger-pino/package.json
  packages/core-logger-signale/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-new-relic/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-wallet-api/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
  yarn.lock
Due: prettier --write

refactor(crupto, core-transactions): added export wallet attributes function, added empty expiration method on HtlcLockBuilder
  packages/core-test-framework/src/factories/factories/wallet.ts
  packages/core-test-framework/src/internal/wallet-attributes.ts
  packages/crypto/src/transactions/builders/transactions/htlc-lock.ts
Due: yarn lint, prettier --write

test(core-transactions): added handler.test.ts and fixed handler-registry.test.ts
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/core-transactions/handler.test.ts
Due: yarn lint, prettier --write

test(core-transactions): tests are now binding Query and Memory form transaction-tool
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/core-transactions/handler.test.ts
Due: yarn lint, prettier --write

test(core-transactions): added test for TransactionHandlerRegistry
  __tests__/unit/core-transactions/handler-registry.test.ts
Due: yarn lint, prettier --write

test(core-transactions): fix test names and deregister test transaction type
  __tests__/unit/core-transactions/handler-registry.test.ts
  __tests__/unit/core-transactions/handler.test.ts
Due: yarn lint, prettier --write

test(core-state): test wallet-repo getAllBy username, public key and address
  __tests__/unit/core-state/wallets/wallet-repository.test.ts
Due: yarn lint, prettier --write

test(core-state): test wallet repository reindexing
  __tests__/unit/core-state/wallets/wallet-repository.test.ts
Due: yarn lint, prettier --write

fix(core-test-framework): fix typo in wallerRepo contained getTagged
  packages/core-test-framework/src/utils/generic.ts
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
