Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
}

chore(core-snapshots-cli): migrate to typescript
  packages/core-snapshots-cli/bin/snapshot
  packages/core-snapshots-cli/jest.config.js
  packages/core-snapshots-cli/lib/commands/create.js
  packages/core-snapshots-cli/lib/commands/import.js
  packages/core-snapshots-cli/lib/commands/rollback.js
  packages/core-snapshots-cli/lib/commands/truncate.js
  packages/core-snapshots-cli/lib/commands/verify.js
  packages/core-snapshots-cli/lib/utils/index.js
  packages/core-snapshots-cli/package.json
  packages/core-snapshots-cli/src/commands/create.ts
  packages/core-snapshots-cli/src/commands/import.ts
  packages/core-snapshots-cli/src/commands/rollback.ts
  packages/core-snapshots-cli/src/commands/truncate.ts
  packages/core-snapshots-cli/src/commands/verify.ts
  packages/core-snapshots-cli/src/index.ts
  packages/core-snapshots-cli/src/utils/index.ts
  packages/core-snapshots-cli/tsconfig.json
Due: eslint --fix, prettier --write

chore: add missing scripts and files
  package.json
  packages/core-api/jest.config.js
  packages/core-api/package.json
  packages/core-api/tsconfig.json
  packages/core-blockchain/package.json
  packages/core-blockchain/src/machines/actions/rebuild-from-network.ts
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-deployer/package.json
  packages/core-elasticsearch/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/tsconfig.json
  packages/core-test-utils/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/crypto/package.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

test(core-api): fix imports
  packages/core-api/__tests__/v1/handlers/blocks.test.ts
  packages/core-api/__tests__/v1/utils.ts
  packages/core-api/__tests__/v2/handlers/blocks.test.ts
  packages/core-api/__tests__/v2/handlers/delegates.test.ts
  packages/core-api/__tests__/v2/handlers/peers.test.ts
  packages/core-api/__tests__/v2/handlers/transactions.test.ts
Due: none

chore: use local typescript compiler
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-config/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-deployer/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
Due: prettier --write

chore: add compile script
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-config/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-deployer/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
Due: prettier --write

chore: use local tslint instead of global
  .circleci/config.yml
  .circleci/configTemplate.json
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-config/package.json
  packages/core-container/package.json
  packages/core-database-postgres/package.json
  packages/core-database/package.json
  packages/core-debugger-cli/package.json
  packages/core-deployer/package.json
  packages/core-elasticsearch/package.json
  packages/core-error-tracker-bugsnag/package.json
  packages/core-error-tracker-sentry/package.json
  packages/core-event-emitter/package.json
  packages/core-forger/package.json
  packages/core-graphql/package.json
  packages/core-http-utils/package.json
  packages/core-json-rpc/package.json
  packages/core-logger-winston/package.json
  packages/core-logger/package.json
  packages/core-p2p/package.json
  packages/core-snapshots-cli/package.json
  packages/core-snapshots/package.json
  packages/core-tester-cli/package.json
  packages/core-transaction-pool/package.json
  packages/core-utils/package.json
  packages/core-vote-report/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
Due: prettier --write

fix: resolvePlugin issue and imports
  packages/core-api/__tests__/repositories/transactions.test.ts
  packages/core-api/__tests__/v2/handlers/transactions.test.ts
  packages/core-container/src/registrars/plugin.ts
  packages/core-json-rpc/__tests__/__support__/setup.ts
  packages/core-json-rpc/src/index.ts
  packages/core-json-rpc/src/server/services/network.ts
  packages/core-webhooks/__tests__/__support__/setup.ts
  tslint.json
Due: prettier --write

fix(core-api): register server methods
  packages/core-api/src/versions/1/accounts/index.ts
  packages/core-api/src/versions/1/accounts/methods.ts
  packages/core-api/src/versions/1/blocks/index.ts
  packages/core-api/src/versions/1/blocks/methods.ts
  packages/core-api/src/versions/1/delegates/index.ts
  packages/core-api/src/versions/1/delegates/methods.ts
  packages/core-api/src/versions/1/transactions/index.ts
  packages/core-api/src/versions/1/transactions/methods.ts
  packages/core-api/src/versions/2/blocks/index.ts
  packages/core-api/src/versions/2/blocks/methods.ts
  packages/core-api/src/versions/2/delegates/index.ts
  packages/core-api/src/versions/2/delegates/methods.ts
  packages/core-api/src/versions/2/transactions/index.ts
  packages/core-api/src/versions/2/transactions/methods.ts
  packages/core-api/src/versions/2/votes/index.ts
  packages/core-api/src/versions/2/votes/methods.ts
  packages/core-api/src/versions/2/wallets/index.ts
  packages/core-api/src/versions/2/wallets/methods.ts
Due: none

chore(core): execute the dist files via node
  packages/core/package.json
Due: prettier --write

fix(core-api): get cache timeout from correct file
  packages/core-api/src/versions/1/accounts/methods.ts
  packages/core-api/src/versions/1/blocks/methods.ts
  packages/core-api/src/versions/1/delegates/methods.ts
  packages/core-api/src/versions/1/transactions/methods.ts
  packages/core-api/src/versions/2/blocks/methods.ts
  packages/core-api/src/versions/2/delegates/methods.ts
  packages/core-api/src/versions/2/transactions/methods.ts
  packages/core-api/src/versions/2/votes/methods.ts
  packages/core-api/src/versions/2/wallets/methods.ts
Due: none

test(core-api): adjust core-test-utils usage
  .circleci/config.yml
  packages/core-api/__tests__/__support__/setup.ts
  packages/core-api/__tests__/v1/handlers/accounts.test.ts
  packages/core-api/__tests__/v1/handlers/blocks.test.ts
  packages/core-api/__tests__/v1/handlers/delegates.test.ts
  packages/core-api/__tests__/v1/handlers/loader.test.ts
  packages/core-api/__tests__/v1/handlers/peers.test.ts
  packages/core-api/__tests__/v1/handlers/signatures.test.ts
  packages/core-api/__tests__/v1/handlers/transactions.test.ts
  packages/core-api/__tests__/v1/utils.ts
  packages/core-api/__tests__/v2/handlers/blocks.test.ts
  packages/core-api/__tests__/v2/handlers/delegates.test.ts
  packages/core-api/__tests__/v2/handlers/node.test.ts
  packages/core-api/__tests__/v2/handlers/peers.test.ts
  packages/core-api/__tests__/v2/handlers/transactions.test.ts
  packages/core-api/__tests__/v2/handlers/votes.test.ts
  packages/core-api/__tests__/v2/handlers/wallets.test.ts
  packages/core-api/__tests__/v2/utils.ts
  packages/core-api/jest.config.js
  packages/core-api/package.json
  packages/core-api/src/server.ts
  packages/core-api/src/versions/1/peers/controller.ts
  packages/core-api/src/versions/1/peers/transformer.ts
  packages/core-api/src/versions/2/peers/transformer.ts
  packages/core-api/src/versions/2/transactions/controller.ts
  packages/core-api/src/versions/2/transactions/schema.ts
  packages/core-api/src/versions/2/transactions/transformer.ts
Due: eslint --fix, prettier --write

fix(core-test-utils): bad imports and method names
  packages/core-test-utils/package.json
  packages/core-test-utils/src/generators/transactions/transfer.ts
  packages/core-test-utils/src/generators/wallets.ts
  packages/core-test-utils/src/helpers/api.ts
  packages/core-test-utils/src/helpers/container.ts
  packages/core-test-utils/src/helpers/index.ts
  packages/core-test-utils/src/index.ts
  packages/core-test-utils/src/matchers/index.ts
  packages/core-test-utils/types/index.d.ts
Due: prettier --write

test(core-test-utils): fix bad method calls
  packages/core-test-utils/__tests__/generators/transactions/transfer.test.ts
  packages/core-test-utils/__tests__/matchers/transactions/valid-second-signature.test.ts
Due: none

chore(core-api): do not bail tests on failure
  packages/core-api/jest.config.js
Due: eslint --fix, prettier --write

test(core-webhooks): adjust core-test-utils usage
  packages/core-webhooks/__tests__/__support__/setup.ts
Due: none

refactor: rename some methods and exports for clarity
  packages/core-test-utils/__tests__/generators/transactions.test.ts
  packages/core-test-utils/__tests__/generators/transactions/delegate.test.ts
  packages/core-test-utils/__tests__/generators/transactions/signature.test.ts
  packages/core-test-utils/__tests__/generators/transactions/vote.test.ts
  packages/core-test-utils/src/fixtures/index.ts
  packages/core-test-utils/src/fixtures/testnet/delegates.ts
  packages/core-test-utils/src/fixtures/testnet/passphrases.ts
  packages/core-test-utils/src/generators/transactions/delegate.ts
  packages/core-test-utils/src/generators/transactions/signature.ts
  packages/core-test-utils/src/generators/transactions/transaction.ts
  packages/core-test-utils/src/generators/transactions/transfer.ts
  packages/core-test-utils/src/generators/transactions/vote.ts
  packages/core-test-utils/src/index.ts
  packages/core-transaction-pool/__tests__/__support__/setup.ts
  packages/core-transaction-pool/__tests__/connection.test.ts
  packages/core-transaction-pool/__tests__/guard.test.ts
  packages/core-transaction-pool/__tests__/pool-wallet-manager.test.ts
Due: none

* use the transformer
  packages/core-api/lib/versions/2/handlers/node.js
  packages/core-api/lib/versions/2/transformers/ports.js
Due: eslint --fix, prettier --write

fix(core-test-utils): export all helpers
  packages/core-api/__tests__/__support__/setup.ts
  packages/core-forger/__tests__/__support__/setup.ts
  packages/core-test-utils/package.json
  packages/core-test-utils/src/helpers/container.ts
  packages/core-test-utils/src/index.ts
  packages/core-transaction-pool/__tests__/__support__/setup.ts
  packages/core-webhooks/__tests__/__support__/setup.ts
Due: prettier --write

chore: add setup command
  lerna.json
  package.json
Due: prettier --write

fix: use require to get version
  packages/core-snapshots-cli/src/index.ts
  packages/core/src/index.ts
Due: none

fix(core-api): ensure safe integer range for block height lookups
  packages/core-api/lib/repositories/blocks.js
Due: eslint --fix, prettier --write

chore: update changelogs and bump versions
  .circleci/config.yml
  packages/core-api/CHANGELOG.md
  packages/core-api/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write

chore: clean
  .circleci/config.yml
  packages/core-api/lib/repositories/blocks.js
  yarn.lock
Due: eslint --fix, prettier --write

fix(core-api): ensure safe integer range for block height lookups (#1673)
  .circleci/config.yml
  packages/core-api/CHANGELOG.md
  packages/core-api/lib/repositories/blocks.js
  packages/core-api/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(core): update changelog
  packages/core/CHANGELOG.md
Due: prettier --write

fix(core-test-utils): wrong config path
  packages/core-test-utils/src/helpers/container.ts
Due: none

fix(core-test-utils): change export to import
  packages/core-test-utils/src/index.ts
  packages/core-test-utils/src/matchers/api/index.ts
  packages/core-test-utils/src/matchers/blockchain/index.ts
  packages/core-test-utils/src/matchers/fields/index.ts
  packages/core-test-utils/src/matchers/index.ts
  packages/core-test-utils/src/matchers/models/index.ts
  packages/core-test-utils/src/matchers/transactions/index.ts
  packages/core-test-utils/src/matchers/transactions/types/index.ts
Due: none

perf: optimize the way we estimate the number of rows
  packages/core-api/__tests__/repositories/transactions.test.js
  packages/core-api/__tests__/v2/handlers/transactions.test.js
  packages/core-api/lib/repositories/blocks.js
  packages/core-api/lib/repositories/repository.js
  packages/core-api/lib/repositories/transactions.js
Due: eslint --fix, prettier --write

fix(core-blockchain): make green
  packages/core-blockchain/__tests__/__support__/setup.ts
  packages/core-blockchain/__tests__/blockchain.test.ts
  packages/core-blockchain/__tests__/machines/actions/fork.test.ts
  packages/core-blockchain/__tests__/machines/actions/sync-with-network.test.ts
  packages/core-blockchain/__tests__/machines/blockchain.test.ts
  packages/core-blockchain/__tests__/state-machine.test.ts
  packages/core-blockchain/__tests__/state-storage.test.ts
  packages/core-test-utils/src/fixtures/testnet/blocks.101-155.ts
  packages/core-test-utils/src/fixtures/testnet/blocks.2-100.ts
Due: none

refactor: naming
  packages/core-blockchain/__tests__/__support__/setup.ts
  packages/core-test-utils/src/helpers/container.ts
Due: none

fix(core-p2p): tests
  packages/core-database/__tests__/__support__/setup.ts
  packages/core-graphql/__tests__/__support__/setup.ts
  packages/core-json-rpc/__tests__/__support__/setup.ts
  packages/core-p2p/__tests__/__support__/setup.ts
  packages/core-p2p/__tests__/__support__/utils.ts
  packages/core-p2p/__tests__/court/guard.test.ts
  packages/core-p2p/__tests__/monitor.test.ts
  packages/core-p2p/__tests__/peer.test.ts
  packages/core-p2p/__tests__/server/1.test.ts
  packages/core-p2p/__tests__/server/internal.test.ts
  packages/core-p2p/__tests__/utils/check-dns.test.ts
  packages/core-p2p/__tests__/utils/check-ntp.test.ts
  packages/core-p2p/src/utils/check-dns.ts
  packages/core-p2p/src/utils/check-ntp.ts
  packages/core-p2p/src/utils/is-myself.ts
  packages/core-p2p/src/utils/is-whitelist.ts
  packages/core-p2p/src/utils/network-state.ts
  packages/core-test-utils/src/generators/transactions/transfer.ts
  packages/core-test-utils/src/helpers/container.ts
Due: none

refactor: move logger and config out of class
  packages/core-p2p/src/peer.ts
Due: none

refactor: misc
  packages/core-database/__tests__/__support__/setup.ts
  packages/core-database/__tests__/interface.test.ts
  packages/core-database/__tests__/wallet-manager.test.ts
  packages/core-test-utils/src/generators/transactions/delegate.ts
  packages/core-test-utils/src/generators/transactions/signature.ts
  packages/core-test-utils/src/generators/transactions/transaction.ts
  packages/core-test-utils/src/generators/transactions/transfer.ts
  packages/core-test-utils/src/generators/transactions/vote.ts
Due: none

fix: bad imports, type hints and method calls
  .circleci/config.yml
  packages/core-api/__tests__/__support__/setup.ts
  packages/core-api/src/versions/1/transactions/transformer.ts
  packages/core-api/src/versions/2/transactions/transformer.ts
  packages/core-blockchain/src/blockchain.ts
  packages/core-blockchain/src/state-storage.ts
  packages/core-database/src/repositories/wallets.ts
  packages/core-debugger-cli/src/commands/verify.ts
  packages/core-elasticsearch/src/index/transaction.ts
  packages/core-forger/__tests__/__support__/setup.ts
  packages/core-test-utils/src/generators/transactions/transaction.ts
  packages/core-test-utils/src/matchers/transactions/types/delegate.ts
  packages/core-test-utils/src/matchers/transactions/valid.ts
  packages/core-transaction-pool/__tests__/__support__/setup.ts
  packages/core-webhooks/__tests__/__support__/setup.ts
  packages/crypto/src/crypto/crypto.ts
  packages/crypto/src/crypto/slots.ts
  packages/crypto/src/validation/rules/models/transactions.ts
  yarn.lock
Due: none
