Repository ArkEcosystem/core: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
    "*.ts": ["yarn lint", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
}

test(core-cli): skip peerDependency installation if satisfies range
  packages/core-cli/__tests__/services/installer.test.ts
Due: yarn lint, prettier --write

test(core): reinstall.test.ts
  packages/core/__tests__/commands/reinstall.test.ts
Due: yarn lint, prettier --write

fix(core): restart running processes without prompts when --force is used
  packages/core/src/commands/reinstall.ts
Due: yarn lint, prettier --write

refactor(core): --updateProcessManager defaults to false
  packages/core/src/commands/update.ts
Due: yarn lint, prettier --write

test(core): update.test.ts
  packages/core/__tests__/commands/update.test.ts
Due: yarn lint, prettier --write

test(core-cli): updater.test.ts
  packages/core-cli/__tests__/services/updater.test.ts
Due: yarn lint, prettier --write

test(core-cli): installer
  packages/core-cli/__tests__/services/installer.test.ts
Due: yarn lint, prettier --write

fix(core-cli): installer
  packages/core-cli/src/services/installer.ts
Due: yarn lint, prettier --write

test(core): config-cli.test.ts
  packages/core/__tests__/commands/config-cli.test.ts
Due: yarn lint, prettier --write

fix(core-cli): skip peerDependency installation if satisfies range
  packages/core-cli/src/services/installer.ts
Due: yarn lint, prettier --write

fix(core): skip prompts if --force is used in `reinstall` command (#4607)
  packages/core/__tests__/commands/reinstall.test.ts
  packages/core/src/commands/reinstall.ts
Due: yarn lint, prettier --write

refactor(core): set --updateProcessManager to false by default in `update` command (#4608)
  packages/core/__tests__/commands/update.test.ts
  packages/core/src/commands/update.ts
Due: yarn lint, prettier --write

fix(core-cli): delete better_sqlite3.node before installing (#4605)
  __tests__/unit/core-cli/services/installer.test.ts
  packages/core-cli/src/services/installer.ts
Due: yarn lint, prettier --write

fix(core-cli): peerDependencies installation (#4609)
  packages/core-cli/__tests__/services/installer.test.ts
  packages/core-cli/__tests__/services/updater.test.ts
  packages/core-cli/src/services/installer.ts
  packages/core/__tests__/commands/config-cli.test.ts
Due: yarn lint, prettier --write

release: 4.0.0-next.6
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 4.0.0-next.6 (#4610)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(github): devnet-sync.yml
  .github/workflows/devnet-sync.yml
Due: none

fix(github): run on push
  .github/workflows/devnet-sync.yml
Due: none

fix(github): run on push - mainnet-sync.yml
  .github/workflows/mainnet-sync.yml
Due: none

Update mainnet-sync.yml
  .github/workflows/mainnet-sync.yml
Due: none

Update devnet-sync.yml
  .github/workflows/devnet-sync.yml
Due: none

ci: adjust devnet-sync.yml (#4611)
  .github/workflows/devnet-sync.yml
  .github/workflows/mainnet-sync.yml
Due: none

fix(core-cli): install latest version from channel
  packages/core-cli/src/services/source-providers/abstract-source.ts
  packages/core-cli/src/services/source-providers/errors.ts
  packages/core-cli/src/services/source-providers/npm.ts
Due: yarn lint, prettier --write

test(core-cli): install latest version from channel
  packages/core-cli/__tests__/services/source-providers/npm.test.ts
Due: yarn lint, prettier --write

fix(core-cli): update package to latest version on channel (#4612)
  packages/core-cli/__tests__/services/source-providers/npm.test.ts
  packages/core-cli/src/services/source-providers/abstract-source.ts
  packages/core-cli/src/services/source-providers/errors.ts
  packages/core-cli/src/services/source-providers/npm.ts
Due: yarn lint, prettier --write

release: 4.0.0-next.7
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 4.0.0-next.7 (#4613)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

test(core-api): calculate approval from current supply
  __tests__/unit/core-api/services/delegate-search-service.test.ts
Due: yarn lint, prettier --write

fix(core-api): calculate approval from current supply
  packages/core-api/src/services/delegate-search-service.ts
Due: yarn lint, prettier --write

test(integration): calculate approval from current supply
  __tests__/integration/core-api/services/__support__/setup.ts
Due: yarn lint, prettier --write

fix(core-api): use current supply to calculate delegates approval (#4615)
  __tests__/integration/core-api/services/__support__/setup.ts
  __tests__/unit/core-api/services/delegate-search-service.test.ts
  packages/core-api/src/services/delegate-search-service.ts
Due: yarn lint, prettier --write

fix(core-kernel): PaginationService
  packages/core-kernel/src/services/search/pagination-service.ts
Due: yarn lint, prettier --write

Lint
  packages/core-kernel/src/services/search/pagination-service.ts
Due: yarn lint, prettier --write

fix(core-p2p): use Promise.allSettled
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

fix(core-kernel): fix pagination results order (#4617)
  packages/core-kernel/src/services/search/pagination-service.ts
Due: yarn lint, prettier --write

fix(core-p2p): use Promise.allSettled on block download (#4618)
  packages/core-p2p/src/network-monitor.ts
Due: yarn lint, prettier --write

release: 4.0.0-next.8
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

release: 4.0.0-next.8 (#4620)
  packages/core-api/package.json
  packages/core-blockchain/package.json
  packages/core-cli/package.json
  packages/core-database/package.json
  packages/core-forger/package.json
  packages/core-kernel/package.json
  packages/core-logger-pino/package.json
  packages/core-magistrate-api/package.json
  packages/core-magistrate-crypto/package.json
  packages/core-magistrate-transactions/package.json
  packages/core-p2p/package.json
  packages/core-snapshots/package.json
  packages/core-state/package.json
  packages/core-test-framework/package.json
  packages/core-transaction-pool/package.json
  packages/core-transactions/package.json
  packages/core-webhooks/package.json
  packages/core/package.json
  packages/crypto/package.json
Due: prettier --write

fix(core-api): create block and transaction sorting schemas
  packages/core-api/src/resources-new/block.ts
  packages/core-api/src/resources-new/transaction.ts
  packages/core-api/src/routes/blocks.ts
  packages/core-api/src/routes/delegates.ts
  packages/core-api/src/routes/transactions.ts
  packages/core-api/src/routes/votes.ts
  packages/core-api/src/routes/wallets.ts
  packages/core-api/src/schemas.ts
Due: yarn lint, prettier --write
